[2021-10-13 16:00] CAMOBAP opened #1648 "use vcpkg for all platforms"
## Description

It will be nice to use `vcpkg` for all our platforms to reduce the amount of shell script

## Expected Behavior

This will simplify and unify the build process

## Actual Behavior

For now, we have a huge amount of shell scripts related to the compilation

[2021-10-14 14:28] #1585 closed

[2021-10-14 14:30] ronaldtse opened #1650 "LGTM alerts: Declaration hides parameter C++"
## Description
<img width="1231" alt="Screenshot 2021-10-14 at 10 29 36 PM" src="https://user-images.githubusercontent.com/11865/137338188-79bbc9e3-c62a-43f0-a2ee-52aa960acb1d.png">

<img width="1231" alt="Screenshot 2021-10-14 at 10 29 46 PM" src="https://user-images.githubusercontent.com/11865/137338216-7cec3ad0-0abe-4529-9419-a27481539115.png">

<img width="1228" alt="Screenshot 2021-10-14 at 1

[2021-10-14 14:32] ronaldtse opened #1651 "LGTM alerts: Python test suite alerts"
## Description

32 alerts in total. Too long to paste... See for yourself...

https://lgtm.com/projects/g/rnpgp/rnp/alerts/?mode=list&lang=python

[2021-10-16 23:49] bugcrazy commented on #1404
There are more tickets related to this license issues! #1422 and #1403

[2021-10-17 08:31] ni4 commented on #1422
@ronaldtse should we prioritise this?

[2021-10-17 18:16] #1596 closed

[2021-10-18 09:16] ni4 opened #1653 "Check code duplications via PMD/CPD"
## Description

We seems to have bunch of code duplications in the codebase, and it should be possible to refactor at least part of them.

Command to detect duplications via pmd cpd:
`./bin/run.sh cpd --minimum-tokens 50 --language cpp --files ../rnp/src/ --exclude ../rnp/src/tests > rnp-dup.txt`
Sample output is attached.

[rnp-dup.txt](https://github.com/rnpgp/rnp/files/7363349/rnp-dup.txt)

[2021-10-18 18:00] CAMOBAP opened #1654 "DOWNLOAD_RUBYRNP [: -v: unary operator expected"
## Description

code `[ -v VARIABLE]` produce warning on macOS and it doesn't work

[code]

As result it's impossible to build `librnp` without `ruby-rnp` on macOS

## Steps to Reproduce

1. run build on macos

## Expected Behavior

With passed `env DOWNLOAD_RUBYRNP=OFF` it should not require download ruby-rnp` as it works on Linux

## Actual Behavior

It downloads `ruby-rnp` and it unnecessary du

[2021-10-19 10:15] #1654 closed, assigned to CAMOBAP

[2021-10-23 09:43] ni4 opened #1660 "rnpkeys --numbits does nothing."
## Description

rnpkeys `--numbits` parameter is described in man page and must set generated key's size, however currently does nothing except settings corresponding option in the config.

rnpkeys should be updated to make use of it.

[2021-10-23 09:59] #1660 closed, assigned to nobody

[2021-10-29 20:15] dkg opened #1664 "test_sym_encryption__rnp_aead fails on armhf and armel when AEAD chunk size is too large"
on [armel](https://buildd.debian.org/status/fetch.php?pkg=rnp&arch=armel&ver=0.15.2-3&stamp=1635525726&raw=0) and [armhf](https://buildd.debian.org/status/fetch.php?pkg=rnp&arch=armhf&ver=0.15.2-3&stamp=1635525577&raw=0) (debian's two 32-bit arm architectures), the `test_sym_encryption__rnp_aead` test fails.  (warning: those build logs are ~60MiB in size and are a lot to render!)

they fail during

[2021-10-30 22:59] dkg commented on #1664
in debian, i've gotten the builds to stop failing on armel and armhf by dropping larger aead chunk sizes with [this patch](https://salsa.debian.org/debian/rnp/-/blob/debian/main/debian/patches/0002-Avoid-testing-chunk-sizes-greater-than-16.patch).

[2021-10-30 23:04] dkg opened #1665 "rnp fails to build on GNU/Hurd (`PATH_MAX` is not available)"
Over on the debian Hurd build daemon, [rnp fails to build from source](https://buildd.debian.org/status/fetch.php?pkg=rnp&arch=hurd-i386&ver=0.15.2-4&stamp=1635606066&raw=0).  (Hurd [has no PATH_MAX](https://www.gnu.org/software/hurd/hurd/porting/guidelines.html#PATH_MAX_tt_MAX_PATH_tt_MAXPATHL))

Here's some compiler errors stumbling on the problem:

[code]

[2021-11-01 05:50] ronaldtse commented on #1405
@maxirmx could you please help with this? Thanks!

[2021-11-01 05:53] ronaldtse commented on #1129
@maxirmx would you have time to handle this? Thanks.

[2021-11-01 05:53] #1064 closed

[2021-11-01 07:23] maxirmx commented on #1129
@ronaldtse
Yes, I can handle it.  No sure though what operating systems to support. Ubuntu ?

[2021-11-01 08:06] ronaldtse commented on #1129
@maxirmx We will want to handle the platforms that Thunderbird builds RNP on. Do we have a list of those platforms somewhere?

[2021-11-02 09:49] ni4 commented on #1414
Not sure whether it is the only possible solution, but managed things to work on centos8 container via `--version-script`:
[code]

Now output is as following:
[code]
@dkg Is this output is good enough? (still, needs to find out how to make this work on macOS, and check CODEABI things).

[2021-11-03 15:47] maxirmx commented on #1129
Clang issues are only indirectly related to rnp.
The first one:

**Target:**  CentOS 8
**Tests**   (normal, 2.3.1, clang, clang++)
**Module:**  libgcrypt / 1.9.3
**Error:**
[code]

Other tests use  libgcrypt /v1.8.7  and  libgcrypt / v1.9.0-beta277  which are compiled without issues.

[2021-11-03 15:49] maxirmx opened #1668 "clang/libgcrypt v1.9.3 issue (CentOS 8 workflow)"
**Target:**  CentOS 8
**Tests**   (normal, 2.3.1, clang, clang++)
**Module:**  libgcrypt / 1.9.3
**Error:**
[code]

Other tests use  libgcrypt /v1.8.7  and  libgcrypt / v1.9.0-beta277  which are compiled without issues.

_Originally posted by @maxirmx in https://github.com/rnpgp/rnp/issues/1129#issuecomment-959510564_

[2021-11-03 15:57] maxirmx commented on #1129
**Target:** CentOS 8
**Tests** (normal, beta, clang, clang++)
**Module:** GnuPG v2.3.0-beta983
**Error:**
[code]
Other tests use GnuPG v2.2.24 whicj compiles without issues.

[2021-11-03 15:57] maxirmx opened #1669 "clang/GnuPG v2.3.0-beta983 issue (CentOS 8 workflow)"
**Target:** CentOS 8
**Tests** (normal, beta, clang, clang++),  (sanitize, beta, clang, clang++)
**Module:** GnuPG v2.3.0-beta983
**Error:**
[code]
Other tests use GnuPG v2.2.24 whicj compiles without issues.

_Originally posted by @maxirmx in https://github.com/rnpgp/rnp/issues/1129#issuecomment-959545493_

[2021-11-03 16:11] ni4 commented on #1669
@maxirmx Probably we should use later beta (983 was picked just because it was the latest at the time when workflow was created).
Maybe this commits is related: https://dev.gnupg.org/rG6aff8a132815a84bab69401c1e7de96ec549fbf2

[2021-11-03 16:25] maxirmx commented on #1669
If they do not support and/or test clang in their beta build it will be a real adventure to rely on it here

[2021-11-03 16:26] dkg commented on #1414
This is an interesting proposal.  maybe the `global` line should be `rnp_*` - do you need the leading `*` ?  I don't think you want to export symbols that just happen to have `rnp_` anywhere in the name.

I'm also not confident in the choice of version tag: `CODEABI_0.15.2` seems not right, but i dont really understand the version tags well. I think [section 3 of Drepper's "How To Write Shared Lib

[2021-11-03 16:29] dkg commented on #1414
ah, looking at #1414 it looks like you've arrived at the same conclusion for the version-script, that's great! (i can't vouch for the macOS variant though)

[2021-11-03 16:34] maxirmx commented on #1129
Target: CentOS 7
Tests pkgconfig-cmake-target (no, clang, clang++), pkgconfig-cmake-target (yes, clang, clang++
Module: librepgp

[code]

[2021-11-03 16:35] maxirmx opened #1670 "clang/rnp build issue (CentOS 7 workflow)"
Target: CentOS 7
Tests pkgconfig-cmake-target (no, clang, clang++), pkgconfig-cmake-target (yes, clang, clang++
Module: librepgp

[code]

_Originally posted by @maxirmx in https://github.com/rnpgp/rnp/issues/1129#issuecomment-959670336_

[2021-11-03 18:09] ni4 commented on #1414
@dkg didn't manage to read the whole Drepper's article yet, but even first pages gives a lot of new information. Let's drop version tag for now as FFI API is not planned to be changed any time soon (except new functions/other functions deprecation).

Most likely we'll merge and include changes to the v0.16.0, which still require some other issues to be fixed before releasing (see https://github.co

[2021-11-03 23:02] ronaldtse commented on #1669
@maxirmx only RNP needs to be built with clang. Test modules like gnupg are installed using https://github.com/rnpgp/gpg-build-scripts and we don't care how they are built in this current repository. Thanks.

[2021-11-04 00:40] ronaldtse commented on #1668
@maxirmx we don't need GnuPG to work with clang, only RNP libraries. Thanks.

[2021-11-04 10:12] ni4 commented on #1650
Fixed via #1652, so closing.

[2021-11-04 10:12] #1650 closed

[2021-11-04 10:16] ni4 opened #1675 "Implement Argon S2K support."
## Description

Latest OpenPGP crypto refresh draft adds Argon support. We should implement it.
See : https://datatracker.ietf.org/doc/html/draft-ietf-openpgp-crypto-refresh-04

[2021-11-04 10:22] ni4 opened #1676 "Limit AEAD chunk sizes to 16."
## Description

As previously larger chunk sizes were documented, since of [draft-ietf-openpgp-crypto-refresh-04](https://datatracker.ietf.org/doc/html/draft-ietf-openpgp-crypto-refresh-04#section-5.16) 16 is the maximum chunk size:

An implementation **MUST** accept chunk size octets with values from 0 to 16.  An implementation **MUST NOT** create data with a chunk size octet value larger than 16

[2021-11-04 10:38] ni4 commented on #1676
Also re-check whether things work well on 32-bit machines:

pgp_dest_encrypted_param_t.chunklen is of type `size_t`, which could be 32-bit.
However, it is set to `param->chunklen = 1L << (hdr[3] + 6);`.

[2021-11-04 15:52] maxirmx commented on #1669
I will enforce gnu toolchain in _ci/lib/cacheable_install_functions.inc.sh_
This will fix CentOS8/clang workflow

[2021-11-04 16:02] ronaldtse commented on #1669
Thanks @maxirmx !

[2021-11-04 20:55] maxirmx commented on #1668
same fix as #1669 (force gcc toolchain for GnuPg)

[2021-11-05 03:51] #1439 closed

[2021-11-05 03:54] #1664 closed

[2021-11-05 11:58] maxirmx commented on #1670
Two issues to be fixed:

1. llvm-toolset-7.0  is selected for ordinary tests but not for packaging tests.  So for packaging it runs clang 3.4 which is not c++ 11 compatible
2. CI scripts for this scenario not always honour CC, CXX environment settings. It creates gcc/clang mix that does not work

[2021-11-06 01:41] #1414 closed

[2021-11-07 21:31] maxirmx commented on #1405
@ronaldtse
I believe some clarification is required

1. Native or mingw or two installers ?
2. Installer normally have some prelude. At least a screen saying  "Hello, thank you for choosing, please read and accept license agreement" ...    I need at least some general guidance.
3. What do we want to install ?  Application ? SDK (library, headers, samples, link to the docs, ...)?  Both ?

[2021-11-08 01:49] ronaldtse commented on #1405
@maxirmx
1. What would you recommend?
2. Yes, we will be able to provide that initial paragraph.
3. We want to install the CLI tools and the library/headers. For documentation they can find on our website at rnpgp.org.

[2021-11-08 02:01] ronaldtse commented on #1351
Waiting for https://github.com/actions/virtual-environments/issues/2187

[2021-11-08 15:28] maxirmx commented on #1405
@ronaldtse
I would do native, if it was my choice. However, I know that I adhere to extreme position that is not shared by everyone.

[2021-11-09 12:53] antonsviridenko commented on #1405
@maxirmx

I think that most suitable Windows installer building tool is NSIS, as already mentioned. It provides welcome screen, license text dialogs and so on. You only need to write NSIS script and call nsis compiler.

[2021-11-09 19:14] maxirmx commented on #1405
@antonsviridenko
Thank you
I am asking about text/design of welcome screen and license itself. I do not think that NSIS already has these texts for RNP

[2021-11-09 19:14] maxirmx commented on #1405
ref https://github.com/rnpgp/rnp/issues/1402

[2021-11-10 01:32] ronaldtse opened #1685 "Fix centos8/pkgconfig-cmake-target job that is disabled in CI"
## Description

The `centos8/pkgconfig-cmake-target` job is disabled in CI. @maxirmx fixed it in #1666

From #1684.

[2021-11-10 01:33] ronaldtse opened #1686 "Functionality that helps run/debug CI scripts locally (outside GHA environment)"
## Description

CI scripts are hard to debug locally. @maxirmx has provided scripts to help do this in #1666.

From #1684 .

[2021-11-10 01:39] ronaldtse opened #1687 "Clean up history to remove failed merge of #1666 and #1682"
## Description

#1666 was merged in error, and subsequently #1682 reverted the commits of #1666.

This severely polluted the commit history. There is only one additional commit on top of #1682, 0e91248e90c8b02f6bcade9bb239bba0de97c601, which can be cherry-picked after resetting the tip to 7c45aa3016afc3a3228b3c115ad3464bbca97091.

This task is to force clean-up that history.

[2021-11-10 01:43] ronaldtse commented on #1687
Done. The failed merges are removed as confirmed here:

[code]

[2021-11-10 01:43] #1687 closed

[2021-11-10 06:49] #1665 closed

[2021-11-10 08:56] ronaldtse commented on #1405
In any case we need to provide an MSI or MSX file so that managed installs can happen on Windows.

The text could be:
"Welcome to the RNP installer. You will be guided through the steps necessary to install RNP, including its command-line tool and its software libraries."

The license should be taken from the LICENSE file we have at repo root.

[2021-11-10 09:14] ronaldtse opened #1689 "Stabilising CI builds for "centos7 / centos7 tests stable": LeakSanitizer issues"
We have been seeing LeakSanitizer failures happening rather frequent on "centos7 / centos7 tests stable" but additional re-runs will pass.

Example here:
https://github.com/rnpgp/rnp/runs/4162209677?check_suite_focus=true

[code]

_Originally posted by @ronaldtse in https://github.com/rnpgp/rnp/issues/1688#issuecomment-964924612_

[2021-11-10 10:40] ronaldtse opened #1690 "Consolidate centos8 and centos8-ossl GHA workflows"
Both workflows contain multiple identical steps. We should move the "BACKEND" specification as the GHA workflow `matrix` value.

[2021-11-10 10:44] ronaldtse opened #1691 "Add OpenSSL tests for ubuntu, debian9, windows (and maybe centos7)"
Similar to centos8-ossl, we should add a modular BACKEND matrix value for these platforms.

[2021-11-10 11:54] dkg commented on #1281
@ni4 wrote:

It looks like Thunderbird [is expecting some sort of API to disable specific features at runtime](https://bugzilla.mozilla.org/show_bug.cgi?id=1732809).  @kaie, would @ni4's proposal above be sufficient?

[2021-11-10 12:04] ronaldtse commented on #1281
@dkg the latest proposal is located here: https://github.com/rnpgp/rnp/pull/1524#issuecomment-956019966 .

@kaie could you let us know if it satisfies the needs?

[2021-11-10 12:25] ni4 commented on #1281
In addition, we'll have some compiler switches to disable certain algorithms completely from the compilation (already have few of them for OpenSSL backend).

[2021-11-10 13:18] dkg commented on #1281
I don't know that compiler switches will be useful for thunderbird's purpose, if we're talking about thunderbird using the system-installed librnp -- if that's the case, then thunderbird won't get to choose compile-time switches, right?

I raise this because i'd prefer that on debian, thunderbird uses the system librnp, due to [debian policy of avoiding embedded code copies](https://wiki.debian.or

[2021-11-11 02:22] #1129 closed

[2021-11-11 02:22] #1670 closed

[2021-11-11 02:22] #1668 closed

[2021-11-11 02:22] #1669 closed

[2021-11-12 04:08] ribose-jeffreylau opened #1694 "Optimize time of tests"
## Description

Tests on GitHub Actions take a long while to complete, despite individual tests not taking too long.  This could be due to the sheer number of tests.

Investigate whether the number of tests can be reduced, by cutting down on the number of build combinations / etc., without impacting the confidence / coverage of the tests.

## Expected Behavior

The entire test suite takes within 1

[2021-11-12 07:18] ronaldtse commented on #1648
Agree with @CAMOBAP on vcpkg, will streamline our dependency management. Let’s get this done.

[2021-11-12 07:25] CAMOBAP commented on #1648
@ronaldtse yep I already have some progress in this direction and will push first PR in next 1-2 days

[2021-11-12 07:32] ronaldtse commented on #1648
Thank you @CAMOBAP , didn't know you were working on it! Next time please take the task so we won't put in double work. 👍

[2021-11-12 07:34] CAMOBAP commented on #1648
@ronaldtse for the  next time I will add a comment that it's in progress, to not confuse others

In Progress

[2021-11-12 09:12] ni4 commented on #1281
Yeah, compile switches will not for TB purpose (for that purpose we'll have security profiles). Currently it is to be able to disable certain features on systems where backend doesn't support them. Another purpose could to disable some algorithm completely due to security reasons, when compatibility with old implementations or data is not required.

[2021-11-12 10:10] ni4 commented on #1694
I see the following duplications:
- redundant coverage tests. With the same backend coverage report should be the same independent on OS. I.e. run only one coverage job on centos 8 with Botan backend and OpenSSL backend. In addition, Codecov doesn't seem to work at all :)
- redundant sanitizer jobs. Shouldn't it be enough to rung single sanitize job for Centos 8 and for macOS?
- redundant GPG beta

[2021-11-12 10:33] ronaldtse commented on #1281
Great comments here and we can probably consider the availability of algorithms in this order:

- availability or the lack thereof in a backend/system
- enabled or disabled in compilation
- accepted or rejected by runtime configuration

We will need to support these cases.

[2021-11-14 08:46] #1594 closed

[2021-11-14 17:53] CAMOBAP commented on #1648
I am still in the middle, here are some findings which I have so far:
 - local I tested building dependencies as static libraries and shared libraries

For static deps:
 - `vcpkg install --triplet x64-linux $(cat vcpkg.txt)`
 - `cmake -B ./build -DCMAKE_BUILD_TYPE=Release -DVCPKG_TARGET_TRIPLET=x64-linux -DCMAKE_TOOLCHAIN_FILE=${VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake .`

For shared deps:
Cre

[2021-11-15 14:14] ni4 commented on #506
Closing as we have man pages as well as reworked help message via #1661

[2021-11-15 14:18] ni4 commented on #669
Can be implemented via https://github.com/rnpgp/rnp/issues/1644, i.e. `rnp --list-packets - | rnp --unwrap - < file.pgp`

[2021-11-15 14:22] ni4 commented on #812
Closing as we migrated to Python 3 more than year ago.

[2021-11-15 14:22] #812 closed

[2021-11-15 14:25] ni4 commented on #531
This is already implemented for `rnpkeys` and there is a separate issue #1608 for `rnp`. So closing this.

[2021-11-15 14:25] #531 closed

[2021-11-15 14:32] ronaldtse commented on #17
Let's close this now. It's clearly working now. Thanks @ni4!

[2021-11-15 14:32] #17 closed

[2021-11-19 01:26] #1347 closed

[2021-11-19 05:57] CAMOBAP commented on #1648
Quick status update:
 - ubuntu dynamic linking with so works tested [GCC, clang], [Debug, Release], tests passing
 - https://github.com/microsoft/vcpkg/issues/21461 ready for review to fix compilation with a static library

I will wait for vcpkg's PR to approve before moving to other platforms

[2021-11-19 06:01] ronaldtse commented on #1648
Thanks @CAMOBAP !

[2021-11-19 13:11] ni4 opened #1704 "Support AEAD-encrypted secret keys."
## Description

Currently we support AEAD only for data encryption, but should suppport secret key encryption/decryption as well.

[2021-11-21 19:15] CAMOBAP commented on #1648
The issue with centos7 https://github.com/openssl/openssl/issues/16449 - which are probably not released yet. I will check if possible to not use openssl from vcpkg but use a system one

[2021-11-22 01:46] ronaldtse commented on #1648
@CAMOBAP agree to use system OpenSSL on CentOS 7.

[2021-11-22 06:39] CAMOBAP commented on #1648
Just found that vcpkg has `VCPKG_SYSTEM_LIBRARIES` looks like exactly what we need

[2021-11-25 11:26] ni4 commented on #1329
This could be false positive, as the issue with stdout_writer, see PR #1709. Possible solution:
[code]

[2021-11-25 11:56] CAMOBAP commented on #1648
It's internal and doesn't allow to use system library instead portlet, thingking about other approach

[2021-11-29 09:29] #1610 closed

[2021-12-01 07:28] #1012 closed

[2021-12-03 16:20] ni4 commented on #1289
@antonsviridenko Did you have any chance to get back to this issue? Would be nice to close (as it doesn't seem to be hard to implement). If not I can take it.

[2021-12-04 20:29] antonsviridenko commented on #1289
ok, will try to take a look soon

[2021-12-06 12:35] ni4 commented on #1289
Thanks! Just to make things a bit more clear - this issue applies only to armored messages (keys, encrypted files, signatures), not to the cleartext signed data.

[2021-12-09 15:44] ronaldtse opened #1716 "Coverity issues survey"
We should have a check against Coverity to see if we have any high priority issues to resolve.

[2021-12-09 16:55] #1632 closed

[2021-12-14 10:49] p-barabas commented on #29
Hi, is there any progress on this?

[2021-12-14 15:41] ronaldtse commented on #29
@p-barabas thanks for the timely ping! Actually there is movement in this area: @w-i-n-s will be making something available hopefully in two months time.

Will keep you updated here!

[2021-12-14 19:30] p-barabas commented on #29
Thanks. I would write a swift wrapper for encrypt, decrypt, generate, sign, verify functions, but seems I need it in shorter time. Can I help make iOS version of rnp faster? Can you give me advice about steps?

[2021-12-16 13:16] ni4 commented on #29
@p-barabas I'm not familiar with Swift yet, but it seems you may use library directly with rnp.h header and compiled dylib: https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/using_imported_c_functions_in_swift

As a guide to calls you need to make for certain functionality you may use CLI as it is uses calls from the same rnp.h header, or C examples.

[2021-12-17 00:40] ronaldtse opened #1722 "Add tests for RNG"
From @antonsviridenko

Do we have some tests for RNG output? Looks like no.

We can try to use "Dieharder test suite"
* https://webhome.phy.duke.edu/~rgb/General/dieharder.php

Or make some corner cases when /dev/urandom is not available or not functioning as expected on a specific platform.

_Originally posted by @antonsviridenko in https://github.com/rnpgp/rnp/issues/1721#issuecomment-996271787_

[2021-12-17 05:21] ronaldtse commented on #1185
@ni4 is this still present? Thanks.

[2021-12-17 05:22] ronaldtse commented on #1185
I'm actually seeing more of them:

https://github.com/rnpgp/rnp/runs/4554311357?check_suite_focus=true
[code]

[2021-12-17 05:28] ronaldtse commented on #1467
@antonsviridenko how's this going?

[2021-12-17 09:00] ronaldtse opened #1723 "Remove travis.sh"
We're using GHA now.

[2021-12-17 15:19] ronaldtse commented on #1351
It is also possible to cross-compile from Intel:
* https://stackoverflow.com/questions/65361672/build-apple-silicon-binary-on-intel-machine

[2021-12-17 15:32] ni4 commented on #1351
I can take a look at this after the v0.16.0 release. Given that I recompiled macOS Objective-C apps (including some frameworks) for the x64/arm64 binary year ago don't see what can go wrong with rnp dylib.

[2021-12-17 15:45] ronaldtse commented on #1351
Thanks @ni4 !

[2021-12-18 09:20] ni4 commented on #1722
@ronaldtse Should we thorougly test RNG given that it is implemented in the backend? Maybe some simple checks, like whether it works at all/outputs different data for different instances would be okay?
cc @antonsviridenko

[2021-12-18 16:21] #1106 closed

[2021-12-18 16:25] antonsviridenko commented on #1722
Yeah, as essentially rnp's RNG is a wrapper around either botan or openssl implementation of RNG, some simple tests should be enough, to make sure it is not broken by some configuration error. Dieharder test suite can be used as a reference.

[2021-12-24 11:19] ni4 opened #1724 "Update S-exp parsing code to maintain compatibility with newer GnuPG versions."
## Description

Looks like after some update (didn't dig into this yet) GnuPG switched to text representation of the S-exps instead of previously used binary ones. We should update our code to support all possible representations for future compatibility.
See more on S-exps here: https://people.csail.mit.edu/rivest/Sexp.txt
And GnuPG's implementation here: https://lists.gnupg.org/pipermail/gnupg-d

[2021-12-26 18:07] antonsviridenko commented on #1281
So this PR overrides https://github.com/rnpgp/rnp/pull/1524 and it can be closed now?

[2021-12-30 13:28] antonsviridenko opened #1726 "Upgrade bundled Google Test version"
## Description
Google Test version downloaded by rnp build scripts fails to build with GCC 11
[code]
This is a known bug, already fixed in upstream
https://github.com/google/googletest/issues/3219
## Steps to Reproduce

1. Configure build with options `-DBUILD_TESTING=on -DCMAKE_BUILD_TYPE=Debug -DDOWNLOAD_GTEST=On`
2. Use GCC 11 to build
[code]
3. try to build

[2022-01-02 14:17] antonsviridenko commented on #1722
I think it would be nice to add command option like `--random` to the `rnp` command line tool, to produce random numbers output. It will make testing easier using existing tools. GnuPG already has such option named `--gen-random`.

[2022-01-04 06:20] ronaldtse commented on #1648
@CAMOBAP openssl/openssl#16449  has been merged, can we carry on with this task?

[2022-01-04 13:04] antonsviridenko commented on #1289
@ni4 I've run out of ideas how to implement this change. `armor_parse_headers()` is expected to skip possible header lines, empty line after the header and place read cursor at the beginning of Base64-encoded data. But if it starts reading base64 lines, it somehow has to "un-skip" them back, in order to return successful result while reporting 'unknown header error.

And we probably want to handle

[2022-01-04 13:05] antonsviridenko commented on #1289
Maybe any line that does not contain colon `:` character can be considered as a data line and header parsing should stop there?

[2022-01-04 13:44] ni4 commented on #1289
@antonsviridenko base64 chars cannot include colon, so you may add some function `is_base64(...)`, and call it in `armor_parse_headers()`:
[code]

[2022-01-05 07:52] ribose-jeffreylau opened #1728 "Add Nix and Nix Flake support"
## Description

Allow `rnp` to be installed on NixOS and platforms with Nix installed (including Linux, macOS and even WSL).
This allows `rnp` to be built / installed declaratively (and even reproducibly, when using `nix flake`) on different platforms.

Links:

- NixOS - https://nixos.org/
- Nix Flakes - https://nixos.wiki/wiki/Flakes

[2022-01-05 10:07] #1722 closed

[2022-01-05 11:17] ni4 opened #1730 "Add support for base64-encoded autocrypt keys."
## Description

Currently we support import/export of such keys only in binary format, however it could be handy to import/export base64 keys in one call.

Function `rnp_import_keys()` should be updated to allow just base64-encoded data (which is used to transfer autocrypt keys), without OpenPGP headers. Maybe with additional flag (RNP_ALLOW_BASE64?).

`rnp_key_export_autocrypt()` should be update

[2022-01-06 00:07] #1343 closed

[2022-01-06 00:29] #1728 closed

[2022-01-06 13:04] ni4 commented on #1595
Required CMake module was added via PR #1692 , so now we should only check whether automatically disabled features are available.

[2022-01-06 13:22] ni4 commented on #1339
Probably some older versions of GnuPG didn't use dummy s2k but just exported empty secret key data.

[2022-01-11 12:48] ni4 opened #1732 "CLI: somehow mark invalid keys/userids"
## Description

Currently invalid public key (i.e. without valid self-certification) is not marked in any way, and has all flags displasyed ([ESCA] for RSA). We should somehow display that it is invalid instead of showing all of the flags.
The same applies to the userids.

[2022-01-11 13:05] ni4 opened #1733 "CI: use sanitizers with GCC as well."
## Description

Curently we have following in a top-level CMakeLists.txt:
[code]
However, sanitizers should work pretty stable with recent versions of GCC.

[2022-01-11 15:29] ni4 opened #1736 "Cover edge cases by tests to avoid codecov random coverage changes."
## Description

We have some old CLI tests which work with randomly generated input. This causes coverage decrease reports by codecov.
We should cover those cases with some predictable input.
See here: https://github.com/rnpgp/rnp/pull/1735#issuecomment-1010071774

[2022-01-14 11:27] ni4 opened #1738 "Investigate why test_ffi_keygen_json_pair_dsa_elg runs so long."
## Description

It just generates single 1024/1536 DSA/ElGamal keypair however it is the longest running test, so usually overall rnp_tests suite time depends on it.
As instrumented most time is spent in Botan's primality test(s).

[2022-01-17 17:27] ni4 opened #1739 "Write PHP module which makes use of RNP functionality."
## Description

It appears that there are not much of OpenPGP implementations, available for the PHP language. Given that Drupal and Wordpress are quite popular as a site backend there could be some demand for PHP PGP module. Hopefully somebody from the PHP world would give us sime insights on this so we may prioritize this issue.

[2022-01-17 21:00] antonsviridenko commented on #1739
I can try to write such module, I had some experience with PHP module API.
However, PHP code can always call external command line tool, like `gpg` or `rnp`.

[2022-01-18 09:22] ronaldtse commented on #1739
@antonsviridenko that's great! Can you help do this?

[2022-01-18 10:32] ni4 commented on #1739
This would not be a good approach for high-loaded servers, and may lead to some vulnerabilities, like this one: https://ubuntu.com/security/CVE-2018-12020

[2022-01-18 14:54] ni4 commented on #1351
This is definitely possible via [CMAKE_OSX_ARCHITECTURES](https://cmake.org/cmake/help/latest/variable/CMAKE_OSX_ARCHITECTURES.html) , however that would need to build Botan/JSON-C with two architectures as well.

[2022-01-20 08:39] antonsviridenko commented on #1739
ok, how it should look like?
All API functions from <rnp/rnp.h> exported as close as possible to original C version?

[2022-01-20 10:38] ni4 commented on #1739
It should be something similar to `ruby-rnp`/`py-rnp` : first part is a `raw` lib which just imports C functions, and second is native PHP wrapper with classes, native types and so on. I doubt that PHP users will strictly follow FFI API rules for object and buffer destroying, use raw C strings and so on :)

[2022-01-24 09:48] ni4 commented on #1732
Duplicate of the #1528

[2022-01-24 09:48] #1732 closed

[2022-01-24 10:18] ni4 commented on #1738
Here is the possible reason:
[code]
This would re-generate underlying group, spending again more time in the primality test. Also gives random code coverage changes. We should rewrite it to use botan's native classes instead of FFI.

[2022-01-25 11:24] bqv commented on #1158
Much better would be just a function pointer to call for logging

[2022-01-25 11:56] ni4 commented on #1158
@bqv Thanks for the note, definitely makes sense. To not break current workflow probably we should have both, adding some logging context as @dewyatt suggested.

[2022-01-26 14:28] #1736 closed

[2022-01-27 03:41] #1346 closed

[2022-01-27 04:56] antonsviridenko commented on #1739
Which PHP version should be targeted?
https://www.php.net/supported-versions.php
PHP 7.4 probably is going to be EOL-ed when this module becomes ready and reaches repositories.

[2022-01-27 06:56] ronaldtse commented on #1739
@antonsviridenko perhaps let's leave that decision to you since you are definitely more familiar with PHP than I am 😄

[2022-01-28 05:01] antonsviridenko commented on #1739
Actually 3rd party module for interaction with gnupg does exist.
https://pecl.php.net/package/gnupg
https://github.com/php-gnupg/php-gnupg

[2022-01-28 09:12] ni4 commented on #1739
@antonsviridenko Yeah, but it uses gpgme which invokes gnupg executable. Also it would restrict user to the LGPL license.

[2022-01-30 15:12] #1289 closed

[2022-02-02 10:21] ronaldtse opened #1751 "Upgrade "CentOS 8" build to "CentOS Stream 8" as "CentOS 8" is EOLed"
Our builds are seeing:
![image](https://user-images.githubusercontent.com/11865/152135650-82e9b2aa-f8a9-4bcc-8678-bc783cb9c385.png)

https://forums.centos.org/viewtopic.php?f=54&t=78708

We have to migrate to CentOS Stream.

[2022-02-02 10:23] ronaldtse commented on #1751
I wonder if we should try out Rocky and Alma Linux...

[2022-02-03 05:03] #1723 closed

[2022-02-03 06:46] #943 closed

[2022-02-03 09:51] ni4 commented on #1538
Fixed via #1749

[2022-02-03 09:51] #1538 closed

[2022-02-03 16:39] ni4 opened #1756 "Add option --strip-confidential to the --list-packets command."
## Description

This option may be useful when debugging certain key/signature issues, when userid/keyid/other confidential information should not be  revealed.

[2022-02-04 06:08] #919 closed

[2022-02-06 19:30] antonsviridenko commented on #1739
How language bindings (py-rnp, ruby-rnp, swift-rnp) are synchronized with RNP API updates?

[2022-02-07 10:57] ni4 commented on #1739
Manually :) There is no any formal process yet. Probably we should make one, or add some CI, so bindings would track newly added FFI functions.

[2022-02-08 14:58] ni4 opened #1758 "Ensure CI compatibility with Windows 2022 server GHA runner"
## Description

While Windows 2019 with VS 2019 is still available, sooner or later Github would deprecate it as well.
See the details here: https://github.com/actions/virtual-environments/issues/4856

[2022-02-08 18:34] dkg opened #1760 "Please implement a "sop" (Stateless OpenPGP Command Line) interface"
RNP should implement a native sop command line interface.

The [openpgp interoperability test suite](https://tests.sequoia-pgp.org/) makes use of the [Stateless Openpgp ("sop") command line interface](https://datatracker.ietf.org/doc/draft-dkg-openpgp-stateless-cli/) to provide robust interoperability testing between many OpenPGP implementations.  This community effort provides significant leverag

[2022-02-10 12:06] #1532 closed

[2022-02-12 05:58] #1528 closed

[2022-02-14 11:04] ni4 commented on #1185
@ronaldtse Sorry, forgot to answer here - yeah, it is still present, see it each time when building rnp_tests.

[2022-02-15 10:52] ni4 opened #1764 "Cover code lines which cause random codecov coverage changes."
## Description

Following lines are not covered with non-random test, so may report random coverage changes:

![Screenshot 2022-02-15 at 12 51 55](https://user-images.githubusercontent.com/4312096/154047495-07c29b1c-80b8-47c2-ad18-1377959a466d.png)

[2022-02-15 16:38] #1257 closed

[2022-02-17 09:40] ni4 opened #1766 "Handle offline secret key scenario when searching for default signing key."
## Description

Currently in function `rnp_key_get_default_key()` and underlying `find_suitable_key()` we do not check whether we have case with offline secret key during the signing operation.

[2022-02-17 17:49] #1185 closed

[2022-02-17 17:52] #1255 closed

[2022-02-17 18:57] #1639 closed

[2022-02-18 12:38] ni4 opened #1768 "Use security context to check for weak hash algorithm during signing."
## Description

Currently we check for weak hash algorithms only during signature verification. We should update code to check it during the signing as well.
This should also include a way to override weak hashes via the CLI.

[2022-02-18 15:19] ni4 opened #1770 "Implement support for v2 SEIPD packet."
## Description

Latest OpenPGP crypto-refresh draft documents `Version 2 Sym. Encrypted Integrity Protected Data Packet Format packet` instead of old AEAD-encrypted data packet.
We should add support for the new format (probably after the new draft is released).

[2022-02-18 15:20] ni4 opened #1771 "Add support for AEAD-GCM"
## Description

In addition to OCB and EAX modes new OpenPGP crypto-refresh draft documents usage of AEAD-GCM mode.

[2022-02-23 01:16] #1676 closed

[2022-02-28 14:55] MartinX3 commented on #1510
@kaie @ni4 could we reopen the issue ticket?
 I did `clean` my gpg key with `gpg (GnuPG) 2.2.32` and lost one of my uid's. in thunderbird.

 It's my gmail uid.
 https://keys.openpgp.org/search?q=130A7C7B515BECE7

[2022-02-28 17:48] ronaldtse opened #1774 "`clean`ed my gpg key with `gpg (GnuPG) 2.2.32` and lost one of my UIDs in thunderbird."
From @martinX3:

I did `clean` my gpg key with `gpg (GnuPG) 2.2.32` and lost one of my uid's. in thunderbird.

It's my gmail uid.
https://keys.openpgp.org/search?q=130A7C7B515BECE7

- Probably a bug. I also can't import the .asc file from this keyserver in thunderbird. But GnuPG can import it.
- Also updating the key via the thunderbird ui (downloading from keyserver), doesn't update the key. Remo

[2022-02-28 17:49] ronaldtse commented on #1774
@MartinX3 I've created this new ticket instead of reopening the old one.

@ni4 or @antonsviridenko could you have a look here? Thanks!

[2022-02-28 17:49] MartinX3 commented on #1774
I'm sorry.
Thank you very much! :)

[2022-03-02 10:49] andrey-utkin commented on #1774
@ronaldtse may I pick this up?

[2022-03-02 11:59] ni4 commented on #1774
@andrey-utkin Let me re-check it first. It could be related to already fixed issue in RNP v0.16.0 (which didn't get into the Thunderbird release yet, as far as I know).

[2022-03-02 12:04] MartinX3 commented on #1774
@ni4 Ahhh. How can I see as an end user whichversion thunderbird 91.6.1 uses?

[2022-03-02 13:15] ni4 commented on #1774
Thunderbird 91.6.1 uses RNP v0.15.2, and, actually, that should fix the issue I suspected (fixed via PR #1531 and included into the v0.15.2 release).
Also RNP marks that uid as valid in version v0.15.2 as well in v0.16.0.
So it could be an issue from the Thunderbird side as it does some processing on top of RNP decisions.

[2022-03-02 13:17] ni4 commented on #1774
@kaie Do you have any suggestions? As I checked, RNP v0.15.2 marks all uids from the aforementioned key as valid.

[2022-03-03 11:05] andrey-utkin commented on #1275
I'd be interested to look into this.
Seems clear how to write a test for it, and then the test will guide my investigation.

[2022-03-03 11:54] ni4 commented on #1275
@andrey-utkin Feel free to take it!
The only thing is that I'd prefer to make this feature configurablte via the SecurityContext, so user may enable or disable this.
Feel free to ask additional questions if you have.

[2022-03-08 11:57] ni4 commented on #1275
I'd prefer to have FFI API test as well, since people who use library (like Thunderbird) could use approach which differs from a CLI one. Also it would be good to have test for different cases, like alread-preloaded secret keys, keys loaded by demand via key provider, trying multiple secret keys and so on.

[2022-03-09 17:05] #1553 closed

[2022-03-11 13:57] ni4 opened #1775 "In some cases RNP fails to dearmor data without a checksum"
## Description

This would happend if input binary data size is multiply of 3, so there is no `=` at the end of it.

[2022-03-14 14:42] ni4 opened #1777 "CLI: inform user if imported keys are already in the keyring."
## Description

Currently `rnpkeys --import keyfile` displays nothing if imported key already exists in the keyring(s). This should be changed to notify user how much keys are in file and their status (i.e. 3 keys not changes, 1 key not changed and 2 updated, 3 new keys, whatever else).

[2022-03-14 14:57] #1775 closed

[2022-03-16 15:21] ni4 opened #1780 "Use factory approach to create hash objects."
## Description

Currently we use borrowed from C behaviour, which causes following problems:
- more complicated code because of SHA1CD usage
- false alerts from the Coverity, caused by the previous one
- false alerts from memory sanitizers

This should be reworked to use something like `std::unique_ptr<rnp::Hash> Hash::Create(algorithm)`.

[2022-03-19 07:52] ni4 opened #1782 "Refactor pgp_dest_t/pgp_source_t to allocate cache on heap."
## Description

As of old design pgp_dest_t/pgp_source_t uses static cache array, which would eat up stack for local variables. This should be changed to use heap or C++ vector.

[2022-03-19 11:01] ni4 opened #1783 "FFI: add function to export signature's data."
## Description

In some scenarios it could be desirable to export key signature(s) without the key itself.
So it is suggested to add API function like `rnp_signature_export(rnp_signature_handle_t, rnp_output_t, uint32_t flags)` which would implement this functionality.

[2022-03-20 18:35] antonsviridenko opened #1784 "CLI: rnpkeys does not support adding new additional subkeys to existing primary keys."
## Description

Looks like this basic & important feature was discussed and planned to be implemented long time ago (like here https://github.com/rnpgp/rnp/issues/323) but is not implemented yet.

## Steps to Reproduce

There is no `rnpkeys` command to add new subkeys. One has to use GnuPG command line tool for this task.

## Expected Behavior

`rnpkeys` should support adding subkeys. This feature

[2022-03-20 18:35] antonsviridenko commented on #1784
@andrey-utkin are you interested to take this task?

[2022-03-20 23:54] antonsviridenko commented on #1739
Started to work on PHP module, 3 API functions are implemented so far :)
https://github.com/rnpgp/php-rnp

[2022-03-21 15:47] andrey-utkin commented on #1784
Legit issue.
Happy to take it.
Would love to see what @ronaldtse or @ni4 think about its priority, though.

[2022-03-21 23:25] kaie opened #1785 "Support for designated revoker?"
Does RNP already support designated revokers?
https://www.rfc-editor.org/rfc/rfc4880#section-5.2.3.15

If you don't support it yet, and if you add it in the future, you could consider an exception for
rnp_key_remove_signatures(RNP_KEY_SIGNATURE_NON_SELF_SIG)

I'm guessing that the intention of this constant is to remove unnecessary signatures, to create a minimized key.
However, I think that a rev

[2022-03-22 08:05] ni4 commented on #1785
@kaie we do not have support for designated revokers yet, this is tracked via the issue #1131
While adding support for it would require some time, initial support for the aforementioned flag may be added first.

[2022-03-22 08:06] ni4 commented on #1784
@andrey-utkin it would be good to have this functionality, feel free to take this issue.

[2022-03-22 08:56] ronaldtse commented on #1784
Thank you @andrey-utkin @antonsviridenko !

[2022-03-22 20:21] andrey-utkin commented on #1275
I got it working with the clumsiest hack ever. Cleaning up and refactoring now, will submit into a branch later.
The meaning of these hooks becomes less certain with this extension of functionality in mind:
[code]
on_recipients() gets zeros-filled entries. Making it see the effective secret keys would take some extra care, but it's unclear whether anybody really needs that extra complexity.
pgp_de

[2022-03-23 10:08] ni4 commented on #1275
@andrey-utkin Good news! Agree with your approach: `on_recipients()` should have original recipient list (so implementation which uses corresponding FFI API may see that original recipient was hidden), and `used_recipient` should be set to the key data which was used for the decryption.

[2022-03-25 22:59] andrey-utkin commented on #1275
This is my branch so far: https://github.com/andrey-utkin/rnp/tree/autkin-1275-decrypt-hidden-to
History will be cleaned up for PR submission.
FFI test is underway.
Will look into "make this feature configurablte via the SecurityContext" next and add tests for that.

[2022-03-26 14:00] ni4 commented on #1275
@andrey-utkin Great! Could you please create a draft PR from your branch? It would be easier to discuss changes there (and would run CI including linters and so on)?

[2022-03-26 14:35] ni4 opened #1786 "Refactoring: add pgp_key_t::merge() function."
## Description

We have functions `transferable_subkey_merge()`/`transferable_key_merge()` to merge together signatures/uids/subkeys for the same key. This was done because of the old C-style design, and we should get rid of this, as `pgp_key_t` may be merged directly.

[2022-03-26 14:57] BeginArjun opened #1787 "Please update includePath for "config.h" in file-utils.cpp"
## Please update **includePath** for **"config.h"** in file-utils.cpp

In Line no-31, *"rnp/src/common/file-utils.cpp"*, source file for **"config.h"** cannot be opened.
![image](https://user-images.githubusercontent.com/92989288/160244840-64afb7d3-4ffd-4cca-b3b1-481e34a24a74.png)

[2022-03-26 15:22] BeginArjun opened #1788 "rnp.h file location not found"
## \#include <rnp/rnp.h> file not found.

The file I tried running was *"rnp/src/examples/sign.c"*.
![image](https://user-images.githubusercontent.com/92989288/160245806-4356a775-e9e8-41c9-bb48-a5af4803f349.png)
But, it's not just limited to this particular file. Here are some of the files I found with the same problem.
![image](https://user-images.githubusercontent.com/92989288/160245947-60a4fece

[2022-03-26 16:39] ni4 commented on #1787
Hi, did you use cmake to build files or just added source files to the project? `config.h` is generated from the `config.h.in` during the cmake invocation.

[2022-03-26 16:40] ni4 commented on #1788
`<rnp/rnp.h>` should be added to the include path of your project.

[2022-03-26 17:20] #1787 closed

[2022-03-29 00:15] ronaldtse opened #1790 "Build error for tests in "windows-msys2 / CC clang; GnuPG stable""
There is an error in "windows-msys2 / CC clang; GnuPG stable" that affected PR #1781.

[code]

This error is only present on this particular configuration for some reason.

We need to fix this.

_Originally posted by @ronaldtse in https://github.com/rnpgp/rnp/issues/1781#issuecomment-1081272530_

[2022-03-29 00:16] ronaldtse commented on #1790
@maxirmx since you are the Make expert, would you have time to check on this? Thanks!

[2022-03-29 01:04] ronaldtse commented on #1739
Thank you @antonsviridenko !

[2022-03-29 07:53] maxirmx commented on #1790
Thank you, @ronaldtse )
It cannot find clang c++ include files which means that either
[mingw-w64-x86_64-libc++](https://packages.msys2.org/package/mingw-w64-x86_64-libc++?repo=mingw64) is not installed or some environment variable is not properly set

[2022-03-29 17:58] ni4 commented on #1790
@ronaldtse @maxirmx Thanks for filing this and participating in resolution of this issues. I tried to nail it down via the additional logging in #1789 but didn't succeed so far.

[2022-03-29 18:08] maxirmx commented on #1790
@ni4 @ronaldtse
I fixed it. Pls give me some more time to finalize the solution

[2022-03-30 01:57] ronaldtse commented on #1790
Thank you @maxirmx ! I've added some minor comments in #1794, once those are resolved we should be able to merge

[2022-03-30 07:54] #1790 closed

[2022-03-30 09:55] ni4 commented on #1790
@maxirmx  Thanks for the explanation!

[2022-03-30 10:28] ni4 opened #1795 "FFI: add API function/flag to do raw encryption of the input."
## Description

Currently RNP during encryption creates wrapping OpenPGP literal data packet/compressed data packet for the input.
However, in some scenarios (see https://bugzilla.mozilla.org/show_bug.cgi?id=1688863) it could be desirable to treat the input data as already wrapped.
It could be done via some function like `rnp_op_encrypt_set_flags(rnp_op_encrypt_t op, uint32_t flags)`.

[2022-03-31 07:06] ronaldtse commented on #1795
We will prioritise this functionality for the Thunderbird issue quoted (@kaie).

[2022-03-31 14:10] andrey-utkin opened #1796 "Release tags lineage stems from inital commit, not from master branch"
## Description

I've just found a nice tool `git-big-picture` and run it over `rnp` repo.
It has revealed a surprising structure of tags and branches.
Basically all the release tags, from the oldest one to the latest v0.16.0, are a chain, and that chain diverges from `master` branch very early on. But there's no intersection of releases chain and master branch! I've never seen such a structure in

[2022-04-01 11:52] ni4 commented on #1796
@andrey-utkin Our release process is described in the `docs/develop/release-workflow.adoc`. Basically, all PRs target master, and then on release all needed commits are checrry-picked from the master to the `release/0.x` branch. That gives flexibility to include only required commits to the dot release, reorder them, and so on. Say, we did release v0.16.0, then add bunch of commits to the master,

[2022-04-06 09:46] ni4 commented on #1796
Correct, for major releases we'll do another branch so we could be able to merge critical issues to the previous versions.

Actually, we do - commits to the release branch are made via the PR to the corresponding branch (see this one for example: https://github.com/rnpgp/rnp/pull/1742 ). This is controlled via the following lines in Github Workflows:
[code]

[2022-04-07 09:26] andrey-utkin commented on #1796
I mean, full CI doesn't run and get reviewed on current releases **every day**, or nearly as often as on master.

[2022-04-08 09:29] ni4 commented on #1796
Ah, got it. But what sort of flakiness may happen in such case (except updates to the dependencies/CI runners) ?

[2022-04-08 10:40] andrey-utkin commented on #1796
My point is, you transfer (backport) select changes, and *transfer your expectations about the effects* onto a slightly different codebase. It's my entire point is that we let master and a fresh release be not equivalent but to be descendants of long-diverged ancestry lines.

These transferred expectations may work, but sometimes they may break.

This is a known failure mode of backporting. I can'

[2022-04-08 11:07] ni4 opened #1797 "FFI: add some API to be able to cache signature validity status."
## Description

Currently we re-validate all self-signatures after the key load. That is fast, but could be redundant for large keyrings.
So we should consider adding some way to request load of signature validity status (as well as key's validity status?).

[2022-04-08 11:08] ni4 commented on #777
Key validation behaviour was changed as of RNP v0.16.0:
- all self-signatures are validated after loading key into memory (that's fast enough, however I filed #1797 as well)
- public key material is not validated 'mathematically', it is considerd to be protected via signatures validity
- secret key material is validated before the first key usage to avoid some sorts of attacks.

@ronaldtse @hpk42

[2022-04-08 11:09] hpk42 commented on #777
i am not currently using rnp so better don't depend on me. thanks for the heads up!

[2022-04-09 04:39] ronaldtse commented on #777
Thank you @ni4 ! This looks great, feel free to close this.

[2022-04-11 12:41] #777 closed

[2022-04-12 10:29] ni4 commented on #1796
Thanks for the detailed explanation. So, adding/configuring some CI runners on the release branch every few days sounds like a solution? Or do you have a better idea?
cc @ronaldtse

[2022-04-12 13:21] andrey-utkin commented on #1796
Regular CI runners on the release branch would be great, and indeed would address some of the concerns.
The concern which remains is, the test suite itself is slightly different between master and the release branches, isn't it?
Ultimately the premise that the separate releases lineage is somehow better for shipping is not justified IMHO. (If it's better for shipping, then why developers are not w

[2022-04-12 15:38] ni4 opened #1800 "Update to CI to run periodically on the release branch."
## Description

As from the discussion at https://github.com/rnpgp/rnp/issues/1796#issuecomment-1092726103 , it would be good to have some CI running on the release branch periodically.

[2022-04-13 08:10] ni4 commented on #1796
Ok, I created an issue #1800 for this.

Usually any PR also includes tests for the new functionality, so things which are picked to the release branch also includes tests for those.

[2022-04-13 11:15] andrey-utkin commented on #1796
There's still a lot of difference in `src/tests/` :
https://github.com/rnpgp/rnp/compare/v0.16.0...ba9bd83b76edddce4a02036465036e7f52d960ee?diff=unified#files_bucket

It's too much for me to trust that they are functionally equivalent.

[code]

[2022-04-13 11:41] ni4 commented on #1796
@andrey-utkin Sure, there were more then 30 PRs closed and merged into master since v0.16.0 release, including refactoring ones which changed tests code as well.

[2022-04-13 13:21] andrey-utkin commented on #1796
The above comparison is not master-now vs v0.16.0. It's between what seems to be close to "the same point in time".

[code]

[code]

[2022-04-13 13:22] ni4 opened #1801 "Check error logging from `armored_src_read()` during `is_armored_source()` call."
## Description

It seems that `is_armored_source()` incorrectly dumps some messages to the error log:
[code]
This can be seen during `rnp_tests.rnpkeys_generatekey_testSignature` execution.

Call stack:
[code]

[2022-04-13 17:05] andrey-utkin commented on #1329
It seems like a trait of outdated Clang shipped with CentOS 7.

In PR 1792, CI checks on centos-based systems with "mode sanitize" and clang:

* centos7 / centos:7 Botan [mode sanitize; test type ; CC clang; GnuPG stabl... - FAIL
* centos7 / centos:7 Botan [mode sanitize; test type ; CC clang; GnuPG beta] - FAIL
* centos8-openssl / centos:stream8 OpenSSL [test type rnp_tests; mode sanitiz... CC cl

[2022-04-13 17:32] ni4 commented on #1329
@ronaldtse CentOS 7 has EOL 2024, while 8 had end of 2021, is it okay to drop 2-year support timeline? Also, then should not we add support for CentOS stream 9 instead?

[2022-04-13 17:47] ronaldtse commented on #1329
@ni4 whoa, I did not realise that CentOS 8 was EOLed before CentOS 7. In this case we should keep CentOS 7... And yes we should support the CentOS Stream version. I think deprecating CentOS 8 and adding support for CentOS 9 can be independent steps.

[2022-04-14 09:54] ni4 commented on #1329
Oh, I forgot - we already use CentOS 8 Stream images in CI, but those are unofficial (there are no official on the Docker hub, they use Quay). Will file an issue for CentOS 9 Stream.

[2022-04-14 09:57] ni4 opened #1804 "CI: add CentOS 9 Stream workflows."
## Description

See the details here: https://github.com/rnpgp/rnp/issues/1329#issuecomment-1098322615

We should consider whether to use unofficial, weekly built images from the Docker hub: https://hub.docker.com/r/tgagor/centos-stream
Or official, a bit outdated (and not sure whether that would work with Github Actions) from the Quay:
https://quay.io/repository/centos/centos?tab=tags

[2022-04-16 07:48] dkg opened #1805 "output for "rnp --decrypt" does not behave as documented"
rnp(1) says about decryption:

[code]

But when I `rnp --decrypt msg` using rnp 0.16.0, it automatically creates a file named `msg.out`.

[2022-04-16 09:18] ni4 commented on #1805
Hmm, do you use this exact file naming/commands? I tried to reproduce it `rnp --decrypt msg`, where `msg` is ecrypted file name, and got result to the stdout.

[2022-04-16 15:24] dkg commented on #1805
apologies, i don't know where the `msg.out` came from.  when i re-run my tests after getting a night of sleep, i agree with you that it is being sent to stdout.

This still doesn't match the documented behavior, though.

fwiw, i prefer emitting to stdout, so perhaps the best fix here is just to remove the sentence quoted above.

[2022-04-18 10:33] ni4 commented on #1796
Looks like `git --diff` goes crazy here due to mistaligned commit history or so on.
Cloning fresh copies and resetting to corresponding tag/commit gives this output (cutting git stuff):
[code]
Which pretty aligns with the commit history.

[2022-04-18 13:28] ni4 opened #1806 "Make one-pass signature reading more relaxed."
## Description

Currently if we have multiple one-pass signatures we stop on the first one with `nested=1`. This results in the following messages in the log:
[code]

However, GnuPG allows such case, so we should also change our behaviour (maybe issuing just a single warning).
The main usecase for this is multiple-user signing of the document/resigning of the documents.

[2022-04-26 01:58] dkg commented on #1255
#1765 seems to be about PKESK but not about signature formats.  Are you sure that this will fix the problem identified here?

[2022-04-26 09:45] ni4 opened #1809 "FFI: add some API allowing to check whether signature is weak or why validation failed."
## Description

Users may wish to know why signature is marked as invalid (including cases with weak hash algorithm/public key algorithm/wrong subpackets/whatever else).

[2022-04-26 13:28] ni4 commented on #1255
@dkg But isn't this one is actually about the PKESK, or do I miss something? We also had PR for the unknown signature versions here: https://github.com/rnpgp/rnp/pull/1761

[2022-04-26 15:20] dkg commented on #1255
@ni4 thanks for pointing that out!  i'll follow up over there.

[2022-04-28 09:24] ni4 commented on #1132
Currently, as we have `--edit-key` command, expiration setting may be implemented as subcommand.

[2022-04-28 09:27] ni4 opened #1810 "Make sure that changing of the key expiration works for SHA-1 selfsigs and updates hash to the stronger one."
## Description

It doesn't seem to work in this way for now.

[2022-04-28 09:33] ni4 opened #1811 "FFI: add option to update key's preferences by adding new signature."
## Description

Currently we have only `rnp_key_set_expiration()`, which doesn't make use of flags and replaces latest self-sig/binding with changed expiration time.
We should add a way to change preferences/expiration by appending new signature for the desired userid/subkey.
This may be implemented in the following way:
- `rnp_uid_create_signature(rnp_uid_handle_t, rnp_signature_handle_t src, uin

[2022-04-29 09:47] ni4 opened #1812 "Check whether RNP correctly handles cleartext EdDSA secret keys with leading zeroes."
## Description

More details and sample key are available in this GnuPG ticket: https://dev.gnupg.org/T5120
Even if everything works we should add test case to not allow regression in the future.

[2022-04-29 10:08] ni4 opened #1813 "Do not fail on attached/detached signatures with unknown versions."
## Description

~~Currently RNP completely fails to verify detached signatures if there are v4 signature and signature with unknown version/format in file. For the compatibility reasons it would be more logical to report one valid and one unknown signature.~~
Corrected: was fixed via https://github.com/rnpgp/rnp/pull/1761

More details are here: https://mailarchive.ietf.org/arch/msg/openpgp/5LdYvs

[2022-04-29 13:21] #1795 closed

[2022-04-29 13:23] ronaldtse commented on #1565
@ribose-jeffreylau I think we should still support 3DES and SHA-1 (to read old data), but not list them in the default key preferences?

[2022-04-29 14:45] ni4 opened #1816 "FFI: add function rnp_output_to_stdout()"
## Description

We have all the needed low-level functionality for this (see `init_stdout_dest()`), but still use custom callback-based writer in the CLI.

[2022-04-30 19:00] dkg commented on #1257
I don't think this is fully resolved, at least not in the standard use of the library.

In particular, the most ergonomic way to use the library is to fail early when `rnp_op_verify_execute` returns anything other than `RNP_SUCCESS`, which seems like it will still happen even with #1761 applied.

In particular, rnp fails in the interop test suite because of this: [see `SOP::Verify` in `rnp-sop`](h

[2022-05-01 09:40] ni4 commented on #1257
@dkg it was implemented (and documented) in this way to avoid cases when API user just checks for RNP_SUCCESS and doesn't re-check signature validity. I.e. verification should not be considered as successfull if there are invalid/unknown signatures. So, more correct in SOP::Verify would be to not fail early but even of failure retrieve all signatures, and check the number of valid/invalid/unknown

[2022-05-02 08:38] ni4 opened #1819 "Add option to apply security rule only to certain signatures."
## Description

Currently hash security rules apply to all signatures. However, it may be desirable to distinguish between key signatures and data signatures, so we should add corresponding flag to the `rnp_add_security_rule()`.
Probably it could also worth to allow SHA1 for key's signatures by default.

[2022-05-02 15:42] ni4 commented on #1819
Please see the discussion here: https://mailarchive.ietf.org/arch/msg/openpgp/KeTgr5qdLlu3eKQSHnG-3qCmx4Q/
Basically, while it is simple to avoid to sign data using the SHA1 hash algorithm, it could become harmful for the keys.

[2022-05-02 19:07] dkg opened #1820 "Improve `rnp_op_verify_execute` semantics: return `RNP_SUCCESS` if any signature is valid."
As noted in #1257 RNP's default signature verification semantics appear to require every signature in a sequence of signatures to validate in order for the functions to return a success.

This implicit policy makes RNP effectively block evolution of the OpenPGP protocol because it means that updated signatures (of whatever form -- new keys, new algorithms, new signature versions) cannot be distrib

[2022-05-03 10:29] ribose-jeffreylau commented on #1565
@ronaldtse I would think so too, just don't list them in the default generated key preferences list.

[2022-05-03 13:08] ni4 commented on #1565
Thanks for the feedback. So closing it back.

[2022-05-03 13:08] #1565 closed

[2022-05-05 08:08] dkg opened #1822 "`rnp_decrypt` semantics: should never fail based on signatures"
The `rnp_decrypt` function documentation makes no claims about signature verification.  Any signatures encountered should be safely ignored.

However, when it is run against [`seipd1-sig23-sig4.pgp`](https://gitlab.com/openpgp-wg/unknown-signature-versions/-/blob/main/seipd1-sig23-sig4.pgp) it returns `RNP_ERROR_SIGNATURE_INVALID`.  And when it is run against [`seipd1-sig23.pgp`](https://gitlab.co

[2022-05-05 12:16] #1764 closed

[2022-05-05 13:05] ni4 commented on #1805
@dkg thanks for the clarification, finally get to it. We decided to fix CLI (and improve man page) to automatically strip known extensions. You are welcome to share your opinion on the changes.

[2022-05-05 19:18] #1518 closed

[2022-05-06 00:22] dkg opened #1826 "rnp_decrypt semantics: provide comparable "protection info" as `rnp_op_verify_get_protection_info`"
When decrypting, if i don't care about signature verification, the `rnp_decrypt` interface is nice and simple.

However, it will happily transform this "encrypted" message to the cleartext string `test test`:

[code]

And the user of librnp will be unaware that there was no actual cryptographic protection on the message (this is just an ASCII-Armored Literal Data packet).

It would be nice to offe

[2022-05-06 00:55] dkg opened #1827 "`rnp_decrypt`, `rnp_op_verify_create`: let the user limit the decryption keys used"
If i have a single `rnp_ffi_t`, and it knows about many different secret keys, there may be some contexts where i don't *want* it to decrypt with some of those keys.

For example, i might be decrypting a message with a hidden recipients field, and i don't want to attempt 25 secret key decryptions just to find the one that makes sense in the context.

Or, i might have an e-mail client that is confi

[2022-05-06 01:17] dkg opened #1828 "`rnp_op_verify_*`: let the user select which keys to verify with"
In some signature verification contexts, there are a limited set of keys whose signatures you would accept.

While the user could use `rnp_op_verify_*` and then filter the list of valid signatures  by looking at `rnp_op_verify_signature_get_key`, there's no point in doing the asymmetric crypto work of validating a signature that the user doesn't care about, if they already know which signatures th

[2022-05-06 10:06] ni4 opened #1829 "Consider behaviour change for the stripped key with expired subkeys."
## Description

Currently we mark stripped key (without userids/certifications but with expired subkeys with valid bindings) as invalid. This also marks all the subkeys as invalid. Probably we should change behaviour to mark primary key as expired, using the latest subkey's expiration date.
Also output of the `rnpkeys --list-keys` is a bit awkward:
[code]

[2022-05-06 18:33] dkg commented on #1826
I'd also be interested to know if the encryption was malleable (e.g. no MDC or AEAD), or using a weak cipher (IDEA, 3DES, CAST5), not just if it was cleartext.   See for example [the guidance in the crypto-refresh of RFC 4880](https://openpgp-wg.gitlab.io/rfc4880bis/#section-9.3-2), which says:

and [the section on ciphertext malleability](https://openpgp-wg.gitlab.io/rfc4880bis/#ciphertext-mallea

[2022-05-06 18:43] dkg commented on #1820
So the current default behavior is brittle and risks limiting ecosystem development because simple users will not know that they should be setting this flag.

Offering this kind of `set_flags` function also makes it trickier to look for instances where the default behavior is used; i want to find a way to figure out who i need to encourage to switch.

I'd be OK with the `set_flags` approach if the

[2022-05-06 18:50] #1805 closed

[2022-05-07 01:59] #1813 closed

[2022-05-07 21:58] dkg commented on #1820
I'm generally leery of setting stateful flags in a C FFI API.  For one thing, it is not obvious that any given version of the library supports the flags you're trying to set (or that it knows to ignore the flags you're explicitly *not* setting).  There are multiple ways for a library (and the user of a library) to get that subtly wrong or make it difficult to use.  For example, in the current inte

[2022-05-09 09:02] ni4 opened #1832 "Add some CI runner on top of musl libc"
## Description

Musl behaviour could differ from libstdc at some cases, so we should run tests against it as well.
See the https://github.com/rnpgp/rnp/pull/1830#issuecomment-1120208929

[2022-05-09 09:42] ni4 opened #1833 "Add codespell CI runner."
## Description

As from https://github.com/rnpgp/rnp/pull/1831#issuecomment-1120110450:

[2022-05-09 12:23] #1812 closed

[2022-05-16 10:09] ni4 commented on #1826
Sorry, somehow missed to reply. It would be a bit overhead for the FFI - as we cannot have structs, we'll need to return some opaque object and have functions to retrieve all the required properties, like a protection info, recipient count, recipient used to decrypt and so on. That would duplicate already existing functionality of the `rnp_op_verify_get_*`, confusing the user.
Need to think more o

[2022-05-16 10:18] ni4 commented on #1820
I don't think that behaviour should be changed in a such radical way. Already existing API users may rely on the default behaviour, described in the header. I.e. approach is `future version should behave in the same way as previous versions unless something new is called`.

Then library would be stick to the old behaviour. Probably this should be described more in the documentation (as well as wha

[2022-05-18 18:37] alexshpilkin opened #1835 "pkg-config file is broken when CMAKE_INSTALL_LIBDIR is absolute"
As per title: `cmake/librnp.pc.in` has
[code]
and so can’t handle absolute paths in `CMAKE_INSTALL_LIBDIR`. This leads to broken .pc files on NixOS in particular.

See “[Concatenating paths when building pkg-config files](https://github.com/jtojnar/cmake-snips#concatenating-paths-when-building-pkg-config-files)” for a thorough discussion of the problem and a suggested fix, or [KDE’s extra-cmake-mo

[2022-05-19 00:01] jirutka opened #1836 "test_stream_verify_no_key and hash_test_success fail when ENABLE_SM2=OFF (v0.16.0)"
## Description

`test_stream_verify_no_key` and `hash_test_success` fail when building with `ENABLE_SM2=OFF`.

## Steps to Reproduce

[code]

## Expected Behavior

The tests should pass.

## Actual Behavior

[code]

[code]

* * *
**Environment:**
- Alpine Linux Edge
- botan 2.19.1
- musl libc 1.2.3
- gcc 11.2.1

[2022-05-19 10:39] ni4 commented on #1836
@jirutka Thanks for spotting this!

[2022-05-19 10:42] ni4 commented on #1835
@alexshpilkin Thanks for reporting!

[2022-05-22 19:21] antonsviridenko opened #1838 ""password" parameter is present but not described for rnp_generate_key_ex()"
## Description
Description for parameter `password` is missing in
https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h#L737

[2022-05-23 11:29] #1838 closed

[2022-05-23 11:32] antonsviridenko commented on #1836
@jirutka are you packaging RNP for Alpine Linux? Not related to this issue, just curious :)

[2022-05-23 11:35] jirutka commented on #1836
Yes, see [here](https://pkgs.alpinelinux.org/packages?name=rnp). ;)

[2022-05-23 11:45] antonsviridenko commented on #1836
Nice

[2022-05-23 14:14] antonsviridenko opened #1840 "JSON inputs and outputs are not documented anywhere"
## Description

Many FFI functions receive arguments in JSON format and/or return results in JSON.
Like
`rnp_generate_key_json()`
`rnp_signature_packet_to_json()`
and others having `*_json` in their name.
 The format of these input/output values is not documented anywhere.

## Expected Behavior

Expected properties and data types should be described for each JSON parameter or return value.

[2022-05-23 17:22] andrey-utkin commented on #1836
Note: this happens with `-DCRYPTO_BACKEND=openssl`, but with `-DCRYPTO_BACKEND=botan` tests pass.

[2022-05-23 18:23] jirutka commented on #1836
Nope, I’m building it with the `botan` backend, not `openssl`.

[2022-05-23 20:03] andrey-utkin commented on #1836
Sorry, my bad, I've stated the opposite of what I observed :)

[2022-05-24 12:59] andrey-utkin commented on #1835
Hi @alexshpilkin , thanks for your report.
Could you please point at some specific use cases (I mean by real people/orgs for a real purpose) which have hit this? Surely we can put in this little extra handling, just would be great to know whom it benefits.
(I know well that various packaging and deployment efforts sometimes run up against build systems limitations and upstream maintainers' ignoran

[2022-05-26 13:30] ni4 opened #1841 "CLI: Clarify to the user why attempt to add signature failed."
## Description

Currently CLI just prints `Failed to add signature`, however user may be interested why that happens - due to expired recipient's key, weak hash algorithm, whatever else.
Probably we should also extend FFI call with more explanatory error codes on return.

[2022-05-26 13:42] ni4 opened #1842 "CLI: unexpected output on expired key+subkey."
## Description

If key and subkeys are expired, currently CLI displays the following:
[code]
While correct would be to display `[EXPIRED]` for the subkey.

[2022-05-26 14:03] ni4 opened #1843 "CLI: unexpected contents in literal data packet if using non-filename inputs"
## Description

While using stdin or env variable placeholder (like `-` or `env:HOME`), rnp stores exactly this value in literal data packet.
More logical and expected by the user would be to have empty string in these cases.

[2022-05-26 14:15] alexshpilkin commented on #1835
@andrey-utkin To be clear, this is not me passing weird config flags, the pkg-config file build by the standard Nixpkgs configuration is currently broken:
[code]
If you don’t use Nix but are willing to wade through the nonstandard (if straightforward) archive format it uses, the broken pkg-config file is at the very end of https://cache.nixos.org/nar/0xx923jp0lz2qdp673irw2j2yl17a7jxh7x3cl2xg2xpxyl

[2022-05-26 16:03] andrey-utkin commented on #1835
Thank you very much for the explanation. I understand your case much better now.

[2022-05-27 09:28] andrey-utkin commented on #1835
It's also interesting that the fourth line in the librnp.pc on Nix is
[code]
which doesn't look like originating from our librnp.pc.in, which should have looked like
[code]

I guess it's just one more workaround applied by Nix to all packages for this predictable and preventable problem.

[2022-05-27 10:30] andrey-utkin commented on #1835
Also I'm afraid [KDE's code referenced](https://invent.kde.org/frameworks/extra-cmake-modules/-/blob/master/modules/ECMGeneratePkgConfigFile.cmake#L166) is still broken wrt libdir - `PKGCONFIG_TARGET_LIBS` is set conditionally but isn't used anywhere.

[2022-05-27 11:08] andrey-utkin commented on #1835
@alexshpilkin I've come up with a patch, may I ask you to evaluate it? https://github.com/rnpgp/rnp/pull/1845

[2022-05-27 12:59] alexshpilkin commented on #1835
@andrey-utkin The `${prefix}/include` part is strictly speaking a different issue (ignoring includedir entirely instead of using it wrong) but yes, I should have mentioned it, except something seems to be patching it over. To be honest I noticed that happen earlier in other packages but was too lazy to check where that happened. Looks like this part ([`_multioutsDev`](https://github.com/NixOS/nixp

[2022-05-27 18:18] andrey-utkin commented on #1836
Summary: How about we relax the tests in this case?

From the build system interface perspective, ENABLE_SM2 really means "ensure that SM2/SM3/SM4 works" (at the time of compilation, linkage and testing).
The tests in question make assertions that if !ENABLE_SM2, then any related functionality certainly fails.
Obviously that's not the same. I also think we don't have to live up to these tests' exp

[2022-05-29 17:21] antonsviridenko commented on #1739
Any ideas about password provider implementations for PHP? :)

If PHP script runs as a command line, it can use stdin password provider, like default in CLI,
but most frequent use is in context of web server process.

[2022-05-30 09:52] ni4 commented on #1739
@antonsviridenko In web server context I see only two ways - via some callback (is it possible for PHP?), or via string constant. The second option however would need to know in advance to which key(s) or/and passwords data is encrypted. Probably we should extend our API with some `rnp_get_recipients()` call to be able to analyze input data for recipients.

[2022-05-30 10:21] ni4 commented on #1836
@andrey-utkin Thanks for investigating this. `test_stream_verify_no_key` should be fixed with this patch as well, as source of problem is SM3 hash algo usage in S2K. To avoid such problems in future we should also:
- add Botan CI runner with disabled SM2
- add tests to cover cases with SM2 signatures, SM2 public-key encrypted packets and SM4 symmetrically-encrypted data (as a separate issue for cl

[2022-05-30 13:25] ni4 commented on #1836
@andrey-utkin Ah, forgot that RNP uses Botan's S2K code directly. Please see the funtion `pgp_s2k_derive_key()` from `s2k.cpp`

[2022-06-02 22:35] alexshpilkin commented on #1835
Can confirm the committed fix works, thank you!

[2022-06-03 11:02] #1816 closed

[2022-06-05 16:27] #1780 closed

[2022-06-05 22:03] antonsviridenko commented on #1739
Yeah, it appears callbacks are available in PHP.

https://www.php.net/manual/en/language.types.callable.php

Btw, how it is done in other language bindings?

[2022-06-06 03:20] ronaldtse commented on #1558
@ni4 thanks for the reminder on this -- yes I agree with the approach. Fiddling with the GnuPG key database is definitely not something we want to do; using it in read-only mode (and prompting import) is acceptable.

[2022-06-06 10:04] ni4 commented on #1739
@antonsviridenko ruby-rnp uses callback or predefined password approach, please see this example:
https://github.com/rnpgp/ruby-rnp/blob/main/examples/password_provider.rb

[2022-06-08 04:09] ronaldtse commented on #1840
@antonsviridenko this is indeed very necessary. Could you help with it? Thanks!

[2022-06-08 04:31] ronaldtse commented on #1832
Agree that we should support musl which is used in replacement of glibc on Alpine.

[2022-06-08 04:32] ronaldtse commented on #1832
@maxirmx with your experience on musl, would this be an easy add? Thanks!

[2022-06-08 09:39] maxirmx commented on #1832
I think it will take 2-3 days to add the workflow. This does not count for possible compatibility issues

[2022-06-09 12:59] andrey-utkin opened #1852 "Add tests for operations with SM2 suite"
Per @ni4 in https://github.com/rnpgp/rnp/issues/1836#issuecomment-1140977439

The context of #1836 implies that the new tests should expect sensible behavior in case the functionality is disabled.

[2022-06-09 13:00] andrey-utkin opened #1853 "Test ops with Twofish when it's disabled in Botan"
Per @ni4 in https://github.com/rnpgp/rnp/issues/1836#issuecomment-1140977439

[2022-06-09 13:00] andrey-utkin opened #1854 "Test ops with Brainpool when it's disabled in Botan"
Per @ni4 in https://github.com/rnpgp/rnp/issues/1836#issuecomment-1140977439

[2022-06-14 11:41] ni4 opened #1857 "Check whether we may get rid of CFG_USERINPUTFD in rnpcfg."
## Description

It seems to be used only in tests and is not exposed/used anywhere in the CLI.

[2022-06-16 15:18] kaie opened #1859 "Build with openssl and without IDEA"
I've noticed that you have added support for OpenSSL, instead of Botan.

I tried it, but then I noticed that the default binaries of OpenSSL in Debian (and apparently Fedora, too) exclude IDEA.
It seems RNP requires IDEA to build.

Do you consider to support building RNP without IDEA support?
Or do you consider IDEA absolutely necessary?

[2022-06-16 19:14] ni4 commented on #1859
@kaie Thanks for noticing this. We definitely do not require IDEA, just systems with OpenSSL backend which we tried for now have/had support for the IDEA so we didn't add any specific define. We'll check it out.

[2022-06-17 08:56] #1558 closed

[2022-06-17 08:56] #1559 closed

[2022-06-22 09:28] ni4 opened #1862 "signature_validate() is called multiple times during keyring load."
## Description

It appears that during keyring load `signature_validate()` is called at least twice for the same signature. While upper-level functions could be called multiple times, this one should be called only once as signature material doesn't change between calls.

[2022-06-22 13:48] andrey-utkin commented on #1859
Reproduced in CI with Debian 11:
[code]
https://github.com/rnpgp/rnp/runs/7004907366?check_suite_focus=true

[2022-06-22 13:56] #1836 closed

[2022-06-22 13:57] ni4 commented on #1612
Fixed via #1855

[2022-06-22 13:57] #1612 closed

[2022-06-24 09:11] ni4 commented on #1806
Additionally, we may check whether document is already signed (includes one-pass signature packets at the beginning), and update their nested field (one-pass signature packet is not hashed).

[2022-06-25 01:42] #1819 closed

[2022-06-25 08:41] ni4 opened #1865 "Retry password request during the decryption."
## Description

Currently, during public-key decryption, if user enters invalid password for the secret key, decryption fails.
More logical would be if CLI repeats password request, including some message like 'Invalid passsword', and stop after a number of attempts.

[2022-06-28 13:27] ni4 commented on #260
Closing this as obsolete.

[2022-06-28 13:27] #260 closed

[2022-06-28 13:28] #491 closed

[2022-07-02 18:38] andrey-utkin commented on #1842
So I've been looking into it for a couple of days, I have understood what's going on to some extent, now I want to share what I see and get clarification about what exactly we need.

So formally and fundamentally, the key is valid when everything is good. Otherwise it's invalid.
There is however a common desire to see a more nuanced status, especially around expiration and revocation.
(However evi

[2022-07-05 17:47] ronaldtse opened #1868 "Setup RHEL container testing for OpenSSL backend"
We need to test against RHEL containers, using the vanilla OpenSSL backend that comes with it.

[2022-07-06 09:25] ni4 commented on #1595
@andrey-utkin Also within fixing of this issue we could drop check from CMake which allows to build with OpenSSL in the debug mode.

[2022-07-06 09:28] ni4 commented on #1842
@andrey-utkin Actually, it's what issue heading says - in this particular case correctly would be to say that subkey is expired, not invalid. That's what this issue about :)

[2022-07-06 11:44] ronaldtse commented on #1842
I think the question from @andrey-utkin to @ni4 is just:

Is this our expectation?

If a key is revoked and expired, it should show "revoked and expired", no?

[2022-07-06 11:45] ni4 commented on #1842
Actually it's quite simple - in this particular case we should set flag `expired` for the subkey as true, and we just need to add some checks for this.

[2022-07-06 11:46] ni4 commented on #1842
By current CLI logic it would be `[EXPIRED] [REVOKED]`. Actually the issue is just about unset `expired` flag in the case when it should be set (please see the previous comment).

[2022-07-06 13:41] ronaldtse commented on #1595
Agree with @ni4. Thanks @andrey-utkin !

[2022-07-06 13:49] andrey-utkin commented on #1859
https://github.com/rnpgp/rnp/pull/1863 has been merged.
It addresses the reported issue in full as I see, so I'm closing this ticket.
Also see related https://github.com/rnpgp/rnp/issues/1595 .

[2022-07-07 15:54] andrey-utkin commented on #1617
Fedora 36 has been released since, and I guess we want to test on it, too!
Fedora 35 might be still relevant to us.
Even older releases, 28 and 34, may be as well interesting to us as they are the bases for RHEL 8 and 9 respectively.
And we want to test them with both Botan and OpenSSL backends, if it's not too much to ask of Github Actions.

[2022-07-11 11:11] andrey-utkin opened #1872 "CI failures on release/0.x branch as of v0.16.0"
## Description

The configured CI jobs (Github Actions) fail in many ways on 0.16.0 release itself, which makes it difficult to build a next patch release on top of it.

## Steps to Reproduce

1. Create a branch based on v0.16.0 git tag (or release/0.x branch) and add a trivial cosmetic change to the codebase, e.g. a no-op statement to src/lib/rnp.cpp
2. push the branch
3. create a draft pull requ

[2022-07-11 11:19] andrey-utkin commented on #1872
Nickolay said there are fixes on master which should be cherry picked.
https://github.com/rnpgp/rnp/pull/1871#issuecomment-1180251635

[2022-07-11 11:58] ni4 commented on #1872
This is something that would always happen as time flies: expiring keys, updated CI images and runners, changed timestamps and so on. So I don't see a cure from such failures. If you don't have any further questions - feel free to close it as not planned.

[2022-07-11 12:08] andrey-utkin commented on #1872
There's no cure, but scheduled runs help with discovering it earlier ;)
I am going to use this ticket to denote the prerequisite work to backporting of the #1859 patches onto the release branch.

[2022-07-11 14:47] andrey-utkin commented on #1872
The fix comes in three pieces.
1. The minor-stable-release branch (`release/0.x`?) should take three backport commits. https://github.com/rnpgp/rnp/pull/1874
2. The master branch of RNP repo should take the increment of version.txt https://github.com/rnpgp/rnp/pull/1873
3. ruby-rnp repo should change to distinguish master from the stable branch correctly: https://github.com/rnpgp/ruby-rnp/pull/81

[2022-07-12 14:13] andrey-utkin commented on #1617
Raised a blocker https://github.com/riboseinc/yum/issues/9 in relation to adding CentOS 9 to CI :)

[2022-07-12 14:46] ronaldtse commented on #1617
@andrey-utkin I think RNP should probably provide its own yum repository instead of using the riboseinc one. What do you think?

[2022-07-12 16:12] andrey-utkin commented on #1595
A spec by @ni4

https://github.com/rnpgp/rnp/pull/1875#issuecomment-1181885579

Which I understand as follows:
No configuration flags:
Backend is Botan, check that core depended features are present, all flag-features available in installed Botan are enabled.

backend=botan: same as above

backend=openssl: check that core depended features are present, all flag-features available in installed Open

[2022-07-13 10:17] andrey-utkin opened #1876 "test_rnpcfg_get_expiration flaky"
## Description

rnp_tests.test_rnpcfg_get_expiration sometimes fails in CI for reasons unrelated to the particular pull request.
This looks like the test itself is unreliable.

## Steps to Reproduce

This happens from time to time in CI, not consistently.
Re-run CI repeatedly to trigger?

## Expected Behavior

The test always passes or is excluded/dropped.

## Actual Behavior

[code]
https://githu

[2022-07-13 14:10] andrey-utkin commented on #1617
RNP probably doesn't need to right now.
The importance of this internal package repository is very small. I'd be grateful to be able to lean on the riboseinc repo and not take on maintenance of another RPM repo.

In this case, these `ribose-automake116*` packages play purely instrumental role of build prerequisites for custom-building GnuPG for CI runs. There are ways to avoid relying on an RPM re

[2022-07-14 16:19] andrey-utkin opened #1877 "Implement SM2 support for OpenSSL backend"
## Description

Currently it fails to build.

## Steps to Reproduce

1. Disable the rejection hardcoded in the build system.
2. `cmake -DCRYPTO_BACKEND=openssl -DENABLE_SM2=On . && make && ctest`

## Expected Behavior

Builds and passes all tests.

## Actual Behavior

Build failure.

[2022-07-15 09:19] andrey-utkin commented on #1584
In fact our typical CI runner spends 8+ minutes just setting up the stage for configuration and building the codebase. See e.g. https://github.com/rnpgp/rnp/runs/7343968509?check_suite_focus=true
The relevant bits are

Only after that comes

That's for cli_tests; rnp_tests take ~2m 45s.

I think producing Docker images for the few prerequisite configurations we use is worth it. CI will go brrr!

[2022-07-15 11:17] ronaldtse commented on #1584
@andrey-utkin we did have a long discussion on Docker images some time ago. Perhaps this is a good time to do it!

[2022-07-15 11:49] ni4 commented on #1584
Yeah, we discussed year or so ago that it would be good to have Docker images with installed CI pre-requisites, just didn't get to this yet. Would be helpful with local debugging/testing as well.

[2022-07-15 11:57] ni4 commented on #1595
Yeah, correct.

P.S. Do you really have a need to address issue in the commit title? It makes issue's comment log quite unreadable.

[2022-07-15 13:56] andrey-utkin commented on #1595
I feel I do! It's a widespread practice and I'm glad for it, as software archeology is a regular part of the job :)
I don't know how to leave a link to the issue ticket in a commit message so that github doesn't pick it up but that it's not too obscure/tedious for people to pick up.
Sorry for the readability issue. Indeed it clutters the issue page, wait until github starts to fold it up! FWIW, em

[2022-07-15 15:09] ni4 commented on #1595
Having issue number with hashtag in the PR message (as well as some description on what's going on there) instead of title would not create comment on each force-pushed commit (and would display link to the PR which addresses this issue to the right). Would this work for the arechological purposes?

[2022-07-15 15:16] andrey-utkin commented on #1595
It would work great if we agree to merge PRs with proper merge commits, not by rebasing. This way there'll be a full trace - from commit to the merge, and from merge to the ticket.

[2022-07-15 15:27] andrey-utkin commented on #1595
Funnily, Github doesn't even allow to merge PR with a merge commit in the RNP repo, at least not by the button.

[2022-07-15 15:34] andrey-utkin commented on #1617
PR https://github.com/rnpgp/rnp/pull/1870 merged.
Closing this ticket.
CentOS 9 is not enabled in CI though.

[2022-07-15 15:34] #1617 closed

[2022-07-15 16:07] ronaldtse commented on #1595
Our convention is to rebase changes instead of merging them.

Why not just use the hash issue number in the commit? What's wrong with GitHub picking up the GitHub issue numbers?

[2022-07-15 18:27] andrey-utkin commented on #1595
What Nickolay has pointed to: that the web page with this issue is getting longer each time I push rewritten history, which is distracting when you're trying to follow the discussion happening there.

[2022-07-17 07:46] ronaldtse commented on #1595
Ah I see. The rewritten commits being shown don't bother me that much. Perhaps my brain is now trained to ignore them...

[2022-07-17 14:59] antonsviridenko commented on #1739
Let's talk about the license of this module. If we want it to be included into the PECL, "The PHP License, version 3.01" is preferred.

https://pecl.php.net/account-request.php

[2022-07-17 18:57] antonsviridenko opened #1878 "Missing result codes in rnp_result_to_string()"
## Description

FFI function `rnp_result_to_string()` does not return string results for all defined status/error codes.
At this moment 31 error/status/result codes are defined in https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp_err.h#L32
but only 26 of them are handled by `rnp_result_to_string()`

## Expected Behavior

All defined codes should have corresponding string value in `rnp_resul

[2022-07-17 20:52] antonsviridenko commented on #1878
and `RNP_ERROR_SIGNING_FAILED`

[2022-07-17 20:58] antonsviridenko commented on #1878
There was no test for `rnp_result_to_string()`. Any ideas how to check all enum values are covered without manually typing all of them? :)

[2022-07-18 08:53] andrey-utkin commented on #1595
https://github.com/rnpgp/rnp/pull/1875 merged. Closing.

[2022-07-18 08:53] #1595 closed

[2022-07-18 09:00] ni4 opened #1880 "Add ENABLE_* options for OpenSSL 3.0 legacy crypto provider"
## Description

OpenSSL 3.0 moved some of the digests/symmetric ciphers to the 'legacy' crypto provider, which is not loaded by default.
We should be ready to disable those digests/symmetric ciphers via the build-time switches, like it is done with Twofish/Brainpool curves/whatever else.

See this for the details: https://wiki.openssl.org/index.php/OpenSSL_3.0#Provider_implemented_ciphers

[2022-07-18 14:37] dkg commented on #1820
If you don't think it's appropriate to change the semantics of this function, then i recommend introducing a new function that has reasonable default semantics, and to deprecate this one.

I am completely sympathetic to your goal of maintaining ABI stability, as surprising changes can cause disruptions downstream.  That said, i don't think that you want a new user of librnp to have to know that th

[2022-07-19 07:53] ronaldtse commented on #1739
@antonsviridenko it looks like they support the BSD license too? Let’s use the same BSD license for simplicity in managing our project. Thanks!

[2022-07-28 12:41] ni4 commented on #1868
Note sure whether this applies to the issue, but may be useful: https://redhat-scholars.github.io/openshift-starter-guides/rhs-openshift-starter-guides/4.7/nationalparks-java-codechanges-github-actions.html

[2022-07-29 22:26] antonsviridenko commented on #1726
Changing `GIT TAG` to  `main` in  https://github.com/rnpgp/rnp/blob/master/src/tests/CMakeLists.txt#L54 fixes this issue for me.
Google recommends to use latest commit from the repo

@ni4 what do you think?

[2022-07-29 23:50] #1878 closed

[2022-07-30 01:27] ronaldtse commented on #1726
I'm fine with using GoogleTest as head. I have reservations with always deploying code at head, because deployment is not an atomic task.

[2022-07-30 08:10] ni4 commented on #1726
@antonsviridenko I'm fine with proposed changes, let's switch to HEAD.

[2022-08-08 12:05] tigernero79 commented on #1284
after 2 years, is there any news for native rnp support for yubikey smartcards?  possible that a way like gnupgp to manage Key private stub on yubico token has not been found?

[2022-08-10 16:36] antonsviridenko opened #1888 "Possible incorrect behavior of rnp_op_verify_execute()"
## Description

While testing PHP wrapper for RNP library I've encountered this unexpected behavior of rnp_op_verify_execute() -- `RNP_SUCCESS` is returned, but rnp_op_verify_signature_get_status() for each signature returns `RNP_ERROR_KEY_NOT_FOUND`.

## Steps to Reproduce

1. Prepare valid signed message, i.e. create embedded signature using rnp_op_verify_create()
2. Call `rnp_op_verify_execute(

[2022-08-14 16:16] antonsviridenko commented on #1739
@ronaldtse ok, added LICENSE file with Ribose license text https://github.com/rnpgp/php-rnp/blob/main/LICENSE

[2022-08-14 16:19] antonsviridenko commented on #1739
So, minimal amount of required APIs for key generation/sign/verify/encrypt/decrypt operations is implemented so far. PHP API looks like this now - https://github.com/rnpgp/php-rnp/blob/main/rnp.stub.php. Time to write some PHP documentation :)

[2022-08-14 16:24] antonsviridenko commented on #1739
Keys are referenced using fingerprint strings or arrays containing such strings (`$keys_fp, $recipient_keys_fp, return value of rnp_op_generate_key()`)

[2022-08-14 18:04] ronaldtse commented on #1739
Thank you @antonsviridenko !

[2022-08-16 10:26] ni4 commented on #1820
@dkg sorry, somehow missed to reply here in time. Finally this settled up in a head (mostly due to the security concerns), and we decided to change to the behaviour you suggested: return RNP_SUCCESS when there is at least one valid signature. It should not affect most of the users as most use-cases have just a single signature.

[2022-08-22 15:48] andrey-utkin commented on #1868
Thanks for the link @ni4 !
I see two options for us.
1. No-cost RHEL for Development Use, but it's a traditional installable machine, so good for manual iteration but no CI integration. https://developers.redhat.com/promotions/download-rhel
1. Set up RH OpenShift subscription (perhaps cloud, but self-hosted way also requires paid sub) and run GH Actions runners using it. There's 30 (dev sandbox) /

[2022-08-23 04:02] ronaldtse commented on #1868
@andrey-utkin the easiest way is to use the RHEL UBI base images and use them in GitHub Actions:
* e.g. RHEL 8 UBI https://catalog.redhat.com/software/containers/ubi8/ubi/5c359854d70cc534b3a3784e

During yum install you will see some warnings but it still works:

[code]

[2022-08-23 14:10] ronaldtse opened #1891 "Combine CI workflows of all CentOS/Fedora/RHEL into one"
## Description

Only one CI workflow is really needed.

e.g. https://github.com/ansible/pylibssh/blob/devel/.github/workflows/build-test-n-publish.yml#L706-L720

[2022-08-23 14:47] andrey-utkin opened #1892 "Duplication of definitions, e.g. symm_alg_map"
## Description

There are some id-to-string maps definitions which are duplicated, which maybe shouldn't.

[code]

[2022-08-23 15:24] andrey-utkin opened #1893 "Unify whether tests use datadir copy or use it directly"
## Description

Test suite written in C++ makes a copy of entire data directory, see `src/tests/rnp_tests.cpp:67` :
[code]

But Pythonic tests operate directly on `src/tests/data/`, in particular writing into it, which makes test suite fail if the code directory is not writable:
[code]

The tests create such files as `src/tests/*.kbx` , `src/tests/decrypted`.

So we are kind of not getting the ful

[2022-08-24 14:09] #1726 closed

[2022-08-25 16:21] antonsviridenko opened #1894 "Function `rnp_ffi_create()` does not accept `RNP_KEYSTORE_GPG21` format"
## Description

Parameter description for  `rnp_ffi_create()` says:
[code]
so it is reasonable to assume that
[code]
should be accepted too. But CLI and test code replaces literal value "GPG21" passed
as a keystore format to
KBX for public and G10 for private instead, in these two places:
https://github.com/rnpgp/rnp/blob/master/src/rnp/fficli.cpp#L1928
https://github.com/rnpgp/rnp/blob/master/src

[2022-09-04 08:37] antonsviridenko commented on #1739
@ronaldtse Did you receive any response from PECL-Dev? Probably you need to subscribe to this mailing list first, your email is not visible in mailing list archives, probably it did not reach them

https://marc.info/?l=pecl-dev&r=1&b=202208&w=2

[2022-09-05 02:25] ronaldtse commented on #1739
@antonsviridenko you're absolutely right -- I've just re-done it and the message is now on the list. Thanks!

[2022-09-06 13:10] Lewi97 opened #1898 "Cannot open source file rnp_export.h ."
## Description

I have been trying to use the C API to support OpenPGP encryption within my own project, but while trying to compile one of the examples i keep getting stuck on the following include error:
![image](https://user-images.githubusercontent.com/86553904/188641273-08a35e2f-86a9-4d28-a1c6-d1622083833d.png)

This file "rnp_export.h" has been driving me on a witchhunt for the past couple h

[2022-09-06 13:24] ni4 commented on #1898
@Lewi97 this file is generated by cmake during compilation/installation, and contains system-dependent defines, used to export symbols from the library.
Please see `windows-msvc.yml` file under the `.github/workflows/` for the hint on how to build lib for Windows.

[2022-09-07 08:34] Lewi97 commented on #1898
@ni4 Thank you, that solved it.

[2022-09-07 08:34] #1898 closed

[2022-09-07 09:31] ni4 commented on #1894
@antonsviridenko Could you please clarify why this may be needed? I do not remember when this was added, maybe there were some misunderstanding or so on. There is no GPG21 key store format: GnuPG has 2 ways of storing keys. Old format via plain `pubring.gpg`/`secring.gpg` (i.e. _GPG/_GPG) and a new one, with `pubring.kbx`/`private-keys-v1.d` (i.e. _KBX/_G10)

[2022-09-07 12:26] ni4 commented on #1724
This was changed since GnuPG 2.3+ : https://github.com/gpg/gnupg/blob/master/agent/keyformat.txt

[2022-09-07 12:37] ronaldtse commented on #1724
Let's handle SEXP in a separate reusable library: https://github.com/rnpgp/sexp/issues/1

[2022-09-07 12:38] ni4 commented on #1894
Related: https://github.com/rnpgp/rnp/issues/1724

[2022-09-07 17:44] Lewi97 opened #1899 "Can't find entry point of certain procedures in .dll error when running any of the examples"
## Description

Building from source using MSYS resulted in the binaries for the examples producing dll errors stating that they are unable to find the entry point for two functions, more info down below.
I followed the steps from the MSYS guide ``https://github.com/rnpgp/rnp/blob/master/docs/installation.adoc#using-msysmingw`` thrice, using the CLang and MingW consoles, the 64 bit versions just t

[2022-09-08 04:28] antonsviridenko commented on #1894
I agree

[2022-09-08 10:40] ni4 commented on #1899
@Lewi97 Just to make sure - are `librnp.dll` and `libbotan-2.dll` on `$PATH`? You may also check our GHA workflows/CI scripts for the details how it is built.

[2022-09-08 11:01] Lewi97 commented on #1899
@ni4 Interesting, adding them to $PATH and running the binaries in the MingW terminal resulted in expected behaviour. However running them by just double clicking the .exe reintroduced the errors.

[2022-09-08 12:14] ni4 commented on #1899
@Lewi97 That's actually expected, as Windows doesn't know where to look for dll's as they are stored in build directories, not the same as executable.

[2022-09-08 12:51] Lewi97 commented on #1899
@ni4 Thanks for the clarification, then it seems like it did build everything correctly!

[2022-09-08 12:51] #1899 closed

[2022-09-09 11:29] ni4 commented on #1820
Fixed via #1896

[2022-09-09 11:29] #1820 closed

[2022-09-11 22:31] jfx2006 opened #1901 "ENABLE_IDEA not working"
## Description

In 0.16.1, IDEA support does not get enabled despite Botan supporting it

## Steps to Reproduce

1. Run `cmake -S rnp-0.16.1 -B build`
2. Build: `cd build && make`
3. Execute the built "rnpkeys" binary without any arguments: `./src/rnpkeys/rnpkeys`

## Expected Behavior

The "Encryption" line should include "IDEA" in its list

## Actual Behavior

IDEA does not appear in the "Encryp

[2022-09-12 11:37] ni4 commented on #1901
@jfx2006 Wow, how could we (and our tests) miss that! Thanks for reporting, we'll work on fixing this.

[2022-09-13 07:37] juippis opened #1902 "ENABLE_BRAINPOOL not working with CRYPTO_BACKEND=openssl"
## Description

For whatever reason if I try to compile `ENABLE_BRAINPOOL` with `CRYPTO_BACKEND=openssl` the build errors out with:

[code]

But if I check **openssl ecparam -list_curves | grep -i brainpool** I get:
[code]

So it should be available?

## Steps to Reproduce

1. `-DCRYPTO_BACKEND=openssl -DENABLE_BRAINPOOL=on`
2. build

## Expected Behavior

My understanding is that brainpool should

[2022-09-13 09:04] ni4 commented on #1902
@juippis Thanks for reporting! It doesn't work correctly indeed, something messed up in CMakeLists. Looks like it was introduced via the PR #1875 . We'll fix it and release v0.16.2 ASAP, as we have another CMake issue as well.

[2022-09-14 12:37] antonsviridenko commented on #1739
@ronaldtse any news about PECL account?

[2022-09-15 06:00] antonsviridenko commented on #1739
What version number should we assign to the first release of this module? PECL requires versioned releases as I see.

[2022-09-15 12:19] ni4 opened #1904 "Do not install botan for OpenSSL-only CI"
## Description

Currently `centos8-ossl.yml` and `centos9-ossl.yml` download and install Botan, which takes time and is not needed.

[2022-09-16 15:44] #1904 closed

[2022-09-17 09:57] ni4 opened #1907 "CI: Possible inconsistency for RNP_INSTALL"
## Description

Not sure whether this is an issue, but `env-common.inc.sh` and `ci/gha/setup-env.inc.sh` both define `RNP_INSTALL` variable.
First one sets it to `$HOME/local-installs/rnp-install`, while second to the `${GITHUB_WORKSPACE}/rnp-install`.

[2022-09-17 12:11] ni4 opened #1908 "CI: Use system-shipped Json-C/Botan/GnuPG when applicable."
## Description

Currently we build Json-C/Botan/GnuPG from sources, however it would be more logical to use ones from packages if version requirements are met. Except cases where we need to check against exact GnuPG and/or Botan version.

[2022-09-18 17:06] antonsviridenko commented on #1739
Let it be version 0.1

[2022-09-18 17:21] antonsviridenko opened #1909 "Description of `rnp_identifier_iterator_create()` does not list "fingerprint" as an acceptable identifier."
## Description

Documentation for  `rnp_identifier_iterator_create()`
lists only 3 acceptable identifiers `("userid", "keyid", "grip")`
https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h#L2982
but 4 of them, including missing "fingerprint" are available
https://github.com/rnpgp/rnp/blob/master/src/lib/rnp.cpp#L233

Also "fingerprint" is used in CLI sources, but not covered by tests.

[2022-09-19 07:17] ronaldtse commented on #1908
Agree @ni4!

[2022-09-19 10:21] #1909 closed

[2022-09-20 03:33] #1901 closed

[2022-09-20 03:33] #1902 closed

[2022-09-20 09:10] ni4 opened #1911 "CI: cleanup features check code, duplicated over the workflows"
## Description

Currently `supported-features` step duplicate a lot of code lines, which could be put in a separate function and reused. Also it should be added to some Botan runners.

[2022-09-20 12:33] ni4 opened #1913 "CI: add Gentoo runner"
## Description

...checking both Botan and OpenSSL backends.

[2022-09-22 10:32] ni4 commented on #1284
@tigernero79 Sorry for answering so lately, somehow notification got buried in mail folder. Support for yubikey and other tokens is quite a complicated thing, so unfortunately I cannot give any estimation at the moment.

[2022-09-22 20:41] tigernero79 commented on #1284
do you know what the problem is?  is that managing yubikey on Thunderbird without native support for Key private on smartcards and tokens makes using openpgp email difficult.  most of the time even enabling gnupgp support Thunderbird crashes.  I hope that another 2 years will not pass

[2022-09-23 09:21] ni4 commented on #1284
I understand, I also use Yubikey with Thunderbird on macOS, having some issues and need for workaround.

[2022-09-26 14:22] ni4 opened #1915 "CLI: rnp --enarmor requires an argument, but we may add some default."
## Description

Currently `--enarmor` command requires an argument with the armored message type. However it would be more convenient for the user to use some default value if argument is not specified.

[2022-09-26 14:23] ni4 opened #1916 "Do not attempt to validate signatures of the unexpected type."
## Description

In the attached OpenPGP data subkey packet is deleted, but it's binding signature is left, following the userid certification.
This key can be successfully imported to the RNP, however issuing afterwards `rnpkeys --list-keys --with-sigs` includes the following line: `[signature_validate() ../rnp/src/lib/crypto/signatures.cpp:227] wrong lbits`. This tells that RNP attempts to valida

[2022-09-28 10:18] #1788 closed

[2022-09-30 12:05] ni4 opened #1918 "Use AEAD OCB instead of EAX by default"
restricting the new AEAD thing to just one mode (OCB) and dropping EAX
which is not needed anymore.

Whole email:
https://mailarchive.ietf.org/arch/msg/openpgp/4jYV0gnSt1JV7avWlx_rY0q6VmY/

[2022-10-03 10:33] ni4 commented on #1766
Fixed via #1917

[2022-10-03 10:33] #1766 closed

[2022-10-04 15:50] #1915 closed

[2022-10-05 13:11] ni4 commented on #1822
Fixed via https://github.com/rnpgp/rnp/pull/1896 with the following output (with 0 return code):
[code]

[2022-10-05 13:11] #1822 closed

[2022-10-05 16:59] #1918 closed

[2022-10-05 17:04] antonsviridenko commented on #1913
Who is going to add it?

[2022-10-05 17:19] #1916 closed

[2022-10-05 17:55] ni4 commented on #1913
@antonsviridenko Anybody interested in :) Feel free to go ahead.

[2022-10-05 18:19] antonsviridenko commented on #1913
I see you are more experienced in CI related things :) I can help with Gentoo-specific questions.

Btw, how git branch from the PR is passed to the runner? So the upcoming changes can be built from sources, ones that are not merged yet to the master branch?

[2022-10-05 18:26] ni4 commented on #1913
Ah, okay then ) I am not familiar with Gentoo's package manager.
Branch is checked via `actions/checkout@v2`, and this one most likely uses `GITHUB_REF_NAME` env variable. Please see https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables for the details.

[2022-10-05 21:57] antonsviridenko commented on #1913
1. Docs say GitHub provides only Ubuntu, Windows & macos VMs. Are other OSes that we use (Centos, Fedora) self-hosted?

2. Gentoo does not have GitHub "runner" application in a repository, and "runner" repo does not list Gentoo in supported distros. Most likely it is possible to build & run it on Gentoo, but it will take some efforts.

[2022-10-06 08:38] ni4 commented on #1913
Ubuntu runner may use Docker image, that's how centos workflows work, see the following in .yml file:
[code]

Latest Gentoo Docker images are available: https://hub.docker.com/u/gentoo/

I've got Gentoo setup working locally via the following Dockerfile snippet:
[code]

[2022-10-09 02:50] antonsviridenko commented on #1913
It is better to install all dependencies in a single run of "emerge" command, it is bit slow and takes long time to calculate dependencies each time. Also `app-arch/bzip2`  and `sys-libs/zlib` should be installed too. So it should be like
[code]

[2022-10-09 03:02] antonsviridenko commented on #1913
I propose to use our RNP gentoo overlay & install `emerge =app-crypt/rnp-9999` instead of building sources manually. This way ebuild scripts will be tested too.

Version `9999` in Gentoo means "live ebuild", i.e. package built from the latest development version, last commit from the repo.

https://github.com/rnpgp/gentoo-rnp/blob/master/app-crypt/rnp/rnp-9999.ebuild#L11

Remaining issue is to tel

[2022-10-11 13:32] ni4 commented on #1913
@antonsviridenko This approach could bring more complications, as CI should also work with forks, and so on. Also from the architectural point of view Gentoo stuff is something which of higher layer then RNP library, so we should not call it from lower layer. I'd suggest to separate this in two solutions:
- build and run RNP tests on Gentoo image like we do that for centos and so on
- add CI to th

[2022-10-12 00:08] antonsviridenko commented on #1913
ok, sounds reasonable

[2022-10-12 14:32] ni4 opened #1923 "CI: update workflows to use actions based on nodejs-16"
## Description

[2022-10-13 03:37] #1843 closed

[2022-10-22 15:33] antonsviridenko commented on #1739
@ronaldtse did you register the PECL account?

As I see, there are two existing approaches,
one is that each developer has individual PECL account under his name
and multiple PECL accounts can be listed in package as maintainers of this package,
or there is a team account named like "Protobuf Team",
so we can have one named like "RNP Team".

PHP module is almost ready to release, finishing documen

[2022-10-24 02:43] ronaldtse commented on #1739
@antonsviridenko thank you for the reminder! We haven't heard back since Sept from the PECL-DEV mailing list, so I just submitted an account creation request, and emailed the list (and Christoph Baker) again to request for approval. Will let you know!

[2022-10-24 02:43] ronaldtse commented on #1739
(Agree with version 0.1) Once we have the team account perhaps we can also have individual PECL accounts as maintainer.

[2022-10-24 15:13] antonsviridenko commented on #1739
@ronaldtse great, I see they've approved your PECL account, can you tell me PECL username you registered? It should be included into the https://github.com/rnpgp/php-rnp/blob/main/package.xml file for successfull upload.

[2022-10-24 16:58] ronaldtse commented on #1739
@antonsviridenko the username is `rnp`. Is there anything else we need?

[2022-10-24 20:27] antonsviridenko commented on #1739
@ronaldtse ok, I've updated https://github.com/rnpgp/php-rnp/blob/main/package.xml with actual username, release date and full file list, now you can use your PECL account & try to upload the first release using this file. Let me know if something is not ok.

[2022-10-24 20:29] antonsviridenko commented on #1739
After the package is listed in PECL, I can create pull requests to PHP documentation repositories, link to existing PECL package is required for approval.

[2022-10-25 04:30] ronaldtse opened #1926 "Create Fedora package for rnp/librnp"
https://docs.fedoraproject.org/en-US/package-maintainers/New_Package_Process_for_Existing_Contributors/

[2022-10-25 15:16] wyatt-sfu opened #1927 "CMake errors while building on Windows 10"
## Description
While following the Windows build instructions in [https://github.com/rnpgp/rnp/blob/master/docs/installation.adoc](https://github.com/rnpgp/rnp/blob/master/docs/installation.adoc) I am getting CMake failures with a couple of different error messages.

## Steps to Reproduce
1. Download and unzip rnp-0.16.2
2. Install vcpkg with `git clone https://github.com/Microsoft/vcpkg.git`
3. I

[2022-10-25 16:29] wyatt-sfu commented on #1927
@ni4 I think I have figured out the issue. I did not need a VCPKG_DIR environment variable because the build tutorial uses VCPKG_ROOT.

However, the trick was to specify the x64-windows triplet when installing the VCPKG packages. So rather than
`vcpkg install bzip2 zlib botan json-c getopt dirent python3[core]`,
I instead ran,
`vcpkg install bzip2:x64-windows zlib:x64-windows botan:x64-windows jso

[2022-10-25 16:38] ni4 commented on #1927
Thanks for writing back! Definitely, workflow has this line as well: `vcpkg install --triplet ${{ matrix.triplet }} $(cat vcpkg.txt)`.
PR #1928 should update the documentations.

[2022-10-25 16:48] wyatt-sfu commented on #1927
Thanks for the quick responses!

[2022-10-25 16:48] #1927 closed

[2022-10-25 18:52] maxirmx opened #1929 "Refactor CI: Centos/Fedora workflow"
Target flow:
1. build / run tests  ( for different flavours, OS versions and architectures )
2. build a SRPM, install it and test ( for different flavours, versions and architectures )
    (publish SRPM as an artifact)
4. build RPMs  ( for different flavours, versions and architectures )  and then test them
    (publish RPMs as artifacts)

[2022-10-26 05:19] ronaldtse commented on #1929
This is correct. Thank you @maxirmx !

[2022-10-28 08:04] remicollet commented on #1926
Can probably help

See https://git.remirepo.net/cgit/rpms/lib/rnp.git/tree/rnp.spec

I'm also a Fedora packager (mostly interested in PHP stack)

Main question, for now, is about which backend to use (botan-2 is too old in EPEL-8, OpenSSL is a core package for Enterprise distro)

[2022-10-28 09:17] ribose-jeffreylau commented on #1926
Hi @remicollet , thanks for lending a hand!  The rnp.spec you provided looks much cleaner than the one I have on hand, so I'm very glad.

I can see that there is already provision for conditionally using either botan or OpenSSL in the RPM spec.  I guess it makes sense to use OpenSSL in EPEL-8, and botan everywhere else, like what you already have.

[2022-10-28 09:25] remicollet commented on #1926
Submitted for review
https://bugzilla.redhat.com/show_bug.cgi?id=2138353

[2022-10-31 12:17] ni4 commented on #1923
From the PR #1930:

[2022-11-02 07:13] bkmgit commented on #1926
Thanks for providing this. Maybe a comment can be added in the README or [LICENSE-OCB.md](https://github.com/rnpgp/rnp/blob/master/LICENSE-OCB.md) that the patents have expired?

[2022-11-02 10:55] remicollet commented on #1926
@bkmgit Patent and License are really 2 different things ;)

@nik4 question is not about OpenSSL working, but if it should be preferred everywhere (even where Botan is available). Especially on RHEL where OpenSSL is part of the distro, which Botan is not (only in community EPEL repo)

[2022-11-02 10:59] remicollet opened #1932 "LICENSE is missing MIT"
These files contain a MIT header:
* rnp-0.16.2/src/lib/crypto/sha1cd/sha1.c
* rnp-0.16.2/src/lib/crypto/sha1cd/sha1.h
* rnp-0.16.2/src/lib/crypto/sha1cd/ubc_check.c
* rnp-0.16.2/src/lib/crypto/sha1cd/ubc_check.h

so the MIT part is missing in LICENSE.md

[2022-11-04 04:41] ronaldtse opened #1934 "CI: replace `git-hooks/pre-commit.sh` functionality with GitHub Actions"
## Description

The `git-hooks/pre-commit.sh` script assumes a lot of setup on the local computer, and these checks should really be now done in the CI system.

## Expected Behavior

Replace `git-hooks/pre-commit.sh` with corresponding GitHub Actions.

[2022-11-04 04:55] ronaldtse opened #1935 "Clarify status of OCB license"
## Description

The status of the OCB license has been enquired at several places:

* https://bugzilla.redhat.com/show_bug.cgi?id=2138353
* https://gitlab.com/fedora/legal/fedora-license-data/-/issues/92#note_1153084097

## Expected Behavior

We need to clarify the status of the license.

As described here:
* https://bugzilla.redhat.com/show_bug.cgi?id=2138353#c10

The LICENSE-OCB.md file used to

[2022-11-04 04:57] ronaldtse commented on #1935
Thank you @remicollet @bkmgit @richardfontana for raising this!

[2022-11-04 07:35] ronaldtse opened #1937 "Change default branch from `master` to `main`"
## Description

It is now customary to use `main` instead of `master` as the default branch.

[2022-11-04 08:11] #1932 closed

[2022-11-04 08:12] #1935 closed

[2022-11-04 08:29] ronaldtse commented on #1937
@ribose-jeffreylau @ni4 @antonsviridenko any precautions we should take before the change?

[2022-11-04 11:00] ni4 commented on #1937
All dependencies (like oss-fuzz, brewfile, whatever else?) which were sticked to default master naming could be affected. Probably we should re-check and build a list of things which should be updated.

[2022-11-04 12:28] ronaldtse commented on #1937
The downstream packaging repos need to be updated, but I believe they use the latest tag versions:

* https://github.com/rnpgp/homebrew-rnp
* https://github.com/rnpgp/chocolatey-rnp
* https://github.com/rnpgp/gentoo-rnp
* https://github.com/rnpgp/rnp-snap

[2022-11-06 10:16] ni4 commented on #1926
@remicollet sorry, somehow missed this comment. Botan has more algorithms 'out of the box' than OpenSSL, and less variations between systems. From what we have now:
- OpenSSL doesn't have and will not have Twofish support (not much loss as most are stick to AES)
- AEAD cipher mode support for OpenSSL backend is not implemented yet in RNP (but is planned to be)
- different installations (builds?) o

[2022-11-08 07:33] flydev-fr opened #1938 "Windows console build with CMake fail due to build tests"
## Description

Following github documentation to run a console build with CMake on Windows 64bits fail due to `build tests`

## Steps to Reproduce

1. clone the repo
2. install vcpkg deps
3. run `cmake -B . -G "Visual Studio 16 2019" -A x64 -DCMAKE_TOOLCHAIN_FILE=%VCPKG_ROOT%\scripts\buildsystems\vcpkg.cmake -DCMAKE_BUILD_TYPE=Release .`

## Expected Behavior

Build without error.

## Actual Beha

[2022-11-08 09:45] ni4 opened #1939 "AEAD-encrypted session key doesn't respect password encryption algorithm."
## Description

When encrypting data to the password RNP may use different symmetric algorithm for KEK encryption (see function `rnp_op_encrypt_add_password()`. However, if it differs from the CEK, AEAD branch still uses CEK.
Also it would be good to set KEK algorithm to CEK if it not specified in `rnp_op_encrypt_add_password()` (currently it will default to AES256).

See the details here: https:/

[2022-11-08 09:52] ni4 commented on #1938
To turn off tests building you should also add ` -DBUILD_TESTING=off` option to CMake call. And, definitely, building tests would fail if `CTest` is not found.
We would update documentation, as this option is specified for Linux builds.

[2022-11-11 20:48] #1938 closed

[2022-11-18 06:36] maxirmx commented on #1891
CentOS/Fedora squashed workflow sample: https://github.com/rnpgp/sexp/blob/main/.github/workflows/build-and-test-rh.yml
Debian squashed workflow sample: https://github.com/rnpgp/sexp/blob/main/.github/workflows/build-and-test-deb.yml

Debian workflow also has cmake installation from binary distribution and reduces run time dramatically

[2022-11-18 06:38] maxirmx commented on #1929
CentOS/Fedora squashed workflow sample: https://github.com/rnpgp/sexp/blob/main/.github/workflows/build-and-test-rh.yml

[2022-11-21 14:44] ni4 commented on #1197
Was resolved via the 4a2d42d9591ecf7428a738247181c988f6fc0ff2

[2022-11-21 14:44] #1197 closed

[2022-11-21 14:48] ni4 commented on #1872
Closing this as it was already resolved during the v0.16.1 release.

[2022-11-21 14:48] #1872 closed

[2022-11-21 14:58] ni4 commented on #70
Let's close this as not releveant anymore: we have `--homedir` and `--keyfile` options, which should be sufficient for all uses. If some edge case is not covered - we'd create a separate issue/PR.

[2022-11-21 14:58] #70 closed

[2022-11-22 15:34] antonsviridenko commented on #1784
So I want to implement `--expert` mode for subkey generation, now it looks like this for default primary & sub keypair.
[code]
I want to implement something similar for subkey algo selection. What was the logic in assigning these numbers?
RFC says
[code]
So looks like 16 applies to the subkey algorithm, but for option 19 it is a primary key algo. looks inconsistent. And what document does define n

[2022-11-22 15:42] ni4 commented on #1784
@antonsviridenko not sure about the real reasons, but for me it seems to resemble RFC numbers where it is applicable. 16 for DSA-ElGamal most likely was used to distinguish between DSA-EG and DSA-RSA keypairs. 99 (as far as I remember) was picked for SM2 using 'pre-experimental' number, to not interfere with other implementations could be using 100-110. OSCCA RFC marks it as TBD (to be defined): h

[2022-11-27 13:08] #1275 closed

[2022-11-28 13:41] nwalfield opened #1944 "When comparing fingerprints, you may also want to compare the version"
The issuer fingerprint subpacket [is defined](https://datatracker.ietf.org/doc/html/draft-ietf-openpgp-crypto-refresh-07#section-5.2.3.32) as:

[code]

When comparing the issuer fingerprint with a key fingerprint, the version should probably also be compared to avoid possible version confusion attacks:

The [`pgp_fingerprint_t` data structure](https://github.com/rnpgp/rnp/blob/4a2d42d9591ecf7428a7