[2019-07-20 10:21] ni4 opened #884 "Check whether key flags are respected for sign/encrypt operations."
## Description

It looks like that currently only key/subkey algorithm are checked before performing the sign/encrypt operation.
So, for instance, you may sign with RSA subkey with encrypt-only key flags in subkey binding signature.

[2019-07-20 10:25] ni4 commented on #458
@dewyatt My idea in default key picking would be to go through corresponding public keyring and pick first primary key, which has secret part in secret keyring. If there are no secret keys - then just first primary public key. Does this sound good?

[2019-07-20 11:07] kaie commented on #882
see https://kuix.de/misc/rnp-822-repro.txt

[2019-07-20 11:16] ni4 commented on #882
@kaie Yeah, it's the same case - rnp picks up 256-bit ECDH subkey as the default key, and tries to use it for signing. Will fix it soon, thanks for bringing this up!

[2019-07-20 11:24] kaie commented on #882
Thanks for your help.

[2019-07-20 11:52] dewyatt commented on #458
@ni4 That sounds logical to me. I think that when I filed this I was concerned about the case of an empty pubring, but now that we support extracting the pub from sec, that case shouldn't be a problem.

Ideally we would look at the operation being requested and pick the default key based on that though. We can file that as a future enhancement if needed.

[2019-07-22 07:32] ronaldtse commented on #881
Agree!

[2019-07-23 14:07] ni4 opened #885 "Extra exponentiation when secret keys are loaded."
## Description

When PK secret key is loaded by Botan the public key part is calculated instead of loading already known one, which slows down secret key operations.

[2019-07-24 13:35] kaie opened #888 "Support linking a static botan library to a static rnp library"
I'd like to link RNP statically.

It seems, the usual approach to build statically with cmake is to simply omit the -DBUILD_SHARED_LIBS=on flag when executing cmake.

To produce a static library, the "add_library" call needs to add a STATIC keyword after the library name.

I tried that on Linux, but I get failures, unresolved externals from the pthreads library.
I suggest to add the threading libr

[2019-07-24 13:57] dewyatt commented on #888
This should already be handled automatically based on `BUILD_SHARED_LIBS`.

I suggest to add the threading library as a dependency.

I haven't looked at this.

This should already be the case, unless I'm misunderstanding what you mean.

[2019-07-24 14:05] dewyatt commented on #888
I suggest to add the threading library as a dependency.

I tried and didn't have any issues building a static lib:
[code]

Can you provide more information (sequence of commands)?

[2019-07-24 14:09] kaie commented on #888
Ok, after some more experiments, you're partially right, it indeed works already, if the botan library offers a shared library.

However, I want to link the botan library statically. I built botan with --disable-shared-library

[2019-07-24 14:18] kaie commented on #888
The static botan library is the cause of the issue.

[2019-07-24 16:06] dewyatt commented on #888
Generally it's not ideal to link the core cryptographic library statically.

Anyways, I would have to revisit this later but it should probably be handled in the FindBotan2 cmake module.

[2019-07-24 16:12] kaie commented on #888
Ok, this isn't a high priority right now. We can postpone to a later time. Maybe having botan dynamic and rnp static will work for me.

[2019-07-24 16:14] kaie commented on #888
Are there specific reasons? Note I'd use a botan library that uses the minimum necessary for rnp. I've configure botan with this module list:

--disable-shared-library --minimized-build --enable-modules="bigint,ffi,pgp_s2k,aead,aes,blowfish,camellia,cast128,des,idea,sm4,twofish,cbc,cfb,auto_rng,hmac,hmac_drbg,crc24,hash,md5,sha1,sha2_32,sha2_64,sha3,sm3,dl_group,ec_group,pubkey,dsa,ecdh,ecdsa,ed25

[2019-07-24 16:20] dewyatt commented on #888
I just meant from the standpoint that using a shared object typically makes it easier to update that particular code (without rebuilding). As in, if `YOUR_EXE` uses a system-installed `libbotan-2.so`, then an `apt upgrade`/`yum update`/`pacman -Syu` etc will take care of security updates.

It does kind of depend on your specific situation though.

[2019-07-25 04:56] #880 closed

[2019-07-25 20:04] ronaldtse opened #892 "Add GitHub Actions for Windows to ensure RNP builds on Windows/MinGW"
Since it now builds on MinGW, it's probably time we add ~~AppVeyor~~ GHA testing... 👏

(Thanks to @kaie !)

_Originally posted by @ronaldtse in https://github.com/riboseinc/rnp/pull/883#issuecomment-515192850_

[2019-07-25 21:56] kaie commented on #892
We're close, but not yet done, not yet merged. I abandoned the pull request, because I want to clean up git. There'll be a new pull request shortly.

[2019-07-25 22:12] kaie commented on #892
The new pull request is https://github.com/riboseinc/rnp/pull/893

[2019-07-25 22:16] kaie commented on #892
You want this cmake flag:
[code]

I used the following contents in the toolchain file:
[code]

[2019-07-25 22:17] kaie commented on #892
This is how I configured botan:
[code]

[2019-07-25 22:27] kaie commented on #892
FYI, to ensure correct attribution, I haven't written that toolchain file myself. I can no longer find the exact original. However, this copy here seems almost identical: https://github.com/SimpCosm/latex/blob/master/cmake/examples/totally-free/Toolchain-cross-macos.cmake

[2019-07-26 20:52] dewyatt opened #895 "rnpkeys_generatekey_testExpertMode fails when run alone"
## Description

If you disable all tests except for this one in `rnp_tests`, it fails. Add (certain) tests back in and it passes. No es bueno.

@ni4 Can you take a look?

[2019-07-26 21:10] dewyatt commented on #895
Bisect blames a6da500 btw.

[2019-07-27 01:26] dewyatt commented on #895
I played around with this and it seems to only happen when botan is using the /dev/random `System_RNG` (`BOTAN_TARGET_OS_HAS_DEV_RANDOM`). If you configure with `--with-os-feature=getrandom` (need recent glibc IIRC), a different impl is used and the issue vanishes. Or if you uncomment the previous test (`rnpkeys_exportkey_verifyUserId`).

Here are some steps to repro:
[code]

You'll see:
[code]

B

[2019-07-27 14:55] dewyatt commented on #895
Ok I'm impatient so I dug into this more and I believe I've got it figured out. It's a bit insidious. I'll do a PR in a bit.

[2019-07-29 12:46] ni4 commented on #895
Fixed with #896

[2019-07-29 12:46] #895 closed

[2019-07-30 18:10] kaie opened #897 "No installed header containing RNP_SUCCESS"
Using "make install", only the rnp.h header is installed.

That header mentions (in comments) the symbol RNP_SUCCESS, so you're encouraging applications to use that.

However, the exported header doesn't define it.

Is that intentional? Do you consider rnp_def.h a public head, and if yes, should it be installed by the "make install" target, too?

[2019-07-30 19:18] dewyatt commented on #897
`rnp.h` should be the only header installed currently.

I'm thinking maybe we should:
1. Standardize on using `RNP_SUCCESS` in the docs. Currently some functions use `0 on success` and others use `RNP_SUCCESS`. API clients probably want more information than "success or failure", so we probably need to be exposing our error codes.
2. Extract the error codes enum from `rnp_def.h` into a new `error.

[2019-07-30 19:36] kaie opened #898 "ssize_t isn't defined on Windows"
The "signed size_t" type ssize_t is a POSIX type and is unavailable on Windows.

Although cross compilation worked, you're also using ssize_t in the public rnp.h header. You should change that to a portable size type.

[2019-08-06 10:42] ni4 commented on #881
Fixed in PR #887

[2019-08-06 10:42] #881 closed

[2019-08-06 10:43] ni4 commented on #876
Implemented in PR #886

[2019-08-06 10:43] #876 closed

[2019-08-08 00:29] #458 closed

[2019-08-08 00:29] #882 closed

[2019-08-13 10:09] ronaldtse commented on #898
@ni4 would you have time to take care of this? Thanks!

[2019-08-13 10:22] ni4 commented on #898
@ronaldtse Sure.
The only question is that ssize_t is used in rnp_input_reader_t return type. Should I just change it to int?
cc @dewyatt

[2019-08-14 12:43] ni4 opened #900 "Do we need redumper as a separate tool?"
## Description

We have packet dumper as a separate utility in src/apps/redumper (and a single one there).
Do we really need to have it as a separate tool?

I think it would be easier and more understandable for user to move all it's functions to `rnp --list-packets` command (which already duplicates some of the functionality).
And, possibly, add `dump.c` to `src/examples`.

[2019-08-14 12:46] ronaldtse commented on #900
I'm fine either way, I think the motivation for having `redumper` separately was initially to aid the implementation of the FFI, and also mimic the functionality of `pgpdumper` (if I remembered the name right...), which is a simple tool that only performed one function well.

[2019-08-15 08:54] ni4 commented on #900
@ronaldtse Agree, let's leave it then. What about renaming to something more rnp-friendly? I.e. `rnpdump`, `rnpdumper`?

[2019-08-15 08:56] ronaldtse commented on #900
@ni4 don't get me wrong, I'm fine either way 👍  If moving all its functions into `rnp --list-packets` is easier to maintain/use, let's do it. Thoughts @dewyatt ?

[2019-08-15 16:15] ni4 commented on #900
Looks like I misread your previous message. From my side the only complains are utility name, it's location in separate folder, and some code duplication.

[2019-08-16 19:55] dewyatt commented on #898
I think we have at least two options:
1. Change the `ssize_t` to an `int` and break the API+ABI. API clients like `ruby-rnp` could handle this with version checks, but other clients don't have ways of dealing with this that are as straightforward.
2. Deprecate `rnp_input_from_callback`, add a new `rnp_input_from_callback_ex` and an `rnp_input_reader_ex_t`. Disable compilation of the deprecated stu

[2019-08-17 06:37] ronaldtse commented on #900
* utility name => agree with change
* list as example => i.e. as an FFI example. Agree.
* separate utility or not => ping @dewyatt ?

[2019-08-17 12:02] dewyatt commented on #900
It's an interesting question. I'm tempted to say get rid of it personally.
We can provide the same functionality with `rnp --list-packets=pretty` or some kind of alternative formatting. We could do a symlink to rnp like `rnpdump` that would automatically do this, for example.

I admit I can sort of see the appeal of a small (maybe statically linked even) utility that does one thing well (a la `pgp

[2019-08-17 14:11] ronaldtse commented on #898
Frankly I'm fine with option 1, I don't think we have too much downstream usage yet.

[2019-08-17 14:12] dewyatt commented on #898
Sounds good to me, let's try for option 1.

[2019-08-19 09:05] ni4 commented on #900
Then let's get rid of it as a separate utility and move to the examples folder. Will update #901 with these changes.

[2019-08-19 09:10] ronaldtse commented on #900
Agreed guys!

[2019-08-19 13:33] ronaldtse commented on #900
Since it's decided we'll close this! (will be implemented in #901)

[2019-08-19 13:33] #900 closed

[2019-08-19 13:36] ronaldtse opened #904 "Add Cirrus CI badge"
As title.

[2019-09-03 02:02] ronaldtse commented on #833
`master` is passing, closing this.

<img width="975" alt="Screen Shot 2019-09-03 at 10 02 34 AM" src="https://user-images.githubusercontent.com/11865/64138999-f6274980-ce31-11e9-8b5b-3a6aea4ba9e8.png">

[2019-09-03 02:02] #833 closed

[2019-09-03 10:36] ni4 commented on #733
@dewyatt @ronaldtse Should we close this now?

[2019-09-03 10:37] ronaldtse commented on #733
Yup, since @dewyatt has migrated all the tests to Google tests!

[2019-09-03 10:37] #733 closed

[2019-09-03 10:38] ronaldtse commented on #733
That said @dewyatt is test parallelization something to consider still?

[2019-09-03 10:41] ni4 commented on #733
@ronaldtse if I correct tests are run in parallel since #891

[2019-09-03 10:47] ni4 commented on #491
@ronaldtse @dewyatt Should we close this now? All crypto code was migrated to `/crypto/` some time ago.

[2019-09-03 10:51] ni4 commented on #345
@ronaldtse @dewyatt Should we close it while we seem to have tests discussed here already?

[2019-09-03 10:52] ni4 commented on #308
@ronaldtse @dewyatt Should we close this since we ended up with the single library?

[2019-09-03 10:54] ni4 commented on #260
@ronaldtse @dewyatt Should we close this since right now we are checking for leaks via CI/will move to C++ sooner or later so don't have a need for any custom memory leaks handling code?

[2019-09-03 12:36] ni4 commented on #169
@ronaldtse While we have a lot of tests already, and they are more or less structured, should not we close this issue?

[2019-09-03 13:06] ni4 commented on #33
@ronaldtse @dewyatt  I think we abstracted out keyring saving/loading functionality enough?

[2019-09-03 13:53] ronaldtse commented on #308
@ni4 a shame we weren't able to do generalize the keystone mechanisms... Do you think this will remain useful for the future?

[2019-09-03 13:57] ni4 commented on #308
@ronaldtse Actually it's not a shame but impossibility to separate key packets/other packets loading/parsing/composition. The only way I see is to have separate libs for keyring format(s) which are dependent on base lib, where base lib operates with only OpenPGP packet sequences (transferable public/secret keys). So g10/kbx code can be separated, but it still will use base library's code to build

[2019-09-03 17:11] ronaldtse commented on #169
Agreed, this was long due to be closed :wink:

[2019-09-03 17:11] #169 closed

[2019-09-04 15:25] ni4 opened #906 "Segmentation fault on attempt to --list-packets on directory."
## Description

While rnp should report an error when attempting to list packets on directory, it just crashes:
[code]

[2019-09-07 17:37] #906 closed

[2019-09-11 15:57] ni4 opened #911 "Remove rnp --show-keys command."
## Description

This command existed since the netpgp and did a strange job - it did not display information about the keys but some basic information about the key signature expiration.
Since we have better functionality in `rnpkeys --list-keys/--list-sigs`, I think that duplicate one (which doesn't print any info now) may be removed.

[2019-09-11 15:57] ni4 commented on #911
@ronaldtse @dewyatt What do  you think?

[2019-09-11 16:30] ni4 commented on #911
@ronaldtse  ...including `--json` option for more structured output.

[2019-09-11 16:30] ronaldtse commented on #911
@ni4 indeed!

[2019-09-13 23:23] dewyatt commented on #911
Agreed

[2019-09-22 13:44] #911 closed

[2019-09-26 11:59] ni4 opened #913 "Limit password tries according to CLI/default parameters."
## Description

While we have option for maximum password request tries, it is not used anywhere inside and just stored in the config.
So code should be updated to use this parameter.

[2019-09-27 13:23] kaie opened #915 "Questions: Searching keys, ambiguity, signing keys"
I'd like to ask a few questions, but I couldn't find a mailing list, so excuse me if this isn't the best place for asking.

(1) Is function rnp_locate_key the correct API to search for a key by email adress?

(2) What happens if more than one key is available for that email address? API rnp_locate_key only allows returning a single key handle. Will RNP randomly return the first key it finds? Is th

[2019-09-27 13:39] kaie commented on #915
Regarding (2), Looks like I could use rnp_identifier_iterator_create to iterate over all keys and compare all keys myself.

[2019-09-27 13:44] ni4 commented on #915
Hi @kaie,
This is the perfect place to ask questions, as most communication goes via issues.
(1) This function is mostly for finding key via unique identifier (fingerprint, user id, etc), and it compares the whole identifier (i.e. it will not search by part of the userid). If you need more flexible search you should use `rnp_identifier_iterator_create()`. Also you may want to take a look at `cli_r

[2019-09-27 14:12] ronaldtse opened #916 "Convert Linux/macOS Travis CI to use GitHub Actions"
## Description

GitHub Actions is now available for the rnpgp account, and we should utilize it. The performance provided is notably quicker than Travis.

[2019-09-27 15:17] kaie commented on #915
Thanks for the quick answers! Some more questions:

(4) Which keystore format implementation do you consider the most stable? If an application wants to pick a keystore format for long term use (many years) which format would you expect to be future proof?

(5) Have you considered allowing an application to configure the filenames used for the keystore, to avoid that users might decide to run gpg

[2019-09-27 16:15] kaie opened #917 "Documentation for rnp_get_key_cb mentions nonexisting functions"
The comment for the API function rnp_get_key_cb refers to functions that don't exist:
  * rnp_load_public_keys
  * rnp_keyring_open

[2019-09-27 17:56] ronaldtse commented on #916
@dewyatt @ni4 GitHub Actions are *way* faster than Travis, and also allows more concurrent builds. We should move over ASAP (it also allows Windows testing, so we no longer need AppVeyor).

[2019-09-27 18:14] ni4 commented on #915
(4) I think that it would be good idea to stick to original OpenPGP key store format (transferable OpenPGP keys). However if you'll need to work with huge amount of keys then you'll need anyway some custom database-based solution for faster key lookup. Anyway we don't have our own format yet and just allow to use GnuPG key storages (which format definitely could be and will be changed in future).

[2019-09-27 18:18] ni4 opened #918 "Consider implementation of own key storage format."
## Description

Probably we should implement some own key storage format for RNP CLI.
While we could run perfectly with GnuPG key storage, we should be also able to run on our own and not be ruined by running gpg on our homedir.
This could be simply done by using some non-GnuPG key storage file names.

See discussion at https://github.com/rnpgp/rnp/issues/915#issuecomment-535983390

[2019-09-28 08:06] ni4 commented on #917
@kaie Thanks, we'll update docs. Btw, if you are interested in returning keys by callback you may found helpful src/examples/verify.c, which implements custom key provider.

[2019-09-30 15:19] kaie commented on #918
Maybe the scope of this issue could be extended to also cover "support an application defined keystore directory".

rnp_ffi_create allows to specify the desired format, but doesn't accept a path.
It would be nice to have a function that will open a keystore in an application defined path, with the given keystore format, and init it, if it doesn't exist yet.

Currently rnp_ffi_create calls rnp_key_

[2019-09-30 15:45] kaie commented on #918
Note that I might not yet have fully understood the intended use of the library API. I see that the rnpkeys utility allows accessing any home directory, but it uses private APIs to do so. rnp_cfg_setstr isn't exported, and variable CFG_HOMEDIR appears to be used only be the command line utilities.

Is the following approach a support use of the RNP library?
  * app uses a function to open a keysto

[2019-09-30 15:57] kaie commented on #918
I should have read the examples in more detail prior to commenting. I see you're using rnp_input_from_path to load a keyring. Looks like I can use this API to specify both a full path and the filename.

[2019-09-30 16:15] kaie commented on #918
The generate.c example answers a lot of my questions. No answers necessary for now. I'll do some experiments.

[2019-10-02 11:05] ni4 opened #919 "Add CLI option to specify source for the detached signature verification."
## Description

Currently detached signature verification works only when signature is read from the file and named `source.dat.sig`/`source.dat.asc`.
Probably we should add option to specify source and/or signature path (including stdin for source).

[2019-10-14 09:28] ni4 opened #923 "Refactor duplicate `get_packet_type()` usage."
## Description

In multiple places in `stream-parse.cpp` function `get_packet_type()` is called together with `src_peek()`, while we already have a shortcut for this, called `stream_pkt_type()`.

[2019-10-19 14:03] ronaldtse commented on #916
@dewyatt could we prioritize this issue? It's going to bring down the run time by quite a bit. Thanks!

[2019-10-24 10:23] teythoon opened #929 "Generating a key with multiple userids silently ignores all but last userid"
## Description

Generating a key with multiple userids silently ignores all but last userid.

## Steps to Reproduce

[code]

## Expected Behavior

Preferably generate a key with two userids, failing that, signal an error that giving multiple `--userid` arguments is not supported.

## Actual Behavior

All but the last `--userid` parameters are silently ignored.

[2019-10-24 10:41] dewyatt commented on #929
Thanks for the report @teythoon! Indeed I think we have not yet added support for multiple userids on a single key.

[2019-10-24 10:45] ni4 commented on #929
@teythoon Thanks for reporting. @dewyatt is right - currently in CLI we support only single userid for generated key.

[2019-10-24 20:20] dewyatt opened #930 "Inconsistent handling of password parameters in FFI APIs"
## Description

We're a little inconsistent on how we deal with password parameters in some FFI APIs.

We have the password provider concept, which was planned for cases where a password *may* be required but useful context may not be available to the client at the call site.

Some APIs accept a NULL password parameter and this may do different things depending on the function (fallback to provide

[2019-10-25 10:24] ni4 opened #933 "Add test(s) for output filename selections in CLI operations."
While we have some tests which implicitly check output filename selection, we still doesn't have ones for more complicated combinations:
- when input is filename.ext.ext.ext, filename.tar.gz, etc.
- when input is filename
- when input is filename.pgp/filename.asc/filename.sig
- when input is .ext/.config/.config.txt

[2019-10-29 02:47] ronaldtse commented on #916
@dewyatt are you already working on this? Otherwise, perhaps @ni4 could help...

[2019-10-29 02:51] dewyatt commented on #916
@ronaldtse I have indeed started on it, I'm just switching back and forth between this and enprot things right now.

[2019-10-29 02:52] ronaldtse commented on #916
@dewyatt then perhaps @ni4 should start on a separate effort? Or should he help with GHA on Windows?

[2019-10-29 03:00] dewyatt commented on #916
@ronaldtse Either way works for me. I haven't touched the Windows side of things, so that's certainly an option.

[2019-10-29 03:03] ronaldtse commented on #916
@dewyatt then let's do that! @ni4 could you help with setting up GHA for Windows?

This task will now only be about macOS and Linux. Windows is handled in #892 .

[2019-10-29 03:04] ronaldtse commented on #892
@ni4 GHA on Windows is all yours. Thanks!

[2019-10-29 04:47] ronaldtse opened #937 "Trial tasks"
This issue is to pick or come up with some tickets within a 3-5 hour limit for trial tasks.

@dewyatt @ni4 could you help here? Thanks!

[2019-10-29 08:48] ni4 opened #938 "Check key packet length edge cases."
## Description

Make sure key packet can be correctly read with 1-byte, 2-byte and 4-byte packet lengths.
Also test negative cases - when key packet length is very large (say, 3Gb), zero, 2 bytes, etc.
Add separate test for these cases to rnp_tests suite, using the modified existing key file.
Key loading should be done via the FFI interface (see `rnp_import_keys()` function).

[2019-10-29 08:54] ni4 opened #939 "Check partial packet length edge cases."
## Description

Following cases should be checked:
- partial packet length for key/signature packets (must not be allowed to load).
- largest possible partial packet length (1Gb), cut down to reasonable size of course.
- 0-size last chunk length (is allowed).
- less then 512 byte size first chunk (should not be allowed).
- possibly other cases, see rfc4880-bis

This would require to modify some ex

[2019-10-29 08:59] ni4 opened #940 "Ensure correct work with large packet sizes."
## Description

We need to check whether rnp correctly handles as large as possible packets.
This could be checked with zipped and signed 4Gb literal packet, built from single symbol, so it can be compressed to reasonable size to be added to tests suite.

Construct literal packet with largest possible size (4gb), using the 4-byte packet length, and compressed and then signed stream on top of it, a

[2019-10-29 09:02] ni4 opened #941 "Ensure correct error handling for large MPIs"
## Description

While OpenPGP standard allows MPI lengths up to 64k bits, we allow only smaller ones.
Construct dummy key, signature and PKESK data files and make sure those are loaded with correct error reporting, without AV and range-check failures.
Separate test file should be added to rnp_tests suite.

[2019-10-29 09:11] ni4 opened #942 "Make sure dearmor correctly handles large lines"
## Description

Construct corresponding data files and make sure rnp correctly handles following cases:
- too many spaces in front of armored message (>32k)
- too large header name/values
- too large single armored line.
Too large is about 32-64k, i.e. larger internal buffers size.

Separate test file should be added to rnp_tests suite.

[2019-10-29 09:15] ni4 commented on #937
@ronaldtse I think checking some edge test cases would be good thing to start - no need to modify internals, but is a good dive into OpenPGP/rnp internals:
- #938
- #939
- #940
- #941
- #942

[2019-10-31 04:31] ronaldtse commented on #937
Sorry for the delay. Here's the list of candidates.

Marko @msdev428
- C/C++, PGP, YubiHSM, PKCS-11

Tim @dfwdeveloper
- C++, Python, .Net, Windows/Unix/zOS

Peter @killy631
- C++/C, Crypto API, PKCS-11, OpenSSL, Windows/Linux/Mac/Solaris

Jan @joke325
- C/C++, Java, C#, Obj-C, Smart card, drivers, PKCS-11, Windows

Roman @rrrooommmaaa
- C++, NodeJS, Golang, .NET, Java, Windows/Linux/FreeBSD

Cand

[2019-10-31 04:32] ronaldtse commented on #937
(@dewyatt you wanted to add one or two Botan C++ tasks, feel free to add and assign)

[2019-10-31 10:02] ni4 opened #943 "Correctly handle leading zeroes for EdDSA signatures/keys."
## Description

Make sure that possible issues caused by handling/not handling  leading zeroes in EdDSA keys and signatures do not affect rnp.
Please see the following thread for details:

https://mailarchive.ietf.org/arch/msg/openpgp/JJ62rSfjC-6INU8ZOrJLYfU5R-0

[2019-10-31 11:19] ni4 commented on #938
@msdev428 would you like to take this issue? Need your comment here to be able to assign it :) Thanks!

[2019-10-31 11:21] ni4 commented on #942
@dfwdeveloper would you like to take this issue? Cannot assign it to you until commented.

[2019-10-31 11:22] ni4 commented on #941
@killy631 would you like to take this issue? Cannot assign it to you until commented.

[2019-10-31 14:47] msdev428 commented on #938
@ni4 sure, I will check and let you know. Thanks!

[2019-10-31 15:27] ni4 commented on #938
@msdev428 great! Feel free to ask any questions here.

[2019-10-31 15:57] dewyatt opened #944 "Convert pgp_hash_t to use Botan's C++ interface"
## Description

The task here is to convert `pgp_hash_t` to use Botan's C++ interface (`Botan::HashFunction`), rather than Botan's FFI/C interface (`botan_hash_init` etc).

The relevant source is in `src/lib/crypto/hash.*`. If you have any issues with the build then reach out to me as we're not evaluating your CMake skills.

This may or may not end up merged, but we'll be interested in seeing whet

[2019-10-31 15:57] dewyatt commented on #944
@joke325 Let me know if you are interested in this task!

[2019-10-31 15:58] dewyatt commented on #937
Ref: https://github.com/rnpgp/rnp/issues/944

[2019-10-31 15:59] killy631 commented on #944
OK, will do

[2019-10-31 16:05] dewyatt commented on #944
Oops wrong person!

[2019-10-31 16:07] killy631 commented on #944
What then I should do?

[2019-10-31 16:08] dewyatt commented on #944
I think @ni4 offered an issue in https://github.com/rnpgp/rnp/issues/941 :)

[2019-10-31 16:15] rrrooommmaaa commented on #940
Looks interesting to me

[2019-10-31 16:16] dewyatt commented on #940
Let's go for it then!

[2019-10-31 16:29] msdev428 commented on #938
@ni4 do I need to create PR from `master` branch?

[2019-10-31 16:32] ni4 commented on #938
@msdev428 no, please create a separate branch and then create PR from it. PR process in more details is described here: https://github.com/rnpgp/rnp/blob/master/docs/develop.adoc

[2019-10-31 16:43] joke325 commented on #944
This task is good, I'm interested in.

[2019-10-31 16:45] dewyatt commented on #944
@joke325 Great! Good luck and let me know if you have any questions!

[2019-10-31 16:55] killy631 commented on #941
Is there failed or demo?

[2019-10-31 16:55] killy631 commented on #941
I meant - failed test in some suite..

[2019-10-31 17:08] ni4 commented on #941
@killy631 Nope, there is no one (yet) - the idea is to build the test which will make sure that library works well in such cases (i.e. doesn't crash, has unexpected behavior and so on, and just reports an error).

[2019-11-01 12:17] ronaldtse commented on #941
@ni4 so @killy631 has just dropped off. This task is now open again.

[2019-11-01 12:27] ronaldtse commented on #942
@dfwdeveloper says he's OK with this task but will wait for his reply here.

[2019-11-01 16:07] rrrooommmaaa commented on #940
Daniel. Is there a simple way to run only one test with `make test` command (or any other) from project root?

[2019-11-01 16:10] dewyatt commented on #940
@rrrooommmaaa Yes, you can use ctest. For example, `ctest -R rnp_tests.test_stream_dearmor_edge_cases`. You can also list the tests with `ctest -N` (for the full list to show you would have to run make first).

[2019-11-01 16:11] ni4 commented on #940
@rrrooommmaaa once build you may run a single test with 'ctest -V -R rnp_tests.test_name'.

[2019-11-01 16:49] rrrooommmaaa commented on #940
can I push to branch here (for subsequent PR) or do I need to fork?

[2019-11-01 17:04] rrrooommmaaa commented on #940
also, did I understand correctly, that I you want 4G file to be placed in `test\data`?
I used ZIP compression and it's rather big -- 5.2M
Should I change compression algo or generate the file during the test?

[2019-11-01 21:36] dfwdeveloper commented on #942
@ni4 Yes, this is a good first start.

[2019-11-01 21:47] ronaldtse commented on #942
Thanks @dfwdeveloper !

[2019-11-02 08:29] ni4 commented on #940
@rrrooommmaaa Sorry for a late responce. I'll reply with more details in the PR you created.

[2019-11-02 09:04] dewyatt commented on #916
Just an update, I've been working on this but it will take me a few weeks I think.
I know it seems simple on the surface but there are various tricky issues. Most of the issue I'm encountering are ones I've already solved in my gitlab-ci work that I never quite finished, so that helps speed things along. But some are a result of newer changes in the build, etc.

Right now I'm looking at building b

[2019-11-02 23:56] ronaldtse commented on #942
This is from @dfwdeveloper off channel:

@ni4 could you help let him know? Thanks.

[2019-11-03 01:35] ronaldtse commented on #916
@dewyatt no problem. I think it would be worthwhile getting GHA working incrementally (even without Docker) due to the parallel builds GHA does. For the build images, we can use GitHub packages to store the Docker containers.

[2019-11-03 09:37] ni4 commented on #942
@ronaldtse @dfwdeveloper sure:

I should add link to the RFC at the beginning, sorry. Please see the section 6.2 of the OpenPGP specification: https://gitlab.com/openpgp-wg/rfc4880bis/blob/master/draft-ietf-openpgp-rfc4880bis-08.txt

The ones described in RFC (like Hash, Version, Comment, etc) as well as just ones with dummy names.

Line of Base64-encoded data without breaks/EOLs.

[2019-11-03 11:53] dewyatt commented on #916
@ronaldtse Well Travis does parallel builds too, but also has a caching mechanism (botan takes a while to build, for example), so I'm not expecting much improvement without doing the docker images. And yes I'm planning on trying GitHub Package Registry for the images.

[2019-11-03 11:55] dewyatt commented on #916
I guess having said that, we could try it without the caching/images first if you'd prefer. I suppose I could be prematurely optimizing. :D

[2019-11-03 11:57] ronaldtse commented on #916
@dewyatt Travis only allows parallelizing three builds at once for open source projects. GHA does the builds all at once. For Metanorma, our build time (admittedly it's a stack) has reduced from nearly a day to within an hour 😜

[2019-11-03 12:10] dewyatt commented on #916
@ronaldtse I think travis does 5 at once and we only have 7 here. Those are some amazing improvements on Metanorma though, wow!

[2019-11-03 13:14] ronaldtse commented on #916
@dewyatt I'm not sure why but Travis did become slower in terms of parallelization, it might be because we used heavier matrices... In any case iterative improvements are good. Might already be faster than Travis 😄

[2019-11-03 22:49] joke325 commented on #944
@dewyatt, it seems I don't have rights to open a new branch so I've attached proposed changes in this patch file. RNP tests passed.
[hash_cpp_patch.txt](https://github.com/rnpgp/rnp/files/3802232/hash_cpp_patch.txt)

[2019-11-03 22:53] dewyatt commented on #944
@joke325 You should be able to fork this repository to your own account, create a branch there, and create a pull request from that. Let me know if you need any help!

[2019-11-03 23:14] joke325 commented on #944
@dewyatt I've made the changes on my public clone of RNP.

[2019-11-03 23:23] dewyatt commented on #944
@joke325 Great, now you should be able to create a Pull Request to merge that change into this repo.

[2019-11-04 01:12] dewyatt commented on #916
This may not be as bad as I thought. I got a basic matrix mostly working today. cli_tests SignDefault suite is failing for some reason, so I'll have to look into that. The sanitize build isn't working but I believe I know what needs to be done there from the gitlab-ci work.

I think the normal run was about 30m so it's slower than travis, probably will need the docker images but that's not difficu

[2019-11-04 10:13] joke325 commented on #944
@dewyatt GitHub doesn't allow me to create a PR from joke325/rnp/master to the rnpgp/rnp/master repo.

[2019-11-04 10:20] ronaldtse commented on #944
@joke325 it's because you didn't make a "fork" of the rnp repo, you cloned and pushed it.

Can you do this:

1. Remove the "rnp" repo in your account

2. Go to https://github.com/rnpgp/rnp and click "Fork"

<img width="428" alt="Screen Shot 2019-11-04 at 2 18 05 AM" src="https://user-images.githubusercontent.com/11865/68113790-63467200-fea9-11e9-9bd3-25904630b4ad.png">

3. Push your changes of the

[2019-11-04 10:29] dewyatt commented on #944
Thanks @ronaldtse I missed that!

[2019-11-04 10:49] joke325 commented on #944
@dewyatt The forking works. Thanks!

[2019-11-04 11:25] ni4 commented on #942
@dfwdeveloper I looked at your changes, and those looks good except some comments (and missing long armored lines test). Could you please create a PR here from your fork so we could discuss changes in more convenient way? Thanks!

[2019-11-04 12:17] ronaldtse commented on #916
@dewyatt this is why we dread having to wait for Travis...

<img width="320" alt="image" src="https://user-images.githubusercontent.com/11865/68120382-0dc69100-feba-11e9-95e8-19f6c73f87f7.png">

[2019-11-04 12:18] dfwdeveloper commented on #942
A PR has been created.

Does the "Comments" line count as a header/values plus a long armored lines test?  Will add some comments.

[2019-11-04 12:51] ni4 commented on #942
@dfwdeveloper Thanks. I added comments there, so let's continue further communication in the PR #947

[2019-11-05 11:05] joke325 commented on #944
@dewyatt (1) I’ve modified code in my PR and I’ve requested you for review. (2) Failed some check in CI and Codecov, could you please outline what’s wrong.

[2019-11-05 11:26] dewyatt commented on #944
@joke325 I'll be getting back to you later today on this. Don't worry about the CI or CodeCov failures, those are likely not your fault and I'll be fixing them hopefully today.

[2019-11-05 14:08] ni4 opened #948 "Replace rnp_key_store_get_key_by_name() in tests and remove it."
## Description

Function `rnp_key_store_get_key_by_name()` was used in non-FFI CLI, and now is deprecated.
So it and all underlying code should be removed and replaced by other functions in tests.

[2019-11-05 14:11] msdev428 commented on #938
@ni4 sorry for delay.
Can you advise me to solve this issue?
To simulate key packet length, then do I need to replace key length field in pgp binary key file, right?

[2019-11-05 15:22] ni4 commented on #938
@msdev428 Yeah. Our implementation picks smallest possible packet header length. So you should cut existing header (see output of `rnp --list-packets keyfile`, prepend constructed header with different length field, and make sure key is loaded successfully.

[2019-11-05 15:32] ni4 opened #949 "Review usage of `utils.h` include."
## Description

Currently we include `utils.h` both in library and in CLI, however we should separate those, so CLI uses only own code/includes and import only `rnp.h` header for FFI interface.

[2019-11-05 17:54] ni4 commented on #938
@msdev428 you should be able to create a PR from your own fork, please see https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork for the details.

[2019-11-05 18:08] msdev428 commented on #938
@ni4 I created PR #950

[2019-11-05 18:21] ni4 commented on #938
@msdev428 Thanks, I'll review it and add comments to the PR.

[2019-11-06 10:10] joke325 commented on #944
@dewyatt What about the codecov failures in my PR? And is the PR intended to be merged into the master branch?

[2019-11-06 11:49] dewyatt commented on #944
@joke325 I'm not worried about the codecov failures, the tiny decrease in coverage stems from the increase in error-handling code (`RNP_LOG` etc, which is good). I do think it may be worth merging into `master`, so I'll request a second approval for that.

[2019-11-06 15:04] dewyatt commented on #916
@ronaldtse Yep I hear you on that!

As far as the Linux side of things here, I think I only have one issue to track down in `cli_tests` in order to get things passing in centos:7. So I'll be looking into that and then working on the macOS side more (currently for macOS I'm just getting "This check failed" with no information).

[2019-11-07 05:21] #940 closed

[2019-11-07 05:30] ronaldtse commented on #916
@dewyatt that's great. Can you make a draft PR for GHA? For macOS it might be because GHA changed the macOS environment to `macos-latest` which runs Catalina and Xcode 11.1. Their email says that specifying other values will cause the macOS builds to fail.

[2019-11-07 07:26] dewyatt commented on #916
@ronaldtse Sure I'll get a draft PR going. Yep changing to `macOS-latest` makes things at least *try* to work, so that's an improvement!

[2019-11-07 14:14] rrrooommmaaa commented on #939
I can take this one (since I've already dealt with partial packets)

[2019-11-07 14:50] ronaldtse commented on #939
@rrrooommmaaa feel free to take it!

[2019-11-11 03:29] ronaldtse commented on #937
@joke325 @rrrooommmaaa welcome! Please feel free to take on any further tasks here, and/or packaging tasks:

* https://github.com/rnpgp/chocolatey-rnp
* https://github.com/rnpgp/rnp-snap
* https://github.com/rnpgp/homebrew-rnp

[2019-11-11 15:06] ni4 opened #955 "Numerous 'Hash finalization failed' message while running rnp_tests"
## Description

PR #946 introduced numerous error message output even on successfull tests run, which it didn't expose previously:
[code]

This is caused by incorrect handling of NULL `out` parameter, which is legitimate situation when you just want to cancel hashing and free allocated resources.

[2019-11-11 15:06] ni4 commented on #955
@joke325 Could you please take a look?

[2019-11-11 22:56] joke325 commented on #955
@ni4 My PR to fix this issue raised some codecov failures, could you please look at it?

[2019-11-12 14:16] #955 closed

[2019-11-12 19:12] rrrooommmaaa commented on #939
@ni4 Regarding "less then 512 byte size first chunk (should not be allowed)"
Turns out that both GPG and RNP allow smaller first chunk (I tested with 256 bytes).

[2019-11-12 19:28] ni4 commented on #939
@rrrooommmaaa nice found, however not sure what to do with it at the moment. In RFC it is stated as MUST, so such message will not be compliant with RFC 4880.
Probably at the moment just issue a warning, and add test which makes sure that we do not produce first chunk of such length (when, for instance, data is read from stdin so input size is not known  in advance).
@ronaldtse @dewyatt what do yo

[2019-11-13 17:28] joke325 commented on #948
@ni4 Could you please review the PR #957 (a replacement for PR #954).

[2019-11-13 20:43] rrrooommmaaa commented on #939
As far as I know, in protocol implementations, MUST means that such data must not be produced, but it can be still consumed as this is normal practice to allow wider range of input than output.

[2019-11-14 10:28] ni4 commented on #939
@rrrooommmaaa Yeah, code should be flexible on processing data and strict on producing. However, in security case, data which doesn't conform to standard may be the sign of some sort of attack.

[2019-11-14 11:30] ni4 opened #958 "Variable LOGNAME may be not set under MSYS/MinGW"
## Description

Probably it's installation-dependent, but at least in the case of MSYS2 + MinGW installation `$LOGNAME` is not set. This causes the generation of key `(null)@localhost` if userid was not specified.
So we should check it for availability and have fallback to `$USER`.

[2019-11-14 12:56] ni4 commented on #948
@joke325 Done. Also there is no need to create new PR - you may rebase/squash to replace older code.

[2019-11-15 13:40] kaie opened #960 "removal of utils.h breaks building for Windows / mingw"
Cross-compiling RNP for Windows on Linux fails for src/rnp/rnp.cpp because it causes the wrong rexec code to be used.

The following commit removed the include header "utils.h", which caused the build to break:
https://github.com/rnpgp/rnp/commit/b4f58ff0c7055f7798b243abfb80d3fcb2473946#diff-ffe9c76b36d264aaf899a0fe7633c45c

Do you need a pull request from me, or could you simply add it back as pa

[2019-11-15 13:43] kaie opened #961 "mingw "make install" should install the .dll file"
After running "make install", the destination area doesn't contain librnp-0.dll

Also, it installs some files which probably shouldn't get copied, like cmake files, see below.

Only the following are installed:
[code]

[2019-11-15 13:55] ni4 commented on #960
@kaie yeah, that's my fault. I addressed this in (yet draft) PR #952 . It also provides fixes required to run rnp_tests ( and those run successfully). cli_tests do not work yet though. And another part of that PR is CI within GHA for Windows, which still work in progress.

[2019-11-15 14:08] kaie commented on #961
(Well, I don't know if it makes sense to copy those cmake files. That's just a side comment.)

[2019-11-15 14:21] ronaldtse commented on #960
@kaie and that's why we're also enabling GHA for Windows, will get that running soon. We've got a number of new folks here that will help ramp up the Windows side of things.

[2019-11-15 15:55] joke325 commented on #949
@ni4 Could you please review the PR #962

[2019-11-16 22:02] ronaldtse commented on #941
@antonsviridenko is going to take this for trial. Welcome!

[2019-11-16 22:03] ronaldtse commented on #937
@antonsviridenko is our latest trial candidate, he's taking #941.

[2019-11-18 10:35] #949 closed

[2019-11-18 10:48] #948 closed

[2019-11-18 11:07] kaie opened #963 "cli_rnp_get_keylist leaks sub_handle on success"
The error path calls rnp_key_handle_destroy(sub_handle),
but the success path doesn't.

[2019-11-18 12:34] ni4 opened #964 "Check and fix warning message 'core dumps may be enabled' on Windows."
## Description

Core dumps are not applicable for Windows as far as I know.

[2019-11-18 14:05] kaie commented on #963
Ah sorry, I misunderstood, you're adding the handles to a list.

[2019-11-18 14:05] #963 closed

[2019-11-18 21:43] antonsviridenko commented on #941
ok, I've started working on it

[2019-11-19 11:24] antonsviridenko commented on #930
For example, in OpenSSL (as I remember) same password callback is used for both providing existing password and setting new one

[2019-11-20 17:00] ni4 opened #969 "rnpkeys: possible endless loop with endless output."
## Description

Using rnpkeys expert key generation mode with redirected input/output, and incorrect/empty stdin, may become endless producing endless output (just got 30Gb+ log file while running incorrectly configured tests).

Correct behavior would be to ask for input for few times and terminate, and to check whether stdin is opened at all.

[2019-11-20 18:09] kaie commented on #915
Thanks. Have you considered to export the RNP_ERROR_ codes in a public header?

[2019-11-20 18:30] ni4 commented on #915
@kaie I was also thinking about it - at least it is needed for signature verification status.
Just didn't get to this task yet.

[2019-11-21 14:03] rrrooommmaaa commented on #937
What permissions do I have for rnp-snap repository? Looks like I can't create a PR to empty repository.
Can you assign more tasks to me here too? Thanks you.

[2019-11-21 14:58] ronaldtse commented on #937
@rrrooommmaaa you now have write access!

[2019-11-21 20:41] rrrooommmaaa commented on #405
Can I take this?

[2019-11-22 12:11] joke325 commented on #929
@ni4 Could you please review the PR #970

[2019-11-22 12:16] joke325 commented on #897
@dewyatt Could you please review the PR #968. There is a codecov check failure.

[2019-11-22 15:43] ronaldtse commented on #405
Of course @rrrooommmaaa !

[2019-11-22 19:36] kaie commented on #888
I don't expect to need this any more. I'll use dynamic linking. Feel free to close.

[2019-11-24 18:07] antonsviridenko commented on #941
Which library functions are supposed to be tested? Only ones exposed in public API inside include/ directory or internal ones from src/librepgp? I used https://github.com/rnpgp/rnp/blob/master/src/tests/streams.cpp#L444 as a reference, but maybe I am moving into the wrong direction?

https://github.com/antonsviridenko/rnp/commit/459a4a31d39b0f4f401399415a420ff801753d42

[2019-11-24 19:40] ni4 commented on #941
@antonsviridenko while all MPI load is done via `get_packet_body_mpi()`, single key load will not be good enough to check the whole - we should be sure that later on, if some code will be changed, nothing will fail.
So I'd suggest loading of all key algorithms, with misc key lengths (PGP_MPINT_BITS + 1 should be handled as well as 64k bits).
Another thing which comes to my mind to check - large un

[2019-11-26 01:21] #897 closed

[2019-11-26 01:39] #939 closed

[2019-11-26 15:51] dkg opened #972 "clarify current release?"
https://www.rnpgp.com/blog/ appears to indicate that 0.10.0 is the latest release.

The git tags in https://github.com/rnpgp/rnp contain v0.12.0 (that's the largest tagged version, with the exception of the tag `3.99.18`, which appears to predate v0.9.0 -- i don't understand what that is).  that tag is on branch `release/0.x`.

The git repo also contains commit 7d48330d03ff50cff345eafc0d19e97b9e9a

[2019-11-26 16:12] dewyatt commented on #972
The blog is out of date.
0.12.0 is the most recent release. Releases are always on a release/* branch.
0.13.0 was a work-in-progress release where I wanted to check on some things first but I've been overcome by other things for a while.

Ignore the 3.99.18 tag, I'm not sure who keeps pushing that one. 0.9.0 was the first actual version as I recall.

We have not established keys to use for signing

[2019-11-26 16:56] dkg commented on #972
Thanks for the clarifications, @dewyatt!

Is there a reason not to merge the release/* branch back into master, to make it clear that master contains all the changes up to and including the current release?

I'd recommend removing the 3.99.18 tag and notifying everyone with commit access that they should also delete it from their local git repos.

[2019-11-26 16:58] ronaldtse commented on #972
Thanks @dkg @dewyatt , agree on deleting the `3.99.18` tag to prevent confusion, and we probably should follow up on the rest of the raised issues...

[2019-11-26 17:16] antonsviridenko commented on #941
Keyrings in src/tests/data/keyrings directory, they should be considered read-only, am I right? For example, if I want to test importing keys of PGP_MPINT_BITS size, I should use some temporary keyring created in runtime, correct?

[2019-11-26 17:18] ni4 commented on #941
@antonsviridenko yeah, those are used in multiple tests, and breaking them will most likely break those tests. Feel free to create separate folder for your data files named according to your test's name.

[2019-11-26 20:37] ni4 commented on #972
Looks like 3.99.18 tag was my fault, got it from early era and didn't remove in time. Sorry.
Now it must be finally gone.

[2019-11-26 23:00] dkg commented on #972
I can confirm that 3.99.18 is gone.  thanks for clearing up that piece
of the puzzle.

Any chance of an updated blog post?

Or releasing 0.13.0?

or merging the release branch back into master?  I experimented with
doing such a merge, but they have diverged pretty significantly, and i'm
not sure how to ensure that fixes that were applied to the release/0.x
branch have also been applied to master.

[2019-11-28 14:05] jpo234 opened #974 "rnp still looks for keyrings when only using symmetric encryption"
## Description

Trying to decrypt a gpg encrypted file with rnp fails and rnp is looking for keyrings even if the file doesn't use public key encryption

## Steps to Reproduce

1. use gpg to encrypt a file: gpg -c plaintext.txt
2. check encrypted file: file plaintext.txt.gpg
plaintext.txt.gpg: GPG symmetrically encrypted data (AES256 cipher)
3. try to decrypt with rnp: rnp --decrypt --output=decry

[2019-11-28 14:08] jpo234 commented on #974
We want to use the OpenPGP message format in an application where asymmetric encryption doesn't make sense. I have an implementation that uses gpgme, but since this will go into an embedded system, the LGPL is considered a sub-optimal solution.
What is the current state of symmetric encryption with rnpgp?

[2019-11-28 23:32] dewyatt commented on #974
The issue here is that `rnp` is exiting when there are no keys in the homedir.
Try running `rnpkeys --gen-key` first (or `rnp --homedir=<homedir-with-keys> --decrypt`).

Either way it's a bug.

[2019-11-29 01:22] ronaldtse opened #977 "Split GHA for platforms"
Right now all build jobs are placed within the same workflow. Ideally we want badges for each platform, so we should split the jibs across workflows (Ubuntu, macOS, Windows).

[2019-11-29 04:59] ronaldtse commented on #974
@jpo234 thank you for reporting! Indeed this is a bug, we will get this fixed. @dewyatt could you help with this?

[2019-11-29 12:16] ni4 opened #979 "Check and fix GCC compile warnings."
## Description

We have some GCC warnings during compilation, most of them because of GCC 8.0+ `-Wstringop-truncation`, as well as `-Wformat` (under windows) and some others.
Those should be fixed.

[2019-11-30 07:36] ronaldtse opened #981 "Build instructions don't work on Ubuntu 18.04.3 LTS"
## Description

On Ubuntu 18.04.3 LTS, I followed the steps for Debian build from the README, and got this message during CMake. The problem is the Botan version is 2.4.0 but RNP 0.12 requires 2.5.0.

This relates to #980.

## Steps to Reproduce

1. `git clone https://github.com/rnpgp/rnp -b v0.12.0`
2. `mkdir rnpbuild; cd rnpbuild`
3. `cmake -DCMAKE_INSTALL_PREFIX=/usr -DBUILD_SHARED_LIBS=on -DBU

[2019-12-02 09:37] jpo234 commented on #974
@dewyatt and @ronaldtse Thanks for the response. After generating the key pair I could indeed decrypt the file.
However, there is still something fishy going on: Trying to symmetrically encrypt a file contains an asymmetrically encrypted session key that is not present in an equivalent gpg encrypted file:
I'm using:
`rnp --encrypt --output=ciphertext.rnp --passwords 1 --cipher=AES-256 xx
`
This is

[2019-12-02 11:19] jpo234 opened #982 "rnp_op_encrypt_add_password ignores iterations argument"
## Description

When specifying the number of iterations for the key derivation function the argument seems to be ignored

## Steps to Reproduce

1. specify the number of iterations to be used in rnp_op_encrypt_add_password:
[code]
2. encrypt some data to a file
3. verify the content of the encrypted file:
[code]
## Expected Behavior

s2k iterations should match the argument

## Actual Behavior

s

[2019-12-02 11:29] jpo234 opened #983 "rnp_op_encrypt_execute always uses empty session key"
## Description

When encrypting a message with rnp_op_encrypt_execute the session key is empty.

## Steps to Reproduce

1. call rnp_op_encrypt_execute and save the encrypted buffer to a file
2. verify the file:
[code]
## Expected Behavior

The encrypted session key must not be empty and should vary from run to run

## Actual Behavior

The encrypted session key is always empty.

[enc_main.zip](http

[2019-12-02 11:42] jpo234 commented on #983
I'm not sure about the empty session key. `rnp --list-packets` shows a zero-length key for gpg encrypted messages, too. They actual problem might be in `rnp --list-packets`.

[2019-12-02 11:51] jpo234 commented on #983
Or I'm mistaken and the following part from RFC4880 applies:

[2019-12-02 12:25] jpo234 commented on #983
Sorry for the inconvenience. When using two different keys, rnp correctly uses and encrypts a session key.

[2019-12-02 12:25] #983 closed

[2019-12-02 13:46] ni4 opened #984 "Possible rare error in tests: gpg: cipher_encrypt: key not set"
## Description

It happens in `cli_tests` during  `Misc.test_encryption_s2k` run.
Part of the log follows:
[code]

[2019-12-02 14:43] rrrooommmaaa commented on #981
max version packaged for Ubuntu 18.04 is 2.4.0, for 18.10 -- 2.6.0, for 19 -- 2.9.0
So will have to build and install Botan2 manually (as I did for snap package), right?
https://github.com/randombit/botan/wiki/Distros

[2019-12-02 15:29] ronaldtse commented on #981
@rrrooommmaaa yes you're right. Could you help with this? Thanks!

[2019-12-02 15:40] #405 closed

[2019-12-02 17:46] ni4 commented on #974
@jpo234

This is because you use `--encrypt`, which enables PK-encryption and picks the default key (while `--passwords` also adds password-based encryption).
To do password-only encryption you should use `-c` or `--symmetric`.

[2019-12-03 06:22] #981 closed

[2019-12-03 08:55] jpo234 commented on #974
@ni4

I'm using:
[code]
There is neither a `--symmetric` nor a `-c` option:

[code]

[2019-12-03 10:26] jpo234 opened #989 "The page "Using RNP’s C APIs" is wrong or out-of-date"
## Description

The page [Using RNP’s C APIs](https://github.com/rnpgp/rnp/blob/master/docs/c-usage.adoc) is wrong or out-of-date.

It says:

when in fact the samples use `#include <rnp/rnp2.h>`

It says:

when in fact there is no `dump`:
[code]

[2019-12-03 10:35] jpo234 commented on #989
Sorry, just noticed that in master this is indeed true.

[2019-12-03 10:35] #989 closed

[2019-12-03 10:48] ni4 commented on #974
@jpo234 looks command just didn't get into the help message. Created PR #990. Thanks for noticing!

[2019-12-03 11:22] jpo234 opened #991 "C API for Symmetric encryption: multiple encryption calls with the same secret/password"
## Description

It seems that the rnp_op_encrypt_t can't be used for multiple consecutive calls with the same password. That's bad, because the key derivation functions are very expensive on purpose (many iterations).
So, what I'm looking for is a way to initialize a rnp_op_encrypt_t once and then do multiple rnp_op_encrypt_execute calls. Alternatively there should be a way to precompute or cache

[2019-12-03 11:46] ni4 commented on #991
@jpo234 yeah, we don't have KDF caching yet. But why and where do you need it?

[2019-12-03 12:09] jpo234 commented on #991
@ni4 I'm working on a legacy application that sends numerous small messages over a slow radio modem (really slow, like forget-a-VPN-9600-bps). The aim is to encrypt the messages that are currently sent in plain text. Instead of badly reinventing an encrypted message format the design document wisely uses the openpgp format.
Just now I'm evaluating the available options and librnp really looks very

[2019-12-03 12:36] ni4 commented on #991
@jpo while it's not hard to implement password precomputing I doubt that it is good from the security perspective, since same password + salt will be used for small messages encryption.
How many messages do you need to encrypt per second? Maybe some Ed25519 or ECDH public key encryption/decryption will work fast enough.

[2019-12-03 14:05] jpo234 commented on #991
I just looked that up. The key gets indeed calculated from the secret and the salt. I assumed that the salt gets prepended to the plain text.
So, yes, I agree that using the same key for multiple messages is insecure. Too bad.

As for your suggestion regarding a public key algorithm: I tried this initially with RSA. The problem is that the messages became 5x as large (~500 bytes instead of ~100).

[2019-12-03 14:12] ni4 commented on #991
@jpo234 RSA has much larger overhead (around the key's size, i.e. 500+ bytes for 4096 bit key. ECDH/Curve25519 should have overhead less then 100 bytes as far as I remember.

[2019-12-04 14:06] #958 closed

[2019-12-04 14:11] #929 closed

[2019-12-05 13:20] rrrooommmaaa commented on #982
Can I take this one?

[2019-12-05 13:31] ni4 commented on #982
@rrrooommmaaa This doesn't seem to be an issue but misunderstanding. In RFC 4880 there is a concept of 'iteration bit count', so iteration count is aligned to 2^(10 + bitcount) or something like that. That's what we see in the description - 255 iterations were aligned to zero bit count, which means 1024 iterations.

However, to not just close this, could you please add some CLI tests (using, say,

[2019-12-06 09:55] ni4 opened #994 "Possible rare error in test test_key_unlock_pgp."
## Description

Under ubuntu with (normal, beta) configuration got this single errored test.
Under other oses and previously it worked well.

## Log

[code]

[2019-12-06 10:02] jpo234 commented on #982
@ni4 @rrrooommmaaa I won't be at my development machine until Monday, but I tried different values for the iterations argument and always go the same `s2k iterations` number in the dump. I stumbled upon this when comparing the output of GPG (my reference) with my own test program.

If it is determined that the current behavior  is correct, I would suggest a better documentation. It currently says:

[2019-12-06 19:11] ni4 opened #995 "Enable ruby-rnp test for windows GHA."
## Description

Due to some problems during build (inability to run bundle, seeking for rnp.dll instead of librnp.dl, etc) ruby-rnp test was temporary disabled for Windows workflow (see PR #993 ).
It should be enabled back so all available tests are run.

[2019-12-06 19:15] ni4 opened #996 "Windows: link dependencies statically or copy dlls to bin folder."
## Description

Currently all dependencies are linked dynamically, so MSYS/MinGW DLLs as well as Json-C, Botan, BZip2, ZLib DLLs should be on PATH.

Because of this on Windows rnp.exe/rnpkeys.exe most likely will not run from cmd and will require some manual PATH setup/copying.

This may be solved in two ways: linking dependencies statically, or copying DLLs to output folder.

[2019-12-06 19:17] ni4 opened #997 "Add Windows workflow which uses Visual Studio instead of MSYS/MinGW"
## Description

Currently rnp can be built only using MSYS/MinGW, however we should also provide a way to build and test it using the native Windows tools.

[2019-12-08 01:09] joke325 commented on #979
@ni4 Could you please review the PR #998

[2019-12-08 10:12] ni4 commented on #916
@dewyatt @ronaldtse Should we close this since GHA is up and running?

[2019-12-08 10:21] ni4 commented on #888
Ok, closing this. May be related to #996

[2019-12-08 10:23] ni4 commented on #878
@ronaldtse @kaie Should we close this since we have CI for Windows via #993 ?

[2019-12-08 10:23] ronaldtse commented on #916
Yes please. Thanks!

[2019-12-08 10:23] #916 closed

[2019-12-08 10:29] ni4 commented on #960
Fixed in #952

[2019-12-08 10:29] #960 closed

[2019-12-08 11:01] #892 closed

[2019-12-08 11:01] #961 closed

[2019-12-08 14:26] rrrooommmaaa commented on #982
@jpo234 iterations number is in the parenthesis.
`0 (1024)` means 1024 (the minimum).
If you pass 1025 in `rnp_op_encrypt_add_password(encrypt, password, "SHA256", 1025, "AES256")`
it would read `1 (1088)`
Technically, there is a series of allowed values: 1024, 1088, etc...
@ni4 I think we should alter the output to display decoded value,
possibly like this:
`1024 (encoded as 0)`

[2019-12-08 19:40] antonsviridenko commented on #941
What packet type can contain these oid-s? Can you provide some more details? Seems that RFC4880 mentions OID-s only once, in context of hash algorithms.

[2019-12-08 19:49] ni4 commented on #941
@antonsviridenko please see sections 5.6.4-5.6.6 of RFC 4880 bis -08. Basically, each EC-related key packet contains curve OID.

[2019-12-08 23:19] antonsviridenko commented on #941
ok, I think I've probably found some bug in dumping signature packet:

1. I made this signature file using 16384 bit RSA key:

https://github.com/antonsviridenko/rnp/blob/master/src/tests/data/test_large_MPIs/rsa-pub-65535bits.pgp.sig

2.  Displaying this signature packet, everything seems fine:
[code]
3. Now I've opened hex redactor and changed signature MPI size at offset 0x3A from 16383 (**0x3F

[2019-12-08 23:21] antonsviridenko commented on #941
Seems that signature packet parser goes off by 1 octet somewhere

[2019-12-09 09:44] ni4 commented on #941
@antonsviridenko Thanks for finding this out. Confirmed - there is an error in the function `stream_parse_signature_body()` - on successful `signature_read_v4()` call variable res contains RNP_SUCCESS, which is not changed later on if get_packet_body_mpi() failed.
Could you please fix it (as well as add test which will ensure correct behavior in this case)?

Regarding MPIs - RFC tells that MPI bit

[2019-12-09 10:04] ni4 commented on #982
@rrrooommmaaa @jpo234 Agree on displaying actual iteration count first as well as with update of documentation.

[2019-12-09 11:15] ni4 commented on #782
Fixed in #920

[2019-12-09 11:15] #782 closed

[2019-12-10 09:33] ni4 commented on #944
@dewyatt As I understand this is fixed in #946 and may be closed?

[2019-12-10 10:28] kaie commented on #915
Thanks for exporting the header.

I have a comment regarding the callback functions defined in rnp.h

You defined callback rnp_password_cb the way I'd expect it to.
However, for several others, you used a style that looked unexpected:

[code]

I'd have expected those to be:
[code]

Just giving you the feedback that this inconsistency confused me. It probably works both ways.

However, type rnp_pas

[2019-12-10 14:18] ni4 commented on #915
@kaie I don't remember why it was written exactly this way, maybe @dewyatt has an idea. But does it give any problems?
While more common usage is really (*funcname), it's almost the same and difference is only where `*` is written, or do I misunderstand something?

[2019-12-10 14:30] kaie commented on #915
No problems right now :)
Yes, only the place where the * is written.

[2019-12-10 15:53] jpo234 commented on #982
@ni4 @rrrooommmaaa [Attached is a gpg encrypted test message](https://github.com/rnpgp/rnp/files/3945749/ciphertext.zip) (password is test123).

Here is the output from rnp:

[code]
and from pgpdump:

[code]
Both agree that the iterations count is 255. This doesn't chime with what has been said so far in this discussion. Clearly 1024 is not the minimum...

[2019-12-10 16:03] ni4 commented on #982
@jpo234
please see the https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-08#section-3.7.1 , section 3.7.1.3 for exact encoding rules:

[code]

So if c == 0, then count will be 16 << 6, i.e. 1024.
For c == 255 count will become ( 16 + 15) << (15 + 6) == 31 << 21 == 65011712.

[2019-12-10 16:13] jpo234 commented on #982
OK, I just figured out my problem. I misread the output from both rnp and pgpdump. The iterations count is actually 65 million.

I just verified this with the following program derived from RFC 4880:

[code]

[2019-12-10 16:16] jpo234 commented on #982
Yeah, I just figured this out myself.

[2019-12-10 16:26] ronaldtse commented on #982
Regarding displaying additional information, should we use a new ticket or rename this ticket?

[2019-12-10 16:28] ni4 commented on #982
@ronaldtse Since this one is mostly discussion I'd create a new one for @rrrooommmaaa.

[2019-12-10 16:35] ronaldtse commented on #982
Perfect. Thanks @ni4 !

[2019-12-10 16:38] ni4 opened #999 "Update s2k iteration dumping and add tests for s2k iteration count check."
## Description

We need to be sure that correct iteration count is actually used when user calls `rnp_op_encrypt_add_password()`.
Check could be done via packet dumping and checking of output.

Also currently output is a bit misleading (see https://github.com/rnpgp/rnp/issues/982#issuecomment-562953955) so it should be corrected as well as `rnp_op_encrypt_ad_password()` function's documentation.

[2019-12-10 16:39] ni4 commented on #999
@rrrooommmaaa also there is a related issue #531 - while s2k parameters selection is done for rnpkeys it is not supported in rnp CLI.

[2019-12-10 20:40] ronaldtse commented on #982
@ni4 then should we close this? I noticed we are nearly 1000 issues! A point to celebrate...

[2019-12-10 21:06] ni4 commented on #982
@ronaldtse ...and now we have PR #1000 which will close this issue once merged :-)

[2019-12-11 02:11] #944 closed

[2019-12-11 14:47] kaie commented on #915
I'm trying to encrypt and have added the primary key (sign/certify) using rnp_op_encrypt_add_recipient. When executing, I get RNP_ERROR_NO_SUITABLE_KEY. I conclude I must search for the appropriate subkey myself, and use that when calling rnp_op_encrypt_add_recipient, right? I don't see an API like "find appropriate subkey for encrypting for this primary key", so I assume I have to write that loop

[2019-12-11 14:54] ni4 commented on #915
@kaie yeah, now it will attempt to use main key if it is specified via key id/key fp. And it is subject for improvement, we should have an issue for this. However currently you can specify userid as recipient and rnp will find corresponding subkey automatically.

[2019-12-11 19:39] antonsviridenko commented on #941
ok, I've tried to fix it
https://github.com/antonsviridenko/rnp/commit/4146406544c962386fff393640b900aa2e038d5a
but now test "rnp_tests.test_ffi_op_verify_sig_count" segfaults somewhere.

What binary should I attach gdb to for debugging? It's bit not clear in these ctests :)

[2019-12-11 20:37] ni4 commented on #941
@antonsviridenko for segfault errors usually it is faster to build with sanitizers, so you'll get call stack and a lot of other useful information on failure.
This can be done in Travis container via the following:
[code]

For debugging I used Visual Studio Code and attached to rnp_tests executable. That required some setup of launch.json, like the following:

[code]

[2019-12-11 21:18] kaie opened #1001 "Public keys, with signatures from unknown keys, are treated as invalid keys"
Alice's public key was signed by Bob.
Alice sends her key to Carol.

Carol uses OpenPGP software based on RNP.

Carol imports Alice's key, but doesn't have Bob's key.
Carol attempts to send an encrypted message to Alice.

Actual behavior:
Sending the encrypted message fails.
RNP reports that Alice's key is invalid.
[signature_check() /home/user/github/rnp/src/librepgp/stream-sig.cpp:1099] invalid

[2019-12-11 21:35] kaie commented on #1001
To check the unknown signature is really causing the issue, I have used gnupg to edit Alice's key, removed Bob's signature, and imported this reduced key into RNP. This fixed the issue, sending the encrypted message to Alice was successful.

[2019-12-11 21:40] ni4 commented on #1001
@kaie thanks for noticing it. Within current logic signature from unknown key is considered as invalid, so the whole key is marked as invalid. And it seems to be too strict. Actually improving key trust settings is also part of the ongoing work.

[2019-12-12 11:31] #852 closed

[2019-12-12 17:54] ni4 commented on #915
@kaie Oops, I was wrong with the previous comment (was from phone so unable to check the codebase), sorry. Actually `rnp_op_encrypt_add_recipient()` checks whether primary key is suitable for operation and if not - then searches subkey list. Could you please provide more information about the case? Which flags are set for primary key and subkey(s)?

[2019-12-12 17:56] kaie commented on #915
I think the cause for that problem was issue 1001. After I implemented the search for the subkey, I still got the same error, and the noticed it's about issue 1001. Once we have a fix, I can check if my loop is unnecessary.

[2019-12-12 18:08] kaie commented on #1001
This patch allows me to use my usual keys.

[code]

[2019-12-12 18:19] kaie commented on #915
With my initial hack from https://github.com/rnpgp/rnp/issues/1001, and after removing my code to search for a suitable subkey, (added primary key as recipient), encrypting still works.

[2019-12-12 18:29] ni4 commented on #915
@kaie thanks for investigation. I'm trying to figure out which would be the correct behavior. Current thinking is that if key has valid self-signature and certification signature(s) from unknown key(s) then it still should be considered as valid. The same about invalid signatures - anybody can add invalid certification and mark key as invalid.

So logically third party certifications should be abl

[2019-12-12 18:33] ni4 opened #1002 "Migrate tests to Python 3"
## Description

As Python 2.7 will not be maintained after January, 1 2020, we should migrate tests to version 3 at some point.

[2019-12-12 21:37] ronaldtse opened #1003 "GHA clang-format build"
This was from #998 by @ni4 :

Perhaps we can have a GHA job that purely runs `clang-format` and does a diff, returning fail if there are any needed changes?

Looks like we can use these:
* https://github.com/antoinealb/clang-format-action
* https://github.com/DoozyX/clang-format-lint-action

ping @dewyatt

[2019-12-12 21:42] #982 closed

[2019-12-12 21:42] #999 closed

[2019-12-13 11:05] ni4 opened #1004 "Add feature to update expiration date of the private key"
## Description

Currently it is not possible to update expiration date of the key/subkey. Checklist for the feature implementation:

 - [x] library code
 - [x] FFI
 - [x] FFI test

[2019-12-13 11:12] ni4 opened #1005 "Add feature to revoke a key"
## Description

Currently RNP cannot revoke keys, so we should add such feature.
Checklist for the feature implementation:

## Own key revocation:
 - [x] library code
 - [x] FFI
 - [x] FFI test
 - [x] CLI
 - [x] CLI test

## Other key revocation (via Revocation Key signature subpacket)
 - [x] investigate whether this feature is used by other implementations in the real world

[2019-12-13 11:14] ni4 opened #1006 "Add feature to strip broken/unneeded key signatures"
## Description

With the recent DoS attacks on keyservers, some applications have started to use stripped keys.
It would be good to have a way to give RNP a key with signatures, ask it to do a sanity check, and strip bad/broken or irrelevant signatures. Maybe I'd only want to keep the signatures made by one my own private keys.

[2019-12-13 11:15] ni4 opened #1007 "Add feature to create/export prepared/inactive revocation statement"
## Description

So if secret key is stolen or become unavailable due to other reasons we still will be able to revoke a key.

[2019-12-13 11:16] ni4 opened #1008 "Add feature to import separate revocation statement"
## Description

Currently RNP is only able to import whole revoked key, however we still need to be able to import separate revocation signatures(s).

[2019-12-13 21:54] antonsviridenko commented on #941
https://github.com/rnpgp/rnp/blob/master/src/librepgp/stream-parse.cpp#L824

I guess returning RNP_SUCCESS here is not an intended action, RNP_ERROR_BAD_FORMAT should be an appropriate error code, am I right?

[2019-12-14 09:39] ni4 commented on #941
@antonsviridenko no, it is correct - function returns RNP_SUCCESS in case when signature processed and stream can continue. In this case just one of the signatures will be marked as unknown (for instance, it has newer version, unknown public key/hash algorithm, and so on).

[2019-12-14 22:44] dewyatt commented on #972
@dkg Apologies for the slow response.

I'll get this done soon because it's long overdue. I was holding off because I wanted to scrutinize one particular part of the FFI.

See [here](https://github.com/rnpgp/rnp/blob/master/docs/develop/release-workflow.adoc) for an overview of our release workflow.

To see what commits are in `master` that are not in the release branch, you might do something lik

[2019-12-16 12:08] #1003 closed

[2019-12-16 13:58] #979 closed

[2019-12-21 15:24] ni4 opened #1012 "rnp_key_add_uid calls signing twice."
## Description

Current code calls signing twice when adding uid and certificate to the secret key, while normally it should be just copied from the public key.

[2019-12-22 12:29] ni4 opened #1014 "Add tests for weird userids"
## Description

Add tests which check whether library and CLI correctly works with weird uids:
 - [ ] with non-ASCII utf-8 characters
 - [ ] with special characters (\t, \n, \0x00, '|', '$', '(', etc).
 - [ ] long userid (more then MAX_ID_LENGTH)
 - [ ] zero-size userid

It should cover following use cases:
 - [ ] pass userid via CLI for key generation
 - [ ] pass userid via CLI as key recipient

[2019-12-22 14:31] ni4 commented on #977
@ronaldtse I guess this could be closed now?

[2019-12-23 13:04] ronaldtse commented on #977
You're right. Thanks @ni4 !

[2019-12-23 13:04] #977 closed

[2019-12-23 15:39] rrrooommmaaa commented on #1014
Can I take it?

[2019-12-23 15:48] ni4 commented on #1014
@rrrooommmaaa Sure, but please first wait for #1015 to be merged or branch from it.

[2019-12-30 23:55] ronaldtse commented on #937
This seems to be done for now, closing.

[2019-12-30 23:55] #937 closed

[2019-12-30 23:59] ronaldtse opened #1018 "Add compatibility tests with other OpenPGP implementations"
We need to create test suites to test rnp functionality with other OpenPGP implementations and versions, such as:

* GnuPG
* Sequoia
* etc.

Specifically we need to test key import/export, signing/verification and encryption/decryption.

I remember Sequoia has a compatibility test suite we could take inspiration from.

This task probably needs to be split into smaller tasks.

[2020-01-03 15:21] ni4 opened #1020 "Incorrect key flags check in transferable_subkey_bind()"
## Description

As per RFC 4880 bis 8, if subkey is able to sign then primary key binding signature should be added as the subpacket to the subkey binding signature.
We doing this check as the following:
[code]
Obviously, we should use `pgp_pk_alg_capabilities(subkey->alg)` here.

While it's easy to fix the code, the test which reproduces this case on level of function `pgp_generate_subkey` should

[2020-01-04 01:15] dewyatt opened #1021 "ci: Use GHA caching"
## Description

Cache support was added fairly recently and we probably ought to take advantage of it to avoid constantly rebuilding our dependencies.

[2020-01-04 13:44] ni4 commented on #938
Fixed in #1011

[2020-01-04 13:44] #938 closed

[2020-01-04 13:47] ni4 opened #1022 "Implement userid validity checks."
## Description

Currently we have only key validity checking, however userid's should be also checked for validity.
Only non-revoked userid with valid self-signature should be considered as valid so corresponding key may be this userid.

[2020-01-04 13:49] ni4 opened #1023 "Check expired and revoked keys and subkeys usage."
## Description

Even if key/subkey is expired, it still should be usable to check signatures and decrypt data which was produced when key was valid.

[2020-01-04 14:30] ni4 commented on #1002
Somehow mislooked that we have #812, so closing this.

[2020-01-04 14:30] #1002 closed

[2020-01-04 14:33] ni4 commented on #381
Closing this since command --show-keys was removed in #912

[2020-01-04 14:33] #381 closed

[2020-01-04 14:37] ni4 commented on #122
@dewyatt looks like these functions are removed or handled in other way, so should we close this now?

[2020-01-04 14:51] dewyatt commented on #122
@ni4 Yes indeed

[2020-01-04 14:51] #122 closed

[2020-01-05 10:41] ni4 commented on #972
@dkg version 0.13.0 was released few days ago.
Should we close this issue now?

[2020-01-05 23:27] antonsviridenko opened #1024 "rnpkeys does not display possibility of exporting private keys in the help text"
While this feature is already implemented in https://github.com/rnpgp/rnp/pull/652 and works as
expected, i.e. `rnpkeys --export-key --secret 94352b599eefa567`
help text does not list the "secret" option:

[code]

## Expected Behavior

"secret" option must be listed in available options

## Actual Behavior

"secret" is not mentioned

[2020-01-06 16:45] jpo234 opened #1025 "C API usage is unclear"
## The installed header files reference values from header files that do not get installed

The installation currently installs the following headers:

[code]
The installed file rnp-0/rnp.h says this:

These `RNP_KEYSTORE_*` constants are not in any installed header file:

[code]

And the [Using RNP’s C APIs](https://github.com/rnpgp/rnp/blob/master/docs/c-usage.adoc) references the `include/rnp/r

[2020-01-07 15:19] ronaldtse commented on #846
FIPS validation process: https://icmconference.org/wp-content/uploads/FIPS-140-2.pdf

[2020-01-12 11:04] ni4 commented on #1001
@kaie Issue should be fixed in #1017. Could you please confirm, so we can close this ticket?

[2020-01-12 11:06] ni4 commented on #1025
@jpo234 thanks for noticing this. There could be some problems since we migrated to single rnp.h header/single FFI interface even for CLI utilities. This one should be fixed in #1027 once it is merged.

[2020-01-12 11:57] antonsviridenko commented on #941
I got some memory leak report from CI tests,

https://github.com/antonsviridenko/rnp/runs/385090505

[code]

but checking with valgrind on my machine gives no errors:
[code]
Probably something environment-specific. Any ideas how to solve this?

[2020-01-12 12:03] antonsviridenko commented on #1024
The man page for "rnpkeys" https://github.com/rnpgp/rnp/blob/master/src/rnpkeys/rnpkeys.1 also does not contain information about the "secret" option.

[2020-01-12 13:08] ni4 commented on #941
@antonsviridenko No, it is a real memory leak. centos run gives symbolicated log:
[code]

And it's source - function `init_encrypted_src()`:
[code]

`src->close` is assigned only after `goto finish`, so will not be assigned on error. And in `src_close()` call memory, allocated in `init_src_common()`, will not be freed.

Thanks for spotting this, and please update PR with this fix.

[2020-01-12 13:13] ni4 commented on #1024
@antonsviridenko yeah, man and help messages are a bit outdated.
Related to #506

[2020-01-12 23:21] antonsviridenko commented on #941
here it is
https://github.com/antonsviridenko/rnp/commit/4ea393959025504a52771355fbcc66c803292353

Is it ok to close this issue in multiple pull requests, one per key algorithm (i.e. RSA, DSA, EC and so on)? Otherwise it could take a longer time to implement & sync with master branch updates. I think RSA part is completed and can be merged already.

[2020-01-13 02:21] ronaldtse opened #1029 "New trial task request"
@ni4 @dewyatt we have a new candidate @apovalyaev . Could you help assign a trial task for him (<= 5 hours)? Thanks!

[2020-01-13 02:40] ronaldtse commented on #941
@antonsviridenko sure, this issue can be addressed in multiple PRs. Please go ahead!

[2020-01-13 11:47] rrrooommmaaa opened #1030 "Secret keys are not protected by password"
## Description

`rnpkeys` key generation doesn't protect the secret key with password

## Steps to Reproduce
A command like this is used in `cli_tests.py`
`rnpkeys --numbits 1024 --pass-fd 17 --userid some@rnp --gen-key`

Secret key is not protected by the password

## Expected Behavior

Messages encrypted to this recipient can not be decrypted without entering the correct password
`rnp -r some@rn

[2020-01-13 11:50] dewyatt commented on #1030
Confirmed, we're gonna need some tests added for this.

[2020-01-13 11:53] dewyatt commented on #1030
(Once this is fixed I'll do a 0.13.1 release)

[2020-01-13 11:55] rrrooommmaaa commented on #1030
@dewyatt I added `rnp_op_generate_set_request_password(genkey, true)` call to `cli_rnp_generate_key` function and it now ecnrypts (or at least tries to) the master key,
but I still can decrypt without entering the password. Any ideas?

[2020-01-13 11:58] dewyatt commented on #1030
@rrrooommmaaa It's only encrypting the master, not the sub unfortunately, so we'll have to dig into that issue.

[2020-01-13 11:59] rrrooommmaaa commented on #1030
@dewyatt and soultion is... to encrypt both keys?

[2020-01-13 12:00] dewyatt commented on #1030
Yes we probably just need an additional call to `rnp_op_generate_set_request_password` later in that function I see.

[2020-01-13 12:02] rrrooommmaaa commented on #1030
ok, I'll add that shortly (need to check some cli tests).

[2020-01-13 12:02] dewyatt commented on #1030
That does fix the issue. I still think there's a usability issue here in that the user has to enter the password one more time than they should ideally be required to.

[2020-01-13 12:03] rrrooommmaaa commented on #1030
they actually would need to enter it 3 times (encrypt primary, decrypt primary, encrypt subkey)

[2020-01-13 12:04] dewyatt commented on #1030
@rrrooommmaaa That's what I mean, they shouldn't necessarily need to decrypt the primary, it can be left protected but unlocked (decrypted in memory, but encrypted if written to disk) for this operation.

[2020-01-13 12:12] dewyatt commented on #1030
We may want to add an additional API to get rid of that usability issue (something to indicate "leave the primary unlocked please"), but let's not focus on that. I see why it's done the way it is, but there's some room for improvement.

Once we get a PR to fix the lack of protection I'll cut a quick release and try to coordinate updating packages etc.

[2020-01-13 12:36] ni4 commented on #1030
This should be my fault.
Actually this can be done in 2 passes, like it is done in `rnp_generate_key_ex()` - protect primary key only after subkey is generated and protected.

[2020-01-13 12:37] dewyatt commented on #1030
Related: https://github.com/rnpgp/rnp/issues/930
Generally I'm against using the password provider for encrypting (or any time there is enough context at the user call site to avoid it).

Also, for a test, using `rnp_key_is_protected` in `rnp_tests` should be sufficient (probably don't need `cli_tests` here).

[2020-01-13 12:39] ni4 commented on #1030
@dewyatt I think `cli_tests` should be updated as well - to make sure that `--pass-fd` and/or `--password` CLI parameters worked correctly during the batch generation.

[2020-01-13 12:40] dewyatt commented on #1030
Good point we shouldn't need any additional API, so long as they aren't saved to disk until protection succeeds for both.

Probably a good idea!

[2020-01-13 12:40] ni4 commented on #1029
@ronaldtse what about finishing abandoned PR #947 ?

[2020-01-13 12:43] dewyatt commented on #1030
Maybe we should try to split this work up?
@rrrooommmaaa The fix
@ni4 cli_tests
@dewyatt rnp_tests

Yes?

[2020-01-13 12:45] ni4 commented on #1030
@dewyatt Ok, I'll take `cli_tests` part.

[2020-01-13 14:01] ni4 commented on #1030
@rrrooommmaaa @dewyatt Added commit d6e548b2f77d9319f4853f346dd5c68d2984a6f9 to the separate branch, feel free to cherry pick it. It should work fine once generated key is encrypted, but feel free to request changes.

[2020-01-13 16:25] dewyatt commented on #1030
@ni4 rnpkeys doesn't seem to take a `--password` parameter

[2020-01-13 16:40] ni4 commented on #1030
@dewyatt wow, was sure it is implemented. Will file an issue for this and force-push fixes.

[2020-01-13 16:42] dewyatt commented on #1030
@ni4 Do you think that test should write to stdin instead anyways?

[2020-01-13 16:42] ni4 opened #1031 "Implement --password CLI parameter for rnpkeys."
## Description

While rnp CLI has `--password` parameter, rnpkeys doesn't.
This may be useful in batch key generation when --pass-fd is not usable due to some reasons.

[2020-01-13 16:48] ni4 commented on #1031
Once this is implemented the following CLI test would be useful:
[code]

[2020-01-13 16:49] dkg commented on #972
On Sun 2020-01-05 02:41:28 -0800, Nickolay Olshevsky wrote:

How thorough is your release process?
https://www.rnpgp.com/software/rnp/docs/installation/ still contains
some references to 0.12.0.

https://www.rnpgp.com/software/rnp/docs/develop/packaging/ contains
references to 0.9.0.

It would be great to automate the library/tool release process in a way
that updates all public-facing documentati

[2020-01-13 16:59] dewyatt commented on #972
@dkg We haven't been releasing very often so it's something that could likely be improved. In fact, the release workflow docs are slightly out of date too IIRC.

[2020-01-13 17:14] ni4 commented on #1030
@dewyatt Yes, this kind of test should be added as well. Probably let's wait for the fixes so it would be easier/faster to make test work as expected.

[2020-01-13 18:35] dewyatt commented on #1030
@rrrooommmaaa Are you still working on a fix?

[2020-01-13 20:18] rrrooommmaaa commented on #1030
Yes, I can handle this in about 3 hours. If you need this more urgently feel free to re-assign

[2020-01-13 20:27] dewyatt commented on #1030
@rrrooommmaaa Ok I think I have a fix for this so I'll get a PR going, I'd like to get this fixed ASAP.

[2020-01-13 22:01] ni4 opened #1034 "Add CLI test for key generation with password passed via stdin"
## Description

Following CLI test code should be updated (if possible) so password is not asked via tty locally:

[code]

[2020-01-13 23:53] #1025 closed

[2020-01-14 12:23] ni4 opened #1035 "Add memory cleaning function to FFI."
## Description

Currently CLI uses pgp_forget() function call to clean password data, which directly calls function from Botan.
However, CLI should be fully migrated to FFI usage (so CLI layer is not dependent on rnp library internals and underlying cryptography).

[2020-01-14 12:44] ni4 opened #1036 "Add rnp_request_password() function to the FFI."
## Description

This function should request password via configured for FFI callback.
Please see the discussion: https://github.com/rnpgp/rnp/pull/1033#discussion_r366306832

[2020-01-14 12:53] dewyatt opened #1037 "Fix version.cmake for master branch"
## Description

Our initial release tag (0.9.0) is on a commit shared in the master branch, so rnp master ends up showing a version like:
`0.9.0+git20200114.618.8017915`
Which, although technically accurate, was intended to be more like:
`0.0.0+git20200114.8017915`

[2020-01-14 12:56] ni4 commented on #1037
@dewyatt What about showing it as 0.13.0+git2020114..., i.e. based on the latest release version?

[2020-01-14 12:59] #1030 closed

[2020-01-14 13:17] dewyatt commented on #1037
@ni4 That's how it would show on a release branch but for master that could be considered slightly inaccurate because our current release workflow is kind of based on the possibility that we may have multiple independent release branches (like 0.x series and 1.x series etc) which may have different fixes and features. But that may be overly flexible for us and showing a version based off of the mo

[2020-01-14 19:26] dewyatt opened #1040 "ci: Restore Coverity scans"
## Description

These were dropped during the migration to GHA.

[2020-01-15 13:57] dewyatt opened #1042 "ci: Add support for [skip ci] to GHA"

[2020-01-16 01:21] #1042 closed

[2020-01-16 15:02] rrrooommmaaa opened #1045 "some functions mask RNP_ERROR_BAD_FORMAT error"
## Description

When using `rnp_op_verify_execute` with detached signature file in incorrect format, I receive `RNP_ERROR_BAD_PARAMETERS` error code instead of `RNP_ERROR_BAD_FORMAT`.

First, the error is masked in `src/librepgp/stream-parse.cpp`, lines 819-826:
[code]
Secondly, in lines 2093-2094:
[code]

## Steps to Reproduce
[code]

## Expected Behavior

I would expect to get `RNP_ERROR_BAD_FOR

[2020-01-16 22:45] antonsviridenko commented on #1045
https://github.com/rnpgp/rnp/issues/941#issuecomment-565622529

[2020-01-20 00:37] dewyatt opened #1048 "Consider using Boost"
## Description

Some of our code is reinventing the wheel because 1) we use c++11 and 2) we don't really have many dependencies.

Certain things, like dealing with filesystem paths, can be tricky from both a safety and portability standpoint.
Looking through the code base with something like `grep -r "'/'" src/ | grep '=='` makes me think there's some potential portability issues since Windows gen

[2020-01-20 16:28] ni4 opened #1049 "Allow to dearmor files, armored with gpg --enarmor"
## Description

Command `gpg --enarmor somedata.dat` produces armored file with the following header:
`-----BEGIN PGP ARMORED FILE-----`.
rnp is not able to dearmor this file, with error message `[armor_parse_header() /Users/nickolay/Ribose/rnp/src/librepgp/stream-armor.cpp:565] unknown armor header`.

It would be nice to be able to dearmor such files as well.

[2020-01-22 09:40] antonsviridenko opened #1054 "Error codes returned by API functions are not documented"
## Description

As discussed in https://github.com/rnpgp/rnp/pull/1032 Returned values are not clearly defined, and therefore many tests check for failure this way ` != RNP_SUCCESS` ( through `assert_rnp_failure()` ) instead of checking against specific error code

## Steps to Reproduce

See https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h . Almost every API function's return value is de

[2020-01-22 10:13] antonsviridenko commented on #1014
Concerning Unicode and UTF-8, I think it is important to perform Unicode canonicalization before processing user id input string. Otherwise visually equal strings may compare as non-equal because they have different representation in their byte sequence, especially when they come from different platforms

https://en.wikipedia.org/wiki/Unicode_equivalence

[2020-01-22 12:50] ni4 commented on #1014
@antonsviridenko Unicode canonicalization would require linking another library, causing more compatibility pain. And bringing not much of value as for me. Most users still will use ASCII symbols for the userid.

[2020-01-23 12:08] ni4 opened #1057 "rnpkeys --export --userid uid doesn't work."
## Description

Due to incorrect code in `rnpkeys.cpp` CLI  doesn't respect `--userid` argument:
[code]

Should be fixed, including the CLI test which checks this case.

[2020-01-23 13:51] dewyatt commented on #1021
Should be good as of:
https://github.com/rnpgp/rnp/pull/1046
https://github.com/rnpgp/rnp/pull/1056

Modifying files in `.github/workflows/` or `ci/` will invalidate cache. Cache that hasn't been accessed for a week will be evicted, which is not currently configurable within GHA.

[2020-01-23 13:51] #1021 closed

[2020-01-26 06:06] ronaldtse commented on #1048
@dewyatt agree with using Boost since we don't want to reinvent general purpose code.

[2020-01-26 06:07] ronaldtse commented on #1048
Thoughts @ni4?

[2020-01-26 06:08] ronaldtse opened #1058 "Extracting librepgp"
From @dewyatt :

This issue is to plan for the extraction of librepgp, also in preparation for Confium.

Ping @ni4

[2020-01-26 10:10] ni4 commented on #1048
@ronaldtse @dewyatt agree with using Boost but I have doubts about another dependency - will not this make building/testing process more complicated?

And, on OpenPGP layer we do not use much of non-portable code/may replace srncpy with something better.  So probably we could attach Boost on CLI layer only, keeping library's dependency list as short as possible?

[2020-01-26 10:15] ni4 commented on #1058
To extract it we should delegate some functionality to the upper logical layer. It could be key request/storage, password requesting (already done via password provider), logical signature validation (i.e. checks whether key is expired, revoked, trusted at all), probably something else.

[2020-01-27 12:21] dewyatt commented on #1048
It depends on what boost libs we use really, some are header-only and we may be able to pull them in automatically in CMake etc.

[2020-01-28 16:04] ni4 commented on #1048
@dewyatt Got it. Sure then, let's use Boost.

[2020-01-30 20:25] antonsviridenko commented on #941
I am looking at DSA now, seems that it makes no sense to try to generate 16384 bit or larger keys.
Basically there should be more complicated set of rules that determine what combination of p and q MPI sizes are acceptable, not just limiting max possible size of one MPI. Maybe it is better to create separate relevant set of tests for DSA related stuff?

https://tools.ietf.org/id/draft-ietf-openpgp

[2020-01-30 20:56] ni4 commented on #941
@antonsviridenko it would be enough to test that rnp behaves correctly for larger-then-expected DSA key sizes (including too large MPIs of course).

[2020-02-01 11:55] dewyatt commented on #1040
https://github.com/rnpgp/rnp/pull/1060

[2020-02-01 11:55] #1040 closed

[2020-02-02 00:18] dewyatt opened #1063 "Stacktraces in rnp_tests"
## Description

https://github.com/rnpgp/rnp/pull/1050#issuecomment-581060503

I have a hacky example working (as a CMake option) but it needs some work.

[2020-02-02 00:50] ronaldtse opened #1064 "Users and developers: please STAR/WATCH/FORK this repo!"
This is a call for @rnpgp/developers and users to STAR/WATCH/FORK this repo. Thanks!

Once we make 30 Watchers, 30 Forks and 75 Stars the rnp formula will be accepted in Homebrew. Thanks!

[2020-02-04 11:25] #1008 closed

[2020-02-04 12:42] #542 closed

[2020-02-04 12:42] #572 closed

[2020-02-04 21:21] #785 closed

[2020-02-06 15:53] ni4 commented on #1057
...additionally, `fprintf(stderr, "key '%s' not found\n", f)` doesn't make sense here since will always print null.

[2020-02-09 12:00] ni4 opened #1065 "Improve input type detection during signature/key import."
## Description

When rnp checks imported contents, it relies on PUBLIC KEY/SIGNATURE armor header.
However, GnuPG uses PUBLIC KEY header for exported key revocation, causing the importing error when `rnpkeys --import revcert.asc` command is issued.

[2020-02-11 21:03] dewyatt commented on #1058
Between this and https://github.com/rnpgp/rnp/issues/308 and TC I'm having trouble figuring out the best way to proceed.

One question I have is: if librekey becomes Confium (perhaps rewritten in Rust), what kind of key format(s) will Confium deal with?

For example:
1) Should it have plugins to deal directly with KBX, G10, OpenPGP packets, etc?
2) Or, should it have a unified key format (like som

[2020-02-12 13:48] ni4 opened #1068 "Add test for revocation import with wrong type code."
## Description

Make sure that revocations of different types are not considered valid with wrong code:
- [ ] key, subky revocation: only 0 - 3 values are accepted (not 0x20, not any other)
- [ ] certification revocation - see RFC
- [ ] signature revocation - see RFC

[2020-02-12 13:59] ni4 opened #1069 "Display key/subkey revocation status by rnpkeys"
## Description

Currently, even if a key or subkey has revocation signature and is considered is revoked, this information is not displayed by `rnpkeys --list-keys`.

[2020-02-12 14:00] ni4 opened #1070 "Print direct key/revocation signature info by rnpkeys"
## Description

Currently `rnpkeys --list-keys --with-sigs` displays only certification information, why should also print direct-key and revocation signatures.

[2020-02-13 17:41] dewyatt commented on #1058
I think I'm looking too far ahead so I'll try to focus on the minimal task at hand here for now. :)

[2020-02-13 17:53] ronaldtse commented on #1058
Sorry I missed replying here! All great points.

Yes. I don't know if this is one plugin or multiple (you tell me! 😉 )

As much as it is possible, a unified / an interoperable key format will be useful.

Probably necessary for extensibility.

I think the latter, but it does not precluding using a unified key format.

[2020-02-14 10:54] jpo234 opened #1071 "Annoying linker warning: stream-common.cpp:(.text+0x2666): warning: the use of `mktemp' is dangerous, better use `mkstemp' or `mkdtemp'"
## Description

The function init_tmpfile_dest in src/librepgp/stream-common.cpp calls the deprecated mktemp function. That causes an annoying linker warning.
This is what the [man-page](https://linux.die.net/man/3/mktemp) has to say:

## Steps to Reproduce

1. Link against a static librnp-0.a

## Expected Behavior

No warning

## Actual Behavior

A Warning:
[code]

[This is the offending line](ht

[2020-02-15 10:50] ni4 commented on #1058
I think it would not be possible to have unified key format - probably only blob storage, because of large number OpenPGP-only specific fields (signatures, signature subpackets, key preferences, whatever else). So these should be handled on library layer, Confium could only provide blob with data (having some metadata around it as well).

[2020-02-15 14:45] ronaldtse commented on #1058
But it seems that G10 already separates all of these such that they are separate from the OpenPGP encoding / format?

When we think of a unified key format, we should consider that each cryptographic scheme will use a different schema (i.e. secrets with metadata). For example, we can look at KMIP's key exchange format to see how they organize these fields.

[2020-02-15 15:06] dewyatt commented on #1058
Well G10 kind of relies on OpenPGP packets in the pubring to store extra data. Regardless, I don't see any reason JSON (as an example) couldn't store all of the extra fields required. It wouldn't be unified in the sense that every scheme has the same fields, it would be unified in the sense that there are lots of shared fields (key material, etc) and they all use the same "encoding" (JSON or whate

[2020-02-15 15:07] dewyatt commented on #1058
(Anyways, I'm focusing on the task at hand for now - getting librepgp split out into an entirely separate lib)

[2020-02-15 15:11] ni4 commented on #1058
G10/KBX stores additional data around the raw OpenPGP packets (like secret key data in special format, signature verification status, calculated trust status, whatever else) for easier later parsing.
We can do the same, using the JSON instead of weird binary format.

[2020-02-15 17:03] ronaldtse commented on #1058
Agree with using JSON for easier parsing. We will need to encrypt that anyway, perhaps into another JSON...? We don’t need to settle into the “ultimate format”, we can improvise as we go.

[2020-02-16 02:33] #1007 closed

[2020-02-16 22:48] kaie commented on #1001
Sorry for the delay. It's on my TODO list, I'll test this in the next few days.

[2020-02-17 10:17] ni4 commented on #1001
@kaie No problem. Also you are welcome to check revocation signature export, as it was implemented in PR #1066 and merged.
P.S. Btw, from your experience, does 'revocation key signature subpacket' is widely used so has high priority for implementation? AFAIR there were some discussion in OpenPGP mailing list regarding it's deprecation.

[2020-02-18 02:18] kaie commented on #1001
I confirm I can successfully encrypt to keys that contain unknown signatures, as an example I used my own key 25007724, without importing any of the keys that signed it.

Regarding your question on revocation, I don't have the answer, I need to get back to you, let's involve also Patrick Brunschwig.

[2020-02-18 02:18] #1001 closed

[2020-02-18 02:18] kaie commented on #1001
(Tested with yesterday's tip)

[2020-02-23 19:44] rrrooommmaaa opened #1075 "kr-def-key parameter ignored"
## Description

I would expect to sign (or do some other operation) with default key if the key is not specified for the operation. However, `kr-def-key` configuration value never gets to `cli_rnp_t.defkey` field.

## Steps to Reproduce
???

## Expected Behavior
Value from `CFG_KR_DEF_KEY` should go to `cli_rnp_t.defkey`

## Actual Behavior
Value from `CFG_KR_DEF_KEY` is never used.
Always trying

[2020-02-23 19:55] ni4 commented on #1075
@rrrooommmaaa actually kr-def-key is not a command line parameter, but some internal variable which is set based on keyring configuration. In most cases it would pick up the first key in the keyring, however may also parse GnuPG config via `conffile()` function.

[2020-02-23 20:02] rrrooommmaaa commented on #1075
@ni4 Anyway, it is set in `rnp_cfg_set_defkey` and never read afterwards. Where is it supposed to be read?

[2020-02-23 20:06] ni4 commented on #1075
@rrrooommmaaa Okay, now it's an issue :) Probably it was lost somewher during CLI->FFI transition.

[2020-02-23 20:14] rrrooommmaaa commented on #1075
@ni4 I have re-worded the issue.

[2020-02-24 14:30] rrrooommmaaa commented on #1014
@ni4 GPG --list-keys escapes special characters in its output (note tab(\x09) and newline(\n):
`uid           [ unknown] }{][)^*.+(\x09\n|$@rnp`
Should rnpkeys do the same? Current output is ugly:
[code]
Shall I open a new issue for this?

[2020-02-24 14:37] ni4 commented on #1014
@rrrooommmaaa Yeah, it should be good to escape non-printable chars (0x00-0x1F) in user output. It can be done as a separate function like cli_rnp_user_msg(), so we can later on use it in other places.

[2020-02-24 16:21] ni4 opened #1076 "Implement rnp --list-key-packets command."
## Description

This command should dump all packets belonging to the key (primary or subkey), making use of all switches of --list-packets command.
The main purpose of this command is debugging, so it should not be of high priority (but may save certain amount of time during work on other issues).

[2020-02-24 16:40] ni4 commented on #1076
Okay, no need to invest time into it since it may be easily replace with `rnpkeys --export-key alice | rnp --list-packets`

[2020-02-24 16:40] #1076 closed

[2020-02-25 09:57] rrrooommmaaa opened #1078 "Escape non-printable characters in user output"
## Description

GPG --list-keys escapes special characters in its output (note tab(\x09) and newline(\n):
`uid           [ unknown] }{][)^*.+(\x09\n|$@rnp`

Our current output is ugly:
[code]

We should escape non-printable chars (0x00-0x1F) in user output. It can be done as a separate function like cli_rnp_user_msg(), so we can later on use it in other places. (as from discussion #1014)

## Steps

[2020-02-25 13:54] ni4 commented on #69
@ronaldtse Could we close this now (ignoring my previous comment)?
Now we have what is described in this issue - two commands, rnp/rnpkeys, and a library.

[2020-02-25 17:37] ni4 commented on #1071
@jpo234 Thanks for reporting. Will need some time to get to it (and to make it compatible with Windows).

[2020-02-28 15:38] ni4 commented on #1075
@rrrooommmaaa Did you start working on this issue? I plan to introduce some changes which may have impact on it (make `rnp_cfg_t` field of  `rnp_cli_t` structure, so we'll not pass two structures as parameters). Then it would be logical to replace rnp->defkey with `rnp_cfg_getstr(rnp_cli_get_cfg(rnp), CFG_KR_DEF_KEY))`.

[2020-02-28 18:03] rrrooommmaaa commented on #1075
I haven't yet. Feel free to re-assign.

[2020-02-28 18:06] ni4 commented on #1075
Ok, thanks!

[2020-03-05 20:42] ronaldtse commented on #69
Certainly @ni4 ! Sorry missed this message!

[2020-03-05 20:42] #69 closed

[2020-03-06 07:49] mkmelin commented on #898
Any update on this? We run into this again now trying to get the libraries building with the Thunderbird build setup.

[2020-03-06 08:21] ronaldtse commented on #898
@mkmelin thanks for raising this again. @ni4 @dewyatt any updates for option 1?

[2020-03-06 09:43] ni4 commented on #898
@ronaldtse @mkmelin Will switch to this task now.

[2020-03-07 13:26] #11 closed

[2020-03-08 13:04] rrrooommmaaa opened #1082 "CFG_KEYSTORE_DISABLED int or bool?"
## Description

In some calls `rnp_cfg_setbool()` is used, in others -- `rnp_cfg_setint()` for `CFG_KEYSTORE_DISABLED` configuration setting

## Expected Behavior

I would expect to have either `bool` or `int` throughout the app.

[2020-03-08 13:09] dewyatt commented on #1082
This is generally by design and you'll see the code in `rnpcfg.cpp` should handle it correctly based on the underlying type. However, I agree it's inconsistent and we should just use `bool`.

[2020-03-09 19:25] dewyatt commented on #1058
I've been working on extracting this. I've basically started over a couple of times when I find that doing A, then B, then C means I'll probably want to go back and change A later. I do have a decent plant at this point I believe, and I'm trying to keep the changes minimal and keep librepgp in the source tree for now to make merging easier.

[2020-03-09 20:37] #1075 closed

[2020-03-12 12:06] #994 closed

[2020-03-12 16:32] ni4 opened #1085 "Add feature to certify other keys."
## Description

It should be added on library, FFI and CLI layer.
For CLI it may be implemented as `rnpkeys --certify <keyname> --signer <signer>` command (without signer default key may be used). In addition trust level parameters should be added.

[2020-03-13 01:13] #1078 closed

[2020-03-13 11:57] kaie commented on #1001
@ni4 I've been able to use new API rnp_key_export_revocation and it works for me.

[2020-03-13 12:18] ni4 commented on #1001
@kaie Great, thanks for letting us know.

[2020-03-13 19:02] rrrooommmaaa commented on #1014
@ni4 @dewyatt Can you comment on proposed solution to add recipient containing special characters:
As -r (recipient) parameter accepts regex, in order to correctly quote all imaginable characters, we should either:
change mode to std::regex_constants::ECMAScript, so that special characters can be escaped this way: -r [\x7D][\x7B][\x5D][\x5B][\x29][\x5E][\x2A][\x2E][\x2B][\x28][\x09][\x0A][\x7C][\x

[2020-03-17 12:50] #1035 closed

[2020-03-17 12:50] #1036 closed

[2020-03-18 11:38] ni4 commented on #1014
@rrrooommmaaa I think there is no need to filter those things that precisely. If somebody requires special characters in search, he can always quote them by himself, or make other search request (i.e. specify keyid or fingerprint).

[2020-03-18 11:54] rrrooommmaaa commented on #1014
@ni4 to be able to quote `-r <userid>` option, we need to change mode to ECMAScript, otherwise, quoting of special characters isn't working. Do you agree to the proposed update?

[2020-03-18 12:28] ni4 commented on #1014
@rrrooommmaaa I agree as soon as it doesn't break compatibility and works the same way with `regex_t`. There were a discussion somewhere in issues about compatibility and why we started to (partially) use `std::regex`.

But don't we have simpler way, like (just assumption, didn't test it) to use `-r "user\0x09with\0x09tab"`?

[2020-03-19 10:45] rrrooommmaaa commented on #1014
This is implemented for output. As for input, escaping is not implemented, but escaping is not a problem, the problem is the regex processor refuses to take special characters as is, so we have to enable ECMAScript to let the regex processor un-escape the characters itself (in the form of `[\x09]`

[2020-03-20 17:05] AlexeyMoskalenko opened #1088 "Using library in Window"
I apologize in advance for possible non-compliance with the rules of your community, but I have nowhere else to ask for help.

The fact is that, unfortunately, I could not find detailed instructions for using the library for Windows. Thank you very much for the detailed manual on building the library, but I could not find any instructions for its use.
My idea is to write my own dll for further use

[2020-03-21 00:12] #1082 closed

[2020-03-21 10:50] ni4 commented on #1088
Executables, compiled for Windows, doesn't have hardcoded full pathes for the linked dll's, only those dll names.
So, once built, you need just to copy compiled dll's to the executable's directory (or other directory, available under the PATH).
Another option would be to link and compile all sources statically into your project (CMAKE's Visual Studio generators may be handy in this case).

[2020-04-01 15:28] kaie opened #1089 "RNP and GPG report different key expiration times"
## Description

For a key that was extended, RNP reports that the key has expired at an earlier time - not at the most recent expiration time.

## Steps to Reproduce

1. Import key 698e2885c1de74e32cd503ad295c746984af7f0c with rnpkeys
2. rnp --list 698e2885c1de74e32cd503ad295c746984af7f0c |grep EXPIRED

## Expected Behavior

GPG reports expiration date: 2020-03-17

## Actual Behavior

RNP reports

[2020-04-01 15:30] kaie commented on #1089
I made the key available at
https://kuix.de/misc/698E2885C1DE74E32CD503AD295C746984AF7F0C.asc

[2020-04-01 17:29] ni4 commented on #1089
@kaie thanks for the report. This happens because of the yet incorrect key expiration check - it just saves key expiration specified in the latest signature. I'm going to fix this together with other changes very soon.

[2020-04-02 13:12] #898 closed

[2020-04-02 13:31] rrrooommmaaa opened #1090 "Avoid potentially incoherent reads"
## Description

In `pgp_source_t` structure we have `error` flag (set in `src_read()`)
I suggest to modify `src_read()` and `src_peek()` functions to check the value of this flag at the beginning and return immediately with `false` error code if `src->error` is set.
Thus, we will exclude the possibility of further reading from the source already marked as faulty.

## Actual Behavior

`src_skip()`

[2020-04-02 13:48] rrrooommmaaa opened #1091 "src_skip() leaves the source in indeterminate state"
## Description

The function doesn't return any error code, so it should guarantee to have either moved the pointer of the source to the requested distance or set the error flag on the source.

## Actual Behavior

It tries to allocate a buffer to read data to in large chunks. If allocation fails, no read happens and no error is returned. Therefore, the current position of source is not determined

[2020-04-02 16:32] dewyatt opened #1092 "test_ffi_signatures_dump test failure"
## Description

I'm guessing a key expired

[code]

[2020-04-10 13:51] ni4 commented on #1092
I'll handle this in upcoming PR.

[2020-04-10 13:58] ni4 commented on #1005
Update: looks like revocation key signature subpacket is not widely used.

[2020-04-10 13:59] ronaldtse commented on #1092
Thanks @ni4 !

[2020-04-14 12:05] kaie opened #1099 "Consider to use shorter armor lines"
When exporting armored blocks, e.g. for public keys, RNP uses a fixed line length of 76 chars. I believe this is set in the following line:

[code]

When attaching these in email, Thunderbird wraps it at position 73.

(Armored blocks produced by GnuPG wrap at position 64, and didn't cause Enigmail to wrap.)

It's not a big deal, it simply looks slightly ugly when looking at the message source (wit

[2020-04-14 19:01] ronaldtse commented on #1099
@kaie a shorter line length seems reasonable. No preference between 64 or 72...

Thoughts @ni4 @dewyatt ?

[2020-04-15 09:21] ni4 commented on #1099
@kaie @ronaldtse It can be easily changed, the only problem I see is propagating the line length parameter through the whole API.
The easies solution I see now is adding this parameter to `rnp_output_to_armor()`.

[2020-04-15 10:14] kaie commented on #1099
Just FYI, I tested and can confirm that changing the hardcoded value in the line mentioned above is sufficient to change the line length.

[2020-04-17 15:13] dewyatt commented on #1037
I'm going to reopen this as I was never really satisfied with my fix here and it's just causing issues.
What I would propose is:
1. Delete the `v0.9.0` tag. This tag is problematic because this commit is shared between master and the release branch. Alternatively, we could move this tag ahead one commit to 6b0a314 since that's just a doc change. Or we could rename it something like `deprecated-v0.

[2020-04-18 13:58] dewyatt commented on #1037
Since CI is broken, for now I'm planning to proceed with this unless someone objects, in which case I can easily revert the changes.

[2020-04-18 16:26] ronaldtse commented on #1037
@dewyatt I have no specific opinion here, whatever works is good. Thanks!

[2020-04-18 23:23] kaie opened #1101 "very slow listing of big (poisoned?) key"
Download this key, which is a version of Werner Koch's key, but it might be a poisoned version. It has 3 user IDs, and each has around 1600 signatures:
https://kuix.de/misc/wk-full.asc

When listing the key with rnpkeys --list --with-sigs it is very very slow, while gpg lists it in less than 2 seconds.

[code]

Speed of normal listing is acceptable, although it takes a couple of seconds:
[code]

S

[2020-04-19 01:12] dewyatt commented on #1037
Ok this should be good as of 740093a.

[2020-04-19 01:12] #1037 closed

[2020-04-19 09:26] ni4 commented on #1101
Hi @kaie. Thanks for reporting, I'll take a look. Most likely it's because some O(n^2) weak places during signature list processing. I'll take a look, it must be definitely optimized till the release.

[2020-04-19 09:43] kaie opened #1102 "Edge case: RNP_ERROR_SIGNATURE_INVALID for good sig from key with no uid"
I see error code RNP_ERROR_SIGNATURE_INVALID when verifying a signature, if only a stripped version of the key is available.

This is the message
https://lists.gnupg.org/pipermail/gnupg-announce/2020q1/000444.html

It was signed by key ID FF80AE9D1DEC358D.

keys.openpgp.org has a stripped key for it, available here:
https://keys.openpgp.org/search?q=FF80AE9D1DEC358D

That key doesn't not contain a

[2020-04-19 09:46] kaie commented on #1102
[sig-inval-issue-1102.zip](https://github.com/rnpgp/rnp/files/4498745/sig-inval-issue-1102.zip)

[2020-04-19 12:22] ni4 commented on #1102
Thanks for the report again, @kaie. That really helps to find corner cases from the real world instead of theoretical ones :) Currently this behavior is by logic - to mark public key as valid it requires to have at least one valid non-expired self-certification (i.e. needs keyid), or direct-key signature. But looks like binding must be also taken in account. I will provide fix for this soon.

[2020-04-19 12:57] kaie opened #1103 "Provide a build time switch to disable logging in optimized builds"
During execution with real world keys, RNP dumps lots of warnings on the console, apparently from RNP_LOG

Could you please provide a mechanism to disable those in an optimized build?

[code]

[2020-04-20 09:52] ni4 commented on #1103
Sure, while it is easy to completely disable this (or just remove some noisy lines), shouldn't we have some sort of fallback to be able to debug later on? I.e. to have some data for the users to send it back.

[2020-04-20 09:56] kaie commented on #1103
Maybe check for an environment variable at startup, and remember the flag during the runtime? If set, then log.

[2020-04-20 09:57] ni4 commented on #1103
Yeah, this sounds as a solution. What do you think, @dewyatt? cc @ronaldtse, @rrrooommmaaa

[2020-04-20 09:57] kaie commented on #1103
#ifdef DEBUG then log
#else
if getenv("RNP_LOG_CONSOLE") then log
else silence
#endif

[2020-04-20 10:01] ni4 commented on #1103
My only concern here is performance in case of large amount of log messages. Probably better to keep some global inner state variable.

[2020-04-20 10:12] ronaldtse commented on #1103
Agree with @ni4 .

[2020-04-20 10:15] dewyatt commented on #1103
Right we may want to avoid excessive getenv invocations.
So I guess some lazily-initialized global is the quick & easy solution.
(And at some point we ought to avoid globals and encapsulate things like this in rnp_ffi_t, etc)

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, April 20, 2020 6:01 AM, Nickolay Olshevsky <notifications@github.com> wrote:

[2020-04-20 11:46] ni4 commented on #1103
Okay, so let's stick to this strategy:
- for Debug builds logging is always on
- for Release builds logging is enabled (storing status in some global variable) only if RNP_LOG_CONSOLE environment variable is set.
- we'll need to have some small test for this as well.

@rrrooommmaaa Would you like to take this issue?

[2020-04-21 17:26] #1090 closed

[2020-04-21 18:19] ronaldtse opened #1104 "Failure in Windows build in master"
## Description

In the master build the Windows build seems to fail by timeout; i.e.

[code]

## Steps to Reproduce

1. Build: https://github.com/rnpgp/rnp/runs/605970058?check_suite_focus=true

[2020-04-21 18:22] ni4 commented on #1104
@ronaldtse Looks like it's something with GHA (see comment https://github.com/rnpgp/ruby-rnp/pull/67#issuecomment-616207654).
At least recently merged PR #1097 didn't make any windows-related changes.

[2020-04-21 18:24] ronaldtse commented on #1104
Got it, thanks! Will look out for the fix to come...

[2020-04-23 12:05] ni4 opened #1106 "Do not create system rng is internal library code."
## Description

Currently number of internal library functions creates rng:
`if (!rng_init(&rng, RNG_SYSTEM)) {...}`.
However, we should use the single one, which will be passed down through the function call list from the FFI.

[2020-04-26 09:40] kaie opened #1107 "Encryption status from rnp_op_verify_*"
When processing an encrypted message, prior to decrypting, it's unknown if a message is both encrypted and signed.

If the message uses the combined signature and encryption encoding, calling rnp_decrypt will not process the signature. Consequently I'm using the rnp_op_verify_* functions, which will optionally decrypt, and also allow retrieval of the signature information.

However, it seems there

[2020-04-26 09:48] kaie commented on #1107
Also, it would be nice to have a mechanism to query the full list of key IDs a message was encrypted to, even if we're unable to decrypt the message (because we don't have the secret key).

[2020-04-26 10:15] ni4 commented on #1107
@kaie Yeah, I was also thinking about adding some convenient way to obtain this data.

Right now the possible solution would be:
1. During decryption password is requested (if the secret key is encrypted and locked). So you may make use of data, passed `rnp_ffi_set_pass_provider()`'s callback.
2. To check whether message is actually encrypted, and get list of keyid's, you may use `rnp_dump_packets

[2020-04-26 12:03] #1020 closed

[2020-04-26 12:03] #1089 closed

[2020-04-26 12:03] #1092 closed

[2020-04-26 18:47] ni4 commented on #1102
@kaie Could you please provide a raw data from this email for verification? I tried to extract it from email according to OpenPGP/MIME standard for few times but looks like I missed some spaces/EOLs/correct quoted-printable translation somewhere.

[2020-04-28 00:14] kaie commented on #1102
[raw-data-issue-1102.zip](https://github.com/rnpgp/rnp/files/4542666/raw-data-issue-1102.zip)

Here is the extracted signed message and the detached signature.

[2020-04-28 10:31] ni4 commented on #1102
@kaie Thanks. I though it is needed to decode quoted-printable first. Anyway, now confirmed - it is verified successfully with the recent changes (available in yet draft PR #1108.).

How is your schedule, are you waiting for some features from us or still have other things to do? Since we have some lag between implementation and merging to master, I can provide you a separate branch with all teste

[2020-04-28 12:21] ni4 opened #1110 "Use botan_pwdhash() instead of deprecated botan_pbkdf()."
## Description

Seems botan_pbkdf() was deprecated some time ago:

[code]

[2020-04-28 18:37] ni4 commented on #1101
@kaie PR #1109 fixes time to 1-3 seconds on both cases on my development machine.
Still need some time to check and settle things down.

[2020-04-29 16:07] kaie opened #1115 "Key validity extension signature is ignored/rejected, if done after expiration"
We have an example key, that RNP treats as "expired".
GnuPG treats it as "never expires".

The key contains a self-signature, which defines an expiration date.
There's is an additional self-signature, made at a later time, which does not define an expiration.

I assume that GnuPG accepts the second signature, overriding the original expiration.

The second signature was made after the original exp

[2020-04-29 16:16] kaie commented on #1115
I have to say, I haven't yet checked this with the tip of RNP. Let me do that first.

[2020-04-29 16:17] ni4 commented on #1115
@kaie Thanks for reporting. It's logical trick - in current code (at master, not latest release) we search for latest self-signature with key expiration subpacket, missing the point where latest signature may be without it, marking key as non-expiring. So no need to share key - I think i'll be able to reproduce this issue, and fix it.

[2020-04-29 16:56] ni4 opened #1116 "Do not consider data as valid until it is stored in hashed signature subpackets"
## Description

We should only use data which is stored in hashed signature subpacket (except signer's keyid, or some other cases defined in RFC 4880/4880bis).

[2020-04-29 16:57] kaie commented on #915
How do I create a release archive that includes a version.h file (from a snapshot)

[2020-04-29 17:00] kaie commented on #915
That is: a "source code" archive

[2020-04-29 17:02] ni4 commented on #915
@kaie version.h is generated by cmake, and later stored in cmake build folders. But why do you need it?

[2020-04-29 17:04] kaie commented on #915
Thanks. I think I misunderstood something. Our local build complained about the file being missing, but I should talk to our release engineer how to trigger a rebuild inside the thunderbird build.

[2020-04-29 17:06] kaie commented on #915
I should have read https://hg.mozilla.org/comm-central/file/tip/third_party/README.rnp ... we're all good.

[2020-04-29 17:27] ni4 commented on #1102
Just some thoughts on this case: primary key which expires should never have non-expiring subkeys (and, more - their expiration date should be not more then primary key expiration date).
Otherwise we may just strip userid/certifications and got valid key for signature verification for as long as subkey is not expired.

[2020-04-30 05:58] #1091 closed

[2020-04-30 06:18] ronaldtse commented on #1104
This is the latest failure: https://github.com/rnpgp/rnp/actions/runs/91859235

[code]

[2020-04-30 09:56] ni4 opened #1117 "Task priorities and claiming."
## Description

Hi all. For a while I was thinking about changing development process a bit to make it somehow more organized and structured. So my proposal of workflow is as following:

- I will describe current priorities in this or similar issues periodically (or upon request, if some clarification is needed or we went out of priorities :)
- All questions and suggestions regarding the prioritie

[2020-04-30 10:07] ni4 commented on #1117
## Priorities: May, 2020

Till the end of the May we need to make release build with features asked by TB team.
My view of priorities is as following:

### So the following will be in priority:
- FFI interface for signature stripping (I started work on this already)
- issues regarding key/signatures edge cases. Since I did a lot of work in this direction most of them I'll claim for me.
- security

[2020-04-30 12:53] antonsviridenko commented on #1117
What is TB in this context?

[2020-04-30 12:55] ni4 commented on #1117
@antonsviridenko Mozilla Thunderbird, RNP will be used there since the next major release.

[2020-04-30 13:21] dewyatt commented on #1117
This sounds a tad dictatorial to be perfectly honest

[2020-04-30 13:28] ni4 commented on #1117
@dewyatt Maybe I picked wrong words. Basically, I'd like to have a bit more organized approach to the process, so we move in a single direction, and move a bit faster. Say, some time limits for PR reviews, some discussion before task picking, whatever else. Does this make sense?

[2020-04-30 13:44] ni4 commented on #1104
Okay, it seems I reproduced this hang locally. Will take a look...

[2020-04-30 13:53] dewyatt commented on #1104
That's good news, maybe we don't have to wait for it to resolve itself after all. I wonder if it's hanging reading from a pipe or something. It's odd we haven't really changed anything though.

[2020-04-30 13:58] ni4 commented on #1104
@dewyatt I think it could be something updated in ctest or google test. MinGW uses latest ones (and it's a pain to use older versions, since those are not always available). Will investigate further.

[2020-04-30 19:32] dewyatt commented on #1117
All this sounds good, but if we have a single developer determining priorities and doing issue assignments then that is more of a lead developer. I don't have any issue with that but if we're going that route then we ought to be clearer about it and update the `Reviewers and Responsibility areas` section, etc.

[2020-04-30 20:33] ni4 commented on #1117
Looks like it was really wrong wording from my side. That's not about determining priorities strictly by single person and telling everyone what to do but providing information/first view and initiating discussion about priorities and assignments by single person, letting others to argue/share their opinions/tell that this is bullshit and so on.

[2020-04-30 20:34] ni4 commented on #1117
Btw, Reviewers/Responsibility areas sections should be updated anyway since a bunch of records there are outdated.

[2020-05-01 14:36] ronaldtse commented on #1117
@rnpgp/developers We discussed this offline and the major concern was that we needed to support our major users like Thunderbird with more transparency and better planning. I just told @ni4 to write up something.

The wording is not ideal -- but it serves as something we can work on.

I think WE need to come up with a roadmap collectively and adhere to it moving on. Due to the current situation ar

[2020-05-01 14:37] ronaldtse commented on #1117
Closing this ticket in favor of a new one.

[2020-05-01 14:37] #1117 closed

[2020-05-01 15:22] ronaldtse opened #1119 "Roadmap development"
We need better roadmap development in planning releases of RNP in order to provide transparency and certainty for users who need such information.

There are few things we need to decide:
1. How long should a release be? 4 weeks? 8 weeks?
2. When do we decide priorities for every release?
3. We need someone to act as release manager, e.g. setup the Project board/milestone. Can we rotate?

Here's t

[2020-05-01 16:53] ni4 commented on #1104
Update: I tried to downgrade MinGW packages without luck. Ended up attaching lldb to the hanged process, giving no callstack and hang in WaitForMultipleObjects(). So I think it is something in MinGW/MSYS core (search give some comparable problem in summer 2019).
I will give up it for a while and probably get back to it after a while.

[2020-05-01 19:07] ronaldtse commented on #1103
Anyone interested in this? We need to get this going. Thanks!

Ping @rrrooommmaaa @joke325 .

[2020-05-02 00:16] dewyatt commented on #1119
Just a quick comment on this, I can help on what's needed but my preference would not involve handling releases, I'm a bit exhausted with that role generally.

[2020-05-02 02:52] ronaldtse commented on #1119
@dewyatt sure, could you help list out the responsibilities within a release so that we spread the load?

[2020-05-03 11:42] #1102 closed

[2020-05-03 19:56] dewyatt commented on #1104
So I tried having a go at this too. I can see rnp.exe and rnpkeys.exe both hang after `main()`.
Some observations:
* It became a problem for us when the botan package was updated to 2.14.0 (because of commit https://github.com/randombit/botan/commit/d1318e6f3e86cbf0456f0cd7c003f17b1c4200ad).
* If librnp is built as a static library, the issue goes away.

I'm not sure if it's a bug in winpthread's

[2020-05-03 20:14] ni4 commented on #1104
@dewyatt Thanks for your investigations. Actually I didn't suspect Botan update as a possible source of problems. Actually I was unable to get back to the case where things work well, so will try it tomorrow.

[2020-05-03 20:27] antonsviridenko commented on #941
Looks like generating larger than expected DSA keys requires some efforts. Like patching libbotan in order to remove limitations on p and q max size and then making custom builds. Other possible way is to manually edit DSA key packets in hex editor and increase MPIs. But there are 5 MPIs to be tested per each key (p, q, g, y, x).

Maybe there is some better way to do it?

[2020-05-03 20:32] ni4 commented on #941
@antonsviridenko If it takes too much time probably we can skip those cases and switch to other tasks.

[2020-05-04 12:07] ni4 commented on #1104
@dewyatt I tracked down Botan to the minimalistic test which hangs when run alone:
[code]

Internally it uses PK_Signer/PK_Verifier to test whether key is able to sign, and most likely this is the source of hangs (signing with RSA hangs as well).

Since now I need to focus on other things, what about to downgrade Botan in CI to the 2.13, and later get back to this (probably, creating issue in Bota

[2020-05-04 12:34] starix commented on #1119
Hello guys. May be we will fix this one in rnp.h:
`/* TODO define functions for encrypt+sign */`

[2020-05-04 13:34] ronaldtse commented on #1119
Thanks @starix for the suggestion! @dewyatt @ni4 do we have this issue posted somewhere?

[2020-05-04 13:37] ni4 commented on #1119
@ronaldtse This is actually should-be-removed comment. Encrypt-and-sign is already implemented via `rnp_op_encrypt_add_signature()` function.

[2020-05-04 13:47] ni4 commented on #1119
And my comments to the initial questions:

I think in normal case it should be 8 weeks or even more. But currently, till TB release and first month-two of polishing it in a real world it could be 4 weeks.

Right after the previous release, in some per-release issue? Of course, being able to update some of the goals or add new if something urgent appears.

I can do that, if there is nobody else wil

[2020-05-04 13:53] dewyatt commented on #1104
@ni4 Confirmed, that makes sense since the thread pool is utilized in `rsa_private_op` (I suspect decryption would hang too).

Sure we should be able to do that. I'll do a PR today.

I did some brief testing and wasn't able to reproduce the hang with your minimal test when building with MSVC (with threads enabled), only with mingw-w64+winpthreads. So I lean towards it not being a bug in botan itse

[2020-05-04 16:31] ronaldtse commented on #1119
Sounds good -- let's do:

1. 4 weeks per release
2. Decide priorities per release, as soon as we can update goals.
3. We will rotate responsibility of being the release manager starting with @ni4 first and then whoever has time later

@ni4 could you help setup a release milestone for the next 4 weeks with the appropriate priorities (realized as tasks) and the tickets placed into milestone?

Thanks

[2020-05-05 16:56] rrrooommmaaa commented on #807
@ni4 Can I take this one or are there more prioritized?

[2020-05-05 17:38] ni4 commented on #807
@rrrooommmaaa As for me this one is a bit of lower priority and still requires some discussion on implementation logic. As for me the simplest and the most urgent one is #1103, then #1099, and if you like Windows stuff - very important but a way more time-consuming would be #997.

[2020-05-06 01:15] #871 closed

[2020-05-06 08:49] kaie commented on #915
A question regarding multithreading. I couldn't find the terms thread or mutex mentioned anywhere in the RNP code base. Do you require that all RNP operations are done on a single thread, with no concurrency protection?

For Thunderbird's use, a single thread requirement might be acceptable. Although in the future, it might be nice to have support for key generation on a background thread.

[2020-05-06 09:24] kaie commented on #915
FYI, this is simply a question about the current status, no changes are necessary right now.

[2020-05-06 10:06] #1115 closed

[2020-05-06 14:54] #1101 closed

[2020-05-06 17:13] ni4 opened #1123 "Explicitly initialize POD struct fields."
## Description

As from discussion at https://github.com/rnpgp/rnp/pull/1109#issuecomment-624612517 we should `{}` - initialize all struct fields to avoid possible further initialization errors.

[2020-05-07 10:12] ni4 commented on #915
@kaie Currently there is no any locking/multithreading support in library so all objects should be used from the single thread. I don't remember whether we have any discussion about adding multi-threaded support, but probably we should.

Case with background key generation can be handled with creation of the separate FFI object, calling generate on it in a secondary thread, and then exporting-impo

[2020-05-07 13:54] ni4 opened #1124 "Remove signature_validate_* functions."
## Description

Those were used previously but now are present only in tests, so should be removed and replaced with signature_check_* equivalents where applicable.

[2020-05-08 13:44] ni4 opened #1126 "Do not use non-self-certified userids."
## Description

Currently we doesn't check whether userid is valid itself (has at least one non-expired self-certification, and is not revoked). So functionality should be extended so:
- not signed userids are ignored and not accessible via userid enumeration;
- keys cannot be searched/listed by these userids.

[2020-05-08 15:44] kaie commented on #915
Thanks @ni4 - So RNP doesn't have any global state. Any state is contained within a FFI object?

Regardless of RNP's safety, another question is Botan's safety.

[2020-05-08 17:14] ni4 commented on #915
@kaie Yeah, all the state information is stored in FFI object, however you may have any number of them. And current Botan's version  as I'm aware is thread-safe by default.
Maybe @dewyatt has some more information?

[2020-05-08 17:33] ni4 commented on #1104
To save it for later - I think this line from Botan's release notes introduced the hang: `Use the library thread pool instead of a new thread for RSA computations, improving signature performance by up to 20%. (GH #2257)`.

[2020-05-08 18:01] dewyatt commented on #1104
Right that's the commit I linked to earlier - https://github.com/randombit/botan/commit/d1318e6f3e86cbf0456f0cd7c003f17b1c4200ad

[2020-05-08 18:23] ni4 commented on #1104
@dewyatt wow, somehow mislooked that, sorry, my fault.

[2020-05-08 19:58] antonsviridenko commented on #1124
I can take it

[2020-05-08 20:04] ni4 commented on #1124
@antonsviridenko Thanks, feel free to go.

[2020-05-09 13:11] rrrooommmaaa commented on #1099
@ni4 Did you mean to configure it via `rnp_cfg_t`? And what value should be default?

[2020-05-09 13:58] ni4 commented on #1099
@rrrooommmaaa No, `rnp_cfg_t` is used only in CLI, while this should be changed on FFI layer.
Thing which comes first in mind is to update `rnp_output_to_armor()` function so `type` parameter will be allowed to have appended line length after the semicolon, i.e. type = `message:64`. As per RFC 4880-bis, maximum (and currently used as default) value is 76.

Also `init_armored_src()` should be updat

[2020-05-09 15:42] kaie commented on #1099
Not sure if you like this indirection, but here's another potential approach:

rnp_output_armor_set_line_length(rnp_output_t out_armor, size_t len);

You could define that calling rnp_output_armor_set_line_length is allowed, only, if parameter out_armor has been obtained from rnp_output_to_armor.

[2020-05-09 15:44] kaie commented on #1099
And maybe allow it to be set for the output object given to rnp_enarmor

[2020-05-09 17:40] ni4 commented on #1099
@kaie Agree, `rnp_output_armor_set_line_length()` could be also a good solution. It would also allow to extend functionality later on with other settings (like, in case we'll need to add some custom header or so on).

However not sure whether this possible for rnp_enarmor, since there output may be of any type, and all work is done in one pass. Probably, this should be better replaced with combina

[2020-05-09 19:29] dewyatt opened #1129 "ci: Build with clang-cl"
## Description

I couldn't find any open issue for this and since the Thunderbird guys are building with clang-cl, we should probably add this to CI.

(I'm planning to tackle this myself, but if anyone is already working on this let me know!)

[2020-05-09 20:13] ni4 commented on #1129
@dewyatt #997 could be related (maybe not well formulated though). We definitely need an ability to make a native Windows build without MinGW/MSYS.

[2020-05-10 21:26] kaie commented on #1115
Thanks, this is now working with the test key I was using.

[2020-05-10 21:26] kaie commented on #1102
Thanks for fixing. I haven't yet tested this scenario again. We've decided not to import keys without user IDs for now.

[2020-05-11 12:21] kaie commented on #1107
Thank you, that's a very helpful hint.

[2020-05-11 16:48] antonsviridenko commented on #1123
maybe just
`memset(&s, 0, sizeof some_struct_t); `
?

[2020-05-11 17:09] dewyatt commented on #1123
It's not very C++-y, it relies on all members remaining POD, and it seems maybe more likely to be a runtime vs compile-time thing.

[2020-05-11 19:24] #888 closed

[2020-05-11 19:43] ni4 commented on #1123
That will not work within the migration to C++, when, for instance, list variables will become a std::vector or std::map.

[2020-05-12 05:33] ronaldtse commented on #1119
Ping @ni4 on milestone setup. Thanks!

[2020-05-12 10:31] #1124 closed

[2020-05-12 10:49] ni4 commented on #1129
@dewyatt What do you think about including this into v0.14 milestone? Since this is not urgent for TB since they have their own build scripts, but still would be nice to have in the release.

[2020-05-12 10:53] ni4 commented on #1126
#1022 is related, but leaving this since it has additional information typed in.

[2020-05-12 11:02] ni4 opened #1131 "Add support for revocation key signature subpacket."
## Description

Currently RNP can revoke keys, but only using private key itself.
However revocation key signature subpacket allows to use other key to issue revocations.

## Checklist for the feature implementation:
 - [x] investigate whether this feature is used by other implementations in the real world
 - [ ] library code to allow other keys as revokers
 - [ ] library code to set revoking key

[2020-05-12 11:03] ni4 commented on #1005
Closing this since missing functionality was extracted to the #1131

[2020-05-12 11:03] #1005 closed

[2020-05-12 11:06] ni4 opened #1132 "Add CLI command to update key/subkey expiration time."
## Description

Possible command is:
`rnpkeys --set-expiry <userid/keyid/fingerprint> expiry`.
Where expiry could be in a GnuPG-like format: 1000 (seconds), 1000h (hours), 1000d (days), 20m (monthes), 3y (years).

[2020-05-12 11:07] ni4 commented on #1004
Extracted CLI part to the separate issue #1132, so closing this.

[2020-05-12 11:07] #1004 closed

[2020-05-12 11:10] ni4 opened #1133 "Improve performance of loading/exporting of huge keyrings."
## Description

As it was reported via email, loading/exporting of large amount of keys may take a significant time.
This most likely is linked to usage of list type, and should be fixed up by using std::vector instead.

[2020-05-12 11:13] ni4 commented on #997
@rrrooommmaaa could you please take a look at #1129 to make sure that your work will not interfere with @dewyatt's

[2020-05-12 11:30] mkmelin opened #1134 "crash at pgp_subkey_refresh_data"
## Description
Crash - see https://bugzilla.mozilla.org/show_bug.cgi?id=1637046
@ https://searchfox.org/comm-central/rev/32028983d85d767411a1487ed7b8394e00865b35/third_party/rnp/src/lib/pgp-key.cpp#1319

Looks like sub->revocation is null

0 librnp.so pgp_subkey_refresh_data(pgp_key_t*, pgp_key_t*) comm/third_party/rnp/src/lib/pgp-key.cpp:1319 context
1 librnp.so rnp_key_store_add_key(rnp_key_stor

[2020-05-12 11:30] ni4 commented on #1071
PR #1127 may be useful.

[2020-05-12 11:33] ni4 commented on #1134
@mkmelin Thanks for the report! Do you use the latest master's commit?

[2020-05-12 11:38] ni4 commented on #1134
@mkmelin Sorry, no need to answer - we definitely should not call strlen() on possible NULL.

[2020-05-12 11:41] ni4 commented on #1134
Some more details:
- the same applies to the primary key
- we should add a test with both primary key/subkey revocation signatures which doesn't contain revocation reason subpacket.

[2020-05-12 11:42] ni4 commented on #1119
@ronaldtse Sorry for a delay. Here it goes: https://github.com/rnpgp/rnp/milestone/5
High-priority tasks are marked with the corresponding tag, other are of normal priority, and no low-prio in this milestone yet. Does this look good?

Probably there are more things which should be added, ping @rnpgp/developers

[2020-05-12 15:56] rrrooommmaaa commented on #997
@ni4 I'll have a look, thank you

[2020-05-13 14:33] dewyatt commented on #1129
This issue is mostly focused on CI so not related to a release per se. I don't see it as high priority but I don't see it as low priority either. If we're constantly breaking the build for the TB people because we don't have any similar build in CI, that's going to create some unnecessary friction.

[2020-05-13 16:41] ronaldtse commented on #1129
I think it would be best to have the clang-cl build as soon as we can, because that would prevent us from being the source of errors to TB...

[2020-05-15 17:44] dewyatt opened #1135 "Control symbol visibility in shared libraries"
## Description

We should mark our public APIs and export those. Right now we just end up exporting all of our internal APIs. I think this would be good to have in the next release, before users start using our internal APIs and having them break.

[2020-05-15 17:45] dewyatt commented on #1119
I think https://github.com/rnpgp/rnp/issues/1135 and https://github.com/rnpgp/rnp/issues/839 would be good for the next release

[2020-05-15 19:28] dewyatt commented on #30
A bit late but I just checked and this can indeed be closed

[2020-05-15 19:28] #30 closed

[2020-05-16 10:23] ni4 commented on #1119
@dewyatt Agree, added them. Regarding #839 - I plan to add large PR soon with some more C++ additions.

[2020-05-17 11:50] kaie opened #1141 "Cannot import secret key with more than one comment line"
RNP fails to import the secret keys from https://gitlab.com/openpgp-wg/openpgp-samples

Apparently RNP doesn't accept more than one comment line, as in those example secret keys.

[code]

I don't know if multiple comment lines are allowed.
After editing the key file and removing the second comment line, importing was possible.

[2020-05-17 13:35] kaie opened #1142 "MDC checking"
If an encrypted message doesn't have MDC, then RNP will decrypt it without warning.
Function rnp_op_verify_execute returns zero (good status).

Lack of MDC is considered a security issue, and an email agent should usually reject messages that don't use MDC.

Does RNP offer a mechanism to learn about the lack of MDC in a decrypted message?

If not, how about adding an API with a rnp_op_verify_t par

[2020-05-17 13:57] kaie commented on #1142
This issue was originally reported by Patrick Brunschwig at https://bugzilla.mozilla.org/show_bug.cgi?id=1638645 which also has a test message attached.

The message is encrypted for Alice's key from https://gitlab.com/openpgp-wg/openpgp-samples

[2020-05-18 10:06] ni4 commented on #1141
@kaie thanks for reporting!
Needs to think what we should do with this case (just ignore next comments, or change structure which stores armor headers).

[2020-05-18 10:08] ni4 commented on #1142
@kaie Thanks for reporting. I think we should also return some error code (like RNP_ERROR_LOW_SECURITY) instead of RNP_SUCCESS for such operation.

[2020-05-18 11:07] kaie commented on #1142
Maybe like this?
https://github.com/kaie/rnp/commit/7a2ccc9947d36059591cd1c7d98c5579cd9dfd3d

[2020-05-18 11:25] kaie commented on #1142
The encryption flag was added because of issue 1107.

[2020-05-18 13:37] ni4 commented on #1142
I'd prefer slightly change this:
- do not change src_finish() params to transfer such specific information (since src_finish() is much lower-level object and should be used with all of the streams)
- use `pgp_processing_ctx_t` to fill flags information from encrypted_src, and propagate it to the upper level (maybe, via `rnp_ctx_t`).
- use single but extensible FFI interface function `rnp_op_verify

[2020-05-18 14:21] kaie opened #1143 "decrypt failure with error: wrong mpi bit count, failed to get rsa m"
I regularly receive encrypted email from a bug tracking system.

Today I received a message that RNP cannot decrypt, it reports:
[code]

Secret key is available. I compared with another encrypted email from the same source, same key was used.

GnuPG is able to decrypt the message correctly.

I'm attaching the message.

[2020-05-18 14:22] kaie commented on #1143
[wrong-mpi-bit-count.txt](https://github.com/rnpgp/rnp/files/4644657/wrong-mpi-bit-count.txt)

[2020-05-19 10:17] kaie commented on #1143
Is this encrypted message sufficient to analyze the problem? I cannot share the secret key.

[2020-05-19 15:54] kaie commented on #1142
Your rnp_op_verify_get_protection_mode API suggestion seems fine. I'd prefer to avoid having to interpret the raw package dump.

[2020-05-19 20:07] ni4 commented on #1142
@kaie Got it. Will make a PR as soon as I'll get to this.

[2020-05-19 20:28] ni4 commented on #1143
@kaie It seems enough, however will need some time/efforts to analyze what's the best behavior in this case. In this file encrypted RSA M parameter is claimed to be 4089-bits long, however actual MPI is 4088-bits long (high-order byte is zero). RFC 4880 claims it as ill-formed (however, doesn't seem to have any rule on handling these as no-good).
Do you know whether this message issued by GnuPG, o

[2020-05-19 20:50] kaie commented on #1143
The message was sent by bugzilla.mozilla.org and thanks to justdave who looked up what software is used behind the scenes: Crypt::OpenPGP and Crypt::SMIME modules in Perl - https://github.com/mozilla-bteam/bmo/blob/master/extensions/SecureMail/Extension.pm

[2020-05-19 20:53] kaie commented on #1143
it was sent by the server on bugzilla.mozilla.org - according to dkl : it "uses a compiled cli command made from https://www.npmjs.com/package/openpgp" - https://github.com/mozilla-bteam/tocotrienol

[2020-05-19 20:59] kaie commented on #1143
... which is a front end to OpenPGP.js

[2020-05-20 11:13] ni4 commented on #1107
Please ignore this - I (not sure why) believed that we have `rnp_decrypt_op_t` symmetrically to `rnp_op_encrypt_t`.

[2020-05-20 11:58] ni4 commented on #1143
Do you mean the RNP or OpenPGP.js?
Anyway, I issued the PR #1144 which should fix this - since GnuPG supports decryption of such messages, and since message may be easily edited to be then decrypted by RNP, we should support such case with buggy implementations.

[2020-05-20 19:51] kaie opened #1145 "support import and skipping problematic keys"
Users who migrate to RNP might want to import their complete public keyring.

Apparently RNP is more strict about keys, or, might not support some kinds of keys, so it refuses to import them.

The problem is:

When importing a large key block that contains many keys, RNP aborts the import at the first problem.

I'd like to request one of the following mechanisms:
- add an option for rnp_import_key

[2020-05-20 20:03] ni4 commented on #1145
@kaie Today I got to this idea as well, thanks to the data provided by Patrick. At the moment the most logical way seems to be to add flag like IGNORE_BAD_KEYS, and pass data about invalid keys back in results JSON.

[2020-05-20 20:05] kaie commented on #1145
yes that would work

[2020-05-20 20:23] kaie opened #1146 "rnpkeys --verbose should say which key it's currently processing"
When importing a set of many keys, and rnpkeys stops importing in the middle, it's difficult to know which of the keys is causing the failure.

When using --verbose, rnpkeys could print the fingerprint of the key that it will process next.

[2020-05-20 20:44] kaie commented on #1145
I'd like to suggest an additional flag.

A key might fail to import, because it contains a signature that RNP is rejecting.

So another option for import could be: If invalid signature is found on key, try to import the stripped/minimized key.

[2020-05-21 09:50] #1143 closed

[2020-05-21 10:41] ni4 opened #1147 "Support reading of exported by GnuPG smartcard secret keys"
## Description

GnuPG uses custom S2K specifier if secret key part is stored on smartcard.
We should support reading it.

See the details here:
https://lists.gnupg.org/pipermail/gnupg-users/2015-February/052747.html

And here:
https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=doc/DETAILS;h=a1c53b88e56d7f36c1c20806b3474b01f44a4a2c;hb=refs/heads/master

[2020-05-22 10:52] ni4 opened #1148 "Do not re-write already read key packets."
## Description

Currently, once key packets are read, they are converted to raw packets via write functions, instead of just copying data which was read.
While this doesn't break anything yet (hashed signature data is preserved), it still should be better to write them back as they were read (including packet header).

[2020-05-23 11:23] ni4 commented on #1145
@kaie JFYI: While this is not 100% complete yet, since just merged PR #1149 RNP should be much more relaxed in signature consumption, and `rnp --dump-packets` more informative for easier debugging.

[2020-05-23 18:54] dewyatt commented on #1141
I think the second option makes sense, maybe use a `vector<string>` for comments, that seems better than losing information.

[2020-05-24 09:24] pbrunschwig commented on #1134
There's at least one more occurrence of that bug:
(see https://crash-stats.mozilla.org/report/index/bb8bc9ba-f139-469d-9bf6-49a600200523)

pgp_key.cpp, line 1388:

[code]

[2020-05-24 17:15] dewyatt opened #1151 "Drop utils.h include in rnp.h"
## Description

Since https://github.com/rnpgp/rnp/pull/962 we have this in `rnp.h`:
[code]

This breaks (or has unintended consequences, depending on whether a `utils.h` exists) C++ API clients.

[2020-05-26 12:22] ni4 opened #1153 "Double key export via CLI"
## Description

In some cases rnpkeys exports double key via `--export` command.
At first glance it doesn't happen without subkeys, and happens if there is at least one subkey.

## Steps to reproduce
[code]

[2020-05-27 16:21] kaie opened #1154 "Cannot import key with "Unknown pk algorithm : 3""
The following keys cannot be imported with error message "Unknown pk algorithm : 3"

This key:
http://keyserver.ubuntu.com/pks/lookup?search=0x864E1BDC5434509D&fingerprint=on&op=index
uses:
    public key algorithm: 3 (RSA (Sign-Only))

And this key:
http://keyserver.ubuntu.com/pks/lookup?search=0x1D02458D6890F8381B37471610720B1536BF3AED&fingerprint=on&op=index
contains a signature by the first ke

[2020-05-27 16:23] kaie commented on #1154
tracked by https://bugzilla.mozilla.org/show_bug.cgi?id=1641265

[2020-05-27 19:48] ni4 commented on #1154
@kaie I also got over this recently. We definitely should support such keys/sigs, at least for load/verification, not signature/key generation. Will fix this soon.

[2020-05-28 10:56] #1133 closed

[2020-05-28 10:56] #1134 closed

[2020-05-29 09:44] ni4 commented on #1134
@pbrunschwig @mkmelin This issue should be fixed since PR #1152 was merged. Could you please confirm this?

[2020-05-29 09:45] ni4 commented on #1133
@pbrunschwig Could you please check whether this fixed slowdowns you had?

[2020-05-29 10:53] kaie commented on #1134
@ni4 Building Thunderbird is a bigger task, and Patrick probably doesn't do it himself. I'm guessing that for testing, Patrick relies on the automatic nightly development builds that the Thunderbird project provides.

We don't pick up new RNP snapshots automatically, it's a manual process. @ni4 whenever you think you have made progress and now is a good time to pick up a new RNP snapshot, please l

[2020-05-29 10:56] kaie commented on #1134
If someone can point me to an example key that triggers the crash, I can try to test locally.

[2020-05-29 10:57] ni4 commented on #1134
@kaie Got it, I thought the integration process doesn't take much time/more automated. Then probably it worth to wait for a few days - so I will finish more issues with key import.
Btw, are we on schedule with the TB beta release/any other blocking issues?

[2020-05-29 10:59] ni4 commented on #1134
I added test with some keys which should expose the problem, just to confirm whether originally reported keys work well now.

[2020-05-29 11:32] kaie commented on #1134
We're considering to declare the TB OpenPGP support as experimental for a little longer, because we have some more work to do in TB's integration code, too. https://mail.mozilla.org/pipermail/tb-planning/2020-May/007627.html - so we have a little more time for RNP fixes.

Issue https://github.com/rnpgp/rnp/issues/1142 is very important. Ideally, while you're working on that, it would be very helpf

[2020-05-29 11:40] kaie commented on #1142
I wonder how additional attributes about the encryption could get obtained.

I think we should have a way query which ciphersuites were used to encrypt the message (public key and symmetric).

Should we use the same API to also provide this information, and use an integer as the output parameter, not a bool?

It could be used to query
"does have MDC" -> bool 0/1
"does have AEAD" -> bool 0/1
"is en

[2020-05-29 11:42] kaie commented on #1142
Another argument for not parsing the packet dump ourselves is, the JSON output format might not be guaranteed to be stable over time. A defined API seems more future safe.

[2020-05-29 11:54] ni4 commented on #1134
@kaie Great, thanks for the clarification.

[2020-05-29 11:55] kaie commented on #1142
Another idea to be even more flexible.

Two input parameters:
- string - the value being queried
- integer - an optional index being queried (e.g. recipient 5)

Two output parameters:
- integer (bool or number)
- string

Which output parameter is filled is decided by the implementation, based on the value being queried.

I don't know if this makes sense, or if we're rebuilding the flexibility of J

[2020-05-29 11:59] kaie commented on #1142
Actually, given that the tag numbers and algorithms identifiers are officially defined, maybe your original suggestion to look at the package dump makes sense after all. I'll think about it a bit more.

[2020-05-29 12:15] ni4 commented on #1142
@kaie We definitely should provide some easy interface to obtain this information, JSON output was proposed as the temporary solution/or solution for cases where more detailed information is needed. Also idea is to keep JSON output format the same, together with FFI interface. I.e. use rule 'new things could be added, old things should not be changed'.

What do you think about the following approa

[2020-05-29 15:38] kaie commented on #1142
If these are mutually exclusive, would a string return value better? It would avoid having to call the function multiple times.

'none' would indicate that no encryption layer was present?

Does OpenPGP define a way to use an encryption layer with a null cipher for testing? If yes, how would we distinguish that?

seems good overall

[2020-05-29 16:31] ni4 commented on #1142
All FFI calls return RNP_SUCCESS or error code, so this one should follow the same rule. And why would you need to call it multiple times? It would allocate memory itself (on success), like any other function, and there is only single possible result.

There is no null cipher in OpenPGP, but anyway we would be able to use string 'null' for that, for instance.

[2020-05-29 16:36] kaie commented on #1142
Sorry, I had missed that you defined rnp_op_verify_get_protection_mode uses two output parameters. (I had falsely assumed its one input and one output.)

[2020-05-30 10:05] #1103 closed

[2020-05-30 11:35] kaie commented on #915
Which Botan version should we use with latest RNP ? We're still at 2.13.0, should we update to 2.14.0 ?

[2020-05-30 11:43] ni4 commented on #915
@kaie While latest should be better, 2.14.0 had some problems with MinGW/thread pool (see the details here: https://github.com/rnpgp/rnp/issues/1104 ). Not sure whether this will affect your build. RNP itself will work the same way with both versions.

[2020-05-31 16:58] dewyatt commented on #1151
I'm going to end up doing this as part of https://github.com/rnpgp/rnp/issues/1135

[2020-05-31 17:48] dewyatt opened #1156 "Installed include directory and pkg-config library name are incorrect"
## Description

It was intended that users would use:

[code]

However, once installed, this will not work. We don't have tests to catch this. Our examples (which do correctly use `rnp/rnp.h`) build because our source tree does have `rnp/rnp.h`, but the installation does not.

Additionally the library name in the pkg-config file is no longer correct.

I have fixes for these and can get some things

[2020-06-01 10:39] rrrooommmaaa opened #1157 "Quoting parameters in"
## Description

This line may not be needed for Python 3 in `run_proc_windows` in `cli_common.py`:
[code]
as there is a similar function in `subprocess.py` named `list2cmdline` and it should be internally.

[2020-06-02 10:08] ni4 opened #1158 "Update set_rnp_log_switch() to allow logging fd."
## Description

Currently we are able to disable/enable logging. But it would be useful to be able to specify fd for logging output. That would allow to easily redirect log to file/pipe, and utilize this in tests and applications which use library.

[2020-06-02 10:25] ni4 commented on #1148
Update: This should also handle bad/unknown signatures and keys, so when new but yet unhandled packet contents are introduced those are not lost. Test `test_ffi_malformed_keys_import()` may be updated to check this case.

[2020-06-02 10:48] rrrooommmaaa commented on #1158
I can do this

[2020-06-02 11:12] ni4 commented on #1158
@rrrooommmaaa Thanks. But it is not of high priority right now.

[2020-06-03 14:51] lambdafu commented on #1142
Just an inconsequential side note: OpenPGP does specify a null cipher (see section 9.2 id 0 - "Plaintext or unencrypted data"), although I have never seen it supported in practice. If you try to decrypt such a packet with gpg, you get an error "Invalid cipher algorithm".

[2020-06-03 16:10] ni4 commented on #1134
@pbrunschwig Thanks for the update!

[2020-06-03 16:10] #1154 closed

[2020-06-03 16:10] #1145 closed

[2020-06-03 16:11] ni4 commented on #1154
@kaie As of current master branch this issue must be fixed.

[2020-06-03 16:12] ni4 commented on #1145
@kaie As of now there is an additional RNP_LOAD_SAVE_PERMISSIVE flag for `rnp_import_keys()`, which should skip bad sigs/keys and dump some more detailed debug output.

[2020-06-03 16:23] dewyatt commented on #1158
This is already available via `rnp_ffi_set_log_fd` for functions that use `FFI_LOG`, right? That was the original idea there, we just didn't update everything to use `FFI_LOG` yet.

[2020-06-03 18:25] ni4 commented on #1158
@dewyatt `FFI_LOG()` requires `rnp_ffi_t` instance, while `RNP_LOG` works on lower layers, where it will be unavailable. However, `rnp_ffi_set_log_fd()` could also set lower-layer global variable, what do you think about such approach?

[2020-06-03 18:27] ni4 commented on #1142
@lambdafu Thanks for the clarification. If that would ever required we may return 'null' instead of 'none' so such case may be checked by caller.

[2020-06-04 09:49] kaie commented on #1154
Thanks. I can import the first key.
The second key can be imported, too, but apparently, only partially. Looking at the imported key, no subkey is shown (only primary). Do you want to track that in a separate issue, or in here?

[2020-06-04 09:56] ni4 commented on #1154
@kaie Sorry, I missed links to the keys in the first message. Let me first check those out...

[2020-06-04 10:09] ni4 opened #1160 "Add rnpkeys --permissive command for key import."
## Description

As of PR #1159 we support 'permissive' key import in FFI, when only bad keys/signatures are skipped.
This feature should be added to the CLI as well.

[2020-06-04 12:45] ni4 commented on #1154
@kaie The problem there is too large ElGamal subkey size (it is 4096, while due to unknown reasons we were stick to 3076 as maximum). Will create a new issue and provide a fix.

[2020-06-04 12:46] ni4 opened #1161 "Support ElGamal keys larger then 3072 bits."
## Description

It appears that we are stick to 3072 bits as maximum ElGamal key size (code used largest DSA key constant), however there is no such limitation at the RFC and there are real-world ElGamal keys with at least 4096 bits of size.

Some more information is available here: https://github.com/rnpgp/rnp/issues/1154

[2020-06-04 21:15] kaie commented on #1145
Thanks. But if we import multiple keys at once, there's no output that says which key is failing. That makes it very difficult to diagnose, because you have no idea to which key an message refers to. I suggest to log the failing key ID to the console. I have a patch.

[2020-06-04 21:18] kaie opened #1162 "Log offending key ID on import failure"
If import of a key block with rnp_import_keys with many keys is failing (because some key in the middle causes the import to return with failure), then it's currently impossible to find out which key was the offending key.

I suggest to dump the key ID of the offending key next to the error log describing the failure.

[2020-06-04 21:18] kaie commented on #1145
Because this issue is closed, I've filed new https://github.com/rnpgp/rnp/issues/1162

[2020-06-04 21:20] kaie commented on #1162
Suggested patch:
https://gist.github.com/kaie/e87898c4a0de65569ab49e148fc26b25

Please let me know if you like the idea. Please feel free to take that gist and simply add it to your own patch or pull request, it always takes me a lot of work to fork/clean/push/pull-request.
But let me know if you want me to do that, and I will.

[2020-06-04 21:23] kaie commented on #1162
Ideally, it would be good it the API could also offer the application to obtain the failing key ID.

If I understand correctly, currently, if rnp_import_keys fails, the output json parameter is undefined (and you don't set it).

How about abusing that output string parameter, and simply set the output string failing to the hex key id (or fingerprint), without a json structure? Or, if you feel this

[2020-06-04 21:33] kaie opened #1163 "key 6E620C6562D66B3D causes rnp_import_keys to fail even with RNP_LOAD_SAVE_PERMISSIVE"
Call rnp_import_keys with key 6E620C6562D66B3D and RNP_LOAD_SAVE_PERMISSIVE, and the function doesn't ignore the key, but returns a failure.

This key doesn't seem to be on keyservers. I don't know from where I got it. I will send it to you by email.

[2020-06-04 21:46] kaie commented on #1162
tracking this at https://bugzilla.mozilla.org/show_bug.cgi?id=1637508

[2020-06-04 21:59] seamustuohy commented on #1119
The various features/issues reported by the Thunderbird team which are on your priority roadmap are part of a critical project for the groups that my community of security trainers support. Since the RNP roadmap is deeply tied into their success I wanted to ask what, if there was anything that we could do, that would be useful for the core RNP team? (i.e. try to rally some trusted developers in ou

[2020-06-05 08:47] ronaldtse commented on #1119
@seamustuohy thank you for the support and the offer!

We welcome any kind of contribution -- contributors, code, users/testers, donations, or even just spreading of word. Both ways you suggested: rallying contributors, donating to the project or to other developers, are all greatly appreciated.

There are a number of issues outside the current "TB-focused" roadmap that we won't have time to take

[2020-06-05 11:50] ni4 commented on #1163
This key has a bit strange structure, having two subkeys with the same key material, but with different creation time. Because of this those subkeys have different keyid/fingerprint but the same key grip (which doesn't include creation time into hash calculation).
And since internally all keys are distinguished by grip, this causes some inconsistency.
Need to think what would be the correct way of

[2020-06-05 12:04] ni4 opened #1164 "Allow more custom generated key bit selection in CLI"
## Description

Currently CLI even with `--expert` mode allows only more custom algorithm selection, without being able to pick key/subkey bits. At least for DSA/ElGamal - it picks the same subkey size as the primary key, causing inability to generate 4096 bit ElGamal subkey.

[2020-06-05 13:55] ni4 commented on #1162
@kaie Thanks, I also had suggestion that logging should be improved somehow. Updated it in #1166. I did it in slightly other way via define, so correct file name/line numbers will be printed.

Also will file separate issue to return errored key(s) fingerprints during import. Currently it is hard to implement quickly since would require a lot of internal code changes.

[2020-06-05 13:58] ni4 opened #1167 "Return information about errored keys from rnp_import_keys()"
## Description

Currently function returns JSON only with successfully imported keys, however doesn't tell anything about the keys which errored.
It should be updated, so user may know that now all keys were imported successfully.

Issue was separated from the #1162

[2020-06-06 09:22] #1161 closed

[2020-06-06 17:02] #1162 closed

[2020-06-06 23:29] kaie commented on #1162
Thanks for this improvement. However, when importing the (failing) key from issue https://github.com/rnpgp/rnp/issues/1163 then the key 6E620C6562D66B3D isn't printed (as with my original patch), it only prints the id of the failing subkey (00a117805ea58ed0).

I think it would be helpful to also print the primary key ID of the failing key.

[2020-06-08 08:11] pbrunschwig commented on #1133
Performance is much better now

[2020-06-08 09:41] rrrooommmaaa opened #1168 "`dst_flush` errors are not always tracked"
## Description

By looking at the code, I have strong suspicion that there are cases when errors during flushing data to disk from cached destinations are not tracked and it's hard if at all possible for the caller to know whether data was actually saved to disk.
This example in `stream-armor.cpp:1059`:
[code]
This means if flushing fails inside `dst_close`, the returned result is still `RNP_SUCCE

[2020-06-08 10:51] ni4 commented on #1162
@kaie I believed that it is possible to easily locate primary key via subkey's keyid. However it seems not an easy task, so updated dumping with PR #1169

[2020-06-08 10:52] ni4 commented on #1133
@pbrunschwig Thanks for confirming this!

[2020-06-08 11:15] ni4 commented on #1119
@seamustuohy Thanks! As for me, very valuable help would be with possible edge cases discovery - i.e. checking old and new messages/keys/signatures, different their combinations, issued by different implementations.

[2020-06-08 22:31] kaie commented on #1145
I'm trying to see the effect of RNP_LOAD_SAVE_PERMISSIVE.

Do you have an example key, which gets imported with RNP_LOAD_SAVE_PERMISSIVE, but which gets rejected without that flag? I couldn't find any.

[2020-06-09 09:09] ni4 commented on #1145
@kaie Together with RNP_LOAD_SAVE_PERMISSIVE, I fixed other loading issues, that's probably the reason. However there are manually modified keys with different errors in sig/key data, please see the `test_ffi_malformed_keys_import()` in ffi.cpp

[2020-06-09 10:05] kaie commented on #1145
Thanks @ni4 that is helpful and allowed me to test.

[2020-06-11 10:44] ni4 commented on #1142
@kaie Could you please check the function interface from PR #1170, whether it will give you enough information? It doesn't add function to retrieve recipient list and their properties - this would be added as a separate PR.

[2020-06-11 12:09] kaie commented on #1142
@ni4 Would it be possible to add another output parameter to rnp_op_verify_get_protection_info, in order to obtain the rnp_key_handle_t of the local secret key that was used to decrypt the message? (This would be a more reliable and direct way than the key unlock callback.) This could be used to learn which encryption mechanism was used to to transport the message key.

[2020-06-11 12:12] kaie commented on #1142
Alternatively, it could be a separate API. If you don't like the suggestion, or if want to think more about it, then in the meantime I can keep using the unlock callback to get that information.

[2020-06-11 12:18] kaie commented on #1142
IIUC, the "mode" parameter tells us, which mechanism the message intended to use. And parameter "valid" tells us, if that mechanism was successfully used, or if the related checks failed. Because there aren't any checks for mechanism "cfb", you want to always return "false" for cfb.

That seems fine.

Now I have an additional idea. Instead of returning the key handle for the related secret key, yo

[2020-06-11 12:24] ni4 commented on #1142
@kaie

This functionality is planned in the next PR I mentioned - something like `get_recipient_count()/get_recipient_at()/get_used_recipient()/get_recipient_protection_info()`.

Returning only the information about the key, used during decryption, is not enough from the security perspective. Say, message can be encrypted to 4096-bit RSA key, but it is also encrypted to the 512-bit old RSA key, or

[2020-06-11 12:27] kaie commented on #1142
Ok, makes sense.
So let's postpone that for now.
The suggested API in PR 1170 seems fine to me.
Thanks

[2020-06-13 07:49] #1142 closed

[2020-06-14 17:13] antonsviridenko commented on #1153
I can take this one

[2020-06-15 08:37] ni4 commented on #1153
@antonsviridenko You are welcome. Also you may be interested in #1160 .

[2020-06-15 20:51] kaie opened #1171 "crash reports"
We should discuss how to best submit crash reports to you.

Thunderbird is using an automated crash reporting system, and details of crashes can be seen on the crash-stats server.

Wayne told me about two crashes that occurred with RNP. They were with a TB 78 beta build with build date 2020-06-11 - that was still using an RNP snapshot from 2020-05-30.

Here are the links to the two crashes, which

[2020-06-16 08:27] ni4 commented on #1171
@kaie Thanks for the reports, will take a look. At first glance those crashes looks a bit strange.

I think we still would need to create at least issues with links to bugzilla here, to keep track of closed issues/progress. But anyway I created account at Bugzilla: https://bugzilla.mozilla.org/user_profile?user_id=665047
Feel free to CC to it on rnp-related issues.

[2020-06-17 13:19] #1156 closed

[2020-06-17 13:21] ni4 commented on #1151
Closing as it was fixed in #1173

[2020-06-17 13:21] #1151 closed

[2020-06-18 13:43] ronaldtse commented on #878
Yes please, sorry @ni4 for missing this.

[2020-06-18 13:43] #878 closed

[2020-06-19 14:19] #1171 closed

[2020-06-19 14:26] #1107 closed

[2020-06-22 13:57] wodry commented on #1006
A completely stripped(minimal) public key is needed to send it in the header of an [Autocrypt](https://autocrypt.org/level1.html#openpgp-based-key-data) supporting email.

[2020-06-24 22:13] kaie commented on #915
@ni4 When using rnp_key_get_signature_at to obtain a rnp_signature_handle_t - is it possible to ask RNP to verify that signature, and obtain the status of that signature verification? I cannot find an API for that, so I suspect that currently it isn't possible?

[2020-06-24 22:32] kaie commented on #915
Actually, my question is about rnp_uid_get_signature_at

[2020-06-24 22:35] kaie commented on #915
... or ... will rnp_uid_get_signature_count and rnp_uid_get_signature_at give just the subset of signatures that RNP considers valid?

[2020-06-25 08:58] ni4 commented on #915
@kaie Unfortunately there is no such API yet. Currently all signatures are returned, and there is no way to validate those.
Such API for userids is a part of issue #1022. Also it is logical to add function `rnp_key_is_valid()`.
Is this of high priority?

[2020-06-25 10:59] kaie commented on #915
@ni4 Thanks for the confirmation. I had intended to implement code that automatically accepts another public key as "ok to use", if it carries a signature from the user's own key (when migrating key ring from gnupg into TB). But if we cannot currently verify that the signatures are correct, we shouldn't rely on that signatures. We'll use the approach to require the user to manually mark a key as "

[2020-06-25 11:15] ni4 commented on #915
@kaie Got it. Yeah, this functionality is must have and will be put in queue.

[2020-06-25 15:18] ni4 opened #1180 "Improve key search performance."
## Description

Currently key search iterates over the whole keyring, making it linear complexity, which could be a bit slow for large keyrings.
This could be optimized by adding multimap with each key identifier type (keyid, grip, userid), and searching via it.

Note: should not be started before PR #1179 is merged as it updates key search as well.

[2020-06-25 17:31] kaie opened #1181 "Memory overhead for in-memory keyring is > factor 130"
I have a migrated keyring from GnuPG, which has 980 public keys in it.
Size of the file on disk is: 53 MB

In Thunderbird I'd like to load the keyring once using rnp_load_keys and keep it in memory, and work with is as necessary.

However, RNP requires a lot of additional memory to hold those keys.

I've compared loading the keyring, with the application's memory footprint when not loading it. Wit

[2020-06-25 17:33] kaie commented on #1181
May keys contain compressed data? Could I have poisoned keys, downloaded from keyservers, which are bloated?

[2020-06-25 17:59] kaie commented on #1181
Using https://tech.michaelaltfield.net/2019/07/14/mitigating-poisoned-pgp-certificates/ for analysis, I don't seem to have poisoned keys. The largest key is 2047355 bytes, and it doesn't have a poison-like peak of signatures on a given date. Most is 280. Probably someone having attended key signing parties.

[2020-06-25 18:13] ni4 commented on #1181
@kaie Thanks for reporting, I see the comparable behavior when loading the huge keyring. We should not have such significant memory leaks since all tests are also run with allocation/memory sanitizers.

Most likely it is related to large memory overhead on C unions, used to store signature/signature subpacket/key info.
Since it was originally C code, instead of dynamic allocation we used staticall

[2020-06-29 11:35] #1135 closed

[2020-06-30 16:00] kaie opened #1183 "Clarify documentation for rnp_key_set_expiration"
The documentation for rnp_key_set_expiration says that if the key is locked, it may call the password retrieval callback.

In my testing, the callback wasn't called, and the function failed.
It was necessary to call rnp_key_unlock before calling rnp_key_set_expiration.

[2020-06-30 16:47] kaie commented on #1183
I'm running into some unexpected behavior.

(1) Given a key that has already expired. I'm calling the API and request a new expiry of 2 days (2*86400 seconds). The function completes. However, the new expiration isn't the date. Rather, the new value is zero - never expire.

(2) given a key that is currently set to never expire. I'm calling the API to change the expiry to a specific day, I'm again

[2020-06-30 17:01] kaie commented on #1183
On the positive side, if an existing key is not expired, and has a specific expiry date currently set, then using the API to set a new expiration date works.

[2020-06-30 17:30] ni4 commented on #1183
Thanks, this was somehow missed, needs fixing.

Hm, will check these, should be working. Probably something with marking keys/signatures as valid/invalid.
Thanks for reporting!

[2020-07-01 09:01] ni4 opened #1184 "Refactor code to use the single name for the same objects/variables."
## Description

Internally in code we use different spelling for the same objects, like:
- keyid, key_id, id
- fingerprint, fprint, fpr, fp
- grip - luckily this one has single spelling, but still we may use key_grip or keygrip.
- keyring, keystore.

It would be good at some point to define the single spelling of all of these (and probably other) items, so code looks more consistent.

[2020-07-01 14:49] ni4 commented on #1183
@kaie Most likely the reason of (1) and (2) is a too short key expiration time - it is actually calculated not from the current time, but from the key creation time. So afterwards certification signature is considered as invalid (since was made by the expired key), so key expiration time defaults to 0. Also in this case key will be marked as invalid.

This definitely needs to be reflected in docum

[2020-07-01 19:33] kaie commented on #1183
@ni4 Thank you for the clarification, I indeed had a bug in the calculation of the new expiration value, and had used small value.

But there's still a bug there, here's my scenario:
* I have a key that already expired
* now = "current unix epoch date".
* currentKeyAge = now - keyCreationDateSeconds
* newExpiryDate = currentKeyAge + (2 * 30 * 24 * 60 * 60) // approx. 2 months in the future from to

[2020-07-01 19:36] kaie commented on #1183
This only happens if the key has already expired.
It works correctly, when changing the expiration date of a not-yet-expired key.

[2020-07-02 09:32] ni4 opened #1185 "Warning: direct access ... to global weak symbol."
## Description

As of PR #1182 the following warnings are generate during compilation (at least) on macOS:

[code]

[2020-07-02 11:41] rrrooommmaaa opened #1186 "Introduce shortcut function to search by `pgp_key_search_t` locator in both `pubring` and `secring`"
## Description

We have `rnp_locate_key()` function that takes string-encoded search parameters to search in both `ffi->pubring` and `ffi->secring` and we have `rnp_key_store_search()` that takes `pgp_key_search_t` locator object to search in a single key store.
Thus, we sometimes hex-encode data for search (e.g. `rnp_key_get_subkey_at`) to supply the encoded search parameters to `rnp_locate_key`

[2020-07-02 11:45] #1163 closed

[2020-07-02 18:53] kaie opened #1188 "rnp_guess_contents reports "public key" for a revocation signature file"
Given the provided file, rnp_guess_contents returns "public key".
I'd expect it to report "signature".

[2020-07-02 18:53] kaie commented on #1188
[code]

[2020-07-02 19:07] ni4 commented on #1188
Related issue #1065, I also noticed this during work with key revocations.
Currently we check only armor headers, while should check contents as well.

[2020-07-03 04:44] ronaldtse opened #1189 "Implement Code of Conduct and community guidelines"
## Description

MOSS describes an exemplary structure for community engagement based on:
https://github.com/mozilla/diversity/blob/master/evaluation_tools/governance-basic.md

We should adopt these practices to encourage participation, and provide a good community page like:
https://github.com/firefox-devtools/debugger/blob/aa827095d86475f816017ff35d6f9c2e83cf7b9b/docs/community-team.md

[2020-07-03 16:36] kaie opened #1191 "rnp_op_verify_execute should process a literal packet (tag 11)"
I need support for a scenario, which is fixed by removing the following check, which prevents the processing of unexpected literal data.

[code]

The scenario uses a combination of RNP and GnuPG for decoding a message. The message is encrypted, the secret key is on a smartcard. We detect that RNP and its keys cannot decrypt the message. We try to use GnuPG to decrypt the message.

However, we don'

[2020-07-03 18:08] ni4 commented on #1191
@kaie Thanks for reporting, actually didn't thought that this functionality will ever be needed. Will need some time to think about the best way of implementing this, most likely just removing mentioned checks should work well.

[2020-07-06 13:36] ni4 commented on #1191
Closing as it was fixed in PR #1193

[2020-07-06 13:36] #1191 closed

[2020-07-06 13:42] ni4 opened #1194 "Add FFI functions to validate key/userid signatures."
## Description

We need to have functions which allows to:
- get key/userid signatures validity and validation status
- validate signatures if those were not validated yet

See https://github.com/rnpgp/rnp/issues/915#issuecomment-649101040 for more details.

[2020-07-07 10:42] kaie opened #1196 "/usr/bin/ld: cannot find -lval-NOTFOUND"
When building the snapshot from 2020-07-06 locally on Linux, I get this error:
[code]

cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/usr/local/botan-rnp-shared -DBUILD_SHARED_LIBS=on -DBUILD_TESTING=off ../rnp

[2020-07-07 13:01] dewyatt commented on #1196
What distribution+version and what version of cmake?

[2020-07-07 13:15] kaie commented on #1196
debian 10 on qubes

cmake version 3.13.4

[2020-07-07 13:22] dewyatt commented on #1196
Confirmed build issue, taking a look

[2020-07-07 13:34] dewyatt commented on #1196
Ok I should have a fix for this shortly

[2020-07-07 16:24] #1183 closed

[2020-07-07 16:30] rrrooommmaaa opened #1197 "Simplify `rnp_dearmor_source`"
## Description

As per discussion in PR #1177

[2020-07-07 17:56] #1099 closed

[2020-07-07 18:01] kaie commented on #1196
Ok, thanks for the hint. cmake version 3.16.3 was available in the debian buster backports repository. That works for me.

[2020-07-09 04:46] ronaldtse opened #1199 "Update Fuzzer section of `develop.adoc` due to #1195"
From @ni4 :

[2020-07-12 10:37] kaie opened #1200 "Provide new API to obtain the revocation date or revocation signature"
I need the ability to obtain the date on which a key was revoked.

I can think of two alternatives, either a specific new API rnp_key_get_revocation_reason that returns a timestamp.

Alternatively, a more general API that uses rnp_key_get_signature_at, and then a new function that returns the signature type, like rnp_signature_get_type(rnp_signature_handle_t), then the application code loop the si

[2020-07-12 10:47] ni4 commented on #1200
@kaie Probably, the easiest way would be to add function `rnp_key_get_revocation_signature()`, to be safer in case of multiple revocation signatures/fake ones/whatever else, leaving the revocation detection logic to this library.

[2020-07-12 11:08] kaie commented on #1200
good idea!

[2020-07-12 11:30] kaie commented on #1200
cross link: https://bugzilla.mozilla.org/show_bug.cgi?id=1652312

[2020-07-13 00:00] antonsviridenko opened #1201 "Duplicated function `test_rnp_list_packets` in CLI tests"
## Description

Function `test_rnp_list_packets` is defined twice in the same class 'Misc'.

## Steps to Reproduce

1. https://github.com/rnpgp/rnp/blob/master/src/tests/cli_tests.py#L1536
2. https://github.com/rnpgp/rnp/blob/master/src/tests/cli_tests.py#L1611

## Expected Behavior

I think that second instance of this function was intended to have some different name and it was duplicated by mis

[2020-07-13 09:06] ni4 commented on #1201
Yeah, second one should be named like `test_rnp_list_packets_edge_cases()`.

[2020-07-13 09:59] #1196 closed

[2020-07-14 09:14] ni4 opened #1204 "CLI: Inform user that validated signature is not detached"
## Description

If we have file `message.txt`, and right to it `message.txt.sig`, which contains embedded OpenPGP data with valid signature, then issuing `rnp -v message.txt.sig` will tell about the good signature.
However, this could make user think that he just validated detached signature of `message.txt`, which is wrong.

[2020-07-15 08:16] #1201 closed

[2020-07-17 23:51] kaie opened #1208 "Failure to process a message with an Armor Header line longer than 64 chars"
If a message contains an Armor Header line that is longer than 64 characters, RNP will abort processing the message.

RFC 4880 section 6.2 says:
"there is no limit to the length of Armor Headers"

There is a bug in src_peek_line.
It attempts to obtain pieces of at most 64 bytes by calling src_peek.
Each time it will use the next offset for the destination buffer.

However, src_peek will always sta

[2020-07-17 23:52] kaie commented on #1208
Please provide a failsafe handling of Armor header lines.
If there is any problem with these header lines, I suggest to ignore them silently.

This is a blocker bug. We have a Thunderbird user who cannot read any emails because of this issue.

[2020-07-17 23:52] kaie commented on #1208
https://bugzilla.mozilla.org/show_bug.cgi?id=1653651

[2020-07-18 00:19] kaie commented on #1208
I'd like to work on a hotfix.

src_peek is called from many places, so extending the parameter list with an offset for the seek isn't an option for a minimal hotfix.

We can use src_peek if we accept that each iteration attempt copies from the beginning.

I'll attach a possible hotfix patch in bugzilla.

[2020-07-18 01:47] ronaldtse commented on #1208
@kaie thanks for reporting. @ni4 @dewyatt @rrrooommmaaa anyone have time for a hotfix? Thanks!

[2020-07-18 05:42] tomrittervg commented on #1199
I think we should change -DENABLE_FUZZING to -DENABLE_FUZZERS also.

[2020-07-18 08:10] ni4 commented on #1208
@kaie Thanks for reporting, looks like this case is not covered with tests. @ronaldtse  I'll provide a fix soon.

[2020-07-18 08:28] ni4 commented on #1141
As per RFC the recommended handling of this is as following:
`Care should be taken that the Armor Headers are short enough to
   survive transport.  One way to do this is to repeat an Armor Header
   Key multiple times with different values for each so that no one line
   is overly long.`
Actually, this fail is not because of double comment line but because one of those is too long. Will be fixed

[2020-07-20 08:12] ni4 commented on #1006
@wodry Thanks for clarification. Since global signature stripping is way more complicated I added function `rnp_key_export_autocrypt()`, which now is merged and should do the job.
CC @kaie

Not closing this since it is only partially implemented.

[2020-07-20 10:12] kaie commented on #1006
Thanks.
Does this API allow exporting of the regular BEGIN PGP PUBLIC KEY BLOCK file format?

Note that my motivation isn't just autocrypt.
I'd like to be compatible with email clients that don't support autocrypt, too.
For that reason, I'd like to attach the sender's key in the regular public key format, too.

Because we'd like to encourage the user to always attach their own key in the regular f

[2020-07-20 11:32] teythoon opened #1209 "Please allow the creation of unprotected keys"
## Description

We test RNP as part of the OpenPGP Interoperability Test Suite (https://tests.sequoia-pgp.org/) which includes a test to create keys.  `rnpkeys` used to be able to create keys with unprotected (sub)keys, but now it refuses to do so.  This means that we currently cannot create keys with RNP in our test suite.

(The technical reason for that is that the common interface that we use t

[2020-07-20 12:20] ni4 commented on #1006
@kaie Currently it exports key only in binary format, since autocrypt required raw base64-encoding, which should be applied on top. However, you may easily enarmor it using the `rnp_output_to_armor()` function.
Anyway, exported key would be in regular format, however:
 - it would use only a single userid (which may be a benefit, once user do not want to share other e-mails).
 - it would pick only

[2020-07-20 12:40] kaie commented on #1006
Thanks for the explanation!
I assume the uid must be a full match.

I'll have to try this a bit later. Thunderbird could do a check if the key follows these requirements. If it's a simple key (which is what Thunderbird creates itself), and it isn't an imported key with a more complex structure, then we could automatically make use of this possibility.

Exporting binary and using enarmor works for

[2020-07-20 12:41] teythoon opened #1211 "Unbounded recursion when decrypting messages leading to unbounded allocation"
## Description

Looking at https://tests.sequoia-pgp.org/#Maximum_recursion_depth suggested that RNP does not constrain the recursion when processing messages (or it has a very high limit).  And indeed, processing a PGP compression quine leads to unbounded memory allocation.

## Steps to Reproduce

1. Download https://gitlab.com/sequoia-pgp/sequoia/-/raw/master/openpgp/tests/data/messages/compress

[2020-07-20 12:59] teythoon commented on #1018
We'd like to invite you to join our testing effort.  The OpenPGP Interoperability Test Suite allows us to write tests once, and test any number of OpenPGP implementations at the same time with no additional effort.  The results and pointers to the code are here: https://tests.sequoia-pgp.org/

Currently, there is a custom driver for RNP in the test suite.  RNP was one of the first implementations

[2020-07-21 13:55] #1141 closed

[2020-07-21 13:55] #1208 closed

[2020-07-22 11:32] ni4 opened #1214 "Add FFI function to retrieve key validity time."
## Description

Key/subkey validity time may depend on different signatures: certifications (and their revocations), direct-key signatures, key revocations, and so on.
This logic should be implemented into the single function, so user may understand whether he should believe, for instance, to the message, signed 2 years ago with the key which expired 1 year ago (or 3 years).

[2020-07-22 11:40] ni4 opened #1215 "Add FFI functions to revoke certifications"
## Description

Currently we do not have functionality to revoke previously issued certifications.

[2020-07-22 14:23] #839 closed

[2020-07-23 08:51] ni4 commented on #1211
@teythoon Thanks for reporting, we'll provide a fix. While nested compressed messages are not denied by the RFC 4880, logically it doesn't have any sense. So probably it would be more correct to throw an error after the first nested compressed packet.

[2020-07-23 08:57] teythoon commented on #1211
The same problem applies to nested encryption containers, which do make sense.  The underlying problem is recursion depth.

[2020-07-23 20:12] kaie opened #1217 "cannot import the result of gpg --export-secret-subkeys"
We received a request to support a configuration that uses an offline primary key.
We don't need to support generating such a scenario.
However, we want to support a scenario, in which the user uses gnupg to create their keys, and then imports all public keys, and then imports the secret keys of all subkeys, but not the secret key of the primary key.

Procedure used:
gpg --full-gen-key
select 4 (r

[2020-07-24 02:58] dewyatt commented on #1217
Sounds like we should bump the priority of https://github.com/rnpgp/rnp/issues/1147 up

[2020-07-24 10:00] ni4 commented on #1217
@dewyatt Agree. I'll handle these, it should not be hard to parse this custom s2k. The only question is whether rnp will be okay with secret key without secret data.

[2020-07-29 08:42] teythoon commented on #1211
I'd like to raise the severity of this issue.  This is a trivially exploitable DOS with nasty consequences (the system starts trashing and gets unresponsive as a result).  Yet, #1217 which was reported later got a higher priority.

[2020-07-29 11:59] #1153 closed

[2020-07-29 12:17] #1147 closed

[2020-07-29 21:01] kaie opened #1226 "RNP reports wrong lbits, invalid key, bad signature for key"
Originally reported here:
https://thunderbird.topicbox.com/groups/e2ee/T0eb771b4b83e55f4/possible-bug

I'll provide the reduced input below:

Fetch this key:
https://keys.openpgp.org/search?q=8FA94E79AD6AB56EE38CE5CBAC46EFE6DE500B3E

I'll attach a msg.eml file and a msg.eml.asc file.

"gpg --verify msg.eml.asc" reports a good signature

"rnp --verify" reports:

[signature_validate() /home/user/git

[2020-07-29 21:02] kaie commented on #1226
[msg.eml.zip](https://github.com/rnpgp/rnp/files/4997460/msg.eml.zip)

[2020-07-29 22:45] kaie commented on #1217
It's not yet fully working as expected.

I can import the subkeys. (I use a temp FFI handle.)

For the primary key, rnp_key_have_secret returns true. Shouldn't it return false?

Calling rnp_key_unprotect returns RNP_ERROR_BAD_PASSWORD, that might be ideal either, I'd rather expect something like RNP_ERROR_KEY_NOT_FOUND.

[2020-07-29 22:47] kaie commented on #1217
On the console I see
[decrypt_secret_key() /home/user/moz/comm-esr78/mozilla/comm/third_party/rnp/src/librepgp/stream-key.cpp:1325] No secret key data

[2020-07-30 06:46] nwalfield commented on #1226
I checked this against Sequoia and we also can't verify this message:

[code]

Looking at the signature:

[code]

It appears to be an ASCII signature, not a binary signature.  According to the [RFC](https://tools.ietf.org/html/rfc4880#section-5.2.1), the line endings need to be normalized to crlf.  msg.eml, however, just uses cr (0xa) as line endings.  Using `unix2dos` to convert the line endings,

[2020-07-30 11:28] ni4 commented on #1226
@kaie Thanks for reporting, and thanks for investigations, @nwalfield

Within rnp case goes little more forward:
- email is signed by the subkey instead of the primary key
- the latest subkey binding's embedded signature (i.e. primary key binding signature) uses SHA1 hash, while subkey binding uses SHA512. Don't know why but rnp suggests that both uses the same hash algorithm. Because of this subk

[2020-07-30 11:36] ni4 commented on #1217
@kaie Yeah, looks like we should also provide some algorithm to check whether secret key data is available, and update code for default key selection during signing (so in this case signing subkey will be used).
All underlying code based on bool returns, so that's why `RNP_ERROR_BAD_PASSWORD` default assumption is made.
Needs some time to think how to correctly update this, without breaking the ot

[2020-07-30 11:58] kaie commented on #1217
I currently use the following strategy for importing secret keys:

* import it into a fresh temporary FFI. This way, if anything goes wrong, we don't taint our primary key store.
* we use the temporary FFI to create a preview of the available data, show the preview to the user, and only if the user accepts we will import into the permanent space
* we don't allow individual password protection in o

[2020-07-30 13:17] nwalfield commented on #1226
Here's the output of `sq inspect` on the key:

[code]

- The primary key is not marked signing-capable by the active binding signature, but the subkey is.  The Issuer subpacket correctly identifies the subkey.

- It's not uncommon when updating a signature to use the existing signature as a template.  Apparently, GnuPG doesn't generate a new backsig when doing so.  I would argue that this is proba

[2020-07-30 14:02] teythoon commented on #1226
Test for linebreak normalization: https://tests.sequoia-pgp.org/#Detached_signatures__Linebreak_normalization

[2020-07-31 09:29] ni4 opened #1228 "Normalize line endings for text signatures validation."
## Description

It appears that we do not normalize line endings for text-mode signatures (while this is implemented for cleartext signatures).

[2020-07-31 09:29] ni4 commented on #1228
Related issue: #1226

[2020-08-03 20:46] ni4 commented on #1181
@kaie PR #1207 with memory-related improvements is merged, so could you please check, once you have time, whether loading of huge keyring doesn't consume a lot of memory now? In my tests on macOS, keyring which used to occupy 2-3Gb, now takes 150-170Mb of memory.

[2020-08-04 08:58] teythoon opened #1234 "Unknown notations with the "critical" bit set SHOULD invalidate the signature"
## Description

Unknown notations with the "critical" bit set SHOULD invalidate
the signature.  This ensures that we can introduce notations that
constrain the validity of the signature, and have implementations
that do not yet support the new constraint err on the side of
caution and reject the signature rather than accepting it
disobeying the constraint.

https://tools.ietf.org/html/rfc4880#sect

[2020-08-04 11:21] ronaldtse opened #1235 "Coverity CID 1431122: Memory - corruptions (OVERRUN)"
** CID 1431122:  Memory - corruptions  (OVERRUN)
/src/librepgp/stream-key.cpp: 259 in transferable_key_add_userid(pgp_transferable_key_t &, const char *)()

________________________________________________________________________________________________________
*** CID 1431122:  Memory - corruptions  (OVERRUN)
/src/librepgp/stream-key.cpp: 259 in transferable_key_add_userid(pgp_transferable_key_t

[2020-08-04 11:21] ronaldtse opened #1236 "Coverity CID 1431121: Uninitialized members (UNINIT_CTOR)"
** CID 1431121:  Uninitialized members  (UNINIT_CTOR)
/src/lib/types.h: 317 in pgp_signature_t::pgp_signature_t()()

________________________________________________________________________________________________________
*** CID 1431121:  Uninitialized members  (UNINIT_CTOR)
/src/lib/types.h: 317 in pgp_signature_t::pgp_signature_t()()
311         uint32_t     creation_time;
312         pgp_key_i

[2020-08-04 11:22] ronaldtse opened #1237 "Coverity CID 1431120: Uninitialized members (UNINIT_CTOR)"
** CID 1431120:  Uninitialized members  (UNINIT_CTOR)
/src/librepgp/stream-key.cpp: 1435 in pgp_transferable_subkey_t::pgp_transferable_subkey_t(const pgp_transferable_subkey_t&)()

________________________________________________________________________________________________________
*** CID 1431120:  Uninitialized members  (UNINIT_CTOR)
/src/librepgp/stream-key.cpp: 1435 in pgp_transferable_sub

[2020-08-04 11:22] ronaldtse opened #1238 "Coverity CID 1431119: Insecure data handling (TAINTED_SCALAR)"
** CID 1431119:  Insecure data handling  (TAINTED_SCALAR)
/src/librepgp/stream-packet.cpp: 1437 in signature_parse_subpacket(pgp_sig_subpkt_t &)()

________________________________________________________________________________________________________
*** CID 1431119:  Insecure data handling  (TAINTED_SCALAR)
/src/librepgp/stream-packet.cpp: 1437 in signature_parse_subpacket(pgp_sig_subpkt_t &)()

[2020-08-04 11:22] ronaldtse opened #1239 "Coverity CID 1431118: Memory - illegal accesses (USE_AFTER_FREE)"
** CID 1431118:  Memory - illegal accesses  (USE_AFTER_FREE)
/src/tests/ffi.cpp: 9555 in rnp_tests_test_ffi_key_import_gpg_s2k_Test::TestBody()()

________________________________________________________________________________________________________
*** CID 1431118:  Memory - illegal accesses  (USE_AFTER_FREE)
/src/tests/ffi.cpp: 9555 in rnp_tests_test_ffi_key_import_gpg_s2k_Test::TestBody()()
9

[2020-08-04 11:23] ronaldtse opened #1240 "Coverity CID 1431117: Uninitialized members (UNINIT_CTOR)"
** CID 1431117:  Uninitialized members  (UNINIT_CTOR)
/src/librepgp/stream-sig.cpp: 1230 in pgp_sig_subpkt_t::pgp_sig_subpkt_t()()

________________________________________________________________________________________________________
*** CID 1431117:  Uninitialized members  (UNINIT_CTOR)
/src/librepgp/stream-sig.cpp: 1230 in pgp_sig_subpkt_t::pgp_sig_subpkt_t()()
1224
1225     pgp_sig_subpkt_t: