[2020-08-04 11:59] kaie commented on #1226
cross link: https://bugzilla.mozilla.org/show_bug.cgi?id=1657094

[2020-08-05 09:19] ni4 opened #1242 "Check whether rnp correctly works with multiple encrypted-signed layers."
## Description

While PR #1241 checks the case with multiple encrypted layers, we should also check the case with interleaved encrypted-signed-encrypted-signed layers.

[2020-08-05 09:23] nwalfield commented on #1242
We've already written some tests for this.  You can see rnp's performance here: https://tests.sequoia-pgp.org/#Unusual_Message_Structure .  Feel free to reuse the artifacts for your own testing purposes.

[2020-08-06 02:39] #1211 closed

[2020-08-06 02:42] #1236 closed

[2020-08-06 02:42] #1237 closed

[2020-08-06 02:42] #1240 closed

[2020-08-06 08:16] kaie commented on #1181
Thanks, that's a very good improvement.

[2020-08-06 10:30] teythoon commented on #1211
I have a follow-up question, if I may.  I have inspected your test vector ("message.zlib-quine"), and it is different from our quine and the quine that Taylor offers for download:

[code]

While working on our parser, I noticed that Taylor's original quine had a bug:  The framing information was off.  This is the patch I sent him, which he applied to the quine generator's source, but he didn't reg

[2020-08-06 11:24] ni4 commented on #1211
@teythoon Yeah, I slightly modified the sample to not include the trailer. Actually, the main idea of this test is to make sure that RNP stops processing at some point on such quine.

In Sequoia - do you first process the outer compressed packet, decompressing the whole, and then process it's contents?

[2020-08-06 11:38] teythoon commented on #1211
What do you mean by trailer?  Also, what motivated the change?

We do it in a streaming fashion, but logically that is exactly what we do.

[2020-08-06 18:54] kaie opened #1244 "Windows build error, call to deleted constructor of 'pgp_transferable_userid_t'"
I tried to build the snapshot from end-of-day 2020-08-03.
Building as part of Thunderbird for Windows results in the following build error:

[code]

[2020-08-06 19:22] rrrooommmaaa commented on #1244
I also have this error when trying to build with MSC compiler (#997)
Perhaps, it's more stringent than GNU's

[2020-08-06 19:44] ni4 commented on #1244
That's why we should definitely have workflow which copies TB build steps. I'll take a look tomorrow, at the moment it looks a bit mystic. This could be related but not sure yet: https://stackoverflow.com/questions/53168836/does-visual-studio-2017-need-an-explicit-move-constructor-declaration

[2020-08-07 01:36] ronaldtse opened #1245 "Coverity CID 1431129: Error handling issues (CHECKED_RETURN)"
[code]

[2020-08-07 01:36] ronaldtse opened #1246 "Coverity CID 1428747: Memory - illegal accesses (USE_AFTER_FREE)"
[code]

[2020-08-07 01:37] ronaldtse commented on #1235
Fixed, thanks @ni4 !

[2020-08-07 01:37] #1235 closed

[2020-08-07 01:37] ronaldtse commented on #1239
Fixed.

[2020-08-07 01:37] #1239 closed

[2020-08-07 01:37] ronaldtse commented on #1238
Fixed.

[2020-08-07 01:37] #1238 closed

[2020-08-07 09:24] ronaldtse commented on #1181
@kaie now that #1207 is merged the problem seems to have gone away. Could we close this? Thanks!

[2020-08-07 09:26] ni4 commented on #1211
This one: `const uint8_t tail[] = { 0 };`. It was causing warning that there is data beyond the zlib stream.

In RNP we do not read the whole zlib stream before creating the next layer object (so we have constant memory footprint, independent from the input size), this could be the reason of different behavior.

[2020-08-07 10:28] teythoon opened #1247 "Expiration of primary key binding signatures is not honored"
## Description

RNP does not honor the expiration time on primary key binding
signatures.

Relevant test: https://tests.sequoia-pgp.org/#Primary_key_binding_signatures

## Steps to Reproduce

This is a signature over the string "Hello World :)":

[code]

Made by the subkey of this certificate:

[code]

## Expected Behavior

The signature is rejected because the subkey's binding signature contains

[2020-08-07 15:08] ni4 commented on #1217
@kaie Could please check the following additions to the FFI API: https://github.com/rnpgp/rnp/pull/1248/files#diff-3acb1faab911581f76591fac05ba92fd (especially function `rnp_key_get_protection_type()`).

Would these be enough for you to recognize case where actual secret key data is absent?

[2020-08-07 19:32] tomrittervg opened #1249 "OSS-Fuzz build broken: error: static_assert failed due to requirement '__is_cpp17_move_insertable"
The OSS-Fuzz build is breaking, since Aug 4th. Normally they file a breakage bug, I'm not sure why they didn't this time, I filed https://github.com/google/oss-fuzz/issues/4278 to ask.

The error is:

[code]

The problem is that when compiling with clang, it uses gcc's libc++ by default. However in the oss-fuzz container, they specify `-stdlib=libc++` as a compile flag; which causes llvm's libc++

[2020-08-07 19:46] ni4 commented on #1249
@tomrittervg Thanks for spending your time one investigating this. It should be definitely related to #1244 and looks like the easiest way to solve it (despite it is not reflected in CI yet) is to implement move constructor for `pgp_transferable_userid_t`. I'll make a PR soon.

[2020-08-07 19:55] ni4 commented on #1249
@tomrittervg  Could you please quick-check whether this PR fixes an issue: https://github.com/rnpgp/rnp/pull/1250/files ?

[2020-08-07 19:56] ni4 commented on #1244
@rrrooommmaaa @kaie Does this patch helps on this issue: https://github.com/rnpgp/rnp/pull/1250/files ?

[2020-08-07 20:03] tomrittervg commented on #1249
@ni4 It does!

[2020-08-07 20:05] kaie commented on #1244
I've started a test build to check it:
https://treeherder.mozilla.org/#/jobs?repo=try-comm-central&revision=da01a700bb6f3519b57f66693727caa6874ee195

[2020-08-07 20:07] ni4 commented on #1249
@tomrittervg Great, thanks for confirming!

[2020-08-07 21:06] kaie commented on #1244
The windows build passed!

Can you suggest how Thunderbird should pick up this fix?
Do you want TB to update to a newer snapshot that includes this fix?

Or is it time to consider a stable branch, based on the 2020-08-03 baseline, plus fixes?

[2020-08-07 21:11] ni4 commented on #1244
Great! We had some PRs merged since 08-03, and those are mostly about bug fixing. If this doesn't interfere with audit I'd suggest to pick all of those commits, if it does - then just put this fix on top of 08-03, and delay picking up other commits till audit is finished.

[2020-08-07 21:16] kaie commented on #1244
who should make that decision? (interfere or doesn't interfere)

[2020-08-07 21:17] kaie commented on #1244
I've started a build for linux/macos, just to doublecheck this change builds on those platforms, too.
https://treeherder.mozilla.org/#/jobs?repo=try-comm-central&revision=357a973452230c31ab19fa9ac2448074a734d49b

[2020-08-07 21:31] ni4 commented on #1244
Hm, I think we should ask guys from c53. Anyway, as I correctly understand your beta build process, it's okay to have one build for them and another development build which is based on latest sources?

[2020-08-08 09:30] kaie commented on #1244
linux/macos built ok

[2020-08-08 10:11] kaie commented on #1181
ok thanks again

[2020-08-08 10:11] #1181 closed

[2020-08-09 23:07] antonsviridenko commented on #1160
I think it should be an option, not a command, right? Should it apply only to keys import, not signatures?

[2020-08-10 09:12] kaie opened #1251 "rnp_key_unlock API documentation documents parameter that's not present"
The documentation for rnp_key_unlock in header file rnp.h documents a third "result" parameter that isn't present.

The description for that parameter should be removed.

[2020-08-10 21:11] ni4 commented on #1160
@antonsviridenko Yeah, it should be an option, not a command. Mistype due to quick-typing. Currently it can be set only for the key import, no way to set the corresponding flag for the signature import.

[2020-08-11 09:32] rrrooommmaaa opened #1252 "Cannot increment list iterator which is already past-the-end"
## Description

It was detected that `key_iter_next_key()` is sometimes called again even if the previous call returned `false`.
Visual C++ triggers runtime exception.
https://stackoverflow.com/questions/53471376/cannot-increment-end-list-iterator-run-time-error-visual-c
I suggest to fix by comparing the iterator to `end` prior to incrementing.

[2020-08-11 15:18] teythoon opened #1255 "RNP fails to decrypt message with unknown packet versions"
## Description

Unknown versions of PKESK and SKESK packets, as well as unknown
S2K parameters in known versions of SKESK packets, should be
ignored to allow for a smooth evolution of the OpenPGP message
format.  Section 11.3 of RFC4880 specifies what a valid message
looks like, but makes no mention of packet versions.

  - https://tools.ietf.org/html/rfc4880#section-11.3
  - https://tests.sequoia

[2020-08-11 21:19] kaie opened #1256 "is "public keys are mixed together with secret ones" harmless?"
The Enigmail migrator sends a file to Thunderbird for import, which contains two key blocks, a public key block, and a secret key block.

When doing so, RNP prints:
[process_pgp_keys() /home/user/moz/comm-esr78/mozilla/comm/third_party/rnp/src/librepgp/stream-key.cpp:952] warning! public keys are mixed together with secret ones!

Should that worry us? Is there anything that could go wrong?

When t

[2020-08-12 11:11] ni4 commented on #1256
@kaie Everything would work fine. It's just a warning since usually public and secret keys are stored separately.
Probably we should remove this warning at some point (or some circumstances, like issue it only during keyring load, not during the key import).

[2020-08-12 12:40] teythoon opened #1257 "RNP fails to verify detached signatures with unknown packet versions"
## Description

Unknown versions of Signature packets should be ignored to allow
for a smooth evolution of the OpenPGP message format.

  - https://tests.sequoia-pgp.org/#Detached_signatures_with_unknown_packets

## Steps to Reproduce

This is a fictitious v23 signature followed by a v4 signature:

[code]

This is the certificate to verify the v4 signature:

[code]

## Expected Behavior

The v4 si

[2020-08-13 17:39] rrrooommmaaa opened #1259 "`rnp_key_store_clear` throws runtime exception in MSVC"
## Description

The line  `keyring->keys.clear();`  sometimes triggers runtime exception in MSVC.
Perhaps, some iterator is referencing a deleted object (incorrect order of destruction).
Does anyone have an idea where we could possibly have made a mess with iterators etc.?

[code]

## Steps to Reproduce

run `test_ffi_key_iter` test

[2020-08-13 17:40] rrrooommmaaa commented on #1259
![image](https://user-images.githubusercontent.com/23335944/90168044-3cf12380-dda5-11ea-8177-09fd13b46cbd.png)

[2020-08-13 18:49] ni4 commented on #1259
Strictly speaking, it is incorrect to call `obj = (struct rnp_identifier_iterator_st *) calloc(1, sizeof(*obj));` on rnp_identifier_iterator_st, which has C++ field. (yeah, I know, that's code written by me :) ).
Also it is wrong to call `free` later on it.

While this worked with other compilers, maybe MSVC does things in a bit different way.
Maybe changing field `keyp` type to `std::list<pgp_key

[2020-08-14 09:34] rrrooommmaaa opened #1260 "MSVC complains at attempts to close file descriptor twice"
Some tests throw assertion failure when trying to close a file descriptor which is already closed:
- generatekeyECDSA_explicitlySetBiggerThanNeededDigest_ShouldSuceed
- generatekeyECDSA_explicitlySetSmallOutputDigest_DigestAlgAdjusted
- generatekeyECDSA_explicitlySetUnknownDigest_ShouldFail
- issue_1030_rnpkeys_secret_keys_unprotected
- rnpkeys_exportkey_verifyUserId
- rnpkeys_generatekey_testEncr

[2020-08-14 09:56] rrrooommmaaa commented on #1226
@ni4 Have you started working on this? I have "wrong lbits" error in some test on MSVC, e.g.
`test_stream_signatures`.
Do you want me to debug or will you?

[2020-08-14 10:01] ni4 commented on #1226
@rrrooommmaaa Wrong lbits error was fixed in #1227, this issues is not closed since I'm still working on the second part - #1228
There is a number of tests where `wrong lbits` messages should be displayed, since they validate malformed/modified signatures.
Or do you have `test_stream_signatures()` test failing?

[2020-08-14 10:33] rrrooommmaaa commented on #1226
@ni4 yes, `assert_rnp_success(signature_validate(&sig, pgp_key_get_material(key), &hash));` line 371 failing

[2020-08-14 10:58] ni4 commented on #1226
@rrrooommmaaa Then it should be definitely Windows-related issue, like something is not zeroed/incorrectly copied/whatever else. I don't have Windows environment set up right now, however if you'll have major problems debugging it - feel free to ask for help, I'll setup it.

[2020-08-14 14:59] ni4 opened #1261 "Add rnp_op_verify/rnp_op_decrypt fuzzers to the rnp."
## Description

Following fuzzers could be added:

 - [ ] which utilizes rnp_op_verify_create() and then tries to decrypt-and-verify input data.
 - [ ] which utilizes rnp_op_verify_detached_create() with some stable input data, and then tries to verify detached signature
 - [ ] one which just calls rnp_decrypt() on input.

[2020-08-14 15:02] ni4 commented on #1261
@tomrittervg Does these fuzzers make sense? While it would be impossible to mimic encrypted data, they still would be able to build some non-encrypted packet sequence.

Also, does it make sense/possible to try to process fuzzer's input with some external application? Like, sign with GnuPG and then try to verify?

[2020-08-14 15:38] ni4 opened #1262 "'too many OpenPGP packet layers' error on keyring dump."
## Description

PR #1241 incorrectly calculates packet nesting levels (incrementing it with each packet), so after 32 packets it reports an error and stops dumping.

Should be fixed, adding the corresponding test (for text and json output).

Example file which exposes this behavior: `keyrings/1/pubring.gpg`.

[2020-08-14 15:43] tomrittervg commented on #1261
I haven't gotten to it (yet) but yes, we should ensure we are exercising (for example):
 - Signature verification of all forms/algorithms
 - Decryption routines of all algorithms
 - Packet processing of decrypted data

I don't think it makes sense to take fuzzer input, sign it with GPG, and then verify it, because you're treating the fuzzer input as an opaque blob.  Really what you would want to d

[2020-08-14 17:26] tomrittervg commented on #1261
See also https://github.com/google/oss-fuzz/pull/4322

[2020-08-14 21:42] #1160 closed

[2020-08-17 10:11] ni4 commented on #1261
@tomrittervg Thanks for detailed reply. Encrypting/signing input looks a good idea, updated the fuzzer list. Actually, while parsing of packets is done via dumping fuzzer, we still need to handle well cases on malformed input which is fed to the rnp_op_verify_create()/rnp_op_verify_detached_create() - to make sure that there are no leaks on wrong input/access violations and so on.

[2020-08-17 14:33] ni4 commented on #1244
Closing this since issue is fixed.

[2020-08-17 14:33] #1244 closed

[2020-08-17 14:34] ni4 commented on #1249
Closing this since issue is fixed.

[2020-08-18 09:38] ronaldtse opened #1264 "Coverity: CID 1431234: Uninitialized members (UNINIT_CTOR)"
** CID 1431234:  Uninitialized members  (UNINIT_CTOR)
/src/librepgp/stream-key.cpp: 1446 in pgp_key_pkt_t::pgp_key_pkt_t()()

[code]

[2020-08-18 11:04] ni4 opened #1265 "Improve handling of CR characters within cleartext signatures."
## Description

We have some incompatibility with GnuPG when handling CR characters during cleartext signature generation/verification.

## Sample data

`0x31 0x30 0x64 0x0D`: when cleartext-signed with rnp, considered as BAD signature by GnuPG. However if signed with GnuPG, then signature is considered as valid by rnp.
`0x31 0x30 0x64 0x0D 0x0D`: BAD signature if signed with rnp and checked by Gn

[2020-08-19 02:43] dewyatt commented on #1158
I lost track of this for a bit, but my thoughts are that it's probably not the best approach. Some appropriate logging context needs to be passed everywhere that logging is going to be done, even if seemingly burdensome. It's not OK to use a global or thread-local, it's only going to hinder debugging later on when trying to make sense of a log that has interleaved messages from multiple unrelated

[2020-08-19 08:11] rrrooommmaaa commented on #1226
@ni4 Exactly my problem. `src/tests/data/test_stream_signatures/source.txt` received extra CR when cloning from github because I omitted to issue `git config --global core.autocrlf false`

[2020-08-19 08:26] ni4 commented on #1226
@rrrooommmaaa Ah, I forgot about this case, got hit by the same while implementing support for MinGW. Actually it should be a bit different - some of signatures in `test_stream_signatures` are done in binary mode, so changing eol sequence in source.txt makes signature invalid.

[2020-08-19 09:21] teythoon opened #1267 "Please add a way to disable installation of ruby bindings, and cloning ruby bindings for the tests"
## Description

When I do `make`, some ruby installer magic asks me to use sudo to install the gem.  There are two problems with this.  First, this is the build phase, not the install phase.  Second, this disregards CMAKE_INSTALL_PREFIX.

Furthermore, when invoking the tests, cmake clones the ruby bindings to run its tests.  There should be a way to disable this, because this won't work in build e

[2020-08-19 09:35] rrrooommmaaa commented on #1226
@ni4 I can add a fix to replace `\r\n` with `\n` in failing tests (`test_stream_signtaures` etc.)

[2020-08-19 09:53] ni4 commented on #1226
@rrrooommmaaa The better solution would be to add .gitattributes with corresponding flags for the affected files.

[2020-08-19 09:56] ni4 opened #1268 "Add .gitattributes file to prevent CRLF/LF conversion for test data files."
## Description

Some tests have signatures over text files (example - `test_stream_signatures/source.txt`), which become invalid once git automatically changes EOL from LF to CRLF on Windows.
.gitattributes file should be added for these files, disabling EOL conversion (or marking it as fixed to LF).

[2020-08-19 10:32] ni4 commented on #1245
Was fixed as side effect by #1254, so closing it.

[2020-08-19 10:32] #1245 closed

[2020-08-19 10:33] ni4 commented on #1246
This is actually about tests, we have a lot of issues like this. What about totally disabling analysis for tests folder?
CC @ronaldtse @dewyatt

[2020-08-19 12:02] ni4 opened #1269 "RNP_USE_STD_REGEX is not defined for macOS"
## Description

Not sure whether it is expected behavior - as I remember it was aimed to not use std::regex only for older compilers due to some bugs in implementation.
However, with llvm 10 on macOS it is still not defined.

`config.h.in` defines RNP_USE_STD_REGEX in the following way:
[code]

However `echo | clang -dM -E -` output includes `#define __GNUC__ 4`, but doesn't include `_GLIBCXX_USE_

[2020-08-23 12:52] kaie opened #1273 "Better strategy for importing a big public key block?"
Although RNP has recently improved the memory allocation situation, it still requires a lot of RAM when processing a big public key block.

We see that users try to export all their public keys from GnuPG, and then try to import them to Thunderbird.

Ideally, it would be great to have a way to "split" the big key block that the user has exported, into smaller pieces, or even into individual keys,

[2020-08-24 10:07] ni4 commented on #1273
@kaie I was thinking about changing of key import behavior as well. Initially it was designed to import single key/small amount of keys so loads all of them into temporary keyring.
Current idea is to add flag like RNP_LOAD_SAVE_IMPORT_FIRST, which would make rnp to read only first key with subkeys from the input, allowing to call function multiple times. That would also allow to update GUI with pr

[2020-08-24 12:42] #1226 closed

[2020-08-24 12:42] #1228 closed

[2020-08-24 22:46] kaie opened #1274 "Need to support the PGP Global Directory Verification Key"
We were asked to support key 0x50BB6FFC9719DFD2BEBB04C69710B89BCA57AD7C - PGP Global Directory Verification Key.

Importing fails with the following error:

[parse_signature_material() rnp/src/librepgp/stream-packet.cpp:1747] extra 2 bytes in signature packet
[process_pgp_key_signatures() rnp/src/librepgp/stream-key.cpp:656] failed to parse signature at 2473682

I'll upload a copy of the key which

[2020-08-24 22:47] kaie commented on #1274
[50BB6FFC9719DFD2BEBB04C69710B89BCA57AD7C.txt](https://github.com/rnpgp/rnp/files/5120552/50BB6FFC9719DFD2BEBB04C69710B89BCA57AD7C.txt)

[2020-08-24 22:48] kaie commented on #1274
@rjhansen

[2020-08-25 01:13] #1262 closed

[2020-08-25 08:28] duckdalbe opened #1275 "Support decryption with hidden recipients."
RNP reports that it cannot decrypt if no Key ID of the Public-Key Encrypted Session Key Packets matches a known private key.

It would be great if it instead could check for "hidden" recipients. In case the Key ID `0x00000000` is present, RNP should try to decrypt with all known private keys. See <https://tools.ietf.org/html/rfc4880#section-5.1> (last paragraph of that section).

Background: Curre

[2020-08-25 10:03] #1268 closed

[2020-08-25 10:29] ni4 commented on #1275
Thanks for reporting, we'll add corresponding functionality once get to this issue.

[2020-08-25 10:32] ni4 commented on #1274
@kaie Thanks for reporting, I'll take a look.

[2020-08-25 13:52] ni4 opened #1276 "Fix oss-fuzz broken build due to linking error."
## Description

oss-fuzz build is broken due to commit https://github.com/rnpgp/rnp/pull/1266/commits/4551025af5182515d91a565a298e81ab3dcadc10

Also it worth to add workflow which mimics oss-fuzz behavior at least for building, to make sure this will not happen in future.

[2020-08-25 14:58] antonsviridenko commented on #1265
let me take it

[2020-08-25 14:58] antonsviridenko commented on #1265
@ni4 just to be sure, this issue is still relevant after this PR https://github.com/rnpgp/rnp/pull/1263 right?

[2020-08-25 15:21] ni4 commented on #1265
@antonsviridenko yeah, it is related to #1263 . It was just too much to fix everything in a single PR, so I separated not-that-high-priority part of the work to this issue.
Sure, you are welcome to take it, thanks!

[2020-08-25 18:26] ronaldtse opened #1277 "Make consistent the use of `malloc()` `calloc()`"
There are multiple locations where the pair `malloc` and `calloc` are used inconsistently. We should either make them consistent or get rid of them.

[2020-08-25 18:27] ronaldtse opened #1278 "Get rid of `strcpy()`"
`strcpy()` is a potential overflow target and we should really get rid of its usage.

[2020-08-25 18:29] ronaldtse opened #1279 "Upgrade Botan to 2.14.0"
Botan is now at 2.14.0, probably time to upgrade @dewyatt @ni4 ? I remember we had an issue with it @dewyatt ?

[2020-08-25 18:41] ni4 commented on #1279
There is (or were?) an issue with Botan/MinGW, discussed here: https://github.com/rnpgp/rnp/issues/1104#issuecomment-623171383

Needs to recheck whether it was or wasn't gone with updated MinGW.
Also once building with MSVC will succeed we would not need MinGW for TB integration, and be compiled natively.

[2020-08-25 19:18] rrrooommmaaa commented on #1279
The tests just succeeded in MSVC x64 (I'm going to add x32 build too), but vcpkg provides Botan version 2.12.1 there. Will it do?

[2020-08-25 19:57] ronaldtse commented on #1279
There is the following issue in Botan 2.12.2:

Still, it depends on whether the platform supports the later versions...?

[2020-08-27 08:53] ni4 commented on #1247
Commit 641b23b from PR #1280  should fix this, needs to re-check later.

[2020-08-28 09:54] ni4 opened #1281 "Add a way to disable or report weak ciphers, hashes and keys."
## Description

While this is certainly needed, there is no good way to report signature or encryption as weak for now, or to disable certain hashes and ciphers (like MD5, IDEA).

However, we still need to support these to be able to verify/decrypt old messages.

I see the following way of implementing this:
- adding FFI functions `rnp_add_weak_cipher("IDEA")`, `rnp_add_weak_hash("MD5")`, `rnp_add

[2020-08-28 09:55] ni4 commented on #1281
@kaie @dewyatt @ronaldtse @rrrooommmaaa @antonsviridenko  You are welcome for discussion here!

[2020-08-28 10:04] nwalfield commented on #1281
This is indeed a complicated topic.  We address this issue in Sequoia using customizable [policy objects](https://docs.sequoia-pgp.org/sequoia_openpgp/policy/trait.Policy.html).  A policy object includes a number of callbacks that are invoked when evaluating a signature, encryption container, etc.  We provide a default easily customizable, [StandardPolicy](https://docs.sequoia-pgp.org/sequoia_open

[2020-08-28 10:56] #1276 closed

[2020-08-29 19:29] antonsviridenko commented on #1265
rnp hashes this sequence as is, gpg signs only `0x31 0x30 0x64` with CR stripped.

[2020-08-30 02:25] tomrittervg opened #1283 "Build Fuzz Targets as part of CI"
To ensure the fuzz targets don't accidentally break, it would be ideal to build them as part of CI by default before pull requests are accepted.  They don't need to be fuzzed; just built.

[2020-08-30 02:27] tomrittervg commented on #1283
Oh, nevermind, I didn't realize this was done already!

[2020-08-30 02:27] #1283 closed

[2020-08-30 10:58] ni4 commented on #1265
@antonsviridenko Yeah, probably GnuPG strips CR because of the next LF. We should also react in the same way as GnuPG when there is CR used in different places/there are CR CR LFs and so on. Best way to check this would be to include `\r`in `cli_common.py: random_text` and make cli_tests pass.

[2020-08-31 04:34] tigernero79 opened #1284 "RNP does not recognize yubikey STUB primary key"
I'm trying to import a secret primary key generated with yubico 5 Nfc token, Stub secret key which recalls the actual one stored in the yubico.  but when I try to import it although recognized it doesn't recognize passphrase or PIN for import.  i believe that RNP does not handle openpgp smartcard which yubico 5 Nfc has the standard?  everything worked with enigmail instead.  because it was aimed a

[2020-08-31 06:22] ronaldtse commented on #1284
Thanks @tigernero79 for reporting this, you are correct that RNP itself does not currently handle OpenPGP smart cards. This functionality is currently on our todo list but it will be quite a few months away.

Thunderbird 78 with RNP does handle smart cards using a compatibility bridge using GnuPG, perhaps you should ask the Thunderbird team (ping @kaie )?

[2020-08-31 07:45] tigernero79 commented on #1284
I tried to set the value in thunderbird: = mail.openpgp.allow_external_gnupg, to make sure that if rnp did not find primary keys in its database it would query gnupg. tested but didn't work anyway. I want to clarify that everything was perfect with enigmail plugin.

[2020-08-31 09:21] duckdalbe opened #1285 "Provide generic User ID filter for Key export, or WKD-export?"
Would you be interested in implementing a generic User ID filter for Key export, or a specific WKD-suitable Key export?

In a Web Key Directory, keys must only include the one User ID that matches the email address they are provided for <https://tools.ietf.org/html/draft-koch-openpgp-webkey-service-09#section-5> (3rd paragraph).

I guess it might be not hard to add, because you already have code t

[2020-08-31 09:34] ni4 commented on #1285
@duckdalbe Thanks for the request. We definitely need to extend export function with extensible functionality - ability to strip unneeded userids, photos, expired/invalid or obsolete signatures and so on. This requires some thinking - once API is implemented it would be very very undesirable to change it later.

[2020-08-31 14:18] kaie opened #1287 "RNP should gracefully handle exceptions from Botan::hex_decode"
rnp_locate_key calls rnp_hex_decode which calls Botan::hex_decode

We have multiple Thunderbird crash reports, with an unhandled exception thrown in Botan::hex_decode

RNP should ensure to catch this potential exception to prevent crashes.

[2020-08-31 14:20] rrrooommmaaa commented on #1119
What priority tasks should I take?

[2020-08-31 14:22] dewyatt commented on #1287
What revision?
It shouldn't happen after https://github.com/rnpgp/rnp/pull/1212.

[2020-08-31 14:23] kaie commented on #1287
We are still using the revision that had been used as the base for the audit.
What is a new stable revision that Thunderbird should update to?
cc @ni4

[2020-08-31 14:24] kaie commented on #1287
650b3bce5bad75b64c7d3768d2df74a55740df15

[2020-08-31 14:26] kaie commented on #1287
wait a minute. It might have been a crash reported with an older binary. Let me check

[2020-08-31 14:28] kaie commented on #1287
This crash
https://crash-stats.mozilla.org/report/index/857f563e-6fdc-4efc-b34c-a5ee10200830
was experienced with Thunderbird 78.2.1 which uses RNP revision 650b3bce5bad75b64c7d3768d2df74a55740df15

[2020-08-31 15:07] dewyatt commented on #1287
Weird, the signature at that rev is like:

[code]

Where `ffi_exception` doesn't throw, so I wonder what's going on there.

[2020-08-31 15:56] ni4 commented on #1119
@rrrooommmaaa Feel free to take any issues which is not assigned yet. While TB is already released with RNP, most priority is on security and other fixes. Not major new functionality, CLI and so on.
Ones floating around for a while are #1110, #1071, #1188, #1185, #1106

[2020-08-31 15:58] ni4 commented on #1167
Should be implemented after the #1273, when we'll process keys one-after-one during the import.

[2020-08-31 15:59] ni4 commented on #1199
Closing as it was fixed in #1216

[2020-08-31 15:59] #1199 closed

[2020-08-31 16:12] ni4 commented on #1287
During last month we were mostly fixing issues related to data processing/possible security flaws, and ones reported during the audit. So the latest master would be good one to pick.

[2020-08-31 16:46] nwalfield commented on #1287
@ni4: Are the results of the audit available yet?

[2020-08-31 16:48] kaie commented on #1287
Not yet. But we'll make them available soon.

[2020-09-01 10:39] ni4 opened #1289 "Allow absence of extra empty line in armored messages."
## Description

Currently we require an extra empty line after the armor header and between base64 data, i.e.
[code]

However, it doesn't seem to be strictly required by RFC, and GnuPG accepts data without an extra line:
[code]

[2020-09-01 11:57] #997 closed

[2020-09-01 11:57] #1252 closed

[2020-09-01 11:57] #1259 closed

[2020-09-01 11:57] #1260 closed

[2020-09-01 14:00] ni4 commented on #1287
@dewyatt @kaie And, additionally, Botan also guards FFI layer with `ffi_guard_thunk()`. If there is non-empty env variable `BOTAN_FFI_PRINT_EXCEPTIONS` then it will printf exception details to stderr.

Maybe @randombit has some quick thoughts on this/seen this previously?

[2020-09-01 16:15] randombit commented on #1287
The call stack in the crash report is interesting. Like all other functions in the Botan C layer, botan_hex_decode in all exceptions and translates them into an error return code. https://github.com/randombit/botan/blob/master/src/lib/ffi/ffi.cpp#L89 But, AIUI that crash report, it doesn't look like the problem is that an exception was thrown and the stack was unwound. Instead it looks like, an ex

[2020-09-01 16:26] ronaldtse commented on #1287
Thanks for the analysis @randombit , felt like a message coming from the depths... :wink:

[2020-09-01 16:35] ni4 commented on #1287
@randombit Thanks for the detailed reply! Actually, there is another report with similar circumstances, during the RSA key generation.

@kaie Do I correctly remember that rnp for TB is built using the MinGW/MSYS, but TB (most likely) via MSVC? In this case just today we merged PR #1232, which allows building with MSVC, and this could be a fix.

[2020-09-01 18:42] kaie commented on #1287
@Jfx2006 could you please answer this question?

[2020-09-01 18:55] jfx2006 commented on #1287
Windows builds use clang-cl for everything. Still links to MSVC libraries, at build time that is Visual Studio 2017 15.8.4 / SDK 10.0.17134.isual Studio 2017 15.8.4 / SDK 10.0.17134.0. Up until a couple days ago it was Clang-9.0.1, but now it's Clang-11rc2.

It shouldn't make a difference but the production builds are cross-compiled on Linux hosts. There are builds done on Windows as well that CI

[2020-09-01 19:10] rrrooommmaaa opened #1290 "Check correct handling of Windows paths"
## Description

Some functions (like `rnp_path_compose`) only treat a slash as path separator.
Need to support backslash on Windows in a decent way.

## Steps to Reproduce

Call `rnp_path_compose("a\","b\","c")`

## Expected Behavior

"a\b\c"

## Actual Behavior

"a\/b\/c"

[2020-09-01 19:19] #1278 closed

[2020-09-02 12:08] ni4 commented on #1274
@kaie I was able to import this key to RNP with PERMISSIVE option enabled. It actually contains a bunch of illformed signatures, GnuPG reports those as well. Or is it something specific to that exact signature, so it must be imported?

[2020-09-05 16:34] #1110 closed

[2020-09-06 17:34] kaie opened #1293 "encrypted_add_recipient, !userkey->valid, attempt to use invalid key as recipient"
When attempting to encrypt to a certain recipient key, RNP reports "attempt to use invalid key as recipient".

The failing check is in encrypted_add_recipient, if (!userkey->valid)

I couldn't find out what's wrong with the key.
For privacy reasons I'll send the key to Nickolay by email.

The key has a user ID that doesn't any spaces to separate name from email address. It looks like this:
```user

[2020-09-06 17:39] kaie commented on #1293
tracking also at
https://bugzilla.mozilla.org/show_bug.cgi?id=1663349

[2020-09-07 10:10] ni4 commented on #1293
@kaie We've got some logic error here by incorrectly handling key expiration time in this case, when key expiration time subpacket is present in certification, but contains zero value. Will fix this. Possible workaround right now is to set key/subkey expiration time via GnuPG to some large value, say 20 years.

[2020-09-07 17:45] #1293 closed

[2020-09-07 19:58] a-vrma commented on #506
Some requests from someone who would like to use the CLI as an alternative to GPG:

- Make `-h` (not just `--help`) show the usage information.
- Since you already have all a `cli-usage.adoc`, maybe you could change the formatting a little and convert that into a man page with Asciidoctor? You might get more contributions if the man page is written in an easy syntax vs the more obscure mdoc(7).

[2020-09-07 22:41] fuelflo commented on #1217
Any news on this? As automatic update from TB68 to TB78 is coming closer, i'd be really happy to keep on using my GPG key in TB.

[2020-09-08 08:46] ni4 commented on #1217
@fuelflo It is implemented on the RNP side, but not sure about the Thunderbird.
Ping @kaie

[2020-09-08 08:48] ni4 opened #1296 "Implement support for marker packet."
## Description

It appears that some implementations (including Symantec Encryption Desktop) still issue marker packet for encrypted messages. We should support such messages as well.

[2020-09-08 14:29] ni4 commented on #506
@a-vrma Thanks for your suggestions, we'll update mans/docs once get to the issue.

[2020-09-09 10:52] konimex opened #1298 "RNP signs file using CRLF linebreak in a Linux system"
## Description

When using RNP to sign files (armored), I got a CR-LF linebreak signature instead of LF-only linebreak on Linux.

## Steps to Reproduce

1. Find a file to sign
2. Sign the file using `rnp --clearsign --armor file`

## Expected Behavior

The PGP signature file is formatted properly with LF-only linebreaks in a Linux system

## Actual Behavior

The PGP signature file is formatted usi

[2020-09-09 11:03] ni4 commented on #1298
Thanks for the report. Does this introduce any problems? Actually RFC doesn't tell that implementation should or should not convert line endings, but converting them to CRLF could bring more compatibility, since CRLF must be hashed as line ending.

Also it seems we have some problem with LF parsing - last line contain LF CR LF line ending, instead of CR LF (or LF).

[2020-09-09 11:17] konimex commented on #1298
I've tested a RNP-signed file with GnuPG and it works despite a mixed LF and CRLF line breaks. So for now, no. At least in my usecase.

Anyway, to me this is less of a bug and more of an annoyance (albeit minor, admittedly) if, say, one wants to read it through something like `less` which has `^M` when reading CR. But from the actual verifying side, there are actually no problems.

Thanks for the

[2020-09-09 12:31] ni4 commented on #1298
Got it. Agree, we should somehow detect which EOL should be used, or make it at least configurable on the API level.

[2020-09-09 14:01] ni4 opened #1299 "RNP CLI: Load secret keys on demand."
## Description

Currently RNP CLI loads secret keyring by analyzing command line parameters. This leads to the case when issuing `rnp -v` on encrypted and signed file returns `failed to obtain decrypting key or password`.

This could be solved by loading secret keyring only in case when secret key is requested via key provider.

[2020-09-11 12:33] ni4 opened #1303 "Should/could we use C++ type instead of POD for FFI structs?"
## Description

We have some structs inside of FFI objects which sooner or later will become "more C++" and could include other C++ objects, including containers.
As an example: `rnp_op_encrypt_t`, which includes `rnp_ctx_t`, which now has `list recipients`. At some point we'll change recipients to `std::list`, and it must be initialized via constructor.
So we would not be able to use calloc() to

[2020-09-11 12:48] #1296 closed

[2020-09-11 14:21] ni4 commented on #1303
@antonsviridenko It doesn't as far as I know (and anyway we return pointer to opaque struct in API calls), but maybe I'm missing something deep/some possible side effect/whatever else.

[2020-09-13 06:15] dewyatt commented on #1303
Shouldn't be an issue and I would say it's definitely the way forward

[2020-09-13 08:38] ni4 commented on #1303
Okay, thanks for replies!

[2020-09-13 09:19] ni4 opened #1304 "Check whether HOME dir exists and is writable."
## Description

Separated from the PR https://github.com/rnpgp/rnp/pull/1302#issuecomment-691087258

[2020-09-14 18:11] rrrooommmaaa opened #1305 "Incorrect fallback on Win API when HAVE_SYS_TIME_H is not detected properly"
## Description

As described in discussion #1232

## Steps to Reproduce

1.  Try to build in Thunderbird environment

## Expected Behavior

use functions from `sys/time.h`

## Actual Behavior

trying to fall back on Win API

[2020-09-14 18:24] kaie commented on #1293
thanks, it's working

[2020-09-14 18:25] kaie commented on #1296
thanks, it's working

[2020-09-14 18:36] rrrooommmaaa commented on #1123
So, I'm going to replace `calloc` with `new` and `free` with `delete`, right?

[2020-09-14 18:46] rrrooommmaaa commented on #1123
for all these:
- rnp_ffi_st
- rnp_key_handle_st
- rnp_uid_handle_st
- rnp_signature_handle_st
- rnp_recipient_handle_st
- rnp_symenc_handle_st
- rnp_input_st
- rnp_output_st
- rnp_op_generate_st
- rnp_op_sign_st
- rnp_op_sign_signature_st
- rnp_op_verify_signature_st
- rnp_op_verify_st
- rnp_op_encrypt_st
- rnp_identifier_iterator_st

[2020-09-14 18:55] ni4 commented on #1123
Please not yet, if possible - I have some postponed code which will definitely conflict with those changes (see https://github.com/ni4/rnp/pull/4)

[2020-09-15 09:22] #1305 closed

[2020-09-16 13:38] STRML commented on #1217
This is broken in Thunderbird 78 unfortunately.

[2020-09-16 13:43] ni4 commented on #1217
@STRML Honestly, I'm not sure whether this feature was picked by TB team already.

[2020-09-16 13:50] STRML commented on #1217
Okay. I ended up figuring out the issue - I was importing a key that contained several long-expired subkeys. After I removed those subkeys in GPG Keychain, and re-exported, the import into rnp/Thunderbird worked great.

[2020-09-16 13:52] ni4 commented on #1217
@STRML Hm, that should not be an issue, at least for RNP - subkeys should be just marked as expired and unusable, but still imported.

[2020-09-16 13:58] STRML commented on #1217
The exact error was `rnp_key_unprotect failed`, from https://hg.mozilla.org/comm-central/file/584545287aa2757e7596bc445359e81598e13eba/mail/extensions/openpgp/content/modules/RNP.jsm#l1672. I realize this is the wrong issue tracker, so consider this for informational purposes only :)

[2020-09-17 09:30] ni4 commented on #1267
@dewyatt As I understand, ruby-rnp is installed only to run tests via CI/and/or locally? What about separation of rnp and ruby-rnp, moving all ruby-related things to CI in separate (or updated) workflows?
Or, as a simpler solution, build with ruby-rnp only if specific option is given to cmake, like `DBUILD_RUBY_RNP`

[2020-09-18 12:08] nwalfield opened #1311 "Expired OpenPGP Certificate not recognized as expired"
Consider the following key (attached):

[code]

The direct key signature indicates that the primary key should expire 1 second after its creation.

rnp doesn't seem to think that the key is expired:

[code]

and rnp doesn't have a problem encrypting to it:

[code]

gpg, however, rejects it as expired:

[code]

Thunderbird 78.2.2 treats this key the same way.  That is, it doesn't consider it to be

[2020-09-18 12:52] ni4 commented on #1311
@nwalfield Thanks for reporting. Yeah, currently RNP checks for key expiration in the latest valid self-signature. Do you have a quick way to check whether things are changed for GnuPG if certification will include 0 key expiration subpacket? Or, be issued slightly after the direct-key signature?

Is there any strict logical rule how to behave in such non-obvious cases in RFC? I don't seem to reca

[2020-09-18 13:07] nwalfield commented on #1311
According to [Section 5.2.3.3](https://tools.ietf.org/html/rfc4880#section-5.2.3.3):

I interpret this as meaning: first check the self sig for the subpacket, then fallback to the direct key signature if it is not present.  Since the self sig doesn't have a Key Expiration subpacket, but the direct key signature does, the value in the direct key signature's subpacket should be used for determining

[2020-09-20 09:47] ni4 opened #1312 "Support utf-8/unicode in rnp_input_from_path() call."
## Description

Currently we do not interpret `char *path` parameter, and it works but only for ASCII paths (or, most likely, for paths which use system encoding).
If path contains any non-ASCII character, `rnp_input_from_path()` will fail, at least on Windows.

Possible solutions:
- assume that path* parameter is in utf-8 encoding in `rnp_input_from_path()`. However, this most likely will introdu

[2020-09-21 10:38] ni4 opened #1313 "Choose the latest encryption-capable subkey by default."
## Description

Currently, when encrypting data to the primary key which is not able to encrypt, rnp chooses the first encryption-capable 'good' subkey. However, it could be more wise to choose the latest one.
See the discussion/report here:

https://thunderbird.topicbox.com/groups/e2ee/T12a8f43ab17206ec-M835b2ddbba1b0dfe3ec85cb5/tb-native-openpgp-implementation-does-not-use-newer-subkeys

[2020-09-21 10:46] nwalfield commented on #1313
As I argue in that thread, it would be better to encrypt to all valid subkeys.

[2020-09-21 10:55] ni4 commented on #1313
@nwalfield Imho this would be too strict default behavior as for library level (and effectively lowering security level to the less secure subkey). Implementation, which uses RNP, still able to pick any number of subkey(s) used for encryption. So it could have checkmark like 'Use all available subkeys for encryption' making this configurable.

[2020-09-21 11:02] nwalfield commented on #1313
As I argue there, your policy actually lowers the security, because it means that all keys need to be available on all devices.  By encrypting to all, it is possible to generate and store keys on TPMs.  If security is a concern, it is better to retire old keys.

[2020-09-22 09:31] teythoon opened #1314 "rnp --encrypt ignores --output"
## Description

rnp --encrypt ignores --output, even though rnp.1 suggests that it may be used with --encrypt.

## Steps to Reproduce

1. Generate or import a key
2. Create a file to encrypt: `echo huhu > huhu`
3. Encrypt the file: `rnp --homedir=/tmp/... --armor --encrypt --recipient ... --output=- huhu`

## Expected Behavior

Encrypted message is written to stdout.

## Actual Behavior

Encrypted

[2020-09-22 10:18] teythoon opened #1315 "RNP does not honor certificate expiration on direct key signatures"
## Description

The following certificate is expired using a key expiration time
subpacket on a direct key signature, but RNP does not consider
the certificate expired.  As revocation is not well supported in
the OpenPGP ecosystem, liveness through e.g. certificate
expiration is the most important way to retire key material.

Relevant test: https://tests.sequoia-pgp.org/#Certificate_expiration

[c

[2020-09-22 10:21] teythoon opened #1316 "RNP takes certificate expiration information from non-primary userid bindings"
## Description

The following certificate is expired using a key expiration time
subpacket on the primary userid's binding signature.  There is a
conflicting subpacket on a non-primary userid's binding signature
that overrides the former subpacket, but shouldn't.  As
revocation is not well supported in the OpenPGP ecosystem,
liveness through e.g. certificate expiration is the most
important way to

[2020-09-22 13:43] Aldekein commented on #1217
I came to this thread from https://bugzilla.mozilla.org/show_bug.cgi?id=1654893 while I was exploring if Thunderbird can work with an offline primary key (generated as in [this tutorial](https://blog.tinned-software.net/create-gnupg-key-with-sub-keys-to-sign-encrypt-authenticate/)), by signing using a sub-key.

For our case the sub-keys should be stored on an OpenPGP-compatible smart cards, which

[2020-09-23 20:23] kaie commented on #1287
It looks like the problem was bad binaries, that somehow disabled the usual C++ exception handling. We don't understand yet why. RNP/Botan binaries produced manually (cross compiled from Linux using MinGW for Windows) don't crash.

[2020-09-24 09:16] kaie commented on #1287
The issue is fixed by using the /EHs clang compiler flag. (Which Botan's build system already uses, but the Thunderbird build system didn't...)
Thanks everyone for your help, closing.

[2020-09-24 09:16] #1287 closed

[2020-09-25 15:42] rrrooommmaaa commented on #1065
Do we have a sample `revcert.asc` file in `tests/data'?

[2020-09-25 15:59] rrrooommmaaa commented on #1312
Should I take this immediately? I've done some work on translating `CreateProcessW` arguments (by `rnp`,`rnpkeys`)in another branch #1053. So it makes sense to create `input_from_path_ex` to allow passing through wide chars without re-encoding.

[2020-09-25 16:25] ni4 commented on #1312
Sure, feel free to take this one.

[2020-09-25 16:28] ni4 commented on #1065
@rrrooommmaaa There is revocation signature available at `data/test_key_validity/alice-rev.pgp`, just make sure to enarmor it with correct (public key) headers.

[2020-09-26 10:29] #1188 closed

[2020-09-26 13:15] antonsviridenko commented on #1265
Seems like this proposition comes in contradiction with PGP specs.

   calculated on the text using canonical <CR><LF> line endings.  The
   line ending (i.e., the <CR><LF>) before the '-----BEGIN PGP
   SIGNATURE-----' line that terminates the signed text is not
   considered part of the signed text.

All CR characters (without following LF) in input should be interpreted as line-endings and conv

[2020-09-26 13:17] antonsviridenko commented on #1265
CR line endings belong to old Mac style plain text format (the one before OS X)

[2020-09-26 13:59] dewyatt commented on #1185
@ni4 Do you still see this issue?

[2020-09-26 18:32] ni4 commented on #1185
@dewyatt Yeah, still have it. Maybe it is something macOS-specific, dunno. Didn't have time to dig into it.

[2020-09-28 09:58] kaie commented on #1217
Just as an update, unfortunately the higher priorities of other TB issues hasn't allowed me to work on this yet.

[2020-09-28 12:00] ni4 commented on #1265
Aforementioned part of RFC is about cleartext signatures, which different from text document signatures, which are described at the section 5.2.4 (https://www.ietf.org/id/draft-ietf-openpgp-rfc4880bis-10.html#name-computing-signatures):

This actually is not clear on how to interpret standalone CR, and what is 'line ending', so probably we should stick to GnuPG's strategy to be compatible.

[2020-09-28 12:02] ni4 commented on #1265
@antonsviridenko Sorry, I deleted previous comment as was messed up with text document signatures. Basically, we should become compatible with GnuPG on line ending treating.

[2020-09-28 14:28] #1273 closed

[2020-09-28 14:30] ni4 commented on #1273
@kaie Once you have time, could you please check whether the new flag (RNP_LOAD_SAVE_SINGLE) for `rnp_keys_import()` satisfies your needs? Thanks!

[2020-10-01 14:28] ni4 opened #1321 "C++ coding style concerns"
## Description

As part of C++ refactoring I've got to the point where started moving signature_get_something/signature_set_somethhing/signature_do_something functions to the pgp_signature_t methods.
And since we do not have reference example in the code, I'd like to discuss do/not to do and other coding style concerns so we'd be stick to the single standard in future. Following is the `pgp_signat

[2020-10-01 14:28] ni4 commented on #1321
CC @rnpgp/developers

[2020-10-01 17:16] CAMOBAP commented on #1321
1. Looks good to me
2. While you keep the same code formatting it looks good, we have `.clang-format` this is awesome
3. Can we have both, maybe some developers who will use our library disabling exceptions for some reason

[2020-10-02 10:02] ni4 opened #1322 "Add command to delete key(s)/subkey(s) via CLI"
## Description

We are missing key deletion functionality in CLI, so command `--remove-key` or `--delete-key` should be added.
Input to it could be userid, keyid/fingerprint (see recipient/signer list in `rnp` command).
If primary key is specified then it will be deleted together with subkeys, if subkey - then only subkey itself.
If there is corresponding secret key, it should additionally ask whe

[2020-10-08 10:18] ni4 commented on #1279
Update: re-checked https://github.com/rnpgp/rnp/issues/1279#issuecomment-680202719, CI still hangs with the latest msys2/mingw + latest Botan 2.14 package.

[2020-10-15 10:38] ni4 opened #1327 "GHA: `set-env` command is deprecated and will be disabled soon."
## Description

[warning]The `set-env` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-10-15 12:23] #1071 closed

[2020-10-16 11:04] #1313 closed

[2020-10-16 18:29] ni4 opened #1329 "runtime error: call to function ffi_pass_callback_file"
## Description
Following error appears on centos sanitize build:

[code]

[2020-10-20 07:02] ronaldtse commented on #1321
LGTM, how do we move forward with this? ping @dewyatt

[2020-10-20 08:40] ni4 commented on #1321
@ronaldtse There is a WIP PR here: https://github.com/rnpgp/rnp/pull/1325
Will get back to it today or tomorrow.

[2020-10-21 10:09] ni4 opened #1333 "Do not look for revocation reason in v3 signatures."
## Description

Currently we check for revocation reason subpacket without signature's version check, and issue warning if there is no one.
This should not be the case for old v3 signatures as those cannot have revocation reason.
See `pgp_subkey_refresh_data()` and `pgp_key_refresh_data()` functions.

[2020-10-28 09:44] ni4 opened #1336 "Add command to check key/message security properties."
## Description

There is some demand to check OpenPGP keys/messages for enough level of security, i.e. report weak algorithms, hashes, weak algorithms in preferences, too small key sizes and so on.
This could be implemented as command `rnp --security-check <keyid|keyfp|filename|use stdin for input if no parameters>`

See the discussion here: https://mailarchive.ietf.org/arch/msg/openpgp/ihpeJXJCNv

[2020-11-03 11:35] ni4 commented on #1116
Fixed via #1323

[2020-11-03 11:35] #1116 closed

[2020-11-03 19:28] antonsviridenko commented on #1265
So,
1) GnuPG does not treat CR characters as EOL-s

2) trailing CR characters are removed, that's the difference in handling them between RNP and GnuPG

[2020-11-05 13:12] ni4 opened #1339 "Check the problem with import of key with revoked subkeys."
## Description

RNP reports `rnp/src/librepgp/stream-key.cpp:1117 No secret key data` during attempt to import of the secret key with revoked subkeys.
Probably GnuPG deletes the secret key data if subkey is revoked, or it was stored on the smartcard.

See more details here: https://bugzilla.mozilla.org/show_bug.cgi?id=1674715

[2020-11-05 18:54] antonsviridenko commented on #1265
@ni4 I tried to add \r to random_text(), now cli_tests fail somewhere in detached signature tests. Probably should be addressed as a new issue

[code]

[2020-11-07 17:55] ni4 commented on #1265
@antonsviridenko It's the part of the same issue as the text document signature mode is used. Some combination of CR/LFs causes incompatibility with GnuPG again.

[2020-11-17 11:59] teythoon opened #1343 "RNP successfully verifies signatures using SHA-1"
## Description

SHA-1 is unsuitable for signatures over data.  The first
collision was published in 2017, and attacks have advanced since
to the point that chosen-prefix attacks are feasible now.

Signatures using SHA-1 in signed messages and detached signatures
must be rejected.

  Relevant test: https://tests.sequoia-pgp.org/#Signature_over_the_shattered_collision

The case is less clear for sel

[2020-11-18 14:40] ni4 commented on #1065
Fixed via https://github.com/rnpgp/rnp/pull/1309

[2020-11-18 14:40] #1065 closed

[2020-11-19 19:13] antonsviridenko commented on #1265
https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=g10/textfilter.c;h=3e68900bbabd3515ba16f40bcf866c326a270e71;hb=4070f302e4decc8d54d1305cbd30f6dab052ef7e#l96

This is the place in code where GnuPG handles text documents. Posting here for references.

[2020-11-19 19:16] antonsviridenko commented on #1265
https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=g10/textfilter.c;h=3e68900bbabd3515ba16f40bcf866c326a270e71;hb=4070f302e4decc8d54d1305cbd30f6dab052ef7e#l192

g10/textfilter.c line 192

This is where GnuPG strips trailing chars when doing cleartext signatures.

[2020-11-19 19:32] antonsviridenko commented on #1265
@ni4
I think I've fixed it (see #1340), but now SignDefault cli test sometimes fails in the same place. After some investigation, it is the "--armor" option that makes the difference. First, detached binary signature is created by gpg and is successfully verified by rnp. Next, armored signature is generated from the same source file and rnp fails to verify it. So probably there should be unrelated

[2020-11-20 01:20] #1327 closed

[2020-11-20 01:22] ronaldtse opened #1345 "Review macOS build/curses config flags for GnuPG pinentry"
The commit 63d0f29 was merged in #1344.

From @ni4:

_Originally posted by @ni4 in https://github.com/rnpgp/rnp/issues/1344#issuecomment-730583220_

[2020-11-20 11:53] antipatico commented on #1217
I got the update to version 78 today and I'm having the same issue. I also tried using the flag **mail.openpgp.allow_external_gnupg**, but without luck.

[code]

[code]

[2020-11-20 14:23] ni4 opened #1346 "Update ruby ffi gem version in CMakeLists.txt"
## Description

Currently rnp uses ffi gem of version 1.9.25, which emits a lot of warnings like:
`/Users/runner/work/rnp/rnp/installs/ruby-rnp/lib/rnp/utils.rb:20: warning: rb_safe_level will be removed in Ruby 3.0`
Updating it to 1.12/1.13 should avoid these warnings.

[2020-11-20 14:38] ni4 commented on #1343
While completely disabling SHA1 for already existing keys/messages is something to discuss, we may apply the following technique as the partial solution: https://github.com/cr-marcstevens/sha1collisiondetection

[2020-11-20 16:22] #1022 closed

[2020-11-20 16:22] #1126 closed

[2020-11-20 17:33] ronaldtse opened #1347 "Reinstate Codecov for repo"
From @ni4:

Not sure why it's gone -- it's still enabled in Settings. Maybe we need this to make it work? https://github.com/codecov/codecov-action

_Originally posted by @ronaldtse in https://github.com/rnpgp/ruby-rnp/issues/69#issuecomment-731303385_

[2020-11-22 15:57] antonsviridenko commented on #1265
`gpg: can't handle text lines longer than 19995 characters`
Seems like gpg stops converting line endings and signs as a binary document in this case.
Do we need to behave the same way for compatibility?

[2020-11-23 15:05] ni4 commented on #1265
I think that it would be enough to display a warning, like "Text signature: too long line, may cause incompatibility with other implementations. Consider using binary signature instead". In real world 20k text would barely happen.

[2020-11-23 16:13] ni4 opened #1348 "Update clang-format CI to the version 11 ?"
## Description

For the last week or so homebrew ships clang-format 11.0, without easy way (or I am missing something) to fallback to 9.0.
Should we update CI to 11.0, or still find way to get back to the 9.0? Would upgrading to 11.0 work well on other systems?

CC @dewyatt @ronaldtse

[2020-11-23 16:15] ni4 commented on #1348
Actually 11.0 suggests two good things:
[code]
and
[code]

[2020-11-24 02:21] ronaldtse commented on #1348
clang-tools-extra 11 ([rpmfind](http://rpmfind.net/linux/rpm2html/search.php?query=clang-tools-extra&submit=Search+...&system=&arch=)) seems to already have packages for Fedora/RH platforms, so perhaps it's a go? Ping @dewyatt

[2020-11-24 17:29] #1200 closed

[2020-11-24 17:36] ni4 commented on #1200
@kaie Could you please check whether just merged #1342 fits your needs? Thanks.

[2020-11-30 06:21] ronaldtse opened #1351 "Support macOS Big Sur on Mac M1"
We should support M1 running of RNP. This will be a need for TB as well.

Ping @dewyatt @ni4

Here's a document that describes installation of Homebrew on M1: https://github.com/mikelxc/Workarounds-for-ARM-mac

[2020-11-30 10:11] ni4 commented on #1351
Wondering whether GHA would support ARM CPUs (or whether it is technically possible at all?).

@ronaldtse  Btw, shouldn't we try again to add homebrew formula for the rnp?

[2020-11-30 10:25] ronaldtse commented on #1351
I hope they will? They probably should.

Yes we absolutely should! Could you help with it?

[2020-11-30 10:51] ni4 commented on #1351
Ok, sure.

[2020-11-30 10:57] kaie opened #1352 "Bad signature, wrong lbits"
I'll provide a simple example message which produces invalid signature when verifying with RNP, can be reproduced using rnp tool.

Alice's public key can be found at
https://gitlab.com/openpgp-wg/openpgp-samples
[](url)

[2020-11-30 10:58] kaie commented on #1352
[inline-signed-pound.txt](https://github.com/rnpgp/rnp/files/5615527/inline-signed-pound.txt)

[2020-11-30 10:58] kaie commented on #1352
[code]

[2020-11-30 11:01] kaie commented on #1352
Oh. Wait. gpg returns bad, too...

[2020-11-30 11:03] kaie commented on #1352
hmm, the signature was produced by piping input to gpg --clearsign, that probably created signature for a different input.

[2020-11-30 11:03] #1352 closed

[2020-11-30 11:20] ni4 commented on #1351
@ronaldtse Looks like we don't have enough watchers at the moment - in January homebrew required 30 watchers.
And probably it would be good to (finally) release 0.14 and then try to add it to the homebrew, what do you think?

[2020-11-30 12:00] ronaldtse commented on #1351
@ni4 interesting we have more stars and forks than watchers... yeah let's wait for a bit then.

[2020-12-06 16:01] ni4 commented on #1285
Related issue: #1006

[2020-12-08 14:03] mkmelin commented on #1214
Any update on this? Would help with https://bugzilla.mozilla.org/show_bug.cgi?id=1673240

[2020-12-08 14:25] ni4 commented on #1214
@mkmelin I started to work on this together with #1194 , so hopefully in a week or two it will be merged into master.

[2020-12-08 14:30] ni4 commented on #1311
@nwalfield So basically direct-key signature and their contents would be of higher priority then self-certifications.

What about the case, when direct-key signature is cut out and key is distributed by bad guy with non-expired certification only? Then all recipients will consider it as valid.

[2020-12-08 14:35] nwalfield commented on #1311
This is a consequence of OpenPGP's packet-based format.  An attacker could always withhold a revocation certificate, or an inconvenient self signature.  The only defense is to check for updates from multiple sources and hope that the attacker doesn't control all of the network paths.

[2020-12-11 08:01] antonsviridenko commented on #1265
https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=g10/plaintext.c;h=3e169d93fa98a0eb7974f65775745469ebe980bd;hb=4070f302e4decc8d54d1305cbd30f6dab052ef7e#l520

additional place where gpnugp does some workarounds with CR & LF characters when doing verification of detached canonical text document

[2020-12-14 17:03] ni4 opened #1360 "Add performance test which checks correct data structure usage in keys/signatures."
## Description

This FFI test should have pre-generated keyring of ~10-20k keys, cross-certified, with multiple uids and subkeys.
Main functions should be run via this keyring to make sure we do not have memory usage issues and O(N^2) or even worse complexities.
Currently it is postponed since we lack cross-certification API, signature/key deletion and so on.

List of operations:

- [ ] load keyri

[2020-12-16 11:15] ni4 opened #1363 "Add support for timestamp signatures"
## Description

We should be able to generate them and verify, via both FFI and CLI.
This link could be helpful: https://dev.gnupg.org/T4108

[2020-12-17 16:10] #1194 closed

[2020-12-20 23:55] antonsviridenko opened #1365 "Add support for canonical text document signatures (text-mode)"
## Description

It is not possible to create detached signatures of type
`0x01: Signature of a canonical text document.`
using RNP

## Expected Behavior

With new CLI option `--text` **rnp** should process the input as a  text document.

[2020-12-23 11:31] antonsviridenko commented on #515
To my understanding, 'passphrase' implies multiple words and therefore usually should be stronger than 'password' :)

[2020-12-24 08:40] #1031 closed

[2020-12-24 08:40] #1209 closed

[2020-12-25 20:42] ronaldtse commented on #1279
@ni4 @rrrooommmaaa can we have a re-check of this issue?

[2020-12-25 20:57] ronaldtse opened #1369 "New year, new release"
Time to make a new release!

[2020-12-26 11:10] rrrooommmaaa commented on #1279
On my MSVC system, cmake says `found suitable version "2.14.0", minimum required is "2.8.0"`, so we should change "required" version in CMake and it will work

[2020-12-26 14:22] ni4 commented on #1279
@rrrooommmaaa Could you please make a PR which updates required Botan version to 2.14.0 and makes sure that all CI works fine?

[2020-12-26 14:45] ni4 commented on #1369
@ronaldtse I have some code with refactoring of pgp_key_t and implementation of the issue #1214 , could we wait till those are merged (and move outstanding tasks to the next milestone)?

[2020-12-26 16:59] #1265 closed

[2020-12-27 06:30] ronaldtse commented on #1279
Sounds good guys — thanks!

[2020-12-27 06:31] ronaldtse commented on #1369
Agree @ni4 , let’s do that.

[2020-12-27 12:00] rrrooommmaaa opened #1370 "Fix Windows console output"
## Description

PR #1320 for #1312 took care of input both ACP and wide characters.
Since all strings are handled in `rnp` and `rnpkeys` internally in UTF-8 now (applicable to Windows only),
need to convert them into correct encoding for Windows console output
(probably use %S in format string and let Windows library decide, or convert in rnp code based on acp).

## Steps to Reproduce
call `./rnpk

[2020-12-27 12:08] #1312 closed

[2020-12-27 13:58] ni4 opened #1372 "Make version 0.14 release."
## Description

As title says.

[2020-12-27 13:59] ni4 commented on #1372
See #1369

[2020-12-29 15:10] #1214 closed

[2020-12-31 04:36] antonsviridenko commented on #1322
`rnp_key_remove()` is the API function to be called, right?

[2020-12-31 11:26] ni4 commented on #1322
@antonsviridenko Yeah

[2020-12-31 11:31] ni4 commented on #1217
Closing this as it implemented for a while, and needs to look nice in the 0.14 milestone.
@kaie Feel free to reopen this or create an another issue.

[2020-12-31 15:56] #1217 closed

[2021-01-03 23:41] antonsviridenko commented on #1322
@ni4 if we name the command `remove-key` then it implies it can remove one key at a time. Or the output should also count subkeys removed? I.e. how exactly number of removed keys should be calculated?

[2021-01-03 23:46] antonsviridenko commented on #1322
Which test keyring is most suitable to be used in CLI test? Or it's better to generate keys and then delete them?

[2021-01-04 09:30] ni4 commented on #1322
Let's name it `--delete-keys` then. `--delete-key` should also work within current argument parser (and probably it is worth to add CLI test for this exact case, so when we'll migrate to other parser thing will remain the same).

Here we may borrow GnuPG's behaviour. Does it display the subkey count?

Key generation should be fine, just limit it to 1024 bit RSA or EdDSA so it is quick enough.

[2021-01-04 21:10] antonsviridenko commented on #1322
No it does not display the number of keys deleted. But it asks confirmation for each subkey, public and private parts separately.

I see that some CLI commands exist in both single and plural form, like `--import-key/--import-keys`, but `--revoke-key` works with a single key only, and revoke command is somewhat close in semantics to remove command, so I thought it makes sense to make 'remove' comm

[2021-01-04 21:26] ni4 commented on #1322
That's because key revocation command is defined as `--revoke-key`, not as `--revoke-keys` in the `options[]` array.
`getopt_long()`, which is used for CLI argument parsing, allows partial matches - i.e. `--revoke-k` would also work.

[2021-01-06 15:24] jpo234 opened #1377 "Bundle version.cmake in release tarballs"
## Description

The cmake build is broken, because rnp-0.14.0/cmake/version.cmake is missing.

## Steps to Reproduce

1. Download and unpack rnp-0.14.0.tar.gz
2. run cmake

## Expected Behavior

Build environment is setup

## Actual Behavior

[code]

[2021-01-06 15:28] dewyatt commented on #1377
There's a few things here:
1) 0.14.0 has not been officially released yet and shouldn't have been tagged.
2) Delete the build directory and try again, I just tested and had no issues. Please post the full log if issues persist.

[2021-01-06 15:58] jpo234 commented on #1377
The problem is commit [2bbc59d5b254e9865557dfc758cf80264de2db68](https://github.com/rnpgp/rnp/commit/7f192753ebd85c7a6a1d74ab6e54bc214afba418#diff-251d177e3e7db921c05d14a06c2495601e4bb0e8ccfff429ac77fa6cd65786ec)

That one removed version.cmake and tries to do a download from an external URL. My development system is air gapped and couldn't do the download. I suggest that the file should be includ

[2021-01-06 17:05] dewyatt commented on #1377
Glad you got it working! Yes I pulled version.cmake out in that commit but it definitely needs to be bundled into release tarballs, which we have not done yet

[2021-01-09 10:09] ni4 opened #1379 "Possible rare incompatibility with GnuPG during symmetric decryption."
## Description

Encryption cli test failed once with the following log:

[code]

Exception/trace:
[code]

[2021-01-13 14:55] komatom commented on #1284
I vote or yubikey support in RNP too, it will be quiet nice for email.. I also tried running thunderbird over the bridge to gnupg but no luck there..

[2021-01-13 16:04] ni4 commented on #1284
@komatom While it is sort of offtopic here, still may be useful - if you are using macOS, then this might be helpful: https://bugzilla.mozilla.org/show_bug.cgi?id=1675742
I was able to make it work with Yubikey, but in a slightly weird way.

[2021-01-14 10:59] ni4 opened #1381 "Treat blank line according to RFC 4880 in cleartext signatures."
## Description

Currently we allow only really blank lines while parsing cleartext messages and computing signatures.
However, as per RFC 4880,  ` The blank line can either be zero-length or contain only whitespace, that is spaces (0x20), tabs (0x09) or carriage returns (0x0d).`.

We should change our behaviour accordingly.
Please see attached test message and a key, which expose this problem from

[2021-01-14 10:59] ni4 commented on #1381
@antonsviridenko Would you be interested in this task, as you worked with cleartext sigs/eols recently?

[2021-01-14 15:28] #1279 closed

[2021-01-14 17:50] antonsviridenko commented on #1381
sure

[2021-01-16 23:48] func0der commented on #1018
I do not know, if I should open up a new bug for this, because my problem is related to this.

I created a EDDSA + X25519 keypair in RNP and tried to use the private key with `gpg (GnuPG) 2.2.19/libgcrypt 1.8.5` which either fails with a `bad passphrase` or `bad secret key`.

I tried:
1. Created a key with `rnpkeys`
Then:
1. Exporting the private key with `rnpkeys`
2. Importing it to gpg. -> `Bad

[2021-01-16 23:54] nwalfield commented on #1018
@func0der: Could you provide an example? (The exported private key, and the otherwise empty secring.gpg.)  Thanks.

[2021-01-17 00:25] func0der commented on #1018
I tried to create a docker.sh file that could simulate the problem, but CentOS has such an outdated libgcrypt version, that gpg does not support elliptic curves yet.
Commands ran:

[code]

[privkey+secring.gpg.zip](https://github.com/rnpgp/rnp/files/5825347/privkey%2Bsecring.gpg.zip)

[2021-01-17 03:30] ronaldtse opened #1383 "RNP generated EDDSA+X25519 private key fails with "bad passphrase"/"bad secret key" in GnuPG 2.2.19/libgcrypt 1.8.5"
I do not know, if I should open up a new bug for this, because my problem is related to this.

I created a EDDSA + X25519 keypair in RNP and tried to use the private key with `gpg (GnuPG) 2.2.19/libgcrypt 1.8.5` which either fails with a `bad passphrase` or `bad secret key`.

I tried:
1. Created a key with `rnpkeys`
Then:
1. Exporting the private key with `rnpkeys`
2. Importing it to gpg. -> `Bad

[2021-01-17 03:31] ronaldtse commented on #1383
_Originally from @func0der in https://github.com/rnpgp/rnp/issues/1018#issuecomment-761703750_

I tried to create a docker.sh file that could simulate the problem, but CentOS 7 has such an outdated libgcrypt version, that gpg does not support elliptic curves yet.
So you have to try it the manual way, sorry.

Commands ran:

[code]

[privkey+secring.gpg.zip](https://github.com/rnpgp/rnp/files/582534

[2021-01-17 03:31] ronaldtse commented on #1018
Thanks @func0der for the report! I've copied this particular issue over to #1383, we will deal with it there.

[2021-01-17 03:38] ronaldtse commented on #1383
Ping @dewyatt @ni4 for triage.

[2021-01-17 09:34] ni4 commented on #1018
Thank for reporting! This is actually an issue of the GnuPG, I filed a bug some time ago: https://dev.gnupg.org/T5114

[2021-01-17 09:35] ni4 commented on #1383
This is a problem on the GnuPG side, I reported it here : https://dev.gnupg.org/T5114

[2021-01-17 12:55] func0der commented on #1383
@ni4 Neat. I could create a key with GnuPG and import it in and out of Thunbird (see bug mentioned above) and back into GnuPG without any problem. But I guess that the key'S first bit was just < 1, wans't it?
If I understand that correctly it was just (bad) luck, that I encountered the bug at all and furthermore in a non-persistent way?

[2021-01-17 13:29] ni4 commented on #1383
Actually it's not a bad luck but flip of a coin. This should happen with 50% probability - EdDSA secret keys are generated as random 256 bits.

[2021-01-18 13:45] ni4 commented on #1289
@antonsviridenko Would you like to take this one together with #1381 ?

[2021-01-18 19:03] #1251 closed

[2021-01-19 12:41] isadrastea opened #1385 "Failed to build release 0.14.0 on windows 10 (Visual Studio 2019 community)"
## Description

Describe the problem here.

## Steps to Reproduce

1.
2.
3.

## Expected Behavior

What is the expected behavior?

## Actual Behavior

What behavior did you observe instead?

[2021-01-19 13:16] ni4 commented on #86
I think this may be closed now as CI is run with sanitizers for ages and everything goes well.

[2021-01-19 13:16] #86 closed

[2021-01-19 13:18] ni4 commented on #1321
Closing this as a lot of C++ code was already written and merged.

[2021-01-19 13:18] #1321 closed

[2021-01-19 13:22] ni4 commented on #1385
@isadrastea Do you have vcpkg installed?

Also, version 0.14 is not officialy released yet (however, it is close).

[2021-01-19 13:41] isadrastea commented on #1385
https://github.com/Microsoft/vcpkg

Would you help me with some description to build latest source of rnp source ?

[2021-01-19 13:46] ni4 commented on #1385
Please see `windows-msvc.yml` file in the `./github/workflows/`. It shows what needs to be setup to build the rnp from sources within Windows/MSVC.

[2021-01-19 13:58] isadrastea commented on #1385
Solved VCPKG issue but it required some more libs.
Is it required or ...

1> [CMake]     C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/lib/lib/()libbzip2d(\.lib)
1> [CMake]     C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/lib/()libbzip2d(\.lib)
1> [CMake]     C:/Pr

[2021-01-19 13:59] isadrastea commented on #1385
Solved VCPKG issue but it required some more libs.
Is it required ?

1> [CMake]     C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/lib/lib/()libbzip2d(\.lib)
1> [CMake]     C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/IDE/CommonExtensions/Microsoft/CMake/CMake/lib/()libbzip2d(\.lib)
1> [CMake]     C:/Program

[2021-01-19 14:01] ni4 commented on #1385
Yes, list of the required packages is stored in `vcpkg.txt`, please check this line in `windows-msvc.yml`:
`vcpkg install --triplet ${{ matrix.triplet }} $(cat vcpkg.txt)`

[2021-01-19 14:03] ni4 opened #1386 "Update installation.adoc with Windows-MSVC instructions."
## Description

Currently it includes only instructions for the MinGW/MSYS2.

Related issue #1385

[2021-01-19 14:05] ni4 commented on #1088
@AlexeyMoskalenko Do you have any further questions, or we may close this issue?

[2021-01-19 14:05] ni4 commented on #1386
@rrrooommmaaa Could you please help with this?

[2021-01-19 14:08] ni4 commented on #1104
Closing this since it was fixed via #1371 and https://github.com/msys2/MINGW-packages/pull/7640

[2021-01-19 14:08] #1104 closed

[2021-01-19 14:27] isadrastea commented on #1385
vcpkg required english language pack.

![image](https://user-images.githubusercontent.com/26916642/105047619-e6071d00-5aad-11eb-80d0-de4f2c5ec497.png)

[2021-01-19 15:08] isadrastea commented on #1385
I had installed all required packages.

![image](https://user-images.githubusercontent.com/26916642/105052458-40ef4300-5ab3-11eb-9d74-58627dc29484.png)

But, build process repots library feature error for botan. (Installed version 2.16, required version was 2.14 or later)

1> [CMake] -- Looking for mkdtemp
1> [CMake] -- Looking for mkdtemp - not found
1> [CMake] -- Looking for mkstemp
1> [CMake] -

[2021-01-19 15:18] ni4 commented on #1385
Looks like botan's files are not on PATH. Also it looks strange that you are trying to build for x32, while all installed packages are x64.
Adding VERBOSE=1 to the cmake command may give some more information.

[2021-01-19 15:21] isadrastea commented on #1385
Your right!
I'm trying to build again.

[2021-01-19 15:39] isadrastea commented on #1385
![image](https://user-images.githubusercontent.com/26916642/105056639-c83eb580-5ab7-11eb-979b-9f3a4945d989.png)

Build rnp library on windows 10 x64-debug, successfully,
But, test application result have something problems.

[2021-01-19 15:41] ni4 commented on #1385
Tests should be run via ctest command. This error most likely is caused by absence of rnp's dll on PATH or in current directory.

[2021-01-19 15:53] isadrastea commented on #1385
The project rnp built static library (librnp-0.lib).

[2021-01-19 16:11] isadrastea commented on #1385
Solved the problem, the rnp_tests.exe program refer environment variable which is named "RNP_TEST_DATA".

[2021-01-19 17:36] ni4 commented on #1385
Actually everything merged to master is stable and passes all the tests on all supported platforms, including Windows/MSVC, which is tested via GHA.
Most likely you've got into some linking/compilation issues.

[2021-01-19 23:17] isadrastea commented on #1385
Thank you for kindness.

[2021-01-20 00:03] isadrastea commented on #1385
Built the librry succesfully on windows 10 visual studio 2019 community.

[2021-01-20 15:38] mkmelin commented on #1311
Any update on this?

[2021-01-20 15:45] ni4 commented on #1311
@mkmelin Didn't have a chance to get to it yet, but will prioritise.

[2021-01-20 18:13] antonsviridenko commented on #1289
@ni4 I am unable to reproduce this behaviour using
[code]
it prints errors like this
[code]

[2021-01-20 18:26] ni4 commented on #1289
@antonsviridenko just checked - while `gpg --import keyfile.asc` displays the warning about the invalid armor header, it still imports a key. Is it the same in your case?

I have gpg 2.2.26/libgcrypt 1.8.7

[2021-01-20 21:52] antonsviridenko commented on #1289
ok, it imports public key but fails to verify cleartext signature when empty line is removed

[2021-01-21 12:33] antonsviridenko commented on #1381
@ni4 what is the best place in the source tree to put function like `is_blank_line(const char *line, size_t len)` (or `rnp_is_blank_line(const char *line, size_t len)`?

[2021-01-21 15:28] rrrooommmaaa opened #1388 "Add --expiration flag to rnpkeys CLI"
## Description

Afaik, there is currently no way to set up key expiration when creating a key via `rnpkeys` CLI.

#323 says the flag should be called `--expires`.
UPD: let's call this flag `--expiration`

[2021-01-21 15:40] rrrooommmaaa commented on #1388
In GNUPG
[code]
Do we need to support all of these?

[2021-01-21 15:45] ni4 commented on #1388
@rrrooommmaaa
Hm, now it seems for me that `--expiration` would look better, what do you think?
There is a function `get_expiration()` in `rnpcfg.cpp` which may be used at the first implementation.
And, actually, it would be enough as it allows user to set any desired expiration time.

Another thing in this task is to check whether by default keys have meaningful expiration (like, 2 years).

[2021-01-21 17:32] rrrooommmaaa commented on #1388
Probably better, yes

[2021-01-21 18:46] ni4 commented on #1289
Probably that's because of the line `- Exactly one empty line not included into the message digest` in the RFC.
Then let's leave it as it is for the cleartext signature.

[2021-01-21 18:48] ni4 commented on #1381
@antonsviridenko `str-utils.h`/`str-utils.cpp` ?

[2021-01-21 21:22] antonsviridenko commented on #1381
ok

[2021-01-22 12:53] rrrooommmaaa commented on #974
Looks like this bug isn't solved yet.
[code]
The first command always works.
The second will work only if I add an option `--homedir <any existing home dir>`

@ni4 Should we give priority to this? I was planning to use this sample as a no-file example of Homebrew formula test

[2021-01-22 13:21] ni4 commented on #1369
Closed via #1376

[2021-01-22 13:22] #1369 closed

[2021-01-22 13:22] ni4 commented on #1372
Closed via #1376

[2021-01-22 13:22] #1372 closed

[2021-01-22 13:27] rrrooommmaaa opened #1394 "cli_tests fail when running in parallel on Windows/MSVC"
## Description

Looks like one of `cli_tests` consistently hangs on 2 cores on MSVC build.

Let's try and run `cli_tests` with `-j1` and others with `-j${CTEST_PARALLEL}`, maybe?
Is there an easy filter to run all tests except those matching the pattern?

[2021-01-22 13:38] ni4 commented on #974
@rrrooommmaaa Feel free to take it. However, that would require some considerations since at the beginning we cannot say for sure whether keyring is needed or not. For instance, `--password DUMMY` may be password to the secret key, to which `test.enc` is encrypted. Also even if file is symmetrically-encrypted, it may have signatures inside.
So I see the following possible solutions:
- load keyring

[2021-01-22 13:42] ni4 commented on #1394
@rrrooommmaaa Is it really a hang, not a timeout? cli_tests.Encryption test is the huge one, with a lot of key generations and so on.

[2021-01-22 14:15] rrrooommmaaa commented on #1394
It hangs on various tests, not always on `cli_tests.Encryption`, probably some random cli test becomes a victim.
Sometime https://github.com/rnpgp/rnp/pull/1393/checks?check_run_id=1747921807 `Compression` passes in 369.18 sec, `Encryption` hangs
Sometime https://github.com/rnpgp/rnp/pull/1387/checks?check_run_id=1734829333 `Encryption` passes in 496.60 sec, `Compression` hangs.
Given that timeout

[2021-01-22 15:11] ni4 commented on #1394
@rrrooommmaaa But it passed all CI when `CTEST_PARALLEL` was introduced?

[2021-01-22 15:34] rrrooommmaaa commented on #1394
Maybe it passed with old botan library

[2021-01-22 18:26] antonsviridenko commented on #1388
Maybe `--set-expiration` has more explicit meaning?

[2021-01-22 18:43] ni4 commented on #1388
`--set-expiration` could be used to change expiration time of the already existing key/subkey.

[2021-01-24 10:09] rrrooommmaaa commented on #1388
Yes, but there can't be both genkey and modify operations in one CLI call, right? So I'd vote to have a single constant for both cases

[2021-01-24 10:14] rrrooommmaaa commented on #1388
@ni4 There is also an issue when setting small expiration value (1 second). The generation is successful, but the signature creation timestamp is greater than key expiration (because it took more than 1 second for the process to complete). Some clients (`OpenPGP.js`) consider this to be an invalid signature. How does it conform to the RFC4880 standard. Should we prevent this situation from happeni

[2021-01-24 10:23] ni4 commented on #1388
In first case `--expiration/--set-expiration` is a parameter, in the second, `--set-expiration` - operation. So it may lead to some misunderstanding/complications.

This signature must be considered as invalid, does rnp mark this key as invalid?
I'd say let user play with it - this may be useful for some sort of debugging and tests creation.

[2021-01-24 10:39] rrrooommmaaa commented on #1388
Ok.
(I just wanted to create a key that is immediately expired, but I didn't want to create an invalid key and OpenPGP.js recognized that something is wrong with this key because of suspicious signature creation time)

[2021-01-25 15:43] ni4 commented on #1394
Yeah, looks like some locking occurs, see output at https://github.com/ni4/rnp/pull/12
If Compression test is run alone it takes ~270 seconds to finish.

[2021-01-26 13:07] ni4 opened #1396 "Fix warnings, reported by MSVC"
## Description

There is a lot of warnings, generated by MSVC. If not all but most of those should be re-checked and fixed.

[2021-01-29 10:55] ni4 opened #1398 "Add some sort of arm64 builds/CI if possible."
## Description

Thunderbird now has some preliminary arm64 builds (and as stated in the mailing list - including OpenPGP support).
So we should have some way to make sure that RNP works well when built for arm64/aarch64.

https://wiki.mozilla.org/Thunderbird:AArch64

[2021-01-29 17:04] ronaldtse commented on #1398
I believe @dewyatt is working on this?

[2021-01-29 17:20] #1381 closed

[2021-01-29 21:39] dewyatt commented on #1398
I have at least tried out the homebrew recipe on Apple Silicon, the executables SIGABRT because of an rpath issue that I'll look into

[2021-02-03 12:01] leder11011 opened #1400 "CR: support USB smartcard reader PC/SC"
## Description

Hi,
thanks for rnp! In order to support my secret key stored on a smartcard, I would like to see support for USB smartcard readers w/ PC/SC: e. g. from ReinerSCT.

Bye
Gerrit

## Steps to Reproduce

n/a

## Expected Behavior

What is the expected behavior?

## Actual Behavior

What behavior did you observe instead?

[2021-02-03 21:20] dkg commented on #972
just noting that 0.14.0 has apparently been released but [the blog](https://www.rnpgp.com/blog/) still claims 0.10.0 is the latest.

[2021-02-04 13:03] ni4 commented on #972
@dkg Thanks for noticing, we'll update the site.

[2021-02-08 11:55] ni4 opened #1401 "Consider to relax dearmoring code."
## Description

As reported in the https://bugzilla.mozilla.org/show_bug.cgi?id=1691307, GnuPG successfully imports armored key without valid CRC line.
As CRC doesn't add any security level, we should consider to do the same.

[2021-02-08 14:01] dewyatt commented on #1400
We definitely want to support this and I'm actively working on it.
It will take some time, it's a large feature. :)

[2021-02-08 14:26] leder11011 commented on #1400
That's definitively good news! Keep up the good work!

[2021-02-08 14:39] teythoon commented on #1018
I just wanted to mention that I have implemented a SOP frontend for RNP.  It uses RNP's library interface.

https://gitlab.com/sequoia-pgp/rnp-sop/

I implemented it so that I can use it in the OpenPGP interoperability test suite.  RNP was the only implementation left that had a custom driver, and I wanted to get rid of the custom driver, so that I can better utilize the SOP interface.  I'd be thr

[2021-02-09 12:48] rrrooommmaaa opened #1402 "Manage installation of dependent libraries on Windows MSVC"
## Description

when running `cmake --install .` on Windows MSVC build, `librnp-0.dll` is copied over to `C:\Program Files\RNP\lib`.
However, dependent libraries (botan.dll, bz2.dll, getopt.dll, json-c.dll and zlib1.dll) are not copied anywhere,
so it is problematic to find them and set path to them.

## Expected Behavior

These files should appear in  `C:\Program Files\RNP\lib`:
librnp-0.dll
bota

[2021-02-10 02:55] dkg opened #1403 "LICENSE.md contains BSD 3-Clause license but no where else in the code appears to use it."
`LICENSE.md` contains a section about "Nominet UK's BSD 3-Clause License".  The 3-clause license includes the additional "endorse or promote" caveat.

But the only files in the repository (at tag `v0.14.0` anyway) that mention Nominet are files that specifically state that the Nominet parts of them are Apache-2.0-licensed (Apache 2.0 is *also* mentioned in `LICENSE.md`, as it should be).  There is

[2021-02-10 03:09] dkg opened #1404 "cmake/Modules/FindWindowsSDK.cmake not covered by LICENSE.md."
`cmake/Modules/FindWindowsSDK.cmake` says:

[code]

`LICENSE.md` describes three licenses.  None of them are the Boost License.

[Boost License](https://www.boost.org/LICENSE_1_0.txt) is a permissive free software license:

[code]

So this isn't an incompatibility or a problem; but it is an indication that `LICENSE.md` is incomplete.

[2021-02-10 07:07] #1386 closed

[2021-02-10 07:13] ronaldtse opened #1405 "Create Windows installer for RNP via CI"
From @antonsviridenko:

e.g.
https://github.com/marketplace/actions/makensis

_Originally posted by @ronaldtse in https://github.com/rnpgp/rnp/issues/1387#issuecomment-776495597_

[2021-02-11 10:46] ni4 commented on #972
@dkg Site was updated. Could we close this issue or you still have some questions?

[2021-02-11 17:49] dkg commented on #972
thanks for updating the blog, and updating https://www.rnpgp.com/ as well.  i'm closing this.  if i have more questions about release timing/strategy/etc, i'll open other issues.

[2021-02-11 17:49] #972 closed

[2021-02-11 19:06] dkg opened #1406 "shared library naming: why librnp-0 instead of librnp ?"
When I build with `-DBUILD_SHARED_LIBS=on` on a GNU/Linux platform, tag `v0.14.0` produces a shared object file named `librnp-0.so.0.14.0`.

We have the SONAME already present in the suffix after `.so` -- the first `.0` there is the `SONAME`.

What's the rationale for *also* having `-0` in the library name?   Has there been any thought to dropping it and just being `librnp`?  It seems simpler and

[2021-02-11 19:18] dkg opened #1407 "missing manpages for `rnp` and `rnpkeys`"
Debian encourages shipping manual pages for any binary shipped.  I aim to ship `/usr/bin/rnp` and `/usr/bin/rnpkeys` in an `rnp` package, but i don't have any manual pages to ship with them.

Do you have any plans to produce manual pages?  Man pages generated from the source code itself might be the best way to ensure that the docs are kept up-to-date, but manpages kept in sync with the code by ha

[2021-02-11 20:09] dkg opened #1408 "intermittent test suite failures when run in parallel"
When i run the test suite for v0.14.0 in parallel on a machine with many cores, i get intermittent failures.

In particular, it looks like `cli_tests.py` is run multiple times concurrently, and sometimes two runs will try to produce the same output file at the same time.  During a failing test, i see this sort of output/warning fly by:

[code]

I *want* to be able to run the test suite in parallel

[2021-02-11 20:21] dkg opened #1409 "simplify build for shared library without ruby tests"
I'm building the initial debian packaging for rnp, and i'm building with `DBUILD_SHARED_LIBS=on`.  We don't have `ruby-rnp` available on that system yet (chicken and egg problem).

So i'm currently [patching out](https://salsa.debian.org/debian/rnp/-/blob/debian/main/debian/patches/0002-Avoid-tests-for-ruby-rnp.patch) the attempt to test `ruby-rnp` against the newly-built library -- and in the fut

[2021-02-11 20:29] dkg commented on #816
without any clearer rationale for the split, i do support moving `doc/tests` somewhere under `docs/` (`docs/develop/tests` sounds resaonable to me) -- it's confusing to see both folders.

[2021-02-11 20:57] dkg opened #1410 "Support offline builds"
Debian packages can't access the Internet when building.  We do want to run the test suites though.

the `googletest` debian package offers a reasonable, maintained version of `googletest` source, and it can be used instead of downloading `googletest` from the Internet.

It would be great if it was straightforward to tell the build process to look for `googletest` source in `/usr/src/googletest/go

[2021-02-11 21:08] dkg commented on #1407
sorry, I now see the troff manpages already shipping (but not installed), in `src/rnp/rnp.1` and `src/rnpkeys/rnpkeys.1`.  I'll go ahead and use them directly.

You might want to try to have the default installation step install them as well.

[2021-02-11 21:08] #1407 closed

[2021-02-11 23:08] dewyatt commented on #1410
We really should support building on systems without internet access, so we'll probably want to make this configurable I'd say.

[2021-02-11 23:11] dewyatt commented on #1410
(Similar issue with `version.cmake` as well)

[2021-02-11 23:25] dewyatt commented on #1408
This is a (probably undocumented) bug that occurs when the rnp build directory is in `/tmp`.

[2021-02-11 23:35] dewyatt commented on #1406
The rationale was pretty much as you speculated, mostly to make it clear which major version one was building against and to allow multiple major versions w/headers to be installed.

I do recall that when I initially implemented this I speculated we *may* want to drop it when releasing a stable 1.0.
Anyways, I'm ok with dropping it personally.

[2021-02-12 00:04] dkg commented on #1410
thanks!  we're also bundling `version.cmake` with the debian build as you can see in [that patch](https://salsa.debian.org/debian/rnp/-/blob/debian/0.14.0-1/debian/patches/0001-avoid-fetching-files-or-using-git-during-build.patch#L140), so yeah fixing that would be useful for us too.

fwiw, given that the cmake instructions to fetch `version.cmake` are content-indexed (they contain a github URL wi

[2021-02-12 00:05] dkg commented on #1408
i can confirm that i've only seen these failures when the build directory is in `/tmp`, but i'm mystified as to why that should be the case.  can you explain more?

[2021-02-12 00:08] dewyatt commented on #1408
It's likely to be from:
https://github.com/rnpgp/rnp/blob/c04acfda7b5faf6bec2960cb8156fd93362411b0/src/tests/cli_tests.py#L751-L753

[2021-02-12 00:17] dkg commented on #1406
Thanks for the followup.

I don't think i understand the underlying rationale for the development headers part of this:

Presumably, if the user is building software against an installed system library with development headers, they only want to be building against *one* major version of librnp at once.  Is there a situation where you'd want to build against two different versions of librnp concur

[2021-02-12 00:29] dewyatt commented on #1406
It was inspired by botan initially, I liked the idea of providing something analogous to SONAME but for the API, allowing multiple system installations of different major versions of the library & headers. "If we support that on the binary side with SONAME, why not support it for the headers?" was sort of my view IIRC.
But again, I don't mind it changing either. I'll leave it for other devs to vot

[2021-02-12 00:58] dkg opened #1414 "C++ symbol leakage in shared object (librnp-0.so.0)"
#1135 pruned a bunch of symbol visibility from the shared object, which is great.  But as I'm packaging for debian, I've generated a [list of exposed symbols](https://salsa.debian.org/debian/rnp/-/blob/debian/main/debian/librnp-0-0.symbols), which include several C++-mangled symbols I'm pretty sure you do not want to expose:

[code]

`rnp_log_switch` looks like it's just missing some `extern "C" {

[2021-02-12 02:28] dkg commented on #1406
I've just proposed #1417 as an example changeset that i think achieves this simplification.  It works for me -- but of course i won't apply it in debian if it's not something upstream is comfortable with.

If you decide not to make this change, you can just close that PR.

[2021-02-12 02:30] dkg commented on #1414
#1415 and #1416 are two different ways to address the part of this issue that covers `rnp_log_switch` -- but that's a very small part of the issue here.  I'm not sure how to get rid of the remaining symbols.

[2021-02-12 03:11] dkg opened #1418 "occasional failure of rnp_tests.s2k_iteration_tuning"
Apparently, the CPU on one of my build daemons is under intermittent heavy load.  Sometimes, all tests pass except for `rnp_tests.s2k_iteration_tuning`.

[code]

This failure information isn't particularly useful -- we just learned that the ratio is less than 6, but not what the ratio actually was.  Perhaps instead of using `assert_true` in `src/tests/cipher.cpp` (which is defined as `EXPECT_TRUE`

[2021-02-12 05:30] dkg commented on #1408
thanks for the pointer.  #1420 appears to resolve the issue for me.

[2021-02-12 09:59] ni4 commented on #1407
This man pages are quite outdated, and still needs to be rewritten. I'll handle this via #506

[2021-02-12 10:10] ni4 commented on #1406
Agree with these changes.

[2021-02-12 11:46] ni4 commented on #1409
Related issue  #1267

[2021-02-12 13:28] dkg commented on #1267
Options in order of preference from my perspective:

 - *if and only if* ruby and `ruby-rnp` are already installed (e.g. if `ruby -r rnp -e ''` succeeds quietly), run some tests with already-installed ruby-rnp pointed toward the newly-built librnp (probably via `LD_LIBRARY_PATH`)
 - if `DTEST_RUBY_RNP` is set, run some tests against the already-installed ruby-rnp, failing if ruby or ruby-rnp are n

[2021-02-12 13:30] dkg commented on #1409
Thanks for pointing to #1267, i'd missed that.  That report seems to have more useful detail, so I followed up over there, and i'm closing this report in favor of that one.

[2021-02-12 13:30] #1409 closed

[2021-02-12 18:21] ni4 opened #1421 "Check whether rnp --expiration yyyy-mm-dd correctly works during signing."
## Description

Looks like it will add calculated timestamp to the creation time instead of creation time subtraction.

[2021-02-13 05:07] ronaldtse opened #1422 "License review"
The RNP code base is now significantly different from code originally imported from third-party projects such as those from Nominet and NetBSD/NetPGP. We should perform a license review on individual files to ensure that if there is no remnant of those codes, we should no longer carry their licenses.

[2021-02-13 07:59] rrrooommmaaa commented on #1421
This is partially fixed in pending PR #1392

[2021-02-13 20:17] andreasstieger opened #1423 "packaging / bug report e-mail bounces"
## Description

`rnp` asked for bug reports to be sent to `packaging@ribose.com`. This e-mail address bounces.
https://github.com/rnpgp/rnp/blob/d440935cd257457afc865413070f7b4c4373c535/cmake/info.cmake#L29
https://github.com/rnpgp/rnp/blob/7fbb6f78939b9cf9a182be238334a51b9c35297f/src/lib/config.h.in#L28
https://github.com/rnpgp/rnp/blob/11bd963fedf86f63f2962c088ca1af4df8814a38/src/rnp/rnp.cpp#L22

[2021-02-15 10:55] andreasstieger commented on #1410
`version.cmake` is already referenced by hash, and the hash is versioned: https://build.opensuse.org/request/show/872022
For the [openSUSE package](https://build.opensuse.org/request/show/872022) the solution is bundling this file.

[2021-02-15 14:33] teythoon commented on #1401
Relevant test: https://tests.sequoia-pgp.org/#Mangled_ASCII_Armor

[2021-02-15 15:56] dkg commented on #1410
@andreasstieger agreed -- when i said "content-indexed" i meant the same thing as your "referenced by hash".  It'd be simpler if upstream just shipped the file directly.

(for debian, i might still patch it b/c i don't want any of the git auto-detection stuff to creep into the packaged binaries, but that's a separate issue)

[2021-02-15 21:09] #1418 closed

[2021-02-17 11:57] ni4 commented on #1329
Strange since `ffi_pass_callback_file` is defined correctly:
[code]

[2021-02-19 14:02] #1408 closed

[2021-02-21 18:59] dkg commented on #1423
Thanks @andreasstieger for raising this. Fixing this up is important for Debian as well.  If there's a particular preferred reporting/contact path, it'd also be nice for that to be publicized consistently across the source and documentation.

[2021-02-21 19:02] andreasstieger commented on #1423
I'd say to point it to https://github.com/rnpgp/rnp/issues by default, and make it configurable for a distribution-specific packaging bug report contact.

[2021-02-21 19:05] dkg commented on #1403
seems related to #1422

[2021-02-22 13:42] xpseudonym commented on #1217
This seems it might describe my scenario:
https://wiki.debian.org/Subkeys?action=show&redirect=subkeys
However, if it does, it's not fixed in Tb 78.7.0 (64-bit), see screenshot.
$ thunderbird --version
 Thunderbird 78.7.0
As suggested above.
$ uname -a
Linux mymachine 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
![Screenshot from 2021-02-22 12-51-36_edit](https://user-ima

[2021-02-22 14:42] #1267 closed

[2021-02-22 15:35] dkg commented on #1379
For future failures like this, it would be great to include a copy of the artifacts produced, and a description of the environment (platform, etc) that produced them.

[2021-02-22 16:05] ni4 opened #1430 "Update GHA and cli_tests.py to upload artifacts on gpg vs rnp failure."
## Description

This would help to debug rarely-appearing issues like #1379

[2021-02-22 16:06] ni4 commented on #1379
@dkg thanks, filed an issue. This should be easier now with GHA.

[2021-02-23 16:56] ni4 commented on #1423
@ronaldtse whom should be pinged for the email? Also I think that another one is needed for the security issues, which should not get into the public repository.

[2021-02-23 17:48] dkg commented on #1423
While you're thinking about security issue reporting, please ensure that the security issue e-mail address has a well-known OpenPGP certificate that can be used to receive encrypted reports.  in addition to the usual venues for cert distribution (SKS, keys.openpgp.org, WKD), you should also ship the certificate in the rnp source code so that anyone who has the source can report issues without need

[2021-02-24 11:55] ribose-jeffreylau opened #1431 "Support Nix"
## Description

Add support for [nix](https://nixos.org/) so `rnp` can be installed anywhere that Nix is supported.

See relevant PR here: <s>https://github.com/NixOS/nixpkgs/pull/114238</s> https://github.com/NixOS/nixpkgs/pull/118744

[2021-02-24 17:40] ni4 commented on #942
@antonsviridenko Would you like to take this task and finish the PR #947 so we have less mess?

[2021-02-25 09:37] antonsviridenko commented on #942
ok

[2021-02-25 10:15] ni4 commented on #942
Thanks!

[2021-02-25 12:47] ni4 opened #1432 "Do not use MSYS GnuPG builds in the Windows CI."
## Description

As from discussion in the https://dev.gnupg.org/T5309 :

[code]

[2021-02-28 12:02] antonsviridenko commented on #942
@ni4 maybe it would be better to make a new PR from scratch? :P Looks like data files do not address test cases and for unknown reasons only one API function is called in tests - `rnp_detect_key_format()`.

[2021-02-28 16:07] dkg opened #1435 "running the test suite against an installed librnp"
For the [debian testing infrastructure](https://ci.debian.net/) it's generally desirable to be able to run the test suite against the installed version of the package.

In particular, I would like to be able to run the test suite against whatever system-installed librnp is there.  But I'm not enough of a cmake guru to know how to make this happen easily.  The main examples I can see are in the `ci

[2021-02-28 19:01] ni4 commented on #942
@antonsviridenko Sure, feel free to create a new PR, and close the older one once new is merged.

[2021-03-01 04:42] dkg opened #1436 "rnp build failures on 32-bit platforms on debian"
rnp landed in debian unstable yesterday.

It's now building (or trying to build) on all of debian's supported architectures.

[you can see an overview](https://buildd.debian.org/status/logs.php?arch=&pkg=rnp) -- but the short  version is that while most 64-bit platforms appear to succeed, it looks like all of the 32-bit platforms are failing.  You can [learn more about the different platforms](htt

[2021-03-01 14:24] ni4 commented on #1285
@duckdalbe As of PR #1382 we have functions to remove userids and signatures. Will those fit your needs / could we close this issue?

[2021-03-01 23:13] dkg commented on #1410
I recommend re-opening this because #1428 only addressed the googletest issues, but did not address `cmake/version.cmake`.

it got moved out of this repo in 78d366c88c752b459bc36c33808b1490d2c34066 and is afaict now the only required external dependency needed to do the build.

[2021-03-02 02:33] dkg commented on #506
@ni4 thanks, i've just reviewed the ni4-506-update-man-and-usage-message branch, and it looks good.  I hope it gets merged soon.  I'm applying that series for debian packages as of 0.14.0-6, with an additionaly pandoc build-dep, and i think it'll be fine.

nit-picking: you might want to fix the spelling of `overridden` (not `overriden`) and `additionally` (not `additionaly`) before merging the ser

[2021-03-02 02:36] dkg commented on #506
One additional idea: you could make building the manpages conditional on some build flag, the way that `BUILD_SHARED_LIBS` is.  that way, maintainers (or folks with pandoc installed) can produce the documentation, but folks without pandoc won't find their build broken.

[2021-03-02 02:39] dkg commented on #1435
fwiw, i've uploaded some pretty simple scripts that try to exercise the stuff in `src/examples/*.c` as a first debian autopkgtest.  it would be great to have an easy way to trigger tests that exercise `rnp` and `rnpkeys` directly (e.g. the cli subset of the test suite) against the versions already found in `$PATH`.  If that's already there, i'd appreciate a pointer to it!

[2021-03-02 09:39] #1401 closed

[2021-03-02 10:52] ni4 commented on #506
Thanks, fixed that.

Right now CMake scripts don't fail if there is no pandoc present and just issue a warning. It would be good to add some CI tests for both cases, will file a separate issue for that - it's hard to do too much CMake work at once :)

[2021-03-02 10:55] ni4 opened #1437 "Add CI tests to check whether man pages are built and installed correctly."
## Description

Once PR #1425 is merged we may add or update existing CI tests to make sure that man pages are build and installed if `pandoc` is present, and build doesn't error if there is no `pandoc`.

[2021-03-02 17:25] dkg opened #1439 "s390x and sparc64 "failures" in s2k_iteration_tuning : ratios < 6"
in the [s390x debian build](https://buildd.debian.org/status/fetch.php?pkg=rnp&arch=s390x&ver=0.14.0-6&stamp=1614653756&raw=0), with #1419 applied, the `s2k_iteration_tuning` test fails with a ratio of ~1.8:

[code]

on the [sparc64 buildd](https://buildd.debian.org/status/fetch.php?pkg=rnp&arch=sparc64&ver=0.14.0-6&stamp=1614655232&raw=0) we see a ratio of ~4.4:

[code]

I've asked the buildds to

[2021-03-02 17:26] dkg commented on #1439
it's also possible that given the limits of the range of s2k iterations, and the power of modern hardware, that we just want to ignore the tuning and always turn it up to the maximum.

[2021-03-02 17:39] ni4 commented on #1439
`pgp_s2k_compute_iters()` uses `:gettimeofday()`, and quick reading tells that it's not the best solution. Looks like we should switch to the `clock_gettime` at some point.
Periodically it fails on macOS CI builds as well.

[2021-03-03 07:32] ronaldtse opened #1440 "Add CentOS 8 CI environment"

[2021-03-03 17:22] #1006 closed

[2021-03-04 01:56] ronaldtse commented on #1437
Changed to use Asciidoctor instead of Pandoc. The macOS, ubuntu, FreeBSD environments should already work with #1425 via `ci/install.sh`.

These environments need installation of Asciidoctor to generate man pages:
* CentOS 7
* Windows
* Windows MSVC

[2021-03-05 16:35] ni4 commented on #1410
@dewyatt What do you think about returning `version.cmake` to the repository, and adding some CI step which checks whether it is up-to-date?

[2021-03-05 18:00] dewyatt commented on #1410
Not a problem IMO

[2021-03-08 00:21] antonsviridenko commented on #942
@ni4 let's clarify this part

I've looked through OpenPGP spec, it does not say if any whitespace characters are allowed in front of armored message at all.
`
   Note that all these Armor Header Lines are to consist of a complete
   line.  That is to say, there is always a line ending preceding the
   starting five dashes, and following the ending five dashes.  The
   header lines, therefore, MUST

[2021-03-08 08:42] thomas-roos opened #1446 "--ignore-time-conflict in rnp command line tool"
--ignore-time-conflict known from gpg - which "GnuPG normally checks that the timestamps associated with keys and signatures have plausible values. However, sometimes a signature seems to be older than the key due to clock problems. This option makes these checks just a warning."
-> is there some option in rnp available?

[2021-03-08 10:42] ni4 commented on #1435
Unfortunately we do not have an easy way to do that right now. While there are numerous FFI tests (which tests API) and CLI tests (which do self-tests and tests against the GnuPG), those are tightly entangled.

[2021-03-08 10:47] ni4 commented on #942
@antonsviridenko Yeah, I mean whitespaces, incorrect wording. We may allow 1024 characters as well, but also add tests which make sure that things go well when there are 32K+ characters (no buffers overflowed and so on).

[2021-03-08 11:02] ni4 opened #1447 "Release version 0.15.0"
## Description

It looks like the time to release version 0.14.1, as we finished work on man pages and offline builds support, which would help package maintainers.
The only thing left unmerged, as I see, is #1417

@rnpgp/developers  do you see any other issues which we should finish before releasing 0.14.1?

[2021-03-08 11:08] ronaldtse commented on #1406
@dkg thanks for the suggestion, I agree it makes life a bit simpler for most users.

[2021-03-08 13:28] ni4 commented on #1447
@ronaldtse  As from https://github.com/rnpgp/rnp/pull/1417#issuecomment-792747264, any objections on releasing v0.15.0 instead of v0.14.1?

[2021-03-08 13:31] dewyatt commented on #1447
Sounds good to me!

[2021-03-08 22:12] ronaldtse commented on #1447
Fully agree with 0.15.0!

[2021-03-09 09:21] ni4 commented on #1446
We do not have such option yet, sorry. But how often it happens?

[2021-03-09 09:42] #1406 closed

[2021-03-09 10:20] ThomasRausU commented on #1446
We want to replace gpg by rnp. We use it to check signature and encrypt update files for embedded devices. On those devices a correct RTC is not enforced. So our updates will fail. This is a mandatory option for us.

[2021-03-09 10:34] ronaldtse commented on #1446
@ThomasRausU thanks for the suggestion, we should be able to make that work in the near-term roadmap. Thoughts @ni4 @dewyatt ?

[2021-03-09 10:41] ni4 commented on #1446
@ThomasRausU Thanks for the details, we should definitely support such usecase in our FFI and CLI. So, as I understand, with this option enabled rnp should ignore all the signature/key creation timestamps, and current timestamp inconsistency?

Or, as key and its sigs are generated on the 'normal' device with correct RTC, we should ignore only the current timestamp when checking signatures?

[2021-03-09 10:49] ni4 commented on #1435
The first things which comes to head are:
- extract from `rnp_tests` something like `ffi_tests`, which links only to the lib (on path) and doesn't use any internal headers.
- add some command like parameter, like `--installation` to the `cli-tests.py`, so it will run executables which are on PATH, and do GnuPG passes only if it is found.

[2021-03-09 10:58] ThomasRausU commented on #1446
thx - the device creating the sigs and encrypting a file the RTC is correct. But on the embedded device which is decrypting and checking the  RTC is might not correct. So then there should be an option to ignore such failures.

[2021-03-09 11:05] nwalfield commented on #1446
A better strategy would probably be to use the signature creation time as the reference time.  Then when you examine the certificate, you can still do the usual sanity checks and use the correct self signature (which it sounds like you might not be doing).

The app probably should probably also save the signature creation time in a DB and reject updates with an earlier signature creation time to a

[2021-03-09 11:22] ni4 commented on #1014
Fixed via #1053

[2021-03-09 11:22] #1014 closed

[2021-03-09 12:48] ThomasRausU commented on #1446
I dont understand correctly I think - what I wanna do is replace:
gpg --homedir /etc/gnupg/ --no-tty --pinentry-mode loopback --passphrase $SECRET --batch --yes --lock-never --no-auto-check-trustdb  --ignore-time-conflict --ignore-valid-from --decrypt /tmp/updatefile.idu | tar xz -C $TMPDIR
by
rnp --homedir=/etc/gnupg/ --password=$SECRET --decrypt /tmp/updatefile.idu | tar xz -C $TMPDIR

this is w

[2021-03-09 15:14] dkg commented on #1435
fwiw, i don't mind at all if there are tests that depend on non-RNP tooling (like GnuPG), as long as the necessary tooling is clearly identified, and dependent tests can be easily disabled if the given tool is unavailable.

My goal is to test rnp itself *as installed*, not *as locally built*.

I like @ni4's suggestion of making the ffi tests and cli tests configurable so that they can point to eit

[2021-03-09 16:00] dkg commented on #1398
[debian's CI is now doing arm64 tests and running of the `examples/` code](https://ci.debian.net/packages/r/rnp/unstable/arm64/).  to the extent that we can resolve #1437 those tests could include more coverage than just the examples.

Also, debian's [arm64 build daemons](https://buildd.debian.org/status/logs.php?pkg=rnp&arch=arm64) runs the test suite (without the ruby bindings), so hopefully tha

[2021-03-09 18:00] dkg opened #1452 "rnp with non-botan crypto backends"
I see [on bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1886958) [a couple notes](https://bugzilla.redhat.com/show_bug.cgi?id=1837512) that there are plans afoot to introduce a non-botan crypto backend for rnp.

As a packager, i'd like to understand those plans, how they are likely to be implemented, how they might affect the interface of the library (and the cli?) and what sort of choices

[2021-03-10 07:57] ronaldtse commented on #1423
Let's change to rnpgp@ribose.com . This email is only intended for non-security reporting purposes. Will follow up on security reporting.

[2021-03-10 07:57] ronaldtse commented on #1423
Bug reports should be sent to the GitHub issue tracker, as suggested by @andreasstieger (thanks!).

[2021-03-10 13:35] ni4 commented on #1452
We have received a number of requests to make RNP available for other cryptographic libraries outside of Botan, so this should not affect how you use or package RNP. The FFI and CLI interfaces will not be affected, except maybe the absence of some algorithms. We will provide more information once it is more mature.

[2021-03-12 10:43] duckdalbe commented on #1285
I guess this can be closed, yes. My work on the mentioned project is currently suspended, but next time I touch it and if these changes then have reached ruby-rnp I'll try to use them!

Thank you for caring! 👍

[2021-03-12 10:43] #1285 closed

[2021-03-12 18:08] dkg commented on #1452
@ni4, thanks for the update.  i'm glad to hear that you plan to keep the FFI and CLI interfaces clean, that makes a lot of sense.

It'll still affect how i package RNP, because as a packager i'll need to consider which backend to choose (or, if it makes sense to package it against multiple backends, by analogy with debian's curl packaging, which produces `libcurl4-gnutls`, `libcurl4-nss`, and `lib

[2021-03-12 20:37] dkg commented on #1436
fwiw, that first failure looks like a y2k38 issue -- claims `[EXPIRES 2083-05-11]` for `2fcadf05ffa501bb`, and the above shows `[EXPIRED 1947-04-04]`

[2021-03-12 20:44] dkg commented on #1447
has any attention been given to #1436?  i don't want to block a 0.15.0 release on them, but ensuring the CI passes on 32-bit systems (or at least systems with a 32-bit `time_t`) seems like it would be a worthwhile thing to consider.

[2021-03-15 13:56] dkg commented on #1436
A suggestion from a friend:

any sort of check for overflow for the internal representations would be a useful check, and it could be used to indicate that failures of specific marked tests could be ignored.

[2021-03-16 17:21] ni4 commented on #1436
Looks like the source of problem is here:
[code]

@antonsviridenko Would you like to take a look on this? Or perhaps @rrrooommmaaa ?

[2021-03-17 18:35] rrrooommmaaa commented on #1436
As I understood, `glibc` supplies `time_t` as 32-bit on (some) 32-bit systems.
Is using this library https://www.boost.org/doc/libs/1_65_1/doc/html/date_time/posix_time.html
an acceptable alternative for systems where `sizeof(time_t) < sizeof(int64_t)`?

[2021-03-18 12:58] ni4 commented on #1436
@rrrooommmaaa We have issue #1048 to introduce Boost into the project. However, within recent issues about offline builds and so on it could overcomplicate this exact issue. I think usage of uint64_t on 32-bit platforms for the aforementioned calculations would be pretty enough.
@ronaldtse  @dewyatt thoughts?

[2021-03-18 14:29] rrrooommmaaa commented on #1436
`uint64_t` is of course enough, the question is: how to convert it to `tm` structure?

[2021-03-18 17:39] ni4 commented on #1436
@rrrooommmaaa Missed that thing. Not sure what would be the better approach - looks like 32-bit `time_t` will be used for at least 3-5 years. Boost sources have lines like `::std::time_t t;` i.e. I assume (maybe wrong) that those are also rely on the system's `time_t`.

[2021-03-18 17:48] rrrooommmaaa commented on #1436
Looks like `time_duration` is 64-bit and we can convert it to `tm` or string.

[2021-03-18 18:46] ni4 commented on #1436
@rrrooommmaaa it is, but it still seem to rely on system's `gmtime()`. Also I'm concerned with timezone data files there - we may end up with bringing problems to the 99% of working systems in attempt to fix things for 1%. Basically, it is impossible to bring correct `gmtime()` functionality without timezone database files, which are usually shipped by the system.

In this case, as a fast and non-

[2021-03-18 23:10] ronaldtse commented on #1436
Agree with @ni4 for an interim solution that is a documented limitation.

[2021-03-19 05:54] rrrooommmaaa commented on #1436
I was going to suggest to output something like ">2038-01-01" in `ptimestr()` if we have overflow situation on 32-bit `time_t`.

[2021-03-19 11:52] ni4 commented on #1436
Sounds good to me.

[2021-03-19 12:16] ni4 opened #1457 "FFI: add function to retrieve default subkey for the sign/encrypt operation."
## Description

Most likely users will need some way to understand which subkey (or primary key itself) is picked for signing or encryption operation before executing it, so we should add function like `rnp_key_get_default_key(primary_key, operation_flags)`.

[2021-03-19 14:04] rrrooommmaaa commented on #1436
I can take this after having finished with my current PR #1392
if there is nothing urgent for me

[2021-03-19 14:07] ni4 commented on #1436
@rrrooommmaaa If it is possible i'd suggest to prioritise this one as it is the only issue blocking v0.15.0 release.

[2021-03-19 14:19] rrrooommmaaa commented on #1436
we don't have any failing GHA builds configured, do we?

[2021-03-19 14:26] ni4 commented on #1436
@rrrooommmaaa Yeah, as we don't have 32-bit Debian-based CI, so part of this task would be to add one :) Please see the first comment on this issue.

[2021-03-19 14:46] ni4 commented on #1436
@rrrooommmaaa for the CI you may copy `centos7.yml`, changing container to any debian on 32bit architecture with linux kernel older then 5.6 (or 5.1?). `i386/debian:9` or/and `arm32v7/debian:9`  should work.

[2021-03-20 02:38] ronaldtse commented on #1423
This is fixed in #1458.

[2021-03-21 18:53] antonsviridenko commented on #942
I've found that one of these test cases is partially addressed in `test_ffi_dearmor_edge_cases`:

https://github.com/rnpgp/rnp/blob/master/src/tests/ffi.cpp#L4135

but it tests for >1024, not 64k.
Maybe it would be better to extend `test_ffi_dearmor_edge_cases` with appropriate larger test data files instead of creating new test entry? In order to avoid duplication

[2021-03-22 10:58] ni4 commented on #942
Sure, it would be better in this case.

[2021-03-23 14:56] ni4 opened #1461 "Refresh supported platforms list in the readme.md"
## Description

It looks quite outdated.

[2021-03-24 13:49] ni4 opened #1462 "Replace list.h/list.c with C++ types."
## Description

We still have some places where plain C types from list.c are used. Those should be replaced with std::list/std::vector, depending on usage.

[2021-03-25 16:06] dkg commented on #1281
See also [this thunderbird report](https://bugzilla.mozilla.org/show_bug.cgi?id=1641720) about how they are currently working around the lack of this functionality.

[2021-03-26 13:24] ni4 commented on #1348
Ping @dewyatt @ronaldtse
Should we update? Got another difference at the PR #1463

[2021-03-26 14:18] ni4 commented on #1410
@dkg Is it good to close this now? All issues seems to be resolved.

[2021-03-26 17:57] dkg commented on #1410
yep, the master branch looks ok to me, though i haven't done extensive testing or experimentation.  i'll re-open it (or open a new issue) if i run into any other trouble on a release.  thanks for taking care of all this!

[2021-03-26 17:57] #1410 closed

[2021-03-26 18:22] dewyatt commented on #1348
I'm fine with it on my end

[2021-03-26 18:58] ronaldtse commented on #1348
Me too!

[2021-03-26 20:11] ni4 commented on #1348
Thanks, will make a PR then.

[2021-03-27 18:05] #1348 closed

[2021-03-30 19:00] #904 closed

[2021-03-31 04:20] ribose-jeffreylau opened #1465 "CI: Effects of BUILD_MODE on GPG build"
I have been working on including more platforms to build rnp on, and found that GPG and/or its components (the more recent versions) would fail to build on some platforms with `BUILD_MODE = sanitize`.  I'm wondering if this is due to the fact that `sanitize` would make GPG build with `clang` & `clang++`, and that it happened to have issues with newer codes?  The second question is, is this intende

[2021-03-31 05:02] ronaldtse commented on #1465
Perhaps this is just historical oversight? Would be strange if GPG behaves differently under gcc vs clang.

[2021-03-31 13:52] dewyatt commented on #1465
Historically we forced the sanitize CI job to use clang because, at the time, the sanitizers were not as well supported with gcc. We also used to build all library dependencies with sanitizers I think (not sure when we dropped this - maybe a step backwards...).

Regardless, I don't see an issue with sticking to gcc for building gnupg as we only consume it as an executable.

(I'm not sure if that a

[2021-03-31 14:18] dewyatt commented on #1465
I guess to summarize, feel free to unset those for the gnupg build portion of CI.

[2021-04-01 04:23] ribose-jeffreylau commented on #1465
@dewyatt Thanks for the clarification!  This has answered the question.

[2021-04-01 04:23] #1465 closed

[2021-04-01 10:04] #1436 closed

[2021-04-04 21:19] antonsviridenko opened #1467 "Support Gentoo"
## Description

Inspired by #1431. I can create Gentoo ebuild package for RNP and try to push it into the main Gentoo package repository or put it into the 3rd party repository (overlay in Gentoo terms). If there is some interest.

Gentoo is a GNU/Linux source based distribution.

[2021-04-05 03:18] ronaldtse commented on #1467
@antonsviridenko agree. Please feel free to go for it!

[2021-04-05 11:47] antonsviridenko commented on #1467
Great

@ronaldtse I have another similar idea, lets add RNP to the Buildroot packages too. Buildroot is very popular tool for building firmware images for embedded platforms.

https://buildroot.org/

[2021-04-06 14:03] ni4 commented on #1447
Thanks for your suggestion (and sorry for a bit late reply). This was fixed via PR #1459, and just today version 0.15.0 of RNP was released, so closing this issue.

cc @kaie

[2021-04-06 14:03] #1447 closed

[2021-04-06 14:04] ni4 commented on #1423
So I assume we may close this issue?

[2021-04-07 11:01] ni4 opened #1469 "Import of of public key + secret subkey fails to save the secret subkey."
## Description

When importing key, built up from public key + secret subkey, secret subkey is reported as correctly imported, but is not saved afterwards.

[2021-04-07 11:26] nwalfield commented on #1469
There is also an example key here: https://bugzilla.mozilla.org/show_bug.cgi?id=1703368

[2021-04-07 15:41] ni4 opened #1470 "Fix inconsistency between rnp_key_export_autocrypt() and find_suitable_key()."
## Description

Function find_suitable_key() was fixed in the PR #1318 to return latest encrypting subkey, however rnp_key_export_autocrypt() still returns first encrypting subkey. While it is possible to pick subkey automatically, it still should reuse find_suitable_key(). Some boolean flag could be added like 'no_primary', so it will search subkeys only.
May be related or implemented together wi

[2021-04-07 15:48] ni4 opened #1471 "Add flags to rnp_key_export() which allows to export key without the primary secret key."
## Description

Currently there are two possible ways:
- using the GnuPG's way, via custom S2K. See `gpg --export-secret-subkeys` and `PGP_S2K_GPG_NO_SECRET`
- exporting the public key packet for the primary key and secret key packets for the subkeys (see the issue #1469).

We should consider adding flags like `RNP_KEY_EXPORT_GPG_OFFLINE_PRIMARY`, `RNP_KEY_EXPORT_PUBLIC_PRIMARY` which may be used

[2021-04-08 12:08] ni4 opened #1473 "Fix Debian 9 CI build."
## Description

Periodically it fails with
[code]

[2021-04-08 21:58] nwalfield opened #1474 "RNP fails to parse the PGP Global Directory key and then fails to parse the whole keyring"
RNP fails to parse the PGP Global Directory key (50BB6FFC9719DFD2BEBB04C69710B89BCA57AD7C, also attached).

Consider:

[code]

Note: rnpkeys has reported zero keys even though it only failed to parse the first key!  This means inserting a certificate that RNP can't parse can DoS the user.

[global-directory.zip](https://github.com/rnpgp/rnp/files/6281750/global-directory.zip)

[2021-04-09 08:06] ni4 commented on #1474
@nwalfield for such cases there is a `--permissive` option, which skips malformed packets.

[2021-04-09 09:20] ni4 commented on #1423
...hm, nope, as we didn't update PACKAGING_EMAIL in the sources.

[2021-04-09 09:33] ni4 opened #1476 "Add some CI which checks version numbers in man pages in the release branch."
## Description

...to not allow #1475 to happen again.
Should work only on release branch.

[2021-04-09 10:26] nwalfield commented on #1474
That doesn't seem to work for me:

[code]

[2021-04-09 10:28] ni4 commented on #1474
@nwalfield `--permissive` should be used together with `--import`, i.e. `rnpkeys --import --permissive somekey.asc`

[2021-04-09 11:33] nwalfield commented on #1474
The case that I'm actually interested in is: an attacker provides a keyring, which is loaded via `rnp_load_keys`.  Is it possible to get `rnp_load_keys` to only fail to load malformed packets and return the rest intact?  Looking at `rnp.cpp:rnp_load_keys` that does not appear to be the case.  But, perhaps I overlooked something.

[2021-04-09 11:35] ronaldtse commented on #1474
This behavior is documented in the man pages, where encountering malformed and unknown keys/sigs during key import will cause an erred exit at the first erring packet.

[2021-04-09 12:52] ni4 opened #1478 "Signature and key do not agree on algorithm type: 17 vs 1 warning."
## Description

When importing large keys (like one attached in the issue #1474), numerous warnings are printed:
`Signature and key do not agree on algorithm type: 17 vs 1`.

It appears that we silently assume that certification revocation signature is self-signature, see `pgp_key_t::validate_self_signatures()`.
We should update code to check whether it is self-signature via signer id/fp.

[2021-04-09 12:58] ni4 opened #1479 "Consider to not fail parsing of pgp_signature_t when failed to parse unhashed subpackets."
## Description

Unhashed subpackets may be changed in any way and not protected, so probably we may ignore errors reading them.

[2021-04-09 13:17] nwalfield commented on #1474
@ronaldtse, thanks for following up.  The problem is not with importing keys, but with parsing a keyring. I've looked at `rnp.cpp:rnp_load_keys` and I can't figure out how to enable a permissive mode.  Perhaps I've overlooked something.  I'd appreciate any pointers.

[2021-04-09 13:20] ni4 commented on #1474
@nwalfield There is no permissive load for `rnp_load_keys()` as it is assumed that all keys where previously generated/imported and are correct. If something damages keyrings then it's up to user to resolve conflicts/load backup/whatever else.

[2021-04-09 14:16] nwalfield commented on #1474
Thanks for the clarification.

[2021-04-09 22:21] #942 closed

[2021-04-10 12:53] antonsviridenko commented on #1467
@ronaldtse can this https://github.com/rnpgp/rnp/releases be considered as an official source of release tarballs? Or it's better to checkout by release tags from the git repository?

[2021-04-11 12:46] nwalfield opened #1480 "rnp_key_valid_till can only return a 32-bit result"
Expiration time in OpenPGP is 33-bits.  Key creation time is 32-bits and [key expiration time](  https://tools.ietf.org/html/rfc4880#section-5.2.3.6) is a 32-bit quantity relative to the creation time:

    5.2.3.6.  Key Expiration Time

       (4-octet time field)

       The validity period of the key.  This is the number of seconds after
       the key creation time that the key expires.  If th

[2021-04-11 13:07] ronaldtse commented on #1467
@antonsviridenko I think we want to synchronise the tarballs and the release tags. For packaging purpose the tarballs should probably be considered the "source".

[2021-04-11 18:50] antonsviridenko opened #1481 "Explicitly enable or disable building man pages in cmake configuration"
## Description

As man pages are built using `asciidoctor`, current implementation just tries to autodetect presence of `asciidoctor` and depending on result either builds manpages or not. Now I am trying to create package for source-based Gentoo distro, and there building documentation is optional and configurable part, depending on user preferences. If user enables `doc` USE-flag either globally

[2021-04-12 07:04] nwalfield opened #1483 "rnp_key_valid_till is unclear"
Thunderbird 78.9.1 recently started using `rnp_key_valid_till` and I'm confused about what it is supposed to be good for.

In `rnp.h`, there is the following documentation:

[code]

First, it is not clear what "valid" means.  For instance, let's consider a revoked key: is it valid for decryption?  Of course!  Just because I revoke a key doesn't mean that I don't want to read old encrypted messages

[2021-04-12 15:24] ronaldtse commented on #1481
@antonsviridenko agree with your approach with `ENABLE_DOC`, please continue, thanks 😉

[2021-04-16 14:22] dkg commented on #1414
Can anyone upstream confirm (or reject) this leakage, either on debian or on other platforms?  I'm sort of talking to myself here, and i'd like to try to figure out what the issue is.

[2021-04-16 14:27] ni4 commented on #1414
@dkg Oops, sorry for now following up. I see the same issue on macOS, but absolutely unsure where it comes from. Didn't dig deep into since is focused on other tasks.
Maybe @dewyatt have some idea?

[2021-04-16 14:30] dkg commented on #1414
@ni4 thanks for checking in!  it looks to me like these leakages are happening because some part of the library interface implicitly refers to C++ somehow.  for example, from 0.14.0 to 0.15.0, we're now exporting `std::vector<std::array<unsigned char, 20ul>, std::allocator<std::array<unsigned char, 20ul> > >::reserve(unsigned long)@Base` -- and at the same time, `src/lib/pgp-key.h` added this line

[2021-04-16 15:38] ni4 commented on #1414
I have a feeling that symbols from `librnp-obj` are exported somehow (but still I may be completely wrong). At least this post has something about it: https://anadoxin.org/blog/control-over-symbol-exports-in-gcc.html/

[2021-04-18 09:06] antonsviridenko commented on #1467
https://github.com/gentoo/gentoo/pull/20438

[2021-04-20 10:28] dmantipov opened #1485 "[signature_validate() ../src/lib/crypto/signatures.cpp:224] wrong lbits"
Am I misusing the API?

file:///home/antipov/rnp-start/bugreport/RPM-GPG-KEY-test
file:///home/antipov/rnp-start/bugreport/t-verify-gpgme.c
file:///home/antipov/rnp-start/bugreport/t-verify.c

[2021-04-20 10:43] ni4 commented on #1485
Could you please clarify what are you trying to achieve?
Quick-looking at the code tells that you load detached signature from the buffer, and then feed signature contents to the verification process.
While detached signature should be feed with signature itself and some data (i.e. file or buffer which is signed).

[2021-04-20 12:08] dmantipov commented on #1485
Well, it seems I've misused the API just because I was confused with signature header, data of the signature itself and data which is signed by the signature :-(.

Anyway, is it possible to verify the detached signature if signed data is too large to be placed in RAM (i.e.within the only instance of `rnp_input_t` object)?

[2021-04-20 14:14] ni4 commented on #1485
@dmantipov

Sure, you may use `rnp_input_from_file()` if data is stored in file, or `rnp_input_from_callback()` in case of stdin or custom data stream.
You may find usage example in the function `cli_rnp_init_io()` from `fficli.cpp` (as our command line utilities work via FFI as well), or in our tests.

P.S. Feel free to describe your task in more details so we would be able to give more hints.

[2021-04-20 16:54] dmantipov commented on #1485
Well, consider the (large) binary file with variable-sized chunks, and only subset of the latter should be verified:

| signature | used | skip | used | skip | skip | used | used | skip |
|-----------|------|------|------|------|------|------|------|------|

It's assumed that only one USED block may be allocated in RAM at once. IOW total size of all USED blocks may be 10-100x of RAM size.

So I'm

[2021-04-20 17:57] ni4 commented on #1485
We use slightly other model - instead of feeding data to the signature verification context via init/update..update/finish, it asks caller for the data once it is needed.

So in your case you shoud:
- open your file, read signature into the memory (I guess you know it's size?).
- create memory stream via `rnp_input_from_memory()` for the signature data. Let's call it `sigin`.
- create custom strea

[2021-04-21 14:30] ronaldtse opened #1487 "FreeBSD build failing due to package `ruby25` not found"
## Description

[code]

## Steps to Reproduce

https://github.com/rnpgp/rnp/runs/2398984348

## Expected Behavior

Pass.

## Actual Behavior

Errored.

[2021-04-21 18:12] #1487 closed

[2021-04-26 19:39] ionum opened #1490 "Importing keyfile without primary key (only subkeys) does not work"
## Description

Importing only secret-subkeys does not work on Thunderbird 89.0b1

## Steps to Reproduce
1. gpg --export-secret-subkey XXXX > sub.gpg
2. Importing sub.gpg

## Expected Behavior
Can import sub-keys

## Actual Behavior
Password dialog loops

If i export the same key with gpg --export-secret-key XXXX > full.gpg everything works

[2021-04-27 04:20] ronaldtse commented on #1129
@dewyatt are you handling this? Or should we seek extra help? Thanks!

[2021-04-27 06:53] nwalfield commented on #1490
See also: https://bugzilla.mozilla.org/show_bug.cgi?id=1703368

[2021-04-27 06:56] nwalfield commented on #1480
Here's a POC that there is an overflow:

[code]

[code]

[2021-04-27 07:55] ni4 commented on #1490
@nwalfield Thunderbird's issue 1703368 is unrelated to the gpg, as there secret key packets is replaced with public key packet.
Correct issue is https://bugzilla.mozilla.org/show_bug.cgi?id=1654893

@ionum This feature is available in RNP for a while (since September, 2020, AFAIR, see #1217 ), and seems to become available in the Thunderbird soon, please see the discussion in Bugzilla for more det

[2021-04-27 07:57] ni4 commented on #1490
...closing this, as it is implemented in RNP.

[2021-04-27 07:57] #1490 closed

[2021-04-27 12:11] nwalfield commented on #1490
@ni4: Thanks for clarifying!

[2021-04-27 12:36] ni4 commented on #1480
Thanks for pointing us on this, definitely 32 bit could be not enough.

[2021-04-28 17:32] dewyatt commented on #1129
I looked at it briefly and observed that adding `-T ClangCL` leads to duplicate symbol errors. I came up with a quick workaround but it breaks all other CI.

I'd rather continue on py-rnp if someone else wants to do a proper fix here...

[2021-04-28 17:33] dewyatt commented on #1129
(Unassigning but I can come back if we have trouble finding someone)

[2021-04-29 12:47] ni4 opened #1493 "Consider to add GHA cppcheck-action static analysis to CI"
## Description

It could bring some more quality to the codebase. See
https://github.com/marketplace/actions/cppcheck-action

[2021-04-30 08:55] ronaldtse commented on #1493
Easy to add checks are excellent 😉

[2021-04-30 08:59] ronaldtse commented on #1129
Thanks for updating this, @antonsviridenko @rrrooommmaaa would you have time to make this work?

[2021-04-30 09:28] ni4 commented on #1480
Fixed via #1492

[2021-04-30 09:28] #1480 closed

[2021-04-30 09:29] ni4 commented on #1423
Fixed via #1475

[2021-04-30 09:29] #1423 closed

[2021-05-03 05:35] #1473 closed

[2021-05-03 12:49] ni4 opened #1495 "Do not mark signatures as invalid if key is expired."
## Description

If key is valid when data signature is created, then signature should be marked as valid even after key is expired or revoked.
This functionality should go to FFI and CLI, most likely via the helper function like `pgp_key_t->valid_at(timestamp)`.

[2021-05-03 20:58] nwalfield commented on #1495
Only if the key is soft revoked.  If the key is hard revoked (reason for revocation: compromised, unknown), then it should be considered invalid as an attacker could have pre-dated the signature.  See also https://docs.sequoia-pgp.org/sequoia_openpgp/types/enum.RevocationType.html#variants .

[2021-05-05 00:41] #1481 closed

[2021-05-05 13:36] ni4 opened #1497 "Update self-certifications for all userids in pgp_key_set_expiration()."
## Description

Currently we update expiration only for the latest self-signature, while we should update latest self-signature for all uids (and direct-key sigs as well). This may cause the problem like the one described here: https://bugzilla.mozilla.org/show_bug.cgi?id=1704182

[2021-05-05 13:40] ni4 commented on #1495
Thanks. Is soft/hard revocation is some common term used in the OpenPGP world? As I didn't see it before, just things described in https://tools.ietf.org/html/rfc4880#section-5.2.3.23 , like compromised/superseded/etc.

[2021-05-06 03:37] nwalfield commented on #1495
The RFC doesn't use those terms, but they are useful for distinguishing how a program should handle a revocation.  For the most part the consequences of the different soft revocations (1 and 3) are the same, and the same goes for the consequences of the different hard revocations (0, 2, >3).

[2021-05-06 11:22] ni4 opened #1498 "Delete temporary folders for rnp_tests if test succeeds."
## Description

Currently test folders (from rnp_tests) are not deleted automatically, which may lead to the /tmp bloated with rnp-gtest-* dirs.
Those should be deleted in case of successful test run, and left in case of test's failure, so we may check what went wrong/upload an artifact in the CI.

[2021-05-12 09:38] ni4 commented on #1377
Fixed via #1443, so closing this.

[2021-05-12 09:38] #1377 closed

[2021-05-14 14:49] ni4 opened #1499 "Inspect corner case with revoked userid, which is self-certified afterwards."
## Description

See more details here: https://bugzilla.mozilla.org/show_bug.cgi?id=1695724

[2021-05-18 13:34] ni4 opened #1500 "RNP CLI: Show some error message if encryption failed due to expired recipient's key."
## Description

RNP CLI doesn't show any error message if encryption failed because of expired recipient's key.

## Steps to Reproduce

`rnp -r "expired_key" somefile.dat`

## Expected Behavior

Some message is shown, like `Encryption failed: recipient's key "expired_key" is expired.`

## Actual Behavior

No message at all (however, return code is correct and non-zero).

[2021-05-18 18:14] #1440 closed

[2021-05-19 13:50] ni4 commented on #1339
Tried exporting revoked subkeys from GnuPG and importing/decrypting on RNP side, and wasn't able to reproduce the issue.

[2021-05-20 09:56] ribose-jeffreylau opened #1502 "Fix GHA failures"
CentOS and Ubuntu builds start failing.

[2021-05-20 14:31] #1502 closed

[2021-05-21 03:49] ribose-jeffreylau opened #1504 "GHA should only use build-cache step for installing into CACHE_DIR"
This causes build issues as at times this will obviously skip out things like installation of system packages, etc.

[2021-05-25 09:04] #1504 closed

[2021-05-25 16:43] ronaldtse opened #1508 "Investigate streamlining CI processes to reduce time on cross-platform debugging"
From @ni4:

_Originally posted by @ni4 in https://github.com/rnpgp/rnp/issues/1501#issuecomment-845982728_

[2021-05-25 18:11] #1497 closed

[2021-05-27 16:20] kaie opened #1510 "rnp_uid_is_valid apparenty too strict"
I was given a public key, which contains multiple user IDs.

For some of the non-revoked user IDs, rnp_uid_is_valid reports "not valid".
This is contrary to gpg's report, which doesn't complain about those user IDs.

I've looked at the packet dump, trying to understand RNP's decision.

I can see two potential reasons.

(1) A user ID signature has four subpackets that are marked as critical, 2, 9,

[2021-05-27 19:02] kaie commented on #1510
Related to Thunderbird bug https://bugzilla.mozilla.org/show_bug.cgi?id=1673993

[2021-05-28 00:56] #1311 closed

[2021-05-28 00:56] #1315 closed

[2021-05-28 00:56] #1316 closed

[2021-05-28 09:04] ni4 commented on #1510
Thanks for reporting and for investigations.
(1) RNP understand that subpackets, so this should not affect the issue.
(2) That's the reason of the issue - when checking user validity, we check whether available certification is valid and doesn't expire key.
However, I'm still not sure what would be the correct decision (and that's why originally coded it to be more strict).
RFC 4880 says at 5.2.3.

[2021-05-28 10:02] kaie commented on #1510
What is usually done when a key is extended - will all user ID binding signatures get updated?

Apparently the software that created the example key didn't do that. It kept the user ID signature unchanged.

Can we conclude that the "key expires" information in the "user ID binding signature" is purely for information purposes - only used if no better information is available?

In the scenario of a

[2021-05-28 15:39] antonsviridenko commented on #1281
How many things will break if we make everything strict by default? I.e. no weak ciphers and algos accepted in input files, no weak output produced?

We can implement something like security levels in OpenSSL, see
https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_get_security_level.html
for more details

[2021-05-28 15:42] kaie commented on #1510
I wish we had a document that clearly explained the purpose of "key expiration" inside a signature (as opposed to "signature expiration", which is obvious to understand).

It seems difficult to decide what exactly we should do.

I just performed an experiment.
- set system date to 2021-01-01
- used gpg to create a key that expires in one day
- result key has subpacket 9 in the user id signature
-

[2021-05-28 15:43] kaie commented on #1510
I will ask the owner of the example key, what software they used to change the expiration date of their key.

[2021-05-28 15:51] MartinX3 commented on #1510
@kaie In my case it was either Enigmail or GnuPG on Linux, but I hardly think it was Enigmail
I did it last year after evaluating if a 4k key is still strong enough.

[2021-05-28 15:52] kaie commented on #1281
A level may be insufficient. It may be an application decision, or even a user configuration decision, which ciphers are considered weak or not acceptable. For example, RNP supports the SM* algorithms. A user inside China might prefer to have them enabled, while a person outside China might prefer to disable them.

[2021-05-28 15:55] ni4 commented on #1510
...

Yeah, that's another complication - if key never expires, it may be indicated by absence of subpacket 9, or subpacket 9 with zero value. However, in case if direct-key signature doesn't have subpacket, what that indicates - never-expiring key, or 'this sig doesn't care about expiriation, use userid certification'.

Probably this question worth some discussion in the openpgp working group, jus

[2021-05-28 15:58] kaie commented on #1510
So, if Martin used GnuPG to change the expiration - why was the user ID signature not updated to match the new expiration?

Martin's primary key says "don't expire", but the user ID binding signature still lists a key expiration time for the primary key ID.

[2021-05-28 15:59] ni4 commented on #1281
Currently working idea is to mark definitely weak hashes/ciphers/small key size by returning some specific error code (like RNP_ERROR_WEAK_CRYPTO), so "simple" implementation will return an error, more complicated - tell the user "signature is valid, but uses weak cryptography", and add some compilation switches to disable certain algorithms.

[2021-05-28 16:02] MartinX3 commented on #1510
Ah, I shouldn't answer you email and this ticket the same time. :)

So the TL;DR from me is
Created 2014
Should expire April 2020
Extended in Enigmail to 31.03.2025

Thunderbird and GnuPG are saying 31.03.2025 for the primary and every sub key.
I don't see a "never expire" anywhere. :)

[2021-05-28 16:03] ni4 commented on #1510
Probably GnuPG's behaviour was changed at some point, I didn't investigate that deep (just tried on 2.2.27 to change key's expiry via `--edit-key`), or has some different behaviour if used via Enigmail.

[2021-05-28 16:10] ni4 commented on #1510
Oh, that should be GnuPG's output thing which is adjusted to v3 keys, which did have key expiration days in key packet itself.
v4 keys doesn't have key expiration in the key packet itself, it is stored only in signatures (direct-key or userid certification).

[2021-05-28 16:17] kaie commented on #1510
I did another experiment. Looking at the long list of many signatures was difficult to interpret. I used --edit key and minimize on Martin's key, and then looked at the packet dump of the minimized key.

For some of the user IDs, the key expiration time is listed as 10 years.
For some other user IDs, it is listed as 5 years.

Why is that? Does GnuPG offer to individually set the expiration of user

[2021-05-28 16:25] kaie commented on #1510
For the minimized key, I see one signature packet for each user ID and for each subkey. I don't see a separate signature for the primary key.

I guess this means, gnupg decides about primary key expiration based on the expiration of the subkeys.

[2021-05-28 16:27] kaie commented on #1510
Regardless of the answer to this question:

Apparently, GnuPG treats all user IDs as usable (if not revoked), even if the user ID signature says the issuer key is already expired.

I guess this means we should ignore the key expiration information in the used ID signature.

[2021-05-28 16:32] ni4 commented on #1510
There is no signature, it's just output of the GnuPG (it's a part of key packet dump code, notice expiredate variable):
[code]

[2021-05-28 17:07] kaie commented on #1510
That post describes that --edit-key can be used to select each subkey separately and change the user ID expiration time.

I cannot confirm that with current gnupg. I added a second user ID to a key. I marked first user ID as primary. Saved. Then used --edit-key again. Used "uid 2" to select the second user ID. Typed command "expire", and gnupg explains that I'm changing the expiration date of the

[2021-05-28 17:48] MartinX3 commented on #1510
Can I repair my key somehow?

[2021-05-29 08:04] ni4 commented on #1510
`gpg --edit-key`, followed by `expire` should fix the problem. However, it would be a good idea to backup your key first, and check packet structure afterwards :-)

[2021-05-29 10:36] MartinX3 commented on #1510
I did
1. `gpg --edit-key "ID"`
2. `expire`
3. `4y`
4. `save`
5. Import into Thunderbird

Sadly only the same 2 of 5 identities are visible in Thunderbird
And only the primary key got a new expire date.
I will look how to edit the expire date of the subkeys and try it again. :)

[2021-05-30 21:44] antonsviridenko opened #1513 "Implement & document integrity check procedures for RNP releases"
## Description

I've just realized that RNP does not have digital signatures and checksums published with each release.
It is a standard and expected thing for every software project, especially security related.

This one can be used as a reference.
https://gnupg.org/download/integrity_check.html

## Expected Behavior

Each source archive should be accompanied by digital signature published in th

[2021-05-31 10:02] ni4 commented on #1510
Hm, it should be somehow specific to your key - I tried test key with multiple uids, with different key expiration times, with `--faked-system-time` and so on, and each time GnuPG correctly updated key expiry for all userids. I used GnuPG 2.2.27.

[2021-05-31 10:17] ni4 commented on #1383
JFYI: This was fixed since GnuPG 2.2.24.

[2021-05-31 10:18] MartinX3 commented on #1510
That's sad
I created it with gpg in 2014 as RSA 4096-bit key

[2021-05-31 10:48] ni4 commented on #1510
@MartinX3 No worries, while fix for this issue didn't get into just released v0.15.1, we will include it into the next update.

Another possible way to solve this could be (if you have time and desire to dig into it):
- backup your secret key
- import key to some temporary GnuPG directory (`gpg --homedir .gpgtmp --import your-secret-key.asc`)
- `gpg --homedir .gpgtmp --edit-key keyname` to minimiz

[2021-05-31 15:58] ronaldtse commented on #1513
Fully agree @antonsviridenko , do you have time to take this on?

[2021-06-01 00:26] antonsviridenko commented on #1513
@ronaldtse now if I understand correctly, source archives are not compressed and uploaded explicitly by you or @ni4,  they are generated automaticaly by GitHub, am I right?

[2021-06-01 11:15] ni4 commented on #1513
@antonsviridenko Yep, those are created automatically once version tag is pushed to the GitHub. On the releases page we can edit tag to fill it up with data, attach files and so on.
So possible ways would be to include checksum to the message, and upload signatures for both tar.gz/zip.

[2021-06-01 14:02] #1304 closed

[2021-06-01 14:04] ronaldtse opened #1515 "Windows: implement check to see if home directory is writable"
From @antonsviridenko:

From @rrrooommmaaa:

A smarter implementation to create a test file or whatever is relatively simple.

_Follow up issue from https://github.com/rnpgp/rnp/issues/1484#issuecomment-851004725_

[2021-06-03 05:50] ronaldtse opened #1517 "Move doc/tests/* into docs/"
## Description

rnp source has the doc/tests directory which includes some documentation on test cases and key generation.

## Steps to Reproduce

N/A.

## Expected Behavior

We should move this documentation to docs/

## Actual Behavior

This is the only content in the doc/ folder, which is at this point unnecessary and confusing.

[2021-06-03 14:43] ni4 opened #1518 "CLI: be more verbose when asking for generated key password."
## Description

When new key is generated, CLI asks for passphrase for both key and subkey, showing only keyid.
1. This should be more verbose, so user may understand what he is asked for.
Also it could be more convenient to use the same password for the subkey instead of asking again (or ask whether user wants to use the same password).
2. If user presses return for password request, key is store

[2021-06-04 01:58] dkg opened #1519 "version.txt at v0.15.1 contains "0.15.0""
Looks to me like `version.txt` didn't get updated before making tag `v0.15.1`, because its contents still contains `0.15.0`.

While i could offer a specific fix for the `version.txt` file, i think the more important update needs to be made in whatever tooling is used to make an rnp release, so that `version.txt` gets automatically updated before a release.

[2021-06-04 02:40] ronaldtse commented on #1519
@dkg thank you for the feedback, you are absolutely right here. We need to update the release phase so that `version.txt` reflects the actual version.

[2021-06-04 02:47] dkg commented on #1519
I'm currently patching it in the [sources i've uploaded to debian](https://salsa.debian.org/debian/rnp/-/blob/debian/main/debian/patches/0001-Fix-internal-version-number.patch), which are still stuck in [NEW](https://ftp-master.debian.org/new.html).

[2021-06-04 04:09] ronaldtse commented on #1519
Right now the build process reads from `version.txt`:
https://github.com/rnpgp/rnp/blob/ed58f7dad19260448c21dfdab0781d69275d0562/cmake/version.cmake#L78-L81

However, the generation of `version.txt` is manual, as described in the release workflow document:
https://github.com/rnpgp/rnp/blob/master/docs/develop/release-workflow.adoc#update-changelog-and-version

This should be automated in the relea

[2021-06-04 05:17] antonsviridenko commented on #1500
If passed recipient is a primary key, rnp tries to use it, if it is not suitable, it scans subkeys until some suitable key is found.
Looks like if we need to give exact reason why encryption failed, we need to print why each subkey was rejected, otherwise there will be generic error "no suitable key found".  That means even if operation is successfull, but there were some expired subkeys, there wi

[2021-06-04 06:47] dkg commented on #1519
I would personally prefer if the release tarballs exactly match the
contents of the git repository -- it makes it much more straightforward
for me to with the tarballs, as required/encouraged by debian, while also
working directly from the upstream revision history (which makes it
easier to exchange substantive patches).

I think the process you're describing *doesn't* do that, so it's not my
pref

[2021-06-04 09:41] ni4 commented on #1500
@antonsviridenko For now it would be enough to just print some message in `cli_rnp_encrypt_and_sign()` on failure. Later, once #1457 is implemented, we may improve it by showing a message during recipient addition.

[2021-06-04 10:31] ribose-jeffreylau opened #1522 "GnuPG (sometimes) does not build on CentOS 8"
## Description

In the CI environment, certain combinations of env vars would cause GnuPG to not build on CentOS 8.

(And in the case of Fedora 33, almost none of the combinations would build.)

## Steps to Reproduce

1. Build GnuPG v2.3.0-beta983, Revision: c6702d77d (50800) on CentOS 8 container with `BUILD_MODE=sanitize` and `GPG_VERSION=beta`

## Expected Behavior

No build errors.

## Actual

[2021-06-04 10:36] ni4 commented on #1519
It should be my failure, just forgot to update the file before doing a release.
As far as I remember `version.txt` was added to the release branch since we had a problem with ruby-rnp tests, running on a release branch - it was not able to run correctly till there were no version.txt or tag, while tag was pushed afterwards.

As for me, it would be easier to add CI check which works on release bran

[2021-06-07 08:17] ronaldtse commented on #1519
The easiest way to resolve @dkg's concern is to maintain a `version.txt` in the `main` branch. If we do this we will have to update `version.cmake` that in the case of a non-release tag, we will continue using the git commit as versioning instead of the value from `version.txt`. Thoughts?

[2021-06-07 10:22] ni4 commented on #1519
@ronaldtse Agree with this approach! Kinda weird to see `rnp 0.0.0+git20210604.78403bb` while building from sources.

[2021-06-07 17:32] antonsviridenko commented on #1457
So basically `find_suitable_key()` can be renamed to `rnp_key_get_default_key()` with some modifications?

[2021-06-07 17:36] ni4 commented on #1457
@antonsviridenko Not exactly, as new function should be a FFI one, i.e. set parameter to instance of rnp_key_handle_t (or NULL if there is no default key), and return RNP_SUCCESS/RNP_ERROR_*

[2021-06-09 02:28] antonsviridenko commented on #1470
@ni4 What is the sorting order based on? Key creation time?

[2021-06-09 02:51] antonsviridenko commented on #1457
I've read related Thunderbird discussions, looks like more likely we need a way to configure subkey selection preferences. So users (API users and CLI users) can explicitly set how subkeys should be selected. Like most recent/most secure (based on key bits, not sure about sorting between different algorithms). Sorting order on algorithms can be also explicitly set by users. See https://www.openssl

[2021-06-09 09:41] ni4 commented on #1470
@antonsviridenko Please use `find_suitable_key()` with `PGP_KF_ENCRYPT` for that, so everywhere we use the same approach.

[2021-06-09 10:13] ni4 commented on #1457
Let's keep it simple right now, and use `find_suitable_key()` as it is at the moment. Just document it in the way "by default it selects latest valid subkey", and add some flags field (0 at the moment) so we may update the function later on.
If API user needs more complicated checks/behaviour, he may implement in the way he want by using other API calls (actually, that's how Thunderbird works at t

[2021-06-10 03:39] ribose-jeffreylau commented on #1431
Closed by https://github.com/NixOS/nixpkgs/pull/118744#event-4864254315

[2021-06-10 03:39] #1431 closed

[2021-06-10 14:28] ni4 opened #1527 "rnp_generate_key_ex() doesn't allow to generate signing subkey."
## Description

Currently it defaults to encrypt-only subkey, however it may check supplied algorithm and if it is sign-only then change subkey's usage to sign instead of failing.

[2021-06-10 14:46] ni4 opened #1528 "CLI: print if key/subkey is invalid when listing keys."
## Description

Currently `rnpkeys` CLI shows only information whether key is expired or revoked. It should be updated to display whether key is invalid, i.e. unusable due to some reasons (now self-sigs, invalid self-sigs, and so on).

Same should be done for signatures, if `--with-sigs` is specified, and for the userids.

[2021-06-10 16:56] ni4 opened #1530 "Allow to pass NULL hash parameter to `rnp_key_add_uid()`"
## Description

If it is NULL then default hash algorithm should be used.

[2021-06-10 22:31] kaie commented on #1510
The question is difficult to understand. Especially the last part "since those have valid self-signature, which expires key" I don't understand.

[2021-06-10 22:37] kaie commented on #1510
In my opinion, the API rnp_uid_is_valid should give information about the user ID indepdently of global key validity.

[2021-06-10 22:44] kaie commented on #1510
Yes, Thunderbird checks for the global key's validity status, expiration, revocation. If the key is expired or revoked, we still want to show the key in the user interface. If a key is expired, we want to show the key, because the user might want to extend the expiration date. If the key is revoked, and it is a secret key, then we also want to continue to show the key - it might be a key that the

[2021-06-11 12:53] ni4 commented on #1510
Sorry that I wasn't clear. Under "valid self-signature, which expires key" I meant valid userid certification, made by the primary key, which has key expiration time which is in the past. I.e. in this case, if there is just one userid with this certification, key would be considered as expired, but userid would be valid.

Thanks for later replies - those clear my doubts.

[2021-06-11 15:13] ni4 opened #1532 "FFI: add function rnp_key_is_expired()."
## Description

While currently user may manually check key's creation and expiration time, it would be handy to have a shortcut function instead of 3 other calls + calculations.

[2021-06-13 16:22] antonsviridenko opened #1533 "Ambiguous naming of 3DES/TRIPLEDES algorithm"
## Description

3DES algorithm is defined in RNP header as
https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h#L2727
`"TRIPLEDES"`, so if user wants to use this algorithm (weak and not recommended for modern use),
 option argument `--cipher tripledes` should be passed. But cli_tests source lists this algorithm as '3DES' in multiple places
https://github.com/rnpgp/rnp/blob/master/src/tests/c

[2021-06-14 09:47] ni4 commented on #1533
"Tripledes" most likely was used historically, not sure were it came from.
I think we should not update FFI API with multiple value variants, i.e. keep strategy "one string - one algo". However we may add some function on CLI layer, like `cli_normalize_feature_value()`, which would check predefined dictionary and return value in the form which is used in FFI. I.e. "aes-128" -> "AES128", "3-DES" ->

[2021-06-19 19:12] antonsviridenko commented on #1513
So first we need to generate release signing keys and publish them on a web page. Either someone responsible for releases should do that or everyone on team uses their keys so releases will have multiple signatures.

[2021-06-19 19:19] antonsviridenko commented on #1467
Looks like Gentoo developers are not interested in adding this new package into the main repository yet. Probably we'll have to create our own private repository (overlay in Gentoo terms) instead.

[2021-06-21 09:27] ni4 commented on #1467
Probably we may re-ping them once v0.15.2 is released.

[2021-06-22 18:05] #1519 closed

[2021-06-23 13:46] #1247 closed

[2021-06-23 14:49] ni4 opened #1538 "Print just RSA instead of RSA (Encrypt or Sign) in key listing."
## Description

As this may be confusing, giving a false assumption that key is capable of signing and encryption. Please see the discussion here: https://github.com/rnpgp/rnp/pull/1537#issuecomment-866900339

[2021-06-27 01:26] #1495 closed

[2021-06-27 02:38] ronaldtse opened #1539 "Failure in ruby-rnp test on `rnp_key_get_primary_uid failed`"
## Description

https://github.com/rnpgp/rnp/runs/2923253185?check_suite_focus=true

[code]

## Steps to Reproduce

As above.

## Expected Behavior

Passing.

## Actual Behavior

Failure.

[2021-06-27 07:52] ni4 commented on #1510
Fixed via PR #1531

[2021-06-27 07:52] #1510 closed

[2021-06-27 09:42] ni4 opened #1540 "CI: Fix symbolication of the callstacks with clang sanitizers in centos builds."
## Description

Currently call stack isn't symbolicated (at least in some cases).
According to this https://github.com/google/sanitizers/issues/1043 (and checked via Docker container), we need to install llvm-symbolizer.
Also helpful option in some cases is `LSAN_OPTIONS=fast_unwind_on_malloc=0`.

[2021-06-27 13:56] ronaldtse opened #1541 "Implement and document CPack release flow"
Right now CMake/CPack is not used for packaging releases.

We should use CPack for all releases, including: tarball, RPM, etc.

NOTE: There is a bug with RNP's usage of CPack right now that the resulting release process never ends because it adds to the package the "packaged artefacts" during building.

[2021-06-27 13:56] ronaldtse opened #1542 "Refactor CMake usage to best practices"
The setup instructions of `googletest` suggests usage of the CMake `FetchContent` commands, but we're not doing that right now:
https://google.github.io/googletest/quickstart-cmake.html

We would want to take this chance to refactor the CMake configuration and build flow using current best practices.

[2021-06-27 13:57] ronaldtse commented on #1542
Ping @thierryseegers

[2021-06-27 13:57] ronaldtse commented on #1541
Ping @thierryseegers

[2021-06-27 14:20] antonsviridenko commented on #1402
There is a MXE project that provides cross-build environment for building many free/opensource libraries for Windows, and it has some existing tools for copying DLL dependencies

https://github.com/mxe/mxe/blob/master/tools/copydlldeps.sh

https://github.com/mxe/mxe/blob/master/tools/copydlldeps.py

Can be reused as is or used as a reference.

[2021-06-27 16:09] antonsviridenko commented on #1500
closed by https://github.com/rnpgp/rnp/pull/1520

[2021-06-27 16:09] #1500 closed

[2021-06-27 16:53] #1470 closed

[2021-06-27 16:59] ronaldtse commented on #1402
CMake seems to be able to do this:
https://discourse.cmake.org/t/copying-dependent-dlls-to-executable-directory/852

[2021-06-27 21:26] thierryseegers commented on #1542
@ronaldtse Am I right in thinking that you'd ultimately like to get rid of as much workarounds/complexity as possible? I'm referring to these (there may be more):
- `GTEST_SOURCES` and whatever CMake code related to it.
- `DOWNLOAD_GTEST` and whatever CMake code related to it.
- The workaround for MSYS I see in `./github/workflows/windows.yml`.

[2021-06-27 23:21] #1530 closed

[2021-06-27 23:35] antonsviridenko commented on #1457
I see integer flags parameter in one API function
https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h#L1394
and in another case `usage flag` is a string parameter
https://github.com/rnpgp/rnp/blob/master/include/rnp/rnp.h#L761

which one should I prefer for this new function?

[2021-06-28 01:37] ronaldtse commented on #1542
@thierryseegers indeed, the less complexity we have, the easier to maintain. Thanks!

[2021-06-28 07:44] ni4 commented on #1457
@antonsviridenko hm, in this case it would be better to use string as user would need key for a single operation. Also please add uint32_t flags field, which is now zero, so we may update the behaviour in future.

[2021-06-28 07:47] ni4 commented on #1542
JFYI: GTEST_SOURCES/DOWNLOAD_GTEST were added in support of offline builds, please see https://github.com/rnpgp/rnp/issues/1410 for discussion.

[2021-06-28 07:50] ronaldtse commented on #1542
Thanks @ni4 for the reminder... let's see if we can simplify given this constraint of #1410.

[2021-06-28 10:00] ni4 opened #1544 "Release version 0.15.2"
## Description

As title says.

[2021-06-28 21:46] thierryseegers commented on #1542
@ronaldtse After a simple conversion of `ExternalProject` to `FetchContent`, a chain of annoyances ensued:
1. When building the target of `FetchContent`, the current compilation options and flags will apply, in the case of an MSVC build, it picks up `/std:c++latest` from the root `CMakeLists.txt`. This fails compilation of `@c43f710` specified in the original `gtest-CMakeLists.txt.in`. It's a sing

[2021-06-30 10:42] ni4 opened #1548 "CLI: rnp returns zero result for the unknown command."
## Description

Command like `rnp --something-wrong` returns 0, while should return non-zero result.
`rnpkeys` behaves correctly in this case.

[2021-07-03 08:39] #1388 closed

[2021-07-04 07:27] antonsviridenko commented on #1457
@ni4 let's clarify this part

So should primary key parameter be optional here? I.e. if it is set to NULL, default primary key is selected first, and then its subkeys are searched for? Or did you mean returned subkey/primary key, i.e. pointer parameter which should be filled by found subkey/primary key (or NULL) on return?

[code]
Does this declaration look as expected?

[2021-07-04 08:55] ni4 commented on #1457
No, we should not pick default key. primary key must be non-NULL.

Exactly.

Yeah. Also we may add first flag here - `SUBKEYS_ONLY`, as it was done internally for autocrypt.

[2021-07-04 12:22] ronaldtse commented on #1542
@thierryseegers thanks for #1547. Could you help with the rest of CMake usage and then CPack? Thanks.

[2021-07-05 22:39] antonsviridenko commented on #1457
ok, now I am stuck at the problem how to derive the first argument for `find_suitable_key(pgp_op_t   op, ...)`.
We don't know which operation user wants to perform using requested default key. Should we add it as an argument to this new FFI function?

[2021-07-06 08:47] ni4 commented on #1457
@antonsviridenko `const char *usage` should be used for this, or do I miss something?

[2021-07-06 11:39] antonsviridenko commented on #1457
I mean there is no 1:1 mapping between
[code]
and
[code]
So "sign" => PGP_OP_SIGN, "encrypt" => PGP_OP_ENCRYPT,
"certify" => PGP_OP_SIGN (?)
but what should be mapped to "authenticate"?

[2021-07-06 11:47] ni4 commented on #1457
@antonsviridenko Ah, got it. Just using `RNP_OP_UNKNOWN` should not cause any problems as it is used just for key lookup. Default `ffi_key_provider` doesn't use this field at all.

[2021-07-06 12:10] ni4 opened #1552 "Add some CI runner in non-UTC timezone."
## Description

As we have some timezone-related time calculations (for instance, key expiration time), we should add some non-UTC runner, making sure that things work as expected.
See #1551

[2021-07-06 15:25] ni4 opened #1553 "CLI: set some default expiration time for the generated keys"
## Description

Currently generated keys do not expire until `--expiration` option is used.
Some meaningful default should be applied (like 2 years), also it would be good to ask for it in expert key generation mode.

[2021-07-08 10:22] ni4 opened #1554 "Add CLI command to sign and verify RPMs."
## Description

RPMs use some binary format, which wraps signature as well as signed data, so it should be parsed.
This can be added as FFI function like `rnp_op_verify_rpm_create(ffi, input)`.

[2021-07-10 14:01] antonsviridenko commented on #1457
What should be the return value if there is no default key with desired parameters, success and set default_key to NULL or
RNP_ERROR_NO_SUITABLE_KEY?

[2021-07-10 17:27] antonsviridenko opened #1556 "rnp_key_get_subkey_at() implementation contains double conversion between hexadecimal and binary presentation of fingerprint"
## Description

https://github.com/rnpgp/rnp/blob/master/src/lib/rnp.cpp#L6169

[code]
`rnp_key_get_subkey_at()` uses FFI function `rnp_locate_key()` to return subkey handle, which accepts textual hexadecimal representation of fingerprint and converts it back to binary presentation inside. `rnp_key_store_search()` can be used instead, which accepts fingerprint without excess conversions. While it

[2021-07-11 07:55] ni4 commented on #1457
@antonsviridenko While in `rnp_locate_key()` we use NULL approach, I think it would be better to return RNP_ERROR_NO_SUITABLE_KEY and NULL in key, so inattentive user will not use NULL key on success.

[2021-07-12 06:25] ronaldtse opened #1558 "When `~/.gnupg` exists without `~/.rnp`, rnpkeys reads the former for default key but does not load other keys"
## Description

This is from v0.15.1.

[code]

Once I move away `~/.gnupg`, it works properly.
[code]

Question: Should we support only a single key directory or multiple?

rnpkeys should do one or multiple of the following:

1. Display a message on which key directory it is loading from ("Keyring detected at path ~/.gnupg/secring.gpg, using it")

2. When `~/.gnupg` exists, there are a few modes o

[2021-07-12 06:31] ronaldtse opened #1559 "When `~/.rnp` doesn't exist, `rnpkeys` prints out "wrong pubring path" which is uninformative"
## Description

Right after installing RNP, the first run of `rnpkeys` give this output which is incredibly uninformative...

[code]

## Expected Behavior

More informative message needed, e.g.
"Initializing ~/.rnp/ directory as keystore..."

## Actual Behavior

What behavior did you observe instead?

[code]

[2021-07-13 13:07] ni4 opened #1561 "CLI: allow to import keys from stdin"
## Description

Currently `rnpkeys` CLI allows to import key only from the file, however importing from the `stdin` may be also useful.

[2021-07-13 13:08] ni4 opened #1562 "CLI: allow to use `--keyfile` with stdin."
## Description

Currently `--keyfile` may be used only with file path, however stdin may be also useful (marked with `-`, for instance).

[2021-07-13 13:09] ni4 opened #1563 "CLI: even if --keyfile is specified rnp fails to run without home directory and keyrings."
## Description

If there is a `--keyfile` parameter RNP should not fail if home directory does not exists/pubring or secring not found.

[2021-07-14 03:53] #1556 closed

[2021-07-14 12:13] ni4 opened #1565 "Remove 3DES and SHA1 from the default generated key preferences."
## Description

While SHA1 is must not to use, 3DES is a bit obsolete and replaced by AES.

[2021-07-14 12:15] ni4 commented on #1565
@rnpgp/developers Do you have any input on this? Or should we leave 3DES for the compatibility reasons? Given that even GnuPG just issues a warning if symmetric algorithm is not in recipient's preferences.

[2021-07-15 09:48] ni4 commented on #1558
@ronaldtse `default key set to` message comes from parsing of `gpg.conf`. I suggest to change logic to the following:
- if there is `~/.rnp` directory, or `--homedir` parameter, then use it (detecting the the contents type automatically)
- if there is no `~/.rnp` but there is `~/.gnupg` (i.e. most likely first run), then ask user what does he want:
    - import GnuPG keys to the RNP keyrings and w

[2021-07-25 12:05] antonsviridenko commented on #1548
`rnp` always returns zero on `print_usage`, `rnpkeys` returns failure in the same case. Basically unknown arguments are ignored in both applications. However, should we make it a fatal error when some unknown command line argument is passed? Otherwise now command like `rnp --something-wrong --list-packets some_file` returns success, same for `rnpkeys --something-wrong --list-keys`.

[2021-07-26 03:44] ribose-jeffreylau commented on #1548
As a user, I would expect CLIs in general to reject with failure any unknown arguments.  This makes non-error cases explicit, which I think is almost always a good thing.

[2021-07-27 10:15] ni4 commented on #1548
Definitely we should return non-zero result in such cases.

[2021-07-30 11:07] #1457 closed

[2021-07-30 11:10] ni4 opened #1570 "Refactor rnp_key_get_default_key() to avoid code duplication."
## Description

Currently it duplicates some code from the `rnp_locate_key_int()`. This could be addressed by adding `require_secret` parameter to the later one, so no extra allocation/deallocation would happen. More details: https://github.com/rnpgp/rnp/pull/1557#discussion_r675110135

[2021-07-31 11:20] #1548 closed

[2021-08-02 02:42] ronaldtse opened #1571 "Improve CI build and test speeds"
Our CI builds have increased in build times since adding multiple platforms.

The Windows MSVC builds/tests are especially slow and is becoming a blocking issue for effectively merging PRs.

We need to improve our CI build/test speed.

Thanks to @maxirmx for the following analysis of CI build speeds, we know what to improve one by one.

Workflow | Job | Total time | Build and test | Build only | T

[2021-08-02 02:43] ronaldtse commented on #1571
@maxirmx could you please help here? Thanks.

[2021-08-02 12:36] ni4 opened #1572 "Improve cli_tests.py granularity"
## Description

Currently cli_tests.py separates all the tests to the few categories, so it is not possible to run single test (and quick check for failures, if single test is failed from the whole class).
It would be handier to make it more granular.

[2021-08-03 13:03] ni4 commented on #1572
It may be easily overcome in local debug via the:
`python ../rnp-build/src/test/cli_tests.py -v -d Keystore.test_import_signatures`

So closing.

[2021-08-03 13:03] #1572 closed

[2021-08-03 13:15] ni4 commented on #1563
Should be created by mistake, as rechecking it doesn't expose a problem: rnp handles well absence of the keyrings if `--keyfile` is specified.

[2021-08-03 13:15] #1563 closed

[2021-08-03 14:46] ni4 commented on #1539
Fixed via https://github.com/rnpgp/ruby-rnp/pull/72

[2021-08-03 14:46] #1539 closed

[2021-08-03 14:57] ni4 commented on #1476
Closing this as man version numbers are now automatically generated (see PR #1486).

[2021-08-03 14:57] ni4 commented on #1476
Not needed as

[2021-08-03 14:57] #1476 closed

[2021-08-04 02:32] #1024 closed

[2021-08-04 04:43] #1561 closed

[2021-08-04 04:43] #1562 closed

[2021-08-05 09:35] maxirmx commented on #1571
It looks like MSVC jobs use Debug configuration
Here is an explanation:
https://stackoverflow.com/questions/27086145/what-is-the-default-build-configuration-of-cmake/55993599#:~:text=In%20this%20answer%2C%20it%20says,the%20default%20cmake%20build%20configuration.

I believe I reproduced this issue locally.

[2021-08-05 09:36] ronaldtse commented on #1571
@maxirmx is the debug configuration causing tests to run much slower?

[2021-08-05 09:50] ni4 commented on #1571
@ronaldtse If there are no optimisations then tests would run slower indeed. Looks like we are hardcoding Debug configuration in the `windows-msvc.yml` workflow:
[code]

[2021-08-05 09:54] maxirmx commented on #1571
For -G "Visual Studio 16 2019"  build type is ignored.
cmake --build --config is required

[2021-08-05 10:05] maxirmx commented on #1571
Well, it looks like debug configuration doubles test time for MSVC
Specifically all "..dsa.." tests are ~10x slower

I changed it, we will see if it helps.

[2021-08-05 10:44] maxirmx commented on #1571
debian9 job rebuilds some or all dependencies without cashing
I believe python build takes extra 20 minutes or so

[2021-08-05 11:36] ronaldtse commented on #1571
Indeed we would want to have some aggressive caching to speed up the CI time.

[2021-08-05 15:08] maxirmx commented on #1571
I will do a fork.   Otherwise my experiments with GHA will block everybody else

[2021-08-06 09:51] ni4 commented on #1544
- fixed via #1545

[2021-08-06 10:11] #1544 closed

[2021-08-07 15:51] antonsviridenko commented on #1467
https://github.com/gentoo/api-gentoo-org/pull/418

[2021-08-07 19:00] maxirmx commented on #1571
Debian9 job uses i386 (32 bit) container and is affected by the following bug:
https://github.com/actions/checkout/issues/334
both for actions/checkout@v2 and actions/cache@v1 (v2)  if run at GHA

There are two possible solutions that can resolve the issue and allow run optimized checkout and aggressive caching:
1. Rub Debian9 in amd64 container.
2. Locate and resolve missing dynamic library [== p

[2021-08-07 21:06] antonsviridenko commented on #1467
ok, now our Gentoo overlay https://github.com/rnpgp/gentoo-rnp
is listed in official list of ovelays at https://overlays.gentoo.org/
and can be added by Gentoo users using
**layman** or **eselect-repository** tools.

[2021-08-08 07:52] ronaldtse commented on #1571
I'm not even sure why we're only testing Debian 9 but not Debian 10/11.

1. I think we should run both Debian 9 in i386 and amd64 to ensure tests work on 32-bit systems.
2. We should try to fix the i386 issue in this case.

[2021-08-08 07:59] ronaldtse commented on #1467
Thank you @antonsviridenko ! Added you as a maintainer so you have full access to the packaging workflows.

[2021-08-08 08:01] ronaldtse commented on #1467
@antonsviridenko as suggested https://github.com/gentoo/api-gentoo-org/pull/418#issuecomment-894673984 perhaps we should try adding the package to GURU?

[2021-08-08 09:29] ni4 commented on #1571
@ronaldtse Debian 9 CI was added to be able to check system with 32-bit time_t

[2021-08-08 09:43] #1570 closed

[2021-08-08 09:56] ronaldtse commented on #1571
Thanks for the reminder! We should probably test against Debian 10 and 11 as well.

[2021-08-08 13:49] andreasstieger opened #1579 "source tree no longer builds without git"
## Description

Source tree no longer builds without `git`. https://github.com/rnpgp/rnp/commit/a76dea265406307e0a23f5112ed397e5ad11c566 made git mandatory. Makes sense for developer builds, but distro maintainers need a cleaner environment to avoid loops. Add a method / switch so that the clean tree builds outside of git.

## Steps to Reproduce

1. Get the `0.15.2` tree
2. Build in a root without

[2021-08-08 14:10] antonsviridenko commented on #1579
@andreasstieger What distro do you maintain?

I agree, this should be fixed.

[2021-08-08 14:13] andreasstieger commented on #1579
This is on openSUSE: [package](https://software.opensuse.org/package/rnp), [openSUSE Tumbleweed sources](https://build.opensuse.org/package/show/openSUSE:Factory/rnp), [devel package sources](https://build.opensuse.org/package/show/security:privacy/rnp), [this problem](https://build.opensuse.org/package/show/home:AndreasStieger:branches:security:privacy/rnp), [full log](https://build.opensuse.org/

[2021-08-08 14:15] antonsviridenko commented on #1467
@ronaldtse yeah, going to try this way too

[2021-08-08 22:06] antonsviridenko commented on #1467
Looks like contributing to GURU requires bit more efforts than expected (pull requests from GitHub are not accepted),
and for end users it takes exactly same amount of efforts to install RNP package from third party repo, does not matter if it is named 'GURU' or 'rnp', but we have full control over our own repository.

[2021-08-08 22:45] antonsviridenko commented on #1517
Is this documentation still relevant? Looks like it's not. Maybe it's easier to just remove doc/ entirely?

[2021-08-09 21:18] andreasstieger opened #1583 "tests fail with GnuPG 2.3.x"
## Description

Tests fail with GnuPG 2.3.x while they work with 2.2.x. (clean build root and the package being the only difference). Reason is that GnuPG 2.3.x refuses 64 bit block ciphers unless `--allow-old-ciphers` is passed. See https://dev.gnupg.org/T3415 and https://github.com/gpg/gnupg/commit/825dd7220ff6079cbe2d0df7fde93526c077fb6d .

## Steps to Reproduce

1. build with GnuPG 2.3.x, in t

[2021-08-10 08:55] ronaldtse commented on #1571
@maxirmx now that #1582 is merged, do you have any further suggestions on how we can improve/streamline the build times?

[2021-08-10 09:26] ronaldtse opened #1584 "Find ways to reduce test times"
Here are the results from the latest runs after CI speed improvements in #1582 .

Most of the time spent now is in the "Build and Test" stage. I've taken the numbers from the most [recent run](https://github.com/rnpgp/rnp/pull/1582/checks?check_run_id=3287609325).

Some of the tests should really not be running so slow, and the point of the test may not even relate to testing time. For some it may

[2021-08-10 09:57] maxirmx commented on #1571
Some thoughts how to reduce debian9 build time by 10 min and bring overall time down to 55-56 min:

- Debian9 run each time compiles/builds automake and cmake tools.   It is required because there is no binary distributiions available for 32-bit automake and cmake.
- We could use caching but actions/cache does not work for 32-bit containers because it is based on Node.js and 32-bit Node.js is not

[2021-08-11 11:04] antonsviridenko commented on #1579
ping @ni4

[2021-08-11 16:21] ronaldtse commented on #1435
@antonsviridenko do you have time for this? Thanks!

[2021-08-11 16:31] ni4 commented on #1579
@andreasstieger Thanks for reporting! I'll take care of this.

[2021-08-11 22:08] antonsviridenko commented on #1435
ok

[2021-08-12 09:55] ni4 opened #1585 "Consider adding LGTM.com runner to the CI."
## Description

LGTM.com: Continuous security analysis

A code analysis platform for finding zero-days and preventing critical vulnerabilities

[2021-08-12 10:14] ni4 commented on #1517
@antonsviridenko as for me it may be replaced with some text, added to the `develop.adoc` about the required tests coverage once new features are implemented or (especially) bugs or corner-cases are fixed.

[2021-08-12 10:17] ni4 commented on #1583
@andreasstieger Thanks for reporting!

[2021-08-12 10:24] ni4 commented on #1571
@maxirmx I was also thinking about docker containers with all dependencies preinstalled (please see https://github.com/rnpgp/rnp/issues/1508) .  Those may be published on Github Container Registry for faster download/access speed.

[2021-08-12 13:40] maxirmx commented on #1571
It looks like deepndencies' setup takes 2 minutes for all platforms except debian.

[2021-08-12 13:42] ronaldtse commented on #1571
In this case the additional maintenance burden of docker containers is probably not worthwhile. The caching mechanisms implement are already good enough I suppose.

[2021-08-12 13:54] ni4 commented on #1584
Most of CLI tests were written to check compatibility with GnuPG on initial steps, processing large amounts of random data/generating a lot of keys and so on. Right now we do not need to generate new RSA keys in each test, compress huge files and so on.
I would suggest to add some CLI key, like `--run-expensive-tests`, and modify tests to do only necessary checks by default.

[2021-08-12 15:34] ni4 commented on #1452
@dkg JFYI: finally RNP with alternative OpenSSL backend landed master (and most likely will be included as pre-release to the v0.16.0). It may be enabled via the `-DCRYPTO_BACKEND=openssl` cmake variable.

[2021-08-13 02:26] ribose-jeffreylau opened #1586 "Public signing key not published"
## Description

The public signing key for RNP packages should be published somewhere in order for people to be able to verify package signatures.

[2021-08-13 09:45] ribose-jeffreylau commented on #1586
As mentioned in https://github.com/rnpgp/rnpgp.org/pull/44#issuecomment-898287587, the link to the PGP keys (webpage / key file) should be on the GitHub Release pages.

[2021-08-13 10:52] #1586 closed

[2021-08-13 22:36] #1579 closed

[2021-08-14 12:54] antonsviridenko commented on #1435
@dkg

Building the source for testing will be definitely required and seems like autopkgtest allows that:

will build the source tree (honouring the source package's build
dependencies), before running the tests. However, the tests are
not entitled to assume that the source package's build
dependencies will be installed when the test is run.

Tests binary should be built that is not normally built

[2021-08-14 13:16] ni4 commented on #1435
Are you talking about the tests sources or RNP sources? We may separate FFI tests from the library tests (which use sources), so part of the tests would do only calls on already built RNP via the FFI interface (like CLI does).

[2021-08-14 14:41] antonsviridenko commented on #1435
About sources from this repo in general.

[2021-08-17 10:02] ni4 commented on #288
Closing this as CMake handles headers well.

[2021-08-17 10:02] #288 closed

[2021-08-17 10:05] ni4 commented on #352
- Fixed via #1053, so closing this.

[2021-08-17 10:05] #352 closed

[2021-08-17 10:11] ni4 commented on #818
- closing this as changelog was added to the master via #1514

[2021-08-17 10:11] #818 closed

[2021-08-17 10:45] ni4 opened #1594 "CLI: display list of supported algorithms and backend in --version"
## Description

Currently it just displays version, while it would be also usable to have more detailed information on enabled algorithms and used backend.

[2021-08-17 10:46] ni4 opened #1595 "Check for the OpenSSL available features when configuring"
## Description

Currently OpenSSL backend automatically disables all non-default features, however we should check for available ones for better flexibility.

[2021-08-17 10:47] ni4 opened #1596 "Enable cli_tests runner for OpenSSL backend."
## Description

Currently only rnp_tests are run since we cannot distinguish between openssl and botan backend in runtime.

[2021-08-17 10:51] ni4 opened #1597 "FFI: add function to retrieve used backend and it's version."
## Description

Interface could be as following:
- `RNP_API const char *rnp_backend_string()`
- `RNP_API rnp_result_t rnp_backend_version(char **version)`

[2021-08-17 11:29] ni4 opened #1598 "Do not allow 64 bit ciphers for encryption without explicit option."
## Description

GnuPG since version 2.3 doesn't allow to use 64-bit ciphers (CAST5, 3DES, IDEA, BLOWFISH) without option `--allow-old-ciphers`. We should do the same.

[2021-08-17 14:29] ni4 commented on #1584
- PR #1600 reduces CLI tests run time by dropping redundant checks
- Interesting observation: rnp_tests with OpenSSL backend runs much more faster, for instance `rnp_tests.test_dsa_roundtrip` runs 173 sec with Botan and only 4 sec with OpenSSL.

[2021-08-17 14:42] ni4 opened #1601 "cli_tests: Warning, unsupported encryption algorithm: AES"
## Description

Looks like we incorrectly pass AES algorithm name in `cli_tests.py`

[code]

[2021-08-17 22:58] #974 closed

[2021-08-18 09:07] ni4 commented on #1435
@antonsviridenko Actually, if some part of the tests would require only `<rnp/rnp.h>` header then it may be compiled and work without the whole library source tree.

[2021-08-18 14:55] ni4 commented on #1559
@ronaldtse Since PR #1592 the message is as following:
[code]

- Is this good enough, or we may add something like: `Keyrings are empty. Use --generate-key command to generate a new keypair, or --import to import existing.`
- Another option would be to check whether there is populated `~/.gnupg/` directory and then add something like `GnuPG home directory found. To import all keys from the GnuPG,

[2021-08-18 15:09] ni4 commented on #1558
ping @ronaldtse

[2021-08-19 13:43] ni4 opened #1606 "CLI: add option to export all public/secret keys"
## Description

Currently we may export keys based on search string/keyid/fingerprint. In some occasions it could be useful to export all keys (despite the fact that we may just copy keyring at the moment).
In GnuPG `-a` option is used to export all of the keys.

[2021-08-20 11:22] ni4 opened #1608 "CLI: add to the rnp options --s2k-iterations and s2k-msec"
## Description

Currently these options are available only for the rnpkeys, however may be usable for rnp as well during symmetric encryption  - to make encryption stronger, make tests run faster, and so on.

[2021-08-20 14:55] ni4 opened #1609 "Remove CFG_USERINPUTFD"
## Description

CFG_USERINPUTFD is used only for tests to mock user input. There should be better way to do that (updating test cases to use CLI as an option).

[2021-08-20 15:23] ni4 opened #1610 "cli_tests: use self.assertSomething() instead of current approach."
## Description

Currently we use old approach, before the `unittest`:
[code]

However one below looks much cleaner and gives more information in case of error:

[code]

[2021-08-22 09:34] ni4 opened #1611 "CLI: add --keyfile option to the rnpkeys"
## Description

This option may be usable in the following scenarios:
- `rnpkeys --keyfile key.asc --list-keys` to list keys, stored in the file
- `rnpkeys --keyfile key.asc --generate-key` to store generated secret key in the file specified
- `rnpkeys --keyfile key.asc --export-key` to export subkey(s) or offline key
- `rnpkeys --keyfile key.asc --export-rev` to export key's revocation

[2021-08-22 11:00] ni4 opened #1612 "FFI: add option to export armored revocation to rnp_key_export_revocation"
## Description

Currently it exports only binary revocation, however it would be handier to have armored flags.
Once implemented it should be used in `cli_rnp_export_revocation()`.

[2021-08-23 05:49] ribose-jeffreylau opened #1613 "ci: Fix is_version_at_least() to check for patch version too"
Related to #1599

Right now it only checks the major and minor versions.  It should also compare the patch versions.

[2021-08-23 11:41] ribose-jeffreylau opened #1617 "Test Fedora"
Fedora 35 has been released, and should be tested.

[2021-08-23 18:10] #1613 closed

[2021-08-23 20:48] #1314 closed

[2021-08-23 20:53] #1583 closed

[2021-08-24 15:57] antonsviridenko commented on #1435
@ni4 But we need to compile tests binary anyway, it is not installed as a part of debian package or whatever binary release package.

[2021-08-25 05:56] antonsviridenko commented on #1594
Just a side note, I see that version information is printed to stderr, isn't stdout more suitable for this info?

[2021-08-25 06:01] antonsviridenko commented on #1597
`RNP_API rnp_result_t rnp_backend_version(char **version)` - why this cannot be returned as a const string, like the previous one? Version string is not expected to be modified.

[2021-08-25 09:51] ni4 commented on #1594
@antonsviridenko yeah, stdout is more suitable for this, thanks.

[2021-08-25 09:53] ni4 commented on #1597
@antonsviridenko at least while linking to OpenSSL/Botan dynamically we should retrieve their versions at run time.

[2021-08-25 09:57] ronaldtse opened #1620 "Separate jobs according to cryptographic backends"
We should separate the GHA jobs according to backends for easier tracking.

[2021-08-25 11:06] ni4 commented on #1269
Some discussion here: https://github.com/rnpgp/rnp/pull/893#issuecomment-515233738

[2021-08-25 11:31] ni4 commented on #1435
Yeah, I mean that we should compile only tests sources themselves and link to the already compiled and installed library, without using any library sources and so on.

[2021-08-27 14:07] sariug opened #1625 "How to get rid of setting a password(password cb) while generating keys"
Hello,

I am new to the library (and im def not a cryptography or something) so everything is a little bit mystery to me. A quick question is that, I do not want to set/read a password. Is it possible to get rid of that part while generating keys?

Thank you  best regards

[2021-08-28 13:23] antonsviridenko commented on #1594
Also version printing code is duplicated in `rnp` and `rnpkeys`, function `print_praise()` is identical in both programs but exists in two instances. Could be unified.

[2021-08-29 09:18] ni4 commented on #1594
Definitely, it may be moved to `fficli.h/cpp`.

[2021-08-30 12:37] #1625 closed

[2021-08-30 12:39] sariug commented on #1625
I closed the issue as the answer was helpful enough! thanks! :)

Sorry that I can't provide any more details.

A quick question though. I am failing to write the keys with armor.  Whats the way to write the keys with armor(and therefore ascii, rather than binary)? The example generates also binary.

[2021-08-30 18:19] ni4 commented on #1625
You should just add `RNP_KEY_EXPORT_ARMORED` flag to the `rnp_key_export()` call.

[2021-09-01 19:06] #1597 closed

[2021-09-02 10:25] antonsviridenko commented on #1594
@ni4 which algorithms exactly should be listed in output?

[2021-09-03 09:40] ni4 commented on #1594
Please see `gpg --version` for reference.
We have public key, symmetric, hash and AEAD algorithms at the moment. Also additionally we may list supported curves.

[2021-09-03 18:13] antonsviridenko commented on #1594
@ni4 I thought about iterating alogithm arays in https://github.com/rnpgp/rnp/blob/master/src/lib/rnp.cpp#L156
like `pubkey_alg_map[]` and printing out each item name,
but looks like they are not enclosed in macros like `#if defined(CRYPTO_BACKEND_XXX)` so it may print algorithms that actually are not supported by current backend.

[2021-09-03 19:21] ni4 commented on #1594
@antonsviridenko Those are internals, and should not be used in the CLI. You should use FFI function `rnp_supported_features()` which takes care of ifdefs and so on. If it doesn't fit please feel free to let me know.

[2021-09-04 08:56] antonsviridenko commented on #1594
yes, right, I forgot about `rnp_supported_features()`

[2021-09-05 21:23] antonsviridenko commented on #1608
@ni4 looks like configured values are used only in one single place in `rnpkeys' code
https://github.com/rnpgp/rnp/blob/master/src/rnpkeys/tui.cpp#L303

so probably rnp code should be updated to use configured values instead of defaults

[2021-09-07 08:27] ni4 commented on #1608
@antonsviridenko I'm not sure whether I understand you correctly. S2K is used in 2 cases - to protect secret key (so it is used during key generation in the code you mentioned), and to protect encrypting key used by password-based encryption. For the later one please see function `rnp_op_encrypt_add_password()`.

[2021-09-07 18:24] andreasstieger opened #1627 "Tests fail with GnuPG 2.3.x on 32 bit only `gpg: Fatal: zlib inflate problem: invalid bit length repeat`"
## Description

Tests fail with GnuPG 2.3.x on 32 bit only. Similar to #1583, but with these fixes merged the tests pass on x86_64 and fail on i586.

`gpg: Fatal: zlib inflate problem: invalid bit length repeat`

## Steps to Reproduce

1. Build 0.15.2 + cdfd31b824ba833e0d14c8844d3f144eaa922d8b

## Expected Behavior

## Actual Behavior

https://build.opensuse.org/package/show/home:AndreasStieger:br

[2021-09-08 08:50] ni4 commented on #1627
Thanks for reporting. Does this problem go away after restarting tests (i.e. not 100% reproducible)?

Relevant commands:
[code]

[2021-09-08 10:03] ni4 opened #1628 "Add C++ wrappers for FFI functions and types."
## Description

Right now it's a bit messy to use FFI from the C++ code as you need to manually destroy all objects, checking error codes and so on. It would be handier to have some C++ wrappers which would automatically destroy handles/types in destructors, use `std::string` instead of `char *` and so on.

At first glance it seems to be possible to implemented it in header-only way.

[2021-09-08 11:25] andreasstieger commented on #1627
This is reproducible on IA32 and ARM 32 bit. I can run some more on `head` and see if we get to more information here. From what I read about similar issues in GnuPG these happened before when data generated by very old GnuPG versions was consumed by current ones. As a result though this issue might be rnp generating data that GnuPG 2.3.x happens to interpret in a more strict fashion.

[2021-09-12 03:12] #1462 closed

[2021-09-15 12:26] ni4 commented on #1383
Okay, it was partially fixed for EdDSA secret key, however there is another part for Curve25519 subkey, see https://dev.gnupg.org/T5464

[2021-09-16 10:53] ni4 opened #1632 "Correct key expiration calculation related to primary uid subpacket."
## Description

If some userid has two certifications, and older one marks key as primary, and the newer one doesn't, then RNP picks up key expiration from the older one. However, newer certification should be picked.
Also userid should not be marked as primary in this case, since primary flag is dropped by newer certification.

Details and test key are available here: https://bugzilla.mozilla.org

[2021-09-24 13:55] ni4 commented on #1148
Also this brings possible performance issues for large keys import and updating.

[2021-09-30 09:21] ronaldtse opened #1636 "OpenSSL allows to generate 31-byte EdDSA secret key causing test failure"
Actually we were lucky to catch this - OpenSSL allows to generate 31-byte EdDSA secret key, which causes failure. Investigating which behaviour should be correct in this case.

_Originally posted by @ni4 in https://github.com/rnpgp/rnp/issues/1635#issuecomment-931053565_

[2021-10-04 03:22] #1636 closed

[2021-10-05 10:49] ni4 opened #1639 "Calculate default iterations count only once for FFI calls."
## Description

If default iteration count is requested, FFI calculates it for each key/subkey protection call.
This may lead to the situation where key and subkey have different iterations count.
This is not an error, just a some cosmetic defect.

[2021-10-08 10:05] ni4 commented on #984
Closing this in favour of more detailed and newer duplicate #1379

[2021-10-08 13:43] ni4 opened #1642 "Implement AEAD algorithms support for OpenSSL backend."
## Description

Currently only CFB algorithms are supported, however sooner or later we'll need to support AEAD as well.

[2021-10-10 22:32] #1383 closed

[2021-10-11 09:10] ni4 opened #1643 "CLI: dump secret key fields if cleartext, and add option to decrypt those."
## Description

Currently `rnp --dump-packets` just displays message like `cleartext secret key data: 650 bytes`. However it would be useful (for curiosity or debugging purposes) to see exact key fields. Also it would be useful to be able to decrypt those via some addition option (like `rnp --dump-packets --decrypt-keys`).

[2021-10-11 09:13] ni4 opened #1644 "CLI: add option to unwrap stream sequence."
## Description

So the only upper stream would be processed, i.e. if data is signed, compressed and then encrypted, then this command will just decrypt data, outputting compressed stream. Next `--unwrap` will decompress data, and next - verify the signatures.

Would be useful for curiosity and debugging purposes.

[2021-10-11 11:23] ni4 commented on #1499
Some more details: key contains userid revocations, not the key revocations. So, since key itself wasn't compromised, and user just revoked and then certified userid back, we should not mark such userid (and key) as invalid.

[2021-10-13 09:36] ronaldtse commented on #1585
@ni4 I've added LGTM, and we need to configure its build:
<img width="1130" alt="Screenshot 2021-10-13 at 5 35 09 PM" src="https://user-images.githubusercontent.com/11865/137107720-848130cc-0b1d-45c8-b11d-1c3b4fa87e3e.png">

Relevant link:
https://lgtm.com/help/lgtm/customizing-code-extraction

Sample configuration file:
[code]

Badge:
[code]