[2017-03-23 09:54] ronaldtse opened #1 "Key generation does not write to the specified location"
1.

[code]
Writes to:
[code]

2.
[code]
Writes to:
[code]

[2017-03-23 09:59] ronaldtse opened #2 "Signing a file should respect keyring location options"
This works:
[code]

This doesn't work:
[code]

This is the same for `rnpkeys` too.

[2017-03-23 10:24] ronaldtse opened #3 "rnpverify should support verification of ASCII armored messages"
[code]
=>
[code]

But:
[code]
=>
[code]

[2017-03-23 10:26] ronaldtse opened #4 "Command line options for all executables should be consistent"
* `--homedir` is supported in `rnp`, `rnpkeys` but not `rnpverify`.
* `--keyring` is used in `rnp`, `rnpkeys` but `rnpverify` uses `-k`.

[2017-03-23 10:27] ronaldtse opened #5 "Verify command should fail gracefully if reading a file not in OpenPGP format"
[code]
=>
[code]

[2017-03-23 10:50] ronaldtse opened #6 ""--help" option doesn't actually work and gives out useless messages"
netpgp:
[code]

netpgpverify:
[code]

`netpgpkeys --help` does work.

[2017-03-23 10:58] ronaldtse opened #7 "Use external JSON C library instead of libmj"
Since we haven't got enough hands on this it is preferred to utilize a well-maintained, external, JSON C library instead of the original.

[2017-03-23 11:00] ronaldtse opened #8 "Replace OpenSSL dependency with the Botan cryptographic library"
OpenSSL while used ubiquitously, it comes with the burden that it is version locked due to its status of a system library.

We'd like to replace it with the [Botan](http://botan.randombit.net) library, which supports a number of algorithms we wish to work with.

[2017-03-23 11:21] ronaldtse opened #9 "Portability of vasprintf and asprintf"
`vasprintf` and `asprintf` are provided in *BSD but in Linux requires defining `__GNU_SOURCE__` to work.

`asprintf` already has its equivalent of `pgp_asprintf` in `libnetpgp` but not `vasprintf`.

We should probably borrow a compatible implementation of `vasprintf` that matches the BSD license.

[2017-03-23 11:24] ronaldtse opened #10 "Heavily DRY out codebase"
Some of the executables are compiled on duplicated code in the codebase. For example, `netpgpverify` has its own copy of `libverify.c` but there is another one in `libverify`.

All executables should utilize a single copy of common code.

[2017-03-23 15:01] ronaldtse opened #11 "Prune spurious 'keyring not found' output shown on every single command"
Almost every command with `netpgp` shows up with this output preceding any action (if there is no `${HOME}/.gnupg`):

[code]

This should show useful output instead.

[2017-03-23 15:17] ronaldtse opened #12 "Clean up unused files"
The repo is littered with unused files such as:
* presentation files
* files containing TODOs
* unused libraries

[2017-03-23 15:17] ronaldtse opened #13 "Replace libdigest and librsa with Botan"
`libdigest` and `librsa` in NetPGP implements a number of cryptographic algorithms, but it would be much better to use a fully tested and maintained external library like Botan.

[2017-03-23 15:21] ronaldtse opened #14 "Replace bzlib.{h,c} and zlib.{h,c} usage with external libraries"
We don't want to maintain bzlib and zlib in code.

Let's replace them with bzip and zlib libraries.

[2017-03-23 15:53] ronaldtse opened #15 "Replace libbn (for BIGNUM) with external library"
Currently `libbn` is basically a wrapper/copy of the [libtommath library](https://github.com/libtom/libtommath).

It is better to directly link with a well-maintained external multi-precision integer library, instead of incorporating its source code directly.

Options are:
* [MPIR](http://mpir.org)
* [GMP](https://gmplib.org)
* [libtommath](https://github.com/libtom/libtommath)

[2017-03-23 16:04] ronaldtse opened #16 "Use a faster base64 implementation"
A very helpful base64 implementation [comparison](https://github.com/gaspardpetit/base64/).

[2017-03-23 18:19] ronaldtse opened #17 "Make rnp compatible with Debian based systems and apt"
Make rnp compatible with Debian based systems and apt.

[2017-03-23 18:25] ronaldtse opened #18 "Support non-RSA public keys"
While it is technically supposed to support ElGamal, etc non-RSA algorithms, the code is now hard-coded to only use RSA.

This task is to complete support of non-RSA schemes.

[2017-03-23 23:57] ronaldtse opened #19 "Key generation without passphrase should not fail silently"
Key generation via `rnp` command requires a passphrase, but there is no error when an empty passphrase is entered yet there is no key generated, which is confusing for people who use it as a `gpg` replacement.

We should allow generating keys with or without passphrase, and provide proper error messages if anything bad happens.

[2017-03-24 14:49] dewyatt opened #21 "rnpkeys --import-key should actually save to disk"
Currently it only imports to an in-memory keyring and does not save to disk.

[2017-03-24 15:18] ronaldtse commented on #21
I suppose it should have been called `--import-key-and-discard` ;-)

Let's fix this soon.

[2017-03-25 15:57] dewyatt opened #24 "GnuPG 2.1 keys will fail to parse (Issuer Fingerprint)"
This is due to the addition of an experimental signature subpacket (the issuer fingerprint SIGSUBPKT_ISSUER_FPR).

[2017-03-26 01:44] ronaldtse commented on #24
@dewyatt just to clarify: both secret keys and public keys generated by GnuPG 2.1 fails to get imported?

[2017-03-26 02:15] dewyatt commented on #24
@ronaldtse Correct. For example, I have GnuPG 2.1.19. All keys generated, public and secret, have this experimental signature subpacket that is currently unsupported in rnp and will cause pgp_parse to fail.

pgpdump will show what I suspect is the culprit as "Hashed Sub: unknown(sub 33)(21 bytes)".

The fix may be very simple, I just haven't looked into it yet.

[2017-03-26 02:16] dewyatt commented on #24
(Side note: Another incompatibility with GnuPG 2.1 would be the new keyring format (.kbx), but maybe that doesn't matter right now.)

[2017-03-26 05:16] shaunwheelhouse commented on #9
Having given it some consideration I think that it would be productive to make a list of targets that would be impacted by the absence of these functions from both BSD and GNU. While we could include a suitably permissive borrowed implementation they are yet another thing that needs to be maintained. I think we'd be better off requiring the build target to provide them unless ubiquity is a major r

[2017-03-26 07:44] shaunwheelhouse commented on #9
For reference here are some notes on where they're used. A few were comments and forward declarations.

1. lib/packet-print.c:pgp_sprint_keydata:465

   Formats five strings and an integer from a PGP key to a string. We could consider using a user-supplied buffer here and raising an error if it would have overflowed.

2. lib/packet-print.c:pgp_hkp_sprint_keydata:617

   Formats numeric fields to a

[2017-03-26 14:06] ronaldtse opened #25 "Adopt RFC4880bis-01 draft"
Need to describe the implementation gaps with the [RFC4880bis-01 draft](https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-01), and figure out priority to implement them.

[2017-03-26 14:10] ronaldtse opened #26 "Implement RFC4880bis OpenPGP V5 fingerprint"
As title.

https://gitlab.com/openpgp-wg/rfc4880bis/commit/ba4f884c6d5483071d6adbc1e43978b60980440a

[2017-03-26 14:13] ronaldtse opened #27 "Support RFC 6637 (ECC for OpenPGP)"
[RFC 6637](https://tools.ietf.org/html/rfc6637) defines ECC usage in OpenPGP.

Specifically, it defines:

* ECC Curves: "Curve P-256", "Curve P-384", and "Curve P-521".
* Public Key Algorithms with ID 18 (ECDH public key algorithm) and 19 (ECDSA public key algorithm)

Support of Ed25519 (EdDSA) is in a separate issue #109

[2017-03-26 14:32] ronaldtse commented on #9
@shaunwheelhouse completely agree: places that can be used with a fixed buffer should do exactly that.

5. is only used for printing for human reading in `libverify/libverify.c`. Instead of making one dynamic buffer, perhaps we can join up smaller string buffers with deterministic length when printing to screen.

For the calls about SSH keys, a number of people use PGP keys for SSH authentication,

[2017-03-26 15:18] ronaldtse opened #28 "Update README to sign rnp yum package with rnp itself"
Currently the rnp yum package is signed using GnuPG's `gpg` command, which should really be `rnp`. We need to update the commands to reflect this.

[2017-03-26 17:05] ronaldtse opened #29 "Making librnp available on iOS"
Making librnp available on iOS.

[2017-03-27 01:39] ronaldtse opened #30 "Yum: define proper packages: rnp, librnp, and librnp-devel"
It is unnecessary to create separate packages for different executables such as `rnp`, `rnpv`. Let's bundle them together and only have 2 packages: executables and the development library.

UPDATE: As mentioned by @zgyarmati we shall have `rnp`, `librnp` and `librnp-devel` packages.

[2017-03-27 01:58] shaunwheelhouse commented on #9
That's fair. In that case I'll get working on pruning the unnecessary points out now. 👍

[2017-03-27 03:47] shaunwheelhouse opened #31 "Builds not working from outside the source tree"
It would be helpful if builds were working outside the source tree but currently doing so fails due to an unresolved include:

[code]

[2017-03-27 07:01] shaunwheelhouse commented on #1
I'll look into this now, it's important that we have deterministic key directories for testing. 🔧

[2017-03-27 07:41] ronaldtse commented on #1
@shaunwheelhouse I think we need to clean up key location functionality in general, and `--homedir` feels confusing to me.

Maybe instead of `--homedir` and `--keyring`, we could have something like:

* `--keyring` that points directly at a keyring file
* `--keyring-dir` that points to a directory that contains keyrings (e.g., by default it generates `pubring.gpg` and `secring.gpg`)

The option na

[2017-03-27 07:43] shaunwheelhouse commented on #1
I think that's far more intuitive, we should make the change. 👍

[2017-03-27 07:49] ronaldtse commented on #1
A second thought: maybe for `netpgpkeys` we don't even need these options, but we can simply assume that the argument without `--` prefix is the keyring location?

Adds a key to the specified keyring, or creates it:
[code]

Adds a key to `secring.gpg` keyring in `keyring-dir`:
[code]

And by default `keyring-dir=${HOME}/.gnupg`?

[2017-03-27 07:53] shaunwheelhouse commented on #1
That does have a much less "frameworked" feel to me which I think is good for utilities like this. Sane defaults with easy and predictable overrides. I like it. It might be worth considering adding a `-d/--directory` switch though to prevent accidental mistakes.

[2017-03-27 07:54] ronaldtse commented on #1
Agree @shaunwheelhouse . Let's do it this way then.

[2017-03-27 07:55] shaunwheelhouse commented on #1
@ronaldtse Sounds good. In the interim I have a temporary fix that should at least get it behaving predictably for you.

[2017-03-27 08:08] ronaldtse opened #33 "Abstract out keyring read/write functionality in preparation for keybox read/write"
GnuPG 2.1 now uses the `.kbx` format for key storage instead of the previous `.gpg` keyring.

In any case, the `.gpg` keyring format is not defined in RFC 4880, but is a GnuPG-proprietary format that uses an OpenPGP message to store keys together with "Trust Packet"s. Normal OpenPGP messages do not have the "Trust Packet" (Tag 12), and the "Trust Packet"s are not exported. The contents of the "Tru

[2017-03-27 09:42] shaunwheelhouse opened #34 "netpgp_init crash when using libnetpgp"
I wrote a small test unit and found that libnetpgp causes an access violation when it attempts to read the "homedir" variable in netpgp_init:

[code]

Resulting in:

[code]

I suspect this is as a result of a null pointer finding its way to strcmp when an expected variable is not set. If it happens with "coredumps" it will likely happen with "homedir" as well.

[2017-03-27 17:50] dewyatt commented on #34
Yes, currently you *must* set homedir before calling netpgp_init. It's one of the various undocumented oddities of libnetpgp.

The way I was using it before switching to lower-level functions, was something like:

[code]

[2017-03-27 18:16] dewyatt commented on #34
Ah actually it crashes because netpgp_t currently needs to be zeroed prior to use, otherwise netpgp->c is not 0 and findvar will try to read garbage. At least that's my conclusion from a quick look.

Honestly I think the netpgp_* layers are a bit weird all around. The global variable store makes things difficult to debug sometimes (things like not setting "need seckey" at times can cause crashes t

[2017-03-27 18:40] dewyatt opened #35 "Key flags are not really handled"
(RFC4880 5.2.3.21)
Key flags are *parsed* but not utilized beyond that. There is also currently no support to save key flags out (this is relatively easy to add, I played with it before).

I think this would also tie in with the current way of handling subkeys. Currently netpgp has the concept of an enckey and a sigkey, and that's about the extent of things. The primary key is sigkey, the last par

[2017-03-27 18:47] dewyatt opened #36 "User preferences are not supported"
Each User ID can have preferred symmetric algs, hash algs, compression algs, key server prefs, etc.
Similar to key flags, I think this is all parsed but not utilized and can not be written out either.

It may be helpful to expand the definition of a "User ID" to include preferences. That would be similar to how PGPy (python) handles it, for example:

[code]

[2017-03-28 00:03] shaunwheelhouse commented on #34
@dewyatt Aha! Good catch! I'll add a memset() to netpgp_init.

[2017-03-28 00:38] #34 closed

[2017-03-28 13:01] dewyatt opened #39 "Reboot passphrase handling (was: Passphrase communication is inconsistent)"
The mechanisms for providing passphrases seem a bit inconsistent.

The netpgp_* layers have a "pass-fd" variable that can be used to communicate a file descriptor where a passphrase can be written by client software when needed.

The lower-level pgp_* layers typically have a passfp parameter that is a file pointer where a passphrase can be written.

Additionally there are some outliers like:

[cod

[2017-03-28 14:22] ronaldtse commented on #39
It would be the easiest if we consolidate all of these functions (that could take passphrases) to only support only one passphrase passing method.

For example, we can implement `pass-fd` or `passfp` using the callback method anyway.

What do the others think? Pinging expert @randombit , @shaunwheelhouse @zgyarmati .

(`pgp_decypt_buf` itself seems to take way too many unnecessary arguments too.)

[2017-03-28 14:30] ronaldtse commented on #36
Agreed. We should ensure that these preferences can be written out (and generated) properly.

User ID, Preferred Algorithms and Key Flags are all sub-packets of a Signature packet, so it's not strange to have them together.

However, Preferred Algorithms and Key Flags are used mainly in self-signature packets (Key Flags can also be used in "certification signatures"). Would a "self-signature" cons

[2017-03-29 10:33] zgyarmati commented on #30
I think it's better and more standard to have the following packages:
 'rnp' for the tools (rnp, rnpv, rnpkeys), depending on 'librnp'
'librnp' for the shared library
'librnp-devel' for the development files of the library

[2017-03-29 10:34] zgyarmati commented on #31
I think it's on me, thanks for the report.
 I'll look into it after the name refactoring is done

[2017-03-29 10:34] ronaldtse commented on #30
Ah ha, wasn't as thorough as @zgyarmati . Agree!

[2017-03-29 10:35] zgyarmati commented on #31
I think it's on me, thanks for the report.
I'll look into it after the name refactoring is done

[2017-03-29 13:06] shaunwheelhouse commented on #31
No worries @zgyarmati! Thanks for the update and all the work on the re-naming effort, let me know if you could use a hand. 👍

[2017-03-29 13:24] zgyarmati opened #40 "Unifying and documenting versioning"
Currently we have the autoconf package version in configure.ac and a hand-maintained version value in version.h, these need to be unified and the scheme documented.

[2017-03-29 13:56] zgyarmati opened #41 "Licensing and copyright texts"
I would like to also unify the license and copyright texts in the source tree. Could you please specify the copyright holder and the license(s) to use?

[2017-03-29 15:35] #31 closed

[2017-03-29 16:04] zgyarmati commented on #12
Mostly fixed with eaaa2ca,
but i wasn't sure about the following scipts, so left them in for now:
 remove_artifacts.sh (git clean -dfx works better imho)
 docker.sh (is it used somewhere, in CI for example?)
 Licence || LICENSE.md (will be fixed with #41)

Anything else i missed?

[2017-03-29 16:05] #12 closed

[2017-03-29 16:07] zgyarmati commented on #7
If nobody else is into this, i'm volunteering, please confirm

[2017-03-30 00:19] ronaldtse commented on #41
Copyright should be assigned to "Ribose Inc." and let's use the Simplified BSD license following our origin. I've pushed up `LICENSE.md` to reflect this change.

We should insert our copyright/license notice to the top of the source files without replacing previous notices by other copyright holders. Thanks!

[2017-03-30 00:26] ronaldtse commented on #12
We previously used `remove_artifacts.sh` just to remove build artifacts for packaging and probably don't need it anymore. There should be a `make clean` command that does `git clean -dfx`.

`docker.sh` is used to start a CentOS container for RPM packaging. Maybe we should put this in the `packaging/redhat/extra` directory?

[2017-03-30 00:30] ronaldtse commented on #12
`License` has been merged into `LICENSE.md` now.

[2017-04-01 04:23] ronaldtse commented on #7
@zgyarmati it's all yours. Thanks Zoltan!

[2017-04-01 04:56] ronaldtse commented on #39
In addition, in places that passphrases are checked, the error code should be consistently returned to the user indicating passphrase mismatch.

[2017-04-02 05:37] shaunwheelhouse opened #43 "rnp_init homedir check"
It's not very idiomatic that netpgp_init/rnp_init performs an emptiness test on the homedir setting and raises an error if it isn't set. I propose that we change the interface from:

[code]

to either assuming a sane default (getenv("HOME"), ".gnupg") or accepting the homedir directory in the initialiser:

[code]

What are your thoughts?

[2017-04-02 07:23] shaunwheelhouse commented on #43
It also seems that by zeroing the context structure during initialisation any previously set home directory variable is lost... causing apps to invariably fail. In the interest of getting it working for testing tonight I'm going to go with a sane default for the time being and shuffle set_homedir calls below the init call.

[2017-04-02 08:57] ronaldtse commented on #43
@shaunwheelhouse agree. This direction is much more proper that what is there. Let's do this.

[2017-04-02 13:52] shaunwheelhouse commented on #43
@ronaldtse There's currently a bug breaking key loading that has me holding off for a pull tonight but you can review today's work at my fork under the 'rnpkeys-init-fix' branch.

I haven't forgotten about the improved command line interface you'd like to see either. I'll move on to that once this and perhaps the asprintf dependencies are knocked out. 👍

[2017-04-03 06:00] zgyarmati commented on #7
OK, thx.
Just to confirm: my first candidate is json-c (https://github.com/json-c/json-c), which is MIT license, am I right to assume that it's suitable for us?

[2017-04-03 13:34] ronaldtse commented on #43
Thank you @shaunwheelhouse , this is giving us lots of hope 👍

[2017-04-04 00:44] shaunwheelhouse opened #44 "Internal subdirectory handling"
The following piece of boilerplate is/was present in all of the utilities:

[code]

I get the strong impression that switching for gnupg and ssh keys was a featured added much later and patched onto the existing `homedir` context registry setting. I suggest that we solve this by implementing the following behaviour:

* Three new registry settings: `homesubdir`, `homesubdir_gnupg`, `homesubdir_ssh`

[2017-04-05 08:01] #43 closed

[2017-04-05 08:07] ronaldtse commented on #44
@shaunwheelhouse we will still allow setting `keydir`, `sshdir` separately from (to override) `homedir`/`$HOME`, right?

[2017-04-05 08:08] ronaldtse commented on #7
Indeed @zgyarmati , JSON-C looks clean and good to go.

[2017-04-05 08:11] shaunwheelhouse commented on #44
@ronaldtse for the subdirectories, yes. If we need keydir and sshdir to be able to be set to totally different paths, e.g.:

[code]

a different design to what I suggest here would be necessary.

[2017-04-05 08:13] ronaldtse commented on #44
@shaunwheelhouse suppose I could set the following either via arguments or environment variables:
[code]

Then the subdirectories will be set to:
[code]

Correct?

[2017-04-05 08:17] shaunwheelhouse commented on #44
@ronaldtse I hadn't yet seen the `sshkeydir` variable. The whole subsystem there is very spread out and inconsistent. I'll get back to you on this one.

[2017-04-05 08:22] ronaldtse commented on #44
No problem @shaunwheelhouse . The key point is whatever we do must be consistent and clearly communicated with the user via `--help` and the man pages.

[2017-04-05 08:28] shaunwheelhouse commented on #44
@ronaldtse I strongly agree. Unfortunately some of the frontend and some of the business logic connecting them to the library is inconsistent, but we'll repair that very soon.

[2017-04-06 04:24] ronaldtse opened #46 "Todos inherited from NetPGP"
A place to store inherited TODOs. Feel free to strike out unnecessary ones.

- check pkt size during read
- list sigs on a per-user basis
- 2^n sized packets - regions?
- json for verification in netpgp
- show attributes on key listings
- agent
- agentctl
- convert to and from ascii armored sigs
- gpgme compat lib
- get rid of public key free as part of seckey
- is get_passphrase_cb needed?
- erro

[2017-04-06 12:50] shaunwheelhouse commented on #9
Tonight I "resolved" 5/6 of the cases but I'm not yet happy with a couple of arbitrary sizes that I used. It would be useful to instate some limits on the sizes of some of the fields so that there's a consistent base to work from. I'll work on that in the morning.

The fifth case, `obuf_printf`, is used extensively throughout its module and will need to either be assigned a statically sized buffer

[2017-04-06 17:36] ronaldtse commented on #9
@shaunwheelhouse it would be exciting to get rid of (or replace) the `obuf_printf` function entirely 👍

[2017-04-06 18:17] ronaldtse opened #49 "Remove unnecessary functions pgp_finish and pgp_crypto_finish"
These two functions don't seem used:

* `pgp_finish`
* `pgp_crypto_finish`

Let's get rid of them?

[2017-04-07 09:38] ronaldtse opened #50 "Replace PKCS v1.5 code with Botan equivalent"
From @randombit :

rnp rolls its own PKCSv1.5 encoding code and then uses OpenSSL's RSA_NO_PADDING (or now Botan's equivalent "Raw"). Instead rnp should use the library version of the padding operations.

This will probably require some significant changes because rnp also wants to compute the signature digests itself, and it seems like in some cases the packet parsing code and digest update code

[2017-04-07 09:39] ronaldtse opened #51 "ElGamal should directly use Botan instead of internal BN implementation"
From @randombit :

rnp implements ElGamal using OpenSSL's BN API, since it is not supported by OpenSSL. Botan already includes it.

[2017-04-08 20:27] flowher commented on #51
I'll take this guy

[2017-04-09 01:26] ronaldtse commented on #51
@flowher Thanks for volunteering! If @randombit is OK with it go for it.

[2017-04-09 15:23] randombit commented on #51
OK with me, you should be able to use the `botan_pk_op_{encrypt,decrypt}` functions just as in `pgp_rsa_private_decrypt` and `pgp_rsa_public_encrypt`. Let me know if you run into problems.

One thing to note, ElGamal ciphertexts consist of two BIGNUM values (``g^k`` and ``msg*y^k``) and it looks like rnp/OpenPGP store these two values separately at the packet layer. Botan's ElGamal formats the two

[2017-04-09 23:51] ronaldtse commented on #51
Thanks @randombit for the detailed tips. @flowher please go ahead and thank you in advance!

[2017-04-10 03:33] shaunwheelhouse commented on #9
@ronaldtse I'll look into that then while I wrap this issue up. 👍

[2017-04-10 04:41] ronaldtse commented on #9
Thank you @shaunwheelhouse !

[2017-04-12 21:46] flowher commented on #51
@randombit Thanks for information. Indeed I need to parse the output (and remove optional leading zeros).
Also, for elgamal I'll need function similar to `botan_pubkey/private_load_dsa`. Can you merge it to botan if I provide the code?

[2017-04-13 03:44] ronaldtse commented on #9
@shaunwheelhouse can we close this issue now?

[2017-04-13 03:47] shaunwheelhouse commented on #9
@ronaldtse the instance within obuf_printf is yet to be replaced, but if you would prefer to make that its own issue and close this you're welcome to.

[2017-04-13 03:48] ronaldtse commented on #9
@shaunwheelhouse Nah then we'll wait for that here then. It is more exciting to get rid of them all at once 👍

[2017-04-13 03:51] shaunwheelhouse commented on #9
@ronaldtse Sounds good. I'll get on to that now but I suspect it will take a little bit of time, it's quite embedded in its module. I'm going to see if io vectors would be a suitable replacement vs. re-sizing a contiguous buffer.

[2017-04-13 04:43] ronaldtse opened #55 "Support SM3 hash function using Botan implementation"
Thanks to @dewyatt (and @randombit ) we have a SM3 hash implementation merged to Botan. This task is to implement support of it in rnp within the OpenPGP framework.

[2017-04-13 11:21] zgyarmati opened #56 "Configure silently ingnores if cmocka is not installed"
Configure silently ingnores if cmocka is not installed (rather than throw an error), which results in compilation error build-time.

[2017-04-13 11:49] zgyarmati commented on #39
Ah, i made a typo in my commit msg, so reopening this, sorry for the noise!

[2017-04-13 11:50] zgyarmati commented on #56
Fixed by 36c62d88922e93f97a0dea8decfa325dfcccb460, which had the wrong ticket ID in the commit msg

[2017-04-13 11:50] #56 closed

[2017-04-13 14:03] randombit commented on #51
@flowher Sorry I had missed that a way of loading the key was missing, patch most welcome.

[2017-04-15 03:16] ronaldtse commented on #41
@zgyarmati this issue seems now complete, can we close it?

[2017-04-15 11:03] shaunwheelhouse opened #57 "rnpv crash"
During testing I found that the rnpv utility is crashes due to an access violation caused by indexing an invalid address in the `mem` member of the `mem` `pgp_mem_t` parameter to the `rnpv/libverify.c:read_pkt` function:

[code]

It looks like this is triggered from an element in the `pgp->areas` array passed down `main` -> `pgpv_read_pubring` -> `read_binary_file` -> `read_all_packets` -> `read_p

[2017-04-15 17:42] flowher commented on #51
@ronaldtse @randombit This is now implemented on my branch "elgamal_on_botan-conv". It is based on randombint's "botan-conv".  I need to wait until "Convert from OpenSSL to Botan for crypto operations #48" pull request is merged, before opening pull request for this.

One more thing to note - this PR depends on this commit to Botan https://github.com/randombit/botan/pull/1008, so newer version of

[2017-04-15 17:54] flowher commented on #18
@ronaldtse Should I use this record to implement ECDSA, ECDH and EDDSA ?
I've just started implementing support for ECDSA

[2017-04-15 20:39] zgyarmati commented on #41
Yep, thx

[2017-04-15 20:39] #41 closed

[2017-04-16 05:39] ronaldtse commented on #18
@flowher yes please, please go ahead here. Thanks!

[2017-04-17 02:02] shaunwheelhouse commented on #51
Very sorry about the delay on #48! Feel free to roceed when you're ready @flowher.

[2017-04-20 05:12] ronaldtse commented on #40
@zgyarmati how about we re-start the versioning from 0.8.0 since there are a number of issues to be taken care of right now? Thanks.

Rationale:
* not yet production-ready for 1.0
* but far ahead of a 0.1

[2017-04-24 08:57] ronaldtse commented on #51
I've updated the install instructions to use the latest Botan master since randombit/botan#1008 is now merged.

[2017-04-24 09:02] flowher commented on #51
Great!
Thanks

[2017-04-25 03:02] ronaldtse commented on #40
Thank you @zgyarmati !

[2017-04-25 03:02] ronaldtse commented on #44
Hi @shaunwheelhouse just wanted to know if this is still being handled. Thanks!

[2017-04-25 04:26] ronaldtse opened #60 "Installation of Botan indicates missing compression libraries"
The current install method in `prepare_build.sh` for Botan's development branch raises the following problems that should not be present.

[code]

[2017-04-25 05:11] ronaldtse commented on #40
@zgyarmati , the changes right now aren't compatible with the existing RPM building process. Could you please help fix this? Thanks!

1.
Due to these calls to `git`, the RPM building fails as the RPM is built in a separate directory from an immediately packaged archive (which is not a git repo):

[code]

Causing these messages during the `autoreconf -ivf` line in the `rnp.spec`:
[code]

2.
Due to

[2017-04-25 05:53] zgyarmati commented on #40
Thanks for looking into this! Indeed, I've put aside to keep the .rpm packaging in sync a bit, as first i want to manage the libmj->libjson-c migration first as it will bring in a new dependency. Also, the way the botan and cmocka dependency as handled at the moment is sub-optimal, which we also have to discuss.
 Generally speaking: first i would like to manage the new dependencies in the codebase

[2017-04-25 07:00] ronaldtse commented on #40
* CMocka: we now use a yum package for its functionality, which works.
* Botan there is an existing yum package but only for 1.0, @ribose-jeffreylau has contacted the package maintainer to request a newer 2.x package, so when that's done we can use a yum package.

For libjson-c there is a 0.11 RPM (json-c.x86_64 0:0.11-4.el7_0) but not the latest 0.12.

@ribose-jeffreylau could you also contact th

[2017-04-26 07:23] ronaldtse commented on #51
@flowher is this completed and should we close this? Thanks!

[2017-04-26 07:23] ronaldtse commented on #7
@zgyarmati please use the 0.12.1 version of json-c -- we will get it packaged for EPEL. Thanks!

[2017-04-26 07:27] flowher commented on #51
Done

[2017-04-26 07:27] #51 closed

[2017-04-26 08:04] zgyarmati commented on #7
Yes, i use that one, and it seems there is now API change since the previous versions, so we are good with supporting 0.12 as well.

[2017-04-27 02:12] ronaldtse commented on #8
@randombit thank you for the work! The OpenSSL dependency is indeed completely gone but there are a few remaining textual references to OpenSSL (below), and the usage of `USE_BN_INTERFACE` (looks temporary) remains.

Could you help clean them up so we'll close this issue? Thanks!

[code]

[2017-04-27 02:27] ronaldtse opened #61 "Make indentation whitespace consistent throughout code"
Right now the code uses a mix of tabs and spaces for indentation. We should make it consistent and document the choice in a "Contribution guidelines" section of README.

[2017-04-27 02:29] ronaldtse commented on #7
@zgyarmati , @ribose-jeffreylau is going package up json-c 0.12.1 as a new EPEL package, so for now please use json-c 0.12.1. Thanks!

[2017-04-27 13:00] #60 closed

[2017-04-28 13:15] randombit commented on #8
@ronaldtse No problem PR coming shortly

[2017-05-01 23:22] ronaldtse opened #64 "Create FFI interface for external bindings"
@dewyatt commented that our code changes has been breaking ruby-rnp and we should adopt a stable FFI interface for external bindings.

[2017-05-01 23:40] ronaldtse opened #65 "Setup Travis CI"
From @dewyatt

* Get rnp builds working on Travis
  * libbotan git will be required - I can likely copy what I did for ruby-botan.
* Get rnp tests running on Travis
* Switch Travis build to clang and utilize sanitizers
* Look into static analysis and code coverage solutions (we could discuss this after the basics above are done)

From @flowher

* standard test run clang build and enable sanitizers

[2017-05-02 03:38] dewyatt commented on #65
@ronaldtse Please flip the switch for Travis CI when you get a chance.

[2017-05-02 04:10] ronaldtse commented on #65
@dewyatt flipped!

[2017-05-02 16:50] dewyatt commented on #65
Thanks @ronaldtse!

I took an initial stab at this and we've had our first build, which failed due to some memory leaks:

https://travis-ci.org/riboseinc/rnp/builds/227988366

Hopefully everyone received a notification on the build failure.

You can see that I used clang's [leak](https://clang.llvm.org/docs/LeakSanitizer.html), [address](https://clang.llvm.org/docs/AddressSanitizer.html), and [und

[2017-05-02 17:25] ronaldtse commented on #65
Really nice work @dewyatt ! It seems that some leaks come directly from the tests, but the rest are definitely real.

[2017-05-02 17:53] flowher commented on #65
For static analysis you can consider https://clang-analyzer.llvm.org/, cppcheck or (my prefered option) coverity.

[2017-05-03 16:08] dewyatt commented on #65
@flowher I agree we should try coverity, since no one else has a preference. I'll look into it ASAP.

I made a few more changes for CI.
We now have a test matrix for rnp:
https://travis-ci.org/riboseinc/rnp
[code]
The sanitize build is currently allowed to fail, until we look into whether all the leaks are valid, if we can fix that, etc.

Code coverage for the cmocka tests is available here:
https

[2017-05-03 16:25] dewyatt commented on #65
@ronaldtse When you have a moment, can you [sign up for Coverity Scan](http://scan.coverity.com/users/sign_up), and then [register rnp](https://scan.coverity.com/projects/new?github_repo_name=riboseinc%2Frnp)?
I think that will get us moving in the right direction on that.

[2017-05-04 04:20] ronaldtse commented on #65
@dewyatt I've done that. Is there anything else to configure?

[2017-05-04 05:00] ronaldtse commented on #50
Thank you @randombit for handling this!

[2017-05-04 14:31] dewyatt commented on #65
@ronaldtse Thanks! The full steps are [here](https://docs.travis-ci.com/user/coverity-scan/) if you would like to complete them (which might be easiest, I'm not sure how permissions work).

[2017-05-04 17:17] ronaldtse commented on #65
@dewyatt added the necessary configuration but doesn't seem working yet... would you mind having a look? Thanks!

[2017-05-04 22:00] dewyatt commented on #65
@ronaldtse I think we're OK now. The rnp project isn't showing up on scan.coverity.com, but I think that can take 48 hours or so. Once it shows up, I think the rest of us can register and request access.

We'll have to maintain a separate travis.yml for the coverity_scan branch, otherwise it will build and attempt to upload multiple times. It looks like other projects do the same (botan). So we'll

[2017-05-06 03:42] ronaldtse commented on #65
@dewyatt I've accepted you as a contributor for the project at Coverity, the project is showing now but we probably need to do more setup stuff like Component Configuration...

[2017-05-06 04:14] dewyatt commented on #65
@ronaldtse Thanks! I don't really see any config options on my end...you may be seeing them since you're the project admin. Other than that, everything looks good to me. I see the issue list, and they appear valid at a glance.

I can take a closer look at component configuration if you would like, but I'm guessing we would have to bump my access level up from contributor to maintainer or something

[2017-05-06 04:21] ronaldtse commented on #65
@dewyatt I've bumped you to the maintainer role now and also added the badge to the README. Perhaps we don't need to further configure Coverity given that we have enough issues to work on.

[2017-05-06 07:31] ronaldtse opened #67 "Refactoring layer violations"
From @randombit .

Layering violations: for example, crypto code being intermixed with the packet parsing code - over time refactoring these to split out the concerns will probably make testing easier.

[2017-05-06 07:33] ronaldtse opened #68 "Error handling with proper return code expectations"
From @randombit .

It seems many functions that can in fact fail return `void`, or else just return `-1` or `0` and perhaps additionally write something to stderr without providing any additional context to the higher level code.

That's a big issue to address in any one PR but something to think about as development continues.

[2017-05-06 07:33] ronaldtse commented on #64
Thanks @dewyatt for handling this!

[2017-05-06 07:35] ronaldtse commented on #15
Thanks @randombit !

[2017-05-06 07:35] #15 closed

[2017-05-06 07:35] #13 closed

[2017-05-06 07:36] #8 closed

[2017-05-06 07:46] ronaldtse opened #69 "Combine command line utils"
Currently we serve these binaries:

* `rnp` for "operations using keys", encrypting/decrypting, signing/verifying.
* `rnpv` for purely verifying
* `rnpkeys` for "operations on the keyset", such as key generation, key management

Pros:

* A user coming from `gpg` will expect one command to handle all functions. ( @randombit )
* Consolidates logic for option parsing etc ( @randombit )

Cons:

* They

[2017-05-06 10:27] #65 closed

[2017-05-06 10:48] MohitKAgnihotri opened #70 "Rnpkeys : user is unable to create/append keys to custom keyring."
The user is unable to create new keys in a custom user provided keyring.
`usage: ./rnpkeys --generate-key --keyring=max`
expected output: new keyring with name "maxpub & maxsec" is created in the HOMEDIR.
Test case; `rnpkeys_generatekey_verifykeyRingOptions`

[2017-05-06 10:54] MohitKumarAgniotri opened #71 "User provided password file is NOT used"
In the module, rnpkeys, user provided option `pass-fd` is not used to derive the password file.
The limitation arises from the fact that `rnp_init()` is called before the command line arguments are parsed.

This leads to an uninitialized file descriptor for the password file.

In my opinion, it would be useful the split the `rnp_init()` into two functions;
1. To initialize the default and mandator

[2017-05-06 11:04] MohitKumarAgniotri opened #72 "Rnpkeys disregards user specified option "UserId" when generating keys"
Currently, the sample application (rnpkeys) disregards the user specified option "UserId" and always generate keys with the default user id.

Usage: `./rnpkeys --generate-key --userid=max`
expected Output: creation of new key with custom userId as specified.
Testcase: `rnpkeys_generatekey_verifyUserIdOption`

[2017-05-08 04:50] ronaldtse opened #75 "`fgets` waits for keystroke when asking for password"
Reported by @MohitKumarAgniotri : I was able to make the test cases use the pass-fd, but apparently for some reason the call to read the password (i.e. fgets() ) waits for a keystroke to continue.

[2017-05-08 05:50] ronaldtse opened #76 "Failing build due to requirement of `/home/max`"
@MohitKumarAgniotri it looks like the requirement of `/home/max` is failing the builds. Maybe we should use a temp directory for testing this instead?

[2017-05-08 05:52] MohitKumarAgniotri commented on #76
My bad, will fix them ASAP.  Forgot to clean up after the initial testing
at my end.

On May 8, 2017 07:50, "ronaldtse" <notifications@github.com> wrote:

@MohitKumarAgniotri <https://github.com/MohitKumarAgniotri> it looks like
the requirement of /home/max is failing the builds. Maybe we should use a
temp directory for testing this instead?

—
You are receiving this because you were mentioned.
Re

[2017-05-08 07:35] MohitKumarAgniotri commented on #76
@ronaldtse: I have fixed the issue. Shall I create a new pull request?

[2017-05-08 07:36] ronaldtse commented on #76
@MohitKumarAgniotri yes please. Thanks!

[2017-05-08 10:54] ronaldtse commented on #76
Fixed in #77

[2017-05-08 10:54] #76 closed

[2017-05-08 11:07] MohitKumarAgniotri commented on #75
This is NOT an issue as I encountered it due to my own fault.
The reason stems from the fact that I was passing the filename instead of a file descriptor and it was making it fail.
@ronaldtse: Please close this issue as a reject.

[2017-05-08 11:14] ronaldtse commented on #75
Thanks @MohitKumarAgniotri !

[2017-05-08 11:14] #75 closed

[2017-05-08 16:19] MohitKumarAgniotri opened #78 "Refactoring : resolve_userid"
Function `resolve_userid` should be refactored to do only what is specified/implied by the function name.
Currently, function `resolve_userid` does two things:
- Queries the RNP structure to find the Value for UserId
- Finds the key from the keyring (`pgp_getkeybyname`) using the derived Userid

[2017-05-09 10:31] MohitKumarAgniotri commented on #70
@ronaldtse, @shaunwheelhouse: Please help me defining the behaviour for option `--keyring`.
Many test case are failing for this item,

[2017-05-11 01:50] dewyatt commented on #64
It looks like ruby-rnp is broken for a few reasons:
1. The switch to using Botan as a BIGNUM provider caused some things to break since it's all a bit too tightly coupled. I'm sure I can abstract this away with a dedicated FFI interface in rnp to make things more resilient.
2. All signatures generated by rnp are invalid at the moment. I'm guessing this is known and is just part of the work Jack is

[2017-05-11 16:00] randombit commented on #64
@dewyatt Re "All signatures generated by rnp are invalid at the moment." not expected! My PKCS change should not have changed signature handling at all, but I'll admit I only tested my patch with encrypt/decrypt. :( I will investigate this but won't have time until the weekend at earliest or more likely middle of next week.

[2017-05-11 16:23] dewyatt commented on #64
@randombit Oh! I'll go ahead and file a separate issue with more info then.

[2017-05-11 16:47] dewyatt opened #79 "RSA signatures are invalid"
Current master doesn't seem to be generating valid signatures:
[code]

All tools are showing invalid signatures:
[code]

The self-sig on the key seems invalid as well:
[code]

All of the above is working @ fe069a2 (with 2c5fef4 applied for the `rnp --verify`).

@randombit I'm not sure if it's related to your work, but we would certainly appreciate you taking a look when you have time.

(Once we ge

[2017-05-12 03:49] ronaldtse commented on #79
Thanks @dewyatt for posting this. @MohitKumarAgniotri would you have time to add some tests against signing/validating? (or @dewyatt if you have time)

[2017-05-12 03:50] ronaldtse commented on #70
I think @shaunwheelhouse is finishing off his branch for a consistent `homedir` and `keydir`, perhaps his branch will fix this issue?

[2017-05-12 08:56] MohitKumarAgniotri commented on #79
@ronaldtse: I will have a look at them.

[2017-05-12 09:53] ronaldtse commented on #79
Thanks @MohitKumarAgniotri !

[2017-05-12 09:55] ronaldtse commented on #64
Thanks @dewyatt , perhaps could you also specify in a separate issue how we can better handle subkeys? I suppose that meant better subkey generation, signing of them and usage?

[2017-05-13 17:32] dewyatt commented on #79
I went ahead and took a look at this myself yesterday to see if I could take it off Jack's plate.
I believe I've got a fix for it and a couple of minor related things.
So @randombit don't worry about this one, but I would appreciate a review on the (incoming) PR when you have time.

It's likely just RSA signatures that are broken, but I'll have to check on that.

[2017-05-13 20:32] dewyatt commented on #64
@ronaldtse I'll have to check again but I think what I was thinking about was mostly what I wrote in  https://github.com/riboseinc/rnp/issues/35 (which I forgot about).

Basically I work around some of these limitations in ruby-rnp, but that does make it a bit more fragile. So everything that's lacking in rnp, I need to get taken care of, and then add this FFI interface and utilize it in ruby-rnp.

[2017-05-14 17:44] #24 closed

[2017-05-15 17:25] dewyatt opened #83 "rnp --sign crashes with DSA keys"

[2017-05-15 17:26] #83 closed

[2017-05-15 17:43] dewyatt opened #84 "DSA signatures do not validate with rnp utils"
`rnp --verify` and `rnpv` report signatures made with DSA as bad.

The signatures are valid (after #83) according to gpg.

[2017-05-15 20:50] dewyatt commented on #70
Probably related: https://github.com/riboseinc/rnp/issues/21

[2017-05-15 21:18] dewyatt commented on #61
Some conventions we should probably nail down:

- Indentation (tabs vs spaces, count, etc.)
- General style (K&R etc.)
- General return values (int vs unsigned). Some functions return 0/1, some return -1, etc.

We may want to pull some of the C-specific portions of [Google's C/C++ style guide](https://google.github.io/styleguide/cppguide.html).

[2017-05-15 23:19] ronaldtse commented on #61
@dewyatt thanks for this. Would you mind being the coordinator for this and authoritatively set the rules in a "Contribution Guidelines" section within `README.md`?

[2017-05-16 04:55] MohitKAgnihotri opened #86 "Uinitialized memory access in Botan library"
Execution of test cases with address sanitization on reveals the presence of the UMR in the code. I think we need to have a look at them and fix them appropriately. Example of such an issue is pasted below.

[code]

[2017-05-16 05:08] ronaldtse opened #87 "`generatekey-*` and `exportkey-*` fails in CentOS container"
Inside the docker container (`./docker.sh`), run this:
`cd /usr/local/rnp; packaging/redhat/extra/prepare_build.sh ; ./build-install.sh`

Will show that the `generatekey-*` and `exportkey-*`tests fail.

[code]

@MohitKumarAgniotri could you help look at this? Thanks!

[2017-05-16 05:22] MohitKumarAgniotri commented on #87
@ronaldtse I am on it.

[2017-05-16 06:04] MohitKumarAgniotri commented on #87
@ronaldtse I am having a few issues setting up the docker I will continue to look in the evening.

[2017-05-16 14:02] dewyatt commented on #14
Closed in ff239a6ea277be1ce5ca592c4429418fb26c9cb7

[2017-05-16 14:02] #14 closed

[2017-05-16 14:27] #84 closed

[2017-05-17 04:16] ronaldtse commented on #64
Agree @dewyatt !

[2017-05-17 04:23] ronaldtse commented on #33
@catap this issue is for the extraction of the key storage interface.

Preferably it should be FFI-friendly/accessible (#64).

[2017-05-17 12:33] catap opened #88 "rnpkeys crashed at import-key without option"
Hey,

I just found one bug/segmentation fault.

How to reproduce:
[code]

[2017-05-17 15:26] #79 closed

[2017-05-17 17:59] dewyatt opened #91 "Tests stalling"
The rnp_tests are stalling out and failing.
The reason is that `pass-fd` is interpreted as a decimal value (`atoi`) but we are storing a hexadecimal value there.
@MohitKumarAgniotri Can you replace the last parameter in all the calls to convert() with 10? That should fix that.

Can you also change `numbits = 1024` in all the tests as it's much faster to run and should certainly not have an effect

[2017-05-17 18:20] MohitKumarAgniotri commented on #91
@dewyatt : will do.

[2017-05-17 18:43] MohitKumarAgniotri commented on #91
@dewyatt done! :+1:

[2017-05-17 18:57] #91 closed

[2017-05-18 22:38] ronaldtse commented on #55
Thanks @randombit for handling this. I have to let you know that SM3 isn't currently in the OpenPGP spec (RFC4880 or RFC4880bis01). We will need to create an extension to the spec 👍

[2017-05-18 22:46] ronaldtse commented on #55
Since we're going down this track we should also support the other Chinese requirements, SM2 (Public Key ECC), SM4 (Symmetric Cipher), by adding them into Botan and then rnp.

[2017-05-18 22:48] ronaldtse opened #95 "Go Bindings / API"
A binding for rnp in Go.

[2017-05-19 15:18] randombit commented on #55
@ronaldtse For SM3 we just need to pick a value in the OpenPGP "Private/Experimental algorithm" range to identify the hash within the OpenPGP message format (range is 100 to 110 - I'm not sure if any other implementation uses any of these values, it would be nice to avoid conflicts if we can), and also create figure out what OID is used for PKCSv1.5+SM3 signatures (Botan will need to include those

[2017-05-20 19:17] dewyatt commented on #87
All of these failures (except 1) are a result of `LOGNAME` not being set in the container.
If you start bash as a login shell ("bash -l"), `LOGNAME` will be set. I'll add that to the docker.sh since it's a simple thing that shouldn't cause any issues, but I do think the tests should have a fallback for `LOGNAME` if possible.

The other 1 test that fails is "rnpkeys_generatekey_verifykeyNonExisting

[2017-05-21 02:29] ronaldtse commented on #87
Thanks @dewyatt . Regarding the root issue on the first test, perhaps the best way to resolve it is to have two different tests: one for non-root and another for root, depending on the current user. E.g. If the current user is non-root, run only the non-root test.

[2017-05-21 02:53] ronaldtse commented on #55
Indeed @randombit ! GMSSL is a fork of OpenSSL that contains implementations of the SM series, and both SM2 and SM3 have been published as drafts on IETF. Therefore we could do SM2/3 now as extensions on OpenPGP given support in Botan. For the SM4 cipher we could refer to the paper and also the GMSSL implementation.

I do not know of any experimental signature/encryption schemes currently being pu

[2017-05-22 15:15] catap commented on #88
@ronaldtse, @dewyatt should we close this bug?

[2017-05-22 15:18] #88 closed

[2017-05-22 15:18] ronaldtse commented on #88
Let's close it since this is not happening anymore. Thanks @catap !

[2017-05-22 22:15] randombit commented on #50
Done! Closing

[2017-05-22 22:15] #50 closed

[2017-05-22 23:13] ronaldtse commented on #50
Thanks guys!

[2017-05-23 02:38] ronaldtse opened #100 "Refactor to flatten `pgp_fingerprint` and `pgp_keyid`"
Branches within `pgp_fingerprint` and `pgp_keyid` can be short-circuited and split into separate functions for ease of understanding and testing.

[2017-05-23 03:02] ronaldtse opened #101 "Split `hash.c` hash functions and `symmetric.c` encryption functions into separate directories/files"
For consistency with public/private key functions which have been split in #59.

Perhaps we can separate them into the following directories:

* asymmetric
* symmetric
* hash

?

[2017-05-23 03:13] ronaldtse opened #102 "`reader.c` functions should return errors instead of hiding them"
Many functions in this file start like this:

[code]

But they really should be short-circuited by returning an error instead of failing silently.

[2017-05-23 03:37] ronaldtse opened #103 "Cleanup `tst` directory, move possible tests into cmocka, integrate into test flow"
The `/tst` directory contains a number of tests (and some unnecessary files) that are not utilized in the test flow.

This task is to:

* move/rewrite valid tests from `tst` into the cmocka framework under `src/cmocka`
* rewrite/formalize command line tests in the CI test flow, for example, using [BATS](https://github.com/sstephenson/bats)
* remove unnecessary files from the `tst` directory and ge

[2017-05-23 04:38] dewyatt opened #104 "rnp --clearsign generates an ASCII-armored .gpg"
`rnp --clearsign inputfile` will generate an ASCII-armored file named inputfile.gpg, but this is misleading as typically ASCII-armored content is named `.asc`.
`rnp --clearsign --armor inputfile` will generate the same content, but with the correct `.asc` name instead.

`gpg --clearsign inputfile` generates inputfile.asc so we should probably align with that behavior.

[2017-05-23 05:04] ronaldtse opened #105 "Split `cmocka/rnp_tests.c` into separate test files"
`rnp_tests.c` is now nearly 1,000 lines long, and the file deserves to be either split into groups of files (such as, "exportkey").

[2017-05-23 19:37] dewyatt opened #106 "See if we can make hash handling a bit more consistent and improve related tests"
Related discussion in https://github.com/riboseinc/rnp/pull/96

It looks like there are a few different places that deal with hashes that are a bit scattered around.
I wonder if we can improve this:

* `pgp_is_hash_alg_supported`
* `pgp_hash_any`
* `pgp_str_to_hash_alg`

Additionally, with the current tests, there are a few errors that are printed out because these functions need updates, but the

[2017-05-23 22:59] ronaldtse commented on #106
Fully agree with @dewyatt . I'm hoping that we can consolidate all these in a separate file per hash algorithm.

[2017-05-23 23:05] ronaldtse opened #107 "Implement Blowfish/Twofish (symmetric algorithms 4, 10)"
We should support Blowfish and Twofish symmetric ciphers. Usage as described in RFC 4880.

* Symmetric key algorithm IDs: 4 (Blowfish), 10 (Twofish)

[2017-05-23 23:07] ronaldtse opened #108 "RFC 4880 bis-01: device certificates"
We should support device certificates as seen in RFC 4880 bis-01.

The original internet-draft is at: [draft-atkins-openpgp-device-certificates-03](https://tools.ietf.org/html/draft-atkins-openpgp-device-certificates-03).

[2017-05-23 23:12] ronaldtse opened #109 "RFC 4880 bis-01: Support EdDSA"
We should support EdDSA, originally defined in [draft-koch-eddsa-for-openpgp-04](https://tools.ietf.org/html/draft-koch-eddsa-for-openpgp-04) and now included in [RFC 4880 bis-01](https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-01).

This work is to implement support for:
* Public key algorithm: 22 (EdDSA)
* Ed25519 curve

[2017-05-23 23:14] ronaldtse commented on #109
EdDSA support relies on enhancing Botan with Ed25519 support.

Existing Ed25519 implementations can be found:
  * https://github.com/floodyberry/ed25519-donna
  * https://github.com/orlp/ed25519

[2017-05-24 13:47] randombit commented on #109
Addition of Ed25519 to Botan would be great.

https://github.com/orlp/ed25519 has zlib license which is not compatible with BSD-2, no go

Floodyberry's Ed25519 is (IIRC) public domain so ok, but we wouldn't want to take all of his versions. Just use the 64-bit impl (curve25519-donna-64bit.h, modm-donna-64bit.h) and use either a native uint128_t or the `donna128` 128-bit integer type (this is how w

[2017-05-24 17:13] ronaldtse commented on #109
@randombit Thank you for the detailed info. SUPERCOP's `ref10` does seem more complex than `ref`...

Let's see who's free to work on this!

[2017-05-24 22:30] dewyatt commented on #16
I'd like to "upgrade" this to a bug since I found we apparently have multiple base64 implementations in use and at least one of them is broken.
The `frombase64` implementation in ssh2pgp.c appears to be subtly broken (and causes SSH key loading to fail for me).

[2017-05-24 22:50] dewyatt opened #110 "Support special tilde cases in homedir parameters"
For the `--homedir=[...]` parameter, we have to interpret tilde ourselves as the shell isn't going to help when it's attached to the option switch like this.

GnuPG supports special homedir arguments of the form:
* ~ or ~/
* ~username or ~username/

[2017-05-25 01:58] dewyatt opened #111 "Overflow in write_seckey_body"
I was playing with clang's sanitizers and confirmed an issue here:
https://github.com/riboseinc/rnp/blob/f20e993e7b7e9e11e70f9b71f1db2b005746454c/src/lib/create.c#L434
We're calculating a SHA1 hash but we're using the hash size of `key->hash_alg` to determine the size of the buffer we allocate.
So this overflows in the tests when `key->hash_alg` is something that would produce a digest smaller tha

[2017-05-25 02:18] dewyatt opened #112 "Incorrect block cipher free"
https://github.com/riboseinc/rnp/blob/f20e993e7b7e9e11e70f9b71f1db2b005746454c/src/lib/symmetric.c#L103

I think we should be using `botan_block_cipher_destroy` here.

We should probably also NULL this after the free here:
https://github.com/riboseinc/rnp/blob/f20e993e7b7e9e11e70f9b71f1db2b005746454c/src/lib/symmetric.c#L113

[2017-05-25 02:28] ronaldtse commented on #112
@randombit could you please have a look here? You're probably most familiar with this section. Thanks!

[2017-05-25 02:36] ronaldtse opened #113 "Add rnp/rnpkeys option to set "subdir_gpg" and "subdir_ssh""
@dewyatt said in #99:

The conversation for this functionality is inherited from #81 and #99.

[2017-05-25 02:44] ronaldtse opened #114 "Implement RFC4880 3.7.1.3 Iterated and Salted S2K"
As title. Location: https://github.com/riboseinc/rnp/blob/f20e993e7b7e9e11e70f9b71f1db2b005746454c/src/lib/create.c#L481

[2017-05-25 02:52] ronaldtse commented on #111
It seems that this function is pretty much hardcoded SHA1 and CAST, we should probably support different digest and symmetric algorithms properly here.

[2017-05-25 03:33] dewyatt opened #115 "Calling rnp_load_keys more than once will leak keyrings"
`load_keys_ssh` actually appears to append to the existing keyrings in memory.
`load_keys_gnupg` just overwrites (and leaks) it: https://github.com/riboseinc/rnp/blob/728150f5b2d83a8508885f204b050e3e9a67e695/src/lib/rnp.c#L1053

We should determine whether calling rnp_load_keys should append to the existing in-memory keyrings, or not. Either way, we should not leak them.

[2017-05-25 09:56] randombit commented on #112
@ronaldtse Will look at this today

[2017-05-25 13:59] dewyatt opened #116 "pgp_push_enc_crypt leak"
Maybe low priority, but just documenting for later:

https://github.com/riboseinc/rnp/blob/2d21450e8f5601da0f203507966c3a7308469bd3/src/lib/writer.c

free_crypt is always 0 so the crypt object will never be freed.
Plus the `free` call should actually probably be something like `pgp_encrypt->crypt->decrypt_finish(pgp_encrypt->crypt);`.

In `write_seckey_body`, for example, we allocate a crypt objec

[2017-05-25 16:17] randombit commented on #114
Maybe useful reference, Botan used to include this (was dropped some years ago because it was not particularly useful outside the context of a full PGP impl, and hey here we are). The last commit before it was removed is

https://github.com/randombit/botan/tree/75db296a459a9e25b112207707cc5e26a6f2b872/src/pbkdf/pgps2k

[2017-05-25 16:55] randombit commented on #86
I can't replicate. This may be a problem with the GCC 4.8.5 libstdc++ thread code. Do you see this outside of `__gthread_cond_broadcast` calls?

[2017-05-25 17:11] randombit commented on #49
Were previously used because OpenSSL requires an explicit shutdown operation, but as of 2.0 Botan doesn't maintain any global state so there is nothing to cleanup. So `pgp_crypto_finish` became a noop during the conversion. Probably can be removed.

[2017-05-25 17:13] dewyatt opened #121 "pgp_sign_buf and pgp_sign_file should fail when cleartext=1 and armored=0"
We should check the RFC and confirm, but I believe a cleartext signature is, by definition, armored.
See also discussion here: https://github.com/riboseinc/rnp/pull/96

[2017-05-25 17:17] randombit commented on #112
Fixed!

[2017-05-25 17:17] #112 closed

[2017-05-25 18:18] dewyatt opened #122 "Portability issues"
See discussion in: https://github.com/riboseinc/rnp/pull/117

I guess the proper way to handle this is to update the autotools bits.
My knowledge there is lacking.
It defaults to --std=gnu99 locally for me, which is not quite enough for clang (gnu11 would probably work).

I should probably avoid overriding --std and defining _GNU_SOURCE explicitly in the CI scripts.

Some of the portability concer

[2017-05-25 21:27] dewyatt opened #123 "botan_privkey_destroy in rsa_generate_keypair"
I think we need an accompanying call to `botan_privkey_destroy` in a few places within `rsa_generate_keypair`:

https://github.com/riboseinc/rnp/blob/89a51e4d73aa9df674e6efe5b200f7fecf84ebc1/src/lib/rsa.c#L411

[2017-05-26 00:19] flowher commented on #109
Hi guys, I'm definitely planning to implement this after coming back from vacation.

[2017-05-26 00:52] ronaldtse commented on #114
Things do come circle! @randombit any chance of re-instating this in botan?

[2017-05-26 01:08] ronaldtse commented on #122
Aha so this is the list of portability concerns!

Let me add the following too mentioned in #9 .
* asprintf
* vasprintf

[2017-05-26 01:43] ronaldtse opened #125 "Portability: replace `vasprintf` in `obuf_printf` of `libverify.c`"
As mentioned in #9, there is an instance of `vasprintf` within `libverify.c` that is of portability concerns. This issue is to replace it with standard alternatives such as `snprintf` and static allocation.

Related to #122.

[2017-05-26 01:45] ronaldtse opened #126 "Remove `pgp_asprintf` function definition"
#53 removed all instances of `pgp_asprintf` but not the actual function definition.

We should remove its definition since it is no longer used.

[2017-05-26 01:55] ronaldtse commented on #109
This enhancement is apparently of interest to many. @randombit probably will be adding EdDSA to botan. @flowher perhaps you can work with @randombit on this?

[2017-05-26 01:55] ronaldtse commented on #107
Thanks for tackling this @randombit !

[2017-05-26 01:56] ronaldtse commented on #101
Thanks @randombit for handling this!

[2017-05-26 01:56] flowher commented on #109
ok

[2017-05-26 01:57] ronaldtse commented on #106
@randombit will be working on this. Would be great if we can make it much simpler to add hash algorithms with a single touch point. Thanks!

[2017-05-26 02:58] ronaldtse opened #127 "Support SM2"
SM2 is a family of elliptic curve algorithms described in [draft-shen-sm2-ecdsa-02](https://tools.ietf.org/html/draft-shen-sm2-ecdsa-02), and includes ECDSA and public key encryption algorithms.

This task is to implement support for SM2 in rnp (and in conjunction with SM3), and depends on implementation of SM2 within Botan.

Relevant OIDs (http://gmssl.org/docs/oid.html):

* 1.2.156.10197.1.301,

[2017-05-26 03:01] dewyatt commented on #122
@ronaldtse This reminds me, do you have an official list of platforms we should aim to support?

[2017-05-26 06:02] ronaldtse opened #128 "Write a "Developer's guide""
Topics:

* Getting started with developing rnp
* Coverity instructions
* How to use fuzzer (#97)
* Code conventions

[2017-05-26 07:31] ronaldtse opened #129 "Add support for SM3+RSA signatures"
This should allow utilizing SM3 for the entire flow of [OpenPGP](https://tools.ietf.org/html/rfc4880) except for:
* 5.13 and 5.14 which hard-codes the SHA-1 algorithm for checksums
* v4 fingerprinting that requires SHA-1

Relevant OID from [GmSSL](http://gmssl.org/docs/oid.html):
* 1.2.156.10197.1.504 RSA Signing with SM3

[2017-05-26 09:41] flowher opened #130 "EC key generation"
Currently frontend for key generation ``rnpkeys`` supports only RSA key generation. Goal of this ticket is to implement support for generation of ECDSA and ECDH keys.
It is first step towards implementation support for both algorithms.

[2017-05-26 09:43] ronaldtse commented on #130
Very nice first step indeed. Welcome back @flowher !

[2017-05-26 13:23] randombit commented on #129
I believe this already works.

[2017-05-26 16:22] randombit commented on #109
@flowher Did you have plans to start on this shortly? I can work on EdDSA in Botan starting first week in June, and then you can handle the rnp side after. Or if you planned to get to this earlier and want to take on also adding EdDSA to Botan, then I can just limit myself to reviewing changes and work on SM2 instead. Let me know.

[2017-05-26 17:59] randombit commented on #114
@ronaldtse Yes I think re-adding this to Botan (as well as the non-iterated S2K currently implemented in rnp) then changing rnp to use the PBKDF ffi interface is the way to go.

[2017-05-26 18:15] randombit opened #133 "Bogus unused function `pgp_write_symm_enc_data`"
Working on #132 I noticed that `pgp_write_symm_enc_data` seems wrong. It creates a cipher object with `pgp_crypt_any` and then - without setting a key or IV - calls `pgp_encrypt_init`:
https://github.com/riboseinc/rnp/blob/master/src/lib/create.c#L1302

This will end up keying the cipher with uninitialized data!

It appears this function is not used/called anywhere (probably good, considering). Al

[2017-05-26 18:57] randombit commented on #55
Done!

[2017-05-26 18:57] #55 closed

[2017-05-26 20:21] #123 closed

[2017-05-26 22:05] randombit commented on #114
Weirdly packet-parse.c already implements iterated S2K, but create.c doesn't, and it appears there is a third implementation of it in `ssh2pgp.c`. Yuk. Anyway I'll clean all that up as part of this issue.

[2017-05-27 09:32] ronaldtse commented on #114
You must have had a good idea in mind when you found all these 3 implementations. Thanks @randombit 😄

[2017-05-27 09:52] ronaldtse commented on #129
I wasn't aware that we could already write the above OID (RSA+SM3) in the signature packet?

[2017-05-27 11:29] randombit commented on #129
Yes I added the SM3 OIDs to Botan already, so asking for a RSA+SM3 signature just works (this is tested in one of the cmocka tests). I just looked over RFC 4880 a bit to make sure there isn't something else we need to do, but if so I didn't notice it.

[2017-05-28 00:39] ronaldtse commented on #129
Aha! Silly me, I do see that the SM3 combinations are already included in botan's `oids.cpp`!

[2017-05-28 00:39] #129 closed

[2017-05-28 00:44] ronaldtse commented on #133
This is very interesting. Apparently `pgp_write_symm_enc_data` wasn't even used in NetPGP (https://github.com/riboseinc/netpgp/search?utf8=%E2%9C%93&q=pgp_write_symm_enc_data&type=) so let' just simply remove it.

I suspect it was an enhancement in progress done previously but never actually made useful.

[2017-05-28 00:46] ronaldtse commented on #107
Done thanks to @randombit #132 .

[2017-05-28 00:46] #107 closed

[2017-05-28 01:22] ronaldtse opened #136 "Key generation support with key flags and subkeys"
As GnuPG users expect we should support key generation using different key flags and allow generation of multiple subkeys.

Here's a good example:
https://www.gnupg.org/documentation/manuals/gnupg/Unattended-GPG-key-generation.html

[2017-05-28 01:31] ronaldtse opened #137 "Support SM4 for symmetric encryption"
SM4 is defined in the "GM/T 0002-2012 SM4 Block Cipher Algorithm Standard" document and details of it can be found [here](https://tinycrypt.wordpress.com/2017/02/15/asmcodes-sm4/).

SM4 has been adopted in TPM 2.0 of the Trust Computing Group (TCG) standard.

[2017-05-28 12:17] flowher commented on #109
@randombit I would say go ahead with EdDSA implementation. I'm changing rnp so that it supports ECDSA and ECDH. There is some work needed in both - rnp frontend (rnp, rnpkey - this supports only RSA) and backend for EC. So it will take me some time.
I think this work will be useful also for EdDSA, so I can handle rnp side after it is available in Botan (if needed).
Plus - I like idea to base the E

[2017-05-28 22:30] ronaldtse commented on #109
Got it. It's all yours @randombit !

[2017-05-29 10:55] randombit opened #141 "No way to export a private key"
Wanted the generate a key with rnp and read it with gpg to test #140, but it doesn't seem `rnpkeys` or any API exposed in `rnp.h` supports this operation - `rnp_export_key` only handles public keys.

[2017-05-29 13:56] dewyatt commented on #141
Good point, we need a `rnp_export_secret_key`, and all the connective pieces for rnpkeys.

[2017-05-29 14:34] #101 closed

[2017-05-30 04:40] ronaldtse commented on #127
The best public information I was able to find is this link:
http://blog.csdn.net/arlaichin/article/details/23708155

[2017-05-31 03:55] #128 closed

[2017-05-31 04:43] ronaldtse opened #149 "Performance benchmark suite for rnp"
We should have a performance benchmark suite that compares performance of rnp to GnuPG / GPGME to prevent regressions.

From @dewyatt :

[2017-05-31 14:15] ronaldtse opened #152 "Create list of officially-supported platforms"
As per our discussion @zgyarmati and @catap , let's come up with a list of officially supported platforms.

Let me start with:
* RHEL/CentOS 7
* Fedora 25

[2017-05-31 14:20] dewyatt opened #153 "Come up with consistent return values"
The code base seems to have a mixture of functions returning different values indicating success, failure, other conditions.
I think we should come up with a standard and stick to it.
I think we may benefit from some macros like `RNP_OK(call_some_func())`/`RNP_OK(retval)` as well.
I'd like to dig into this some more. Botan has a convention for the FFI interface that might be a good fit.

[2017-05-31 14:22] zgyarmati commented on #152
Ubuntu 16.04 LTS
Ubuntu 17.04
Debian 8
Debian 9 (from middle of June, the planned rls date is 17th)

[2017-05-31 14:22] ronaldtse commented on #153
Nice one @dewyatt ! The macro approach does look good.

[2017-05-31 14:26] ronaldtse opened #154 "Support Ed25519, ECDSA SSH keys"
From @catap.

Our code only supports RSA and DSA keys, but OpenSSH also works with Ed25519 and ECDSA. Yet the latest Fedora doesn't support RSA/DSA keys on fresh install.

We should support other SSH key formats as well.

[2017-05-31 14:27] ronaldtse opened #155 "Do not hardcode SSH key file paths like `.ssh/id_rsa`"
From @catap .

The `~/.ssh` directory may contain many keys, but we have hardcoded `id_rsa` and `id_rsa.pub`, so we are locked into only supporting one RSA key now.

We should make this flexible.

[2017-05-31 14:28] ronaldtse opened #156 "Support PEM encoded SSH keys"
From @catap .

The `~/.ssh` directory may contain keys in PEM format. In particular, AWS provides SSH keys in PEM format, and we should support this.

[2017-05-31 14:29] zgyarmati commented on #152
OpenSuse maybe?
 And a bit later (when the main server/desktop distros are covered) i also would like to create a package for Buildroot (https://buildroot.org/) and OpenWrt/LEDE, which will show eventually if there are any issues with cross-compilation and on different HW platforms.

[2017-05-31 14:45] catap commented on #152
also Ubuntu 14.04 LTS because it's still alive.

Yes for OpenSUSE and SLES

[2017-05-31 15:43] ronaldtse opened #157 "Remove pgp_io_t usage"
The usage of `pgp_io_t` is deemed unnecessary (as discussed with @catap and @dewyatt ) and should be replaced with normal `stdout`/`stderr`.

We should replace all instances with the normal approach.

[2017-05-31 16:14] dewyatt commented on #153
@flowher Indeed, it's partially a dupe.
I think you mean `pgp_errcode_t`, which does provide a decent set of errors that are used in a lot of the modules.
However, a common convention is for errors to be <0 when using int return values.
Some functions return buffer sizes or have other positive return values that indicate different successful conditions, for example, so a positive error value can't

[2017-05-31 16:15] dewyatt commented on #68
Closing since I guess we better fold this into #153.

[2017-05-31 16:15] #68 closed

[2017-05-31 17:04] flowher commented on #153
hmm... I'm not sure why returning `<0` as an error code is better than returning `>0`. Buffer size is actually `size_t`, it's wise not to cast it to `int`, so I think it is good example why not to do it.
We can always return values by pointer, so that's not a problem. If we assume that all our functions alwyas return error code and results are always returned by pointer, then it makes quite unifie

[2017-05-31 17:19] dewyatt commented on #153
@flowher It's a very common convention, see the Linux kernel, botan FFI API, etc.
On size_t, you're right, and some of the existing functions do handle this incorrectly.

[2017-05-31 18:38] flowher commented on #153
I know posix style is common practice (but not necessarily good). Whatever type we return (signed or unsigned), we should be should be using `pgp_errcode_t` (you can always return `-pgp_errcode_t`).

[2017-05-31 18:41] dewyatt commented on #153
Agreed that we don't want to duplicate error codes.

[2017-05-31 18:49] ronaldtse opened #160 "Review calls to `rnp_strdup`"
As discussed in #159, we should review all calls to `rnp_strdup` (which is actually a copy of `strdup`) to make sure they are acting on NULL-terminated strings instead of a `pgp_memory_t` buffer.

With only 16 calls as of now, since this function easily hides memory allocation, the preference is to get rid of it...

[2017-05-31 22:33] dewyatt commented on #61
Closed in 48d36df5a9ae2aa51a00c72f0ebce16b4aa26f59

[2017-06-01 03:06] ronaldtse commented on #114
Closed with #140 .

[2017-06-01 03:11] ronaldtse opened #162 "Remove `pgp_` prefix"
The different function/struct prefixes make it confusing for development and users alike. Since the `pgp_` prefix has lost its meaning let's get rid of it completely.

From @dewyatt :

[2017-06-01 03:12] ronaldtse opened #163 "High-level interface to manage key stores and public/secret keys within"
From @catap :

[2017-06-01 03:13] ronaldtse opened #164 "Add Python binding"
Let's see if anyone is comfortable with doing this 😄

[2017-06-01 03:26] ronaldtse opened #165 "Audit for `pgp_forget()` to make sure passphrases are not kept"
From @catap :

Related to #39

[2017-06-01 03:47] ronaldtse opened #166 "Support rnp compilation into JS"
We should support rnp compilation into JS to use within JS via [emscripten](http://kripken.github.io/emscripten-site).

http://kripken.github.io/clangor/demo.html

[2017-06-01 03:50] ronaldtse opened #167 "Reboot of API"
From @randombit :

The current API falls short by being a bit too high level to actually accomplish the tasks an application would often need in practice.

As an example, take `rnp_list_keys`. You can call it and get out string containing all of the keys in the keyring. That makes `rnpkeys --list-keys` operation very easy to write, but it's not really possible to do anything else with the result.

[2017-06-01 03:51] ronaldtse opened #168 "Rename `keyring_*` into `key_store_*`"
"Keyring" is an OpenPGP specific term.

Given that we now support keyrings, keychains (SSH), and going to support keybox (of GnuPG 2.1), we should generalize the prefixes to be called `key_store_*` instead of `keyring_*`.

[2017-06-01 03:52] ronaldtse opened #169 "List of test cases needed"
We need to agree on a test structure so we can steadily build a test suite that covers most of rnp.

What levels should be tested, what code should be tested, etc.

[2017-06-01 12:28] dewyatt commented on #61
I think I better re-open this because:

1. I missed `include/rnp.h` in the re-format (oops).  I think I must have been in the `src/` subdir instead of top-level like I should have been.
2. Clang 5.0.0 apparently fixes block comment alignment, so I'd like to evaluate whether it's feasible to get everyone on that version.
3. There are still some stubborn tabs in the source that I should purge.

[2017-06-01 19:42] dewyatt opened #171 "pass-fd usage is broken, tests are not communicating passphrases correctly"
It looks like 4 or so tests are succeeding but probably should *not* be.
Essentially, we're probably generating keys without a passphrase (and signing/decrypting, etc), even when we *think* we're using a passphrase.

While coming up with a fix, I realized there is actually a relevant fix upstream (and a few others). I'll create a separate issue to evaluate and pull in upstream changes.

Anyhow, I

[2017-06-01 19:49] dewyatt opened #172 "Upstream changes"
There are half a dozen or so changes in upstream CVS that we need to evaluate and merge.
They should likely be evaluated individually. I saw one that was basically the exact fix I was going to do for #171.

I'm going to be away for about a week, but I can get to them then, if nobody else does.

[2017-06-01 23:11] danghvu opened #173 "librnp standalone"
Is there a document on how to build this library alone and/or using its APIs ?

[2017-06-01 23:14] randombit commented on #172
@dewyatt Where is upstream? The only repo I was aware of is /src/crypto/external/bsd/netpgp/ in NetBSD CVS, which last had a checkin in 2014.

[2017-06-01 23:34] dewyatt commented on #172
@randombit You're on the right track.
I haven't used CVS in probably 10 years so surely there's a better way, but here's a few links via cvsweb:

http://cvsweb.netbsd.org/bsdweb.cgi/src/crypto/external/bsd/netpgp/dist/src/lib/keyring.h?only_with_tag=MAIN
http://cvsweb.netbsd.org/bsdweb.cgi/src/crypto/external/bsd/netpgp/dist/src/lib/keyring.c?only_with_tag=MAIN
http://cvsweb.netbsd.org/bsdweb.cgi/

[2017-06-02 02:30] ronaldtse commented on #39
@riboseinc/rnp Let's use this to settle on a "correct" passphrase handling structure that is solid and secure.

[2017-06-02 02:31] ronaldtse commented on #168
Closed by #170

[2017-06-02 02:31] #168 closed

[2017-06-02 02:49] ronaldtse commented on #172
I've done a check on netpgp and these are the diffs we should merge (if still relevant):

* [netpgp.1](http://cvsweb.netbsd.org/bsdweb.cgi/src/crypto/external/bsd/netpgp/dist/src/netpgp/netpgp.1.diff?r1=1.19&r2=1.21&only_with_tag=MAIN)
* [keyring.h](http://cvsweb.netbsd.org/bsdweb.cgi/src/crypto/external/bsd/netpgp/dist/src/lib/keyring.h.diff?r1=1.32&r2=1.34&only_with_tag=MAIN)
* [keyring.c](http:

[2017-06-02 14:05] randombit commented on #172
Not sure why I don't see these commits in my local CVS checkout. *shrug* There is an up to date git mirror of NetBSD src at https://github.com/jsonn/src/tree/trunk/crypto/external/bsd/netpgp/dist/src/lib

[2017-06-03 11:51] MohitKumarAgniotri opened #176 "Unintentional commits to the main repository"
Hi @ronaldtse
By mistake, I have made commits to the main repo. Please revert the repository to the original state and I will fix my environment ASAP. Regrets and apologies for the f**k up :(.

[2017-06-03 11:54] ronaldtse commented on #176
Hi @MohitKumarAgniotri , it's back to before your changes were applied. No problem.

[2017-06-03 11:54] MohitKumarAgniotri commented on #176
Thanks a lot  :+1:

[2017-06-03 11:54] #176 closed

[2017-06-03 12:08] ronaldtse commented on #176
This is certainly an artifact of the latest re-formatting of code, hope this is the last side effect we see from it 👍

[2017-06-05 07:57] #114 closed

[2017-06-05 08:00] ronaldtse commented on #105
Closed via #179

[2017-06-05 08:00] #105 closed

[2017-06-05 08:06] ronaldtse commented on #152
Closed with #174 .

[2017-06-05 08:06] #152 closed

[2017-06-05 08:08] ronaldtse opened #180 "Create test suite for executables"
From @dewyatt :

[2017-06-05 11:01] #7 closed

[2017-06-05 12:16] #126 closed

[2017-06-05 17:39] MohitKumarAgniotri commented on #171
@dewyatt I will have a look at this one.

[2017-06-06 14:04] dewyatt opened #184 "Prevent swapping sensitive data to disk"
We need a secure memory allocation layer that uses `mlock` or whatever is available to prevent sensitive data being swapped to disk.
It looks like botan probably takes care of this for key material, but we'll probably need to handle this ourselves for passphrases.

Related: #39

[2017-06-06 19:00] #125 closed

[2017-06-06 21:42] #172 closed

[2017-06-08 02:54] ronaldtse opened #189 "Create tests against GPGME API"
This work is to create a test suite that tests/compares results of corresponding library calls to GPGME.

[2017-06-08 08:32] MohitKumarAgniotri opened #190 "Testing Ciphering and Encryption algorithms"
Hi All,
I have been trying for last few days to develop test cases to generate keys using different ciphering and encryption algorithms but I am yet unable to figure out a way to verify the generated key to ascertain that the generated key is correct as per the requirement.

**Any pointers would be appreciated.**

[2017-06-08 08:47] MohitKumarAgniotri opened #191 "Using coverity for early issue detection"
Hi All,
We may want to use the free scan provided by the Coverity for the open source projects to have feedback/ensure the quality of the project.

[2017-06-08 08:54] zgyarmati commented on #191
Hi,

it's in place already, see https://scan.coverity.com/projects/riboseinc-rnp

[2017-06-08 08:54] #191 closed

[2017-06-08 09:04] zgyarmati commented on #173
Dear Danghvu,

thanks for reaching out! Currently we are still doing an overhaul of the source tree and API changes are rather possible. Nevertheless you can compile&install the package on the autotools way, and you will have the librnp binary and the header files installed, next to the executables.
 ATM the best way to get an overview of the API is the librnp.3 man file, which is also installed i

[2017-06-08 09:14] zgyarmati commented on #6
This seems to be solved by the linked commit, please feel free to reopen if something else is needed here.

[2017-06-08 09:14] #6 closed

[2017-06-08 09:25] zgyarmati opened #192 "Provide API documentation"
Partially depends on #167.
 Currently the API of the lib documented only in the src/lib/librnp.3 file and don't have any autogenerating infrastructure in place. Instead of this we need a source-code comment based, autogenerated  API documentation.
For this we can use [doxygen](http://www.stack.nl/~dimitri/doxygen/)  or with a slightly more modern approac [cldoc](https://github.com/jessevdk/cldoc).

[2017-06-08 12:41] dewyatt commented on #190
You'll probably have to use GPGME (see #189)

[2017-06-08 13:04] dewyatt commented on #192
A lot of the internal API is documented with doxygen (at least the parts inherited from OpenPGP-SDK).
But I know some of the doxygen comments are misleading and out of date.

cldoc certainly looks promising but I do have some concerns there: https://github.com/jessevdk/cldoc/issues/11
If that's still a valid issue, I'm not sure the output would be grouped in a meaningful way. We should look into i

[2017-06-08 13:30] zgyarmati commented on #192
Indeed, i shouldn't have imply that there are no existing doxygen document comments, on the other hand i more prefer here to the public API, mainly because of the #173 .
 I didn't spot this bug in cldoc (i've used only for C++), and anyway, i don't have a strong position about using it, so i'm totally fine if we work in doxygen.

[2017-06-08 13:33] zgyarmati opened #193 "Build failed on Fedora 25 32 bit due to using %zu for long unsigned int"
[  136s] rsa.c:328:51: error: format '%zu' expects argument of type 'size_t', but argument 3 has type 'long unsigned int' [-Werror=format=]
[  136s]          fprintf(stderr, "Unexpected RSA e value %zu, key generation failed\n", e);
[  136s]                                                    ^
`

PR with the fix will follow soon

[2017-06-08 13:51] #193 closed

[2017-06-08 20:49] danghvu commented on #173
Thanks

[2017-06-08 20:49] #173 closed

[2017-06-09 07:22] ronaldtse commented on #192
It seems that jessevdk/cldoc#11 is not (or not going to be) fixed. Maybe we should stick with doxygen for now and could migrate to another solution afterwards?

[2017-06-09 08:04] ronaldtse commented on #180
@zgyarmati yes it's time to migrate that away. Many of the old `test`s pass even when the executables aren't built 😉

There are also shell executable test frameworks like [BATS](https://github.com/sstephenson/bats) that could be considered.

[2017-06-09 09:28] MohitKumarAgniotri commented on #190
Thanks for the heads up. is there anyone working on #189? if not, I will start to make an initial attempt on using it.

[2017-06-09 09:29] ronaldtse commented on #189
Go ahead @MohitKumarAgniotri !

[2017-06-09 13:20] ronaldtse commented on #149
Thanks @ni4 !

[2017-06-09 15:39] ni4 opened #197 "Problem with building on CentOS Linux release 7.3.1611 (Core) : json-c not found"
Building in docker container on macOS 10.12.x fails with json-c not found error.

The problem is caused by wrong pkg-config search paths:
[code]
However json-c installs it's .pc file into /usr/local/lib/pkgconfig or /usr/lib/pkgconfig (if installed with --suffix=/).

Doing the following fixes the issue, however not sure where it is better to check this/set this:
`export PKG_CONFIG_PATH=/usr/lib/pk

[2017-06-09 15:57] ni4 opened #198 "Empty filename in literal packet after the file signing"
Running:
`rnp --sign hello.txt`
Produces the following literal packet:

[code]

It would be reasonable to include file's name and modification date into this packet.

[2017-06-09 19:20] frank-trampe commented on #197
That's odd. I built on CentOS 7.3.1611 and did not experience this problem. I had to install `json-c-devel` manually, though.

[2017-06-09 19:35] ni4 commented on #197
I cloned master, maybe this is the reason. Will re-check tomorrow.

[2017-06-09 20:00] frank-trampe commented on #1
I got completely different behavior on d7d4f12e9d8464280e61153eafe3f017468e4d9b. `./rnpkeys --generate-key --userid=packaging@ribose.com --homedir=/root/.tmp/` put `pubring.gpg` and `secring.gpg` in `/root/.tmp/.rnp`. This is also undesirable behavior, because the same option in gpg specifies the gpg configuration directory (usually `~/.gnupg`), not the user's home directory. This makes it very di

[2017-06-09 21:46] frank-trampe commented on #19
I think that this specific bug has been fixed in master. I was able to generate a key without a passphrase and to encrypt and to decrypt with that key. But gpg is unable to use the resulting key.

[2017-06-09 23:17] ronaldtse commented on #149
@frank-trampe is going to set this up. Apologies for the late notice!

[2017-06-09 23:24] ronaldtse commented on #180
@frank-trampe this issue seems related to what you're doing too.

[2017-06-09 23:26] ronaldtse opened #202 "rnp key generation doesn't seem to consume entropy like GnuPG"
From @frank-trampe :

GnuPG key generation usually takes ages on a headless machine unless additional entropy is fed, such as when `rngd` is enabled.

[2017-06-09 23:27] ronaldtse commented on #19
Let's close this and start a new one then. Thanks @frank-trampe !

[2017-06-09 23:27] #19 closed

[2017-06-09 23:28] ronaldtse opened #203 "rnp generated keys should be compatible with GnuPG (can be used by GnuPG)"
From @frank-trampe #19:

[2017-06-09 23:32] frank-trampe opened #204 "rnp and gpg homedir options are not compatible."
The `--homedir` option means different things to gpg and rnp. gpg looks for key data in the specified directory. rnp looks in the `.rnp` subdirectory of that directory.

[2017-06-09 23:33] frank-trampe commented on #4
See #204.

[2017-06-09 23:34] frank-trampe commented on #204
This is similar but not identical to #1.

[2017-06-09 23:39] ronaldtse commented on #203
@frank-trampe seems that #200 may not have this issue. Would you mind trying out that branch?

[2017-06-09 23:47] dewyatt commented on #204
Correct, see https://github.com/riboseinc/rnp/pull/81 and https://github.com/riboseinc/rnp/issues/44#issuecomment-291787408

[2017-06-09 23:49] ronaldtse commented on #197
The easiest way to setup on a mac is to run:
[code]

Then inside the container:
[code]
Which will install all dependencies.

[2017-06-09 23:58] ronaldtse commented on #1
@frank-trampe I think the option to specify the key directory is now called 'keydir'?

[2017-06-10 00:39] ronaldtse commented on #197
Actually the `prepare_build.sh` script is missing JSON-C.

You can install json-c with this:
[code]

[2017-06-10 00:57] flowher opened #205 "Remove Elgamal sign operation"
It seems RFC 4880 doesn't support Elgamal (PK algo ID 20) signature anymore (see 14.9 and ftp://ftp.inf.ethz.ch/pub/crypto/publications/Bleich96.pdf)

The goal of this ticket is to remove sign operation with elgamal scheme

[2017-06-10 07:20] ni4 commented on #202
RSA key generation time cannot be guessed in any way since completely depends on how lucky you are on choosing the random initial number and then searching for the prime based on that number. For DSA/EC-based algorithms it would be the same since requires just one random number generation and then some calculations.

[2017-06-10 07:27] ni4 commented on #205
Elgamal signing is obsolete, however signature verification may be left for compatibility with old messages?

[2017-06-10 08:23] flowher commented on #205
This is just to make sure we don't create signatures

[2017-06-10 08:34] flowher commented on #205
hmmm... actually looking again at the code - it's not possible to create elgamal signature or key for sigining.

[2017-06-10 08:34] #205 closed

[2017-06-10 18:33] ni4 commented on #149
@frank-trampe We should somehow elaborate on this so task can be done together. What about dividing it to the three parts : 1) list of performance items (key generation, encryption, signing, verification, something else?) 2) script which calculates performance data for rnp 3) script which calculates performance data for GnuPG ?

[2017-06-10 18:36] ni4 commented on #149
@frank-trampe Oops, how that comes that I unassigned you just by mentioning.

[2017-06-10 19:43] ronaldtse commented on #149
@frank-trampe is back here 👍

[2017-06-11 04:37] frank-trampe commented on #149
See branch rnpgpgtest_1. In order to facilitate testing, I left out the line that removes the temporary directory. It logs stderr to the temporary directory, too. There were some odd things that looked like errors that didn't affect the result that we might want to look at.

[2017-06-11 18:52] flowher commented on #130
Following comment from #200 should be taken into account:

"
Currently keygen works by requesting a 255 bit key. It would be nice to clean this up by adding an algorithm identifier to rnp_generate_key. The underlying API pgp_generate_keypair does take an alg id now.
"

[2017-06-12 14:29] randombit commented on #202
Botan doesn't block for entropy - it uses either `/dev/urandom` or else a userspace PRNG seeded with output from `/dev/random` (and/or other sources). In rnp's case it always passes NULL as the `rng_type` param to `botan_rng_init`, so botan will use `/dev/urandom` if it is available (or otherwise falls back to the userspace PRNG).

[2017-06-12 16:06] ni4 commented on #149
I pushed some python stuff to the ni4-149-performance-benchmark-for-rnp branch. It is not finished - to some problems with non-compatible key generation/strange output, so will debug that first.

[2017-06-12 18:31] randombit commented on #109
Done with #200

[2017-06-12 18:31] #109 closed

[2017-06-12 18:35] randombit commented on #106
Think this is done with #135 - adding a new hash now requires just modifying `hash.h` to add the codepoint and `hash.c` to modify a couple of lookup tables.

[2017-06-12 18:35] #106 closed

[2017-06-12 19:09] randombit commented on #111
I believe this was fixed by #140

[2017-06-12 20:05] frank-trampe commented on #149
I modified my branch to work around various deficiencies in rnp, such as ignoring the `--output` option. Unfortunately, `rnp --decrypt` does not seem to produce an output file.

[2017-06-13 00:06] flowher opened #206 "Signature generation must fail and exit if ``pgp_write_sig`` fails"
Noticed while developing ECDSA. In case ```pgp_write_sig``` fails, code continues process of signature generation as error code from this function is not checked.

See example below for signature generation of freshly generated key.

[code]

[2017-06-13 00:22] ronaldtse commented on #106
Thanks @randombit !

[2017-06-13 02:34] ronaldtse commented on #149
@frank-trampe , @ni4 the performance benchmark scripts do look good but are in diverged approaches. Can we consolidate both into the same structure so we can have one authoritative benchmark moving forward? Thank you guys.

[2017-06-13 02:41] ronaldtse commented on #198
@ni4 thanks for reporting this, this is definitely a bug. Would you be able to help fix it? Thanks!

[2017-06-13 03:01] frank-trampe commented on #149
@ronaldtse, my code is unnecessarily verbose due to `rnp` ignoring the `--output` option almost universally. Any chance that we could fix that before a final draft? We also need to decide what parameters from `time` we want and how to format them.

[2017-06-13 03:30] ronaldtse commented on #149
@frank-trampe yes could you file an issue about the `--output` option?

We probably want to try a couple times per command to ensure the output time is averaged out. For output time we need enough granularity to distinguish performance differences (e.g., `0.01s` vs `0.02s` is not great to compare with, but `100ms` and `200ms` for 10 times is).

[2017-06-13 03:41] frank-trampe commented on #149
@ronaldtse, those all run 64 times.

[2017-06-13 03:42] frank-trampe opened #210 "The output option doesn't seem to work."
As far as I can tell, `rnp` completely ignores the `--output` option, which makes tests more complicated because it's necessary to have multiple copies of input files in order to get different output files.

[2017-06-13 03:45] frank-trampe opened #211 "rnp decrypt doesn't seem to work."
As mentioned in #149 and tested in branch rnpgpgtest_1, I cannot seem to get rnp to decrypt. There is no error, but there is also no output file. gpg is able to decrypt the same files.

[2017-06-13 04:19] frank-trampe commented on #149
Blocking issues are #211 and #210. I've worked around #203 by pregenerating keys in gnupg.

[2017-06-13 07:11] ni4 commented on #149
@ronaldtse My scripts have configurable number of runs for small and large files for each operation, and run time averaged. Then it is divided to the GnuPG's value and displayed as well. Basically since we do not have mythical  reference system the only value we can rely on is that division result, i.e. 'we are 1.5x times slow then GnuPG on that operation'

[2017-06-13 07:23] ni4 commented on #149
@frank-trampe @ronaldtse Regarding having the single scripts version. What about to have .sh script as it is now to integrate into the automatic testing (so, say, it tries all the main operations, compares to GnuPG output, and fails if it is out of bounds, i.e. encryption run 1.5 times slower while we expect it in 1.2-1.4 bounds), and have more sophisticated python script which will check more ope

[2017-06-13 08:52] ronaldtse commented on #197
This issue is resolved in #212.

[2017-06-13 09:20] ni4 commented on #198
Sure thing, I'll do that.

[2017-06-13 10:48] ronaldtse commented on #198
Thanks @ni4 , seems that modification time is empty too, it'll be great you can handle that while you're at it :-)

[2017-06-13 15:06] dewyatt opened #213 "CI and local build scripts should use all processor cores"
Currently there's a few places where we have things like `make -j2`.
Many of us have 4 or more cores so when we build locally, this is a bit slower than what we expect.

I usually use something like `make -j$(grep -c '^$' /proc/cpuinfo)` which works well as long as procfs is mounted, etc.
I think we ought to default to 2 cores and then use /proc/cpuinfo to adjust if it's available.

[2017-06-13 15:08] ronaldtse commented on #213
Agree with @dewyatt .

[2017-06-13 16:11] ronaldtse opened #214 "macOS compatibility broken on updates"
Running `build.sh` on macOS gives this error.

[code]

Obviously this is due to botan version (and that S2K isn't released yet), but there ought to be a way to make this work properly.

[2017-06-13 16:37] ronaldtse commented on #130
Ah @flowher I found this from your comment in #207 . Are you planning to include this in #207 or do you plan to have a separate one for exposing key generation?

[2017-06-13 17:06] flowher commented on #130
Actually #207 and this one will be separated
#207 is strictly about supporting ECDSA and this one is about changes to rnpkeys (like see the comment above)

[2017-06-13 22:19] #61 closed

[2017-06-14 01:06] #213 closed

[2017-06-14 01:09] ronaldtse commented on #197
Closed by merging of #212.

[2017-06-14 01:09] #197 closed

[2017-06-14 03:40] frank-trampe commented on #149
@ni4, that's probably a reasonable approach. I committed to shell script originally for a few reasons.
* I wasn't sure what the baseline development environment might include but knew that shell script would be present. Python is okay because Ubuntu and CentOS bundle it by default, I think.
* Somebody suggested using BATS, which would imply using bash. I didn't use BATS, though, just TAP output sy

[2017-06-14 23:55] ronaldtse opened #218 "A little more description for the Dev Guide"
@dewyatt I've received questions on some parts of the Dev Guide, such as:

* "Do not use static storage-class for variables."

https://github.com/riboseinc/rnp/blob/master/Developers%20Guide.md#general-guidelines

Would it be possible to slightly explain the Do's and Don'ts in there? Thanks!

cc: @drystone

[2017-06-15 12:09] ni4 commented on #164
I would be happy to do this :-)

[2017-06-15 12:12] ni4 commented on #136
Important thing to note here is that RSA key pair by default should have sign-only main key and encrypting subkey.

[2017-06-15 12:57] ni4 opened #219 "pgp_add_time needs some refactoring"
It's a bit weird - it has char* parameter type, which can be "birth" or "expiration", and then it is mapped to `tag = (strcmp(type, "birth") == 0) ? PGP_PTAG_SS_CREATION_TIME : PGP_PTAG_SS_EXPIRATION_TIME`

I think char* parameter should be replaced to some enum or directly to the `PGP_PTAG_SS_CREATION_TIME/PGP_PTAG_SS_EXPIRATION_TIME`

[2017-06-15 13:05] dewyatt commented on #219
Agreed, it's a bit error-prone the way it is.

[2017-06-15 13:55] ni4 opened #220 "Implement proper handling of 'for your eyes only' flag"
From the RFC 4880:

This should be handle during the file decryption (if filename in literal data packet is _CONSOLE then app should print it to console/tell that it is impossible to write data to file unless some '--force' parameters was specified.
During encryption we should add some option like '--for-your-eyes-only'.

[2017-06-15 14:33] ni4 opened #221 "rnp: ask whether to overwrite output file if it is exist already"
Some command-line option should be added to control whether overwrite is allowed.
Currently rnp just silently overwrites an output file, p.overwrite = 1 on line 536 of rnp.c

[2017-06-15 23:16] flowher commented on #27
#217

[2017-06-17 16:07] dewyatt opened #224 "Remove sshkeydir"
I've been meaning to file an issue about this.
Currently we have a lot of calls like `rnp_setvar(&rnp, "sshkeydir", "/etc/ssh")`.
But this is not used by the library at all currently.

[2017-06-18 03:23] #218 closed

[2017-06-18 12:13] ni4 commented on #214
It doesn't work if 'brew install botan', however works fine if build botan from sources, using the master branch.

[2017-06-18 12:18] ni4 opened #227 "rnpkeys doesn't tell that entered passwords do not match during the generation"
During the generation, If password and repeated password do not match, it just silently asks for the password again. However it should write some meaningful message, like 'Passwords do not match, please try again'.
It's just minor things however should be fixed at some point.

[2017-06-19 08:02] ni4 opened #228 "Encryption: iv is not initialized to random value"
As it is seen in the pgp_push_enc_se_ip, value for iv is not initialized with random byte string, it just uses memory after the allocation.

[2017-06-19 12:35] dewyatt commented on #228
It uses all zeroes, so it should be correct as per RFC4880 5.13.

   cipher's block size.  The Initial Vector (IV) is specified as all
   zeros.  Instead of using an IV, OpenPGP prefixes an octet string to
   the data before it is encrypted.

[2017-06-19 12:36] ni4 commented on #228
Thanks, sorry for wasting your time on this. Just read the same in the RFC. Randomness is added later.

[2017-06-19 13:24] ni4 opened #230 "Generated secret key has zero iv for secret key data encryption"
IV for secret key encryption is not initialized anywhere, so it is always zero. However it should be set to random value.

[code]

[2017-06-19 13:34] ni4 opened #231 "Generated secret keys always have 65536 as iteration count for s2k"
GnuPG uses much higher iteration count: 13107200 or 7864320, depending on installation.
We should also pick up  better default encryption algorithm (currently CAST5 is used).

[2017-06-19 13:36] ni4 commented on #230
It initializes the salt, but not the initial vector.

[2017-06-19 14:03] dewyatt commented on #230
@ni4 I edited your comment to use triple backticks, a bit easier to read.

So the IV is always zero since the structure is allocated with calloc. Does RFC4880 13.9 explain this? (I haven't really looked)

[2017-06-19 14:26] ni4 commented on #230
@dewyatt Thanks for editing.

13.9 seems to explain only the CFB mode for plaintext encryption, not the secret keys. As I remember from the previous experience it is one of the parts of the RFC which cannot be easily understood.
3.7.2.1 tells:

Something similar is told in the 5.5.3:

Also, GnuPG uses non-zero IV for secret key encryption:
[code]

[2017-06-19 14:32] dewyatt commented on #230
I did notice GnuPG uses random salt+IV, like you said, so we should probably be doing the same since we are aiming to be compatible.

The RFC is pretty vague and under-specified, so this is probably one of those areas where the real standard is the GnuPG implementation itself.

[2017-06-19 15:52] ronaldtse commented on #190
@dewyatt @flowher @zgyarmati  do you have experience with selectively including a library via autotools, in this case, GPGME only for compatibility tests?

[2017-06-19 15:56] ronaldtse commented on #224
Let's remove them then. I think we need a more comprehensive approach if (which we will) want SSH compatibility. @catap seems to have some ideas on doing it.

[2017-06-19 15:57] catap commented on #190
@ronaldtse I do a lot of experiences with autotools :) I think I can help.

[2017-06-19 16:59] ni4 commented on #230
Fixed and merged in f1a60f4.

[2017-06-19 16:59] #230 closed

[2017-06-19 19:08] dewyatt commented on #211
@frank-trampe Can you elaborate a bit on this?

[code]

[2017-06-19 19:34] frank-trampe commented on #211
@dewyatt, that doesn't work for me on my branch based on d7d4f12e9d8464280e61153eafe3f017468e4d9b. I'll try merging from master.

[2017-06-19 19:40] frank-trampe commented on #211
Hmm. I can't build from master. I'll circle back tomorrow.

[code]

[2017-06-19 20:09] dewyatt opened #235 "Check format/style automatically as part of CI"
It looks like Travis CI whitelisted the apt sources for clang 4.0 a few months back, so this should be do-able without building everything manually.

[2017-06-20 02:23] ronaldtse commented on #235
That's indeed great news @dewyatt ! Now we just need someone to do this 👍

[2017-06-20 06:33] ronaldtse commented on #190
@MohitKumarAgniotri could you work with @catap on this? Thanks!

[2017-06-20 07:12] MohitKumarAgniotri commented on #190
sure!  I will align with @catap.

[2017-06-20 09:30] ni4 opened #236 "Implement multiple recipient encryption"
## Description

Currently single-recipient-only encryption is implemented, however OpenPGP standard allows multiple public key and/or password encryption.

[2017-06-20 11:46] ni4 opened #238 "Implement file encryption with password"
## Description

OpenPGP standard allows file encryption with password(s), without using the public keys.

[2017-06-20 13:32] ni4 commented on #16
Agree on that. Current base64 implementation is awfully slow, writing characters 1 by 1. You can assign this to me if nobody else want to dig into.

[2017-06-20 13:38] #219 closed

[2017-06-20 14:19] ronaldtse commented on #16
Thanks @ni4 and @dewyatt !

[2017-06-20 15:01] ronaldtse opened #239 "General code resilience improvements via syscall fuzzing"
## Description

For example, malloc/callco/realloc returns a pointer to new memory when it can, and `NULL` when it can't. When you use librnp over CLI it will works fine, but when you're using it as part as service the syscall may return `NULL` and SEGFAULT or data corruption may happened.

So, we can dramatically increase quality of RNP code and catch issues like this: https://github.com/ribosein

[2017-06-21 07:00] #235 closed

[2017-06-21 07:58] ronaldtse commented on #214
Yes @ni4 , currently rnp requires botan from its latest master branch, but @randombit says he will have everything merged by botan 2.2, so we can probably rely on normal botan then.

[2017-06-21 08:15] ronaldtse commented on #214
@ni4 we actually have a homebrew tap + formula here https://github.com/riboseinc/homebrew-rnp . Perhaps you could help maintain it so as to provide a one-liner install for rnp on macOS?

[2017-06-21 08:17] ronaldtse commented on #238
I know both botan and OpenSSL offer utility functions for standalone file encryption, but maybe we can make it simpler to use?

[2017-06-21 08:22] ni4 commented on #214
@ronaldtse Sure, I can be responsible for this.

[2017-06-21 08:29] ni4 commented on #238
I'm not sure what encryption standard is used by botan/OpenSSL (CMS?). But at least OpenPGP password-encrypted document can be decrypted by GnuPG on any *nix system or by any PGP software or library (PGP Desktop, whatever else) on Windows.

[2017-06-21 12:09] ni4 commented on #171
I fixed some testing/pass-fd issues in 2daa2c4 and ded5a07, however they are not merged to master yet.

[2017-06-21 14:58] randombit commented on #231
This could be an additional parameter to the keygen structure added in #241

[2017-06-21 15:01] ni4 commented on #198
Fixed in 7ca4eb6

[2017-06-21 15:01] #198 closed

[2017-06-21 15:07] ni4 commented on #231
Hm, s2k parameters are not part of key generation but part of secret key saving process - i.e. user logically is able to take already generated key, change security parameters (add/change/remove password, strengthen s2k) and save the key again.

[2017-06-22 08:19] ni4 opened #245 "Get rid of rnp_getvar/rnp_setvar on the library level"
## Description

As it was discussed before we should remove all the 'outer'/'os-level'/'user-level' stuff from the library layer, so it will work completely on abstract data layer. As first step it would be removal of char* variables inside of the rnp_t and moving them to some kind of rnp_config structure on the CLI level.

[2017-06-25 17:02] dewyatt opened #248 "Add support for GnuPG 2.1's private-keys-v1.d"
## Description

https://www.gnupg.org/faq/whats-new-in-2.1.html#nosecring

Related: https://github.com/riboseinc/rnp/pull/223

[2017-06-25 21:51] flowher opened #249 "ECDSA and EDDSA signature verification fails"
## Description

Wrong representation of 'r' and 's' components of ECDSA/EDDSA  as octet-string causes failures during signature verification. Verification may fail even if signature is completely correct.

## Steps to Reproduce

Assuming uniform distribution of numbers produced by RNG, the only way to
1. Ensure RNG is initialized once and ecdsa/eddsa uses initialized RNG
2. Run either ECDSA_signve

[2017-06-25 21:54] #130 closed

[2017-06-25 22:44] flowher opened #251 "Single instance of RNG"
## Description

RNP performs call to ``botan_rng_init`` function in many places of the code in order to initialize source of random numbers. This isn't really needed - it impacts code clarity, causes memory leaks when RNG object is not destroyed correctly and may impact performance.

I propose ``rnp`` initializes RNG only once and makes it available via some sort of handle - global, part of a ``rn

[2017-06-26 08:43] ni4 commented on #249
If I correctly understand, problem happens when high-order byte of one of the (r, s) is zero. This should happen at least in 1 in 256 runs, if think about (r, s) pair as a semi-random thing, isn't it?

[2017-06-26 09:21] flowher commented on #249
It happens if high-order byte is zero.
r and s are not uniformly random, but they depend on value chosen at random. but my explanation above about number of trials isn't actually correct (as there is many such numbers)

[2017-06-26 09:23] #249 closed

[2017-06-26 11:04] ni4 opened #252 "Check pgp_keyid function's hash parameter usage"
## Description

As it is observed in signature.c, signing methods send hash_alg to the pgp_keyid() function call. However that hash_alg should be used for data hashing not the fingerprint calculation.

This should be fixed after refactoring is finished.

[2017-06-26 12:16] ronaldtse commented on #252
Agree. A v4 key fingerprint is always performed using SHA-1 according to RFC 4880:

[2017-06-26 14:27] randombit commented on #251
Sounds good to me. Re performance, it should not be so much an issue because currently `botan_rng_init` is always called with NULL param, which means it defaults to reading `/dev/urandom`, and Botan uses a single persistent handle to the system RNG among all such RNG objects. However if rnp wanted to use a DRBG, the seeding overhead would be quite high due to the repeated initializations so there

[2017-06-26 14:28] randombit commented on #231
Yeah true - I think the code would need to be refactored to split up these two operations.

[2017-06-26 14:56] ni4 commented on #157
As I'm working on the refactoring now I can cut it out. However, my opinion is that we should move all error reporting/writing to stdout to some method calls with rnp_t parameter - so later on we can easily redirect output later if needed. @ronaldtse, what do you think?

[2017-06-26 15:09] catap commented on #157
I see two way:
 - use something likes `set_pass_fd` to error stream;
 - add a standard variable `rnp_errno` and implement a function that convert rnp error to human-related error.

I vote for last one because it's more common and this way is used for example [OpenSSL](https://wiki.openssl.org/index.php/Manual:ERR_error_string(3))

[2017-06-26 15:21] ni4 commented on #157
Sure, rnp_errno can be added as well so upper layers can see what happened below. What I mean is that we should set errors via some single function call, i.e. rnp_error(int code, char *msg, ...), so later on it would be easier to change the way errors are reported. Within the current implementation we need to go through the all code and seek for printf's and so on.

[2017-06-26 16:16] catap commented on #157
@ni4 I saw in code `PGP_ERROR_1` that looks like this sort of function.

But I mean another idea. We can keep a error code status inside `rnp_t` or `rnp_ctx_t`, and made a big table where we assigned for each possible error string an error code and the function that returns this error string, if user required it.

Likes `errno` and `strerror` or how [OpenSSL](https://wiki.openssl.org/index.php/Man

[2017-06-26 16:33] dewyatt commented on #157
@catap See `src/lib/misc.c` `pgp_errcode`.
Also, the reader/writer framework keeps a linked list of errors, which is what `PGP_ERROR_1` deals with (also see `pgp_stream_t->errors`).

@ni4 If you were to add an `rnp_t` parameter to every function that calls `fprintf(stderr, ...)`, I think we would be tightly coupling things and losing a layer of abstraction that we may need later.

Generally, I thi

[2017-06-26 16:34] catap commented on #157
@dewyatt sorry, I missed it.

Yeah, I mean `pgp_errcode` and existed code :)

[2017-06-26 17:24] ni4 commented on #157
I see it. I agree with this idea, however this makes sense for 'predictable' errors, and errors which may have or require further interpretation - like, wrong keyring file, unsupported algorithm, too low RSA exponent bitcount and so on. But we also have printf's which output additional, mostly debug information which mostly is a result of unexpected behavior. In this case only logging of these mes

[2017-06-26 17:35] ni4 commented on #157
@dewyatt somehow GitHub didn't refresh the story before my reply. Agree with you - I forgot that there is a set of functions which will not have access to rnp_t. So anyway we'll have some code which printf'ing to the stderr/stdout.

[2017-06-26 17:51] catap commented on #157
@ni4 I may wrong but I think that debug errors should write to stderr and the way to redirect it to custom stream is overengineering.

[2017-06-26 18:08] ni4 commented on #157
Yep, maybe I'm just overcomplicating things :)

[2017-06-27 00:04] ronaldtse commented on #202
Since this isn't a problem for us I'm closing this, thanks @ni4 @randombit @frank-trampe !

[2017-06-27 00:04] #202 closed

[2017-06-27 00:14] ronaldtse commented on #157
@ni4 I agree that instead of directly writing to `stdout`/`strerr` or `printf`, we should have an abstract layer with a custom structure for output, like riboseinc/retrace#143 .

Directly writing to `stderr` seems a bit too tight in coupling -- some messages are informative ones that do not affect functionality and we don't need to clutter the user's output unless required. Maybe we should have a

[2017-06-27 07:34] ni4 commented on #157
@ronaldtse We have --verbose (-v) option now, which allows to raise verbosity layer. However it doesn't seem to be used anywhere.

[2017-06-27 08:06] ronaldtse commented on #157
Yes @ni4 we should fix that.

[2017-06-27 17:41] ni4 commented on #252
To not forget - keyring->hashtype parameter seems to be used only to save hash algorithm for the key fingerprint, which is not needed.

[2017-06-28 05:07] ronaldtse commented on #149
@ni4 @frank-trampe I think we are all in agreement here for clearer results for benchmarking. Would you be able to integrate the tests in a PR?

[2017-06-28 07:45] ni4 commented on #224
@dewyatt I'm currently removing those calls as part of the other issue so all will be fine :)

[2017-06-28 08:02] ni4 commented on #149
@ronaldtse I'll get back to this task once finished with current issue, will this work for you?

[2017-06-28 08:02] ronaldtse commented on #149
@ni4 of course, no problem at all.

[2017-06-28 15:50] catap commented on #239
First part is here: https://github.com/riboseinc/rnp/pull/255

[2017-06-28 15:51] catap commented on #239
BTW I'm blocked by botan.
@randombit right now I've blocked because botan throws a `std:bad_alloc` exception for example from [here](https://github.com/randombit/botan/blob/master/src/lib/ffi/ffi.cpp#L528)

I think the best way is catch it on botan-side  and returns error in C-like way because rnp is written on C.

[2017-06-28 16:24] dewyatt commented on #239
@catap @randombit I went ahead and filed a PR that will hopefully fix that issue: https://github.com/randombit/botan/pull/1095

[2017-06-28 16:26] ronaldtse commented on #239
@dewyatt I finally found out your middle name is "Fast" 😉

[2017-06-28 16:36] dewyatt commented on #239
@ronaldtse haha! I was waiting on something large to compile so I needed a distraction.

[2017-06-29 06:47] catap commented on #239
And one more fix inside botan: https://github.com/randombit/botan/pull/1097

[2017-06-29 12:08] catap commented on #239
Status update.

1,000 iterations passed of rnp_test with retrace-config
[code]

So, results.

rnp changed:
[code]
bottan changed:
[code]

Trying a longer one with 10,000 iteration.

[2017-06-30 07:49] ni4 opened #256 "Keyring is duplicated when new key is generated"
## Description

When new key is generated it should be appended to the keyring. However actually all existing keys are appended as well.

## Steps to Reproduce
[code]
## Expected Behavior
We have two keys, first RSA and second ECDSA 256-bits
## Actual Behavior
First key (RSA) is duplicated, also ECDSA key has 384 bits instead of 256.

[2017-06-30 07:49] ni4 commented on #256
It would be more logical to fix this issue after refactoring is done.

[2017-06-30 08:39] ni4 commented on #214
@ronaldtse Maybe we can close this since homebrew formula works fine now?

[2017-06-30 08:57] flowher commented on #256
I believe there are 2 different bugs here. Indeed keys are duplicated (it seems this is recent change, as I've never seen it before).
Second bug is "First key (RSA) is duplicated, also ECDSA key has 384 bits instead of 256.". This is now fixed by #257

[2017-06-30 10:55] ronaldtse commented on #214
Yes indeed. Thanks!

[2017-06-30 10:55] #214 closed

[2017-06-30 18:03] catap opened #260 "Memory leaks fix"
When I worked on https://github.com/riboseinc/rnp/pull/259 I realised that we can't cleanup the code from memory leaks because some functions is too bigger and allocate/free resources made in different places.

So, I suggest to re-write the way how rnp works with memory, and move on to pool-based solution.

The idea is simple: we create a pool of memory and attach it to `rnp_ctx_t`, all parsers/et

[2017-07-01 06:39] ni4 commented on #260
Imho this can make life easier, anyway it would be good idea to make some wrapper functions rnp_alloc/rnp_free. But this should be minimalistic, to not overcomplicate the things :)

[2017-07-01 07:48] catap commented on #260
Yes, the idea is make rnp allocator easy but use it everywhere to make life easier :)

[2017-07-01 18:24] MohitKumarAgniotri commented on #260
I agree with the proposal considering the responsibility of allocating and freeing the memory is not very clear.

[2017-07-01 23:15] ronaldtse opened #262 "Add test to ensure right curve size for generating ECDSA keys"
## Description

Add test to guard against situations like #257.

[2017-07-02 11:18] flowher opened #263 "find_passphrase is not guaranteed to clear sensitive data"
## Description

``find_passphrase`` function stores password provided by user in a ``buf`` buffer. It is not guaranteed that this buffer is cleared before function exits. Similarly, ``rnp_generate_key`` doesn't clear password stored in ``passphrase`` buffer.

See [here](https://www.securecoding.cert.org/confluence/display/CINT/MSC06-C.+Beware+of+compiler+optimizations) for more details.

``rnp`` n

[2017-07-02 11:34] flowher commented on #263
Also we are using ``getpass``. man(3) says interesting things about ``getpass``:

[code]

[2017-07-03 00:01] zgyarmati opened #266 "Build fails on 32 bit due to uint32/long int format char issue"
## Description

Describe the problem here.
Build fails on 32 bit due to uint32/long int format char issue

## Steps to Reproduce

1. Compile the source on Fedora 25 32 bit system

## Expected Behavior
The source compiles.
## Actual Behavior
The compilation fails with:

[  131s] libtool: compile:  gcc -DHAVE_CONFIG_H -I. -I../../src/rnpv -I../../include -Werror -Wall -Wpointer-arith -I/usr/include/

[2017-07-03 06:29] flowher commented on #27
Last part  - ECDH is coming soon

[2017-07-03 10:58] #266 closed

[2017-07-04 10:08] catap commented on #157
One more point from #264 discussion:

[2017-07-04 17:10] catap commented on #239
Status update: tests passed!

For history, used config:
[code]

[2017-07-04 20:36] flowher opened #269 "Small build issue"
## Description

Sample from compilation:

[code]
shows that ``/home/travis/builds/botan-install/include/botan-2`` is provided 9 times.

## Steps to Reproduce

1. Run travis
2. Look at output

## Expected Behavior

One ``-I/home/travis/builds/botan-install/include/botan-2`` is an exact number of times this include should be mentioned.

## Actual Behavior

9 != 1

[2017-07-04 20:50] #262 closed

[2017-07-05 11:11] ni4 commented on #10
Do we really need libverify? As I understand it's goal is to have small/lightweight non-dependent of anything library which allows to check signatures.

[2017-07-05 11:13] ni4 commented on #69
@ronaldtse
I'm starting to work on this. Do I think right that currently we stick to idea not to have rnpk/rnp but to squash all commands into the single utility, rnp?

[2017-07-05 11:17] ni4 commented on #44
I am closing this issue since PR #258 fixes it by getting rid of homedir option on library level. Now library works with public and private keyring paths, which are available in rnp_ctx_t structure.

[2017-07-05 11:17] #44 closed

[2017-07-05 11:20] ni4 commented on #204
I am closing this issue since PR #258 fixes it by changing the way --homedir is handled on CLI. Now it is direct path to the folder with keyrings (however, without this option it is still ($HOME)/.rnp

[2017-07-05 11:20] #204 closed

[2017-07-05 11:23] ni4 commented on #78
This was resolved as a part of PR #258. So I'm closing it now.

[2017-07-05 11:23] #78 closed

[2017-07-05 11:29] ni4 commented on #153
I partially made this easier in PR #258 by introducing RNP_OK/RNP_FAIL instead of 1 and 0, so later on it would be easier to search-and-replace if we get to other solution. The problem of pgp_errcode_t is that it is _OK for 0, while most of functions use 1 for success, and their callers use this fact in boolean expressions. Changing this behavior is potential source of hard to find errors.

[2017-07-05 11:31] ni4 commented on #171
I'm closing this since it was fixed in #258 or some of the previous PR.

[2017-07-05 11:33] ni4 commented on #224
Done as side-effect of  PR #258. So closing this.

[2017-07-05 11:33] #224 closed

[2017-07-05 11:34] ni4 commented on #245
Fixed in PR #258.

[2017-07-05 11:34] #245 closed

[2017-07-05 13:48] ni4 commented on #210
This  issue was accidentally fixed with #258.

[2017-07-05 14:07] ni4 commented on #210
Reopening: it still doesn't work when run with stdin as input.

[2017-07-05 15:11] ni4 commented on #211
Works fine for me as well. @dewyatt probably we should close this?

[2017-07-05 15:34] frank-trampe commented on #211
That's fine with me. I'll retest soon.

[2017-07-05 15:34] #211 closed

[2017-07-05 17:34] henrydcase opened #271 "Cleanup in rnp public API"
## Description

We should be testing if it is possible to correctly link any application against rnp. Currently (``86298b1d38694fced64715937800df51c5de9450``) it is not a case because after ``make install`` the only header file that get's coppied to ``/usr/include`` is ``rnp.h``. This file includes other header files, so as a developer I effectively need some sources of rnp in order to build an ap

[2017-07-05 22:43] ronaldtse commented on #10
We should get rid of libverify-- I don't think it's necessary to have a separate verification lib separate from the signing functions.

[2017-07-06 01:27] catap commented on #239
@ronaldtse I did it at 10,000 times and it works :) So, I think I can close the issue.

[2017-07-06 01:27] #239 closed

[2017-07-06 01:32] ronaldtse commented on #239
Thanks @catap !

[2017-07-06 01:37] ronaldtse commented on #251
@randombit key generation via passphrase is definitely very useful especially when provided by a lib/CLI using a DRBG. Any interested in getting this moving?

[2017-07-06 01:44] ronaldtse commented on #64
It seems to be time we take care of the FFI -- @dewyatt do you need any help with this? I'm sure everyone has an opinion on the interface 😄

[2017-07-06 01:58] dewyatt commented on #64
If someone else wants to tackle this, please do. I believe botan's FFI interface is a good model, as well as the API Jack mentions in https://github.com/riboseinc/rnp/issues/167.

We will also need to rework subkey handling to provide a full FFI interface.

[2017-07-06 04:34] ronaldtse opened #272 "Standardized signature extensions (.asc, .sig, .gpg)"
## Description

There are a number of places we differentiate `.asc`, `.gpg`, `.sig` manually. It should not be the case.

## Steps to Reproduce

1. `git grep "\.asc"` etc.

(see comment in #270)

## Expected Behavior

Only one line such as:
[code]

## Actual Behavior

A long list of hardcoded file extensions is shown.

[2017-07-06 04:39] ronaldtse opened #273 "Handle remaining comments in #258"
## Description

There are remaining comments #258 to be handled.

## Steps to Reproduce

See #258 .

[2017-07-06 04:41] ronaldtse opened #274 "Standardize PGP key storage location"
## Description

We need to agree on a standard PGP key storage location that is used by default, and also document behavior in them. For example, GnuPG has funny priorities as seen in #223 , sometimes preferring a different location/format. We need to properly document this behavior.

There are at least three options:
* GnuPG default `~/.gnupg`
* rnp default `~/.rnp`
* propose a cross-tool standar

[2017-07-06 05:01] ronaldtse commented on #122
@dewyatt the official list of platforms is listed in the `README` now.

[2017-07-06 05:09] ronaldtse opened #275 "Need of `libverify`"
## Description

`libverify` was previously used to support `rnpv` for a very light verification library, but since we're going to merge `rnp` and `rnpv` ( #69 ), `libverify` is no longer useful.

@ni4 suggests we should we remove it. What do you think?

Personally I believe just `librnp` is good enough, and signing/verification functionality should be placed together.

[2017-07-06 05:53] ni4 commented on #272
Btw, why do we stick to gpg extension for the default output? Actually we work on OpenPGP library, not GnuPG-compatible, so probably it is better to use .pgp extension? RFC doesn't seem to write anything regarding the default extensions.

[2017-07-06 05:58] ronaldtse commented on #272
Let's discuss!

P.S. I agree with @ni4 .

[2017-07-06 06:04] flowher commented on #251
I'm interested in it. after ecdh is done

[2017-07-06 06:05] ronaldtse commented on #251
It's all yours @flowher !

[2017-07-06 06:12] flowher commented on #275
Maybe I'm missing a point, but I don't see why too keep it as separated binary.

[2017-07-06 06:14] flowher commented on #153
A bit of context here.

### What's the problem with inconsistent values
Our functions sometimes return -1 sometimes 0 and sometimes 1 in order to indicate error. Problem is amplified by the fact that documentation of the functions (API interfaces included) is nonexistent.

Developers should "code to interface not implementation". What developer will do in order to use the function? Currently he is

[2017-07-06 06:16] ronaldtse commented on #275
@flowher #69 describes several approaches for the command line util. Several individuals have mentioned that it is hard to use multiple CLIs, and for people who come from GnuPG expect everything provided in one binary.

We can always take an approach with aliasing, such as `alias rnpk=rnp --keys` or the other way round.

[2017-07-06 07:11] MohitKumarAgniotri opened #276 "Segfault when user-id contains special character"
## Description

RNP library segfaults when trying to retrieve the key using user id which contains special characters like *

## Steps to Reproduce

1. Generate a key
2. try to find/export the key
    example: rnpkeys --find-key --userid=*
                   rnpkeys --export-key --userid=*max
3.  Observe segfault

## Expected Behavior

1. No segfault.
2. A Proper key is exported or listed.

## Act

[2017-07-06 12:41] dewyatt commented on #153
Personally I think the root of the problem was not having a set convention.

Agreed, this is an overwhelmingly common convention in my experience.

I think we can all agree that this has never been a valid argument. The change has to happen, though it may be painful.

I would say this is OK so long as the function has no failure points (no malloc, etc). The caller should always be able to determin

[2017-07-06 14:10] flowher commented on #153
Ok

[2017-07-06 14:10] dewyatt commented on #276
Great find @MohitKumarAgniotri!
We can see a bit more info with `rnpkeys --debug=key_store.c --find-key --userid=*`.

`regcomp` return value needs to be checked:
https://github.com/riboseinc/rnp/blob/e98911dc3b00eed847c4b5e28e387a8e5b7bb7ab/src/lib/key_store.c#L703

On a side note, the `--find-key` option doesn't actually list keys. It only affects the exit code of `rnpkeys`.

[2017-07-07 02:02] dewyatt opened #277 "Improve subkey loading"
## Description

As I briefly mentioned in #35

I'll take a look at this soon, after #35.

Related: #136 but this is going to focus on loading keys, not generating. Also #64

[2017-07-07 02:04] dewyatt opened #278 "PGP key store loading doesn't parse signature subpackets"
## Description

The current PGP key store loading code has a subtle bug and memory leak that causes it to bypass parsing of all signature subpackets. The original NetPGP code base also had this bug in the keyring memory loading function, but generally used the keyring file reading functions instead (which seem to have been removed).

Fix incoming, as I'm working on #35.

[2017-07-07 02:26] dewyatt opened #280 "Uninitialized variable read in rnp_cmd"
## Description

My compiler keeps complaining about this, and it does look valid at a glance. Fix incoming.

## Steps to Reproduce

rnp_cmd uses userid when it may be uninitialized.

[2017-07-07 08:48] #278 closed

[2017-07-07 08:49] #280 closed

[2017-07-07 11:32] dewyatt opened #282 "ElGamal secret key memory leak"
## Description

We're not freeing the ElGamal secret key data. Fix incoming.

## Steps to Reproduce

1. `rnpkeys --list-keys` (when you have an ElGamal key in your ~/.rnp)
2. (a warning message is shown about an unknown algorithm)

[2017-07-07 16:47] dewyatt opened #284 "Rework confusing key listings"
## Description

This is not really high priority but I figured it's worth discussing.

I think the key listings from `rnpkeys --list-keys` (and similar) are a bit confusing and can probably be improved.

At a high level I think we should consider doing two things:

1. Provide a more user-friendly output by default (`--list-keys` could default to `--list-keys=pretty`), nice formatting, alignment, h

[2017-07-07 18:14] #282 closed

[2017-07-07 20:13] dewyatt opened #286 "Uninitialized memory printed out in some key listings"
## Description

In certain cases, during certain operations, some uninitialized memory is written to stdout. Fix incoming.

## Steps to Reproduce

1. `echo -n test | rnp --clearsign`

## Actual Behavior

[code]

[2017-07-08 01:06] ronaldtse commented on #284
Agree with both ideas, `list-keys` for humans and `json`. Great suggestion! 👍

[2017-07-08 07:24] ni4 opened #288 "Update makefiles to create folder with headers in {$prefix}/include"
## Description

Currently build process just copies rnp.h to the /usr/local/include. However sooner or later we'll have multiple headers so we need to update build configuration to create rnp folder and put headers inside of it.

[2017-07-08 07:45] ni4 commented on #153
Agree with @dewyatt on the fact that the root of the problem is the lack of convention. Personally I don't care whether 0 or true or 5 or whatever else will mean the success. We just need to set the convention, and stick to it.

However it would be much better to change all library code to stick to this new convention at once, in a single PR, instead of adding new functions with new convention and

[2017-07-08 07:52] flowher commented on #153
Convention is good, forcing convention would be better. I think it's already clear that it doesn't matter what value we use for success (as I wrote there are two approaches) as long as it's sane.
I think it should be done gradually, so that change is carefully reviewed. It is not likely it will be done in one commit.

[2017-07-08 08:31] flowher commented on #153
So then, let's say we do it easy way - we define return type as

``typedef uint32_t rnp_error_t``

Then:
1. I think this type will be ABI compatible across all compilers and systems (to be double checked). But this is already better than ``int``,  ``enum`` and it also defines convention
2. We have 32 bits to use - it mean we can define an error with a lot of details if we use it as a bitmask. So f

[2017-07-08 14:19] ronaldtse opened #289 "Move `ax_check_botan` into `/m4`"
## Description

`ax_check_botan` is at the root directory but the others are inside `m4/`. This should be done for consistency with #265.

## Steps to Reproduce

1. See root directory for `ax_check_botan.m4` file

## Expected Behavior

It is located at `m4/ax_check_botan.m4`

## Actual Behavior

At root now.

[2017-07-08 14:25] ronaldtse opened #290 "Create and use `ax_check_cmocka.m4`"
## Description

We should use the same m4 mechanism as JSON-C, which is in the `m4` directory. Related to #265.

There is a reference CMocka macro at [ribose/retrace](https://github.com/riboseinc/retrace/blob/master/configure.ac) that can be extracted.

## Steps to Reproduce

1. CMocka environment is manually set.

## Expected Behavior

There should be a macro file `m4/ax_check_cmocka.m4` that wil

[2017-07-08 14:26] dewyatt commented on #289
This and #290 have been on my mental TODO list. :)

[2017-07-08 14:28] ronaldtse commented on #289
I knew that and glad it's now tracked 👍

[2017-07-08 15:51] dewyatt commented on #260
@catap I agree the memory leaks are very difficult to really eliminate, especially with regards to pgp_parse and friends.

We may also want to consider a reference counting mechanism, like json-c uses. Either way, there's definitely a lot of room for improvement.

[2017-07-08 15:59] catap commented on #260
@dewyatt I feel that implementing reference counting mechanism is a much complicated than just a pool that release a memory than it doesn't need at all.

[2017-07-08 16:11] dewyatt commented on #260
@catap That's very possibly true. Though it's also hard to define the point at which the pool is no longer needed, right?. For example, if the entire pool is freed in `rnp_end` that could be fine for some small CLI utility, but not so great for a long-running embedded application.

Anyways, I'm interested in seeing what you come up with.

[2017-07-08 16:15] catap commented on #260
@dewyatt well... We can keep pool as depended on context, and reset or make free at `rnp_ctx_reset` and `rnp_ctx_free`.

So, for long-running embedded application that has a cycle it should create a new context or reset one of existed each cycle, and at end of cycle just free it or reset it if it supported reuse the context.

[2017-07-08 16:23] dewyatt commented on #260
@catap I think maybe I see what you mean.

What do you think about a use-case like a high-performance web application that keeps some keys loaded that it uses on each request. Obviously it can't re-parse the keys on every request, it would likely be too slow. Would this be do-able with the above implementation?

I don't think we have to get everything perfect for every use-case on the first try an

[2017-07-08 16:33] catap commented on #260
@dewyatt good point. Let me take some time to thinking a while about it because I see one way but it looks like as workaround :)

[2017-07-08 16:40] ronaldtse commented on #260
@dewyatt @catap I'd like to add the key loading case is a 110% practical issue that made GnuPG not work for us, exactly because of memory leakage.

[2017-07-08 21:40] dewyatt commented on #153
They're technically synonymous (standard says `A typedef declaration does not introduce a new type, only a
synonym for the type so specified`), but perhaps you mean conceptually? Like they communicate different things to the reader? I do agree on that.

The `pgp_errcode_t` enum was part of the original OpenPGP-SDK, where it was used only in a linked-list for the multiple errors that could occur du

[2017-07-10 00:16] #269 closed

[2017-07-10 00:16] #289 closed

[2017-07-10 06:31] flowher commented on #153
|  but perhaps you mean conceptually? Like they communicate different things to the reader?
Yes, ``typedef`` doesn't define  a real type (unfortunately), that's why I prefer to use bool (which is real type and compilers know about it). In the end it's just C, but still typedef gives clear indication of "what is this thing that function returns".

| I think this would be overcomplicating things.

T

[2017-07-10 14:47] catap commented on #260
@ronaldtse, @dewyatt I have one idea.

Right now we have `rnp_t` and `rnp_ctx_t` and we can add pools to both of them.

A long-term to `rnp_t` that is using to keep information that will live during all application lives. For example loaded keys or something like this.

And a short-term to `rnp_ctx_t` that used as temporary pool that can use a function likes `rnp_encrypt_memory` or `rnp_decrypt_fi

[2017-07-10 15:47] ronaldtse commented on #153
I think most of us agree on most of these answers:
* We stick to `typedef uint32_t rnp_error_t` across the board, and enforce convention. Maybe a large PR?
* Add doxygen documentation to every function whenever a developer edits it.

Then the next step is, can we have a set of error codes / messages?

[2017-07-11 08:16] ni4 commented on #260
In Objective C there is conception of 'autorelease' objects, which are safe to delete in event processing cycle, i.e. when after return from the code. We can reuse it - allocate temporary buffers/key copies/whatever else with 'autorelease' flag so it will be safe to delete them in pool_cleanup() call. And have one major cleanup call which will free everything in the pool, not only autorelease obje

[2017-07-11 08:34] flowher opened #294 "Tests for CLI"
We need test cases that test tools which are called from command line. It seems to me that some tests are already available in ``/tests`` directory - maybe this could be good starting point.

[2017-07-11 08:36] flowher commented on #294
@MohitKumarAgniotri It's just FYI - I think it would fall somewhere under yours responsibility

[2017-07-11 08:38] ronaldtse commented on #294
I think @ni4 was going to do something about it, he already had a python script.

[2017-07-11 09:09] ni4 commented on #294
@ronaldtse Yeah, I planned to add some tests for the CLI once finished with gluing together rnp + rnpkeys.  So we can assign this task to me.

[2017-07-11 11:01] catap commented on #260
@ni4 for C++ it will be `std:auto_ptr` that was 'fixed' as `std::unique_ptr`.

[2017-07-11 20:14] flowher opened #295 "Changes in behaviour of rnpkeys break key generation"
## Description

Recently new behaviour in ``rnpkeys`` has been introduced  - rnpkeys is now initialized with some default values. This new functionality doesn't come with supporting tests (+ #294)

When generating a key user may or may not provide a digest algorithm - in case algorithm is provided it must be used, otherwise old ``rnp_getvar`` returns NULL and default algorithm is used. In case of

[2017-07-11 23:44] dewyatt commented on #35
TODO (before I forget): https://github.com/riboseinc/rnp/pull/285#issuecomment-313824599

[2017-07-13 06:05] #286 closed

[2017-07-13 06:07] ronaldtse commented on #294
Thanks @ni4 !

[2017-07-13 17:48] dewyatt commented on #153
Thinking back on this:

It's probably not a good idea to return bool, given the tendency for functions to evolve as mentioned. Changing the return type from bool to a uint32_t/rnp_error_t/whatever is an ABI breaking change, so it's probably safer to always return an error code and avoid bool.

[2017-07-13 17:53] flowher commented on #153
Well, it depends what function does.

[2017-07-14 04:42] ronaldtse opened #298 "Using rnp in git-crypt"
## Description

[git-crypt](https://github.com/AGWA/git-crypt) is a local solution often used to encrypt specific files inside git, and it relies on GnuPG for sharing.

We'd like to see rnp supported by git-crypt, maybe we should fork it and submit a PR.

[2017-07-14 04:44] #210 closed

[2017-07-14 04:45] ronaldtse commented on #272
Related to #270 where "asc" and "gpg" are hardcoded.

[2017-07-14 04:47] ronaldtse commented on #275
What do you think @catap @dewyatt ?

[2017-07-14 04:48] ronaldtse commented on #153
Agree with @flowher . We should first define the user-facing API (and FFI), right? Maybe we can get that going?

[2017-07-14 07:32] catap commented on #275
@ronaldtse I agree with you

[2017-07-14 07:40] ni4 commented on #153
Agree on uin32_t for errors. And regarding the API - we should define user-faced API for the library, and then get stick to those function signatures without breaking changes.

[2017-07-14 08:54] flowher commented on #153
One good rule of thumb is - don't add API functions until they are absolutely needed (then you don't have to stick to it).

[2017-07-14 09:04] flowher commented on #153
IMHO regarding API, we should only define functions which are *absolutely needed*, have clear definition for current implementation (not future one) and there is no question regarding how to use it. And then stick to such interface.

[2017-07-14 09:22] ronaldtse commented on #275
@ni4 would you like to handle the culling of `libverify`? 😉

[2017-07-14 09:24] ronaldtse commented on #271
@flowher I agree. Let's come up with a good public API first and we refactor to that!

[2017-07-14 09:28] ni4 commented on #275
@ronaldtse sure, will cut it out

[2017-07-14 13:56] ni4 opened #300 "rnp_test_eddsa fails after numerous runs"
## Description

After running 100-1000 iterations of rnp_test_eddsa it fails.
Most likely this depends on some parameters of randomly generated key - leading/final zeroes, high bits or so on.

## Steps to Reproduce

1. Checkout the branch ni4-eddsa-test-failure
2. make, make install, rnp_tests

## Expected Behavior

All 10000 iterations of rnp_test_eddsa run correctly.

## Actual Behavior

Test fa

[2017-07-14 14:09] flowher commented on #300
@ni4 you can assign it to me if you want. I'll be happy to debug it

[2017-07-14 14:12] ni4 commented on #300
Thanks, @flowher !

[2017-07-15 01:02] dewyatt commented on #153
Perhaps, but don't you think it can be a bit error-prone?

In "Practical C", for example, the author warns: `Personally, I'm not so fond of these definitions [stdbool.h] because they provide a false sense of security: they make you think that a variable of type bool can only have two values.` and goes on to demonstrate this.

Linus has a similar list of reasons he is [not a fan of bool](https://lk

[2017-07-15 01:21] dewyatt commented on #153
@ronaldtse IMO rnp isn't very stable internally and that makes this a bit more difficult to do just yet. We still have very minimal test coverage, large changes occurring, lots of open bugs, etc. I think there's still a bit of chaos.

[2017-07-15 12:21] flowher commented on #153
@dewyatt I think you are thinking about return codes from public API and this PR is about return codes from any function. Ok I'll do PR

[2017-07-15 12:42] #295 closed

[2017-07-15 12:43] #252 closed

[2017-07-15 12:43] ni4 commented on #252
Fixed in #302

[2017-07-15 12:50] catap opened #303 "Broken `rnpkeys --keystore-format=SSH --list-keys`"
## Description
[code]
## Steps to Reproduce

1. get last master
2. build it
3. run `./src/rnpkeys/rnpkeys --keystore-format=SSH --list-keys`

## Expected Behavior

Something likes:
[code]

## Actual Behavior

unsupported SSH keystore format and crash.

for example at https://github.com/riboseinc/rnp/commit/1c3a1cd6594767cb935eba4b1c78a2ebc77328c2 I had only `unsupported keystore format: "1"`
[code

[2017-07-15 12:55] dewyatt commented on #303
Would you be able to do a bisect and find where it broke?

@ronaldtse Would a `regression` label be useful here? (I think you're the only one that can create new labels.)

[2017-07-15 12:57] catap commented on #303
@dewyatt I'm on it :)

[2017-07-15 13:02] ni4 commented on #303
SSH keystore is definitely not supported in current master. I'm going to fix it in #299 , and it would be logical to add tests for it during the work on #294. So, basically, I can handle this.

[2017-07-15 13:03] catap commented on #303
@ni4 but returns `unsupported keystore format: "1"` looks strange, isn't it?

[2017-07-15 13:05] catap commented on #303
I can't find the exaclity commit that it broke because I can't build any commit :( sometime it can't build with errors like:
[code]
or
[code]

I used `./build_macos.sh` to build it and I expect that it should build after each commit.

Anyway, if we skip all commits that can't be build, `git bisect` has response:
[code]

I also attached bisect log where you can see that commit I can't build (it was

[2017-07-15 13:09] ni4 commented on #303
@catap This is the error it should return - since when I think that we should cut out SSH keys support I #ifdef'ed SSH keys load with ENABLE_SSH, and otherwise was returning error. So it's kinda ok. Anyway, working on this now

[2017-07-15 13:13] catap commented on #303
@ni4 and can you made each commit builded?

[2017-07-15 13:23] ni4 commented on #303
All final commits to the PR are/were compilable, but commits between them which were not squashed probably were non-buildable. Also sometimes it do not build if you don't ./remove_artifacts.sh

[2017-07-15 13:25] catap commented on #303
@ni4, but it brokes `git bisect`!

[2017-07-15 13:27] dewyatt commented on #303
I've noticed this too, it's always worth trying `make clean && make distclean` or `./remove_artifacts.sh` and `autoreconf`, etc.

[2017-07-15 13:29] flowher commented on #303
Isn't it why we have travis to do it for us?

[2017-07-15 13:29] dewyatt opened #304 "Restructure src/cmocka"
## Description

I was thinking we can improve the file structure and naming in `src/cmocka`.
We have all source files prefixed with `rnp_tests_` which is a bit redundant. Also the directory name `cmocka` seems unnecessarily implementation-specific and could probably just be `tests` (or `tests/cmocka`)?

I was thinking something along these lines would be a minor improvement:

[code]

In the future

[2017-07-15 13:31] catap commented on #303
@flowher travis checking only tests and RNP hasn't got 100% covering by tests ;)

`git bisect` helps to find a commit that broke something (or made performance degradation) and it's very sad when it returns 10+ commits becuase part of them can't be build and checked. So, someone should check it by hand/eye.

[2017-07-15 13:32] flowher commented on #303
@catap good point

[2017-07-15 13:32] catap commented on #303
@ni4, also I expect that it returns: `unsupported keystore format: "SSH"` and not `unsupported keystore format: "1"` with crash ;)

[2017-07-15 13:35] catap commented on #303
@flowher and sometimes when you should find a very rare bug that appears somewhere between few years — `git bisect` is the only way to do so.

For example: https://github.com/openssl/openssl/issues/1851 — this script works about 5-6 hours because it tested openssl since 0.9.8 or something like this.

[2017-07-15 13:38] flowher commented on #303
So, one more thing to add to dev guide. Each commit must compile and be tested.

[2017-07-15 13:39] ronaldtse commented on #304
Can I give three thumbs up for this? :-)

[2017-07-15 13:45] flowher commented on #303
I think it would be better if ``--list-keys`` works in a way that if it doesn't know how to parse the key, it prints an error and continues with the next key instead of t exist with an error).

[2017-07-15 14:54] ronaldtse commented on #303
@dewyatt I just added the "regression" label. Great suggestion 👍

[2017-07-15 14:56] ronaldtse opened #305 "Add to Dev Guide about each commit being buildable"
## Description

In #303 it is suggested that the Dev Guide should list out the requirement that each commit is buildable / tested for future bisection. This means that Pull Requests should be squashed (at least to the degree that each of the commits are buildable).

[2017-07-15 17:44] dewyatt commented on #192
@flowher mentioned:

There are pros and cons to both sides of this so we should discuss and standardize

### Documentation in Header Files

#### Pros

* Users that browse the public header files can read the doxygen comments.

#### Cons

* An excess of documentation in the headers can make it more difficult for users to find the actual functions/types/etc.
* The point of using doxygen is to genera

[2017-07-16 14:36] ni4 commented on #192
I am voting for comments in the source files as well - headers should be short and easily readable. User anyway will have access to the sources or doxygen-generated documentation.
And we need a template for the function comment, so it looks consistent everywhere.

I can write it and we will discuss  it in the PR comments, what do you think?

[2017-07-16 14:44] ni4 commented on #304
I can do this when will be updating cmocka with CLI tests.
Probably we should also remove current contents of tests directory, they seems a bit outdated?
Another idea - some tests worth running multiple times (like low-level ecdsa/eddsa key generation/signing), probably cmocka allow it. Or just update tests themselves.

[2017-07-16 14:59] dewyatt commented on #304
@ni4 I believe @catap added some support for this in 6d550494ce503d2ee8c555c11349d740df336b95. Looking at it now though, I think it needs some work. I would expect the loop to just call `cmocka_run_group_tests` multiple times and do an early exit if `ret != 0`. It seems like the result isn't currently used. Anyways, maybe you can build on that.

[2017-07-16 15:08] dewyatt commented on #304
@ni4 Also I think it would be helpful if you could do this in a separate PR, that ought to be quicker and easier to review.

I think there was some discussion about this and @ronaldtse had some input I can't recall.

[2017-07-16 15:20] ni4 commented on #304
@dewyatt Sure. Previous two PRs were huge and messy due to large amount of breaking changes, which then were merged together with new live changes which used older codebase. I don't like such PRs as well.

[2017-07-16 15:54] dewyatt commented on #192
Maybe we can have a vote on this comment ([how to vote](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments)).

:thumbsup: = doxygen comments in *source* files
:thumbsdown: = doxygen comments in *header* files
comment = something else

[2017-07-16 16:25] dewyatt commented on #192
Another thing perhaps worth a vote:

:thumbsup: doxygen markdown-style

[code]

:thumbsdown: standard doxygen

[code]

There's a lot of middle ground here and we're actually voting on two separate things but it's not terribly important as long as we're consistent.

Right now we have a mixture.

I find the first to be a bit easier to read myself, but more importantly I think *every* developer is li

[2017-07-16 16:35] dewyatt commented on #192
@riboseinc/rnp Two quick votes on some documentation-related items, input appreciated.

I would just rather not force anything on this without some input first. Ronald can make an executive call if he wants to speed things along, but otherwise we ought to maybe give this some time for input.

[2017-07-16 19:19] flowher commented on #153
This is what I'm using

[code]

[2017-07-16 19:19] flowher commented on #192
This is what I'm using

[code]

[2017-07-16 19:34] ni4 commented on #303
@catap Can you please confirm that it doesn't or does work with the current master?
Since on my newly generated SSH key it tells the following, and checking back commits it tells the same at least since beginning of June:

[code]

[2017-07-16 20:06] flowher commented on #192
So, there are two types of comments - those which explain implementation and those which explain interface. Here we are talking about comments for function interface - as those comments which explain implementation are closest possible to the block that needs explanation.

My arguments for comments in header files are following:
* Comment above the function should explain interface of the function

[2017-07-16 20:08] zgyarmati commented on #304
As a sidenote here, but maybe it worth a separate ticket: it also would be nice from the packaging point of view to get all of tests (both cmocka and CLI tests) integrated into automake and invoked by a single call of `make check`.

[2017-07-16 21:04] flowher commented on #192
+ arghh... I've forgotten to add [botan](https://github.com/riboseinc/botan/blob/master/src/lib/misc/rfc3394/rfc3394.h)

[2017-07-16 21:24] #275 closed

[2017-07-16 23:12] dewyatt commented on #192
Unfortunately, then you end up with parameter names in 3 different places - the function declaration, the doxygen comment, and the function definition/impl. This is probably why netpgp never put parameter names in headers, and used doxygen comments in the source files only.

It would explain more than the declaration. For example, it may say `xyz should be initialized prior to using this function`

[2017-07-16 23:34] flowher commented on #192
nop, 2. doxygen is autogenerated. no diff if you have it in .h or .c

This describes how interface works. Should go to .h

Nop, that's wrong. It returns pointer. Pointer can be NULL.

[2017-07-16 23:50] dewyatt commented on #192
When you put doxygen comments in headers:

`thing.h`
[code]

`thing.c`
[code]

It returns a string, as specified by the contract. NULL is not a string. Furthermore, the caller would be violating the contract if `dest` was NULL because `size` has to be `>= 1` and `size` is the size of the `dest` buffer. In the second version the function violates the contract by returning a non-string and by not NU

[2017-07-17 00:01] flowher commented on #192
Ok, 3. Still - no diff where you put the comment. Except if you don't have function in .h. Then you have static function, right? so in .c. Hope that's explains.

``char*`` is really pointer to the char. Nothing in your comment says this function can't return NULL. If you have it in the comment and you change the behaviour, then you should update your comment ``@returns`` stating that.

[2017-07-17 00:56] dewyatt commented on #303
@ni4 FYI I always had that same result unless I replaced the base64 decoder used for SSH keys (`frombase64`), which I believe is broken (mentioned in another issue).

[2017-07-17 01:05] ronaldtse commented on #192
I think both approaches have merits, but my main considerations are:
* echoing @dewyatt developers are lazy to change other files outside of the `.c` where changes are made.
* @flowher is right that the public interface should be stable, and any change to the interface should be reflected in the `.h` too. This also means if the interface changes, the developer should also update the `.h` and there

[2017-07-17 01:09] ronaldtse commented on #304
Agree to `make check`!

@ni4 my input to removing `tests` / `tst` directories, is a resounding yes as long as we have a CLI tester. You've done it in Python, right? If we can merge that it'll be fantastic.

[2017-07-17 01:11] ronaldtse commented on #153
@dewyatt I meant that we need to define the *desired* user-facing API so we know how to get there. We need a solid goal for us to really streamline development to settle the chaos 👍

[2017-07-17 05:21] ronaldtse commented on #303
@dewyatt @ni4 the related issue to replace the base64 implementation is #16.

[2017-07-17 05:21] ronaldtse commented on #16
@riboseinc/rnp Anyone interested in handling this?

[2017-07-17 07:11] flowher commented on #16
Yup. Me

[2017-07-17 07:36] ni4 commented on #16
@flowher you may go ahead, since 27 days left and I still didn't get to this issue, was occupied by other tasks.

[2017-07-17 07:42] ni4 commented on #303
@dewyatt Thanks. So I will close this issue as it seems to be fixed to the old state via the PR #299

[2017-07-17 07:43] ni4 commented on #273
Fixed via PR #299

[2017-07-17 07:43] #273 closed

[2017-07-17 07:47] catap commented on #303
@ni4 nope, it sitll broken:

[code]

anyway, I think it's a very bad practice when you ask someone to confirm the fix and close it without answer.

[2017-07-17 07:54] ronaldtse commented on #16
Thanks @flowher @ni4 👍

[2017-07-17 08:01] ni4 commented on #303
@catap actually it fixes the behavior you described in the issue description, isn't it? And, as @dewyatt confirmed, the next problem existed for a long time and related to the #16

[2017-07-17 08:06] ni4 commented on #304
@ronaldtse Yeah, I started in Python for performance tests, and then will add functionality tests. So will merge that in once ready

[2017-07-17 08:10] catap commented on #303
@ni4 nope, it doesn't. See block: Expected Behavior

;)

[2017-07-17 08:27] ni4 commented on #303
@catap ok. Can you please check whether it works as expected on the 965fb1b ?

[2017-07-17 08:37] ronaldtse commented on #304
Looking forward to it, thanks @ni4 !

[2017-07-17 08:47] catap commented on #303
@ni4 yes, it work. Last commit when it works was https://github.com/riboseinc/rnp/commit/c09f27074fc4bd160d746f60246960d571840395

Check my output of `git bisec` ;)

[2017-07-17 09:50] dewyatt commented on #153
@flowher Will you be able to do the PR for the function return values soon? @ronaldtse has some deadlines and I think this would help in stabilizing things.

[2017-07-17 09:54] flowher commented on #153
yes, I've started this in my ECDH dev. But I'll do separated PR for this + improved RNP_LOG() + I want to move all crypto code into separated directory and have "crypto.h" the single header for crypto. This is going to be done this week

[2017-07-17 15:53] ronaldtse opened #308 "Extract out keystore code to librekey"
## Description

Keystore handling code should be extracted out to librekey. Need a keystore interface for interacting with keystore operations.

Keystore operations:
* Store key
* Fetch/Find key
* Edit key
* Key metadata / properties
* Maybe some trust related data (as metadata?)

rnp should depend on librekey and utilize the general keystore interface to interact with all keystores.

This include

[2017-07-17 15:59] ronaldtse opened #309 "Extract out PGP packet parsing code to separate library"
## Description

PGP packet parsing is well-defined and the code can be self-contained.

This task is to extract out PGP parsing code to a separate library, e.g., `librepgp`.

Maybe these functions should be prefixed with `repgp_`?

[2017-07-17 16:28] flowher commented on #309
Ok, ``repgp_`` it's gonna be

[2017-07-17 17:12] #256 closed

[2017-07-17 19:02] henrydcase opened #311 "Add support for Curve25519 in ECDH"
## Description

[RFC 4880 bis 02](https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-02) adds support for X25519. Adding it to ECDH in ``rnp`` should be dead easy and brings a lot of value.

Unreleased version of RFC4880-bis02 contains also information about custom compressed point format:
https://gitlab.com/openpgp-wg/rfc4880bis/commit/f63aa2fbd9c1ab6d7327f3128b2e337a111872fd

[2017-07-18 08:10] ronaldtse commented on #309
Or:
1. `librepgp`
2. `libpgp`
3. `librgp` (`librpg` is already used)

Please vote: 😄  for 1, 🎉  for 2, ❤️  for 3.

[2017-07-18 19:01] ni4 commented on #304
Fixed with #314

[2017-07-18 19:01] #304 closed

[2017-07-18 20:50] #290 closed

[2017-07-19 09:02] ronaldtse opened #318 "Support subkey generation with batch mode like GnuPG"
## Description

In GnuPG you can do this:
[code]

## Steps to Reproduce

N/A.

## Expected Behavior

rnp should be able to read a template to generate this sort of key without interaction (e.g., `--expert` mode).

## Actual Behavior

N/A.

[2017-07-19 18:02] dewyatt commented on #192
@ni4 Can you come up with the template for this and do a PR on the dev guide?

It looks like the votes are for doxygen comments in headers and markup styling.

[2017-07-19 18:45] ni4 commented on #192
@dewyatt Ok, sure. Will add it.

[2017-07-19 19:41] ni4 commented on #318
@ronaldtse I can update CLI to handle this format (supporting available at the moment options - key algorithm, bits, curve, etc), so when subkey updates will be ready we may faster add subkey options as well.

[2017-07-19 23:34] dewyatt commented on #318
We should probably decide whether we need to be GnuPG compatible on this or if we can do our own thing.

Pros (supporting the GnuPG forms above):

* Easier transitioning from GnuPG to rnp
* Easier testing against GnuPG

Cons:

* These may not be stable formats. seeing `format="internal"` is a little concerning.
* Our goal is to provide something better and easier to use than GnuPG/GPGME, and it co

[2017-07-20 07:11] catap commented on #192
anyway, I think to request documentation for each static function it is too many, isn't it?

[2017-07-20 07:15] ni4 commented on #318
I think we should not be compatible with GnuPG and stick to the nice and shiny JSON.
In case of major need to have something compatible we can easily and quickly make some Python script which will convert GnuPG input into the our format.

[2017-07-20 08:34] henrydcase opened #321 "C standard (C99/C11)"
## Description

I propose to update developer guide to reflect following assumptions

* code of the library should be compatible with C11
* public API of the library should be compatible with C99 (so we basically don't expose anything that's C11 specific in public headers)

Currently we are compiling with C11. Maybe what we want is to be compatible on API level with older compilers/standards (if n

[2017-07-20 09:57] ronaldtse commented on #318
I think we all agree here that we do not need to use a compatible format GnuPG. JSON is plenty good enough. :smile:

[2017-07-20 11:40] dewyatt commented on #192
@catap What we currently have in the PR makes it optional. My thoughts are that it shouldn't be a requirement to document static functions, but it should be OK for any developer to add that documentation if he/she thinks it is of benefit.

[2017-07-20 12:05] flowher commented on #192
+1

[2017-07-20 14:07] dewyatt commented on #321
:thumbsup: on C99-compatible public headers.
:thumbsup: on not worrying much about C89/C90-compatibility.

So for me the question is whether we want to use C11 internally. Honestly, the only reason we currently build with C11 is because someone started using some C11 features at some point and it broke clang compilation (which tends to be a bit stricter). So I added it as a temporary fix: https://

[2017-07-20 14:28] flowher commented on #321
I'm good with not using C11. True, it doesn't provide a lot of features. Just would be good to fix it to certain version, so that it's clear we should/shouldn't use C11 features.

[2017-07-21 03:20] ronaldtse commented on #321
It sounds like we should focus on C99, and rewrite the parts that need C11. Anyone interested in doing so?

[2017-07-21 10:02] catap commented on #192
@dewyatt I see new changes and it is ok.

Anyway when I wrote a comment, a PR has only 37958faf5fe0cf1d2c367446d91cad723f539ae8  where was:

[2017-07-21 18:48] ronaldtse opened #323 "Support of basic command-line usage (CLI)"
## Description

"must have full support" for @flowher:

For `rnp`:
[code]

Maybe in a separate CLI `rnpk` or `rekey` using librekey:
[code]

## Steps to Reproduce

N/A.

## Expected Behavior

All of the listed commands are working.

## Actual Behavior

N/A.

[2017-07-21 18:49] ronaldtse commented on #323
Feel free to add/modify the above list (with discussions).

[2017-07-21 18:50] ronaldtse opened #324 "FFI definition"
## Description

We need to define the FFI interface. We can base it on our usage from https://github.com/riboseinc/rnp (https://github.com/riboseinc/ruby-rnp/blob/master/example-usage.rb).

## Steps to Reproduce

N/A.

## Expected Behavior

N/A.

## Actual Behavior

N/A.

[2017-07-21 18:55] ronaldtse commented on #309
Without broader participation it looks like `librepgp` is the likely candidate 😉

[2017-07-21 22:04] flowher commented on #321
I can take it on my stack. Except if anybody else interested

[2017-07-21 22:07] flowher commented on #323
Ack

[2017-07-23 08:59] ni4 commented on #323
@ronaldtse I agree on the list of high-level commands. However thinking now about required arguments for each of them, like hash algorithms, symmetric algorithms, key protection (S2K iterations/sym arg) and so on.

[2017-07-23 16:25] ronaldtse commented on #323
Agree with @ni4's comment on elaborating out the details of CLI arguments. The other use case that was mentioned (I think @flowher and @ni4 ), but we didn't elaborate, is using rnp to simply encrypt a file using a passphrase. We should do it here.

[2017-07-24 09:18] ni4 commented on #180
This is actually what I'm doing in #294.

[2017-07-24 09:20] ni4 commented on #103
I will fix this issue as the part of #294 - tests from this directory will be re-implemented in python and old ones will be removed.

[2017-07-24 09:22] ni4 opened #328 "Add `make check` target which will run rnp_tests"
## Description

Currently we are missing target which will build and run rnp_tests (and CLI/Performance tests once they are ready).

[2017-07-24 15:50] ni4 commented on #323
For now I see the following commands and/or parameters. Some of the are not implemented, some of them may be renamed or not required right now. It is just to have the whole list. Discussion/comments are appreciated.

For `rnp`:
[code]

For `rnpkeys`:
[code]

[2017-07-24 16:05] dewyatt commented on #323
(Nitpick - I think we should stop using the terms birthtime and duration, and eventually purge them from the code. Instead, we should use what the RFC uses: creation time and expiration time.)

[2017-07-24 16:13] ni4 opened #329 "Rename 'birthtime' and 'duration' parameters to the RFC ones"
## Description

We should get rid of 'birthtime' and 'duration' parameters/variables and rename them to 'creation time' and 'expiration time', as it is stated in RFC.

[2017-07-24 16:14] ni4 commented on #323
Completely agree on this. Created #329.

[2017-07-24 20:54] ronaldtse commented on #323
* Since we have `-z` we should also allow selecting compression algorithms, such as `bzip`.
* Since we allow changing `hashalg` and `encalg` we should allow choice of asymmetric algorithm. (`-e`)

[2017-07-25 00:06] dewyatt commented on #136
I've ended up doing a bit of work on this as it relates to the other pieces I'm currently working on and will help me validate some things as well.

The coming PR (probably will be a few days still) is going to be very large and noisy, but should add a lot of vital functionality (and organize things a bit). I'm just focusing on the core, not the CLI or unattended stuff, just the basic plumbing.

[2017-07-25 07:52] ni4 commented on #323
@ronaldtse Asymmetric algorithm is picked according to the key used, or what do you mean?
Agree, adding compression algorithm selection to the comment.

[2017-07-25 09:30] ronaldtse commented on #323
Ah you're right. I got confused with the `userid` argument 😉 . Maybe it should really have separate `user-id` and `key-id` arguments.

[2017-07-25 09:47] ni4 commented on #323
We can separate it so `user-id` will be used only in key context - generation, addition of user id.
And for signing/encryption we may use `signer` and `recipient`. This would also help to distinguish keys when data is signed-and-encrypted. What do you think?

[2017-07-25 10:08] ni4 commented on #72
This doesn't seem to be an issue anymore so I close it.

[2017-07-25 10:08] #72 closed

[2017-07-25 10:10] ni4 commented on #71
This was fixed at some point during the refactoring and pass-fd works fine now. So closing this.

[2017-07-25 10:10] #71 closed

[2017-07-25 10:12] ni4 commented on #57
Since rnpv was removed from the codebase I am closing this.

[2017-07-25 10:12] #57 closed

[2017-07-25 10:16] ni4 commented on #21
Since this is related to CLI I will take this issue, just hit it with tests.

[2017-07-25 10:17] ni4 commented on #3
I'm closing this since rnpverify was removed from the codebase.

[2017-07-25 10:17] #3 closed

[2017-07-25 10:18] ni4 commented on #5
I'm closing this since rnpverify was removed from the codebase.

[2017-07-25 10:18] #5 closed

[2017-07-25 10:26] catap opened #330 "Fix `make check` on macOS"
## Description

`make check` fails

## Steps to Reproduce

1. ./build_macos.sh
2. make check

## Expected Behavior
[code]
## Actual Behavior
[code]

[2017-07-25 11:35] catap commented on #330
Well, looks like something broke at master.

[code]

[2017-07-25 11:54] catap commented on #330
@dewyatt, it is a current master:

[code]

output
[code]

[2017-07-25 12:27] catap commented on #330
Well...

I found first commit that's broke decrypt: ce4b5d60378769a3a8b98a46e2098467e7299068

If I use keypair that was generated and used to encrypt file before ce4b5d60378769a3a8b98a46e2098467e7299068, I can't decrypt the file since ce4b5d60378769a3a8b98a46e2098467e7299068

If I use a keypair and encrypted file that was created by ce4b5d60378769a3a8b98a46e2098467e7299068, it works at master.

If

[2017-07-25 13:14] dewyatt commented on #330
I'll see if I can confirm later. We should test master/HEAD encryption with:

1. Generate new key with rnp

    * Encrypt with rnp, decrypt with rnp
    * Encrypt with rnp, decrypt with gpg
    * Encrypt with gpg, decrypt with rnp

2. Generate new key with gpg

    * Encrypt with rnp, decrypt with rnp
    * Encrypt with rnp, decrypt with gpg
    * Encrypt with gpg, decrypt with rnp

Or something a

[2017-07-25 13:16] catap commented on #330
@dewyatt and we can easy implement this test at existed `make check` framework ;)

I will do it later today.

[2017-07-25 13:56] ronaldtse commented on #323
I agree, the `signer` and `recipient` distinction is more clear for users, especially if they are combined with the key identification.

[2017-07-25 20:25] ronaldtse commented on #136
Thanks @dewyatt !

[2017-07-28 18:15] catap commented on #276
@MohitKumarAgniotri can you confirm that it has gone?

[2017-07-29 14:00] ronaldtse commented on #330
@dewyatt I believe @ni4 will include the 1 and 2 tests in the CLI test suite.

[2017-07-29 14:52] catap commented on #330
@ronaldtse anyway we have a proof that key pair that was generated before https://github.com/riboseinc/rnp/commit/ce4b5d60378769a3a8b98a46e2098467e7299068 can't be used at master and I think it is a very major bug.

[2017-07-29 14:58] ronaldtse opened #335 "Keypair generated before ce4b5d6 can't be used at master"
## Description

Reported by @catap in #330 . Key pair that was generated before https://github.com/riboseinc/rnp/commit/ce4b5d60378769a3a8b98a46e2098467e7299068 can't be used at master.

## Steps to Reproduce

1. Generate key pair before ce4b5d6
2. Encrypt file in master
3. Decryption of file at master fails

( @catap can you confirm these steps?)

## Expected Behavior

Encryption/decryption of fi

[2017-07-29 15:00] ronaldtse commented on #335
@randombit this bug relates to a commit ce4b5d6 that is about Botan key generation, would you be able to help with it? Thanks!

[2017-07-29 15:00] ronaldtse commented on #330
I agree @catap , I've created new issue #335 for this. Please help correct the issue description if it is not complete/correct. Thanks!

[2017-07-29 15:03] ronaldtse opened #336 "Fix macOS `build-install.sh`"
## Description

From @dewyatt in #328 .

`build-install.sh` on macOS isn't working with new autotools code added in #328.

@catap was planning to fix this after #330 is fixed.

[2017-07-29 15:12] randombit commented on #335
Interesting. Yes I'll look at this later today.

[2017-07-29 22:38] dewyatt opened #338 "Copy tests data dir to tmp directory"
## Description

Not a priority, but just something I avoided doing before and made a mental TODO.

Basically the `src/tests/data` directory should be copied to the appropriate `/tmp/...` directory that is already created for each test, and then the `rnp_test_state_t->data_dir` should be set to that.
This would help prevent any state leak between the tests, etc.

The only reason I didn't do this be

[2017-07-30 16:12] dewyatt commented on #300
If anyone is still looking into this, I just wanted to note that this is easily reproducible in current master with:
[code]
(much quicker if you comment out all tests except the eddsa one)

[2017-07-30 17:36] ni4 commented on #330
@ronaldtse @catap I stopped right in the middle of encryption/decryption CLI test, and was offline for a few days. Hopefully during the next days I'll find time to finish the suite.

[2017-07-30 17:41] ni4 commented on #338
@dewyatt Since these are just tests, not a main functionality, what do you think about system('cp -r') ?

[2017-07-30 17:50] dewyatt commented on #338
@ni4 I did have the same thought, since they're just tests. I think system ought to be fine (and if we end up with any quoting issues, maybe `execv` or something).

[2017-07-30 22:58] flowher commented on #27
Waiting for https://github.com/randombit/botan/pull/1135 to be reviewed and merged

[2017-07-31 17:11] randombit commented on #335
I believe the problem is in the older keys, and the new behavior is correct. The problem was triggered by this change in ce4b5d6:

[code]

Basically, in `rnp` before ce4b5d6, no matter what hash was indicated in the private key packet, SHA1 was used for the S2K derivation. This is obviously incorrect if the hash stored was not SHA1. But, the default hash set by `rnpkeys` is SHA-256. So the result

[2017-08-01 10:41] MohitKumarAgniotri opened #345 "Testing of RNP"
I would like to discuss the strategy for testing RNP as this falls under my purview directly.

Currently, I am facing issue with defining the approach to derive new test cases which will help us the most given the active development.

My first thoughts were
- Module based testing mostly driven by use cases and then focusing on the coverage for the module.

Please provide your opinions and suggesti

[2017-08-01 12:05] MohitKumarAgniotri commented on #276
@catap Sorry for being away! (got stuck in a sticky place).
I will test it tonight and confirm.
Apologies again for the delayed response.

[2017-08-01 14:40] catap commented on #335
@randombit anyway, I found this problem as side effect then I tried to realise why same cycle (encode file and decode it) doesn't work by `key-public.asc` and `key-private.asc` from test folder that was a part of original netgpg.

[2017-08-02 07:04] MohitKumarAgniotri commented on #276
Tested and couldn't reproduce the issue. LGTM.

[2017-08-02 08:18] ronaldtse commented on #276
Thanks @MohitKumarAgniotri ! Closing now.

[2017-08-02 08:18] #276 closed

[2017-08-02 08:19] ronaldtse commented on #276
Should we incorporate this in the CLI test suite?

@ni4 @dewyatt

[2017-08-02 09:15] catap commented on #335
@ronaldtse it is a question about old user. So, if we haven't got any users yet, we can ignore it.

But if we have users who uses an old release we might broke rnp for them with new release.

[2017-08-02 09:20] ronaldtse commented on #335
There are a total of 3 people I don't know here who aren't in development of rnp. https://github.com/riboseinc/rnp/stargazers

Maybe we can wait for someone to complain before fixing this. I imagine whoever is using rnp would probably be using GnuPG keys...

[2017-08-02 13:24] MohitKumarAgniotri commented on #345
@ronaldtse @catap @ni4: Please share your opinions.

[2017-08-02 15:28] catap commented on #345
I think we should also ask @dewyatt ;)

Anyway the first idea about testing is including tests to check compatibility with different versions of GnuPG

[2017-08-02 18:37] MohitKumarAgniotri commented on #345
@dewyatt : Please share your inputs on how can we better our testing.

[2017-08-02 23:57] catap commented on #338
@dewyatt as an option you can use `nftw`. But I agree with @ni4 that `system("cp -r")` is easy :)

[2017-08-02 23:58] catap commented on #328
@ni4 I think `make check` runs `rnp_tests` ;)

[2017-08-03 10:22] ronaldtse opened #349 "Files performance: add test for duration testing"
## Description

The basic task of encrypting a (large) file should be not much slower than that of using just a symmetric encryption algorithm.

We should add a test that attempts round-trip encryption / decryption / signing / verification that rnp is not slower than GnuPG (we can compare and chart out).

We can generate a large file (or just download a large, static file from a fast place for rep

[2017-08-03 10:50] catap commented on #349
I suggest to add 1GB and 10GB files ;)

[2017-08-03 11:29] dewyatt opened #350 "pgp_decrypt_seckey bugs/leaks"
## Description

In a few places we call `pgp_decrypt_seckey` which, when successful, returns a decrypted `pgp_seckey_t*`.

The recipient of this decrypted seckey, should always do 2 things when finished:

1. `pgp_seckey_free(seckey);`
2. `free(seckey);`

Instead, we typically call `pgp_forget`/`memset`, which doesn't make much sense as it leaks the structure allocation and the internal MPIs, etc.

[2017-08-03 12:03] MohitKumarAgniotri commented on #349
I would like to pick this task.

[2017-08-03 12:05] MohitKumarAgniotri commented on #350
I can help out on this one as well.

[2017-08-03 13:08] ronaldtse commented on #349
I'd love to add 10GB but it may cause our tests to run extremely slowly :-)

[2017-08-03 13:29] dewyatt opened #351 "Role of the key store (discussion)"
I wanted to have a quick discussion on what the role of the key store should be as the lines seem a bit blurry (to me) right now.

I guess my main question revolves around the passphrase parameters in things like:

[code]

So if we had 1000 unencrypted keys in this key store, it would use the same passphrase to encrypt all of them, which is a bit odd. This issue is mostly avoided currently because

[2017-08-03 14:00] catap commented on #351
@dewyatt Well...

`rnp_key_store_write_to_mem` use `passphrase` to save unencrypted key from keystore. So, if keystore has 2 keys and one of them unencrypted, this function will use this passphrase to encrypt only unencrypted key.

Another keys will save as is. So, I agree that I should add somenotes how it works and change the API because now it might confused.

So, I think we only need the API t

[2017-08-03 14:07] catap commented on #349
@ronaldtse well... I think we should ran it time-to-time and don't run it each push. Am I wrong?

[2017-08-03 15:21] ronaldtse commented on #351
I think we should look at the key store as a secure key storage structure for "keys", this includes public and private (asymmetric / symmetric) keys.

At the most general level a key store interface should be able to:
* read keys from / write keys into a given key store
* modify existing keys inside the key store
* import keys into / export keys from the key store
* maybe support groupings of keys

[2017-08-03 16:15] ronaldtse commented on #350
Thanks @MohitKumarAgniotri !

[2017-08-03 16:17] ronaldtse commented on #349
We can probably run the smaller ones each push and the larger ones on occasion?

@MohitKumarAgniotri and @ni4 I think this suite would be in your area too. I know @catap is interested in optimizing performance here :-)

[2017-08-03 16:20] MohitKumarAgniotri commented on #349
I agree with @catap. we can run it periodically and keep the track of the performance results over the time.

[2017-08-03 20:06] ni4 commented on #345
Ideally we should have 'static tests', 'dynamic tests' and 'self tests'. First ones are about processing of already existing OpenPGP data : i.e. all kinds of keys, signed files, encrypted files, with different encryption algorithms, hash algorithms, key algorithms, key versions and so on. Dynamic ones are about generating stuff with GnuPG, and then processing it with RNP, and vice versa. This is w

[2017-08-04 09:03] ni4 commented on #351
I also came over this issue with key passwords recently. My opinion is that:
- key store just reads/searches/modifies/writes key collection, like @ronaldtse described in details
- key encryption/decryption are the separate operations which are handled by key store or other part of the library. It could be just two calls decrypt_key(key, password), encrypt_key(key, password). So during the key gene

[2017-08-04 09:06] ni4 commented on #328
@catap Yeah, that's right. I did notice that fact when created this issue. So closing it now.

[2017-08-04 09:06] #328 closed

[2017-08-04 09:09] ni4 commented on #276
@ronaldtse Sure, this should be added to CLI tests. I'll create an issue to not forget about it.

[2017-08-04 09:11] ni4 opened #352 "Add user id tests to CLI suite"
## Description

Add comprehensive user id tests to CLI suite, so keys with different user ids (utf8 chars, spaces, long user ids, whatever else) can be loaded, processed, searched and so on.

See the issue #276

[2017-08-04 09:21] ni4 commented on #349
@ronaldtse Should this be done on lib or CLI level?
@MohitKumarAgniotri I partially implemented this performance check (now only for encryption, other checks should be done later) in Python. This is not merged yet, however you may check the ni4-294-cli-tests-py branch

[2017-08-04 10:48] ronaldtse commented on #349
@ni4 I think we should do this on both levels to ensure both products we deliver (library and CLI) meet expectations.

Hoping you could merge the said branch soon even if the tests are more basic!

[2017-08-04 14:17] ronaldtse commented on #345
Agree with @catap and @ni4.

[2017-08-04 14:41] dewyatt commented on #345
(I haven't had much time to think lately, so I don't have much valuable input - sorry!)

I do like the above ideas. (Side note: 'static tests' has an official definition in software testing that involves not running any code, but I think you mean 'tests on static data' maybe?)

I think it would also be good to add more generated test data (keyrings, etc) at every release, so we can test for regres

[2017-08-04 15:18] ronaldtse commented on #324
@randombit would you be interested in helping us define the FFI? Your experience with defining the botan FFI would help us immensely with creating a stable yet flexible FFI.

[2017-08-04 20:12] dewyatt commented on #324
I actually did some work on this yesterday, but it would certainly be nice to have Jack on this. He might be busy gearing up for the botan 2.2 release though.

[2017-08-05 06:48] ni4 commented on #345
@dewyatt yeah, let's then call it 'tests on static data'.

[2017-08-05 06:58] ni4 opened #353 "Decryption of GPG encrypted file fails for 8-byte block size ciphers"
## Description

Trying to encrypt the file with IDEA, 3DES, CAST5, BLOWFISH makes RNP fail with error message attached below. All of them have 8 byte block size, and all 16-byte ciphers work fine.
It could be something simple like disabled ciphers in botan, however it could be related to the block size.

## Steps to Reproduce

1. `gpg -e --cipher-algo CAST5 sample.txt`
2. `rnp --decrypt sample.txt

[2017-08-05 07:00] ni4 commented on #353
@dewyatt @randombit Maybe you have quick thoughts on this?

[2017-08-05 11:29] dewyatt commented on #353
@ni4 Not able to reproduce on master, can you post the file? (`cat sample.txt.gpg | gpg --enarmor`)

[2017-08-05 11:41] ronaldtse commented on #353
@ni4 we should have this tested in the CLI tests so we know for sure what exactly is failing and under what condition it fails?

[2017-08-05 12:05] ni4 commented on #353
@ronaldtse If it works on @dewyatt system then it is probably related to macOS  or my setup.
Command lines to quickly reproduce it (given that rnp and gpg are installed):
[code]

[2017-08-05 14:26] ronaldtse commented on #353
@ni4 I know you're working on the PR for the CLI test suite, could you incorporate this test in there so it would be tested in Travis too? Thanks!

[2017-08-05 18:17] ni4 commented on #353
@ronaldtse Sure, it is already there. I'm testing all symmetric algorithms while encrypting with GPG side, and when it would be available as option - do the same from the RNP side.

[2017-08-06 05:34] dewyatt opened #358 "DYNARRAY and dangling pointers"
## Description

Basically, I want to discourage the use of DYNARRAY in certain places and in certain ways because it has a good potential for leading to dangling pointers.

## Steps to Reproduce

As an example, it's pretty reasonable to expect something like this pseudocode would be fine:

[code]

The problem is that whenever EXPAND_ARRAY is called, if it triggers a realloc, all those pointers bec

[2017-08-06 08:45] ronaldtse commented on #358
Agree with @dewyatt . We will need to check each and see.

Luckily there aren't too many of them:
[code]

[2017-08-06 09:14] ronaldtse opened #359 "CLI should allow selection of compression parameters"
## Description

From @ni4 #294:

[code]

rnp already implements ZIP, BZIP and ZLIB.

Relevant GPG options:
[code]

[2017-08-06 09:15] ronaldtse commented on #349
@ni4 has already provided a structure for these tests, these should be integrated into the CLI test suite merged in #294 .

[2017-08-06 09:16] ronaldtse commented on #323
The compression selection is also mentioned in #359 .

[2017-08-06 09:17] ronaldtse commented on #323
@dewyatt @catap do the above command line options look good to you?

[2017-08-06 15:14] dewyatt commented on #359
Just a note, we do support all of these for decompression, but for compression we only support zlib.

Adding support for setting the zlib compression level shouldn't be difficult: https://github.com/riboseinc/rnp/blob/342fb12583ad98b45160460a3041790b8525ab25/src/lib/compress.c#L422

[2017-08-06 15:19] ronaldtse opened #360 "Implement BZIP and ZIP OpenPGP compression"
## Description

From @dewyatt #359

Adding support for setting the zlib compression level shouldn't be difficult: https://github.com/riboseinc/rnp/blob/342fb12583ad98b45160460a3041790b8525ab25/src/lib/compress.c#L422

This is also related to #359 which is CLI support for selecting these algorithms and setting compression parameters.

[2017-08-06 15:19] ronaldtse commented on #359
@dewyatt Just created an issue on that 👍

[2017-08-06 16:25] dewyatt commented on #323
They look great to me.

[2017-08-06 16:25] ronaldtse commented on #323
Thanks @dewyatt 👍

[2017-08-06 18:12] #300 closed

[2017-08-06 19:33] dewyatt opened #361 "ecdsa_signverify_success use of uninitialized memory"
## Description

As discussed in https://github.com/riboseinc/rnp/pull/356 the current test uses uninitialized memory as a random source.
I am very much against this as that test alone causes 50,905 errors in valgrind. Using an rng or /dev/urandon or virtually anything else would be preferred.

[2017-08-06 22:53] dewyatt opened #364 "pgp_ecdsa_sign_hash fails certain digest/curve combinations"
## Description

This test would actually be failing currently if we were checking the return value of `pgp_sig_write` in a certain place (PR coming), but it goes undetected because we fail to check that return value (though botan complains).

From what I can see, the logic here is causing botan to fail: https://github.com/riboseinc/rnp/blob/20cb9ad367cf414b9678b703b84a82fef38f634b/src/lib/ecdsa.c#

[2017-08-06 23:13] dewyatt commented on #171
This wasn't fixed, unfortunately, so reopening.

[2017-08-07 02:40] dewyatt commented on #171
Nevermind, the issues I'm seeing are of a slightly different form from this, so closing again.
I think it's just the `ask_expert_details` tests, since they don't write any passphrases.
But since I started a bit of work on https://github.com/riboseinc/rnp/issues/39 again, it may be better to handle things there.

[2017-08-07 02:40] #171 closed

[2017-08-07 06:46] flowher commented on #364
'r' and 's' is a value modulo multiplicative order of a base point. On the first sight code in rnp seems to be OK.
Thanks for reporting it - I'll investigate that further.

[2017-08-07 21:48] flowher commented on #364
Code in ``rnp`` seems to be correct - all tests work correctly when botan is compiled with rfc6979 module disabled (``./configure --disable-mod=rfc6979``). Short term it could be a solution, nevertheless I would prefer we don't disable this module in long term.

I need to do quick review of RFC6979 before proposing patch to botan.

[2017-08-08 01:35] ronaldtse commented on #364
Thanks @flowher. @randombit any thoughts on this one?

[2017-08-08 06:54] flowher commented on #364
I'm working on a fix

[2017-08-08 07:26] flowher commented on #364
hmmm... It might also be that ``botan`` expects that message (digest) to be signed can't be longer than ``Signature_with_EMSA::max_input_bits()`` and then it means rnp needs to cut off few bytes from digest before signing.

[2017-08-08 12:21] henrydcase opened #367 "When generating ECDSA signaure deterministicly same hash algorithm must be used for HMAC_DRBG and signing"
## Description

By default ``rnp`` uses RFC6979 for ECDSA signature generation. Currently we call ``botan_pk_op_sign_create(&signer, key, "Raw", 0)`` in order to create ECDSA signer. This call will always initialize HMAC_DRBG to SHA-512.

As per 3.3 of RFC 6979 we should initialize HMAC_DRBG with same hash algorithm as the one used for signing.

SHA2-512 seems to be safe default, but would be bett

[2017-08-08 12:46] dewyatt commented on #361
Fixed in 4ba436034f11f9f3c4176b3b41b5526d6f0c0190

[2017-08-08 12:46] #361 closed

[2017-08-08 13:37] catap commented on #323
Same for me!

[2017-08-09 07:52] flowher commented on #364
Patch proposed https://github.com/randombit/botan/pull/1147. Not sure it's preferred way but seems OK according to spec, tests are OK and ... let's keep ball rolling.

[2017-08-09 18:53] MohitKumarAgniotri commented on #350
@dewyatt : I understand the description of the bug but I am confused with the steps for the reproduction. Are these the instances or the trace leading to the leaked resources?

[2017-08-09 22:13] flowher commented on #364
Ok, finally after looking at botan documentation about PK_Signer - I think it's a bug in a ``rnp``. Rnp calls botan after digest of the message to sign has been produced - so we need to use "Raw" signing (we can't use EMSA). In this mode "if the message is too big, the signing operation will fail." So RNP needs to make sure that length of the digest is correct.

[2017-08-09 22:40] dewyatt commented on #350
@MohitKumarAgniotri I edited it, might make it clearer. It may be confusing because it's 3 separate types of leaks, all related to `pgp_decrypt_seckey`.

[2017-08-10 14:32] MohitKumarAgniotri commented on #350
@dewyatt thanks. This is much clearer.

[2017-08-10 19:26] dewyatt opened #371 "GnuPG 2.3 extended private key format"
## Description

It looks like 2.3 is planning on adding yet another private key format ([keyformat.txt](http://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob;f=agent/keyformat.txt;h=68fbdbc65aa4b06060c3b9036ccd39ada68e54e7;hb=HEAD))

With this in mind, I guess it's worth asking: Do we really want to support all the newer gpg private key formats?

This format doesn't look difficult to support,

[2017-08-11 06:34] catap commented on #371
@dewyatt I vote for implement it. I'm on G10 context at all and for me it looks like doesn't bigdeal to support this.

Anyway, I had this format inside my TODO list :)

[2017-08-11 07:07] ronaldtse commented on #371
I'd vote to implementing it too. Thanks @catap. I'm so glad that we now have a key store interface. :-)

[2017-08-11 23:28] #364 closed

[2017-08-12 18:43] ni4 commented on #359
I can take this and update CLI tests accordingly if nobody against it

[2017-08-13 01:20] ronaldtse commented on #359
@ni4 please proceed, much appreciated!

[2017-08-13 14:29] flowher opened #372 "Tests for OpenPGP CFB mode"
## Description

Would be good to tests our implementation of CFB mode (functions pgp_cipher_cfb...). See disussion in #354 for more details.

I can take care of it, except if anybody else really wants.

[2017-08-13 16:36] dewyatt commented on #1
I think that this is generally resolved. Please re-open if not, but it looks right to me.

[2017-08-13 16:36] #1 closed

[2017-08-13 16:39] dewyatt commented on #4
I think @ni4 has made things more consistent here, so closing.

[2017-08-13 16:39] #4 closed

[2017-08-13 17:07] dewyatt commented on #111
As mentioned, this should be fixed now, closing.

[2017-08-13 17:07] #111 closed

[2017-08-13 17:11] dewyatt commented on #136
Let's call this done, though there's probably some minor plumbing we'll want to add for creating additional subkeys and such.

[2017-08-13 17:11] #136 closed

[2017-08-13 17:23] dewyatt commented on #277
I'll call this done as part of https://github.com/riboseinc/rnp/pull/354.

[2017-08-13 17:23] #277 closed

[2017-08-13 17:28] dewyatt commented on #70
I'm giving this a regression label since it looks like the `--keyring` option is completely unused now in the code base (though it's still accepted as a valid option, it appears to have no effect).

Given that GPG does support this option, we may want to consider supporting it again I guess.

[2017-08-13 17:35] dewyatt commented on #36
We do now support loading and saving user preferences.

So what remains on this issue is to actually utilize these preferences.

I think this has potential to be tricky in some cases. For example, if you were signing+encrypting, you may want to consider all of:

* the recipient's preferences
* the sender's preferences
* the algorithm requirements (like required digest sizes for the PK alg, etc).

[2017-08-13 17:40] dewyatt commented on #36
I think the oddly-named `pgp_subsig_t` is the closest thing we have to this at the moment. It contains *all* signatures that occur in a keyring. So it's more than just self-sigs. It could probably be split out with a bit of work. It could potentially be split further than that since self-sigs include certifications, subkey bindings, and direct-key sigs.

[2017-08-13 17:49] dewyatt opened #373 "Add support for fully parsing and writing embedded signature subpackets"
## Description

Now that we have some basic subkey support, we will need to address this part of the RFC:

and (worded differently):

Currently we don't fully parse embedded signature subpackets, and we don't support writing them. Priority is probably writing them.

[2017-08-13 18:22] dewyatt opened #374 "WARNING: signature made with encryption key"
## Description

This warning is printed based on a check that is no longer valid after the subkey rework. The check should probably be changed to something like `if (!pgp_key_can_sign(...))` and the message updated as well.

https://github.com/riboseinc/rnp/blob/ab7546e9f6d9a115f25e15ed9bdca8b83c0506a3/src/lib/validate.c#L307

https://github.com/riboseinc/rnp/blob/ab7546e9f6d9a115f25e15ed9bdca8b83

[2017-08-13 20:36] dewyatt opened #375 "rnp --list-packets SIGSEGV"
## Description

It looks like `rnp --list-packets` crashes on certain input.

## Steps to Reproduce

1. `echo test | src/rnp/rnp --clearsign --output data.asc`
2. `src/rnp/rnp --list-packets --armor data.asc`

## Expected Behavior

No segfault.

## Actual Behavior

Segfault.

[2017-08-13 20:54] dewyatt opened #376 "rnp cleartext signature verification fails in some cases"
## Description

It looks like cleartext signature validation fails in some cases when newlines are involved.

## Steps to Reproduce

1. `echo test | src/rnp/rnp --clearsign --output data.asc`
2. `src/rnp/rnp --verify data.asc`

(Using `echo -n test` above would result in something that rnp *does* validate.)

gpg shows them as valid.

More interesting output can be obtained with something like `src

[2017-08-13 23:09] flowher opened #378 "Parsing compressed data packet fails"
## Description

Found during development of #309.

It seems that ``rnp`` fails to parse data after PGP_PTAG_CT_COMPRESSED. Test committed in branch ``GH_378`` at ``53da99bb9f7f05d7e2387dd49252abb7d55b9910`` reads correctly formatted packet from file, compresses it and writes to memory. Then tries to parse.

## Steps to Reproduce

1. Compile ``rnp`` from brnach GH_378
2. Run tests (all other tests

[2017-08-14 00:32] dewyatt opened #380 "Keys without key flags are not usable after subkey rework"
## Description

I had something in a local branch that I didn't carry over. It's a simple fix.

We use key_flags to determine whether a key can sign/encrypt/etc but this will be 0 for V3 keys, for example.

[2017-08-14 01:27] dewyatt opened #381 "rnp --show-keys SIGSEGV"
## Description

There's all kinds of suspect things going on in `pgp_validate_key_sigs` and `pgp_validate_key_cb`.
I think there's a NULL `pgp_io_t` and some double frees going on at a minimum.

## Steps to Reproduce

1. `src/rnp/rnp --show-keys`

## Expected Behavior

I assume this is supposed to validate key signatures and show some output.

## Actual Behavior

segfault

[2017-08-14 06:24] ronaldtse commented on #238
@ni4 could you take on this task? We could use this on a project by end of this month. Thanks!

[2017-08-14 06:26] ronaldtse commented on #137
I believe this is completed, right @randombit ? Or is this not selectable from the CLI on key generation?

[2017-08-14 06:27] ronaldtse commented on #127
I believe this is completed, right @randombit ? Or is this not selectable from the CLI on key generation?

[2017-08-14 06:36] #374 closed

[2017-08-14 07:35] ni4 commented on #378
Looks like I found the same issue yesterday, during the updating of CLI tests. rnp fails to verify a file signed by GPG, but things work fine if it is not compressed.

I can take this issue if nobody else wants to.

[2017-08-14 07:47] #206 closed

[2017-08-14 07:48] ni4 commented on #238
@ronaldtse Ok, sure.

[2017-08-14 08:16] ronaldtse commented on #378
@ni4 feel free to take it. Hope this will be addressed in the CLI tests!

[2017-08-14 09:12] randombit commented on #127
@ronaldtse Encryption is not supported yet, PR for that coming today I think

[2017-08-14 10:44] ni4 opened #383 "Verification of armored messages fails"
## Description

rnp fails to auto-detect armoured signed message if file extension is not `.asc`
## Steps to Reproduce

1. `rnp --sign message.txt --output message.sig --armor`
2. `rnp --verify message.sig`

## Expected Behavior

Good signature from ...

## Actual Behavior

No signatures found - is this a signed file?

[2017-08-14 12:46] ni4 commented on #383
Got to it while working on other issue, seems to be easy to fix. Will take this issue.

[2017-08-14 19:35] flowher commented on #378
Thnx!

[2017-08-14 19:35] #378 closed

[2017-08-15 06:18] #263 closed

[2017-08-15 06:19] #35 closed

[2017-08-15 08:08] ni4 commented on #294
@ronaldtse I think we can close this issue since we already have tests for CLI? They needs to be updated to cover some specific areas, but this issue could be considered as resolved.

@dewyatt Could you please integrate ./cli_tests.py with Travis? Should I create an issue for that?

[2017-08-15 08:09] ronaldtse commented on #294
Thanks @ni4, and please do create an issue for @dewyatt on Travis integration !

[2017-08-15 08:09] #294 closed

[2017-08-15 08:10] ni4 commented on #103
@ronaldtse Since we have python CLI tests probably it's time to remove tst directory? Or do we have any specific need for that?

[2017-08-15 08:11] ronaldtse commented on #103
We've been wanting to remove `tst` forever. Could you verify that all `tst` tests have their equivalents in the CLI tests, and remove the directory? Thanks!

[2017-08-15 08:11] ni4 commented on #180
I'm closing this since issue #294 is done and closed.

[2017-08-15 08:11] #180 closed

[2017-08-15 08:13] ni4 commented on #103
Ok! Will add missing tests if any and close this issue.

[2017-08-15 08:36] ni4 opened #387 "Build on macOS fails because memset_s is not available"
## Description

After recent changes code doesn't build on macOS with error message `error: implicit declaration of function 'memset_s' is invalid in C99`

Adding the following code fixes the issue, however is this a correct solution?
[code]

[2017-08-15 08:36] ni4 commented on #387
@dewyatt, @ronaldtse what do you think?

[2017-08-15 08:42] ni4 commented on #353
This issue was fixed in some commit which did not reference it, so I'm closing it now.

[2017-08-15 08:42] #353 closed

[2017-08-15 09:38] MohitKumarAgniotri commented on #349
@ni4 I am trying to run the python based test locally, but they fail. is it an expected behaviour or am I missing something?

[2017-08-15 09:43] ni4 commented on #349
@MohitKumarAgniotri Confirmed, it doesn't work well now. I need to update it to match latest changes in key/subkey generation. Will make a PR later today.

[2017-08-15 11:40] dewyatt commented on #387
Oops I remember seeing this in ruby's handling of this functionality ([here](https://github.com/ruby/ruby/commit/09bdb7913c0bf7f2b15d1c7f46b566e35fc5eb82)) and forgot to add that in.
Eventually I guess I'll have to get macOS added in to Travis. I've just been avoiding it since I know it requires full VMs and will probably slow CI down 10x compared to the current containers.

I'll actually need to

[2017-08-15 13:34] dewyatt opened #389 "Add tests for bundled explicit_bzero"
## Description

There are some inherent challenges in actually testing this but it looks like OpenBSD has good tests we can probably pull in or build upon.

From https://github.com/riboseinc/rnp/pull/386#issuecomment-322338359

It's pretty important to actually test this as it will end up being used on a lot of systems (CentOS 7 and other Linux w/glibc < 2.25, for example). It may end up used on m

[2017-08-15 16:34] ni4 commented on #376
@dewyatt I also experienced problems with cleartext/armored signature verification.
Looks like dearmoring code is broken or didn't work well at all.
@ronaldtse Is this of high priority now? Then I can take a look.

[2017-08-15 17:39] randombit commented on #387
Alternative would be to use the botan FFI function `botan_scrub_mem` and avoid the hassle of the `explicit_bzero` support.