[2017-08-15 17:48] dewyatt commented on #387
@randombit I completely forgot about that! I remember seeing it a few weeks ago. That should be much simpler.

[2017-08-15 20:27] randombit commented on #137
This is completed with #222. Passing `--cipher=sm4` to `rnpkeys` during keygen should set the cipher appropriately just like any other.

[2017-08-15 20:27] #137 closed

[2017-08-15 20:32] randombit commented on #372
I can take this

[2017-08-15 21:37] dewyatt commented on #294
I think the challenge here will be that Travis CI is based on Ubuntu Trusty and we'll only have gpg 1.4 and 2.0 available. I think these tests are designed around 2.1, so we'll have to figure something out.

[2017-08-15 21:40] dewyatt commented on #389
Obsoleted by https://github.com/riboseinc/rnp/pull/391

[2017-08-15 21:40] #389 closed

[2017-08-15 21:46] dewyatt commented on #387
Should be all good after https://github.com/riboseinc/rnp/pull/391. Please re-open if not.

[2017-08-15 21:46] #387 closed

[2017-08-15 22:14] flowher commented on #367
Alright. With this feature in botan we don't need anymore  #370. I'll take care of that

[2017-08-16 00:34] ronaldtse commented on #376
Yes, this is important because users expect it to work and it is a common occurrence. Thanks @ni4 !

[2017-08-16 06:01] ni4 opened #394 "Integrate CLI tests to Travis"
## Description

`cli_tests.py all` should be run in Travis to ensure that CLI works correctly among with cmocka tests.

However, comment from @dewyatt :

So probably we should adjust tests to check GnuPG version and run correctly together with 1.4.x, 2.0.x, 2.1.x.

[2017-08-16 07:12] #380 closed

[2017-08-16 15:55] dewyatt opened #396 "Proposal: Key unlocking"
## Description

The proposal here is to add the concept of locking/unlocking an encrypted secret `pgp_key_t`.
This would be somewhat synonymous with the concept of an encrypted/unencrypted/protected/unprotected key, but this would be for in-memory keys and not a storage attribute.

This would basically be a toggle for encrypted secret keys that would switch between having unpopulated/populated MPI

[2017-08-16 17:15] ronaldtse commented on #396
I fully agree with @dewyatt on this approach. Would be fantastic to use this 👍

[2017-08-16 18:37] ni4 commented on #396
I also fully agree on this. So, for instance, sign/decrypt methods would first check whether key is unlocked and only then ask for passphrase and so on.

[2017-08-17 06:48] ni4 opened #399 "Make CLI tests for SM2 keys generation/operations"
## Description

We need CLI tests for SM2 keys generation and encryption/decryption using these keys.

[2017-08-17 10:02] ni4 opened #400 "Rarely reproducible problem with RSA keys during decryption/verification"
## Description

Rarely after number of runs of `./cli_tests.py` encryption/decryption or signing/verification tests fails, and only in one case (i.e. with the same rnp-generated key one round of encryption/decryption or signing/verification fails and then works fine).
I suspect some 'edge case' like symmetric key wrapping/unwrapping/bit boundary or so on problem.

This should be reproduced and fur

[2017-08-17 23:52] dewyatt opened #403 "CFB resync is broken"
## Description

See https://github.com/riboseinc/rnp/pull/401 for more discussion.

AFAICT this isn't something that broke recently and may have always been broken in netpgp.

## Steps to Reproduce

One impact of this is that encrypted V3 keys are not usable. To demonstrate, use the keys below (password 'test').

1. `gpg --dearmor < secring.gpg.asc > ~/.rnp/secring.gpg && gpg --dearmor < pubring.g

[2017-08-18 00:18] dewyatt commented on #403
I meant to add that GPG v2.1+ doesn't support V3 keys anymore, and maybe we shouldn't either (they have issues).
https://www.gnupg.org/faq/whats-new-in-2.1.html

So ignoring the issue of V3 keys, my only question/concern about CFB resync being broken, is what are tag 9 packets used for? I know gpg < 2.1 uses them for password-only symmetric encryption, but I'm not sure what else. I think everythin

[2017-08-18 00:48] ronaldtse commented on #403
I agree that we should drop support for V3 keys for now. Tag 9 is probably only used for backwards compatibility today (which is a significant portion since GnuPG 2.1 is not yet offered in most of the stable Linux distros). Tag 18 is already described in the RFC bis as the preferred method.

The thing about the OpenPGP standard is it doesn't provide clear versioning so it is hard to determine what

[2017-08-18 14:27] dewyatt opened #404 "Improve CLI utils argument+parameters validation"
## Description

Related: https://github.com/riboseinc/rnp/issues/323

We should try to improve our validation of arguments and parameters within our CLI utilities when time permits.
There are at least a few things that will *silently* accept invalid parameter values, for example.

If we, the developers, are having trouble with this, then end-users likely will too.

## Steps to Reproduce

1. Exampl

[2017-08-18 14:31] ni4 commented on #404
@dewyatt Agree, we have quite basic command-line parameters validation in CLI.
I can take this one when I have time.

[2017-08-18 16:09] dewyatt opened #405 "gpg 2.1.15 complains about our KBX format"
## Description

This should be looked into at some point: https://github.com/riboseinc/rnp/pull/368#issuecomment-323347085

[code]

Newer gpg doesn't complain, but that may be because it's more lenient or something, so it should be more completely investigated.

[2017-08-18 19:08] dewyatt opened #407 "G10 protected secret key padding should be random (maybe)"
## Description

It looks like we're using "X" as padding [here](https://github.com/riboseinc/rnp/blob/b9c993a46d4d1da12d5a24ac6bbb11620107f029/src/librekey/key_store_g10.c#L1414), whereas I saw gnupg mentions the use of a full block of random data ([here](https://github.com/gpg/gnupg/blob/e6f84116abca2ed49bf14b2e28c3c811a3717227/agent/protect.c#L362)).

I didn't spend any time looking into this, s

[2017-08-18 19:20] dewyatt opened #408 "G10 OCB should set associated data for AEAD"
## Description

I haven't tested this but I don't think the G10 format OCB support would currently work.
I believe I should be seeing calls to `botan_cipher_set_associated_data` somewhere in there, for example.

Just noting this for later testing and such.

[2017-08-19 14:51] catap opened #410 "Question about key generation"
@dewyatt, how I see you're last one who touch this code, so, I think the question is to you but I may be wrong.

Let get the sample of code:
[code]

Here the code generate a new key, write it as PGP key to memory, and after load it from memory. I feel that it might be a security reason to keep as less as possible time when we keep unsecured a secret numbers. Am I right?

If yes, it broke G10 stora

[2017-08-19 16:56] dewyatt commented on #410
Right, I mentioned that G10 would be broken in the subkey rework PR and also that I disabled the tests in that PR. The plan was to take another look at re-enabling G10 support sometime soon.

Loading the generated key back in serves a few purposes:

* As you said, it's *slightly* more secure (for the cases when `decrypted_seckey` is not requested by the caller).
* It gives us a consistent view in

[2017-08-20 01:42] ronaldtse commented on #324
@dewyatt , @randombit for this until later but if you already have something done could you share it in some branch? I wonder if ruby-rnp could use what you have already?

[2017-08-20 12:11] catap commented on #410
@dewyatt thanks for explanation.

[2017-08-20 14:37] catap opened #412 "Notes after trying on performance testing."
I've tried to run very simple and dirty performance testings to compare performance rnp (last master) and GnuPG 2.1.23.

All tests run on my laptop with a lot of running background application and I didn't re-run it 5-7 times to makes clear result. Anyway it shows the picture and makes a detection to optimisation.

Short summary:
 - rnp slower than GnuPG for 30%;
 - rnp can't encrypt files bigger

[2017-08-21 05:19] catap commented on #412
Well, it crashed inside zlib compression. Looks like

[code]

And this bug doesn't related to encryption process, because it happened also at file that was encrypted by gnupg.

[2017-08-21 06:37] catap commented on #412
as confirmation that crash is our bug I did a very simple test: encrypt a 1gb file by rnp and try to decrypt it by gpg.

GnuPG decrypts rnp's file.

[2017-08-21 07:00] ni4 commented on #412
I doubt that memory usage can be easily decreased - current codebase doesn't use streamed processing. To change this we'll need to rewrite a lot of things in readers/writers.

[2017-08-21 07:02] catap commented on #412
@ni4 yeah, but I think we should do this because gpg use a constant (about 1mb) memory.

[2017-08-21 07:06] ronaldtse commented on #412
Agree with @catap that we must use iterative, block-size processing. Compression, encryption / decryption, signing / verification all work with such processing. @ni4 any particular part we should be concerned about?

[2017-08-21 07:33] ni4 commented on #412
@ronaldtse I also completely agree that we should process data in streamed way using the constant memory. I just noting that this would require rewriting a lot of stuff inside of the library taking a lot of time. So in my opinion it would be better to do that not right now but after we have first release.

[2017-08-21 07:40] ronaldtse commented on #412
That's true, I suppose we will do what we can incrementally without require a huge one-time rewrite.

[2017-08-21 11:46] dewyatt commented on #412
There should be some low-hanging fruit here that could be improved upon immediately, though.

This would be a good candidate:
https://github.com/riboseinc/rnp/blob/5c4376c298656debf8bc03cb0c8ca0c2aa8bd611/src/lib/signature.c#L1311

So for detached signing, we're reading the entire file into memory, just so we can hash it. That's obviously dumb and easily improved. A simple `fread` loop that calls

[2017-08-21 12:01] catap commented on #412
@dewyatt well, pgp_mem_readfile is wrapper around mmap and I don't think that here maybe an issue.

But I agree that we can add to pgp_sig_add_data by fixed size chunk and it may helps.

anyway I think that good point is spend some time to find who uses so many memory and how we can fix it as easy workaround before release.

And after release rewrite to streaming everything as suggest @ni4

[2017-08-21 12:04] ronaldtse commented on #412
@catap echoing @dewyatt it's not `mmap` that uses this memory immediately, it is the subsequent `read` calls that loads the full file contents.

https://github.com/riboseinc/rnp/blob/b9c993a46d4d1da12d5a24ac6bbb11620107f029/src/lib/misc.c#L765

I guess we need to either rewrite `pgp_mem_readfile` or ensure the chunk size concept is consistent from top to bottom. This is still rather 'low-hanging'?

[2017-08-21 12:06] catap commented on #412
@ronaldtse it runs read() only if mmap fails:

https://github.com/riboseinc/rnp/blob/b9c993a46d4d1da12d5a24ac6bbb11620107f029/src/lib/misc.c#L756
https://github.com/riboseinc/rnp/blob/b9c993a46d4d1da12d5a24ac6bbb11620107f029/src/lib/misc.c#L757

[2017-08-21 12:06] ronaldtse commented on #412
Geez, my reading skills.

[2017-08-21 12:07] dewyatt commented on #412
Right @catap is right here and I completely forgot we were using mmap here. :)

[2017-08-21 13:30] flowher commented on #410
Indeed, would be better if ``pgp_seckey_t`` doesn't contains keystore specific stuff

[2017-08-21 23:31] ronaldtse commented on #394
@ni4 GnuPG 2.1 is available with Travis' macOS and also our own macOS via homebrew. We can start with that first?

Also GnuPG 2.1 seems possible to be installed on Ubuntu except it would take some time:
https://gist.github.com/mattrude/3883a3801613b048d45b

[2017-08-21 23:33] dewyatt commented on #394
Installing it to some build directory is a good idea, and we can add that directory to the travis cache so it doesn't slow things down.

[2017-08-21 23:35] ronaldtse commented on #394
Would someone be ready to take this on? We badly need CLI tests in CI.

[2017-08-21 23:38] ronaldtse commented on #412
We could `mmap/munmap` portions of the file chunk by chunk instead to prevent this issue.

This line `mmap`s the entire file size at once.
https://github.com/riboseinc/rnp/blob/b9c993a46d4d1da12d5a24ac6bbb11620107f029/src/lib/misc.c#L755

[2017-08-22 00:01] dewyatt commented on #412
I wonder if we could get a performance boost for cases like detached signing (where we just need to read+hash the file) with `posix_madvise` + `POSIX_MADV_SEQUENTIAL`. It seems to fit the use case perfectly, so maybe worth a shot.

[2017-08-22 01:55] dewyatt commented on #394
I'm going to just get this done right quick.

[2017-08-22 04:42] dewyatt commented on #396
Done!

[2017-08-22 04:42] #396 closed

[2017-08-22 04:42] dewyatt commented on #39
Done!

[2017-08-22 04:42] #39 closed

[2017-08-22 09:38] ronaldtse commented on #412
Having read [this](https://stackoverflow.com/questions/6055861/why-is-sequentially-reading-a-large-file-row-by-row-with-mmap-and-madvise-sequen) I wonder if a simple `fgets` is actually faster and uses less memory that what we do now?

[2017-08-22 09:41] ni4 commented on #412
I doubt that file reading operation is the main bottleneck. We should just read it in large enough chunks (say, 64k or 128k) instead of 1-byte reads.

[2017-08-22 09:43] ronaldtse commented on #412
Plenty of stuff to try, someone just needs to jump on this 👍

[2017-08-22 09:56] #394 closed

[2017-08-22 12:22] ni4 opened #419 "Create CLI test case for CFB resync/loading of v3 keys"
## Description

It's not a good tone to write description like this but see  the #414 and #403, #401  for the info.

[2017-08-22 12:30] ronaldtse commented on #419
A perfect description 😉

[2017-08-22 14:05] randombit commented on #360
Should be fixed with #417, the CLI support is #359

[2017-08-22 14:05] #360 closed

[2017-08-22 23:07] #18 closed

[2017-08-23 14:02] catap commented on #412
@ronaldtse I'm on it, but right now I'm in 4gb+ files hell :)

[2017-08-24 12:30] ni4 opened #424 "Implement streamed data processing"
## Description

Within current implementation data is processed as a whole and processing results are stored in memory for later processing. So memory usage is a multiply of input size, which is wrong - it must be (and could be) constant except some rare circumstances (when we don't have one-pass signature? don't remember for sure right now).

So we need to switch to streamed processing, so input

[2017-08-24 12:31] ni4 commented on #424
If nobody else wants to start with it I could begin while doing symmetric encryption/decryption support.

[2017-08-24 13:05] ni4 opened #425 "Enable compression for the signed data"
## Description

Currently we only compress encrypted data, however GnuPG compresses signed data as well by default. So most likely we should also stick to this strategy.

[2017-08-24 22:06] ronaldtse commented on #424
@ni4 would be great if you could start with it! For OpenPGP packet processing if we reduce the packet size the same streaming approach would also work?

[2017-08-25 07:49] ni4 commented on #424
@ronaldtse Sure, it will not depend on packet size at all, it's just another approach/architecture.

[2017-08-25 12:24] ni4 commented on #400
This can be reproduced with the following python CLI test sample:

[code]

It happens after number of runs with the same key, so it could be related to some wrong key calculations. Signature is generated by GPG, and verification fails in both GPG and RNP. So it could be even bug in the GPG.

[2017-08-25 14:27] ni4 commented on #383
Fixed with #423

[2017-08-25 14:27] #383 closed

[2017-08-25 14:27] ni4 commented on #376
Fixed with #423

[2017-08-25 14:27] #376 closed

[2017-08-27 01:29] dewyatt commented on #400
This does seem like a gpg bug (or two).
I created a couple of repos with reduced cases if it helps (and unencrypted keys, as the key material may be relevant here):
https://github.com/dewyatt/gpg-bug-decrypting
https://github.com/dewyatt/gpg-bug-signing

They both succeed most of the time, but will usually fail within a minute or so. The decryption bug repo is particularly interesting because it u

[2017-08-27 11:52] ni4 commented on #400
Thanks @dewyatt for your investigations.
Today I also spent some time on this and found out the reason.
RFC 4880 tells that p < q for RSA key, but we ignored this fact. And looks like GPG relies on this during signing/decryption (there is faster calculation algorithm based on p, q and u).
I'm preparing PR right now.

[2017-08-27 13:24] ronaldtse commented on #424
Sure, please proceed 👍

[2017-08-27 15:13] #359 closed

[2017-08-28 07:03] #400 closed

[2017-08-28 18:27] catap commented on #412
@dewyatt, @flowher, @ni4, @ronaldtse I think I need your help.

While I've worked at #421 I explain intresting behaviour of GnuPG.

It's using partial/streaming writing for any packages that bigger than 8kb.

For example
[code]

I made a small research how it works and realised that GnuPG creates partial chunk with size no more than 8kb, if it smaller, it try creates an n^2 chunk size, but if it l

[2017-08-28 18:30] ni4 commented on #412
@catap This may help abit. However I started writing streamed processing code. This will take some time but after that we'll use constant memory footprint for all of the operations.

[2017-08-28 18:31] catap commented on #412
@ni4 have you mean decoding code? Because rnp has encoding code :)

[2017-08-28 18:32] ni4 commented on #412
@catap Both, reader and writer.

[2017-08-28 18:33] catap commented on #412
@ni4 but #421 uses a writer...

[2017-08-28 18:39] ni4 commented on #412
@catap Probably I used wrong description here, I meant #424 - like approach: I.e. we process data in limited-size block from the input to the output. While now, for instance, in writer we write the whole literal data packet to the memory, then compress it, then write to output.

[2017-08-28 20:41] flowher commented on #412
@ni4 @catap As far as I understand partial chunks will solve the problem mentioned in 424, isn't it?

[2017-08-28 20:45] catap commented on #412
@flowher yes, and you're just approved a PR where I used existed code of partial request. Anyway I haven't saw #424 before, and started working on reader part, because writer part existed...

Have I missed anything?

[2017-08-28 20:54] flowher commented on #412
Yep, the 421. Nothing missed. I just think that using partial chunks for reading and writing is good idea (I thought that streaming will be kind of solved by using partial chunks).

[2017-08-28 20:56] ni4 commented on #412
@catap @flowher  Now I finally got an idea, sorry, was a bit tired. But what happen if some implementation will write the 1Gb partial chunk? Or put in a z-bomb with say 1kb of zlib data which decompresses to 10gb?

[2017-08-28 21:02] flowher commented on #412
Implementation needs to take care of the case that 1 partial block of input doesn't mean 1 partial block of output.

[2017-08-28 21:06] catap commented on #412
@ni4 GnuPG can encrypt and decrypt (not all time to be honest) very big file. I never tried encode/decode files bigger than 1tb, but it works for up to 1 tb.

and yes, it creates a lot of 8kb chunk :)

Have you in mind if I finish partital decoder on this task? :)

[2017-08-29 00:30] dewyatt commented on #231
Just adding this note for when someone works on this: The way gpg appears to handle this is it calculates an iteration count that takes ~100ms on the current machine, and uses that (see [here](https://github.com/gpg/gnupg/blob/5cf95157c5db88dd599ac4d48f619782179b1438/agent/protect.c#L163)).

IIRC another piece to keep in mind is that there is the RFC encoding of the iteration count, and then there

[2017-08-29 16:53] ronaldtse commented on #412
GnuPG probably splits into 8KB packets for streaming purposes? I'm fine with using the GnuPG approach, but maybe the packet size could be tunable.

I do agree that #424 should be implemented in case someone gives us a 1GB packet, I believe @ni4 is working on that.

[2017-08-29 19:58] ni4 commented on #412
@ronaldtse Yep, that's what I'm working on right now. Starting from reader, writer will be next. Will first implement this stuff for symmetric encryption/decryption.

[2017-08-31 13:01] dewyatt opened #432 "PGP parser should stop when requested by callback"
## Description

It would be nice if the pgp parser would stop when the callback returns `PGP_FINISHED`.
Right now the only return value that actually has an effect is `PGP_RELEASE_MEMORY`:

https://github.com/riboseinc/rnp/blob/2ab6a993b26b53370deddc5d88afa39e397cc426/src/lib/utils.h#L54

I've worked around this in the past by checking if an error occurred in the callback and immediately returning

[2017-09-01 09:06] ni4 commented on #227
@dewyatt This seems to be fixed now, with introduction of passphrase_provider_t?

[2017-09-01 18:24] dewyatt commented on #227
Good point, closing!

[2017-09-01 18:24] #227 closed

[2017-09-03 02:21] ronaldtse commented on #127
@randombit should we close this?

Ref: https://github.com/riboseinc/rfc-openpgp-oscca/pull/2

[2017-09-03 02:23] ronaldtse opened #436 "Support selectable hash functions in SM2"
## Description

Refer to https://github.com/riboseinc/rfc-openpgp-oscca/pull/2

## Steps to Reproduce

1.  SM2DSA, SM2PKE should allow selection of internal hash function

## Expected Behavior

* Generation of SM2 public key
* Public-key encryption using SM2
* Signatures using SM2DSA / SM2PKE

## Actual Behavior

SM2 is hardcoded to use SM3 right now.

[2017-09-03 13:07] catap commented on #424
@ni4 hey, have you got any ETA? :)

[2017-09-03 13:09] ni4 commented on #424
@catap I plan to finish streamed approach for symmetric encryption/decryption till the end of this week. Then, after discussion of PR, will get to PK encryption/signing/verification

[2017-09-04 04:01] ronaldtse commented on #412
@catap just posted this gist https://gist.github.com/catap/f909b1d221f93c446edff03832fba075. rnp can decrypt a 100k file from GnuPG but not yet the 4gb file.

Hopefully we can solve this soon.

[2017-09-04 06:13] erikbor opened #437 "rnpkeys with a large argument in --homedir causes a crash"
## Description

can crash rnpkeys with a long argument in --homedir

## Steps to Reproduce

[code]

## Expected Behavior

No crash

## Actual Behavior

A core dump

[2017-09-04 06:21] erikbor opened #438 "rnp --sign segfaults when it cannot open the target file"
## Description

rnp --sign segfaults when it cannot open the target file

## Steps to Reproduce

[code]

## Expected Behavior

A graceful exit.

## Actual Behavior

A segfault

[2017-09-04 06:50] ronaldtse opened #439 "Support AEAD"
## Description

rnp should support AEAD, OCB and GCM. In the latest draft only EAX is supported, we should add OCB and GCM.

OpenPGP AEAD is specified in the ongoing draft of RFC 4880-bis:
https://gitlab.com/openpgp-wg/rfc4880bis

Relevant file: https://gitlab.com/openpgp-wg/rfc4880bis/blob/master/middle.mkd

Relevant portions below:
[code]

## Symmetric-Key Encrypted Session Key Packets (Tag 3)

[2017-09-04 07:15] erikbor commented on #375
A 2 byte .gpg file can cause the crash:

[code]

[2017-09-04 07:53] ronaldtse commented on #436
Thanks @randombit !

[2017-09-04 08:39] ni4 opened #440 "Optimize CFB mode usage"
## Description

Current CFB mode implementation processes input data by byte, which is quite slow.
It should be optimized to work at least on per-word level.
Other optimization would be to process the whole chunk on botan level so botan_encrypt_block call overhead is not applied for each 8-16 bytes.

[2017-09-04 08:46] ni4 commented on #440
@ronaldtse @randombit
As we discussed in some other topic, botan is general purpose cryptography library so it should not implement OpenPGP-specific encryption mode. From the other side, it implements OpenPGP-specific S2K.

Also probably overhead which is added by botan_encrypt_block is not a big deal.

[2017-09-04 10:28] ronaldtse commented on #440
Agree with @ni4 that we should not make Botan implement OpenPGP-specific stuff.

Maybe @randombit would have some thoughts on this.

[2017-09-04 12:12] randombit commented on #440
Definitely those loops are written as "simplest thing that could possibly work".

Something like the following may help, it amortizes the pointer increments/length decrements over an entire block instead of byte by byte. And instead of returning to the top of the outer `while(bytes)`loop after each byte is processed, it does so only after either consuming all remaining bytes in the message (in whi

[2017-09-04 12:57] ni4 commented on #440
@randombit The cycle can be optimized for larger blocks even further by moving from byte-to-byte xoring to the whole block xoring, i.e.:
- process bytes till the block boundary;
- process all full blocks using uint32_t/uint64_t (depending on architecture) xors with constant increments
- process the tail using byte xors/cycle

If nobody wants to deal with this I can take the issue later on, anyway

[2017-09-04 15:30] ronaldtse commented on #437
Ah, @erikbor 's favorite behavior with a working solution from @jjr840430 😉

[2017-09-05 01:45] erikbor commented on #438
@jjr840430 can you also take a look at this one please. Thanks!

[2017-09-05 05:18] jjr840430 commented on #438
@erikbor OK, I will. Thanks.

[2017-09-05 08:59] flowher commented on #438
I think #441 fixes it

[2017-09-05 09:40] flowher commented on #271
#441

[2017-09-06 02:51] ronaldtse opened #442 "Create a pgp-packet-dumper based on librepgp"
## Description

Originally discussed in #441.

[pgpdump](http://www.mew.org/~kazu/proj/pgpdump/en/) is an OpenPGP packet dumper.

GnuPG has a packet dumper too, output can be seen here:
https://davesteele.github.io/gpg/2014/09/20/anatomy-of-a-gpg-key/

## Expected Behavior

We should have a OpenPGP packet dumper that does exactly those things, just using the newly extracted `librepgp`.

Potentiall

[2017-09-06 06:55] ronaldtse commented on #442
From @ni4 here
https://github.com/riboseinc/rnp/pull/441#issuecomment-327392173

[2017-09-06 07:11] ronaldtse commented on #442
@ni4 But all it needs is to read the packets (not decrypt), and show the {crypto,hash,compress} algorithm numbers etc.? `librepgp` should be able to do that right?

[2017-09-06 07:51] flowher commented on #439
FYI: I'm happy to take care of this stuff after librepgp

[2017-09-06 08:05] ni4 commented on #442
@ronaldtse Right, unless you hit the encrypted data packet. Without decryption you would be able just to tell information about the first public key/symmetric key encryption session key packets.

[2017-09-06 09:41] ronaldtse commented on #439
Thanks @flowher ! When do you think we could have this done?

[2017-09-06 09:52] ronaldtse commented on #238
@ni4 just to confirm that stream processing will mean (given a block size of b, available bytes of a, and a total length of n inside a packet):
* `0 < a < b`  => queued
* `b <= a < n`   => process block (encrypt / decrypt)
* fully available packet (`a == n`) => process packet (encrypt / decrypt)

Right?

[2017-09-06 10:04] jjr840430 commented on #437
@erikbor My account is denied to push the changes.

Here is the patch to fix this issue.
[code]

[2017-09-06 10:09] ni4 commented on #238
@ronaldtse What do you mean under the block size?
Under the streamed processing I mean that data is read from the source, processed, and written out in one pass and using the constant-size cache (say, 32kb). It doesn't depend on packet sizes/partial data lengths and type of the input - the only requirement for the input is to be able to read data, and inform about the end of data. So, after initia

[2017-09-06 10:11] ronaldtse commented on #437
@jjr840430 Permission granted. Next time you could also do a PR from your own fork, which doesn't require push permissions.

[2017-09-06 10:12] ronaldtse commented on #238
Ah I got confused, thanks @ni4 .

[2017-09-06 11:35] dewyatt opened #443 "Generic IO/filter interface"
## Description

I've been thinking for a while that we may want to see if we can come up with a generic io/filter interface, which would kind of combine the current "reader" and "writer" frameworks.

Right now we have a lot of duplicated readers and writers like [this](https://github.com/riboseinc/rnp/blob/67562f0ed67dc1669fa40bf9771145cfd19345a7/src/lib/writer.c#L1710) and [this](https://github.c

[2017-09-06 22:03] flowher commented on #439
@ronaldtse  end of september if I put on hold ``repgp``. I'm assuming OCB, EAX and GCM implementations are in Botan (which seems to be the case).
But maybe you would prefer have it done quicker (as I'm working only in the evenings). So than don't hesitate to assign differently.

[2017-09-06 23:42] ronaldtse commented on #439
@flowher we should definitely finish `repgp` first. Indeed those implementations are in Botan.

@riboseinc/rnp is anyone interested + have time for AEAD support? Thanks!

[2017-09-07 08:17] ni4 commented on #439
@ronaldtse @flowher  I can take this after password encryption - anyway I digged into symmetric crypto.

[2017-09-09 14:26] ni4 commented on #221
It should be a good idea to first write to file with temporary name, and then rename it to specified file or file name which is stored in literal data packet. The reason for this is that during one-pass processing output is written before the final signature/mdc checks are done. Also file name stored in literal data packet may become available only after password/private keys are obtained.

[2017-09-11 04:28] #438 closed

[2017-09-11 15:52] ronaldtse opened #451 "Get rid of unnecessary `pgp_mem_readfile` messages"
## Description

Reworded from @dewyatt in #450 .

`pgp_mem_readfile` messages should be eliminated from the function itself, but the messages should be logged at the call site, where there is enough context to determine whether something is normal or an error.

Sometimes it's perfectly OK for a file to not exist.

## Steps to Reproduce

https://travis-ci.org/riboseinc/rnp/jobs/273893046

## Expect

[2017-09-11 18:51] jjr840430 commented on #437
Fixed by #444

[2017-09-11 18:51] #437 closed

[2017-09-11 19:56] #403 closed

[2017-09-12 01:48] dewyatt opened #453 "librekey: G10 ECC support"
## Description

I know @catap is already aware of this but I couldn't find an open issue referencing it, so here it is.
Currently the G10 format only supports RSA, DSA, ELG. Adding SM2 and others would be a good idea, but I do see it could take a bit of extra work.

(Side note: We may also want to add the other RSA identifiers in `parse_seckey`+`parse_pubkey`, seems to only have `PGP_PKA_RSA` righ

[2017-09-12 11:05] dewyatt opened #454 "G10 key store public-key support"
## Description

I dropped this to save time in PR #452 when reworking things.
I don't know of any immediate need for it and don't believe gpg uses it externally, but it's worth investigating whether we need it restored.
(I have no problem restoring it myself, if requested, since I'm responsible for dropping it)

[2017-09-13 10:07] ni4 opened #456 "Consolidate output filename handling and file overwrite"
## Description

Currently during decryption/encryption/signing/verification we by default overwrite output file if it already exists, and use input file name without .gpg/.asc extension for output file name if it is not specified. Also we do not handle file name stored in literal data packet.
We should fix it to use the same behavior everywhere.

It is better to implement this after #424 - streame

[2017-09-13 19:03] dewyatt commented on #248
This was basically done long ago.

[2017-09-13 19:03] #248 closed

[2017-09-14 09:54] ni4 commented on #358
Just hit into this problem with my new code, wasting some hours for debugging.

[2017-09-14 13:18] dewyatt commented on #358
Yeah, honestly I've been thinking we may just want to completely remove DYNARRAY. The negatives of DYNARRAY, to me, are:

* It requires macros, which tend to be a bit more difficult to maintain (and currently uses fairly complex macros)
* It introduces the possibility of hard-to-debug issues like dangling pointers (this issue)
* There is no way to tell when it fails to expand. (This one isn't hard

[2017-09-14 13:49] ni4 commented on #358
Agree on this, it add's more problems then solves. It could be replaced with functions like arr_init(int *size, int *vsize, int elsize); arr_resize(int *size, int *vsize, int elsize) and explicit declaration of those three fields in the struct.

[2017-09-14 15:13] ni4 commented on #231
Their approach seems to be a bit weird. Stuff which is encrypted on slow computer should not be less secure. I think better and simpler approach is to just declare default constant which is secure for nowadays and update it every year or so. And of course add configurable parameter for this.

[2017-09-14 16:13] dewyatt commented on #231
I think the idea is probably to keep up with advances in hardware, without requiring occasional software updates just to change the iteration count? They do enforce a lower limit (65536) at least.

I actually think the calibration approach may be better, if combined with a growing lower limit every year. Think about the case where you're using the newest high-end machine with all kinds of specific

[2017-09-15 14:40] dewyatt opened #458 "defkey for G10 depends on readdir order"
## Description

I think I forgot to create an issue for this:

https://github.com/riboseinc/rnp/blob/e084a1c425cefb8628f759b1f8fe60e22949ed10/src/librekey/rnp_key_store.c#L180

In general, defkey probably needs to be more carefully chosen based on key flags and such.

## Steps to Reproduce

1. `rm -rf ~/.rnp`
2. `src/rnpkeys/rnpkeys --gen-key --keystore-format=GPG21`
3. `echo test | src/rnp/rnp --

[2017-09-15 14:49] ni4 commented on #231
We also forgot another small thing - default iteration count should also depend on hash algorithm. It must be higher for weaker hashes and vice versa.

[2017-09-18 15:12] flowher commented on #311
Care should be taken to avoid attacks like the one described in this paper:
https://eprint.iacr.org/2017/806

libgcrypt was vulnerable to this attack:
https://security.archlinux.org/CVE-2017-0379

[2017-09-19 19:13] dewyatt commented on #432
Looking at this again, `repgp_parse` callbacks should be able to indicate at least two separate things:
* "release memory" or "keep memory"
* "continue parsing" or "stop parsing".

So, for example, the return value of these callbacks might just be a a set of flags, something like:
`return PGP_PARSER_CONTINUE | PGP_PARSER_KEEP_MEMORY`

[2017-09-20 13:10] dewyatt commented on #410
I think we're OK on this issue now (G10 now generally works again).

This is now taken care of as well.

[2017-09-20 13:10] #410 closed

[2017-09-21 16:23] dewyatt commented on #21
@ni4 I had to go ahead and do some work on this one to get CI passing after making some things stricter on error checking. Definitely room for improvement, but it does at least save to disk for the usual cases now.

[2017-09-21 16:30] ni4 commented on #21
@dewyatt Go ahead, I doubt that I'll get time for this soon.

[2017-09-21 16:37] dewyatt commented on #358
This would be quite verbose IMO, but more importantly it would only solve the first issue if I understand correctly.

I just burned a few more hours on debugging a dynarray issue today. I realized that `rnp_key_store_remove_key` invalidates pointers (well, worse, it shifts the array of key data). Not that the function is wrong, but it's pretty much forced to behave that way because of dynarray.

I

[2017-09-22 07:03] #442 closed

[2017-09-23 14:39] dewyatt opened #469 "Improve key importing"
## Description

https://github.com/riboseinc/rnp/pull/468#issuecomment-331209705

Additionally, we should make sure to filter what is actually imported (trust packets should *not* be imported, for example).

[2017-09-25 16:06] ni4 opened #470 "Add command to armour the input binary file"
## Description

This command may be useful in some cases, and it is easy to add it to rnp within new streamed processing approach.
Since `--armour` it already used it can be called `--enarmour` (in contrast to `--dearmour`) or so on.

[2017-09-26 08:47] ni4 commented on #16
@flowher @ronaldtse  I implemented base64 encoding/decoding streams as part of PR#463 . So after mergin it this issue can be closed.

[2017-09-26 08:57] flowher commented on #16
Any results?

[2017-09-26 09:03] ni4 commented on #16
@flowher Not yet, since only password encryption is now implemented (which wasn't implemented before). But code should be definitely faster.

[2017-09-26 09:36] flowher commented on #16
Let's close it after we have some comparisons.

[2017-09-26 21:29] flowher commented on #153
I think this can be closed now.

[2017-09-26 21:29] #153 closed

[2017-09-27 00:03] dewyatt commented on #16
We may want to keep this issue open regardless, until we have removed the other base64 implementations (maybe).

[2017-09-27 07:12] ni4 commented on #16
@dewyatt @flowher Ok, agreed.

[2017-09-27 08:21] ni4 commented on #238
Done in #463

[2017-09-27 08:21] #238 closed

[2017-09-27 09:35] ni4 commented on #321
Just understand that C99 doesn't support anonymous unions/structs, while C11 does.
It's a minor thing but I like it since you can write `compression_params->z` or `compression_params->bz` instead of `compression_params->zparams->z`

So, will we move back to C99 or it is okay to use C11 features?

[2017-09-27 12:36] dewyatt commented on #321
True but anonymous structs are incompatible with (ISO) C++ for example, so they can cause problems in public headers.

The problems I see with C11 are:
* It doesn't really provide much, as discussed above.
* It reduces portability since it's pretty new (as far as language standards). For example, I believe MSVC only added partial C99 support in 2013 (~14 years after the standard was published).
*

[2017-09-28 03:13] ronaldtse opened #473 "Review for `pgp_forget` calls from #463"
## Description

https://github.com/riboseinc/rnp/pull/463#discussion_r141321416

@ni4:

Review #463 to ensure `pgp_forget` is called whenever necessary.

[2017-10-03 06:56] ronaldtse opened #480 "Decoding legacy PGP messages"
## Description

I received this email from a user, and don't know whether this still affects RNP today.

## Steps to Reproduce

1. Attempt to decode a legacy OpenPGP message. I assume this is tag 9?

## Expected Behavior

GnuPG: `WARNING: message was not integrity protected` but decrypts.

## Actual Behavior

Apparently it fails with message `netgpg - " incorrect or unknown tag"`.

[2017-10-03 06:56] ronaldtse commented on #480
@dewyatt @ni4 could you have a look at this? Thanks!

[2017-10-03 07:47] ni4 commented on #480
@ronaldtse Do you have such sample message or the way to generate it? Or at least output of `gpg --list-packets`? It is encrypted, and probably it is symmetrically-encrypted, then it should be support with rnp now.

[2017-10-03 07:49] ronaldtse commented on #480
@ni4 I don't have the sample since it was a reported issue, I assume it was a Tag 9 Symmetric Encrypted packet since the gpg message says "not integrity protected".

If it's supported could you please close this then?

[2017-10-03 08:18] ni4 commented on #480
Ok, sure!

[2017-10-03 08:18] #480 closed

[2017-10-05 17:52] ni4 commented on #473
Resolved via #474

[2017-10-05 17:52] #473 closed

[2017-10-07 15:10] ni4 opened #486 "Implement CLI arguments for generate key algorithm selection"
## Description

Currently we have only default (RSA) key generation and expert key generation mode. However the last one requires stdin input and has some disadvantages - like, it doesn't allow to generate ECDSA/ECDH keypair.

So following parameters/modifications are proposed to be added to `rnpkeys`:
- `--generate rsa [bits]`
- `--generate dsa [bits]`
- `--generate ecdsa [curve]`
- `--generate e

[2017-10-07 15:11] ni4 commented on #486
@dewyatt @ronaldtse What do you think? I added it mostly for easier enhancement of CLI tests however it could be appreciated by users as well. Within current architecture it should not take a lot of time for implementation.

[2017-10-07 15:14] ni4 opened #487 "Implement 'keyfile' mode of operation"
## Description

This is mostly call for discussion. Often user doesn't need to use large keyrings and deal with trust flags, key ids and so on, and only single key exported to the file is used for operations. Like in automated environment where multiple files are processed in batch and encrypted for the specified receiver.

So it probably worth to add `--keyfile` parameter, which will disable load

[2017-10-07 23:22] #309 closed

[2017-10-08 04:30] ronaldtse commented on #486
@ni4 I agree we should have at least the key generation algorithm accessible by CLI.

I'll leave it for @dewyatt to comment on the CLI syntax. For `sm2` the argument should be same as `ecdsa` which allows for a curve selection.

[2017-10-08 07:32] ni4 commented on #486
@ronaldtse Thanks, added curve to sm2 key algorithm. Waiting for @dewyatt's and others comments.

[2017-10-08 09:10] flowher opened #488 "ECDH key should be created as subkey to ECDSA key"
## Description

As mentioned in #344 the ECDH key generated by rnp can't be imported to GnuPG and other way around. At the time ECDH was implemented the functionality needed for generation a key with a subkey wasn't fully supported.
Needed functionality for subkey generation is now implemented so we can carry on with ECDH key generation, so that it's  compatible with GnuPG

[2017-10-08 11:35] flowher commented on #321
I don't think we have many typdef redeclarations (I see only one at the moment). So even that shouldn't be a problem.

[2017-10-08 23:12] ronaldtse commented on #488
@flowher thanks for this!

[2017-10-09 04:58] ronaldtse commented on #321
Then @flowher could you help us update all code to be compliant with C99? Thanks!

[2017-10-09 08:32] flowher commented on #321
Ok

[2017-10-09 13:32] ni4 opened #490 "Remove obsolete data processing functions"
## Description

Once streamed processing (issue #424) is completely implemented a lot of old code will be obsolete. It should be removed and cleaned up.

[2017-10-10 08:16] flowher commented on #49
Closing as those functions were removed some time ago:

[code]

[2017-10-10 08:17] #49 closed

[2017-10-10 08:19] flowher commented on #21
@dewyatt It's done, isn't ? Can we close?

[2017-10-10 08:40] kriskwiatkowski opened #491 "Crypto code cleanup"
## Description

Currently we have a lot of boilerplate code in RNP. Let say we add new algorithm support to rnp. What one needs to do is to change many functions and modify switch-case blocks, possibly
forgetting about some places.

Each algorithm implements pretty much common set of functions. We could have have a macro with fixed number of arguments which would be used to register each algorithm

[2017-10-10 09:17] ronaldtse commented on #491
@flowher make a lot of sense, looks like something we should get done soon 👍

[2017-10-10 09:35] ni4 commented on #491
Will not this add more complications then benefits? Say, for each asymmetric operations we have just 4 places where it is used: encryption, decryption, signing, verification. And places where key and MPIs are parsed in/out from the packet.
Also all algorithms have different parameter sets so to make universal interface we'll need to have switch() with algorithm checking anyway, in all of these pla

[2017-10-10 09:41] flowher commented on #491
I think it won't. We have a lot of boiler plate code. For example ECDSA

[code]

No we won't add algorithms (symmetric, asymmetric, hashes etc.) very often.
Another argument is also - I think it will help to untangle many dependencies.

[2017-10-10 10:03] flowher opened #492 "Provide ASM implementation of SM3 and SM4"
## Description

In order to improve performance of SM3 and SM4 (so also SM2 when used with SM3) ``rnp`` should take advantage of hardware acceleration of modern CPUs.

``botan`` already uses hardware acceleration for some algorithms (i.e. AES) and ``rnp`` takes advantage of that fact.

Similar work was done in GmSSL. It could be interesting first step for this PR to use GmSSL and check how much bo

[2017-10-10 10:50] ronaldtse commented on #492
Certainly makes sense. However before we go down this path of optimizing crypto, we probably should have a full view of the performance of all our components, like what @ni4 did with AES/CAST5.

This way we’ll know what kind of MB/s people should expect with some combination of say OpenPGP encryption using RSA/SHA256/AES256 vs SM2/SM3/SM4.

[2017-10-10 11:11] ni4 commented on #492
@ronaldtse  I will provide some more detailed information later. For instance, from ~9 seconds for 500MB file encryption with AES only ~1 second is spent in botan/AES.

[2017-10-10 11:15] flowher commented on #492
Yes, I agree. We need reference (and tools to build it). That's kind of pre-requisit.

BTW1: We would need same thing for CAST5. I think it is important as it was default algorithm for RFC4880 (or I'm wrong?). Which means - people out there are using it.

BTW2: Initially I was surprised with the comparision of rnp vs. gnupg. I thought gnupg can go much faster (like 10x) - libgcrypt implements most

[2017-10-10 11:46] dewyatt commented on #21
Yep, closing.

[2017-10-10 11:46] #21 closed

[2017-10-10 13:07] dewyatt commented on #491
I think I kind of agree with both sides here.
On the one hand, it's clear that the current way we deal with this is messy, hard to maintain, and error-prone.
On the other hand, it does seem like a bunch of function pointers will add more complexity, acting as kind of hidden inputs.

I wonder if we could simplify things a bit with some lookup tables, like:
https://gist.github.com/dewyatt/88e661c22d

[2017-10-10 13:51] randombit commented on #492
Well I agree that with crypto, more faster = more better so I'm behind anything that improves the situation. But I am not sure pure asm is the right approach. For one it can be a big maintenance hassle, also it only benefits one particular platform vs another. So to be broadly useful the work has to be replicated for x86-32 ELF ABI, x86-32 Windows ABI, x86-64, aarch32, aarch64, etc. This works ok

[2017-10-10 14:45] ronaldtse commented on #491
I think @dewyatt 's solution would already solve this to a good extent.

[2017-10-10 14:58] flowher commented on #491
It is an idea. Not sure it will help untangling dependencies. I'll probably think more about it when actually implementing it.

[2017-10-10 15:04] ronaldtse commented on #492
@flowher 's results are a bit disappointing for us 😭, but to think of it, we're quite close generally and we still have a faster armored speed. GPG is about 20-40% faster with larger files, which gap we should be able to close with some profiling effort.

For smaller files my hunch about the performance hit is in our own setup not crypto. But again we will need a full picture and some profiling to

[2017-10-10 20:32] flowher commented on #492
@ronaldtse My guess is that problem with small files will be fairly easy to fix (seems we are doing something wrongly).

I'm definitely for supporting asm stuff, but @randombit makes good point here - optimizing C code will already give some boost. Nevertheless, I'm interested in comparison - pure C vs pure ASM - if difference is small then there is no sense to maintain asm.

@ni4 are you already

[2017-10-10 20:42] randombit commented on #492
Yeah I guess to be clear if pure asm can produce a large bump in perf that we can't manage to get any other way (refactoring C++, using tiny bits of asm, intrinsics, etc) then I'm fine with asm. I just normally find gain isn't worth it. Botan used to have a bunch of handwritten asm that was faster than what GCC 2.95 could generate, but then GCC caught up and surpassed perf for all of them.

[2017-10-10 20:47] flowher commented on #492
I see, actually after doing some tests earlier during the day I'm quite impressed by gcc7.1 for intel (less with Clang).

[2017-10-10 21:01] ni4 commented on #492
@flowher Yeah, I'm still looking at performance things however will be semi-available for the next few days.
Regarding asm - I would follow C-side, actually encryption itself is not the 99%, and we cannot write all the stuff in asm, counting every bytecode.

[2017-10-11 04:14] ronaldtse commented on #491
Look forward to the work 👍

[2017-10-11 13:35] dewyatt commented on #487
I think we used to have this as `--keyring`, though I can't recall whether it was ever fully functional.

Anyways, GnuPG 2.1.14 added similar options for quick encryption without a keyring: `--recipient-file`/`-f`, so it would be good to have.

[2017-10-14 00:32] dewyatt opened #496 "Deprecate the use of metadata in secring"
## Description

Basically I'd like to start moving towards treating the secring as nothing more than MPIs.
G10 and the newer 2.3 format really only store an algorithm id, public+secret MPIs, and some protection info. (And curves and some other stuff we probably don't support)

For example, with a KBX+G10 key store format (aka GPG21), all of the following require information from the pubring:
* key

[2017-10-14 23:29] dewyatt opened #499 "Add regression test for issue #498"
## Description

https://github.com/riboseinc/rnp/pull/498

This shouldn't be difficult. If we want to be thorough I think we could:
* Generate a primary that is not able to encrypt (ECDSA) with no sub and verify that encryption fails
* Generate a primary that is not able to encrypt (ECDSA) with a sub that is able to encrypt and ensure encryption succeeds
* Generate a primary+sub that are both able

[2017-10-15 00:55] dewyatt opened #501 "pgp_validate_key_sigs leaks seckey"
## Description

https://github.com/riboseinc/rnp/blob/1a8a2ab8ddc46104d83c87662b9e426d40e90623/src/librepgp/validate.c#L300

This seckey doesn't seem to be freed. I also don't see `CT_SECRET_SUBKEY` being handled here and would kind of expect it to be (haven't really looked into this).

[2017-10-15 09:14] #338 closed

[2017-10-15 09:17] ronaldtse opened #502 "Model for keystore, key, subkey interactions"
## Description

From @ni4 in #497 :

[2017-10-15 09:18] ronaldtse commented on #502
In terms of structure I think the subkey concept should be just like any other key, but is simply linked to a parent key. However, when we look for a key we should first find the parent key and then the subkey.

[2017-10-15 09:27] ni4 commented on #502
Sure, subkey should be treated as the key in terms of 'key material' in all cryptography operations and primitives. However, when we get to the trust check, identity check and so on we should treat it as the part of the main key. Technically we may implement it in the different ways, but we must have links from the subkey to main key and back - from the main key to all the subkeys.

[2017-10-15 09:32] ronaldtse commented on #502
@ni4 agree that an association both ways is necessary between the parent and sub-keys.

[2017-10-15 11:04] #488 closed

[2017-10-15 11:09] ronaldtse opened #503 "Some remaining points from #497"
## Description

For @flowher .

From @dewyatt :

1.

[code]

2.

[code]

@dewyatt :

From: https://github.com/riboseinc/rnp/pull/497/files/67ee6a6e6fe4a88ceb967e79f80d986ca95fd02d#diff-e70d4e2c0d8602f7b6225a87d582e892

[2017-10-15 11:15] ni4 commented on #503
@ronaldtse @flowher Sorry, thought those comments were fixed already.

[2017-10-15 11:19] flowher commented on #503
No worries, I'll take care of it in few mins

[2017-10-15 12:49] flowher commented on #499
I would also add test for EdDSA generation. This algorithm provides digital signature. Currently subkey created for encryption is RSA-2048. In the future it will be ECDH with X25519

[2017-10-15 17:23] #503 closed

[2017-10-16 10:47] ni4 opened #506 "Write good CLI usage message for rnp and rnpkeys"
## Description

Currently usage message is not that informative that it should.
We should write the better one, describing all commands and applicable parameters with more details.
It is closely related to #323 and probably should be done after it.

[2017-10-16 15:47] ni4 opened #507 "Problems of importing of public/secret key files"
## Description

There are certain problems during the import of the keys, separated to the public and secret files.

1. `[rnp_import_key() rnp.c:977] Warning: failed to guess key format, assuming GPG.`
2. It fails to import key from the armoured file (probably this should be extracted to the separate issue).
3. If first import the secret key file, then rnpkeys tells `0 keys found`
4. If after impo

[2017-10-18 16:56] #440 closed

[2017-10-18 17:05] ronaldtse opened #510 "Implement performance benchmarks"
## Description

Right now our benchmarks with GnuPG are rather crude.

We should have something like OpenSSL's `openssl speed -evp <algo>-<mode>` so we can check the speed of the popular combinations (block cipher algo/mode, public key algo, hash algo), such as 'aes-cfb-rsa-sha256' or 'sm4-ctr-sm2-sm3'. Later on we can test AEAD GCM / OCB too.

Sample output for `openssl speed`:
[code]

On the oth

[2017-10-18 23:25] flowher commented on #510
Having simply a time would be already useful I think. Nevertheless, we could have both approaches implemented in a single tool (let's say ``rnp speed``). RNP could use perf's API which can count cpu cycles (example of usage is here: https://github.com/IAIK/armageddon/blob/master/libflush/libflush/timing.c)

Valgrind also have interesting API which could be useful for checking heap usage (I'm think

[2017-10-19 01:34] ronaldtse commented on #510
Agree on using Perf API and massif — but I wonder if we should apply the monitoring tools through the public API or directly to the internal code, or to both separately?

[2017-10-19 10:22] ni4 opened #512 "Rename 'armour' things to 'armor'"
## Description

For code readability and better user experience we should use the single spelling, and sticked to 'armor' in https://github.com/riboseinc/rnp/pull/511#issuecomment-337860827
So all variables/texts/whatever else should be checked for correct spelling.

[2017-10-19 12:58] dewyatt opened #513 "Add issuer fingerprint to signatures"
## Description

I did a tiny bit of work towards this last week but am busy focusing on FFI, so if someone wants to run with this please do.

It should be very simple, the existing signature functions should add the issuer fingerprint as a hashed subpacket AND add the issuer keyid (gpg adds it as an unhashed subpacket, so that's probably a good idea). When V5 key support is added, we'll want to en

[2017-10-19 15:00] dewyatt opened #514 "rnp cli user experience"
## Description

What are everyone's thoughts on the possibility of redesigning the rnp CLI at some point to be more like git? (Or are there other ideas for improvement in this area?)

I find git's separation of "commands" vs "options" to be a good user experience, like:
`git stash save --keep-index`, `git --no-pager log`, `git commit --author=...`.

It would be interesting to see if rnp's operatio

[2017-10-19 15:12] dewyatt opened #515 "Rename 'passphrase' things to 'password'"
## Description

https://github.com/riboseinc/rnp/issues/512 reminded me of this.

We seem to use the terms "password" and "passphrase" interchangeably in different parts of the code base (and user-facing portions).

There's arguably a difference in connotation but I think we're better off picking one and sticking to it.

As a native "U.S. English" speaker, I never really hear the term "passphrase"

[2017-10-19 19:12] ni4 commented on #514
For the new user it would be no difference - he'll need to learn it, and existing commands would work in the same way as ones without dashes.

Slightly easier would be commands without additional options, i.e., say, `rnp encrypt somefile.txt user1@email user2@email aes-128` or `rnp sign somefile.txt cleartext sha256 user@emal`. This will make some problems during the parsing, but, for instance, 's

[2017-10-19 20:37] dewyatt commented on #514
I think we should have a more user-friendly view than that.

One potential difference that I could see for a new user is that when they look at example invocations (in the man page, or on some help forum), they can more quickly ascertain what the main "operation" is that is being performed because it's always the first positional argument. I think it's a pattern that people pick up on and it's mor

[2017-10-19 23:05] ronaldtse commented on #515
Me too, vote for "password"!

[2017-10-19 23:15] ronaldtse commented on #514
I fully agree that the git/aws "command style" CLI is preferable. All our CLI tools, including [Ribose CLI](https://github.com/riboseinc/ribose-cli), [RVC](https://github.com/riboseinc/rvc) utilize this style which is way more usable than `--[options]`.

One major benefit is that we clearly separate where the options apply (and in the help) to each command, such as:
[code]

[2017-10-19 23:15] ronaldtse commented on #514
Let's come up with a full list of commands?

[2017-10-19 23:25] flowher opened #516 "ECDSA: create tests against GnuPG"
Tests against reference implementation for ECDSA are missing

[2017-10-19 23:33] flowher commented on #516
#517

[2017-10-21 07:33] ni4 commented on #470
Fixed in #511

[2017-10-21 07:33] #470 closed

[2017-10-22 09:21] ni4 commented on #514
Then let's stick to this style for sure. We have issue #323 with full list of commands, so it should be updated, basically with deletion of `--` prefix for the commands.

[2017-10-22 09:26] ni4 commented on #515
Voting for 'password' too.

[2017-10-22 13:04] #512 closed

[2017-10-23 19:57] flowher opened #521 "CRC - process bytes in parallel"
## Description

Currently CRC is processing 8 bits in one shot. This can be improved to process at least 32 bytes in one shot.
Initial PoC shows that processing 32 bytes in parallel, gives 44% improvement of writing/reading armored data (as CRC calc is hot spot in armor data processing)

Current:
[code]

32-bytes in parallel:
[code]

[2017-10-24 14:09] flowher commented on #16
Another idea is to reuse botan's implementation of Base64

[2017-10-24 20:58] flowher opened #523 "RNP should use repgp interface"
## Description

I think original idea was to introduce interface between ``rnp`` and ``repgp``. Then ``rnp`` (``rnp/lib/rnp.c``) should use this interface for all PGP data packets processing. So, to be done here is:

1. ``repgp`` should be using stream data processing
2. ``repgp`` should implement read and write (currently API offers only parsing API - so read)
3. ``rnp.c`` should use API from ``r

[2017-10-24 21:25] flowher commented on #510
I think performance for of our public API is what's most interesting for us and for future users of the API (in particular API of ``repgp`` as that's when processing will happen).

I would like to see something like this [https://github.com/DigitalInBlue/Celero](https://github.com/DigitalInBlue/Celero) calling our API and performs benchmarking.

[2017-10-25 01:30] ronaldtse commented on #510
Agreed!

[2017-10-25 23:42] ronaldtse opened #524 "Contribute (and move) Fast CRC implementation to Botan"
## Description

@flowher 's fast CRC implementation in #522 is faster than Botan's current implementation.

We should contribute it to Botan and use it from there.

cc: @randombit

[2017-10-26 08:06] flowher commented on #524
Thnx. Oki do it today. I want to check first how much it cost to call botan thru ffi

[2017-10-26 21:57] #521 closed

[2017-10-28 14:29] flowher commented on #524
CRC(old) rnp calling botan:
[code]

CRC-4-byte-slicer rnp calling botan:
[code]

CRC-4byte-slicer in RNP directly:
[code]

OLD CRC in RNP directly:
[code]

[2017-10-28 14:39] flowher commented on #524
PR to botan: https://github.com/randombit/botan/pull/1280

[2017-10-30 04:19] ronaldtse commented on #524
Already implemented in https://github.com/randombit/botan/pull/1281 and #526 . Thank you @flowher !

[2017-10-31 12:28] #524 closed

[2017-10-31 12:51] ronaldtse commented on #524
Thank you @flowher and @ni4 !!

[2017-11-01 03:49] ronaldtse commented on #424
@ni4 any updates on this issue? Thanks!

[2017-11-01 03:51] ronaldtse commented on #515
@dewyatt since we have enough people agreeing, it looks like a simple "search and replace" that perhaps can be done soon? Thanks!

[2017-11-01 03:54] ronaldtse commented on #523
@flowher sorry for the late reply. By "PGP data processing", do you mean that `repgp` should handle the reading and writing of OpenPGP packets?

If `repgp` can do all that, what's left of the use of `rnp`? `rnp` provides the data to write OpenPGP packets through `repgp`?

[2017-11-01 09:02] ni4 commented on #424
@ronaldtse Now I'm finishing signature verification part. Hope to finish signing/verification during this week or beginning of the next one.

[2017-11-01 09:21] ronaldtse commented on #424
Sounds good @ni4 , in this case @dewyatt could you use the new streaming sign/verify interface for the FFI?

[2017-11-01 09:23] ni4 opened #531 "Add command line parameters for s2k parameters selection"
## Description

Currently we use default iteration count, s2k type and hash/symmetric algorithms for s2k parameters.
Command-line parameters should be added to control the iteration count, type of s2k, forcing of key wrapping in ESK, whatever else.

[2017-11-01 09:24] ni4 commented on #231
See the issue #531

[2017-11-01 09:25] ni4 commented on #515
If nobody else want to take this I can do it.

[2017-11-01 09:44] flowher commented on #523
Yes, that would be my suggestion. The ``rnp`` would be just a light wrapper around ``librepgp`` - basically implementation of the ``main()`` function, attribute parsing and everything else which is needed for ``rnp`` but not actual parsing/writing.
The idea comes from the fact I don't see why we would need to differentiate between parsing and serializing. Actual implementation (location of files)

[2017-11-01 10:27] ronaldtse commented on #515
Please go ahead @ni4 !

[2017-11-01 13:19] ronaldtse commented on #491
@flowher any further thoughts on this issue?

[2017-11-01 13:23] flowher commented on #491
No further ideas. It's waiting in TODO queue.

[2017-11-01 13:45] ni4 commented on #491
I would add that we should also change our crypto calls to use the standard approach everywhere - i.e., say, all 'sign' calls should have the same parameter types (uint8_t + len, or MPI), and the same  order (hash, then signature params, then key, for instance).

@dewyatt yeah, /crypto/ looks like a better place for symmetric.c

[2017-11-01 13:46] flowher commented on #491
I was thinking about it. I would say it shouldn't. It should be cleaned up and then we may see where what goes.
It will be indeed part of this implementation.

[2017-11-02 00:06] ronaldtse commented on #491
I think we all agree that this file should get cleaned up, and most remaining code probably will end up in `/crypto/`.

[2017-11-02 20:05] #515 closed

[2017-11-04 16:35] #305 closed

[2017-11-07 14:12] catap opened #536 "Next step in G10 format"
Hey,

It isn't a bug. It is a discussion question.

Few days ago I've started to finish implementation of missed part of G10 — `openpgp-native`.

And first step was to create an example of key.

Here I realised that GnuPG uses it only as internal protocol between `gpg-agent` and `gpg`, and I see only one way to get example of this packet — capture a traffic between them.

But here I start feeling

[2017-11-07 14:26] ronaldtse commented on #424
@ni4 just checking in -- are we close to completing the sign/verify? Thanks! 😉

[2017-11-08 09:16] ni4 commented on #424
@ronaldtse I got away for few days, will do more at the end of the week. Now streamed verification lacks only cleartext signatures, implementing which should not take a lot of time. Then I'll do PR for verification, and start work on signing.

[2017-11-09 09:41] ronaldtse commented on #523
The other part of rnp other than the OpenPGP packet format is the keystore stuff. I do agree that reading and writing of the packet format should be done in the same library.

What are your views, @dewyatt @ni4 @randombit?

[2017-11-13 13:03] catap commented on #536
any toughts?

[2017-11-13 13:15] ni4 commented on #536
I think all depends on future usecases of rnp. If we need to communicate with gpg-agent, i.e. use GnuPG key store via the agent then we need it. If we only need to support only keys in files, databases, callbacks or other custom storages then we don't need it (or, need it as some separate callback-based code piece).

[2017-11-13 13:25] catap commented on #536
@ni4 yes, and I don't see any points when we need communuicate with gpg-agent. Honestly it maybe a hell because gpg and gpg-agent updates at same time and it is very easy to gpg team introduce something new at gpg-agent protocol as internal release ;)

[2017-11-14 01:33] ronaldtse commented on #536
Indeed I agree that our goal of compatibility is not within the GPG suite, but with the keys and key stores.

[2017-11-15 09:23] flowher commented on #16
New base64 and CRC24 implementations seem to improve a lot the ASCII-armor encoding. I think we can close this record

New implementation (28e358903064a4107c91b2c6f162d8a391074e28):
[code]
Old implementation (115f78e400213f1924802c600535b31ba89c71c0):
[code]

[2017-11-15 09:30] ni4 commented on #16
We still use old base64 implementation in key/keyring loading and saving. So I reopen this issue if nobody mind. I planned to fix that after finishing with streams.

[2017-11-15 09:32] ronaldtse commented on #16
Sounds good indeed! Faster is almost always better...

[2017-11-15 09:49] flowher commented on #16
@ni4: I'll do it then

[2017-11-15 09:58] ni4 commented on #16
@flowher Ok, thanks

[2017-11-21 13:14] #536 closed

[2017-11-21 23:26] dewyatt opened #540 "Some key grips are calculated incorrectly"
## Description

Key grips are not calculated correctly for all PK types.
With Elgamal keys, for example, the calculated grip does not match up with GnuPG.

I had to dig into the libgcrypt source a bit and I can see that there is a "generic" keygrip calc method that is used for certain PK types:
https://github.com/gpg/libgcrypt/blob/ce1cbe16992a7340edcf8e6576973e3508267640/cipher/pubkey.c#L669
We h

[2017-11-21 23:27] dewyatt commented on #540
@catap hoping you'll have time to look! :)

[2017-11-25 16:53] dewyatt opened #542 "Redirected output can result in extra invalid bytes being appended"
## Description

I think it's common to do something like `echo message | rnp --sign > output.gpg` and expect it to work.
We do have a `--output` option as well, but *nix users are definitely going to expect that they can pipe/redir stdout in this case and it will work.

Unfortunately this doesn't work 100% correctly in rnp because of things like:
https://github.com/riboseinc/rnp/blob/82fb956244d72

[2017-11-25 17:07] ni4 commented on #542
I think that `puts("\nPasswords do not match!");` should be considered as communication with user on the CLI layer, and we should have some callback/function/whatever else like `show_user_message()` which will check for output redirection and so on.

[2017-11-25 17:26] ronaldtse commented on #542
Agree with @ni4 . We shouldn't mix lib and CLI responsibilities.

[2017-11-25 17:36] dewyatt commented on #542
The `rnp_password_provider_stdin` provider is only meant to be used by the CLI utils, that's why it has print statements. It would be good to move it somewhere else though.

[2017-11-25 17:40] ni4 commented on #542
@dewyatt I think we should create some 'clicommon' source file where it should be put in, among with other sources which may be shared between `rnp`,  `rnpkeys` and `rnp_tests`

[2017-11-25 17:47] flowher opened #543 "Remove madness related to redefining BN_ functions"
## Description

BN_bin2bn() is defined as PGPV_BN_bin2bn which wraps calls to botan... That's a heritage related to usage OpenSSL in old times.

Cleanup needed. We don't need all those #defines

[2017-11-25 17:52] flowher opened #544 "SM2 and ECDSA: code doesn't check result of BN_num_bytes"
## Description

Code doesn't check result from ``BN_num_bytes``. See comments in #541
This may cause buffer overflows

[2017-11-25 18:04] flowher commented on #544
Additionally, this code in ``signature.c`` must be double checked

``BN_num_bytes`` and ``_bits`` is casted from signed to unsigned

[code]

[2017-11-30 00:32] dewyatt opened #550 "CI test_generate_key_with_gpg_import_to_rnp randomly fails"
## Description

https://travis-ci.org/riboseinc/rnp/jobs/309250885
https://travis-ci.org/riboseinc/rnp/jobs/309253650

[code]

I haven't spent any time looking at this, but we should get it straightened out soon.

[2017-11-30 18:28] ni4 commented on #550
I noticed the same recently - from the gpg output it looks like everything is fine but exception is raised.

[2017-12-01 15:43] flowher opened #554 "RNP uses consant IV equal to 0 for symmetric encryption (CFB)"
After quick look at symmetric ciphers, it seems to me that RNP doesn't use IV CFB encryption. Design of this mode strongly requires IV to be unpredictable in order to be secure. NIST specification 800-38A says "The  IV  need  not  be  secret,  but  it  must  be  unpredictable". It means - using constant IV is insecure.

This bug is mainly about ``init_encrypted_dst`` (``stream-write.c``), but this

[2017-12-01 15:47] ronaldtse commented on #554
Oh dear. Lucky we have you who found it 👍

Do we have a good random provider in our lib to use here?

[2017-12-01 15:50] flowher commented on #554
Yup, time to implement  #251
I actually think, IV doesn't have to be unpredictable for CFB, but surely can't be constant string of 0.

[2017-12-01 15:51] ni4 commented on #554
This is not a bug, but standard compliance. Instead of random IV OpenPGP uses random bytes on the encrypted stream start.

RFC 4880, page 45:
[code]

[2017-12-01 15:52] ronaldtse commented on #554
I'm pretty sure CFB IV requires unpredictability.

[2017-12-01 15:55] ronaldtse commented on #554
@ni4 indeed the random block contents would work.

[2017-12-01 15:55] ronaldtse commented on #251
@flowher sounds like we finally can get this going 👍

[2017-12-01 16:03] flowher commented on #554
@ni4, ok then, issue is a bit different.
We don't check return value from ``pgp_random(enchdr, blsize);`` and this may fail.

[2017-12-01 16:11] ni4 commented on #554
@flowher You are right, thanks. I will add PR to fix this in a couple of minutes.

[2017-12-01 16:18] flowher commented on #554
@ni4 I'm implementing completely different random generation, so I'm  on it.
It seems to me there are more issues  - f.e. we are using this OpenPGP CFB in ``encrypted_add_password``

[2017-12-01 16:28] ni4 commented on #554
@flowher If you are about zero-IV then this is also standard compliance:
[code]

[2017-12-01 16:33] dewyatt commented on #554
Yeah I feel like we had this discussion before at some point. It's strange in some places, but the spec says to do things this way.

It's good that we have eyes on these things though (keep digging!).

To expand on what @ni4 wrote above (as far as `encrypted_add_password`):

   specifier MUST use a salt value, either a Salted S2K or an Iterated-
   Salted S2K.  The salt value will ensure that the

[2017-12-01 16:47] flowher commented on #554
I need to do more digging indeed. If in phrase "using CFB mode with an IV of all zeros", CFB means OpenPGP-CFB then I'm afraid we don't do things correctly (the first block-size octets are not random). If it means normal CFB, then I fail to see how it is secure.
Also, I'll move this OpenPGP-CFB mode to separated place (that's actually ongoing at the moment)

[2017-12-02 11:49] flowher commented on #550
Same with "test_generate_default_rsa_key"

[2017-12-03 12:26] flowher commented on #543
Question here - if we remove PGPV_ prefix, then function names will be same as in OpenSSL. I wonder if this may cause problems when rnp is linked with openssl. Ideally it shouldn't as there is no reason why RNP would export BN_ functions (or at least I don't see why)

[2017-12-03 12:31] ni4 commented on #543
What about renaming functions to mpi_something, and do the same with BIGNUM type - rename it to the MPI? As in OpenPGP standard big numbers are called 'multi-precision integers'

[2017-12-05 22:08] flowher opened #557 "RNP2: rnp_decrypt function has wrong interface"
## Description

In rnp2 ``rnp_decrypt`` function should have interface symmetric to ``rnp_encrypt``. Currently ``rnp_decrypt`` doesn't accept ``rnp_op_encrypt_t `` parameter, which makes API to rnp2 quite weird.

[2017-12-05 22:50] henrydcase opened #558 "Remove ``grip_hash_bignum`` and use ``BN_hash`` instead"
## Description

See #555

We could replace ``grip_hash_bignum`` with ``BN_hash stuff``. Implementation of both functions does same thing, but in slidely different way.
This task requires regeneration of test data as current key rings store value of keygrip precalculated with ``grip_hash_bignum`` function

BTW: This may be related to #540  (indeed, I confirm GPG keygrips are different than RNP, but

[2017-12-06 09:25] ni4 commented on #558
As far as I understand, keygrip is GnuPG-only thing, used to communicate keys between gpg and gpg-agent. So, as we don't use gpg-agent, I don't see much sense in supporting/implementing it (except, maybe, some g10-keyring related things). Only keyid and keyfp are parts of the standard.

[2017-12-06 09:29] #544 closed

[2017-12-06 09:59] #516 closed

[2017-12-06 10:12] flowher commented on #558
So maybe the better idea is - let's remove this code and then we get rid of 2 problems at same time

[2017-12-06 10:30] ni4 commented on #558
I don't think that we should just remove it, but, at least, clarify usage.
And it seems I mislooked it usage. Actualy, according to comment in code (and key grip calculation code) `keygrip is subjectKeyHash from pkcs#15`. It should be used to get key from token by it's fingerprint, and looks like GnuPG agent simulates token interface for key retrieval.
@dewyatt should know more about it

[2017-12-06 10:57] flowher commented on #190
We do it via, ``cli_tests.py`` currently. I think this ticket can be closed

[2017-12-06 12:07] ronaldtse commented on #190
Indeed. Very happy to close this now.

[2017-12-06 12:07] #190 closed

[2017-12-06 13:35] dewyatt commented on #558
Correct, it's not part of OpenPGP. As you mentioned, it mostly seems to stem from the lib/agent separation and the G10 format. The agent's key format (G10) simply doesn't store enough information to actually calculate keyid or fpr (version, creation time, etc).

Quoting from https://github.com/gpg/gnupg/blob/774245508920eccb6a28b719a5cde26861800c60/agent/keyformat.txt#notes:

I'm not sure it's ent

[2017-12-06 13:39] flowher commented on #558
Ok, so removing is not an option. We need to fix.
But question that I have -  does value calculated by keygrip must be same as value calculated by GnuPG? What happens if it is not?

[2017-12-06 13:50] dewyatt commented on #558
But question that I have - does value calculated by keygrip must be same as value calculated by GnuPG? What happens if it is not?

It would break interoperability with GnuPG. Like we wouldn't be able to say `rnp --homedir=/home/user/.gnupg [...]` with GPG 2.1.

Less importantly, users that actually look at the grip (like with `gpg --list-keys --with-keygrip` or `gpg --list-keys --with-colons`) wou

[2017-12-06 13:59] flowher commented on #558
Thnx!
I see - so the value should be calculated exactly same way as it's done in GnuPG.

[2017-12-07 00:15] flowher opened #559 "DSA support"
## Description

We have some code for DSA signatures, however key generation is missing. This also means that this code is not tested.
We probably should either remove this code (who uses DSA nowadays?) or if there is a usecase - add DSA keygen and tests

EDIT:
As we need to support this algorithm, then the code itself needs to be rewritten - important checks are missing, code seems to leak memory

[2017-12-07 06:30] ronaldtse opened #560 "`--force` and `--allow-X`"
## Description

In https://github.com/riboseinc/rnp/pull/552 we discussed the pros and cons regarding `--force` and `--overwrite` and came up with an alternative of granular options like `--allow-X` where `X` is the action.

It seems that we should allow granular options like when X is `overwrite`, and also an "all-encompassing" option like `force`, which is basically `allow-all`.

Should we conso

[2017-12-07 06:56] ronaldtse commented on #559
@flowher very good question! I think DSA is somewhat necessary since RFC 4880 states:

Would you have time to add the DSA key gen and tests?

[2017-12-07 08:47] ni4 opened #561 "Add some checks to DSA signature generation/verification"
## Description

Methods `pgp_dsa_verify()` and `pgp_dsa_sign()` does not check return values of `calloc()` and other calls.

[2017-12-07 08:51] ni4 commented on #559
We definitely need to update rnpkeys with the selection of key algorithm. This was added as issue #486
And, we cannot drop DSA support - it is still widely used (also as DSA2 with larger key sizes/hashes), is part of the standard, and we must be backwards compatible - so every old signature may be verified.

[2017-12-07 09:02] ni4 commented on #560
Right now we don't have a list of options which should be forced.
Except option for output overwriting, which is quite logical and is definitely needed.
So now I would vote for not having options 'for future', but do separate/granular options and, when we'll have more then 2-3 of them, add shortened option to use them all.

[2017-12-07 10:17] flowher commented on #559
@ni4 thnx for link. @ronaldtse sure, I'll add it

[2017-12-07 10:36] flowher opened #562 "Elgamal support"
## Description

Similarly to #559 - we need key generation support for elgamal. We should also support encryption (only).

[2017-12-07 12:43] flowher commented on #486
nitpicking: I think when generating key for SM2, it should not to be possible to select a curve. AFAIK SM2 specifies a curve to be used.
Similarly for eddsa - currently we only use ed25519 - however in this case, it may change in future

[2017-12-07 13:16] dewyatt commented on #486
For SM2, isn't it completely OK to select alternative curves, but it's just not (OSCCA etc) compliant? I feel like we had a discussion before, but can't find it - @ronaldtse will know.

[2017-12-07 13:57] ronaldtse commented on #486
@dewyatt yes we should allow SM2 to use any specified curve. 👍

[2017-12-07 16:01] flowher commented on #486
How about hash? Should we allow only SM3 or any?

[2017-12-07 16:17] dewyatt commented on #486
It seems like yes. (That's the discussion I was thinking of before: https://github.com/riboseinc/rnp/pull/422#issuecomment-324526447)

[2017-12-07 16:23] flowher commented on #486
Thnx. Also #436. I think we first need to have possibility to use SM2 with selectable hash function before implementing SM2 with any curve. First is a work to be done in botan.

[2017-12-07 18:07] ni4 commented on #486
Regarding hash functions : RFC 4880 in 13.6 describes hash usage/truncation for the DSA. I think we should follow this rule - so, every hash may be used with every PK algorithm. However, probably we should check whether they corresponds in security bits (like there is no reason to use SHA-512 with RSA-1024, or MD5 with RSA-4096)

[2017-12-07 23:02] ronaldtse commented on #486
Agree with @ni4 that we should allow every hash algorithm with every PK algorithm. It could be beneficial to check security bits correspondence but it probably should only deliver a "warning"?

[2017-12-07 23:23] flowher commented on #486
Regarding security side - some combinations are not possible, for example you can't use P-521 with SHA-256 in ECDSA (it just doesn't work by design). Point "15.  {14} Security Considerations" has more details on that.

Probably for SM2 there will be similar combination which won't work (code as is today has some checks already: https://github.com/randombit/botan/blob/master/src/lib/pubkey/sm2/sm2.

[2017-12-08 00:15] flowher commented on #543
Let's start with low handing fruits and remove functions which are not needed

[2017-12-08 18:40] ni4 commented on #425
Will be implemented as part of the #424

[2017-12-10 22:57] #251 closed

[2017-12-10 22:57] #554 closed

[2017-12-10 23:47] flowher commented on #543
And simply change all BN_xxx to bn_xxx

[2017-12-11 01:17] #543 closed

[2017-12-13 14:45] dewyatt commented on #540
(Kirill must be busy, so this is up for grabs.)

[2017-12-13 15:07] catap commented on #540
(@dewyatt thanks, I tried to start fixing this few times, but I'm on rush :( )

[2017-12-17 16:36] ni4 commented on #456
@ronaldtse @dewyatt @flowher What do you think? I implemented such logic in PR #571.
In short:
- when we transform file from raw one, then without `--output` we add .asc/.sig/.pgp extension (file.dat -> file.dat.pgp)
- when we process pgp file, then write to stdout if no `--output` option is given

[2017-12-17 16:51] ronaldtse commented on #456
@ni4 I agree with the approach. This saves a lot of confusion!

[2017-12-17 17:48] dewyatt opened #572 "rnp prompts for input and reads from stdin when it should prefer /dev/tty"
## Description

I believe things like this should try to read from `/dev/tty` if avail, and `stdin` otherwise:
https://github.com/riboseinc/rnp/blob/7bafcf181962c12075e92d64b12ca377e91c37ff/src/lib/rnp.c#L1225

See `rnp_getpass` for an example or `ttyio.c` from GnuPG for a more complete solution.

On the output side (https://github.com/riboseinc/rnp/issues/542), things like this should output to `

[2017-12-17 18:02] flowher commented on #456
@ni4 I also agree

[2017-12-17 19:50] ni4 commented on #572
@dewyatt Agree, actually we also should move all such code parts to CLI level, so input from user will be handled by CLI not library.

[2017-12-18 08:31] ni4 commented on #272
Should be fixed in 1e5df364260f2b7795935e161110736b16d9eb85

[2017-12-18 08:31] #272 closed

[2017-12-18 08:34] ni4 opened #573 "Use random filename for output until all processing is finished"
## Description

Signing/verification/decryption/encryption may fail at the end of operation (wrong signatures, failed mdc check, user don't know password for the secret key) so it would be logical to first save output data to random filename and then, on success, rename it to the correct one.

Is the part of #221

[2017-12-18 08:35] ni4 commented on #221
Closing since the functionality, described in title, is implemented already.

[2017-12-18 08:35] #221 closed

[2017-12-18 08:37] ni4 commented on #104
Issue is fixed together with other stuff in 1e5df364260f2b7795935e161110736b16d9eb85

[2017-12-18 08:37] #104 closed

[2017-12-18 08:37] ni4 commented on #425
Fixed in 1eee25476a0ee8189e35599dcd2382ca41a9285c

[2017-12-18 08:37] #425 closed

[2017-12-18 08:38] ni4 commented on #424
Finally fixed, last commit is 1e5df364260f2b7795935e161110736b16d9eb85

[2017-12-18 08:38] #424 closed

[2017-12-18 08:41] ni4 commented on #513
Fixed for signed data in 1eee25476a0ee8189e35599dcd2382ca41a9285c
Still needs to be implemented for public key signatures.

[2017-12-18 08:45] ni4 commented on #133
This is fixed number of commits ago.

[2017-12-18 08:45] #133 closed

[2017-12-18 12:12] dewyatt commented on #513
(We'll need it for keyrings too.)

[2017-12-19 01:48] ronaldtse opened #574 "Release 1.0 after streaming changes"
Now that streaming processing is (almost) complete, it's time to release a new version, 1.0. 👍

Any volunteers? 😉

[2017-12-20 00:57] ronaldtse commented on #559
@flowher just to confirm you're working on this issue, if so please assign yourself. Thanks!

[2017-12-20 00:58] ronaldtse commented on #562
@flowher are you planning to tackle this too? Thanks!

[2017-12-22 11:09] flowher commented on #562
Yes

[2017-12-22 11:10] flowher commented on #559
Assigned to myself, should be done next year

[2017-12-22 11:18] ni4 opened #576 "Move keyring and keys loading/saving code to streams"
## Description

Currently we use streamed code for data processing, however old code is still used for keyrings and keys parsing and saving. It should be moved to streamed approach/interface as well, so new armored and packet parsing code will be reused.

[2017-12-22 11:19] ni4 opened #577 "Update packet dumper code to use streams"
## Description

After streamed processing was implemented a lot of old code is used only for packet dumping.
It should be rewritten to utilize streams.

[2017-12-22 11:26] flowher commented on #491
To be implemented after AEAD support is added as those two features may clash

[2017-12-26 04:21] ronaldtse commented on #559
Thanks @flowher, look forward to it in the new year 😉

[2018-01-04 18:44] ni4 commented on #439
@ronaldtse @dewyatt @flowher

During working on AEAD I got the following questions related to rfc4880bis:

For each chunk, the AEAD construction is given the packet header,
version number, cipher algorithm octet, AEAD algorithm octet, chunk size
octet, and an eight-octet, big-endian chunk index as additional
data.

What is meant under the packet header here? While AEAD construction may be used in

[2018-01-04 22:23] flowher commented on #439
That's how I understand it, but it should be OK as long as same information is available during encryption and decryption, isn't? That's just AAD

Indeed, seems draft wasn't updated yet

[2018-01-05 16:38] ronaldtse commented on #439
BTW, I'd like to point out that the latest BIS draft is at 03, which includes our patch to include OCB:

https://tools.ietf.org/html/draft-ietf-openpgp-rfc4880bis-03

[2018-01-06 15:18] ni4 commented on #439
@ronaldtse Thanks. OCB looks good, however I think it would be logical to implement it after the AEAD :) Also looks like paragraph with OCB description is missing the clause stating the message IV length (it's logical that it must be 15 octets as a nonce, but)

[2018-01-07 09:35] flowher commented on #562
This is actually tightly coupled with #559. Needs to be done in one go

[2018-01-16 14:47] ronaldtse commented on #439
So @ni4 is pretty much done with AEAD-EAX! This makes RNP the first OpenPGP implementation to support EAX and the new AEAD format in 4880bis 👍

[2018-01-16 22:51] flowher commented on #559
Requires new FFI function in botan for DSA generation (this is done) but waiting for this
* https://github.com/randombit/botan/issues/1411

to be integrated as DSA requries strong prime and that's quite long

[2018-01-17 16:30] randombit commented on #559
@flowher DSA uses a different param generation algorithm which is not affected by the bug.

[2018-01-17 16:31] flowher commented on #559
Yup, found it DSA_Kosherizer.

[2018-01-17 20:35] randombit opened #579 "Static linking doesn't work"
## Description

configure has an `--enable-shared=no` option, but it doesn't work

## Steps to Reproduce

1. ./configure --enable-shared=no
2. make

## Expected Behavior

Libraries would be built, and I wouldn't have to fuss with a 10 element long LD_LIBRARY_PATH trying to get `rnp_tests` to run under gdb.

## Actual Behavior

Build failure. The problem is the libraries are mutually dependent, for

[2018-01-19 06:36] ronaldtse commented on #559
We can probably limit to the 3 sizes and document it? Thoughts @ni4 @dewyatt @randombit ?

[2018-01-19 08:05] ni4 commented on #559
@ronaldtse @flowher  I think that we should add ability to generate key of any size, once it is possible and documented. Maybe @randombit will tell us why botan uses more time to generate non-x1024 number of bits.

[2018-01-19 08:36] ni4 opened #582 "Implement encrypt-and-sign"
## Description

Currently data can be signed or encrypted, however we should also allow encrypt and sign data.

[2018-01-19 09:37] flowher commented on #559
@ronaldtse @ni4 @randombit Actually, after double checking, botan generates DSA key with different sizes quite quickly. Need to do some debugging, but that shouldn't be a problem anymore.

[2018-01-19 12:03] flowher opened #584 "Possibility to create signing keys only"
## Description

We always create signing + encryption key. But that's not always needed, as sometimes I would like to have singing key only

## Steps to Reproduce

1. ``./src/rnpkeys/rnpkeys --generate-key --expert``
2.  ``22``
3.  EDDSA+RSA key gets generated which is weird

## Expected Behavior

* User should be able to generate either singing key or signing+encryption key (as encryption key nee

[2018-01-19 16:56] ni4 commented on #550
Looks like I foind the failure reason of `test_generate_default_rsa_key`, changes are in #581
gpg key generation most likely fails due to previous deletion of .gpg directory, here is the output:
[code]

Any good ideas how to fix it? @dewyatt proposed to make random .gpg directory for each call. Or probably restart agent after each keyring cleanup?
The problem is that I cannot reproduce this locall

[2018-01-19 17:52] ni4 commented on #550
Update: looks like restarting the pgp-agent fixed the issue. Will leave this open for a while to make sure it is solved.

[2018-01-19 18:00] dewyatt commented on #550
I can repro it locally in a container. Anyways, regardless of this issue, I think the tests should generally be as isolated as possible to prevent state leak between them. We discussed this before and I think we concluded they should use temporary dirs to avoid timing issues with `gpg-agent`.

[2018-01-19 18:07] #329 closed

[2018-01-19 18:22] ronaldtse commented on #559
@flowher sounds good -- hope to see this issue completed soon!

[2018-01-19 18:40] flowher commented on #559
@ronaldtse Actually, DSA is all done  - key generation of any size key added (function with possibility to generate it from expert mode), DSA signing/verif reimplemented (I don't think it was ever working), cmock tests and tests against GnuPG also there. Everything is here:
https://github.com/flowher/rnp/commits/elgamal_dsa/dsa

I'm not merging because, compilation will fail as it needs a function

[2018-01-19 19:36] ni4 commented on #559
@flowher Does this even happen with ‘—enable-dsa2’ option? DSA is stick to 1024/SHA1 by standart so this should be the reason.

[2018-01-19 23:52] flowher commented on #559
@ni4  I'm not sure if --enable-dsa2 is enabled, but it imports correctly all the keys above 1024 bits, so I assume it is. In fact, correctness of DSA algorithm (refereed  by rfc4880bis03) doesn't depend on hash algorithm or it's size (I know openpgp is a bit special about it).  Additionally, as per rfc4880b3, keys which have used SHA256 to generate signature must be accepted, as SHA256 must be imp

[2018-01-20 10:29] ni4 opened #589 "Update CLI tests to use separate working directories"
## Description

Right now all tests are run in a single folder which may make tests dependent on each other and order of execution.
To avoid this for each test new random working folder should be created, and removed after test is executed.
If there is an option to not delete working directory then it should be applied only for the failed test(s).

[2018-01-20 10:30] ni4 commented on #550
@dewyatt Yeah, we agreed on that but didn't even create an issue for that :) I just added issue #589.
Right now I just wanted to quick-fix the PR to make sure that all tests are passing.

[2018-01-21 22:51] flowher commented on #141
There is also no way to export key with subkeys

[2018-01-23 18:56] randombit opened #593 "make install target is broken"
`make install` fails

[code]

Another problem here is I think the intent is `rnp/rnp_def.h` will be installed into `include/rnp` but would instead end up going to `include`

[2018-01-25 03:50] ronaldtse opened #596 "Broken build in master due to `cli_tests.py`"
## Description

[code]

[2018-01-25 08:23] ni4 commented on #596
Please see #550
I added fixes to PR #581, but since it will take few more days to be finished I thinking about adding separate PR with cli_tests.py fixes.

[2018-01-25 09:10] henrydcase opened #598 "ECDH - regression when testing against GnuPG"
## Description

I'm adding tests for ECDH against GnuPG and found out that we actually have regression.

[code]
~Not sure yet why, but I'm on it (something related to aes-wrap)~

[2018-01-26 15:44] ronaldtse opened #603 "Consider using JSON Web Encrypt/Signing/Token Key Formats"
## Description

As discussed in #602 it might be beneficial to consider using the JSON key formats (public, private, symmetric) from JSON Web Encrypt / Signing / Token (JWE, JWS, JWT). It is probably a good thing to rely or extend on a standardized format.

This is an issue to further discuss whether this is useful in the future, e.g., if RNP can facilitate a JSON-based OpenPGP format instead of t

[2018-01-26 18:11] #559 closed

[2018-01-26 18:27] ronaldtse commented on #596
Here's the latest error on master, relating to AEAD:

[code]

[2018-01-27 07:59] ni4 commented on #596
@ronaldtse  Thanks, will check. It was passing local tests and Travis. Probably something related to specific file size.

[2018-01-29 16:49] #562 closed

[2018-01-29 16:50] #561 closed

[2018-01-30 09:33] flowher commented on #596
I think there is small race condition in this function:
[code]

Function sends a signal to ``gpg-agent``, but it doesn't wait for until agent is process is really killed. In some cases it may take time - in linux SIGKILL will always succeed but it's undefined how long it takes (that's a problem if process is in uninterruptible state).

This case looks like race condition:
https://travis-ci.org/rib

[2018-01-31 12:14] henrydcase opened #610 "Clang build with sanitizers is broken"
## Description

Seems our build with clang sanitizers was always red so nobody looks at it, but now it seems it doesn't even run:

https://travis-ci.org/riboseinc/rnp/jobs/334984424 (build for commit d3cb665 - current head)

Not sure when it was broken

[2018-01-31 12:24] ni4 commented on #610
This should be because of leak sanitizer, I got (the same?) problem on macOS:
`clang: error: unsupported option '-fsanitize=leak' for target 'x86_64-apple-darwin16.7.0`

[2018-01-31 13:33] dewyatt commented on #610
This is only the sanitize-leaks build, which we have always explicitly allowed to fail (until we have fixed every leak in our test runs).

It looks like LSan requires ptrace, which isn't currently permitted in travis containers: https://github.com/travis-ci/travis-ci/issues/9033

We could use a VM for that particular build, but since we don't really use this build I think it probably makes more se

[2018-01-31 14:47] kriskwiatkowski opened #611 "CI: Mechanism to resolve dependencies for GnuPG (and other libraries?)"
## Description

In #609 we started some discussion on how to resolve dependencies for GnuPG. Let's continue it here

The problem is that we currently hardcode versions of components needed to compile GnuPG. It would be good to have some nice and automatic way of doing this.

Last idea was to parse this page https://gnupg.org/download/index.html.

(Please see #609 for details and trigger of the dis

[2018-01-31 14:53] ronaldtse commented on #611
Thanks @flowher.

A shell script would probably be easiest here. I'm sure @erikbor doesn't mind whipping one up 😉

[2018-01-31 15:41] ni4 commented on #611
There is one more thing - currently AEAD may be checked only if gnupg/libgcrypt is built from the latest master, so I will disable it if corresponding version is not available.
What about running Travis twice - with latest release and latest GnuPG master?

[2018-01-31 23:09] flowher commented on #611
Good point. We can get "latest" version from gnupg git/svn (or whatever they are using).

[2018-01-31 23:58] dewyatt commented on #596
Closing since this ought to be OK now.

[2018-01-31 23:58] #596 closed

[2018-02-02 16:37] henrydcase opened #613 "Suspected memory corruption causes some tests to fail"
### Problem  1 (reproduced ``rnpctmpN4D_3l``)
In test ``EncryptElgamal.test_decrypt_P1234`` we got

[code]

Happens rarely and randomly. Memory corruption suspected. Seems like old bug as it's in elgamal encryption which was modified long time ago.

Root cause is that RNP uses elgamal decryption wrongly. As a description of the function says
``- * @param length length of g2k or in (must be equal t

[2018-02-03 13:53] dewyatt commented on #610
Fixed in the PR referenced, closing.

[2018-02-03 13:53] #610 closed

[2018-02-04 15:00] #598 closed

[2018-02-04 22:42] #27 closed

[2018-02-05 00:03] henrydcase opened #615 "Support for additional curves"
## Description

New draft of the standards introduces some changes with which code base should be aligned
* Curve25519
    * it is added as SHOULD but in reality it's a must have as that's a curve which probably will be used the most with ECDH
    * it was always our plan to add it anyway
* Brainpool curves
    * they are added as MAY but as those curves use short Weierstrass form, so adding them

[2018-02-05 00:06] henrydcase commented on #615
@ronaldtse what do you think?

[2018-02-05 00:30] henrydcase opened #616 "Speedup for ElGamal and DSA key generation"
## Description

Both DSA and ElGamal key generation is pretty slow as we use strong primes - this is normal. Nevertheless, speed could be improved - it might be that paper by P.Oorschot & MJ Wiener "On Diffie-Hellman Key Agreement with Short Exponents" may help to implement the improvement.

Nevertheless, currently standard doesn't require implementation to generate neither DSA nor ElGamal signing

[2018-02-05 00:48] ronaldtse commented on #615
What can I say — agree with all of them :wink:

[2018-02-07 10:53] ni4 commented on #121
I'm closing this since `pgp_sign_buf` and `pgp_sign_file` were superceded by streamed approach, where this problem doesn't happen.

[2018-02-07 10:53] #121 closed

[2018-02-07 10:54] ni4 opened #620 "Allow multiple signers"
## Description

Currently only single signer's key/userid may be specified.
CLI should be extended to allow multiple `--userid` parameters.

[2018-02-14 16:56] ni4 opened #628 "Correctly report absense of secret key for signing/decryption"
## Description

Currently error messages are not self-explanatory in case of secret key not available (or password is not provided):
[code]
## Steps to Reproduce
1. `rnp --homedir .rnp --sign cleartext.txt --output cleartext.signed`
2. type empty/wrong password for the secret key

[2018-02-14 17:25] dewyatt opened #629 "test_dsa_roundtrip test timeouts"
## Description

Continuing from https://github.com/riboseinc/rnp/pull/619#issuecomment-365655632.

I was hoping the simple solution in #625 would be OK but it looks like it can take > 10 minutes on the first key generation within that test on travis.

Anyways, I guess the simplest solutions would be:
1. Increase the timeout, or
2. Speed up/trim the test

I think @henrydcase talked about (2) before

[2018-02-14 17:32] henrydcase commented on #629
https://github.com/riboseinc/rnp/pull/630
I don't think we need to test all those combinations. Most important combinations are already tested in cli_test.py. Testing only few should be enough to prove that round trip works.  I suspect after #616 is done I'll have better idea on how to speed up DSA, so maybe then we can enable them back.

[2018-02-14 17:55] dewyatt commented on #629
I had the same thought, it could just not be flushing stdout and is just timing out on the 3072 like you said.

[2018-02-14 18:41] henrydcase commented on #629
Okis, I can take care of this - have some ideas, need to try them.

[2018-02-20 01:25] #236 closed

[2018-02-20 01:28] #629 closed

[2018-02-20 15:27] ni4 opened #635 "Refactor streamed code for less if/loop branching and nesting"
## Description

Some of the code seem too deeply branched under loops and if/else (see https://github.com/riboseinc/rnp/pull/633#issuecomment-366954320)

[2018-02-23 19:13] #620 closed

[2018-02-27 01:11] #582 closed

[2018-02-27 13:25] dd9jn commented on #611
FWIW, We have https://versions.gnupg.org/swdb.lst which is used by us to record the current versions of all components.  The script build-aux/getswdb.sh in the gnupg package is an interface to this.

[2018-02-27 13:29] henrydcase commented on #611
Ah, this makes life easier. Thanks!

[2018-02-27 15:02] ni4 opened #640 "Refactor CLI tests to be PEP8 compliant"
## Description

While this doesn't affect functionality it should be a good practice to refactor CLI tests to be PEP8-compliant.
Like, replace `if aead != None:` with `if aead is not None:` and so on.

[2018-03-02 08:31] ni4 opened #645 "Improve AEAD code and performance"
## Description

Currently botan's FFI for AEAD uses 'granularity' and processes data in 256-512 byte chunks, which may affect performance and makes AEAD code more complicated.
Also FFI doesn't have a good way to reset cipher state without resetting the scheduled key(s).
And, internally, during key schedule, botan for AEAD does it twice with the same key data.

[2018-03-02 09:29] henrydcase commented on #645
Re FFI: it would be good if start() does the reset - then we don't have to call reset explicitly and it's compatible with all corret uses of botan's FFI API

[2018-03-05 15:29] dewyatt opened #648 "FFI API discussion - process / protect"
## Description

@ni4 posted a message that I missed, just going to quote it here for discussion:

[2018-03-05 15:35] dewyatt commented on #648
My own thoughts were that I don't like the idea of this:

I would somewhat prefer to have a greater quantity of simple functions rather than a lesser quantity of complex functions.

I also think we should appeal to our future user base and consider that they will likely be familiar with gpg operations like sign, verify, encrypt, decrypt, etc. Requiring API users to learn new concepts like protect

[2018-03-05 15:40] ronaldtse commented on #648
My take of this:

Is that we should avoid functions that are complex in general; instead complex ones should be split into smaller functions for easier understanding.

@dewyatt nothing helps set direction better than "desired sample code"; so I suggest we come up with a legitimate usage of the FFI.

One such use case is:
* signing and encrypting email, where the key is read from some database (esp

[2018-03-06 12:14] ni4 commented on #648
The idea behind process/protect is that we have two kinda of processing:
- forward: take raw data and apply some PGP protection (signing and/or encryption) to it, depending on options. It always has single input (raw data stream) and single output (binary signed-encrypted data, cleartext signed data, detached signature).
- backward: take some PGP data and process it (decrypt and/or verify), output

[2018-03-06 22:19] ronaldtse commented on #648
@ni4 that makes sense, but it would be really (really) helpful if you could help produce some sample code on how this is used in some application 😉

[2018-03-10 13:05] henrydcase opened #650 "Key import behaviour"
## Description

Rnp seems to behave wrongly when importing key pairs

## Steps to Reproduce

[code]
* bug1 (see below)

[code]
* bug2
[code]
* bug3

[code]
Now it's OK.

## Actual Behavior

* bug1: we have imported secret key but ``--list-keys`` shows 0 keys. That's weird
* bug2: ``rnp`` doesn't import public key from the file (file contains both keys and ``gpg`` is able to dectect both)
* bug3: s

[2018-03-10 14:23] ni4 commented on #650
Yeah, behavior should be corrected. Part of these issues I reported in #507
Once finished with FFI i'll get back on changing key loading to new streamed approach, so will attempt to fix these issues as well.

[2018-03-10 16:27] ni4 opened #651 "Improve signing hash algorithm selection for multiple signatures"
## Description

Currently there is only one field in `rnp_ctx_t` for signing hash algorithm.
However, this could not work for different key algorithms, so we should have a way to:
- set hash algorithm for each signer;
- pick correct hash algorithm for each signer (if it is not set explicitly). Key flags, algorithm and bit length could be used here.
- update FFI to allow settings of hash algorithm

[2018-03-12 20:14] dewyatt commented on #611
It looks like GnuPG and related items do not always have a buildable master branch (failure [here](https://travis-ci.org/riboseinc/rnp/jobs/352507161)), so we may have to do things a bit differently as far as our CI tests against GPG "beta".

[2018-03-13 09:01] dd9jn commented on #611
On Mon, 12 Mar 2018 21:14, notifications@github.com said:

Sorry, I disabled a forthcoming API from libgpg-error but overlooked
that the constants are also internally.  Not sure why my pre-push checks
didn't caught it.

Thanks for noting.  Will be fixed soon.

The background is that we need to have a new libgpg-release but there is
not enough time to test and fully implement all intended new featu

[2018-03-13 15:07] #141 closed

[2018-03-14 09:38] #613 closed

[2018-03-15 08:26] ronaldtse commented on #611
@dd9jn thank you for the tip! What a surprise to see you reply here. Appreciate it! 👍

[2018-03-16 17:00] ronaldtse opened #655 "Support SM9"
## Description

As title, but not sure if appropriate -- since it requires a KGC...

[2018-03-16 17:05] ronaldtse opened #656 "Consider upgrading step-by-step to C++"
## Description

From @henrydcase

but doesn't solve the problem

From @dewyatt

From @randombit

[2018-03-17 17:59] ni4 opened #657 "Check key creation time during signature verification"
## Description

When:
`gpg: public key 2FCADF05FFA501BB is 17367 days newer than the signature`
rnp still succesfully validates the signature

[2018-04-20 14:54] #577 closed

[2018-04-20 14:56] ni4 opened #668 "Add option for json output for the packet dumper"
## Description

It would be handy to have packet dumper which outputs json object, and corresponding tests.

[2018-04-20 14:57] ni4 opened #669 "Support decryption of encrypted stream in packet dumper"
## Description

Currently packet dumper doesn't display details for encrypted packet and their contents. This should be fixed.

[2018-04-20 15:02] dewyatt commented on #579
Related, so going to quote and continue discussion here:

Looks like I hit #579 within this PR, using the gcc. In some of commits I removed usage of functions from librnp, and now gcc doesn't build (even while command line includes librnp).
Actually, we should do something with those mutual dependencies. Right now all top-level functionality is bundled within librepgp and librekey, however both de

[2018-04-27 16:57] dewyatt opened #673 "Infinite loop on tampered bzip2-compressed signature"
## Description

In some of the tests for ruby-rnp I generate random plaintext input, tamper with the resulting signature, and then confirm that verification fails.
On occassion this results in an infinite loop.

Here is an example of a tampered signature that will produce this:
`sig.asc`
[code]

[code]

## Steps to Reproduce

1. `rnp --verify sig.asc` (keys not necessary)

## Expected Behavior

Id

[2018-04-28 13:54] ni4 commented on #673
@dewyatt Thanks for noticing. I'll fix this.

[2018-04-28 21:40] dewyatt opened #676 "Unable to decrypt public-key+password-encrypted signed data without the key"
## Description

Encrypting+signing with both a key and a password, and then attempting to decrypt using the password (without the key present) fails because the signature can't be validated.

This means you are unable to decrypt this type of data if you don't have the public key, even if you have a correct symmetric password.

## Steps to Reproduce

Here's a sample that can be decrypted with a key

[2018-04-30 13:03] #673 closed

[2018-04-30 16:05] #676 closed

[2018-05-02 00:13] dewyatt opened #680 "Switch to CMake"
## Description

I think pretty much every one has expressed support for switching to CMake.

It may be best to decide on how to break the libs out first (#579)

[2018-05-02 00:17] dewyatt commented on #680
I forgot, it also might make sense to go ahead and switch to a C++ compiler when introducing CMake. There will be some minor modifications to get a C++ compiler happy with the current codebase.

[2018-05-02 22:39] ronaldtse opened #681 "Version bump and RPM spec"
Given the maturity level RNP is at we should bump to a 1.0 with a corresponding RPM spec update.

[2018-05-03 03:57] ronaldtse commented on #373
@ni4 would you have time to handle this issue? Thanks!

[2018-05-03 03:57] ronaldtse commented on #540
@ni4 would you have time to look into this issue? Thanks!

[2018-05-03 03:57] ronaldtse commented on #453
@ni4 would you have time to look into this issue? Thanks!

[2018-05-03 07:48] ni4 commented on #540
Ok, @ronaldtse!

[2018-05-03 07:48] ni4 commented on #373
@ronaldtse Okay, sure.

[2018-05-03 07:50] ni4 commented on #453
@ronaldtse Ok, I'll take a look!

[2018-05-10 10:11] ni4 opened #682 "rnp --sign doesn't work without the username parameter"
## Description

While rnp should be able to use default key for signing, it doesn't.

## Steps to Reproduce

`rnp --sign somefile`

[2018-05-10 18:45] ni4 commented on #579
Recently, during key packet related work, I digged into almost any source file, and I would suggest separation into the following layers:
- librnpcrypt - all cryptography. Symmetric, assymmetric, hash, s2k, key material. Another reason to separate crypto lib is to have theoretical possibility to switch to another crypto lib, once it is needed due to some reasons.
- librnppgp - all OpenPGP-related

[2018-05-18 20:44] dewyatt commented on #231
I just wanted to note that I looked at the iteration count for a key generated with rnp today and one generated with gpg and have:

| tool | iterations |
| ------------- | ------------- |
| rnp  | 524288 |
| gpg | 33554432 |

So gpg generates keys that use an iteration count 64x what rnp uses on my machine. I'm thinking we should do something about this before any official release.

[2018-06-01 04:09] ronaldtse commented on #680
@dewyatt how's the switching coming along? Thanks.

[2018-06-02 02:03] dewyatt commented on #680
I was in the process of writing some docs and other things to do the PR but there's an comcast outage here (very stormy), so I'll try for tomorrow.

(I'll tether to this phone if I have to)

[2018-06-02 05:02] ronaldtse commented on #680
Perhaps you'll have better luck with the storm tomorrow 😉

[2018-06-02 12:53] dewyatt commented on #680
My home internet came back at around 6am so I've been working on finishing things up. The forecast does show more storms later, but hopefully comcast is prepared. :worried: (or I'll just hurry up before I lose my connection again)

[2018-06-04 15:55] dewyatt commented on #680
I'm still toiling away on this. I ended up rewriting one of the cmake modules for various reasons.

Anyways, I would say it's pretty much good to go but I'm getting a stack overflow in the armoring code that I'm going to try to track down.

[2018-06-04 16:38] ni4 commented on #680
@dewyatt Is this a new armoring code from stream-armor.c or old one? Since the old one is finally removed in PR #684

[2018-06-07 16:36] ni4 commented on #16
Finally resolved in PR #684 - now single armoring/dearmoring code is used across the library. So closing this.

[2018-06-07 16:37] #16 closed

[2018-06-07 16:45] ni4 commented on #419
For a while we have cmocka tests (like `test_stream_key_decrypt`, `test_stream_key_encrypt`) for new key encryption/decryption, so those test cfb resync as well.
So I think this issue may be closed safely.

[2018-06-07 16:45] #419 closed

[2018-06-10 16:50] dewyatt commented on #680
Closed in https://github.com/riboseinc/rnp/pull/685

[2018-06-10 16:50] #680 closed

[2018-06-11 18:40] dewyatt commented on #681
I have to be honest - I somehow forgot about this for a while. :worried:

I have a small unrelated PR to do for rnp but will be jumping on this after that. I may want to get an updated botan RPM for CentOS done first (need botan 2.3.0+ last I checked).

Also, just a note but personally I would feel more comfortable with 0.x releases. We still have a lot of open issues and the FFI hasn't seen much

[2018-06-11 22:37] ronaldtse commented on #681
Glad you found it again! We can certainly keep the 0.x moniker, as long as it is close to 1.0 😉

[2018-06-11 23:01] ronaldtse commented on #323
@ni4 could you help update the full list of commands according to https://github.com/riboseinc/rnp/issues/514 ? Then we can start implementing them. Thanks!

[2018-06-15 02:16] ronaldtse opened #690 "Adopt riboseinc/gpg-build-scripts for GnuPG build install"
## Description

Use https://github.com/riboseinc/gpg-build-scripts for GnuPG build install.

[2018-06-20 15:15] ronaldtse commented on #681
@dewyatt I had to build the RPM tonight and realized that the `cmake/version.cmake` script depends on the git tags (seems that #693 is necessary).

Can you help push a `v0.9.0` tag (and remove the existing 3.99* one) for an official release? Thanks!

[2018-06-21 08:39] ronaldtse commented on #681
I've added the `v0.9.0` tag which is necessary for RPM packaging (and removed the old 3.99.18 one).

[2018-06-21 10:16] dewyatt commented on #681
I see you found it has to be an annotated tag (but can have an empty message). This is part of the workflow document that I'm trying to flesh out a bit more. I wasn't planning to have any tags in master, but it sounds like it's a bit late for that.

[2018-06-21 11:39] ronaldtse commented on #681
Actually feel free to update the flow, and the tag. I was attempting to make a buildable rpm for our yum repo that our toolchain can directly publish.

[2018-06-23 13:29] dewyatt opened #698 "CI - Detect use of uninitialized variables in CMake"
## Description

https://github.com/riboseinc/rnp/pull/697

I want to get something added to CI to help detect these types of mistakes.

CMake generally will silently ignore any use of an uninitialized variable, but with `--warn-uninitialized` it will print a message, so I'll take advantage of that I think.

[2018-06-24 09:49] ronaldtse commented on #690
Once this (https://github.com/riboseinc/gpg-build-scripts/issues/3) is performed, we can defer to the installation script.

[2018-06-24 09:49] #698 closed

[2018-06-24 15:55] ronaldtse commented on #487
I want to bump this since the `keyfile` concept is very useful in the case where we we don't need a keyring. Thoughts @ni4 @dewyatt ?

[2018-06-24 15:56] ronaldtse commented on #502
@ni4 Is this something we need to follow up on?

[2018-06-25 12:31] ni4 commented on #487
I can do this.

[2018-06-25 12:34] ni4 commented on #502
@ronaldtse Yep, I think this is still on the table.
@dewyatt what do you think about changing the current behavior where main keys and subkeys are separate entities in the keyrings?

[2018-06-26 01:43] dewyatt commented on #502
@ni4 Can you elaborate in some more detail (maybe a mockup or something)?

[2018-06-27 09:30] ronaldtse commented on #487
Thanks @ni4 !

[2018-07-02 01:14] ronaldtse commented on #453
Looks like this one just came up here: https://github.com/riboseinc/enmail/issues/53

@ni4 perhaps you could have time to check? Thanks!

[2018-07-02 07:58] ni4 commented on #453
@ronaldtse  Okay, I finally have some time for this!

[2018-07-02 16:33] ni4 commented on #9
I'm moving ahead and closing this since we do not have calls to these functions anywhere.

[2018-07-02 16:33] #9 closed

[2018-07-02 16:34] ni4 commented on #10
@ronaldtse Since we do not have libverify for a while, and almost all old codebase is removed shouldn't we close this?

[2018-07-02 16:35] ronaldtse commented on #10
Agree. Thanks @ni4!

[2018-07-02 16:35] #10 closed

[2018-07-02 16:35] ronaldtse commented on #9
Thanks!

[2018-07-02 16:37] ni4 commented on #100
Fixed in commit 1a6a61bae7ddb9af763826cc65137c1aa646a1a6

[2018-07-02 16:37] #100 closed

[2018-07-02 16:39] ni4 commented on #102
Not an issue anymore since `reader.c` was removed during old code cleanup.

[2018-07-02 16:39] #102 closed

[2018-07-02 16:41] ni4 commented on #115
Both `load_keys_ssh` and `load_keys_ssh` were removed long time ago.
And it doesn't seem that current codebase exposes such leaks. So closing this.

[2018-07-02 16:41] #115 closed

[2018-07-02 16:42] ni4 commented on #116
Not an issue anymore since `pgp_push_enc_crypt` was replaced with newer functions which don't seem to have any memory leaks.

[2018-07-02 16:42] #116 closed

[2018-07-02 17:41] ni4 commented on #160
@ronaldtse Now it is called only on NULL-strings, and actually is called only in a few places compared to `strdup()`. So should I remove those calls? There are some arguments against that it is not a part of standard, but part of POSIX.

[2018-07-02 23:48] ronaldtse commented on #160
If `rnp_strdup` is no longer necessary, let's remove those calls, one less function to worry about. Thoughts @dewyatt ?

[2018-07-03 00:12] dewyatt commented on #160
Yeah it seems good to remove it, given that we're already using `strdup` a bunch.

[2018-07-03 08:51] ni4 commented on #271
@ronaldtse I think this can be closed now?

[2018-07-03 08:53] ni4 commented on #321
@ronaldtse While we are already on C++ instead of C99, so this can be closed?

[2018-07-03 08:53] ni4 commented on #324
@ronaldtse @dewyatt Can we close this since we have FFI interface already?

[2018-07-03 08:54] ni4 commented on #336
Looks like this one was fixed long time ago, so closing it.

[2018-07-03 08:54] #336 closed

[2018-07-03 09:07] ronaldtse commented on #271
Agree, thanks @ni4

[2018-07-03 09:07] #271 closed

[2018-07-03 09:08] ronaldtse commented on #321
Agree, thanks @ni4 !

[2018-07-03 09:08] #321 closed

[2018-07-03 09:08] ronaldtse commented on #324
Agree, thanks @ni4 !

[2018-07-03 09:08] #324 closed

[2018-07-03 09:17] ronaldtse opened #704 "Remove `doc/rfcs`"
RFCs are all viewable on the IETF site and there's no reason why we duplicate them here.

[2018-07-03 09:23] ni4 commented on #375
Not an issue anymore since packet dumping code was rewritten.

[2018-07-03 09:23] #375 closed

[2018-07-03 11:51] ni4 commented on #439
AEAD is implemented for a while so closing this.

[2018-07-03 11:51] #439 closed

[2018-07-03 11:52] ni4 commented on #490
Finally cleaned up in #700

[2018-07-03 11:52] #490 closed

[2018-07-03 11:53] ni4 commented on #501
`pgp_validate_key_sigs` was replaced with newer code so not an issue anymore.

[2018-07-03 11:53] #501 closed

[2018-07-03 12:43] #160 closed

[2018-07-03 13:15] #704 closed

[2018-07-03 13:43] ni4 opened #706 "Possible random just-made signature expiration"
## Description

Got the following output during local Travis run:
[code]

Previous iteration was successfull:
[code]
So it could be some problem related to the time granularity.

[2018-07-06 12:39] #682 closed

[2018-07-08 23:05] #635 closed

[2018-07-10 14:37] dewyatt opened #710 "FFI fingerprint search is broken"
## Description

Easy fix here, I'll do a PR today.

https://github.com/riboseinc/ruby-rnp/issues/22

[2018-07-10 15:39] #513 closed

[2018-07-10 20:24] #710 closed

[2018-07-12 04:11] ribose-jeffreylau opened #712 "Bump patch version for #710"
## Description

Would it be possible to bump patch version for #710 ?

This would facilitate the testing of the fix (via RPM built in our toolchain, and the toolchain requires a git tag).

[2018-07-12 18:02] dewyatt commented on #712
I actually started getting a release together last week after https://github.com/riboseinc/rnp/pull/707 but got distracted somewhere.

Anyways, I'm working on getting this done right now.

[2018-07-14 17:58] dewyatt opened #715 "Regression in G10 keys"
## Description

It looks like (some?) G10 keys are unusable that were previously usable.

I did a quick bisect and it appears to be 568d6d554fcfe72d00e9a35c0d852efced880969 that broke this. @ni4 can you take a look?

## Steps to Reproduce

[code]

## Expected Behavior

The previous commit:

[code]

## Actual Behavior

[code]

[2018-07-14 18:29] dewyatt opened #716 "Add tests for rnp_op_add_signature with G10 keys"
## Description

I think I need #715 fixed before I can add the tests I mentioned in #714.

[2018-07-14 18:32] dewyatt commented on #579
This was fixed during the CMake switchover. The library split discussion has a separate issue somewhere I think (or we can create one).

[2018-07-14 18:32] #579 closed

[2018-07-14 18:34] dewyatt commented on #712
Forgot, this is done!

[2018-07-14 18:34] #712 closed

[2018-07-14 19:02] ni4 commented on #715
@dewyatt The code changed since then and it looks like now it should set .secret flag correctly. I'll recheck this, thanks for spotting.

[2018-07-15 00:16] dewyatt commented on #715
Oh yeah I was looking at the old code. It looks like this would fix it:
[code]

The operations were just out of order here.

[2018-07-15 01:37] dewyatt commented on #681
This is all good now, forgot to close.

[2018-07-15 01:37] #681 closed

[2018-07-16 14:13] #715 closed

[2018-07-18 08:50] #716 closed

[2018-07-19 03:31] #373 closed

[2018-07-25 19:16] ronaldtse opened #721 "Bump version to 0.9.2"
As described here:
https://github.com/riboseinc/enmail/issues/53

0.9.1 contains some issues that are now resolved in master, which are necessary for the correct functioning of signing emails via Ruby-RNP.

@ni4 could you help us make a release 0.9.2? Thanks!

[2018-08-01 08:00] ribose-jeffreylau opened #722 "RNP should be able to list key after only its secret part is imported"
## Description

RNP should be able to list key after only its secret part is imported.  GPG seems to be able to recreate the public part as well.

## Steps to Reproduce

Prepare fixture:

[code]

Verify with GPG:

[code]

Test importing with RNP:
[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

[2018-08-03 14:17] ni4 commented on #722
@ribose-jeffreylau Yeah, we don't have such functionality yet. I'll take a look on it when finish with some other tasks.

[2018-08-06 02:45] skalee commented on #721
It's not crucial for EnMail development in any way. That said, releasing EnMail when no compatible RNP stable release exists sounds like an unfortunate idea.

[2018-08-07 19:18] ni4 commented on #721
Yeah, I just pushed the PR #723 so once it is approved I can bump the version.

[2018-08-07 19:19] ni4 commented on #706
Should be fixed at #723 (just adding the reference).

[2018-08-07 19:19] ni4 commented on #657
Should be fixed in #723

[2018-08-11 00:05] ronaldtse commented on #721
@ni4 could we bump the version since #723 is merged? Thanks!

[2018-08-13 08:01] ribose-jeffreylau commented on #722
Any update on this?  Thanks!

[2018-08-13 10:02] ni4 commented on #722
@ribose-jeffreylau I think I'll get to this issue later today. Do I correctly understand that the main thing you need is generation of public key based on secret key? Or just key listing of secret keys?

[2018-08-13 10:03] #657 closed

[2018-08-13 10:09] ni4 commented on #721
@ronaldtse Yep, will do this today.

[2018-08-13 10:15] ronaldtse commented on #722
@ni4 thanks! What @ribose-jeffreylau needs is, when a secret key is imported, the corresponding public key should also be available and imported.

It seems that in the ASCII-armored secret key, the public key is simply concatenated on top of the secret key?

[2018-08-13 10:30] ni4 commented on #722
If this is the case then it should be easier to implement.

[2018-08-14 07:05] ronaldtse commented on #721
@ni4 and we need to tag the version here, right?

[2018-08-14 08:32] ni4 commented on #721
@ronaldtse Yeah, done as of now. So closing this.

[2018-08-14 08:32] #721 closed

[2018-08-14 13:06] ni4 commented on #722
Looks like it still will take a while: we lack flexibility on adding the same key(s) to the keyring and need to implement merging of the key(s).

[2018-08-15 07:41] ronaldtse commented on #722
@ni4 It's not a 100% impediment on our part, but how long would you estimate we can have this? Thanks!

[2018-08-15 09:39] ni4 commented on #722
@ronaldtse I think I'll finish it till the end of the week.

[2018-08-15 10:48] ronaldtse commented on #722
@ni4 that's excellent news! @ribose-jeffreylau will be very glad 😉

[2018-08-17 02:48] dewyatt opened #726 "validate_pgp_key_signature doesn't fail when it should"
## Description

Lots of assigning to `res` in various places:
https://github.com/riboseinc/rnp/blob/dff813481ad9925749ec57faa7a8752c47aa8e5b/src/librepgp/stream-key.cpp#L1314

But it's never used:
https://github.com/riboseinc/rnp/blob/dff813481ad9925749ec57faa7a8752c47aa8e5b/src/librepgp/stream-key.cpp#L1335

@ni4 can you take a look?

[2018-08-17 21:53] randombit commented on #645
Just added `botan_cipher_reset` which allows resetting message specific state without resetting the key. Not available until it is released as part of 2.8 however so be some time before we can make use of it.

[2018-08-19 01:30] dewyatt opened #733 "C++ testing framework"
## Description

At some point, I think we may want to switch to a C++ testing framework.
cmocka generally works but it can cause incompatibilities with C++ standard headers, so you have to be careful with header ordering and such.

Switching would also offer an opportunity to clean up `src/tests` and split things up more.

Some popular ones I know of are:
* [Google Test](https://github.com/google/

[2018-08-19 10:31] dewyatt opened #734 "Support exporting a public key from a secret key (ffi)"
## Description

It would be good to support extracting a public key from a secret key for `rnp_key_export`.

[2018-08-19 10:51] ni4 commented on #726
@dewyatt Thanks for pointing at this. I'll take a look.

[2018-08-19 23:01] dewyatt opened #737 "Unable to directly load subkeys"
## Description

1bc81b31d1563598f98ee91e009256ea0631ae93 broke one of ruby-rnp's examples (which unfortunately I never added to CI).

## Steps to Reproduce

[code]

## Use Case

The [example in question](https://github.com/riboseinc/ruby-rnp/blob/fbf0f30224790603f88ed9fedf6660f6efcb3ad1/examples/key_provider.rb) would previously function like so:
1. Receive some (subkey)-encrypted data from an unk

[2018-08-21 07:16] ronaldtse commented on #127
@randombit can we close this now?

[2018-08-21 07:17] ronaldtse commented on #46
@dewyatt can this be closed? Thanks!

[2018-08-21 07:17] ronaldtse commented on #64
@dewyatt can we close this? Thanks!

[2018-08-21 07:17] ronaldtse commented on #30
@ni4 @dewyatt can we close this? Thanks!

[2018-08-21 07:17] ronaldtse commented on #40
@ni4 @dewyatt can we close this? Thanks!

[2018-08-21 07:18] ronaldtse commented on #103
@ni4 @dewyatt can we close this? Thanks!

[2018-08-21 08:38] ni4 commented on #103
@ronaldtse Yeah, it can be closed - we got rid of `tst` directory at some point.

[2018-08-21 08:40] ni4 commented on #40
@ronaldtse I think so.

[2018-08-21 09:27] ronaldtse commented on #103
Thanks @ni4 for the confirmation!

[2018-08-21 09:27] #103 closed

[2018-08-21 09:44] ronaldtse commented on #40
Thanks for the confirmation!

[2018-08-21 09:44] #40 closed

[2018-08-21 10:16] dewyatt commented on #46
I would say close it. They're mostly outdated.

[2018-08-21 10:17] dewyatt commented on #64
Yes!

[2018-08-21 10:17] #64 closed

[2018-08-21 10:19] dewyatt commented on #690
Sure I can take a look, I'm probably going to be doing mostly CI stuff today anyways.

[2018-08-21 11:02] ronaldtse commented on #690
Thanks! 😄

[2018-08-21 11:10] ronaldtse commented on #11
@ni4 @dewyatt Is this still valid? Thanks!

[2018-08-21 11:10] ronaldtse commented on #2
@ni4 @dewyatt Is this still valid? Thanks!

[2018-08-21 11:10] ronaldtse commented on #87
@ni4 @dewyatt I don't think this is an issue anymore? Thanks!

[2018-08-21 11:11] ronaldtse commented on #36
@dewyatt is this fixed? Thanks!

[2018-08-21 11:11] ronaldtse commented on #303
@ni4 @dewyatt do we still deal with SSH keys?

[2018-08-21 12:01] ni4 commented on #303
@ronaldtse I would vote for dropping usage of SSH keys. It adds complexity to the code while doesn't add any benefits, and doesn't seem to be used in other implementations.

[2018-08-21 12:03] ni4 commented on #2
@ronaldtse Yes, rnp behaves the same way now. However it is logical - homedir should be dir, not file.
And we have #487 which will deal with key(s) from file, not homedir.
So this can be safely closed.

[2018-08-21 12:25] ni4 commented on #11
Yeah, now it has a bit different text and behavior but still needs fixing.

[2018-08-21 12:36] ni4 commented on #303
@ronaldtse @dewyatt So if we agreed on this then I would be happy to remove all SSH-related things.

[2018-08-21 12:40] ronaldtse commented on #2
Thanks @ni4 for the confirmation!

[2018-08-21 12:40] #2 closed

[2018-08-21 12:57] dewyatt commented on #303
@ni4 Volunteering for the dirty work! :+1:

[2018-08-21 14:48] ronaldtse commented on #303
Agreed, let's do it. Thanks!

[2018-08-21 15:39] ni4 commented on #734
I can do this together with other stuff I'm working on right now.

[2018-08-23 16:43] randombit commented on #367
Fixed by #729

[2018-08-23 16:43] #367 closed

[2018-08-23 16:44] randombit commented on #127
@ronaldtse I believe everything is done here but let me double check.

[2018-08-23 17:17] #127 closed

[2018-08-23 20:38] #154 closed

[2018-08-23 20:38] #155 closed

[2018-08-23 20:38] #156 closed

[2018-08-23 20:38] #303 closed

[2018-08-23 21:51] randombit commented on #436
Looking into resolving this issue, I find there is a problem with SM2 signatures as implemented in RNP. The digest is provided pre-hashed within RNP (by SM3, SHA-256, SHA-512, ...) and it is then signed using a botan pk_sign operator initialized with padding string "". Which causes SM2 to use the default userid field, and hash the message with SM3. As a result the ZA string is computed with the wr

[2018-08-23 22:01] randombit commented on #335
@ronaldtse The new (correct) behavior has been in place over a year with no issue raised, so I think no production keys were affected. I believe this issue can be closed, there is no need to implement any kind of workaround.

[2018-08-24 03:13] ronaldtse commented on #335
Thanks @randombit for the confirmation!

[2018-08-24 03:13] #335 closed

[2018-08-24 03:16] ronaldtse commented on #436
Oh no -- thank you for discovering this issue! I can make a guess that no one is using SM2 yet; let's fix this before anyone does. Whatever you think is the better way is fine.

[2018-08-24 05:11] ronaldtse commented on #127
Thanks @randombit !

[2018-08-31 02:13] ronaldtse commented on #734
Hello @ni4 any updates to this issue? Thanks!

[2018-08-31 08:39] ni4 commented on #734
@ronaldtse I got stuck with #722 at some point, but now got back, and plan to finish it very soon. Then will be able to get to public key export.

[2018-09-03 15:53] dewyatt commented on #668
Just adding a note but the main reason I wanted this was so that it would be easier to test our generated packets, like checking the s2k iteration count in https://github.com/riboseinc/rnp/pull/728#issuecomment-418144160 and similar things. It's one thing to test some function input, but we really need to be testing generated packets.

[2018-09-06 02:44] ribose-jeffreylau opened #740 "Warnings shown when importing an expired key"
## Description

Warning messages are shown when importing an expired key.

## Expected Behavior

[code]

## Actual Behavior

[code]

### Supporting documents

(Github only supports text files ending in `.txt`.)

[expired.pri.txt](https://github.com/riboseinc/rnp/files/2355268/expired.pri.txt)
[expired.pub.txt](https://github.com/riboseinc/rnp/files/2355271/expired.pub.txt)

[2018-09-07 05:06] ronaldtse commented on #734
@ni4 any updates so far? Thanks!

[2018-09-07 05:06] ronaldtse commented on #737
@dewyatt any updates here? Thanks!

[2018-09-07 05:08] ronaldtse commented on #740
It actually looks like both keys were imported, but the expired private key when imported by itself doesn't show up at all using `rnpkeys --list-keys`? Sounds like a bug?

@dewyatt @ni4

[2018-09-07 05:08] ronaldtse commented on #740
Is this related to https://github.com/riboseinc/rnp/issues/737 ?

[2018-09-07 07:56] ni4 commented on #668
Agree, @dewyatt .

[2018-09-07 07:58] ni4 commented on #734
@ronaldtse I finished with the code and now writing tests and so on. This will go in PR together with solution for #722

[2018-09-07 07:59] ni4 commented on #737
@ronaldtse I hope to fix this in code I'm working on right now.

[2018-09-07 08:10] ni4 commented on #740
@ronaldtse I would say it is more related to #722. Within current implementation list-keys doesn't display secret keys. I fixed it and after a bunch of other updates will make a PR.

[2018-09-08 18:28] ronaldtse commented on #740
Thank you @ni4 ! 😄

[2018-09-09 17:58] randombit commented on #733
Generally +1 to this.

One comment, Botan used Catch for a while (based on the release dates, I think it must have been Catch1 that I used). The build times were terrible because Catch is header only and does tricky template metaprogramming so you can say eg `ASSERT(x < y)` instead of `ASSERT_LT(x,y)`. Which is convenient, but was IMO not worth the extra ~30 seconds compile time per test file. The

[2018-09-10 16:18] randombit opened #742 "C++ option parsing library"
Currently RNP utils like `rnpkeys` use `regex.h` and `getopt.h` to parse options. These are POSIX interfaces and (IIRC) are not portable to Windows machines. Some options I found

[Boost Program.Options](https://www.boost.org/doc/libs/1_63_0/doc/html/program_options.html)
[Gflags](https://github.com/gflags/gflags)
[Ezoptionparser](http://ezoptionparser.sourceforge.net/)
[Argstream](http://maverick

[2018-09-10 21:43] dewyatt commented on #742
I forgot that we talked about that ([here](https://www.ribose.com/#spaces/535cf6ea-88d6-4d54-8d74-8b2a72372576/conversation/conversations/b6b6d594-4662-4faf-9506-92737ebdbc74/messages/a2815155-602f-45b3-8ecb-1199fceb3a6f)).

In summary, Nick volunteered to do the libnereon integration and Ronald and I said that we should complete #514 and #323 prior to that work.

[2018-09-10 21:44] dewyatt commented on #742
(Assigning @ni4 since it seems like this issue is probably suitable for the libnereon work)

[2018-09-11 01:54] ronaldtse commented on #742
The first thing is to expose all the options/commands/arguments.

Pinging @drystone who's in charge of rust-nereon...

Examples:
* libnereon: https://github.com/riboseinc/rvc
* rust-nereon: https://github.com/riboseinc/riffol

[2018-09-12 21:14] randombit commented on #231
Fixed in #728

[2018-09-12 21:14] #231 closed

[2018-09-16 15:55] #507 closed

[2018-09-16 15:55] #650 closed

[2018-09-16 15:55] #722 closed

[2018-09-16 15:55] #740 closed

[2018-09-16 19:46] dewyatt commented on #734
This is done I think.

[2018-09-16 19:46] #734 closed

[2018-09-17 14:36] ni4 commented on #737
@dewyatt I got to this issue, and it seems to be a bit controversial. Ruby example calls FFI code `rnp_load_keys`, which then calls `rnp_key_store_load_from_mem`. This one tries to load keys from OpenPGP key format, which should include public/secret key and then all the sigs, userids, subkeys and so on.
Should I change the behavior in the way that it will also accept subkey?  Logically subkeys sh

[2018-09-17 15:17] dewyatt commented on #737
@ni4 I understand what you mean, but I'm not sure I view it as controversial necessarily. The OpenPGP spec doesn't really dictate how keys are stored, it just provides the transferable key as a baseline for interoperability with other implementations. G10 is valid for example, though it does not appear in the spec, because the implementation can still generate a transferable key from it.

I do agr

[2018-09-17 15:42] ni4 commented on #737
@dewyatt Agree that previous behavior makes a lot of sense. Implementation, which uses FFI, should not care about keyids and primary keys/subkeys.
What about extending the FFI api with function `rnp_load_key` (or  `rnp_add_key`?), which will be aware that we have path to single key file and use different approach in loading?
Other possible way is to add flag, like `RNP_LOAD_SAVE_SINGLE_KEY`, to `r

[2018-09-17 20:44] dewyatt commented on #737
My initial thought is that it's a bit strange to treat this as a special case. We had this functioning previously via `rnp_load_keys`, what are the issues preventing that now?

It seems like it could be treated similar to merging in additional signatures:
1. `rnp_load_keys` on ring1.gpg, which contains primary key 07E69D4C38247878 and subkey E501C048F86EB3E3.
2. `rnp_load_keys` on ring2.gpg, which

[2018-09-18 07:03] #726 closed

[2018-09-18 07:04] ronaldtse commented on #742
For those interested in configuration options (declaring and parsing), there's a lively discussion at https://github.com/riboseinc/nereon-syntax/issues/8

[2018-09-19 12:37] ni4 commented on #737
@dewyatt Ah, sure. Changing key files in the way that each subkey is saved with the main key before it will work. I'll update ruby-rnp example to store subkeys in this way.

[2018-09-19 13:30] ni4 commented on #706
Doesn't seem to be exposed anymore so considering it fixed in #723

[2018-09-19 13:30] #706 closed

[2018-09-19 13:34] ni4 commented on #593
@randombit This doesn't seem to be an issue anymore, isn't it?

[2018-09-19 13:37] dewyatt commented on #737
@ni4 Actually I misspoke on that, I meant that I'd prefer we support the existing example. Requiring the primary key to be duplicated with every subkey seems similarly burdensome as the keyid issue discussed above. If the application can provide the primary key when requested, I can't see any reason that every subkey must be stored with it (except when interacting with other OpenPGP implementation

[2018-09-19 13:59] randombit commented on #593
Works for me now, cmake conversion probably fixed this. Closing.

[2018-09-19 13:59] #593 closed

[2018-09-19 14:11] cfcs opened #748 "Building on (my) debian"
## Description

The build instructions for debian are missing

## Steps to Reproduce

Here's what I did to build the tools:
[code]

[2018-09-20 03:48] ronaldtse opened #749 "Automatic releasing via Travis"
Travis has a "GitHub release" provider that allows automatic tagging on Git and the subsequent releasing.

https://docs.travis-ci.com/user/deployment/releases/

i.e. we can make Travis "release" once we the new release PR is merged.

@dewyatt @ni4 perhaps we should switch to this?

[2018-09-20 12:18] dewyatt commented on #749
I've actually been working on CI stuff on and off for the past 3 weeks or so, and this was one of the features I looked at.
My thoughts were that it would mostly be useful to automatically build+upload RPMs from the release branch. Is that what you had in mind?

On a related note though, I completely burned out on Travis CI over the past few weeks and have been evaluating alternatives that we coul

[2018-09-20 14:28] ronaldtse commented on #749
I was purely thinking of creating a release tarball using the Travis Github release deployer.

An RPM is already automatically built+pushed on any update at https://github.com/riboseinc/rpm-spec-rnp/ using our internal Jenkins CI. That said, we could also switch to Travis CI for this too, since it allows running Docker containers.

Is Gitlab CI something you're thinking of?

[2018-09-20 14:39] dewyatt commented on #749
A binary tarball in addition to the source tarballs we already have?

Right, I just figured it might make sense to look into eliminating the step of updating the spec.

Yes, Gitlab CI is what makes the most sense to me (after looking at Circle CI and Codeship). Gitlab supports mirroring so we could continue using github without any changes. I'm still playing with it, but the fact that it has thing

[2018-09-20 14:49] ronaldtse commented on #749
Only the source tarball.

Technically we could also do that via triggering a Travis build.

I'm open with using Gitlab CI, as long as it doesn't negatively affect the workflow. I'm not sure however on the pricing side of it....

[2018-09-20 14:50] ronaldtse commented on #749
P.S. Gitlab mirroring seems to only work with higher paid plans?

[2018-09-20 14:59] dewyatt commented on #749
@ronaldtse It's free for open-source projects, just like Travis CI. They do a poor job of advertising that, but you get all Gold features for open-source projects.

[2018-09-20 15:08] ronaldtse commented on #749
Well then what are we waiting for? If we use Gold features for "open-source projects", are we allowed to have an organization that has a mix of private + open-source projects, where Gold only applies to "open-source projects"?

[2018-09-20 15:14] ronaldtse commented on #749
@dewyatt wow Gitlab CI actually allows choice of a docker container, so the CentOS/Debian builds are straightforward now compared to Travis / Jenkins:

* Debian: https://about.gitlab.com/2016/10/12/automated-debian-package-build-with-gitlab-ci/
* CentOS RPM: https://gitlab.cern.ch/cloud-infrastructure/keystone/commit/b1b29af0f3a2c323e831ba7ea8790d245efa0f48

[2018-09-20 15:18] dewyatt commented on #749
@ronaldtse Yep, you can choose any container on docker hub I believe. I already have a CI job that runs part of the rnp matrix in a centos:7 container, I've just been experimenting with caching etc.

Plus you can run Gitlab+Gitlab CI locally with two simple docker containers, which I think is pretty great.

[2018-09-20 15:31] dewyatt commented on #749
:+1: I will get to work on getting the CI stuff converted (I've already done a little bit for research purposes), if you can work on creating an organization, mirroring some repos (rnp and ruby-rnp would be a good start), etc.

I would really expect the answer to be *yes*, but I can't say for certain.

[2018-09-20 15:41] ni4 commented on #748
@cfcs Do you mean the primary key binding signature  for signing subkey? Then it looks like my bug, will provide a fix soon.

[2018-09-21 09:00] ni4 commented on #748
Hm, it doesn't seem to be an error, at least it is compatible with GnuPG: it generates primary key binding only for sign-able key, and not for the certify one (see the packet listing below).
Looks like 'certify' means that this subkey may be used to issue certification signatures only.

[code]

[2018-09-21 13:14] dewyatt opened #751 "Check for ability to certify for certification signatures"
## Description

I think during key sigs, uid sigs, subkey sigs, and all revocation sigs we should be checking `pgp_key_can_certify` before creating the signature.

Also, IIRC, GnuPG takes the stance that a primary key can *always* certify, so this change would probably make sense too:

[code]

[2018-09-21 13:15] dewyatt commented on #748
@ni4 I can only speak for myself, but I think I misread this:

https://github.com/riboseinc/rnp/blob/aec0e0dbf6cb17e06ba23f13022d52c4908a839c/src/librepgp/stream-key.cpp#L626

And mistakenly thought that it should be checking for `PGP_KF_CERTIFY` instead (I see now what it's doing, duh). Maybe @cfcs made the same mistake or maybe he was looking at something totally different from either of us.

(I

[2018-09-24 17:32] #748 closed

[2018-09-25 16:02] ni4 commented on #203
This is not the issue anymore, so closing it.

[2018-09-25 16:02] #203 closed

[2018-09-25 16:03] ni4 commented on #330
It doesn't make sense anymore since we moved to cmake and moved to cmocka tests.

[2018-09-25 16:03] #330 closed

[2018-09-25 21:38] #737 closed

[2018-09-27 07:22] evpo opened #755 "Consider taking code from libEncryptMsg"
## Consider taking code from libEncryptMsg

Now that you are moving to C++ you could analyse if the symmetric encryption code I wrote for [EncryptPad](https://github.com/evpo/EncryptPad)  can be reused. Since version 0.4.0.0 (released in January 2018), I extracted everything for OpenPGP to a separate independent library [libEncryptPad](https://github.com/evpo/libencryptmsg). It's been thoroughly t

[2018-09-27 17:10] ronaldtse commented on #755
At this point, our code is stable, heavily tested, excels at demanding workloads, with top-of-line performance, minimal memory usage, and supports OpenPGP extensions not available elsewhere.

Perhaps you could promote your library to projects that are less mature. Thank you for the note.

[2018-09-27 17:10] #755 closed

[2018-09-27 17:11] #157 closed

[2018-09-27 17:13] ronaldtse commented on #742
https://github.com/riboseinc/rust-nereon/pull/15 is now pure Rust and independent of other libraries.

[2018-09-28 02:36] evpo commented on #755
Thanks for your reply. I thought there was a chance that you would rewrite the pieces that were previously C according to C++ design guidelines listed in [CPP_USAGE](https://github.com/riboseinc/rnp/blob/master/doc/CPP_USAGE.md).

[2018-09-28 03:31] evpo commented on #755
I read my text again. I think it looks as if I am promoting my library for some reason but it wasn't my intent. I wanted to contribute the code as a contributor. Then I would have stopped maintaining libEncryptMsg and build EncryptPad against RNP. libEncryptMsg would be consumed by RNP and disappear. The promotion style of my text was to emphasize that  the code I wanted to contribute was stable t

[2018-09-29 10:54] dewyatt opened #757 "OpenSSL leak in ECDSA signature verification"
## Description

While working on the gitlab ci conversion, I noticed that both ASaN and valgrind report leaks when the openssl botan provider is used (with an old version of openssl like the one used in travis ci).
The ribose botan2 RPM is built [with openssl enabled](https://github.com/riboseinc/rpm-spec-botan2/blob/master/botan2.spec#L73) which is how I ran into the issue.
I made a branch with a

[2018-10-03 19:36] randombit commented on #757
This leaks with the OpenSSL in Ubutnu 16.04

[code]

[2018-10-03 19:48] randombit commented on #757
Aha, found it. `ECDSA_SIG_new` allocates r/s. In the 1.1.0 API, calling `ECDSA_SIG_set0` frees the previously allocated values, while just overwriting the pointers means the original BNs leak.

[2018-10-04 14:29] randombit commented on #757
@dewyatt Fixed upstream now. I will leave this open until we can confirm it works in CI as well.

[2018-10-06 03:47] dewyatt commented on #757
@randombit Awesome, nice find! I manually tested and the leak is no longer present at randombit/botan@13a626c. :+1:

(rnp's CI won't catch this since we don't build botan with the openssl backend)

[2018-10-06 03:47] #757 closed

[2018-10-06 05:54] #540 closed

[2018-10-06 05:54] #558 closed

[2018-10-06 16:02] ni4 opened #763 "g10 secret keys cannot be used by userid in CLI."
## Description

It looks like regression, however I'm not sure whether this worked before.
List of user ids field is not filled for g10 secret keys.

## Steps to Reproduce

1. `rnp --homedir .gpg -u "userid" --sign somefile.txt`

## Expected Behavior

rnp finds key by userid and signs.

## Actual Behavior

Fails since secret key is not found.

[2018-10-07 18:49] randombit opened #765 "Possible optimizations for CFB"
I just found libgcrypt's `bench-slope` util. That revealed that libgcrypt's CFB ciphers are much faster than Botans, because it is taking advantage of the fact that (like CBC decryption) it is possible to decrypt multiple blocks in parallel. This commonly provides 2-3x speedup for CBC decrypt and based on libgcrypt's numbers it seems to work similarly well for CFB.

In addition, I realized that Op

[2018-10-08 13:20] #453 closed

[2018-10-08 13:41] dewyatt opened #766 "CLI --hash invalid values are silently ignored"
## Description

This can be pretty confusing if you do something like `rnpkeys --gen-key --hash SHA-224` and it silently uses the default (in this case I should have used `SHA224`, not `SHA-224`).

## Steps to Reproduce

1. `rnpkeys --gen-key --hash some-invalid-alg`

## Expected Behavior

An error should be printed that `some-invalid-alg` is not a valid hash algorithm.

## Actual Behavior

A defa

[2018-10-12 19:49] randombit commented on #765
As an alternative here could just implement parallel CFB decryption within RNP

[2018-10-14 12:41] randombit commented on #765
Since Botan CFB supports arbitrary feedback sizes parallel decryption is actually kind of a pain, so actually it's almost certainly not worth doing there.

[2018-10-15 20:54] randombit commented on #645
It appears the stream code is sending up to 32K buffers at a time to the AEAD, which is more than enough to get optimum performance. In profiling encrypting a large file with OCB mode (on AES-NI system), over 50% of the runtime is in `memcpy` (mostly in `dst_write`). So I think this can be closed.

[2018-10-15 20:54] #645 closed

[2018-10-16 22:14] #616 closed

[2018-10-18 08:44] #436 closed

[2018-10-18 08:44] #766 closed

[2018-11-13 08:17] #615 closed

[2018-11-13 08:18] ronaldtse commented on #749
@dewyatt are you good with this? It's pretty simple to get GitLab CI working with a container. For CentOS you could use the typical `centos:7` container to build the package.

[2018-11-13 09:42] ni4 opened #769 "AEAD cipher doesn't work with the latest botan"
## Description

AEAD support just broken right now.

## Steps to Reproduce

`rnp --passwords 1 --aead -z 0 -c 100k.dat --output 100k.dat.encrypted`

[2018-11-13 11:41] dewyatt commented on #749
@ronaldtse Yep, I'm now waiting on some ordered parts so I'm no longer distracted fixing cars. I'll be looking at this today.

[2018-11-19 11:43] #763 closed

[2018-11-19 12:14] dewyatt commented on #749
I'll be working on https://github.com/riboseinc/rpm-spec-botan2/issues/3 first since I'll need that.
Also, @ronaldtse (as I mentioned in another comment today), I made ribose-automake116 (and ribose-automake116-automake) SCL packages. Can you create a repo for that (I think it makes sense as a single repo).

[2018-11-19 12:47] ronaldtse commented on #749
@dewyatt Could you help directly create the repo for the new package? Thanks!

[2018-11-22 08:34] ronaldtse opened #773 "Usage of RNP in key-generation and to encrypt/decrypt memory"
I got this message from @r10s about using RNP in https://github.com/deltachat/deltachat-core  .

(Thanks @r10s! )

Could someone help him with this? Thanks!

ping @ni4 @dewyatt

[2018-11-22 11:10] ni4 commented on #773
Hi Bjoern,
The codebase changed dramatically since of NetPGP, and now most likely you will not find direct mapping of the functions. So feel free to ask :-)

All pgp data processing functionality goes down to stream-parse.h/stream-write.h, see functions `process_pgp_source` and `rnp_encrypt_src`, `rnp_sign_src`, `rnp_encrypt_sign_src`.
Code from rnp.cpp uses these functions (and there you could se

[2018-11-22 11:29] ni4 commented on #773
@ronaldtse Ok, sure. I think it's a good time to have some tutorials on most common usage scenarios.

[2018-11-22 12:46] r10s commented on #773
@ni4 @ronaldtse  thanks, this is very helpful and helps a lot.
wrt further questions, well i am sure, they will come up :)

[2018-11-22 14:12] dewyatt commented on #773
I think the API @ni4 described is more internal and prone to change than the FFI API in `rnp2.h`. We haven't officially supported anything but the `rnp2.h` API in the past (it is the only installed header). (Of course, if you want to maintain your own internal version of rnp then this is mostly irrelevant)

[2018-11-22 14:13] dewyatt commented on #749
@ronaldtse Ok will do (didn't realize I had permissions).

[2018-11-22 14:18] ni4 commented on #773
@dewyatt Yeah, but it could be more usable then FFI if you need it to integrate in C project. And adjust code once some breaking changes occurs.

[2018-11-23 01:34] ronaldtse commented on #773
@dewyatt we should obviously try to limit access through the supported API, and that means we should fully cover the necessary use cases that people want to use.

It’s tough enough to maintain the API but we don’t want our hands tied to an internal API where users are accessing them directly.

I think we need to do three things at least:

* QuickStart guide to use RNP
* good documentation of the A

[2018-11-23 03:07] dewyatt commented on #749
@ronaldtse I created [riboseinc/rpm-spec-automake116](https://github.com/riboseinc/rpm-spec-automake116). I'm thinking maybe you'll want to get it added to [riboseinc/yum](https://github.com/riboseinc/yum) for easier use though.

[2018-11-23 06:58] ribose-jeffreylau commented on #749
It's [done](https://github.com/riboseinc/yum/commit/97b6a65b3d2b905e2c60bb663c366bbc327504b7).

[2018-11-23 13:39] r10s commented on #773
@ni4 this would be really great :)

[2018-11-23 14:00] ronaldtse commented on #773
@ni4 please go ahead, our README is horrendously out of date :wink:

[2018-11-23 14:15] dewyatt commented on #749
Thanks @ribose-jeffreylau!

[2018-11-26 23:58] r10s commented on #773
i tested out the `rnp2.h`-interface a bit, in fact, it is very different from netpgp, however, this is not really bad :)
all in all, it looks very good to me and you've done a great job :) i've tested out the key generation using json and this looks very convenient to me :)

so, as @dewyatt suggested, i'd like to stay in the range of the "supported" api and leave this only when there is no other o

[2018-11-27 00:18] dewyatt commented on #773
@r10s There's currently no option in this API to use a key without first loading it, so you would have to use `rnp_load_keys` and then `rnp_locate_key` to obtain the key handle. (As you've found, `src/tests/ffi.cpp` is likely the best source of info).

If you're familiar with Ruby, [ruby-rnp](https://github.com/riboseinc/ruby-rnp) may also be useful to look at.

[2018-11-29 09:42] ni4 commented on #773
@r10s I'm finishing examples set, which will use lower-layer API, and show how to load keys by demand. Hope to post a PR later today.

[2018-11-29 14:07] ni4 opened #774 "Add possibility to pass parameter for on_signatures in rnp_process_mem/file."
## Description

Currently there is no way to pass some param to the on_signatures handler when `rnp_process_mem` function is used. It is possible to use own parse handler, however easier solution should be provided.

[2018-11-30 02:14] ronaldtse commented on #774
Agree. Thanks for posting!

[2018-11-30 13:20] ronaldtse commented on #358
Thanks @ni4 !

[2018-11-30 13:42] ni4 opened #777 "Key material validation on key load"
## Description

Right now, once key is added to the keyring, it is validated, including signature(s) validation and key material validation.
However, key material validation is a bit time-consuming: with those checks rnp_tests run 14 minutes on my machine vs 6 minutes without checks.
So, the question is do we need to check each key's material during addition to the keyring?
Probably, smarter would

[2018-11-30 17:04] #628 closed

[2018-12-01 07:57] hpk42 commented on #777
On Fri, Nov 30, 2018 at 05:42 -0800, Nickolay Olshevsky wrote:

FWIW with deltachat and our current netpgp fork we found signing
to be taking significant amounts of time. I prefer having potentially
expensive checks only done once rather than on each signing.
the rnp test suite should not be the guide here (neither
should the deltachat-test suite) as they tend to generate
and re-generate new keys

[2018-12-05 14:06] ni4 commented on #777
@hpk42 Thanks for the comment. Actually, idea is to do validation only once (and cache it), not each time signing is done. But, instead of doing it for each key (for, say, 100-key keyring), do it only for the keys which are used, and do it only once during the session. However more smart would be to move this functionality to the custom key storage, like this is done in GnuPG.

[2018-12-05 14:07] ni4 commented on #651
This would need to add some custom structure to signers list (not just a key pointer) - since user may want to set custom creation/expiration time for the signature as well.

[2018-12-06 00:49] hpk42 commented on #777
On Wed, Dec 05, 2018 at 14:06 +0000, Nickolay Olshevsky wrote:

If rnp allows to import a key in memory (optionally not validating it),
returning a handle and then offers encrypt/decrypt/sign apis
using those handles, and some methods to free the memory behind the handle,
that'd be useful. No need for caches or session state.

[2018-12-06 06:00] ronaldtse commented on #651
Agreed!

[2018-12-07 01:06] ronaldtse commented on #777
Agree that we should have key validation separately performable without necessitating a cache.

And it would be great if key validation is done (and stored) at the key store to facilitate fast reuse!

[2018-12-07 08:40] hpk42 commented on #777
On Thu, Dec 06, 2018 at 17:06 -0800, Ronald Tse wrote:

don't want to be annoying so i am going to note it once more ...
from a delta chat perspective key storage is not needed.
We already store keys, including Autocrypt e-mail to key mappings,
and including private keys, in our own (sqlite) storage.
What is needed is to be able to in-memory load and use them.

do you have other use cases that mak

[2018-12-07 08:47] ronaldtse commented on #777
@hpk42 we understand your use case, however other users of RNP often require a key storage. The point is we should make key validation available to use for users that don't require a key store, so your case is covered.

[2018-12-11 16:30] ni4 commented on #773
@r10s PR with FFI API examples was merged to master. Do you have any further questions?

[2018-12-20 13:57] ni4 commented on #773
@r10s @ronaldtse Could we close this now when FFI examples are available?

[2018-12-20 14:00] ni4 commented on #113
As we removed SSH support I think this issue may be safely closed.

[2018-12-20 14:00] #113 closed

[2018-12-20 14:07] ronaldtse commented on #773
Yes we can and should.

However, can you help add the documentation on how to use them? Maybe a separate ticket / PR?

[2018-12-20 14:07] #773 closed

[2018-12-20 14:14] ni4 commented on #773
@ronaldtse I added `src/examples/README.md` and section `For developers` to main README.md which points to it. Is this enough, or some more details needed?

[2018-12-20 14:19] ni4 commented on #648
Get back to this after a while and it seems this would be an overhead and not much usable - for API user it is much handier to call specific function, like encrypt(), with desired minimum parameters and minimal configuration steps.
So closing this.

[2018-12-20 14:19] #648 closed

[2018-12-20 14:32] ni4 commented on #311
This was fixed in PR #768 , so closing.

[2018-12-20 14:32] #311 closed

[2018-12-20 14:56] hpk42 commented on #773
On Thu, Dec 20, 2018 at 13:57 +0000, Nickolay Olshevsky wrote:

Sure, you can close this.  Thanks for your work also on the examples!

We went a bit silent because we are trying to get major new DeltaChat
Android and dev releases out before 35c3 (the 15K independent hackers
event in Leipzig next week).  Is anyone from RNP around by chance?

[2018-12-27 09:19] ni4 opened #782 "Use FFI interface in CLI utilities"
## Description

As we discussed it would be a good idea to use FFI interface in CLI utilities.

- [x] rnpkeys
- [x] redumper
- [x] rnp

[2018-12-27 12:19] ronaldtse commented on #782
Thanks @ni4 ! This will help us consolidate and improve our API.

[2018-12-29 14:07] ni4 opened #783 "Support additional key flags from rfc4880-bis6"
## Description

RFC4880bis-06 defines new key flags. While most likely we will not make use of them internally, they must be supported at least for parsing/setting/displaying.
Also there are more then 8 bits of flags, while we internally use uint8_t for key flags.

[2018-12-30 13:17] ni4 opened #785 "Rename pgp_content_enum and it's elements"
## Description

Historically it was pgp_content_* since it handled a lot of parser-related things. Now it's all about the packet tags.
So enum should be renamed to `pgp_pkt_tag_t` and constants to `PGP_PKT_SECRET_KEY` and so on.

[2019-01-08 07:06] kwkwan opened #786 "Add macOS build for travis"
Previously we had a Jenkins job to run macOS builds but we need to migrate to Travis. The Jenkins is being decommissioned.

Here's the original script:
[code]

[2019-01-08 07:09] kwkwan opened #787 "Add FreeBSD build for Cirrus"
Previously we had a Jenkins job to run FreeBSD builds but we need to migrate to Cirrus. The Jenkins is being decommissioned.

https://cirrus-ci.org/guide/FreeBSD/

Here's the original script:
[code]

[2019-01-08 07:12] kwkwan opened #788 "Add OpenBSD build for some CI"
Previously we had a Jenkins job to run OpenBSD builds but we need to migrate to some other provider (there doesn't seem to be a free CI service that supports OpenBSD). The Jenkins is being decommissioned.

Here's the original script:
[code]

[2019-01-08 11:47] dewyatt commented on #786
I can take a look but with the GitLab CI work I've been doing it might make sense to wait a bit since 1) some of the scripts may change (currently they change quite a bit) and 2) we may want to request access to the macOS shared runners for GitLab instead of maintaining a separate CI env on Travis just for macOS.

[2019-01-08 13:55] dewyatt commented on #787
Why do they announce this after I put all this work into GitLab CI? :P (well I still prefer GitLab CI, since it's more open)

So, @ronaldtse just to be clear, I assume you want to minimize the infrastructure maintained by Ribose, and avoid maintaining VMs etc? I ask because I do believe it's pretty easy to run a GitLab Runner on your own FreeBSD system (local or cloud or whatever) and tie it to gi

[2019-01-08 14:03] ronaldtse commented on #787
I thought GitLab didn't support FreeBSD? As you mentioned, we do want to minimize infrastructure maintained ourselves for open projects. We are obviously open to options, so it's all fluid. I agree the goal is to squeeze into a single platform at an abstract level, but it's not always the most practical. 😉

[2019-01-08 14:21] dewyatt commented on #787
They don't provide any free shared runners like they do for Linux, but I believe you can still run your own FreeBSD runner and register it to your project on gitlab.com. Same for macOS (IIRC they actually do have free shared macOS runners, but you have to be a big popular project to qualify or something).

[2019-01-08 15:31] ronaldtse commented on #787
Indeed, it would be much easier to have the CI build occur on external services rather than having to maintain our own computing for so many reasons. *BSD, Linux and macOS are different enough already, so even using three services aren't that big a stretch.

On our Metanorma builds, we're already doing Travis for Linux and macOS, and AppVeyor for Windows. So it's not a first for us anyway. The ben

[2019-01-08 16:05] dewyatt commented on #787
Sounds reasonable to me. I do see a few things broken with our build on FreeBSD, I have it building successfully locally now so hopefully will get a PR done for that today (possibly need more time for proper fixes).

[2019-01-09 15:41] dewyatt opened #790 "Unable to build GnuPG master on FreeBSD"
## Description

I had issues with `GPG_VERSION=beta` on FreeBSD 11.2 when implementing https://github.com/riboseinc/rnp/pull/789. Since this will disable some tests, it may be worth looking into whether we can improve this situation.

## Steps to Reproduce

As root:
[code]
As user:
[code]

`ci/install.sh` will fail during the installation of gpg master at:
[code]

I haven't looked into this any fu

[2019-01-09 15:49] ronaldtse commented on #790
@dewyatt this is something expected to occur on *BSD platforms, and for now let's focus on our own work. This will stay as a known issue for now.

[2019-01-09 16:12] dewyatt commented on #790
@ronaldtse Got it, thanks!

[2019-01-09 16:12] #790 closed

[2019-01-09 16:41] ronaldtse commented on #790
I actually didn't mean to close this but it does clear out the clutter 😉

[2019-01-10 07:33] ronaldtse commented on #787
Now that #789 is fixed this can proceed.

[2019-01-10 07:43] ronaldtse commented on #787
This repo is now subscribed to Cirrus CI, so @dewyatt please feel free to start with this 👍

[2019-01-12 10:46] ni4 opened #791 "Remove redundant key listing code from rnpkeys"
## Description

Currently we have the following key listing commands:
- `rnpkeys --list-keys [keyid/userid/other search string]`. It lists key(s) in the following format:
[code]

- `rnpkeys --list-sigs 5d20c3e12382ef48`. It works as the previous but adds sigs (only certification ones):
[code]

- `rnpkeys --get-key 5d20c3e12382ef48`. It displays key in the almost the same format as first one:
[code

[2019-01-12 14:40] dewyatt commented on #791
Definitely in need of some consolidation and cleanup, good idea!

[2019-01-21 04:11] #791 closed

[2019-01-21 18:06] ni4 opened #796 "FFI: Implement non-JSON key generation interface"
## Description

While we have interface to generate keys, using the JSON format, it is not well usable from low-level languages which doesn't handle JSON natively (like Ruby does).
So it would be good to have function-based interface as well.

## Suggested interface

Following functions are  proposed to implement the same level of functionality which JSON interface has right now (should be subject

[2019-01-21 18:06] ni4 commented on #796
@dewyatt @ronaldtse What do you think about it?

[2019-01-21 18:36] dewyatt commented on #796
I think it's a good idea! I would say that ideally one implementation will just use the other implementation internally. So, probably the JSON implementation could be modified to just use this API you've proposed here, so we don't have two full implementations.

[2019-01-21 18:40] ni4 commented on #796
@dewyatt Yeah, that's what I wanted to do - no reason to have duplicate code.

[2019-01-21 19:12] dewyatt commented on #796
I do think we could improve on this API as far as being consistent with the rest of the FFI operations:
* function names should be like `rnp_op_generate_*`
* types should be `rnp_op_generate_t` (currently `handle` is only used when referring to keys, not operations), `rnp_op_generate_st`
* operations should have an `execute` and `destroy`
* operation `_create` functions always take the operation o

[2019-01-21 19:18] ni4 commented on #796
@dewyatt Thanks for the input! First I started with the same `rnp_op_generate` but then got stuck with distinguishing key/subkey parameters setup. However rnp_op_generate_subkey_create() pointing on the existing primary key solves that problem. So basically users will need first generate primary key (or obtain it in other way), and then just build and call rnp_op_generate() another time to add the

[2019-01-21 19:32] ni4 commented on #796
Given that (most likely) 95% of users will generate keys with default parameters, choosing only key algorithm/bits(curve), and userid, we may add some functions like `rnp_generate_rsa(ffi, bits, subbits, userid)`, `rnp_generate_dsa_eg(ffi, bits, subbits, userid)`, `rnp_generate_ecdh(ffi, curve, userid)`, `rnp_generate_25519(ffi, userid)` to make things easier for them.

[2019-02-01 17:55] dewyatt opened #797 "test_forged_key_validate, test_stream_key_signature_validate, and test_cli_g10_operations tests fail"
## Description

These 3 tests are failing for me locally. I suspect it passed CI because we had an older cached version of deps (incl. botan). I cleared the cache in travis and re-ran our most recent master and indeed they fail.

## Steps to Reproduce

1. https://travis-ci.org/riboseinc/rnp/builds/485233154 (re-ran this)

@ni4 Can you take a look?

[2019-02-01 20:49] ni4 commented on #797
@dewyatt Sure, I'll take a look. Thanks for noticing.

[2019-02-02 08:32] ni4 commented on #797
@dewyatt Looks like some test keys were set to expire in a year, after Jan, 28. Will make a PR with fixes a bit later.

[2019-02-02 13:55] dewyatt commented on #797
@ni4 That makes sense, thanks!

[2019-02-05 00:40] #797 closed

[2019-02-05 00:42] ronaldtse commented on #786
@dewyatt @ni4 Travis' macOS environment is relatively stable, can we move forward with this? Thanks!

[2019-02-05 00:42] ronaldtse commented on #787
Any updates on this @dewyatt? Thanks!

[2019-02-06 16:34] dewyatt commented on #787
Added in https://github.com/riboseinc/rnp/pull/799

[2019-02-06 16:34] #787 closed

[2019-02-13 15:04] dewyatt commented on #786
I'm making some progress on this, having some linker errors building botan, so I'll be looking into that more today.

[2019-02-19 13:15] dewyatt commented on #786
https://github.com/riboseinc/rnp/pull/802

[2019-02-19 13:15] #786 closed

[2019-02-28 23:47] skalee opened #805 "RNP is dramatically slow in Docker, under some circumstances"
## Description

I was hunting for some EnMail's spontaneous build failures in Travis CI (which are unlikely to be related to RNP). For this reason, I've crafted a Dockerfile which resembles Travis to some degree. However, I've noticed that in this environment RNP is terribly slow whereas GnuPG is blazing fast (at least on my computer). Hence, I'm creating this issue to let you know. Perhaps there

[2019-03-01 00:49] ronaldtse commented on #805
It's interesting to see that the fastest spec running RNP is at over 6 seconds:

[code]

I wonder if this has to do the with limited entropy inside a Docker container -- are the specs generating any keys? Limited entropy will affect the speed of key generation.

[2019-03-01 02:25] skalee commented on #805
In this unit test for adapter, RNP library is mocked. This is why. ;) Only these which start with `./spec/acceptance` are certainly not mocked nor stubbed.

[2019-03-01 02:31] skalee commented on #805
Interesting thing is that in this particular unit test whole cryptography is mocked. However, key lookup is not.

[2019-03-01 03:03] dewyatt commented on #805
99.99% of this is because we don't cache validated key signatures (I thought we had an open issue for this, but can't find it), which GnuPG does.
If you comment out the below lines you'll find we're much closer:
https://github.com/riboseinc/rnp/blob/eeda91bd39af5bde0e9866e7f7d9ea8007c5602f/src/librekey/rnp_key_store.cpp#L597
https://github.com/riboseinc/rnp/blob/eeda91bd39af5bde0e9866e7f7d9ea8007c

[2019-03-01 03:20] skalee commented on #805
I guess this one can be closed, unless you want to create an issue related to caching first?

[2019-03-01 03:41] ronaldtse commented on #805
@dewyatt in this case can we have a new issue on caching validating key signatures?

The list here:
https://gist.github.com/dewyatt/878c5ae1fa087a2dd648c8a5f8a09366 gives us a good indication on which areas we should improve on too!

[2019-03-01 15:08] dewyatt opened #806 "Cache key signature validation"
## Description

See https://github.com/riboseinc/rnp/issues/805. This has a significant impact on performance in many cases.

GnuPG uses the TRUST packet (tag 12) to cache key signature validity (see [here](https://github.com/gpg/gnupg/blob/2c75af9f65d15653ed1bc191f1098ae316607041/doc/DETAILS#format-of-the-openpgp-trust-packet) and [here](https://github.com/gpg/gnupg/search?q=PKT_RING_TRUST&unscop

[2019-03-01 15:08] dewyatt commented on #805
@ronaldtse Yes, definitely. I thought we had one filed but I'm not seeing it, so I filed a new one.

And thanks for the great performance data @skalee !

[2019-03-01 15:08] #805 closed

[2019-03-01 15:36] ni4 commented on #806
@dewyatt I believe we had discussion on this somewhere, but was not able to find it. The part of problem is not the single signature validation but also the fact that signatures are validated for all of the keys.

Anyway, we need some API to validate/write down sig validation and key trust status. I believed that GnuPG stores this data in trustdb + in some fields of .kbx data objects, isn't it?

[2019-03-03 03:58] #796 closed

[2019-03-04 10:18] teythoon opened #807 "rnp processes unauthenticated partial chunks of AEAD encrypted data packets"
## Description

First, rnp still lacks a way to responsibly disclose problems with their code.

Second, rnp processes unauthenticated partial chunks of AEAD encrypted data packets.

## Steps to Reproduce

1. Import this key: https://gitlab.com/sequoia-pgp/sequoia/raw/master/openpgp/tests/data/keys/testy-private.pgp?inline=false

2. Dearmor this file:

[code]

3. Decrypt the message.

## Expected B

[2019-03-11 00:10] dewyatt opened #809 "Test failures from expired keys"
## Description

We have a few tests failing due to what appears to be expired keys:
https://travis-ci.org/riboseinc/rnp/builds/504428711
https://cirrus-ci.com/task/6243763813875712

I see some that will expire in 2020 too. I think we ought to use significantly longer expiration times for these test keys, so we're not chasing things like this.

EDIT: Or get rid of expiration for test keys like we d

[2019-03-16 01:39] dewyatt opened #811 "Incorrect armor header line for detached signatures"
## Description

According to the RFC, these should use "BEGIN PGP SIGNATURE", but we currently use "BEGIN PGP MESSAGE".

## Steps to Reproduce

1. `rnp --sign --detach --armor somefile`
2. `cat somefile.asc`

[2019-03-17 10:18] dewyatt opened #812 "Migrate to Python 3"
## Description

Low priority, but python 2 is supposed to EOL next year, so we should start migrating to 3 soon.
If we're lucky it should be as simple as running `2to3`.

[2019-03-17 11:29] dewyatt opened #813 "redumper crashes"
## Description

I noticed `redumper` crashes here:
https://github.com/riboseinc/rnp/blob/786529d18ff5a6ae94640a3d0e9266147a7ac088/src/apps/packet-dumper/redumper.cpp#L77-L78

I'm not familiar with the history of this workaround, but it looks like it would always crash:
https://github.com/riboseinc/rnp/blob/786529d18ff5a6ae94640a3d0e9266147a7ac088/src/librepgp/stream-ctx.cpp#L34-L36

(We don't do a

[2019-03-17 13:26] dewyatt opened #814 "Double-free with invalid armored headers"
## Description

I noticed a double-free with invalid armored headers, fix & test incoming.

[2019-03-17 13:53] dewyatt commented on #807
I had some trouble with the provided data, but I was able to confirm this behavior.
[code]

[2019-03-18 02:25] #809 closed

[2019-03-18 09:33] strogonoff opened #816 "Using tests under doc/"
A question regarding https://github.com/riboseinc/rnp/blob/master/doc/tests/rnpkeys-generate-key.md:

* Am I correct that it’s intended to be a manual testing aid?
* Is it for a subset of tests (perhaps integration/e2e) that can’t be easily automated?
* How does it go together with https://github.com/riboseinc/rnp/tree/master/src/tests?

This question arose while updating RNP site and integrating

[2019-03-18 09:35] strogonoff commented on #816
From https://github.com/riboseinc/rnp/tree/master/doc/tests it seems that it’s used for acceptance tests. If that’s correct and these tests are up-to-date and should be kept, feel free to close!

[2019-03-18 09:36] strogonoff commented on #816
(Note: I might move these tests under docs/develop/tests/, but other than that won’t change. Unless you let me know that this is obsolete, in which case I’ll drop it.)

[2019-03-18 09:58] ni4 commented on #807
Yeah, currently AEAD works this way since it handles all sizes of chunks specified in RFC4880-bis, which may be too large to cache somewhere in memory. I know there is an ongoing discussion in RFC working group regarding AEAD chunk size, so probably good idea is to wait till it ends with some decision. While we can cache chunk of small size and output larger ones this will not be a 100% correct so

[2019-03-18 10:05] #814 closed

[2019-03-18 10:15] teythoon commented on #807
If you think that there is now way to safely implement AEAD as proposed in RFC4880-bis06, please speak up on the IETF mailing list, because your current position there is

[2019-03-18 12:24] ni4 commented on #811
RFC 4880 bis, 6.2 tells that we have correct behavior.
For attached signatures we use `BEGIN PGP MESSAGE`.
And GnuPG does the same:
[code]

[2019-03-18 13:50] dewyatt commented on #811
@ni4 I'm not sure I explained it very well, but what I mean is:
[code]

So the way I see things, we do not match GnuPG nor the RFC on this detail.

[2019-03-18 14:02] ni4 commented on #811
@dewyatt Argh, sorry, misread the message. I was sure that we use `BEGIN PGP SIGNATURE` for detached sigs.

[2019-03-18 14:20] dewyatt opened #818 "CHANGELOG in master branch"
## Description

Right now we maintain a changelog (in markdown, so maybe another thing to convert) only in the `release/0.x` branch. It's difficult for users to find this and I'm thinking we would be better off with a different approach.

Since we only have a single release branch, it should be easy to keep a changelog in the master branch and just pull it into the release branches and modify as n

[2019-03-18 15:32] ronaldtse commented on #818
@dewyatt agree. Please help approach this as described. It's easy to convert Markdown (with `s/#/=/g` and `s/^  /*/g`).

[2019-03-20 17:22] skalee commented on #818
It's even easier with Pandoc:

[code]

[2019-03-20 17:23] dewyatt commented on #818
Yep I do love pandoc!

[2019-03-21 00:38] dewyatt opened #820 "Implement support for V5 signatures"
## Description

For V5 keys, we'll need V5 signature support.

[2019-03-21 00:38] dewyatt opened #821 "Implement basic support for reading V5 keys"
## Description

I believe this requires, at a minimum:
* V5 fingerprint support (https://github.com/riboseinc/rnp/issues/26)
* V5 signature support (https://github.com/riboseinc/rnp/issues/820)
* V5 key packet support (this issue)

The below key should show up as:
[code]

[code]

Key generation is a separate issue.

[2019-03-21 01:13] ronaldtse commented on #26
Wow, this ticket has been around for two years :wink:

[2019-03-21 16:16] ni4 commented on #820
I can do this once finish with other things, together with #821

[2019-03-25 15:44] dewyatt commented on #733
I put together a quick&dirty bakeoff that tests compile times:
[code]

I just wrapped the minimum of macros to make things work.

#### Boost.Test
https://github.com/riboseinc/rnp/commit/0e69c4acd66d5e7bc3dbc9ec1793e0a20e3ab1d3

`real	0m4.399s`

#### Catch2
https://github.com/riboseinc/rnp/commit/ee09bd49634a935d8f4784b2da8de24c41fdc143

`real	0m16.269s`

#### Google Test
https://github.com/ribosei

[2019-03-25 15:45] ronaldtse commented on #733
@dewyatt with these experiments I agree that Google Test is probably good for us. Thoughts @ni4 ?

[2019-03-25 17:43] ni4 commented on #733
@ronaldtse @dewyatt Google Test looks good for me as well.

[2019-03-28 15:19] dewyatt commented on #733
Ok I'm going to start looking at converting a small subset of tests to use Google Test and see how it goes.

Long term I'm hoping I can parallelize the tests (in GitLab CI) at both the container level and process level to speed things up.

[2019-04-07 00:49] dewyatt opened #824 "Infinite loop on truncated armored key"
## Description

I noticed this today and realized it makes for a pretty simple DoS vector.

## Steps to Reproduce

1. `curl -LO https://gist.githubusercontent.com/dewyatt/85d2c2e730480164addd91a4fc915a19/raw/814976e1c2dbb239802c51deb0d8a458f55db700/partial-key.asc`
2. `rnpkeys --import partial-key.asc`

## Expected Behavior

It should fail to import and exit.

## Actual Behavior

100% CPU usage, s

[2019-04-08 02:42] ronaldtse commented on #824
Wow, ought to fix this. Thanks for finding this out @dewyatt !

[2019-04-08 08:33] ni4 commented on #824
@dewyatt Thanks for finding this! I'll take care of this issue.

[2019-04-08 15:41] ni4 commented on #813
Thanks, @dewyatt . Just got accross this, will fix it.

[2019-04-09 10:19] dewyatt opened #825 "rnpkeys fails to import armored keys with a blank line before trailer"
## Description

Reported by @ribose-jeffreylau in https://github.com/riboseinc/rpm-specs/issues/39#issuecomment-481138282

<details>
  <summary>key.asc</summary>

[code]
</details>

## Steps to Reproduce

1. `rnpkeys --import key.asc`

## Expected Behavior

It should successfully import the key.

## Actual Behavior

It fails to import the key unless the blank line before the trailer is removed.

[2019-04-09 13:57] ni4 opened #826 "Check src_eof() calls to consider errors on stream read."
## Description

Currently src_eof() function return true only on successful underlying read call(s).
This caused endless loop in #824 and probably may cause other problems.

So there could be 2 possible solutions:
1. Change it to return true on underlying error. (this is dangerous since may hide underlying problems like crc check on armored stream).
2. Change it to return -1/0/1.
3. Do not change

[2019-04-09 15:53] #824 closed

[2019-04-10 15:51] ni4 opened #830 "Invalid signature validation status for expired keys"
## Description

If there is an expired key/subkey pair, then during subkey signature validation incorrect error code returned : invalid signature instead of expired signature.

See below the sample key from the issue #825

<details>
  <summary>expired-key.asc</summary>

[code]
</details>

## Steps to Reproduce

1. `rnpkeys --import expired-key.asc`

## Expected Behavior

Some messages about the ex

[2019-04-11 12:08] #813 closed

[2019-04-11 17:14] ni4 commented on #830
@ronaldtse No, it doesn't seem to be able to sign with expired keys:
[code]
However, once you own secret key, you may always re-generate self-signature and extend expiration period.
And, if key is expired, you still should be able to verify signatures/decrypt data which was created at the time when key was fresh enough.
I think we lack some logic behind this, i.e. verification of older sigs with e

[2019-04-12 14:43] #811 closed

[2019-04-12 14:44] #825 closed

[2019-04-12 16:59] ronaldtse opened #833 "Broken build in master"
Only one test failed on a macOS machine.

https://travis-ci.org/riboseinc/rnp/builds/519291522

<img width="950" alt="Screen Shot 2019-04-13 at 12 58 36 AM" src="https://user-images.githubusercontent.com/11865/56053664-4882a380-5d87-11e9-841c-117e37318a5f.png">

From https://travis-ci.org/riboseinc/rnp/jobs/519291532

[code]

[2019-04-12 17:03] ni4 commented on #833
@ronaldtse Yeah, investigating this now. Possibly broke something with armored stream processing changes, or some kind of other randomish error.

[2019-04-12 17:18] ni4 commented on #833
It seems something happened with the time on job:
[code]
@dewyatt Do you have any idea whether we should deeper debug this or just consider as random travis failure and safely ignore?

[2019-04-12 18:32] dewyatt commented on #833
@ni4 I do think it's likely just travis being flaky, it passed when I re-ran it.

[2019-04-13 15:52] dewyatt commented on #833
I'm thinking let's close this for now and re-open it if we see this behavior continue.
I don't know much about the macOS backend setup travis is using, but it does seem as if maybe the clock jumped.
If we continue to have this problem, we may want to add an `ntpdate`/`sntp` call to `before_install.sh` or similar.

[2019-04-14 03:02] ronaldtse commented on #833
Seems like a time drift indeed. Thanks guys!

[2019-04-14 16:06] dewyatt commented on #833
Re-opening since I've been continuing to see issues on macOS CI builds:
https://gist.github.com/dewyatt/248b549d71299fa8c6510a0e2266c25b

I've seen at least two that appear to be time related:
[code]
[code]

And one that I can't see as being related to time:
[code]
(`cipher_encrypt` is in libgcrypt, so it seems like maybe it could be a gnupg bug (doubt) or memory corruption)

All of these occurred

[2019-04-19 11:13] skalee commented on #833
Is there a chance that supporting OS X in gpg-build-scripts (riboseinc/gpg-build-scripts#31 and riboseinc/gpg-build-scripts#32) will help?

[2019-04-21 12:38] dewyatt commented on #833
@skalee Not likely as it affects rnp too.

I saw some more today:
[code]
[code]

[2019-04-27 19:00] dewyatt opened #839 "Do not allow exceptions beyond the FFI boundary"
## Description

As we continue to transition to a more C++ based codebase, we are going to end up using things that may throw exceptions. We need to ensure that we catch exceptions within the FFI functions.

We can look at Botan's `ffi_guard_thunk` as one possible solution.

[2019-04-29 15:41] ni4 opened #841 "FFI key to json: key flags and key usage."
## Description

Currently, when key is exported to JSON, key flags are separated to 'flags' and 'usage'.
While both are stored in the single 'key flags' signature subpacket.
Should not we glue them together to the single 'flags' field?
If not then to which of them add the new flags from #783 ?

cc @dewyatt @ronaldtse

[2019-04-29 16:23] dewyatt commented on #841
@ni4 Are you referring to `rnp_key_to_json` here?

[2019-04-29 16:55] ni4 commented on #841
@dewyatt Yes. Also we have some mess in `rnp_key_allows_usage` which, first calls `str_to_key_flag` and then it refers to the `key_usage_map`. While we have `key_flags_map` as well.

[2019-04-29 19:10] dewyatt commented on #841
IIRC my initial thought when I implemented this stuff was that it made sense to treat usage and flags separately because you can pretty much categorize key flags as:

* usage (the two additional flags from the RFC bis make sense here)
* other, almost-never-used flags ("split", "shared")

Similarly I merged the "encrypt comms" and "encrypt storage" concepts into a usage of "encrypt" since it seems

[2019-04-30 07:53] ni4 commented on #841
@dewyatt Thanks for explanation. I thought that it would make sense to leave  just a single `flags` entity. However, now, after your explanation, it's logical to leave things as they are.

[2019-04-30 07:53] #841 closed

[2019-05-02 12:58] ni4 opened #845 "Implement revocation signature check logic"
## Description

Currently we do not check validity and issuer of the key/subkey/certification revocation signature. We just check whether revocation subpacket is present in signature, and then mark key or userid revoked.

This should be improved with at least following checks:
1. Check signature type to be correct revocation depending on the case.
2. Check that revocation-related subpackets are ha

[2019-05-07 18:43] ronaldtse opened #846 "Consider FIPS-validated mode"
From https://kb.globalscape.com/KnowledgebaseArticle11172.aspx?Keywords=FIPS

FIPS Compliant Mode | Non-FIPS Mode
-- | --
=Symmetric Encryption Algorithms=3DES (192-bit key)AES256 (256-bit key)AES192 (192-bit key)AES128 (128-bit key) | =Symmetric Encryption Algorithms=3DES (192-bit key)CAST5 (128-bit key)AES256 (256-bit key)AES192 (192-bit key)AES128 (128-bit key)BLOWFISH (128-bit key, 16 rounds)T

[2019-05-18 20:33] dewyatt opened #852 "Duplicate and inconsistent string maps between FFI and JSON dumping"
## Description

We have defined multiple mappings from ints to strings for various types and this may present an inconsistent interface to the user.

For example:
https://github.com/riboseinc/rnp/blob/d562b479b12d930111025500d8c63ac442c1c4f3/src/librepgp/stream-dump.cpp#L154
https://github.com/riboseinc/rnp/blob/d562b479b12d930111025500d8c63ac442c1c4f3/src/lib/rnp.cpp#L309

There are differences i

[2019-05-20 09:52] ni4 opened #853 "Represent SHA3 in tests."
## Description

Currently we doesn't seem to have tests which use SHA3 for keys and operations.
However it is still doesn't represented in RFC4880-bis, so this should not be of high priority.

[2019-05-20 10:12] ni4 commented on #852
@dewyatt Agree.
Probably, we should also add some defines to the FFI like
`#define PGP_ALGORITHM_AES_128   "AES128"`

[2019-05-21 01:43] ivmaykov opened #854 "add support for using HSM keys?"
I would like to use RNP with HSM (hardware security module) keys. I think this requires the ability to specify a custom secret key implementation (where the "key material" is some identifier for the hardware key) and a custom crypto engine (i.e. for signing, replace the call to `signature_calculate()` in stream-write.cpp with a user-provided function). If the APIs are well-designed, then this coul

[2019-05-21 01:49] ronaldtse commented on #854
@ivmaykov thanks for the suggestion!

I don’t think HSM is supported by the RNP API today, but indeed would be a welcome enhancement.

Thoughts @dewyatt @ni4?

[2019-05-21 08:41] ni4 commented on #854
@ronaldtse It would be a good feature to add. Now most crypto calls are well separated from the base code, so it should not be as complicated as it was before. However, besides the crypto, some more work will be required from the interface part - functions to access HSM/FFI functions/CLI commands/etc.

[2019-05-21 19:26] ivmaykov commented on #854
@ronaldtse @dewyatt @ni4: If we wanted to hire a project committer as a short-term contractor to get HSM support done somewhat quickly (within a couple weeks maybe?), how would we go about it? Or do all of you have full-time jobs elsewhere that would preclude that from happening?

[2019-05-21 20:54] dewyatt commented on #854
Speaking for myself, I can't really spare the time right now to work on HSM support.
Also, I'm not sure I would be comfortable with trying to rush something like that into a couple weeks.

On a side note, myself and @ni4 are contractors hired by @ronaldtse to work on rnp and various other projects. rnp is primarily developed by the two of us, with guidance from Ronald.

[2019-05-21 23:26] ronaldtse commented on #854
@ivmaykov our upcoming schedule is currently packed, but that doesn’t meant we can’t reshuffle some things if there is a real urgent need that can help us validate the HSM portion.

Would you mind letting us know how exactly you plan to use the HSM portion with some detail? You can always send it to us at “support@ribose.com” to keep things out of sight.

[2019-05-22 16:02] ronaldtse commented on #854
We've discussed internally and we *could* potentially implement HSM support as described in the timeframe, but since @ivmaykov you're going to be the first user of this (outside internal testing), we will need your support and feedback in ensuring that the developed functionality actually works for you.

Does this sound good?

[2019-05-22 18:33] ivmaykov commented on #854
@ronaldtse Thanks for the replies! I will follow up with you using the email address you provided.

[2019-05-24 00:15] dewyatt opened #855 "HSM support (discussion)"
## Description

This is a discussion issue for planning out HSM support.
My initial thoughts are:
* Leverage p11-kit (BSD) for module discovery and PKCS11 URI functionality.
* Maybe also use Botan's PKCS11 wrapper. The headers are going to conflict with p11-kit, but we can probably work around that.
* This should ideally be a compile-time option, but may not be initially.

[2019-05-24 07:03] ronaldtse commented on #855
The plan sounds sane. On the other hand we will need to decide what it should interact with:

* Smartcards (e.g. https://github.com/OpenSC/OpenSC, smartcard-hsm)
* Dongles (Yubikey/Nitrokeys)
* Enterprise HSMs

[2019-05-24 11:05] dewyatt commented on #855
@ronaldtse Generally I think nowadays all vendors provide a PKCS#11 API module at least, so they should all be very similar apart from quirks and features. Although it has been a while since I did any dev in this area.

[2019-05-24 11:27] dewyatt commented on #855
Looking at this more I think it might make sense to go all-in on p11-kit and forego the Botan PKCS#11 wrapper. p11-kit provides some nice arbitration for access by multiple components in the same process, which may make sense in a library.

[2019-05-26 23:46] dewyatt commented on #855
Revised plan:
1. Migrate away from Botan's FFI and start using the C++ API directly, at least for crypto. This is necessary for the below because there is no Botan FFI access to the PKCS#11 wrapper and I don't think it would make much sense to add it. This will have some impact on the rest of the codebase, since it will introduce exceptions that we're not currently handling. So there will be resou

[2019-05-28 00:28] ronaldtse commented on #855
@dewyatt thank you for the great news about the working PoC! The revised plan looks reasonable, and the road ahead looks much clearer now.

[2019-05-30 08:45] ronaldtse commented on #854
@ivmaykov don't mean to hurry, looking forward to your email. 😄

[2019-06-25 11:55] dewyatt commented on #855
It looks like this is going to be a relatively large effort that will touch a lot of the codebase.
Converting any single portion of rnp's code from using Botan's FFI to using Botan's C++ interface has a bit of a cascading effect requiring other sections to do the same (like if I convert the RSA code, I'll need to do the RNG code, and everything that uses that, etc). Plus I'll need to be cautious a

[2019-06-30 03:47] ronaldtse commented on #855
@dewyatt sorry for the late reply! Yes, it sounds perfectly reasonable. With GitLab we can even shave the setup time using a custom docker container.

[2019-07-01 03:39] ivmaykov commented on #854
@ronaldtse I think for the time being we're not going to use RNP. We've figured out another solution using Golang and its built-in openpgp library. If that doesn't work well and we have to go back to C++, I will let you know.

[2019-07-01 04:05] ronaldtse commented on #854
@ivmaykov While nonetheless disappointing, thanks for letting us know. We'll move on with our backlog as planned.

[2019-07-08 14:43] ni4 opened #871 "Remove Version: header from armored messages."
## Description

As discussed in the OpenPGP mailing list, Version armor header should be removed to avoid some sort of attacks.

https://mailarchive.ietf.org/arch/msg/openpgp/KikdJaxvdulxIRX_yxU2_i3lQ7A

[2019-07-15 16:33] dewyatt opened #876 "validate_pgp_key_material negative tests"
## Description

I noticed that if I add a `return 0` to the top of `validate_pgp_key_material`, we don't have any test failures. We ought to be able to have a test that would fail here, unless I'm mistaken.

[2019-07-15 20:19] ni4 commented on #876
Agree, we need tests with invalid key material for each type of keys.

[2019-07-17 00:58] ronaldtse opened #878 "Windows support?"
## Description

When should we support Windows? Some organizations, like governmental ones, standardize on Windows. For example, if Metanorma integrates with RNP one day, it will need to run on Windows.

We could use AppVeyor (or Travis) as our Windows CI?

[2019-07-18 15:45] kaie commented on #878
I've tried to build rnp for Windows. You're using a couple of things that aren't portable.

* the strsep function
* the __progname variable (you could use argv[0] instead)
* second parameter to function (probably should use a platform specific #ifdef)
* the command line utilities change the terminal settings (termios, no echo)
* GNU C regex

Could you use std::regex from C++11 instead?

[2019-07-18 16:11] ronaldtse commented on #878
@kaie thank you for the attempt and the advice! Amazing this issue got a reply so quickly... :wink:

I believe we could use `std::regex` here, but this is really virgin territory for us so we're going to have a bit of a learning curve for Windows compatibility.

Thoughts @dewyatt @ni4 ?

[2019-07-18 16:33] dewyatt opened #880 "Add test for elgamal_validate_key"
## Description

I'm guessing we should be able to catch this in a test:
https://github.com/riboseinc/rnp/pull/875/files#r305010728

[2019-07-18 17:10] ni4 commented on #878
@kaie Thanks for the input! Could you please clarify point #3 ("second parameter to function"), I'm not sure I get it.
@ronaldtse Those issues can be easily replaced with compatible code. However, while I have windows laptop around, I'll need some time to figure out correct toolchain usage to try to build the stuff. The last time I did such kind of task was around 15 years ago using the MinGW :-)

[2019-07-18 17:20] kaie commented on #878
I also used cross compilation on Linux for my experiments. (I'm currently evaluating if the RNP library could be used in a cross-platform project.) I cross compiled libbotan, libjson-c, libbz2, libz. I haven't yet tried to build on Windows.

Regarding mkdir: On Linux, the function takes two parameters. The second is for file permissions. In the cross compile environment, it only takes a single par

[2019-07-18 17:34] ni4 commented on #878
@kaie Thanks for the detailed explanation.

[2019-07-18 17:38] ni4 commented on #668
Was fixed in PR #837 so closing this.

[2019-07-18 17:38] #668 closed

[2019-07-18 18:34] kaie commented on #878
I'll try to work on this for a bit. Just letting you know so we don't do duplicate work.

[2019-07-19 10:40] ni4 opened #881 "test_ffi_keygen_json_pair_dsa_elg fails occasionally."
## Description
[  FAILED  ] test_ffi_keygen_json_pair_dsa_elg

From https://github.com/riboseinc/rnp/pull/874#issuecomment-512902720:

It looks like it expects the key bits to be 1536 but it gets 1528. We may want to look more closely at that.
It seems to be a rare case when calculated Y value is 1 byte less then expected, however still need to reproduce it.

[2019-07-19 11:32] ni4 commented on #881
Here is some output from the custom test which generates ElGamal 1032-bit key material:
[code]
So, it may fall as low as 1023 bits, and even less since key size is size of the `y = g ^ x mod q`, where x is chosen randomly.

[2019-07-19 17:24] kaie opened #882 "test_cli_g10_operations failing"
I get this test failure on a debian buster system. This is with a local build of the tip of botan.

2: [ RUN      ] test_cli_g10_operations
2: [signature_calculate() /home/user/github/rnp/src/lib/crypto/signatures.cpp:113] Signature and secret key do not agree on algorithm type
2: [signed_dst_finish() /home/user/github/rnp/src/librepgp/stream-write.cpp:1146] failed to calculate signature
2: [proce

[2019-07-19 17:49] dewyatt commented on #882
I'm not able to reproduce this. :(

[code]

[code]

Can you provide more information? An exact sequence of commands, whether this is a container/VM/phys, etc.

[2019-07-19 17:59] kaie commented on #882
I'll try to figure out what's different in my system compared, it's in my dev VM.

[2019-07-19 18:23] kaie commented on #882
Is it necessary to build and install botan as root?

In my setup, I'm installing it as a regular user.
I could reproduce the problem on my system, with a new, clean user account.
I didn't use docker.

Using the following commands, I can still reproduce the failure.

Either it's "didn't install botan as root", or something else is different on my system. However, I'm not aware of any global modific

[2019-07-19 18:49] dewyatt commented on #882
I tried again in a fresh container and installed botan as a regular user, all tests still pass for me.
Can you provide the output (maybe in a gist) of:

[code]

I *have* seen this issue before, but have never been able to reproduce it. @ni4 @ronaldtse are either of you able to repro?

[2019-07-19 19:48] kaie commented on #882
I cannot reproduce it in a fresh AWS/EC2 instance! Installed from a debian 9 image, upgrade to debian 10, built, and test passed.

I reproduced it again in a fresh VM on my local system.

Note my local host runs the Qubes OS, and I'm running a debian 10 guest "qube" inside it. The Qubes distributors probably made some tweaks to make it compatible with the host OS, but I never experience any kind o

[2019-07-19 20:00] kaie commented on #878
Please see the above pull request for library changes.

[2019-07-19 20:32] ni4 commented on #882
@dewyatt @kaie While I didn't see such issue before, and I mostly run all stuff natively on macOS, i have a guess that it is related to the issue #458
The test tries signing with default g10 secret key, and if due to some technical reasons non-signing key (or subkey) comes first, then it will be picked up as default.
@kaie Could you please do `ls -la src/tests/data/test_stream_key_load/g10` on fai

[2019-07-19 22:06] kaie commented on #882
@ni4 Output from a failing and a working system:

https://kuix.de/misc/rnp-822-qubes-vm-failing.txt

https://kuix.de/misc/rnp-822-aws-ec2-host-working.txt

[2019-07-19 22:21] kaie commented on #882
I executed the following commands on both systems:
[code]

On both systems I get:
[code]

[2019-07-20 10:19] ni4 commented on #882
@kaie Thanks! Unfortunately missed that `ls` will sort file name, while our g10 loading code relies on readdir() order (which doesn't do any sorting and return files in system-dependent order).
That's actually what happens with the key `0x6e2f73008f8b8d6e` : it is RSA subkey, with filename `A5E4CD2CBBE44A16E4D6EC05C2E3C3A599DC763C.key`.
I reproduced behavior you have by deleting few `.key` files t